{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<section class="main white error-page">
    <h2>Erreur serveur</h2>
    <h3>Désolé, cette page est momentanément indisponible</h3>
    <p>L'application a rencontré une erreur, cela est peut être dû à une opération de maintenance.</p>
    <p style="margin-top: 50px;">
        <a href="javascript:history.back(1);" class="btn">Retourner à la page précédente</a>
        <a href="{{ path('green') }}" class="btn">Retourner à l'accueil</a>
    </p>
</section>

{% endblock %}