{% set section = "service" %}

{% extends '::base.html.twig' %}

{% block body %}

<section class="main white product-page">
    <div class="well video">
        <div class="bg"><img src="/css/skin/{{ product.slug }}_icon.png" /></div>
        <i class="icon-play-circle"></i>
    </div>

    <div class="description">
        <img src="/css/skin/{{ product.slug }}_logo.png" />
        <div class="intro">
            <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
            {{ product.intro|raw }}
            <a href="#" class="btn btn-info"><i class="icon-star"></i> VOIR LES OFFRES</a>
        </div>
        <div class="clear"></div>
        <div class="wysiwyg">
            {{ product.description|raw }}
        </div>
    </div>
</section>

{% endblock %}