<table border=1 cellpadding=0 cellspacing=0 class="donneesConsommation-table">
    <tbody>
        <tr>
            <td>
                <strong>Puissance dissipée en phase active [mW]</strong>
            </td>
            <td>{{ project.power1 }}</td>
        </tr>
        <tr>
            <td>
                <strong>Puissance dissipée en phase veille [mW]</strong>
            </td>
            <td>{{ project.power2 }}</td>
        </tr>
    </tbody>    
</table>        
