{% set appro = "" %}
{% set descriptionUf = project.descriptionuf|raw %}

<style type="text/css">
    .page-break {
        overflow: hidden;
        page-break-after: always;
    }
    
    table tr td {
        border: 1px solid black;
    }
</style>

<img src="{{ urlLogoGraph}}" width="300" height="70" style="float: left;"/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h2 style="margin: 5px 0; color: black; text-align: center;">Rapport ACV qualitative (avec ArtoDesign)</h2>
<br/>
<br/>
<div class="project-home" style="background-color: transparent;">
    <div class="project-main" style="width:250px;">
         <h1>Produit/Service A : {{ project.projectName }}</h1>
         <p align="center">
            <img src="{{ urlPath }}"/>
         </p>   
     </div>
     <div class="project-default" style="width:250px;">
         <h1>Produit/Service B : {{ project.default.name }}</h1>
         <p align='center'>
             <img src="{{ urlDefaultPath }}"/>
         </p>
     </div>
</div>
<br/>

<div>
    <h2 style="margin: 5px 0; color: black;">Modalités de l'évaluation</h2>
    <div style="font-size: 12px;">
        <b>ArtoDesign</b> est un outil d’évaluation qualitative et comparative des aspects environnementaux, sociaux et sociétaux associés au produit/service.
        <br/>L’évaluation est effectuée en comparant 2 produits/services (A et B) dont la fonction principale est identique.
        <br/>L’intérêt ne se limite pas seulement à l’impact environnemental du produit/service lui‐même, mais également au système dans lequel il fonctionne (fonctions de contraintes et complémentaires).
        <br/>Un développement cohérent de produit/service nécessite la prise en considération des usages (contextes d’utilisation) du produit/service, l’influence sur le comportement de l’utilisateur, les effets sur le changement des modes de consommation, les valeurs d’usage du produit/service en termes d’opportunités de service …
    </div>    
</div>

<br/>
<div>
    <h2 style="margin: 5px 0; color: black;">Données d'entrée</h2>
    <div>
        <p style="font-size: 12px;">
           {% if project.folder != null %} 
                <b>Dossier</b> : {{ project.folder.name }}<br/>
           {% endif %}     
           <b>Projet cr&eacute;&eacute; le </b>: {{ project.createdAt|date('d/m/Y') }}<br/>
           <b>Typologie produit</b> : {{ typologie }}<br/>
           <b>Objet de l'étude</b> : {{ objetEtude }}<br/>
           <b>Description du produit/service en terme de service rendu au client</b> :  {{ project.descriptionuf|nl2br }}
        </p>
    </div>
</div>

<div class="page-break"></div>

<label><b>FORT</b> : Satisfaction du critère et réponse apportée + forte sinon identique par comparaison</label><br/>
<label><b>Faible</b> : Insatisfaction du critère ou Satisfaction du critère et réponse apportée + faible par comparaison</label><br/><br/>

{% for category in categories %}
    <div>
        <table>
            <tr>
                <td valign="middle" align="center">
                    <div style="text-transform: uppercase; color : black; font-weight: bold;">{{ category.label }}</div>
                </td>
                <td valign="middle" align="center">
                    <div style="text-transform: uppercase; font-size: 8px; color : #08c; width:80px;">{{ project.projectName }}</div>
                </td>
                <td valign="middle" align="center">
                    <div style="text-transform: uppercase; font-size: 8px; color : #ff9900; width:80px;">{{ project.default.name }}</div>
                </td>
            </tr>
            {% for criteria in category.criterias %}
                <tr>
                    <td class="category-color-{{ category.id }}" style="width:2000px">
                        <h4 style="font-size: 12px;"><strong>{{ criteria.id }}.</strong> {{ criteria.label }}</h4>
                    </td>
                    <td align="center" style="width:80px;">
                        {% if notes[criteria.id] is defined and notes[criteria.id] %}
                            <label style="color: green; font-weight: bold;">FORT</label>
                        {% else %}
                            <label style="color: red; font-weight: bold;">Faible</label>
                        {% endif %}    
                    </td>
                    <td align="center" style="width:80px;">
                        {% if notes_default[criteria.id] is defined and notes_default[criteria.id] %}
                            <label style="color: green; font-weight: bold;">FORT</label>
                        {% else %}
                            <label style="color: red; font-weight: bold;">Faible</label>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}    
        </table>    
    </div>

    {% if category.label == "Réalisation" or category.label == "Utilisation" or category.label == "Fin de vie" %}
        <div class="page-break"></div>
    {% else %}
        <br/>
    {% endif %}
        
    {% endfor %}
    
        
    <h2 style="margin: 5px 0; color: black;">Bilan du projet</h2>
    {% set nbActions = 0 %}
    {% set ecoConcu = false %}
    {% set ecart = qeb - qeb_default %}
    {% if qeb >= 12 and ecart >= 1 %}
        {% set ecoConcu = true %}
    {% endif %}
    
    {% for criteria in criterias %}
        {% if actions[criteria.id] is defined and actions[criteria.id] is not empty %}
            {% set nbActions = nbActions + 1 %}
        {% endif %}
    {% endfor %}
    <div style="float: bottom;">
        <div class="project-home">
            <div class="project-main" style="width:250px;">
                <h1>Produit/Service A : {{ project.projectName }}</h1>
                <p align="center">
                   <img src="{{ urlPath }}"/>
                </p>   
            </div>
            <div class="project-default" style="width:250px;">
                <h1>Produit/Service B : {{ project.default.name }}</h1>
                <p align='center'>
                   <img src="{{ urlDefaultPath }}"/>
                </p>
            </div>
        </div>
        <div>
            <table style="margin: 20px; width: 600px;">
                <tr>
                  <td rowspan=2>
                      <div style="text-align:center; vertical-align: middle; font-weight: bold;"><br/>Etapes du<br/>cycle de vie</div>
                  </td>
                  <td colspan=2>
                    <div style="text-align:center; vertical-align: middle; font-weight: bold;">Nbre de bonnes pratiques<br/>d’éco-conception atteintes<br/>sur le cycle de vie en %</div>
                  </td>
                  <td rowspan=2>
                    <div style="text-align:center; vertical-align: middle; font-weight: bold;"><br/>Profil<br/>produit</div>     </td>
                  <td colspan=2>
                    <div style="text-align:center; vertical-align: middle; font-weight: bold;">Nbre de bonnes pratiques<br/>d’éco-conception atteintes<br/>par critère produit en %</div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Produit A</div>
                  </td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Produit B</div>
                  </td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Produit A</div>
                  </td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Produit B</div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Acquisition</div>
                  </td>
                  <td>{{ percentCategories[1] }}</td>
                  <td>{{ percentCategoriesDefault[1] }}</td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Sûr</div>
                  </td>
                  <td>{{ percentIndicateurs[1] }}</td>
                  <td>{{ percentIndicateursDefault[1] }}</td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Réalisation</div>
                  </td>
                  <td>{{ percentCategories[2] }}</td>
                  <td>{{ percentCategoriesDefault[2] }}</td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Léger</div>
                  </td>
                  <td>{{ percentIndicateurs[2] }}</td>
                  <td>{{ percentIndicateursDefault[2] }}</td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Distribution</div>
                  </td>
                  <td>{{ percentCategories[3] }}</td>
                  <td>{{ percentCategoriesDefault[3] }}</td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Sobre</div>
                  </td>
                  <td>{{ percentIndicateurs[3] }}</td>
                  <td>{{ percentIndicateursDefault[3] }}</td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Utilisation</div>
                  </td>
                  <td>{{ percentCategories[4] }}</td>
                  <td>{{ percentCategoriesDefault[4] }}</td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Durable</div>
                  </td>
                  <td>{{ percentIndicateurs[4] }}</td>
                  <td>{{ percentIndicateursDefault[4] }}</td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Fin de vie</div>
                  </td>
                  <td>{{ percentCategories[5] }}</td>
                  <td>{{ percentCategoriesDefault[5] }}</td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Economique</div>
                  </td>
                  <td>{{ percentIndicateurs[5] }}</td>
                  <td>{{ percentIndicateursDefault[5] }}</td>
                </tr>
            </table>
            <br/>
            <br/>

            <label style="font-weight: bold; margin: 20px;">Performance globale notée sur 20 points</label><br/>
            <label style="margin: 20px;">Produit A : {{ qeb }}</label><br/>
            <label style="margin: 20px;">Produit B : {{ qeb_default }}</label>

            <br/><br/>

            <label style="font-weight: bold; margin: 20px;">Le produit A est il éco-conçu par rapport au produit B ? : {% if ecoConcu == true %}OUI{% else %}NON{% endif %}</label>
        </div>    
    </div>
<div class="clear"></div>
