<table>
    <th>Catégorie</th>
    <th>Critère</th>
    <th>Aide à la cotation</th>
    {% for result in results %}
        <tr>
            <td>{{ result.category.label|raw }}</td>
            <td>{{ result.label|raw }}</td>
            <td>{{ result.help|raw }}</td>
        </tr>
    {% endfor %}
</table>