<a href="{{ path('design_instructions', { 'id': project.id }) }}" {% if section is defined and section == 'instructions' %}class="active"{% endif %}>Instruction</a>
<a href="{{ path('design_project_home', { 'id': project.id }) }}" class="blue"><i class="icon-user icon-white"></i> {{ project.name }}</a>
{% for categorie in categories %}
    {% set icon = '' %}
    {% if categorie.id == 1 %}
        {% set icon = 'icon-th icon-white' %}
    {% elseif categorie.id == 2 %}
        {% set icon = 'icon-wrench icon-white' %}
    {% elseif categorie.id == 3 %}
        {% set icon = 'icon-shopping-cart icon-white' %}
    {% elseif categorie.id == 4 %}
        {% set icon = 'icon-refresh icon-white' %}
    {% elseif categorie.id == 5 %}
        {% set icon = 'icon-time icon-white' %}
    {% endif %}
    <a href="{{ path('design_project_category', { 'id': project.id, 'category': categorie.id }) }}" {% if category is defined and category.id == categorie.id %}class="active"{% endif %}><i class="{{ icon }}"></i> {{categorie.label }}</a>
{% endfor %}    
<a href="{{ path('design_project_show', { 'id': project.id }) }}" {% if section is defined and section == 'bilan' %}class="active"{% endif %}><i class="icon-signal icon-white"></i> Bilan du projet</a>
<a href="{{ path('design_project_hpe', { 'id': project.id }) }}" {% if section is defined and section == 'bilanHPE' %}class="active"{% endif %}><i class="icon-align-left icon-white"></i> Bilan HPS</a>
<a href="{{ path('design_project_show_interactive', { 'id': project.id }) }}" {% if section is defined and section == 'bilanInteractif' %}class="active"{% endif %}><i class="icon-signal icon-white"></i> Améliorations</a>
<!-- <a href=" {# {{path('design_project_search_show', { 'id': project.id }) }} #}" {# {% if section is defined and section == 'recherche' %}class="active"{% endif %} #}><i class="icon-search icon-white"></i> Recherche</a> !-->
