<table cellpadding=0 cellspacing=0 width=800 class="recycle-table">
    <thead>
        <tr height=51>
            <th height=51 width=66 align=left
                valign=top></th>
            <th width=314>substances</th>
            <th width=99>type de materiaux</th>
            <th width=130>potentiel de recyclage</th>
            <th width=116>recyclé employé</th>
            <th width=153>Potentiel de valorisation énergétique</th>
        </tr>
    </thead>  
    
    <tbody>
        <tr height=17>
            <td height=17>1</td>
            <td>Acetone
                (CH3COCH3)</td>
            <td><a name=tableau></a><a
                    name=colonne>&nbsp;</a></td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>2</td>
            <td>Acrylonitrile
                Butadiene Styrene (ABS)</td>
            <td>ABS</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>3</td>
            <td>Adjuvant
                (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>4</td>
            <td>Aluminium (Al)</td>
            <td>Aluminium</td>
            <td>100%</td>
            <td>38%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>5</td>
            <td>Aluminium 100%
                recycled</td>
            <td>Aluminium 100 <span
                    style='display:none'>%recyclé</span></td>
            <td>100%</td>
            <td>100%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>5</td>
            <td class=xl83>Aluminium Hydroxide
                (Al(OH)3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>6</td>
            <td>Aluminium Oxide
                (Al2O3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=22>
            <td height=22>7</td>
            <td>Antimony Trioxide
                (Sb2O3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=22>
            <td height=22>8</td>
            <td>Barium Oxide (BaO)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>9</td>
            <td>Brass (Cu, Zn)</td>
            <td>Laiton</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>10</td>
            <td>Bromine (Br2)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>11</td>
            <td>Bronze (Cu, Sn)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>12</td>
            <td>Butadiene (C4H6)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>13</td>
            <td>Butyl Acetate
                (CH3COO(CH2)3CH3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=22>
            <td height=22>14</td>
            <td>Cadmium (Cd)</td>
            <td>Cadmium</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>15</td>
            <td>Carbon Black</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>16</td>
            <td>Cardboard</td>
            <td>Carton recycl <span
                    style='display:none'> 80%</span></td>
            <td>100%</td>
            <td>86%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>17</td>
            <td>Cardboard</td>
            <td>Carton recycl <span
                    style='display:none'> 92%</span></td>
            <td>100%</td>
            <td>92%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>18</td>
            <td>Cellulose
                ((C6H10O5)n)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>19</td>
            <td>Cobalt (Co)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>20</td>
            <td>Copper (Cu)</td>
            <td>Cuivre</td>
            <td>100%</td>
            <td>23%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>21</td>
            <td>Copper Wire</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>40%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>22</td>
            <td>Decabromodiphenyl
                Ether (C6Br5OC6Br5)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>23</td>
            <td>Dicyanodiamide
                (C2H4N4)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>24</td>
            <td>DiOctyl Phthalate
                (DOP)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>25</td>
            <td>Diphenyl Cresyl
                Phosphate (C19H17O4P)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>26</td>
            <td>Electrolyte
                (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>27</td>
            <td>Epoxy Resin (DGEBA)</td>
            <td>resin epoxy</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>28</td>
            <td>Epoxy Resin (Liquid)</td>
            <td>resin epoxy</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>29</td>
            <td>Ethylene Propylene
                Diene (EPDM)</td>
            <td>EPDM</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>30</td>
            <td>Ferrites</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>31</td>
            <td>Flame Retardant Agent
                (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>32</td>
            <td>Gallium Arsenide
                (GaAs)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>33</td>
            <td>Germanium (Ge)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>34</td>
            <td>Glass</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>35</td>
            <td>Glass Fiber</td>
            <td>Fibre de verre</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>36</td>
            <td>Glue (acrylic)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>37</td>
            <td>Gold (Au)</td>
            <td>Or</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>38</td>
            <td>Gold (electronic
                grade)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>39</td>
            <td>Graphite</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>40</td>
            <td>Gummi Membrane</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>41</td>
            <td>Ink (unspecified)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>42</td>
            <td>Invar (Fe, Ni)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>43</td>
            <td>Iron (pure)</td>
            <td>Fer</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>44</td>
            <td>Isopropyl Alcohol
                (CH3CHOHCH3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>45</td>
            <td>Laminate
                (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>46</td>
            <td>Lead (Pb)</td>
            <td>Plomb</td>
            <td>100%</td>
            <td>83%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>47</td>
            <td>Lead Oxide (PbO)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>48</td>
            <td>Lime (quick, CaO)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>49</td>
            <td>Limestone (CaCO3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>50</td>
            <td>Liquid Cristal
                Polymer (LCP)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>51</td>
            <td>Lithium Nitrate
                (LiNO3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>52</td>
            <td>Lubricant
                (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>53</td>
            <td>Magnesium (Mg)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>54</td>
            <td>Magnesium Hydroxide
                (Mg(OH)2)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>55</td>
            <td>Magnesium Oxide (MgO)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>56</td>
            <td>Manganese Dioxide
                (MnO2)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>57</td>
            <td>Melamine (C3H6N6)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>58</td>
            <td>Melamine Cyanurate</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>59</td>
            <td>Mercury (Hg)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>60</td>
            <td>Methyl Ethyl Ketone
                (MEK, C2H5COCH3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>61</td>
            <td>Nickel (Ni)</td>
            <td>Nickel</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>62</td>
            <td>Nickel/Lithium Oxides
                (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>63</td>
            <td>Oil (petroleum)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>64</td>
            <td>Oil (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>65</td>
            <td>Palatal Resin</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>66</td>
            <td>Palladium</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>67</td>
            <td>Paper</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>15%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>68</td>
            <td>Paper (50% recycled)</td>
            <td>Papier recycl <span
                    style='display:none'> 50%</span></td>
            <td>100%</td>
            <td>15%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>69</td>
            <td>Paraffin
                (chlorinated)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>70</td>
            <td>Pentane (C5H12)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>71</td>
            <td>Phenolic Resin</td>
            <td>Phenolic resin</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>72</td>
            <td>Pigment (organic)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=18 style='mso-height-source:userset;height:18.75pt'>
            <td height=18 style='height:18.75pt;border-top:none'>73</td>
            <td>Polyamide (PA 6)</td>
            <td>PA6</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>74</td>
            <td>Polyamide (PA 66)</td>
            <td>PA66 GF 25</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>75</td>
            <td>Polyamide (PA 66)</td>
            <td>PA66</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>76</td>
            <td>Polybutylene
                Terephthalate (PBT)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>77</td>
            <td>Polycarbonates (PC)</td>
            <td>PC</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>78</td>
            <td>Polyester Resin</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>79</td>
            <td>Polyether Imide (PEI)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>80</td>
            <td>Polyether Sulfone
                (PES)</td>
            <td>PSE</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>81</td>
            <td>Polyethylene (PE)</td>
            <td>HDPE</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>82</td>
            <td>Polyethylene (PE)</td>
            <td>LDPE</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>83</td>
            <td>Polyethylene
                Terephthalate (PET)</td>
            <td>PET</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>84</td>
            <td>Polyethylene-co-Vinyl
                Acetate (EVA)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>85</td>
            <td>Polyimide (PI)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>86</td>
            <td>Polymethylmethacrylate
                (PMMA)</td>
            <td>PMMA</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>87</td>
            <td>Polyoxymethylene
                (POM)</td>
            <td>POM</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>88</td>
            <td>Polyphenylene Oxide
                (PPO)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>89</td>
            <td>Polyphenylene
                Sulphide (PPS)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>90</td>
            <td>Polypropylene (PP)</td>
            <td>PP</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>91</td>
            <td>Polystyrene (PS)</td>
            <td>PS</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>92</td>
            <td>Polystyrene (PS,
                expandable)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>93</td>
            <td>Polystyrene (PS, high
                impact)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>94</td>
            <td>Polystyrene (PS, high
                impact)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>95</td>
            <td>Polysulfone (PSU)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>96</td>
            <td>Polytetrafluoroethylene
                (PTFE)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>97</td>
            <td>Polyurethane (PU,
                flexible foam)</td>
            <td>PU</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>98</td>
            <td>Polyurethane (PU,
                rigid foam)</td>
            <td>PU</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>99</td>
            <td>Polyvinyl Chloride
                (PVC)</td>
            <td>PVC 100% recyclé</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>100</td>
            <td>Polyvinyl Chloride
                (PVC)</td>
            <td>PVC</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>101</td>
            <td>Polyvinylidene
                Chloride (PVdC)</td>
            <td>PVDC</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>102</td>
            <td>Polyvinylidene
                Fluoride (PVDF)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>103</td>
            <td>Potassium Hydroxide
                (KOH)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>104</td>
            <td>Potassium Nitrate
                (KNO3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>105</td>
            <td>Potassium Oxide (K2O)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>106</td>
            <td>Raw Materials
                (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>107</td>
            <td>Resins (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>108</td>
            <td>Sheet Moulding
                Compound (SMC)</td>
            <td>SMC</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>109</td>
            <td>Silica (SiO2)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>110</td>
            <td>Silicon (Si)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>111</td>
            <td>Silicon (Si,
                mononcristaline wafers)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>112</td>
            <td>Silicon Rubber</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>113</td>
            <td>Silver (Ag)</td>
            <td>Argent</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>114</td>
            <td>Sodium Oxide (Na2O)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>115</td>
            <td>Soldering Alloy
                (unspecified)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>116</td>
            <td>Solvent (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>117</td>
            <td>Steel</td>
            <td>Acier</td>
            <td>100%</td>
            <td>41%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>118</td>
            <td>Steel</td>
            <td>Acier galvanis</td>
            <td>100%</td>
            <td>41%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>119</td>
            <td>Steel</td>
            <td>Acier 20% recycl</span></td>
            <td>100%</td>
            <td>41%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>120</td>
            <td>Steel</td>
            <td>Acier 100% recycl</span></td>
            <td>100%</td>
            <td>100%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>121</td>
            <td>Steel (stainless,
                with chrome)</td>
            <td>Acier inoxydabl>e</span></td>
            <td>100%</td>
            <td>41%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>122</td>
            <td>Steel (tinplated)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>123</td>
            <td>Strontium Oxide (SrO)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>124</td>
            <td>Styrene (C6H5CHCH2)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>125</td>
            <td>Styrene Butadiene
                Rubber (SBR)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>126</td>
            <td>Styrene Butadiene
                Styrene (SBS)</td>
            <td>SBS</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>127</td>
            <td>Talc (3MgO.4SiO2.H2O,
                in ground)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>128</td>
            <td>Talcum</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>129</td>
            <td>Tetrabromobisphenol A
                (C15H12Br4O2)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>130</td>
            <td>Thermoset
                (unspecified)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>131</td>
            <td>Tin (Sn)</td>
            <td>Etain</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>132</td>
            <td>Titanium (Ti)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>133</td>
            <td>Titanium Dioxide
                (TiO2)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
        <tr height=17>
            <td height=17>134</td>
            <td>Toluene (C6H5CH3)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>135</td>
            <td>Triphenyl Phosphate
                (C18H15O4P)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>136</td>
            <td>Urea-Formol (UF)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>137</td>
            <td>Water (de-ionized)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>138</td>
            <td>Water (high purity)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>139</td>
            <td>Water (unspecified)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>140</td>
            <td>White Spirit (5%)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>141</td>
            <td>Wire (copper, tinned)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>143</td>
            <td>Wood</td>
            <td>Bois massif pour pallette</td>
            <td>100%</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>144</td>
            <td>Xylene (C6H4(CH3)2)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>100%</td>
        </tr>
        <tr height=17>
            <td height=17>145</td>
            <td>Zamak(Zinc 95% Al 5%
                et Mg et Cu)</td>
            <td>Zamak</td>
            <td>100%</td>
            <td>22%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>146</td>
            <td>Zinc (Zn)</td>
            <td>Zinc</td>
            <td>100%</td>
            <td>22%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>147</td>
            <td>Zinc (Zn, powder)</td>
            <td>&nbsp;</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr height=17>
            <td height=17>148</td>
            <td>Zinc Oxide (ZnO)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0%</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>    
</table>        
