{% extends '::design_base.html.twig' %}

{% block side %}
    {% include 'ArtoDesignBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}

<script>
    var btn_current;
    function openDialog(dialog, btn) {
        $( dialog ).dialog( 'open' );
        btn_current = $(btn);
    }
    
    $(function(){
       $(".validateStep1").live('click', function(event) {
           var dialog31Bis = $(this).closest('.ui-dialog-content');
           var projectId = $('#dialog-36-bis').find('.projectId').val();
           
           $.ajaxSetup({async: false});
           
           $(".connexion").each(function(i){
               console.log("Dans each connexion !");
               var connexionId = $(this).find(".connexionId").val();
               var withoutCVal = $(this).find(".connexionWithoutCoating").val();
               var withCVal = $(this).find(".connexionWithCoating").val();
               
               console.log('connexionId : '+connexionId+ ' withoutCVal : '+withoutCVal+ ' withCVal : '+withCVal);
               
               var urlCalculateResistance = "{{path('design_project_resistance_step1_calculate') }}?connexionId="+connexionId+"&withoutCVal="+withoutCVal+"&withCVal="+withCVal+"&projectId="+projectId;
               
               $.post(urlCalculateResistance, function(data){});
           });
           
           var urlGetResistance = "{{path('design_project_get_resistance') }}?projectId="+projectId;
           
           $.post(urlGetResistance, function(data){
                alert("La résistance du mécanisme est de : "+data.resistance+" \265Ohm");
                dialog31Bis.dialog('close');
           },'json');
       });
       
       $(".typeConducteur").live('change', function(event) {
           var rigid = $(this).val();
           var parent = $(this).parent().parent().parent();
           
           var urlGetConducteurs = "{{ path('design_project_get_conducteurs') }}?rigid="+rigid;
           
           $.post(urlGetConducteurs, function(data){
               var selectConducteurs = parent.find(".materiauConducteur");
               
               selectConducteurs.html(data.options);
               
           }, 'json');
       });
       
       $(".goStep2").live('click', function(event) {
           event.preventDefault();
           
           var parent = $(this).parent().parent().parent().parent().parent();
           
           var projectId = $('#dialog-36-bis').find('.projectId').val();
           
           $.ajaxSetup({async: false});
            
           $(".connexion").each(function(i){
               console.log("Dans each connexion !");
               var connexionId = $(this).find(".connexionId").val();
               var withoutCVal = $(this).find(".connexionWithoutCoating").val();
               var withCVal = $(this).find(".connexionWithCoating").val();
               
               console.log('connexionId : '+connexionId+ ' withoutCVal : '+withoutCVal+ ' withCVal : '+withCVal);
               
               var urlCalculateResistance = "{{path('design_project_resistance_step1_calculate') }}?connexionId="+connexionId+"&withoutCVal="+withoutCVal+"&withCVal="+withCVal+"&projectId="+projectId;
               
               $.post(urlCalculateResistance, function(data){});
           });
           
           console.log("Parent :" + parent.html());
           
           parent.find(".calculResistanceConnexions").hide();
           parent.find(".calculResistanceConnexions2").show();
       });
       
       $(".validateStep2").live('click', function(event) {
           var projectId = $('#dialog-36-bis').find('.projectId').val();
           var dialog31Bis = $(this).closest('.ui-dialog-content');
           
           $.ajaxSetup({async: false});
           
           var parent = $(this).parent().parent().parent().parent();
           
           var nbConducteurs = parent.find(".nbConducteurs").val();
           var sectionConducteur = parent.find(".sectionConducteur").val();
           var longueurConducteur = parent.find(".longueurConducteur").val();
           var resistanceLineique = parent.find(".materiauConducteur").val();
           
           var urlCalculateResistanceStep2 = "{{path('design_project_resistance_step2_calculate') }}?nbConducteurs="+nbConducteurs+"&sectionConducteur="+sectionConducteur+"&longueurConducteur="+longueurConducteur+"&resistanceLineique="+resistanceLineique+"&projectId="+projectId;
           
           $.post(urlCalculateResistanceStep2, function(data){});
           
           var urlGetResistance = "{{path('design_project_get_resistance') }}?projectId="+projectId;
           
           $.post(urlGetResistance, function(data){
                alert("La résistance du mécanisme est de : "+data.resistance+" \265Ohm");
                dialog31Bis.dialog('close');
           },'json');
       });
       
       $(".cancelStep1").live('click', function(event){
           $(this).closest('.ui-dialog-content').dialog('close');
       });
       
       $(".cancelStep2").live('click', function(event){
           $(this).closest('.ui-dialog-content').dialog('close');  
       });
       
       $( ".dialog2" ).dialog({close: function( event, ui ) {
               var id = $(this).attr('id');
               var projectId = $('#dialog-36-bis').find('.projectId').val();
               console.log("Id :"+id);
               if(id == 'dialog-36-bis'){
                   var tableStep1 = $(this).closest('.ui-dialog-content').find(".calculResistanceConnexions");
                   var tableStep2 = $(this).closest('.ui-dialog-content').find(".calculResistanceConnexions2");

                   var inputsStep1 = tableStep1.find(":input");
                   inputsStep1.each(function() {
                        var typeInput = $(this).attr('type');
                        if(typeInput != 'submit' && typeInput != 'hidden'){
                            $(this).val('');
                        }
                   });

                   var inputsStep2 = tableStep2.find(":input");
                   inputsStep2.each(function() {
                       var typeInput = $(this).attr('type');
                       if(typeInput != 'submit' && typeInput != 'hidden'){
                            $(this).val('');
                       }
                   });

                   var selectsStep2 = tableStep2.find("select");
                   selectsStep2.each(function(){
                        $(this).find("option[selected='selected']").removeAttr('selected');
                        $(this).find("option[value='']").attr('selected', 'selected');
                   });

                   tableStep1.show();
                   tableStep2.hide();
                   
                   var urlResetResistance = "{{path('design_project_reset_resistance') }}?projectId="+projectId;
           
                   $.post(urlResetResistance, function(data){});
               }
           }
       });
    });
</script>

<div class="fixed project-title">
    <h4 class="title-projectnames">
        <table>
            <tr>
                <td width="80" valign="middle" align="center" class="project-main">{{ project.projectName }}</td>
                <td width="80" valign="middle" align="center" class="project-default">{{ project.default.name }}</td>
                <td width="110" valign="middle" align="center" colspan="2" style="text-transform: none;">Preuves / Actions</td>
            </tr>
        </table>
    </h4>
    {#% if category.id == 2 or category.id == 3 or category.id == 5 %}
        <h2 class="title-color-{{ category.id }}">CRITERES OU ASPECTS ENVIRONNEMENTAUX ET SOCIAUX LIES A LA {{ category.label }}</h2>
    {% elseif category.id == 1 or category.id == 4 %}
        <h2 class="title-color-{{ category.id }}">CRITERES OU ASPECTS ENVIRONNEMENTAUX ET SOCIAUX LIES A L'{{ category.label }}</h2>
    {% endif %#}
    <h2 class="title-color-{{ category.id }}">ASPECTS ENVIRONNEMENTAUX ET SOCIAUX A MAITRISER OU A INFLUENCER</h2>    
     
    <h4 style="font-size: 8px; line-height: 8px;"> 
        <label><b>FORT</b> : Satisfaction du critère et réponse apportée + forte sinon identique par comparaison</label>
        <label><b>FAIBLE</b> : Insatisfaction du critère ou Satisfaction du critère et réponse apportée + faible par comparaison</label>
        <label><b>Dans le cas où le critère est Non Applicable au produit/service mettre la cotation FORT pour les 2 produits/services évalués.</b></label>
    </h4>      
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<section class="main">
    <div class="criterias">
        <form method="post" action="{{ path('design_project_category_save', { 'id': project.id, 'category': category.id }) }}">
            <table class="table">
                {% for criteria in category.criterias %}
                    <tr>
                        <td class="category-color-{{ category.id }}" style="width:2000px">
                            <h4 id="cname-{{ loop.index }}"><strong>{{ criteria.id }}.</strong> {{ criteria.label }}</h4>
                        </td>
                        <td align="center" style="width:80px;">
                            <div class="iphone">
                                <input type="checkbox" name="criteria_{{ criteria.id }}" value="1" {% if notes[criteria.id] is defined and notes[criteria.id] %}checked="checked"{% endif %}>
                            </div>
                        </td>
                        <td align="center" style="width:80px;">
                            <div class="iphone">
                                <input type="checkbox" name="criteria_default_{{ criteria.id }}" value="1" {% if notes_default[criteria.id] is defined and notes_default[criteria.id] %}checked="checked"{% endif %}>
                            </div>
                        </td>
                        <td align="center" style="width:40px;">
                            <div class="comment-icon">
                                {% if (comments[criteria.id] is defined and comments[criteria.id] is not empty)
                                    or (comments_default[criteria.id] is defined and comments_default[criteria.id] is not empty) %}
                                    <img src="/css/skin/famfamfam/accept.png" onclick="openDialog('#dialog-comment-form-{{ criteria.id }}', this);" />
                                {% else %}
                                    <img src="/css/skin/famfamfam/cancel.png" onclick="openDialog('#dialog-comment-form-{{ criteria.id }}', this);" />
                                {% endif %}
                            </div>
                        </td>
                        <td align="center" style="width:40px;">
                            <div class="comment-icon">
                                {% if actions[criteria.id] is defined and actions[criteria.id] is not empty %}
                                    <img src="/css/skin/famfamfam/accept.png" onclick="openDialog('#dialog-action-form-{{ criteria.id }}', this);"/>
                                {% else %}
                                    <img src="/css/skin/famfamfam/cancel.png" onclick="openDialog('#dialog-action-form-{{ criteria.id }}', this);" />
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="padding-bottom: 20px; padding-right: 355px; font-size: 12px; line-height: 14px; {% if criteria.id != 19 %}text-align: justify{% endif %}" class="criteria-help">
                            {% if criteria.id == 36 %}
                                {% if project.energy == 1 %}
                                    {{ criteria.help|raw|nl2br }}<br/>
                                {% else %}
                                    {{ criteria.help|raw|nl2br }}<br/>
                                    <strong>Si produit non consommateur d'énergie, coter FORT</strong>
                                {% endif %}
                            {% else %}
                                {{ criteria.help|raw|nl2br }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <input class="btn btn-info" type="submit" value="Valider" />
        </form>
        <label {% if proofs == true %}style= "display:none;"{% endif %} style="color: red; font-weight: bold;">Certains critères sont à Fort et n'ont pas de preuves renseignées !</label>
    </div>
</section>

{% for criteria in category.criterias %}

        <div id="dialog-action-form-{{ criteria.id }}" class="dialog" title="Action">
            <form method="post" action="{{ path('design_project_action_save', {'id': criteria.id, 'project': project.id } ) }}">
                <h2>{{ project.name }}</h2>
                <textarea name="action" >{% if actions[criteria.id] is defined and actions[criteria.id] is not empty %}{{ actions[criteria.id] }}{% endif %}</textarea>
            </form>
        </div>

        <div id="dialog-comment-form-{{ criteria.id }}" class="dialog" title="Commentaire">
            <form method="post" action="{{ path('design_project_comment_save', {'id': criteria.id, 'project': project.id } ) }}">
                <h2>{{ project.name }}</h2>
                <textarea name="comment" >{% if comments[criteria.id] is defined and comments[criteria.id] is not empty %}{{ comments[criteria.id] }}{% endif %}</textarea>
                <h2 class="default">{{ project.default.name }}</h2>
                <textarea name="comment_default" class="default">{% if comments_default[criteria.id] is defined and comments_default[criteria.id] is not empty %}{{ comments_default[criteria.id] }}{% endif %}</textarea>
            </form>
        </div>

{% endfor %}

<div id="dialog-1" class="dialog2" title="Aide">
    <img src="/images/design/criteria_1_1.png"/>
    <img src="/images/design/criteria_1_2.png"/>
    <img src="/images/design/criteria_1_3.png"/>
    <img src="/images/design/criteria_1_4.png"/>
</div>

<div id="dialog-2_0" class="dialog2" title="Aide">
    <img src="/images/design/criteria_2_0.png"/>
</div>
<div id="dialog-2_1" class="dialog2" title="Aide">
    <img src="/images/design/criteria_2_1.png"/>
</div>

<div id="dialog-2_2" class="dialog2" title="Aide">
    <img src="/images/design/criteria_2_2.png"/>
</div>

<div id="dialog-2_3" class="dialog2" title="Aide">
    <img src="/images/design/criteria_2_3_1.png"/><br/><br/>
    <img src="/images/design/criteria_2_3_2.png"/>
</div>

<div id="dialog-3" class="dialog2" title="Aide">
    <img src="/images/design/criteria_3_1.png"/><br/>
    <img src="/images/design/criteria_3_2.png"/><br/>
    <img src="/images/design/criteria_3_3.png"/><br/>
    <img src="/images/design/criteria_3_4.png"/><br/>
    <img src="/images/design/criteria_3_5.png"/><br/>
    <img src="/images/design/criteria_3_6.png"/><br/>
    <img src="/images/design/criteria_3_7.png"/><br/>
    <img src="/images/design/criteria_3_8.png"/><br/>
    <img src="/images/design/criteria_3_9.png"/><br/>
    <img src="/images/design/criteria_3_10.png"/><br/>
    <img src="/images/design/criteria_3_11.png"/>
</div>

<div id="dialog-4" class="dialog2" title="Aide">
    <img src="/images/design/criteria_4_1.png"/><br/>
    <img src="/images/design/criteria_4_2.png"/>
</div>

<div id="dialog-5" class="dialog2" title="Aide">
    <img src="/images/design/criteria_5_1.png"/><br/>
    <img src="/images/design/criteria_5_2.png"/><br/>
    <img src="/images/design/criteria_5_3.png"/>
</div>

<div id="dialog-6" class="dialog" title="Aide">
    <img src="/images/design/criteria_4_3.png"/><br/>
    <img src="/images/design/criteria_4_4.png"/><br/>
    <img src="/images/design/criteria_4_5.png"/><br/>
    <img src="/images/design/criteria_4_6.png"/>
</div>

<div id="dialog-7-1" class="dialog" title="Aide">
    <img src="/images/design/criteria_6_7.png"/><br/>
    <img src="/images/design/criteria_6_8.png"/><br/>
    <img src="/images/design/criteria_6_9.png"/><br/>
    <img src="/images/design/criteria_6_10.png"/><br/>
    <img src="/images/design/criteria_6_11.png"/><br/>
    <img src="/images/design/criteria_6_12.png"/><br/>
    <img src="/images/design/criteria_6_13.png"/><br/>
</div>

<div id="dialog-7-2" class="dialog" title="Aide">
    <img src="/images/design/criteria_6_14.png"/><br/>
    <img src="/images/design/criteria_6_15.png"/><br/>
    <img src="/images/design/criteria_6_16.png"/><br/>
    <img src="/images/design/criteria_6_17.png"/><br/>
    <img src="/images/design/criteria_6_18.png"/><br/>
    <img src="/images/design/criteria_6_19.png"/><br/>
    <img src="/images/design/criteria_6_20.png"/><br/>
    <img src="/images/design/criteria_6_21.png"/><br/>
    <img src="/images/design/criteria_6_22.png"/><br/>
</div>

<div id="dialog-11" class="dialog2" title="Aide">
    <img src="/images/design/criteria_11_1.png"/><br/>
    <img src="/images/design/criteria_11_2.png"/><br/>
    <img src="/images/design/criteria_11_3.png"/><br/>
    <img src="/images/design/criteria_11_4.png"/><br/>
    <img src="/images/design/criteria_11_5.png"/><br/>
    <img src="/images/design/criteria_11_6.png"/>
</div>

<div id="dialog-13" class="dialog2" title="Aide">
    <img src="/images/design/criteria_13_1.png"/><br/>
    <img src="/images/design/criteria_13_2.png"/><br/>
    <img src="/images/design/criteria_13_3.png"/><br/>
    <img src="/images/design/criteria_13_4.png"/><br/>
    <img src="/images/design/criteria_13_5.png"/><br/>
    <img src="/images/design/criteria_13_6.png"/><br/>
    <img src="/images/design/criteria_13_7.png"/><br/>
    <img src="/images/design/criteria_13_8.png"/><br/>
    <img src="/images/design/criteria_13_9.png"/><br/>
    <img src="/images/design/criteria_13_10.png"/><br/>
</div>

<div id="dialog-6" class="dialog2" title="Aide">
    <img src="/images/design/criteria_6_1.png"/>
    <img src="/images/design/criteria_6_2.png"/>
    <img src="/images/design/criteria_6_3.png"/>
    <img src="/images/design/criteria_6_4.png"/>
    <img src="/images/design/criteria_6_5.png"/>
    <img src="/images/design/criteria_6_6.png"/>
</div>

<div id="dialog-47" class="dialog2" title="Aide">
    <img src="/images/design/criteria_47.png"/>
</div>

<div id="dialog-48-1" class="dialog2" title="Aide">
    <img src="/images/design/criteria_48-1.png">
</div>

<div id="dialog-48-2" class="dialog2" title="Aide">
    <img src="/images/design/criteria_48-2.png">
</div>

<div id="dialog-48-3" class="dialog2" title="Aide">
    <img src="/images/design/criteria_48-3.png">
</div>

<div id="dialog-49" class="dialog2" title="Aide">
    <img src="/images/design/criteria_49.png">
</div>    

<div id="dialog-36" class="dialog2" title="Aide">
    {# include 'ArtoDesignBundle:Default:description.html.twig' #}
    <img src="/images/design/criteria_36_1.png"/>   
    <img src="/images/design/criteria_36_2.png"/>
    <img src="/images/design/criteria_36_3.png"/>
    <img src="/images/design/criteria_36_4.png"/>
</div>

<div id="dialog-36-bis" class="dialog2" title="Calcul de la résistance électrique du mécanisme">
    <label>Définition du nombre de connexions électriques</label> 
    <input type="hidden" class="projectId" value="{{ project.id }}"/>
    <table class="calculResistanceConnexions">
        <tr>
            <th>Type de connexion</th>
            <th>Sans<br/>revetement</th>
            <th>Avec<br/>revetement</th>
        </tr>
        {% for connexion in connexions %}
            <tr class="connexion">
                <input type="hidden" class="connexionId" value="{{ connexion.id }}"/>
                <td>
                    <label>{{ connexion.name}}</label>
                </td>
                <td>
                    <input type="text" class="connexionWithoutCoating" name="connexionWithoutCoating{{ connexion.id }}" style="width: 50px;"/>
                </td>
                <td>
                    <input type="text" class="connexionWithCoating" name="connexionWithCoating{{ connexion.id }}" style="width: 50px;"/>
                </td>
            </tr>    
        {% endfor %}
        <tr>
            <td align="center">
                <input class="btn btn-info validateStep1" type="submit" value="Valider" />
            </td>
            <td align="center">
                <input class="btn btn-info goStep2" type="submit" value="Ajouter fils" /> 
            </td>
            <td align="center">
                <input class="btn btn-cancel cancelStep1" type="submit" value="Annuler" />
            </td>
        </tr>    
    </table>
    
    <table class="calculResistanceConnexions2" style="display: none;">
        <tr>
            <td>
                <label>Nombre de conducteurs actifs</label>
            </td>
            <td>
                <select class="nbConducteurs">
                    <option name="default" value="" selected="selected">- Choisir -</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Type de conducteur</label>
            </td>
            <td>
                <select class="typeConducteur">
                    <option name="default" selected="selected" value="">- Choisir -</option> 
                    <option value="true">Monobrin rigide</option>
                    <option value="false">Souple multibrins</option>
                </select>
            </td>
        </tr>    
        <tr>
            <td>
                <label>Materiau du conducteur</label>
            </td>
            <td>
                <select class="materiauConducteur">
                    <option name="default" value="">- Choisir -</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Section du conducteur</label>
            </td>
            <td>
                <input type="text" class="sectionConducteur" name="sectionConducteur"/> mm<sup>2</sup>
            </td>
        </tr>
        <tr>
            <td>
                <label>Longueur du conducteur</label>
            </td>
            <td>
                <input type="text" class="longueurConducteur" name="longueurConducteur"/> cm
            </td>    
        </tr>
        <tr>
            <td align="center">
                <input class="btn btn-info validateStep2" type="submit" value="Valider" />
            </td>
            <td align="center">
                <input class="btn btn-cancel cancelStep2" type="submit" value="Annuler" />
            </td>
        </tr>
    </table>
</div>

{% endblock %}