{% extends '::design_base.html.twig' %}

{% block side %}
    {% include 'ArtoDesignBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(".sameUF").live('click',function(event){
        //event.preventDefault();
        var val = $(this).val();
        if(val == 0){
            $(this).attr('checked',true);
            $(this).attr('value',1);
        }else{
            $(this).attr('checked',false);
            $(this).attr('value',0);
        }
        $(this).show();
    });
    
    $(".submit").live('click', function(event) {
        //event.preventDefault();
        var submit = $(this);
        var accept = $('.sameUF').val();
        if(accept == 0){
            alert("Veuillez certifier que l'UF du produit choisi pour la comparaison soit similaire à l'UF du produit de référence");
            event.preventDefault();
        }
    });
</script>
<section class="main">
    <div class="form">
        <p>
            Avant de commencer, prendre connaissance du mode d’emploi de <b>ArtoDesign</b> décrit dans l’Instruction 
        </p>

        <form action="{{ path('design_project_description_reference_save', { 'project' : project.id, 'default': 1 }) }}" method="post" enctype="multipart/form-data">
            <fieldset>
                <h3>Nom du produit/service choisi pour la comparaison</h3>
                <div class="row">
                    <label class="lbl">Nom</label>
                    <input type="text" name="name" value="{{ project_default.name }}" class="medium" />
                </div>
                {% if project.path is not empty %}
                    <div class="row">
                        <label class="lbl">Image</label>
                        <img src="{{ ('uploads/design/' ~ project_default.path) | imagine_filter('thumb') }}" />
                    </div>
                {% endif %}
                <div class="row">
                    <label class="lbl">Image</label>
                    <input type="file" name="file" />
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <span class="lbl">Poids maximum de 10Mo</span>
                </div>
                <br/>
                <div class="row">
                    <label>Il est important que le produit/service choisi pour la comparaison possède une fonction principale identique au produit/service de Référence.</label>    
                </div>    
                <div class="row">
                    <input class="btn submit" type="submit" value="Valider" />
                </div>
            </fieldset>
        </form>
    </div>
</section>

{% endblock %}