{% extends '::design_base.html.twig' %}

{% block side %}
    {% include 'ArtoDesignBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
$(function(){
   $('#descriptionuf').live('focusin',function(event){
        $('#help-uf').show();
   });

   $('#descriptionuf').live('focusout',function(event){
        $('#help-uf').hide();
   });
   
   $(".addUser").live('click', function(event) {
        var trclone = $(".users-table").find(".tr-clone");
        var newLine = trclone.clone(true);
        newLine.attr('value', '');
        newLine.removeClass("tr-clone");
        $(".users-table").append(newLine);
   });
});
</script>
<section class="main">
    <div class="form">
        <p>
            Avant de commencer, prendre connaissance du mode d’emploi de <b>ArtoDesign</b> décrit dans l’Instruction 
        </p>

        <form method="post" action="{{ path('design_project_user_save', { 'id': project.id }) }}" class="users">
            <fieldset class="odd">
                <h3>Nom des personnes répondant a l'étude</h3>
                <table id="table-1" class="users-table">
                    <tr>
                        <td style="border:none; width:1px;">&nbsp;</td>
                        <th>Société</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                    {% if users|length > 0 %}
                        {% for key, user in users %}
                            <tr>
                                <td style="border:none; width:1px;">
                                   <a href="javascript:void(0);">
                                        <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addUser"/>
                                    </a>
                                    <input type="hidden" name="user[{{ key }}][id]" class="userId" value="{{ user.id }}"/> 
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][company]" class="userCompany" value="{{ user.company }}"/>
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][lastname]" class="userLastName" value="{{ user.lastname }}"/>
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][firstname]" class="userFirstName" value="{{ user.firstname }}"/>
                                </td>
                                <td>
                                    <a href="{{ path('design_project_user_delete', { 'userId' : user.id }) }}#users-table">
                                        <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    
                    <!-- ce tr est caché en css et sera copié sur chaque click sur .add pour construire une nouvelle ligne -->
                    {% set key_new = users|length %}
                        <tr class="tr-clone" {% if users|length == 0 %} style="display: table-row;" {% endif %}>
                            <td style="border:none; width: 1px;">
                                <a href="javascript:void(0);">
                                    <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addUser"/>
                                </a>
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][company]" class="userCompany" />
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][lastname]" class="userLastName" />
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][firstname]" class="userFirstName"/>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                </table>
                <button type="submit" class="btn btn-info add-row">Valider</button>
            </fieldset>
        </form>
        
        <form>
            <fieldset>
                <p>
                    <b>Vérifier l'objet de votre étude</b>
                    <br/><br/>
                    <label style="font-size : 12px;">{{ objetEtude }}</label>
                </p>
            </fieldset>
        </form>    
        
        <fieldset>
            <p>
                <b>Modalités de l'évaluation</b>
                <br/><br/>
                <b>ArtoDesign</b> est un outil d’évaluation qualitative et comparative des aspects environnementaux, sociaux et sociétaux associés au produit/service.
                <br/>L’évaluation est effectuée en comparant 2 produits/services (A et B) dont la fonction principale est identique.
                <br/>L’intérêt ne se limite pas seulement à l’impact environnemental du produit/service lui‐même, mais également au système dans lequel il fonctionne (fonctions de contraintes et complémentaires).
                <br/>Un développement cohérent de produit/service nécessite la prise en considération des usages (contextes d’utilisation) du produit/service, l’influence sur le comportement de l’utilisateur, les effets sur le changement des modes de consommation, les valeurs d’usage du produit/service en termes d’opportunités de service …
            </p>
        </fieldset>     

        <form action="{{ path('design_project_description_generalites_save', { 'project' : project.id }) }}#generalites" method="post" enctype="multipart/form-data">
            <fieldset>
                <h3 id="generalites">Produit/Service A à éco-concevoir</h3>
                <div class="row">
                    <label class="lbl">Nom</label>
                    <input id="projectName" type="text" name="projectName" value="{{ project.projectName }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Typologie produit</label>
                    <label class="lbl" style="width:200px;">{{ typologie }}</label>
                </div>
                <div class="row">
                    <label class="lbl">Description du produit/service en terme de service rendu au client</label>
                    <textarea id="descriptionuf" name="descriptionuf" class="large" style="width: 500px; height: 270px; float:left; margin-right: 45px;">{{ project.descriptionuf|raw }}</textarea>
                    <div id="help-uf" style="display: none;" title="Aide">
                        Le service rendu doit être exprimé sous la forme d’une fonction quantifiée. Elle doit comprendre :<br/>
                        <ul>
                            <li style="color:black;">- une unité quantifiant la (ou les) fonction principale étudiée</li>
                            <li style="color:black;">- le contexte d'utilisation en termes de système produit</li>
                            <li style="color:black;">- les fonctions secondaires de contraintes et complémentaires</li>
                            <li style="color:black;">- les valeurs d'usage en termes d'opportunité de service</li>
                            <li style="color:black;">- le niveau de performance ou d’exigence atteint par le produit</li>
                            <li style="color:black;">- une durée d’étude de la fonction</li>
                        </ul>
                    </div>
                </div>
                {% if project.path is not empty %}
                    <div class="row">
                        <label class="lbl">Image</label>
                        <img src="{{ ('uploads/design/' ~ project.path) | imagine_filter('thumb') }}" />
                    </div>
                {% endif %}
                <div class="row">
                    <label class="lbl">Image</label>
                    <input type="file" name="file" />
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <span class="lbl">Poids maximum de 10Mo</span>
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <input class="btn" type="submit" value="Valider" />
                </div>
            </fieldset>
         </form>
        
         <form action="{{ path('design_project_description_reference_save', { 'project' : project.id, 'default': 1 }) }}" method="post" enctype="multipart/form-data">
            <fieldset>
                <h3>Produit/Service B (existant, concurrent, autre concept) permettant la comparaison au produit/service A à éco-convecoir</h3>
                <div class="row">
                    <label class="lbl">Nom</label>
                    <input type="text" name="projectDefaultName" value="{{ project_default.name }}" class="medium" />
                </div>
                {% if project_default.path is not empty %}
                    <div class="row">
                        <label class="lbl">Image</label>
                        <img src="{{ ('uploads/design/' ~ project_default.path) | imagine_filter('thumb') }}" />
                    </div>
                {% endif %}
                <div class="row">
                    <label class="lbl">Image</label>
                    <input type="file" name="fileDefault" />
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <span class="lbl">Poids maximum de 10Mo</span>
                </div>
                <br/>
                <div class="row">
                    <label class="lbl"></label>
                    <label>Il est important que le produit/service choisi pour la comparaison possède une fonction principale identique au produit/service de Référence.</label>    
                </div> 
                <div class="row">
                    <label class="lbl"></label>
                    <input class="btn" type="submit" value="Valider" />
                </div>
            </fieldset>
        </form>

        <!-- <form action="{#{ path('design_project_description_pilote_save', { 'project' : project.id }) }#}#pilote" method="post" enctype="multipart/form-data">
            <fieldset class="odd">
                <h3 id="pilote">Pilote de l'etude</h3>
                <div class="row">
                    <label class="lbl">Pilote</label>
                    <input type="text" name="pilote" value="{#{ project.pilote }#}" />
                </div>
                <div class="row">
                    <label class="lbl">date</label>
                    <input type="text" name="pilote_date" value="{#{ project.piloteDate|date('d/m/Y') }#}" class="date-pick" />
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <input class="btn" type="submit" value="Valider" />
                </div>
            </fieldset>
         </form> !-->

        <!-- <form action="{#{ path('design_project_description_reglementation_save', { 'project' : project.id }) }#}#reglementation" method="post" enctype="multipart/form-data">
            <fieldset>
                <h3 id="reglementation">Réglementation</h3>
                <div class="row2">
                    <label class="lbl2">RoHS: Le produit contient-il des substances RoHS ?</label>
                    <input type="checkbox" name="rohs" {# if project.rohs #}checked{# endif #} value="1" />
                    <div class="help">Les substances interdites (RoHS) : Chrome 6, plomb, mercure , Cadmium, retardateur de flamme Brome (PBB et PBDE)</div>
                </div>
                <div class="row2">
                    <label class="lbl2">DEEE: Le produit est-il un DEEE ?</label>
                    <input type="checkbox" name="deee" {# if project.deee #}checked{# endif #} value="1" />
                    <div class="help">Directive sur les Déchets des Équipements Electriques et Électroniques </div>
                </div>
                <div class="row2">
                    <label class="lbl2">Pile et Accumulateur : Le produit en contient-il ?</label>
                    <input type="checkbox" name="battery" {# if project.battery #}checked{# endif #} value="1" />
                </div>
                <div class="row2">
                    <label class="lbl2">La pile ou l'accumulateur est-il extractible et accessible ?</label>
                    <input type="checkbox" name="battery_extract" {# if project.batteryExtract #}checked{# endif #} value="1" />
                </div>
                <div class="row2">
                    <label class="lbl2">REACH: Le produit contient-il des substances dangereuses de la liste ?</label>
                    <input type="checkbox" name="reach" {# if project.reach #}checked{# endif #} value="1" />
                    <div class="help"><a href="http://echa.europa.eu/web/guest/candidate-list-table" target="_blank">&gt; Voir la liste des substances REACH</a></div>
                </div>
                <div class="row">
                    <input class="btn" type="submit" value="Valider" />
                </div>
            </fieldset>
          </form> !-->
        
          <!--<form action="{#{ path('design_project_description_typeEvaluation_save', { 'project' : project.id }) }#}#typeEvaluation" method="post" enctype="multipart/form-data">
              <h3 id="typeEvaluation">Objet de l'étude</h3>
              <div class ="row2">
                  L'objet de l'étude est de : 
                  <select class="choixTypeEvaluation" name="typeEvaluation" style="width:300px;">
                      <option name="default" selected="selected">- Choisir -</option>
                      <option name="evalProduct" value="product" {# if project.typeEvaluation == 'product' #}selected="selected"{# endif #}>Evaluer l'éco-conception d'un produit nouveau</option>
                      <option name="evalAchats" value="achat" {# if project.typeEvaluation == 'achat' #}selected="selected"{# endif #}>Evaluer un produit dans le cadre des Achats Durables</option>
                  </select>
              </div> 
              <div class="row">
                  <input class="btn" type="submit" value="Valider" />
              </div>
          </form> !-->    

          <!--<form action="{#{ path('design_project_description_consommation_save', { 'project' : project.id }) }#}#consommation" method="post" enctype="multipart/form-data">
            <fieldset class="odd">
                <h3 id="consommation">Typologie du produit</h3>
                <div class="row2">
                    La typologie du produit est :
                    <select id="energy" name="energy">
                        <option selected="selected">- Choisir -</option>
                        <option value="1" {# if project.energy #}selected="selected"{# endif #}>Produit consommateur d'énergie</option>
                        <option value="0" {# if not(project.energy #) %}selected="selected"{# endif #}>Produit non consommateur d'énergie</option>
                    </select>
                    <input id="energy" type="checkbox" name="energy" {# if project.energy #}checked{# endif #} value="1" />
                </div>
                    <div id="energy-container" style="display: none;">
                    <div class="row2">
                        <label class="lbl2">Catégorie 1.1: Produit passif - Fonctionnement non-permanent</label>
                        <input type="radio" name="energy_type" {# if project.energyType == 'passif1' #}checked{# endif #} value="passif1" />
                        <div class="help">
                            <strong>Les produits passifs sont situés sur le circuit de puissance de l’installation électrique et sont traversés par le courant principal.  Ils réalisent des fonctions de contact, d’ouverture ou de conduction dans l’installation et dissipent de l’énergie.</strong><br/>
                            <em>La puissance dissipée est mesurée avec un taux de charge de 30% du courant nominal (In) pendant 30% du temps d’utilisation de l’installation et pas de courant le reste du temps</em>
                        </div>
                    </div>
                    <div class="row2">
                        <label class="lbl2">Catégorie 1.2: Produit passif - Fonctionnement permanent</label>
                        <input type="radio" name="energy_type" {# if project.energyType == 'passif2' #}checked{# endif #} value="passif2" />
                        <div class="help">
                            <strong>Les produits passifs sont situés sur le circuit de puissance de l’installation électrique et sont traversés par le courant principal.  Ils réalisent des fonctions de contact, d’ouverture ou de conduction dans l’installation et dissipent de l’énergie.</strong><br/>
                            <em>La puissance dissipée est mesurée avec un taux de charge de 30% du courant nominal (In) pendant 100% du temps d’utilisation de l’installation</em>
                        </div>
                    </div>
                    <div class="row2">
                        <label class="lbl2">Catégorie 2: Produit actif</label>
                        <input type="radio" name="energy_type" {# if project.energyType == 'actif' #}checked{# endif #} value="actif" />
                        <div class="help">
                            <strong>Les produits actifs sont des produits qui réalisent des fonctions de mesure ou de conversion d’énergie en consommant de l’énergie sur le circuit électrique principal.</strong><br/>
                            <strong>Indiquer selon le ou les mode(s) de fonctionnement du produit de référence :</strong><br/>
                            <em>- la puissance consommée pour chacun des modes de fonctionnement identifiés (mode arrêt, mode veille, mode marche)</em><br/>
                            <em>- la durée des modes de fonctionnement exprimée en pourcentage de temps d’un cycle complet.</em>
                        </div>
                    </div>
                    <a name="power"></a>
                    <div class="row2" style="display:none;">
                        <label class="lbl3">Puissance dissipée en phase active [W]</label>
                        <input type="text" name="power1" value="{# project.power1 #}" class="medium" />
                        <div class="help">
                            A saisir quelque soit la catégorie et si vous disposez de l'information
                        </div>
                    </div>
                    <div class="row2" style="display:none;">
                        <label class="lbl3">Puissance dissipée en phase veille [W]</label>
                        <input type="text" name="power2" value="{# project.power2 #}" class="medium" />
                        <div class="help">
                            A saisir quelque soit la catégorie et si vous disposez de l'information
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input class="btn" type="submit" value="Valider" />
                </div>
            </fieldset>
        </form> !-->
        
        <fieldset style="display: none;">
            <h3>Pour une évaluation ciblée d'un projet de</h3>
            <div class="row2">
                <label>- pièce métallique, répondre aux 9 critères suivants : 1-2-5-6-7-8-9-10-19</label>
                <label>- pièce plastique, répondre aux 10 critères suivants : 1-3-4-6-7-8-9-10-19-48</label>
                <label>- produit électronique, répondre aux 7 critères suivants : 1-2-5-7-8-33-36</label>
                <br/>
                <label>Faites-le également pour le produit/service choisi pour la comparaison puis reportez-vous aux notes dans "bilan du projet"</label>
                <label style="font-size: 10px;"><em>Note : Les profils radar ne doivent pas être exploités</em></label>
            </div>
        </fieldset>

        <form method="post" action="{{ path('design_project_operation_save', { 'id': project.id }) }}#operation">
            <fieldset class="odd">
                <h3 id="operation">Gestion de projet</h3>
                <table>
                    <tr>
                        <th>date</th>
                        <th>Nature des modifications apportées</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="operation_date" class="date-pick" value="{{ project.piloteDate|date('d/m/Y') }}" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" value="Création" /></td>
                    </tr>
                    {% for ope in operations %}
                        <tr>
                            <td><input type="text" name="operation_date_{{ ope.id }}" value="{{ ope.dateAction|date('d/m/Y') }}" class="date-pick" style="width: 80px;"  /></td>
                            <td><input type="text" name="operation_description_{{ ope.id }}" value="{{ ope.description }}"  class="large" /></td>
                        </tr>
                    {% endfor %} 
                    <tr>
                        <td colspan="6" style="font-size: 11px;">Ajouter une modification</td>
                    </tr>
                    <tr style="border-top: 1px solid #ccc;">
                        <td><input type="text" name="operation_date" class="date-pick" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="btn btn-success" type="submit" value="Ajouter / Valider" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</section>

{% endblock %}