<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>ArtoDesign</title>
        <link rel="stylesheet" type="text/css" href="{{ siteArtogreen }}/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ siteArtogreen }}/css/main.css" />
        <link rel="stylesheet" type="text/css" href="{{ siteArtogreen }}/css/design_main.css" />
    </head>
    <body style="background-color: transparent;">
        <div>
            {% include 'ArtoDesignBundle:Default:_exportPDF.html.twig' %}
        </div>
    </body>
</html>