{% extends '::design_base.html.twig' %}

{% block body %}

<section class="main transverse">
    <div class="justifiedDiv">
        <p style="font-size: 105%; line-height: 18px;">
      
          Le présent outil ArtoDesign est en conformité avec les normes<br/>
            - ISO 14062 "Intégration des aspects environnementaux dans la conception et le développement de produit"<br/>
            - ISO 14006 "Lignes directrices pour intégrer l'éco-conception"<br/>
            - ISO 14025 "Marquages et déclarations environnementaux - Déclarations environnementales de type III"<br/>
            - NF X 30-264 "Aide à la mise en place d'une démarche d'éco-conception".<br/>
            - ISO 14001 version 2015 "Systèmes de management environnemental — Exigences et lignes directrices pour son utilisation"
          <br/>
          Les sources des données affichées dans toutes les aides telles que « éco-comparateur » sont issues de :<br/>
            - Ecoinvent,<br/>
            - BUWAL 250,<br/>
            - ILCD handbook (International Reference Life Cycle Data System),<br/>
            - APME (Association of Plastics Manufacturers in Europe)<br/>
          <br/>
          Il répond aux besoins de tout type d'entreprise, quelles que soient leurs tailles, et en particulier les TPE/PME/PMI
          souhaitant initier une démarche d'éco-conception. Il fait appel à une méthodologie pragmatique  et innovante de mise en
          place d'une démarche d'éco-conception et permet notamment une appropriation rapide de l'éco-conception au sein de
          l'entreprise.<br/>
          <br/>
          L’ambition de cet outil d'éco-socio-conception donne une réponse pragmatique, efficace, en cohérence avec le temps et
          le budget disponible des TPE/PME/PMI. Il permet d'anticiper ou  d’introduire  d'ores et déjà les principes de Développement
          Durable  dans les projets de développement de produit nouveau et donner aux entreprises désireuses de prendre une
          longueur d'avance sur leurs concurrents.<br/> 
          <br/>
          Si la qualité environnementale du produit est un objectif, quelle grille de lecture utiliser pour la définir ? quels
          indicateurs quantitatifs et qualitatifs pourrait-on développer pour évaluer la qualité générée par les opérations de
          conception/développement? La diversité des exigences fonctionnelles du produit est importante. Cependant, à partir d'un
          échantillon de produits consommateurs d'énergie ou non à l'usage, considérés comme représentatifs, des éléments
          communs aux différents projets sont observables et permettent de dresser des typologies de produits en termes de critères
          qualitatifs (sûr, léger, sobre, durable, économique). L'analyse, en les croisant, vise à dégager d'un côté une typologie de
          critères qualitatifs de la qualité globale du produit, de l'autre une grille d'analyse novatrice. Cette grille d'analyse permet de
          mettre en avant rapidement les contributions néfastes du projet.<br/> 
          <br/>
          Un chef de projet de conception devant répondre à des exigences économiques, des besoins, des fonctions et des
          attentes, sans que l’impact sur l’environnement et la société génère des conséquences difficiles à gérer à postériori ne se
          faciliterait pas la tâche. L'objectif est en effet si global qu'il est difficile à appliquer concrètement. Notre proposition consiste
          à le décomposer en questions centrales en termes de meilleures pratiques  d'éco-conception, chaque question centrale
          donnant lieu à des domaines d'actions possibles en terme de critères d'amélioration du projet.<br/>
          <br/>
          Une fois esquissés les scénarios de concepts, les solutions de produits nouveaux,... ils doivent pouvoir être évalués très
          en amont de la conception. Les indicateurs peuvent y contribuer en permettant le recueil des données qualitatives
          correspondant au concept étudié appelé Produit de Référence comparé au produit existant ou concurrent. Le caractère
          innovant de cet outil est qu'il permet, très en amont du processus de conception et ceci en un minimum de temps (2 heures
          maximum), de garantir le concept éco-socio-conçu. Le bénéfice est conséquent en terme de temps passé, puisqu'il n'est pas
          nécessaire de réaliser durant la conception détaillé et sur la base de la nomenclature du produit défini, 2 ACV quantitatives
          et complètes (1 sur le produit défini et 1 sur le produit existant ou concurrent) mais seulement 1 ACV.  Le résultat obtenu
          génère des indicateurs qui ont quatre fonctions principales :  l'orientation de la rédaction des clauses d'un cahier des charges
          applicable  (CDC Achats, Marketing et Techniques), la quantification des impacts sur l'économie, l'environnement et la
          société, la simplification d'un sujet complexe et la communication dans le cadre d'une stratégie de marketing ou d'un
          rapport Développement Durable. Grâce à ces indicateurs, il sera donc possible de suivre l'évolution du produit au cours de
          son cycle de vie,  l'évaluation de sa performance globale et sa progression vers la réalisation des objectifs fixés par la
          direction pouvant éventuellement déboucher sur une labellisation. Les indicateurs sont de ce fait un outil important d'aide à
          la décision en matière de conception, de construction et de gestion.<br/>
          <br/>  
          ArtoDesign s'accompagne d'une méthode innovante qui permet d’orienter les choix de conception dès les premières phases
          de la conception où généralement ont lieu des décisions irréversibles et influentes sur le produit fini. Pour cela, il a
          recours à une analyse systémique à la fois simplifiée sur tout le cycle de vie du produit, collaborative avec les parties
          prenantes du projet et croisée sur les enjeux économiques, sociaux et environnementaux, afin de mieux cerner les sources
          d’impact, à identifier les meilleures pratiques en action, pour les partager et donner des idées. Tous les champs d'actions de
          la durabilité y sont abordés dans leur interdépendance, ce qui permet d’intervenir plus en amont dans le processus de
          conception, avec un effet bénéfique sur la performance globale du produit nouveau.<br/>
          </p>
   </div>       
</section>

{% endblock %}