{% extends '::design_base.html.twig' %}

{% block side %}
    {% include 'ArtoDesignBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<section class="main">
    <div>
        <h2>Cliquer dans le cadre bleu</h2>
    </div>
    <div class="form">
        <div class="project-home">
            <div class="project-main">
                <h1><a href="{{ path('design_project_description', { 'id': project.id }) }}">Produit/Service A : {{ project.projectName }}</a></h1>
                <h3>NOUVEAU, A ECO-CONCEVOIR</h3>
                <a href="{{ path('design_project_description', { 'id': project.id }) }}" style="text-align:center;display:block;width:400px">
                    <img src="{% if project.path is not empty %}{{ ('/uploads/design/' ~ project.path) | imagine_filter('standard') }}{% else %}/images/default.png{% endif %}" />
                </a>
            </div>
            <div class="project-default">
                <h1>Produit/Service B : {{ project.default.name }}</h1>
                <h3>PERMETTANT LA COMPARAISON</h3>
                <!-- <a href="{#{ path('design_project_description', { 'id': project.id, 'default': 1 }) }#}" style="text-align:center;display:block;width:400px"> !-->
                <p align='center'>
                    <img src="{% if project.default.path is not empty %}{{ ('/uploads/design/' ~ project.default.path) | imagine_filter('standard') }}{% else %}/images/default.png{% endif %}"/>
                </p>    
                <!-- </a> !-->
            </div>
        </div>
            <div class="clear"></div>
    </div>
</section>

{% endblock %}