{% extends '::design_base.html.twig' %}

{% block side %}
    {% set section = "bilanHPE" %}
    {% include 'ArtoDesignBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<section class="main">
    <h2>Haute Performance Sociétale du Produit/Service</h2>
    <div class="hpe">
        <div class="item">
            <p>Levier 1. Produit/Service ne contient pas de substances visées par la RoHS et REACH</p>
            {% if question1 %}
                <strong class="green">OUI</strong>
            {% else %}
                <strong class="red">NON</strong>
            {% endif %}
        </div>
        <div class="item">
            <p>Levier 2. Produit/Service à basse émission carbone</p>
            {% if question2 %}
                <strong class="green">OUI</strong>
            {% else %}
                <strong class="red">NON</strong>
            {% endif %}
        </div>
        <div class="item">
            <p>Levier 3. Recyclabilité supérieure ou égale à 60%</p>
            {% if question3 %}
                <strong class="green">OUI</strong>
            {% else %}
                <strong class="red">NON</strong>
            {% endif %}
        </div>
        <div class="item">
            <p>Levier 4. Produit/Service issu d’un site certifié ISO 14001</p>
            {% if question4 %}
                <strong class="green">OUI</strong>
            {% else %}
                <strong class="red">NON</strong>
            {% endif %}
        </div>
        <div class="item">
            <p>Levier 5. Produit/Service à forte valeur d'usage sociétale</p>
            {% if question5 %}
                <strong class="green">OUI</strong>
            {% else %}
                <strong class="red">NON</strong>
            {% endif %}
        </div>
        <div class="item">
            <p>Levier 6. Produit/Service possède un affichage environnemental</p>
            {% if question6 %}
                <strong class="green">OUI</strong>
            {% else %}
                <strong class="red">NON</strong>
            {% endif %}
        </div>
        <div class="item">
            <p>Levier 7. {% if project.typeEvaluation == 'product' %}Produit/Service éco-conçu{% else %}Achats durables{% endif %} par rapport au standard</p>
            {% if question7 %}
                <strong class="green">OUI</strong>
            {% else %}
                <strong class="red">NON</strong>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</section>

{% endblock %}