{% extends '::design_base.html.twig' %}

{% block side %}
    {% set section = "instructions" %}
    {% include 'ArtoDesignBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}

<section class="main transverse">
    <div style="text-align: justify;">
        <h1>Instruction de l’outil ARTODESIGN</h1>
        
        <h2>0. Domaine d'application</h2>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>ArtoDesign</b> s’applique : 
            <br/>- au développement de produit/service nouveau d’un Projet Industriel,
            <br/>- à la re-conception d'un produit/service existant,
            <br/>- pour un produit/service existant,
            <br/>- pour un produit/service acheté.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Cet outil permet l’évaluation environnementale du produit/service en conformité avec la nouvelle version 2015 de la norme ISO 14001. Il répond aux critères d’exigences des normes 14006, 14062 et la NFX 30-264 de février 2013 « Management environnemental - Aide à la mise en place d'une démarche d'éco-conception ».</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Il permet également les évaluations environementales, sociétales et économique du produit/service :
            <br/>- nouveau à éco-concevoir,
            <br/>- existant à reconcevoir et/ou à produire,
            <br/>- à acheter.
        </p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Les nouvelles exigences de l’ISO 14001 parue en octobre 2015 font que cette version de norme contribue largement au pilier Environnement du Développement Durable. Parmi ces exigences figure l’exigence 6.1.2 : <b>« identifier les aspects environnementaux et les impacts environnementaux associés de ses activités, produits et services que l’organisme a les moyens de maîtriser et ceux sur lesquels il a les moyens d’avoir une influence, dans une perspective de cycle de vie »</b>. Il n’est pas requis de procéder à la méthode détaillée et normative d’Analyse du Cycle de Vie (ACV). La prise en considération des phases du cycle de vie qui peuvent être maîtrisées ou influencées par l’organisme suffit.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>En plus des aspects environnementaux qu’il peut maîtriser directement par son processus métiers, l’organisme doit déterminer s’il existe des aspects environnementaux qu’il peut influencer</b>. Ceux-ci peuvent être liés aux produits et services utilisés par l’organisme qui sont fournis, en amont de son processus métiers, par les fournisseurs et sous-traitants, ainsi qu’aux produits et services qu’il fournit en aval, à ses clients, l’utilisation et l’élimination finale de ses produits une fois hors de son contrôle. <b>Dans tous les cas, c’est l’organisme qui détermine le degré de maîtrise qu’il est en capacité d’exercer, les aspects environnementaux qu’il peut influencer, et la mesure selon laquelle il choisit d’exercer une telle influence</b>.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; C’est là que se profile une forte contribution de la norme ISO 14001 version 2015 au pilier Environnement du Développement Durable. Notamment l’exigence pour l’organisme <b>à identifier les opportunités à développer des produits et services sur la perspective de cycle de vie, en amont et en aval de son processus métiers, lui donnant un avantage concurrentiel</b> en proposant une valeur à ses clients. C’est-à-dire que l’organisme va se poser les questions là où elle n’a pas la maîtrise et là où elle peut avoir une influence en direction de ses parties prenantes <b>dans sa sphère d’influence</b> (voir image ci-dessous) avec laquelle elle va créer de la valeur économique d’une manière qui profite aussi à la société tout en répondant à ses besoins.</p>
        <br/>
        <img src="/images/design/DesignInstructionsSphereInfluence.jpg" style="width:45%"/>
        <br/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>Les applications web ArtoGreen couvrant toute la supply-chain des produits et services répondent à créer de la valeur économique pour l’entreprise et assurent, un avantage concurrentiel certain</b></p>
        
        <h3>Méthodologie appliquée pour le développement de l’application ArtoDesign</h3>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Les étapes du Cycle de Vie (CV) auxquels sont associés les critères dans l’application ArtoDesign représentent les aspects environnementaux et sociaux du produit ou du service. Chaque étape du CV est pondérée en fonction de leurs impacts environnementaux et sociaux sur le produit/service et ce, sur la base d’un retour d’expérience en éco-conception de plus de 15 ans.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Les critères du produit ou du service affichés sous la forme d’un radar dans le bilan d’ArtoDesign représentent les impacts environnementaux et sociaux sous la forme d’impacts sur le produit/service (sûr, léger, sobre, durable et économique).</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Le tableau ci-dessous affiche les pondérations en % qui ont été affectées à chaque étape du CV. Prenons l’exemple d’un organisme dont le métier est la prestation de maintenance avec un service à usage énergétique. L’étape « Réalisation » pondérée à 50% représentant le processus métier, est un aspect environnemental et/ou social significatif. Dans le but de réduire les impacts environnementaux et sociaux de ses produits/services, l’organisme de prestation de maintenance dispose de la capacité d’exercer son métier de service, il en a donc la maîtrise. Par contre, l’étape « Acquisition », située en amont du processus métier, est également un aspect environnemental et/ou social significatif que l’organisme ne maîtrise pas mais qu’il peut influencer de façon importante car cette dernière est pondérée à 25%. Les critères affichés dans l’application ArtoDesign et associés à cette étape d’acquisition, vont permettre à l’organisme d’identifier les opportunités d’actions afin d’influencer ses parties prenantes (ex. les fournisseurs et sous-traitants) à minimiser les impacts environnementaux et sociaux de leurs fournitures. De plus, les critères associés dans les autres étapes situées <b>dans sa sphère d’influence</b> en aval du processus métier de service, lorsqu’ils sont décidés d’être mis en œuvre par l’organisme, représentent la mesure selon laquelle ce dernier choisit d’exercer une telle influence.</p>
        <br/>
        <img src="/images/design/DesignInstructions0.jpg" style="width:35%"/>
        <br/><br/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Chaque critère ou aspect environnemental et social du produit/service est pondéré selon leur niveau d'importance ou d'impact (voir tableau ci-dessous) établi sur la base du retour d'expérience de plus d'une centaine études ACV réalisées sur des produits/services à usage énergétique et non énergétique, et ce en conformité avec les normes ISO 14040 et ISO 14044.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Les actions de réduction ou d'amélioration du produit/service doivent portées en priorité, sur les critères ou aspects environnementaux du produit/service les plus impactants sur l'environnement, appelés Aspects Environnementaux Significatifs (AES) surlignés en jaune dans le tableau ci-dessous.</p>
        <br/>
        <img src="/images/design/DesignPoidsCriteres.jpg" style="width:50%"/>
            
            
        <h2>I. Résumé de présentation de l’outil</h2>
        <h3>I.1 Utilisé dans le cadre de l'éco-conception d'un produit/service</h3>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>ArtoDesign</b> propose aux acteurs de la conception d’un projet de produit/service nouveau, une méthode structurante d’évaluation, réalisée sur la base de critères transparents et évolutifs pour déboucher sur l’expression du résultat d’éco-conception du projet. La méthode est une approche qualitative et comparative où les champs d'actions d’éco-socio-conception y sont abordés permettant d'identifier rapidement les points faibles et les points forts du projet dans le but de concentrer l'ingénierie et la technicité sur les points faibles à améliorer. Son usage en phase de conception du projet n'est pas exclusif d'une partie des acteurs mais contribue à la mobilisation et l'association d’acteurs clés de toutes les phases du projet comme le chef de projet, les concepteurs et industrialisateurs, le marketing, la qualité, les achats, la logistique,...dans une perspective de partage et d'étaiement du rôle collectif de conception et qui est indispensable pour assurer l’éco-conception du projet.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Nous sommes persuadés de sa compatibilité avec les résultats d’Analyse du Cycle de Vie (ACV). En effet, <b>ArtoDesign</b> a été pensé à la fois suivant le cycle de vie du projet d’un point de vue qualitatif et les principes du développement durable. Les points de vue social, environnemental, économique permettent  d'appréhender sous la vision à 360° tous les enjeux contributifs au développement du produit/service éco-conçu.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>ArtoDesign</b> est un accélérateur de créativité car il oblige chaque participant à réfléchir non pas isolément dans ses connaissances établies, ses pratiques individuelles et ses protocoles d’évaluation stabilisés, mais à réfléchir autrement, en cohésion entre tous en tant que vecteur d’un processus dynamique de coopération et de cohésion simultanées.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’exercice d’évaluation qu’offre <b>ArtoDesign</b> est un processus de conception qui se construit dans l’action collective qui dépasse le seul fait de répondre aux critères. Certes, l’accord autour d’intérêts communs n’est pas simple à créer entre tous les acteurs du projet. L’animateur désigné doit faciliter et maîtriser les débats et déboucher sur la fixation de solutions éco-socio-conçues. La co-conception de cette cohésion interdisciplinaire est formalisée dans le partage d’une vision commune, c’est ce qui fait d’<b>ArtoDesign</b> un outil innovant.</p>
        
        <h3>I.2 Utilisé dans le cadre des Achats des Marchés Publics et Privés Durables</h3>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>ArtoDesign</b> propose aux Acheteurs des Marchés Publics et Privés responsables, un outil structuré sous la forme d’une grille de critères d’évaluation qualitative et comparative des performances environnementale et sociale qui induiront une performance économique sur le court et le long terme. D’une part, les candidats apportent les éléments de réponse aux critères d’évaluation qui serviront de base de jugement des offres sur le critère de performance globale et d’autre part, les acheteurs peuvent établir un classement des offres.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>ArtoDesign</b> procède à une prise en considération qualitative très facilement de toutes les phases du cycle de vie sans devoir faire une évaluation détaillée, longue et coûteuse du cycle de vie des produit/services. L’Acheteur peut ainsi maîtriser ou influencer la manière dont les produit/services et services des candidats sont conçus, fabriqués, distribués, consommés et éliminés en adoptant une perspective de cycle de vie afin d’éviter que des problèmes environnementaux ne se reportent involontairement dans d’autres phases du cycle de vie.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; En cohérence avec la perspective du cycle de vie, l’Acheteur avec <b>ArtoDesign</b> établit les critères de performance économique, sur le coût global d’utilisation et l’ensemble des coûts induits. L’outil prend en considération les impacts de fonctionnement générés par l’extraction des matières premières, la conception, l’acquisition de produit/services et services, la production, le transport des approvisionnements, l’utilisation du produit/service, de retraitement et/ou d’élimination en fin de vie (recyclage des matériaux, élimination des déchets,…). 
            <br/>L’analyse du critère prix doit donc tenir compte des coûts induits par l'opération d'achats :
            <br/>- soit du fait de l'accroissement des charges d'entretien ou d'exploitation pour la collectivité,
            <br/>- soit en termes d'économies résultant d'avancées technologiques ou d'innovation.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;  <b>ArtoDesign</b> permet de reconnaître la qualité écologique des produit/services et services par :
            <br/>- les réponses apportées aux cahiers des clauses environnementales et sociales, 
            <br/>- la maîtriser du concept de cycle de vie des produit/services et services par le candidat,
            <br/>- Ia qualité et la pertinence des preuves documentaires servant de référentiels : écolabels (officiels, spécifiques),
            <br/>- l’apport des systèmes de management environnemental mis en œuvre par les entreprises,
            <br/>- la grille de critères permettant d’évaluer et comparer les offres, ce qui sous-entend que l’acheteur sera en mesure d’évaluer les réponses des candidats sur ces critères</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>ArtoDesign</b> permet également d’identifier les meilleures pratiques d'achat public ou privé responsable, de maîtriser les modalités pratiques d'insertion d'exigences environnementales et sociales par :
            <br/>- la construction des dossiers de consultation pour un achat durable et responsable,
            <br/>- la répartition des attentes environnementales et sociales entre spécifications techniques, conditions d’exécution, critères de choix, …,
            <br/>- l’aide à la rédaction des documents de consultation sur les aspects environnementaux et/ou sociaux, 
            <br/>- l’identification des aspects environnementaux et les impacts environnementaux associés de ses activités, produit/services et services achetés,
            <br/>- la qualité des réponses : celle-ci est étroitement corrélée à la qualité des questions et à leur précision </p>
        
        <h2>II. Description technique de l’outil</h2>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>ArtoDesign</b> est une approche qualitative, collaborative et comparative entre 2 concepts de produit/services nouveaux ou entre un projet de produit/service nouveau et un produit/service concurrent ou existant dit « de référence ». Cela nécessite de connaître le produit/service concurrent si c’est le cas par la réalisation au préalable d’une analyse du produit/service concurrent.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’outil propose donc aux acteurs en réunion, une méthode structurante d’évaluation, réalisée de manière transparente sur la base de 50 meilleures pratiques ou critères d’éco-conception appelés aspects environnementaux positifs du produit/service à éco-concevoir ou à forte durabilité. Ils sont répartis selon les 5 étapes du cycle de vie d’un produit/service :</p>
        <ul>
            <li>- 10 pour l’étape « Matériaux »,</li>
            <li>- 11 pour l’étape « Fabrication »,</li>
            <li>- 8 pour l’étape « Distribution »,</li>
            <li>- 13 pour l’étape « Utilisation »,</li>
            <li>- 8 pour l’étape « Fin de vie ».</li>
        </ul>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’efficacité du processus d'implémentation d'<b>ArtoDesign</b> repose sur la qualité de l'animation du travail de groupe, de la qualité des interactions entre acteurs associés et de la créativité qui en résulte. Mené dès la phase de conception, l'outil logiciel web est d’utilisation facile et met en avant l'importance de l'activité de conception collective. Cet outil unique d'aide à l'évaluation/communication/décision est un outil de débat, d'interactions et de partage permettant en un minimum de temps (2 h maximum), de mettre en discussion tous les impacts économiques et socio-environnementaux d'un projet en accord avec les principes du développement durable.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Les acteurs pour l’évaluation du projet sont définis. Le projet à évaluer est défini (nom projet, unité fonctionnelle) à la comparaison. Ce dernier doit disposer des fonctions similaires au produit/service nouveau. De même, il est nécessaire d’afficher l’objet de l’étude et la typologie du produit/service : </p>
        <ul>
            <li>- Evaluer l’éco-conception d’un produit/service nouveau ? ou</li>
            <li>- Evaluer un produit/service dans le cadre des Achats Durables ?</li>     
        </ul>
        <!--<p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Pour des raisons de simplification, les critères d’éco-conception sont identiques quelque soit la typologie du produit/service.</p>
        <img src="/images/design/DesignInstructions1.jpg" style="width:20%"/>
        <img src="/images/design/DesignInstructions2.jpg" style="width:20%"/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’équipe projet constituée de l’ensemble des acteurs de la réunion d’évaluation, passe en revue chacun des critères d’éco-conception aidés des aides utiles à l’évaluation.
            <br/><br/>&nbsp; &nbsp; L'ensemble des aides (éco-comparateurs, grilles, tableaux, check-list) présentées dans l'outil proviennent de sources fiables et reconnues qui sont :</p>
            <ul>
                <li>- ILCD,</li>
                <li>- Ecoinvent,</li>
                <li>- BUWAL 250,</li>
                <li>- APME (<b>A</b>ssociation of <b>P</b>lastics <b>M</b>anufacturers in <b>E</b>urope),</li>
                <li>- Bilan Carbone et études déchets réalisés par l'ADEME,</li>
                <li>- Les réglementations RoHS et REACH,</li>
                <li>- ...</li>
            </ul>
            
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Le débat entre les acteurs du projet est maîtrisé et animé par un pilote de l’évaluation. Il consiste à donner une cotation (Faible ou Fort) en réponse ou pas à chacun des critères portés d’une part par le projet puis d’autre part par le produit/service servant de comparaison (ou de référence).
            L’évaluation doit être exprimée en différentielle entre le projet et le produit/service de référence : Fort si le projet (ou la référence) intègre le critère et y contribue plus fortement par rapport au projet de référence (ou le projet de produit/service nouveau). Faible si inversement.
            Dans le cas où le critère est sans objet pour le projet (ou la référence), la cotation est notée Fort. C’est le cas par exemple, des produit/services non consommateurs d’énergie en regard de certains critères de l’étape « Utilisation ».</p>
        <img src="/images/design/DesignInstructions3.jpg" style="width:20%"/>
        <img src="/images/design/DesignInstructions4.jpg" style="width:20%"/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’animateur trace les commentaires ou justificatifs et éventuellement la ou les actions d’améliorations à apporter au projet. Les 50 facteurs d’éco-socio-conception sont ainsi débattus pour ensuite exprimer un résultat final.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; La pondération  affectée à Fort ou Faible de chaque facteur d’éco-socio-conception est modifiable selon le contexte local, les fonctionnalités du produit/service ou encore, en fonction de directives des directions de développement. La traçabilité des commentaires et justificatifs émis par les acteurs sur les le projet et le produit/service pris pour comparaison en regard des critères peut-être archivée. Cet archivage de données qualitatives et/ou quantitatives rend itératif le processus d’évaluation. L’outil donne également la possibilité de préparer, simultanément de l’évaluation par critères, un plan d'actions partagé par tous, de façon à faciliter sa mise en œuvre et son pilotage tout au long de la réalisation du projet. Dans ce dernier cas, la cotation est Fort.  La vérification de la mise en œuvre des actions est réalisée auprès des acteurs du développement lors d’une revue de conception.</p> !-->
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’expression des résultats est présentée sous la forme de 2 profils d’impacts ou radars (contributeurs par étape et par critères représentant le produit/service) et d’un score quantitatif noté sur 20 points, offrant un aperçu simultané de la performance globale du projet. Plus le résultat est proche de la périphérie du radar, mieux c’est en terme d’impact (réponse positive au critère atteint). Les critères contributeurs d’impacts qualifiant le projet de produit/service nouveau de durable ou de non durable, sont :</p>
        <ul>
            <li>- Sûr <em>en toxicité, ...</em></li>
            <li>- Léger <em>en masse</em></li>
            <li>- Sobre <em>en énergie</em></li>
            <li>- Durable <em>recyclable, robuste, ...</em></li>
            <li>- Economique <em>en coût global</em></li>
        </ul>
        <img src="/images/design/DesignInstructions5.jpg" style="width:20%"/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Un second bilan appelé Haute Performance Environnementale (HPE) résume visuellement les qualités du projet de produit/service nouveau suivant 7 leviers :</p>
        <ul>
            <li>- Levier 1. Le produit/service ne contient pas de substances visées par la RoHS</li>
            <li>- Levier 2. Traçabilité des substances préoccupantes REACH</li>
            <li>- Levier 3. Recyclabilité supérieure ou égale à 60%</li>
            <li>- Levier 4. Produit issu d’un site de production ISO14001</li>
            <li>- Levier 5. Produit issu d’une plateforme de développement avec un SME</li>
            <li>- Levier 6. Le produit/service possède une éco-déclaration type Profil Environnemental Produit (PEP)</li>
            <li>- Levier 7. Le produit/service est éco-conçu par rapport au standard</li>
        </ul>
        <img src="/images/design/DesignInstructions6.jpg" style="width:20%"/>
        
        <h2>III. Description détaillée de l’outil ARTODESIGN</h2>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 1-	Définir les acteurs pour l’évaluation</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 2-	Passer en revue chaque étape du cycle vie puis évaluer les critères d’éco-socio-conception,</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 3- Evaluer par Fort ou Faible, chaque critère</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>Type de réponse attendue</b></p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 2 réponses sont possibles Fort et Faible (réponse binaire). Ce résultat repose sur une évaluation qualitative et repose également sur une évaluation comparative entre 2 produit/services et donc, engendre 3 réflexions amenées par l'étendue et la pertinence des informations avant de faire le choix entre Fort ou Faible :</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Fort : « Satisfaction du critère et apporte une réponse + forte sinon identique par comparaison »
            <br/> Ce choix signifie que le produit/service P1 satisfait le critère et apporte une réponse au critère + forte sinon identique par rapport au produit/service P2</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Faible : « Insatisfaction du critère » ou « Satisfaction du critère et apporte une réponse + faible par comparaison »
            <br/>Ce dernier choix signifie que le produit/service P1 satisfait le critère et apporte une réponse au critère + faible par rapport au produit/service P2
        </p>
        <img src="/images/urba/UrbaInstructions9.jpg"/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 4-	Apporter les preuves de satisfaction à chacun des critères et tracer les commentaires à vos réponses si nécessaire,
            <br/>Nota : Les documents servant de modes de preuves sont diffusés avec le questionnaire et structurés de manière à retrouver facilement le critère auquel le document répond.
        </p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>Dans le cas où l'information attendue est inexistante ou non disponible :</b>
            <br/>&nbsp; &nbsp; &nbsp; <b> - pour  l'un des deux produits, coter "FAIBLE", le produit/service concerné,</b>
            <br/>&nbsp; &nbsp; &nbsp; <b> - pour les deux produits, coter "FAIBLE", les deux produits/services concernés.</b>
        </p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>Modes de preuves attendues : Référentiels de transparence, d'éthique et de confiance </b>
            <br/>&nbsp; &nbsp; &nbsp; • <b>Rapport de développement Durable</b> ou <b>Document de Référence</b>, <b>Feuille de route</b> RSE
            <br/>&nbsp; &nbsp; &nbsp; • <b>Certification</b> aux normes ISO 9001, 14001, 50001, OHSAS 18001, etc.
            <br/>&nbsp; &nbsp; &nbsp; • <b>Adhésion</b> au Pacte Mondial, <b>Charte</b> éthique, Charte de prévention, Politique Achats, etc.
            <br/>&nbsp; &nbsp; &nbsp; • <b>Déclaration</b> ou <b>affichage environnemental</b>, <b>Eco-labellisation</b> produit/service, etc.
            <br/>&nbsp; &nbsp; &nbsp; • <b>Rapport d’audit</b>, de vérification des données par un organisme indépendant, rapport laboratoire de mesures des consommations d’électricité, etc.
            <br/>&nbsp; &nbsp; &nbsp; • <b>Attestation de conformité</b> de l’absence de substances dangereuses, etc.
            <br/>&nbsp; &nbsp; &nbsp; • <b>Déclaration du fabricant</b> précisant le descriptif des aspects positifs : allègement du poids, du volume, éco-conception du produit/service ou de l'emballage pour faciliter le recyclage, éco-conduite, choix d’un type de transport, véhicules propres, etc.
            <br/>&nbsp; &nbsp; &nbsp; • <b>Documents techniques</b>, <b>spécifications</b>, fiche technique, indicateurs, protocole, procédure, notice, manuel d'utilisation, programme de la formation, fiche de fin de vie ou document précisant la nature et la proportion des substances contenues dans les composants et produit/services, etc.
            <br/>&nbsp; &nbsp; &nbsp; • … 
        </p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Dans le cas où <b>ArtoDesign</b> est utilisé dans le cadre de l’éco-conception d’un produit/service, les preuves étant difficiles à apporter dès l’amont du projet de développement, des commentaires techniques justifiant la réponse sont nécessaires et permettent de conserver la traçabilité des informations.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Dans le cas où <b>ArtoDesign</b> est utilisé dans le cadre des Achats Durables, les preuves attendues décrites ci-dessus apportées par le fournisseur sont nécessaires et indispensables. Néanmoins, dans le cas où la preuve de satisfaction du critère est absente, des commentaires et une ou des actions peuvent être décrites permettant de démontrer la volonté du fournisseur à s’engager dans la mise en œuvre du critère demandé.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 5-	Porter des actions d’amélioration ou d’engagements planifiés afin de mieux répondre aux critères</p>
        <img src="/images/design/DesignInstructions8.jpg"/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 6-	Visualiser le bilan du projet, le score de performance globale, les profils d’impacts (par étape du cycle de vie et par critères du produit/service), revenir si besoin sur l’évaluation,</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 7-	Apporter les éléments de gestion du plan d’actions sur les aspects environnementaux et sociaux significatifs (date de fin, pilote de l’action).</p>
    </div>
</section>

{% endblock %}