{% extends '::design_base.html.twig' %}

{% block side %}
    {% set section = "recherche" %}
    {% include 'ArtoDesignBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
     $(function(){
         $('#search').submit(function() {
            event.preventDefault();
            parent = $(this).parent();
            var key = parent.find('.searchKey').val();
            
            $.post("{{ path('design_project_search', { 'id': project.id }) }}", {key: key}, function(data) {
                var searchResult = parent.find('.searchResult');
                searchResult.html(data);
                searchResult.change();
            });
        });
     });    
</script>    
<section class="main">
    <form id="search" method="post" action="{{ path('design_project_search', { 'id': project.id }) }}">
        <input type="text" class="searchKey" />
        <input class="btn btn-info" type="submit" value="Rechercher" />
    </form>
    
    <div class="searchResult"></div>
</section>

{% endblock %}