{% extends '::design_base.html.twig' %}

{% block side %}
    {% set section = "bilanInteractif" %}
    {% include 'ArtoDesignBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(document).ready(function(event) {
            var projectId = $(this).find('.projectId').val();
            console.log('Project id : '+projectId);
            
            $.post("{{ path('design_project_visit') }}?projectId="+projectId, function(data) {
                var firstVisit = data.firstVisit;
                console.log('firstVisit : '+firstVisit);
                
                if(firstVisit === true){
                    for(var i=1; i<=5;i++){
                        var criterias = $(document).find('.criteria'+i);
                        
                        $.each(criterias, function(key, value){
                          $(value).hide();  
                        });
                    }
                    
                    $.post("{{ path('design_project_unvisit') }}?projectId="+projectId, function(data) {    
                    });
                }
            }, 'json');
        });
        
        $(".showHideCriterias").live('click', function(event) {
            var categoryId = $(this).attr('id');
            var projectId = $('.projectId').val();
            var parent = $(this).parent().parent().parent();
            
            $.post("{{ path('design_category_hide_autoActions') }}?categoryId="+categoryId+"&projectId="+projectId, function(data){
                var criterias = parent.find('.criteria'+categoryId);
                var isDeployed = data.isDeployed;

                $.each(criterias, function(key, value){
                    if(isDeployed === false){
                        $(value).hide();
                    }else{
                        $(value).show();
                    }
                });
            }, 'json');  
        });
    });
</script>    
<section class="main">
    {% set simulatedQeb = project.simulatedQeb %}
    {% set ecoConcu = false %} 
    {% set ecart = qeb - qeb_default %}
    {% if qeb >= 12 and ecart >= 1 %}
        {% set ecoConcu = true %}
    {% endif %}
    <input type="hidden" class="projectId" value="{{ project.id }}"/>
    <div class="radars">
        <div class="radar">
            <h4>PROFIL PRODUIT/SERVICE SUR CYCLE DE VIE<br/><em>En nombre de critères atteints</em></h4>
            <img src="{{ path('design_project_chart', { 'id' : project.id, 'simulated' : 'true' }) }}"  width="400" height="350" />
        </div>
        <div class="qeb-container">
            <em>Performance Globale<br/><small>notée sur 20</small></em>
            <div class="qeb">
                <span>{{ qeb }}</span>
                <span class="qeb-default">{{ qeb_default }}</span>
            </div>
        </div>
        <div class="radar">
            <h4>PROFIL PRODUIT/SERVICE PAR CRITERES<br/><em>En nombre de critères atteints</em></h4>
            <img src="{{ path('design_project_chart2', { 'id' : project.id, 'simulated' : 'true' }) }}" width="400" height="350" />
        </div>
        <div class="criterias">
            <br> 
            <br>
            <br>Légende :
            <br>un indicateur à 100%
            <br>sur le radar (en périphérie),
            <br>signifie un impact positif
            <br>
            <br>
            <br>
            <b>Sûr</b><em> en toxicité, ...</em><br>
            <b>Léger</b><em> en masse</em><br>
            <b>Sobre</b><em> en énergie</em><br>
            <b>Durable</b><em> recyclable, robuste, ...</em><br>
            <b>Economique</b><em> en coût global</em>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <font color="black" style="font-weight: bold; font-size: 10pt;">Règle</font> :
            <br>le produit/service A est éco-conçu si : 
            <br>- son indicateur de performance globale est > 12
            <br>et
            <br>- l'écart de variation avec le produit/service B >=1
        </div>

        <div class="clear"></div>
    </div>
    <div class="summuary">
         <table>
             <tr>
                 <td width="400" align="center">
                     <table class="items">
                        <tr>{% render 'ArtoDesignBundle:Default:summuaryCategory' with {'id': project.id, 'simulated' : 'true' } %}</tr>
                     </table>
                 </td>
                 <td width="130"></td>
                 <td width="400" align="center">
                     <table class="items">
                         <tr>{% render 'ArtoDesignBundle:Default:summuaryProfile' with {'id': project.id, 'simulated' : 'true' } %}</tr>
                     </table>
                 </td>
                 <td>&nbsp;</td>
             </tr>
             <tr>
                 <td width="400">
                     <h3 style="text-align: right;">le Produit/Service A est</h3>
                 </td>
                 <td width="130">
                     {% if ecoConcu == true %}
                        {% if project.typeEvaluation == 'achat' %}
                           <div class="item green" style="text-transform: uppercase; width: 130px;">durable</div> 
                        {% elseif project.typeEvaluation == 'product' %}
                           <div class="item green" style="text-transform: uppercase; width: 130px;">éco-conçu</div>
                        {% elseif project.typeEvaluation == 'service' %}   
                           <div class="item green" style="text-transform: uppercase; width: 130px;">éco-conçu</div>
                        {% endif %} 
                     {% else %}
                        {% if project.typeEvaluation == 'achat' %}
                           <div class="item red" style="text-transform: uppercase; width: 130px;">non durable</div> 
                        {% elseif project.typeEvaluation == 'product' %}
                           <div class="item red" style="text-transform: uppercase; width: 130px;">non éco-conçu</div>
                        {% elseif project.typeEvaluation == 'service' %}
                           <div class="item red" style="text-transform: uppercase; width: 130px;">non éco-conçu</div>   
                        {% endif %}   
                     {% endif %}
                 </td>
                 <td width="400">
                    <h3 style="text-align: left;">par rapport au Produit/Service B</h3>
                 </td>
                 <td>&nbsp;</td>
             </tr>
             {% if ecoConcu == false %}
                <tr>
                    <td colspan="3" align="center"><b>Retenez des propositions parmi celles décrites ci-dessous puis validez</b></td>
                    <td>&nbsp;</td>
                </tr>
             {% endif %}
        </table>
    </div>
    
    <div>
        <form method="post" action="{{ path('design_project_bilan_interactif_save', { 'id' : project.id }) }}">
            <fieldset>
                <table class="table">
                    <tr>
                        <th style="text-align: left; font-size: 12pt; width: 380px;">Aspects significatifs</th>
                        <th style="text-align: left; font-size: 12pt;">Proposition d'action d'amélioration</th>
                        <th style="text-align: center; font-size: 12pt; width: 130px;">Action retenue ?</th>
                    </tr>
                    {% for category in categories %}
                        {% set nbCriterias = 0 %}
                        {% for criteria in category.criterias %}
                            {% for autoAction in autoActions %}
                                {% if autoAction.criteria.id == criteria.id %}
                                    {% set nbCriterias = nbCriterias + 1 %}
                                {% endif %}
                            {% endfor %}    
                        {% endfor %}
                        {% if nbCriterias != 0 %}
                            <tr>
                                <td colspan="2" align="center" class="category-color-{{ category.id }}" style="width:300px;">
                                    <font color="black" style="font-weight : bold;">{{ category.label }}</font><font> ( {{ nbCriterias }} {% if nbCriterias == 1 %}amélioration  possible{% else %}améliorations possibles{% endif %} )</font>
                                </td>
                                <td class="category-color-{{ category.id }}">
                                    <a href="javascript:void(0)" class="showHideCriterias" style="color: transparent;" id="{{ category.id }}">
                                        <img src="/css/skin/favicon.ico" style="width:16px; height:16px;"/>
                                    </a>
                                </td>
                            </tr>
                            {% for criteria in category.criterias %}
                                {% for autoAction in autoActions %}
                                    {% if autoAction.criteria.id == criteria.id %}
                                        <tr class="criteria{{ criteria.category.id }}" {% if autoAction.deployed == false %}style="display :none;"{% endif %}>
                                            <td>{{ criteria.id }}. {{ criteria.label }}</td>
                                            <td><b>{{ criteria.defaultAction|raw|nl2br }}</b></td>
                                            <td style="text-align: center;"><input type="checkbox" name="criteria_change_accepted_{{ criteria.id }}" value="1" {% if autoAction.accepted == true %}checked="checked"{% endif %}></td>            
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td align="right"><b>Afin d'interagir sur les résultats du radar, n'oubliez pas de valider</b></td>
                        <td align="right"><input class="btn btn-info" type="submit" value="Valider" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</section>

{% endblock %}