{% extends '::design_base.html.twig' %}

{% block side %}
    {% set section = "bilan" %}
    {% include 'ArtoDesignBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<section class="main">
    {% set nbActions = 0 %}
    {% set ecoConcu = false %}
    {% set ecart = qeb - qeb_default %}
    {% if qeb >= 12 and ecart >= 1 %}
        {% set ecoConcu = true %}
    {% endif %}
    
    {% for criteria in criterias %}
        {% if actions[criteria.id] is defined and actions[criteria.id] is not empty %}
            {% set nbActions = nbActions + 1 %}
        {% endif %}
    {% endfor %}
    
    {% set chartName = "chart1-"~project.id~".png" %}
    <div class="radars">
        <div class="radar">
            <h4>PROFIL PRODUIT/SERVICE SUR CYCLE DE VIE<br/><em>En nombre de critères atteints</em></h4>
            <img src="{{ path('design_project_chart', { 'id' : project.id , 'simulated' : 'false' }) }}"  width="400" height="350" />
        </div>
        <div class="qeb-container">
            <em>Performance Globale<br/><small>notée sur 20</small></em>
            <div class="qeb">
                <span>{{ qeb }}</span>
                <span class="qeb-default">{{ qeb_default }}</span>
            </div>
        </div>
        <div class="radar">
            <h4>PROFIL PRODUIT/SERVICE PAR CRITERES<br/><em>En nombre de critères atteints</em></h4>
            <img src="{{ path('design_project_chart2', { 'id' : project.id, 'simulated' : 'false' }) }}" width="400" height="350" />
        </div>
        <div class="criterias">
            <br> 
            <br>
            <br>Légende :
            <br>un indicateur à 100%
            <br>sur le radar (en périphérie),
            <br>signifie un impact positif
            <br>
            <br>
            <br>
            <b>Sûr</b><em> en toxicité, ...</em><br>
            <b>Léger</b><em> en masse</em><br>
            <b>Sobre</b><em> en énergie</em><br>
            <b>Durable</b><em> recyclable, robuste, ...</em><br>
            <b>Economique</b><em> en coût global</em>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <font color="black" style="font-weight: bold; font-size: 10pt;">Règle</font> :
            <br>le produit/service A est éco-conçu si : 
            <br>- son indicateur de performance globale est > 12
            <br>et
            <br>- l'écart de variation avec le produit/service B >=1
        </div>

        <div class="clear"></div>
    </div>
    <div class="summuary">
         <table>
             <tr>
                 <td width="400" align="center">
                     <table class="items">
                        <tr>{% render 'ArtoDesignBundle:Default:summuaryCategory' with {'id': project.id, 'simulated' : 'false' } %}</tr>
                     </table>
                 </td>
                 <td width="130"></td>
                 <td width="400" align="center">
                     <table class="items">
                         <tr>{% render 'ArtoDesignBundle:Default:summuaryProfile' with {'id': project.id, 'simulated' : 'false' } %}</tr>
                     </table>
                 </td>
                 <td>&nbsp;</td>
             </tr>
             <tr>
                 <td width="400">
                     <h3 style="text-align: right;">le Produit/Service A est</h3>
                 </td>
                 <td width="130"> 
                     {% if ecoConcu == true %}
                        {% if project.typeEvaluation == 'achat' %}
                           <div class="item green" style="text-transform: uppercase; width: 130px;">durable</div> 
                        {% elseif project.typeEvaluation == 'product' %}
                           <div class="item green" style="text-transform: uppercase; width: 130px;">éco-conçu</div>
                        {% elseif project.typeEvaluation == 'service' %}   
                           <div class="item green" style="text-transform: uppercase; width: 130px;">éco-conçu</div>
                        {% elseif project.typeEvaluation == 'short' %}   
                           <div class="item green" style="text-transform: uppercase; width: 130px;">éco-conçu</div>  
                        {% endif %}
                     {% else %}
                        {% if project.typeEvaluation == 'achat' %}
                           <div class="item red" style="text-transform: uppercase; width: 130px;">non durable</div> 
                        {% elseif project.typeEvaluation == 'product' %}
                           <div class="item red" style="text-transform: uppercase; width: 130px;">non éco-conçu</div>
                        {% elseif project.typeEvaluation == 'service' %}
                           <div class="item red" style="text-transform: uppercase; width: 130px;">non éco-conçu</div>
                        {% elseif project.typeEvaluation == 'short' %}
                           <div class="item red" style="text-transform: uppercase; width: 130px;">non éco-conçu</div>   
                        {% endif %}   
                     {% endif %}
                 </td>
                 <td width="400">
                    <h3 style="text-align: left;">par rapport au Produit/Service B</h3>
                 </td>
                 <td>&nbsp;</td>
             </tr>
             {% if ecoConcu == false %}
                <tr>
                    <td colspan="3" align="center"><b>Allez dans l'onglet Améliorations</b></td>
                    <td>&nbsp;</td>
                </tr>
             {% endif %}
        </table>
    </div>
    
    {% if project.typeEvaluation != 'service' %}
        <h3>La Performance Globale notée sur 20 est calculée selon la pondération de chaque critère ou de chaque aspect environnemental et social qui est affichée dans l'onglet "Instruction" et le tableau du paragraphe "Méthodologie appliquée pour le développement de l'application ArtoDesign". 
            <br/>Établir le planning des actions à mener selon les informations de risques et d'impacts décrites, ci-dessous :</h3>
    {% else %}
        <h3>Si le produit/service A est impactant sur l’environnement, les aspects environnementaux et sociaux non atteints deviennent des aspects significatifs.
            <br/>Selon les risques et les opportunités décrits ci-dessous, décidez des actions à mener face aux aspects à maîtriser ou à influencer afin de réduire les impacts négatifs et/ou atteindre les impacts positifs associés, puis validez en bas de page.</h3>
    {% endif %}    
    <div>
        <form method="post" action="{{ path('design_project_plan_action_save', { 'id' : project.id }) }}">
            <fieldset>
                <table class="show-table table">
                    <tr>
                        <th style="width: 170px; text-align: center;">Aspect<br/>à maîtriser ou à influencer</th>
                        <th style="width: 170px; text-align: center">Impacts<br/>sur l'environnement</th>
                        <th style="width: 80px; text-align: center;">Etape</th>
                        <th style="width: 170px; text-align: center;">Risques<br/>(Effets négatifs potentiels)</th>
                        <th style="width: 170px; text-align: center;">Opportunités<br/>(Effets positifs potentiels)</th>
                        <th style="width: 180px; text-align: center;">Action</th>
                        <th style="width: 80px; text-align: center;">Pilote de l'action</th>
                        <th style="width: 175px; text-align: center;">Date de fin</th>
                    </tr>
                    {% if ecoConcu == false and nbActions < 3 %}
                            {% for highCriteria in highCriterias %}
                            {% set pilote_found = false %}
                            <tr>
                                <td>{{ highCriteria.id}}. {{ highCriteria.label}}</td>
                                <td>{{ highCriteria.impact|raw}}</td>
                                <td>{{ highCriteria.category}}</td>
                                <td>{{ highCriteria.risk|raw}}</td>
                                <td>{{ highCriteria.opportunity|raw}}</td>
                                <td>
                                    {% if actions[highCriteria.id] is defined and actions[highCriteria.id] is not empty %}
                                        {% for action in actions[highCriteria.id] %}
                                            {{ action|nl2br }}<br/><br/>
                                        {% endfor %}
                                    {% else %}
                                            &nbsp;
                                    {% endif %}        
                                </td>
                                {% for pilote in pilote_actions %}
                                    {% if pilote.criteria.id == highCriteria.id %}
                                        {% set pilote_found = true %}
                                        <td><input name="pilote_{{ pilote.id }}" type="text" value="{{ pilote.pilote }}" style="width:80px;" /></td>
                                        <td><input type="text" name="pilote_date_{{ pilote.id }}" value="{{ pilote.piloteDate|date('d/m/Y') }}" class="date-pick" style="width:80px;" /></td>
                                    {% endif %}
                                {% endfor %}
                                {% if not pilote_found %}
                                    <td><input name="pilote_new" type="text" value="" style="width:80px;" /></td>
                                    <td><input type="text" name="pilote_date_new" value="" class="date-pick" style="width:80px;" /></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                    {% else %}
                        {% for criteria in criterias %}
                            {% set pilote_found = false %}
                            {% if actions[criteria.id] is defined and actions[criteria.id] is not empty %}
                                <tr>
                                    <td>{{ loop.index }}. {{ criteria.label }}</td>
                                    <td>{{ criteria.impact|raw}}</td>
                                    <td>{{ criteria.category}}</td>
                                    <td>{{ criteria.risk|raw}}</td>
                                    <td>{{ criteria.opportunity|raw}}</td>
                                    <td>
                                        {% for action in actions[criteria.id] %}
                                            {{ action|nl2br }}<br/><br/>
                                        {% endfor %}
                                    </td>
                                    {% for pilote in pilote_actions %}
                                        {% if pilote.criteria.id == criteria.id %}
                                            {% set pilote_found = true %}
                                            <td><input name="pilote_{{ pilote.id }}" type="text" value="{{ pilote.pilote }}" style="width:80px;" /></td>
                                            <td><input type="text" name="pilote_date_{{ pilote.id }}" value="{{ pilote.piloteDate|date('d/m/Y') }}" class="date-pick" style="width:80px;" /></td>
                                        {% endif %}
                                    {% endfor %}
                                    {% if not pilote_found %}
                                        <td><input name="pilote_new" type="text" value="" style="width:80px;" /></td>
                                        <td><input type="text" name="pilote_date_new" value="" class="date-pick" style="width:80px;" /></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}            
                    <tr>
                        <td colspan="7" align="right"><input class="btn btn-info" type="submit" value="Valider" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</section>

{% endblock %}