{% extends '::design_base.html.twig' %}

{% block body %}

<section class="main transverse">
    <div style="text-align: justify;">
        
        <h2>Approche cycle de vie</h2>
        <p style="font-size: 105%; line-height: 18px;">L'éco-conception se fonde sur le concept d'approche du cycle de vie qui exige la prise en compte au cours du processus de conception et de développement des aspects environnementaux significatifs d'un produit au cours de toutes les phases de son cycle de vie. L'éco-conception, de par sa définition, tend à réduire l'empreinte environnementale des systèmes produits et permet, de par son approche globale, d'éviter un transfert d'impact d'une catégorie d'impact à une autre, d'une phase de cycle de vie à une autre ou encore n'induit pas la création d'externalités potentiellement sources de dégradation de l'empreinte globale.</p>
       
        <h2>Approche multi-acteurs sur la chaine de valeur du produit</h2>
        <p style="font-size: 105%; line-height: 18px;">La mise en place d'une démarche d'éco-conception en entreprise nécessite l'implication de divers professionnels. Les responsables du projet doivent&nbsp; impliquer les acteurs internes et externes de la chaîne de valeur du produit.</p>
        <p style="font-size: 105%; line-height: 18px;">Cette approche multidisciplinaire contribue à instaurer une vision commune de l'éco-conception au sein de l'entreprise, à mobiliser les différents acteurs concernés autour d'un projet structurant et ainsi faciliter l'atteinte des objectifs dans des délais raisonnables.</p>
        <p style="font-size: 105%; line-height: 18px;">L'optimisation de la performance environnementale globale de la chaîne de valeur dépend de l'accès aux informations sur le produit. Cela conduit à la mise en place d'un management de la connaissance sur son cycle de vie. Ainsi des pratiques de dialogue et de partenariat sont développées notamment au travers de systèmes d'information. Ceci peut notamment amener à une évolution des relations fournisseurs clients.</p>
        <p style="font-size: 105%; line-height: 18px;">Les acteurs peuvent être classifiés selon quatre catégories qui se positionnent, par rapport à la structure d'une entreprise, soit en amont, soit en aval de la structure, ou encore, à l'intérieur ou à l'extérieur de celle-ci. L'implémentation d'une démarche d'éco-conception dans une entreprise est conditionnelle à la motivation et l'implication de tous les acteurs.</p>

        <h2 class="first">Approche multicritère</h2>
        <p style="font-size: 105%; line-height: 18px;">L'éco-conception se caractérise par une approche globale multicritère qui intègre l'ensemble des paramètres environnementaux :</p>
        <ul style="font-size: 105%; line-height: 18px;">
          <li style="font-size: 105%; line-height: 18px;">- consommations de matières premières et d'énergie sur l'ensemble du cycle de vie du produit et de ses composants&nbsp;;</li>
          <li style="font-size: 105%; line-height: 18px;">- rejets dans l'eau, l'air, les sols, production de déchets, sur l'ensemble du cycle de vie du produit et de ses composants&nbsp;;</li>
          <li style="font-size: 105%; line-height: 18px;">- transformations des milieux naturels et du cadre de vie.</li>
        </ul>
        
        <h2>Approche système</h2>
        <p style="font-size: 105%; line-height: 18px;">Le produit est considéré en tant que système de systèmes multi-composants. Le produit doit être pris en compte avec l'ensemble des éléments qui le compose à savoir : le produit lui-même, les emballages primaires, secondaires et tertiaires, les consommables, les pièces de rechange et les supports promotion (actions publicitaire).</p>
        <p style="font-size: 105%; line-height: 18px;">L'architecture produit ainsi que le comportement des systèmes constitutifs doivent également être pris en compte.</p>
        <p style="font-size: 105%; line-height: 18px;">NOTE : Dans le cas de systèmes dits complexes, l'empreinte environnementale du système idéal ne correspond pas forcément à la somme des solutions techniques les plus respectueuses de l'environnement. De tels systèmes se caractérisent en effet par l'impossibilité de prédire leur comportement sur la simple prédiction des comportements des éléments constitutifs.</p>

        <h2>aspect environnemental</h2>
        <p style="font-size: 105%; line-height: 18px;">Élément des activités, produits ou services d’un organisme interagissant ou susceptible d’interactions avec l’environnement.</p>
        <p style="font-size: 105%; line-height: 18px;">Note 1 à l’article : Un aspect environnemental peut causer un ou plusieurs impacts environnementaux. Un aspect environnemental significatif est un aspect environnemental qui a ou peut avoir un impact environnemental significatif</p>
        <p style="font-size: 105%; line-height: 18px;">Note 2 à l’article : Les aspects environnementaux significatifs sont déterminés par l’organisme en utilisant un ou plusieurs critères.</p>
        
        <h2>conception et développement</h2>
        <p style="font-size: 105%; line-height: 18px;">Ensemble de processus qui transforme des exigences en caractéristiques spécifiées ou en spécification d'un produit, d'un processus ou d'un système</p>
        <p style="font-size: 105%; line-height: 18px;">NOTE 1 : Les termes «conception» et «développement» sont parfois utilisés comme synonymes et parfois utilisés pour définir des étapes différentes du processus global de conception et développement.</p>
        <p style="font-size: 105%; line-height: 18px;">NOTE 2 : Le développement de produit est un processus qui mène de l'idée d'un produit depuis sa planification jusqu'à son lancement sur le marché et la revue du produit, et au cours duquel les stratégies commerciales, les considérations mercatiques, les méthodes de recherche et les aspects de conception sont mises en ouvre pour obtenir un produit utilisable.</p>
        <p style="font-size: 105%; line-height: 18px;">NOTE 3 : L'intégration des aspects environnementaux dans la conception et le développement de produit peut aussi être appelée «conception pour l'environnement» équivalent de «&nbsp;design for environment&nbsp;», «éco-conception».</p>
        <p style="font-size: 105%; line-height: 18px;">[XPISO/TR14062:2003, 3.3]</p>
        
        <h2>cycle de vie</h2>
        <p style="font-size: 105%; line-height: 18px;">Phases consécutives et liées d’un système de produits, de l’acquisition des matières premières ou de la génération des ressources naturelles au traitement en fin de vie</p>
        <p style="font-size: 105%; line-height: 18px;">Note 1 à l’article : Le cycle de vie inclut les activités, les produits et les services et peut inclure les biens et services acquis, ainsi que le traitement en fin de vie des produits et la prestation de services, par exemple, conception, fabrication, transport, conditionnement et utilisation ou élimination finale</p>
        <p style="font-size: 105%; line-height: 18px;">[Source : ISO 14044:2006, 3.1, modifiée ― « traitement en fin de vie » à la place de « élimination finale » ; la Note 1 à l’article a été ajoutée]</p>
        
        <h2>éco-conception</h2>
        <p style="font-size: 105%; line-height: 18px;">Intégration systématique des aspects environnementaux dès la conception et le développement&nbsp; de produits&nbsp; (biens et services, systèmes) avec pour objectif la réduction des impacts environnementaux négatifs tout au long de leur cycle de vie à service rendu équivalent ou supérieur. Cette approche dès l'amont d'un processus de conception vise à trouver le meilleur équilibre entre les exigences, environnementales, sociales, techniques et économiques dans la conception et le développement de produits</p>
        
        <h2>impact environnemental</h2>
        <p style="font-size: 105%; line-height: 18px;">Modification de l’environnement, négative ou bénéfique, résultant totalement ou partiellement des aspects environnementaux d’un organisme.</p>
        
        <h2>innovation</h2>
        <p style="font-size: 105%; line-height: 18px;">Processus qui consiste en la mise en ouvre d'un produit, procédé, ou service, nouveau ou amélioré, susceptible de répondre à des attentes implicites ou explicites, et générateur de valeur économique, environnementale ou sociétale pour son créateur (l'innovateur) son maître d'ouvre (par exemple l'entreprise) ou son utilisateur (par exemple le client). (Source : Groupe Impulsion Stratégique Innovation).</p>
        
        <h2>performance</h2>
        <p style="font-size: 105%; line-height: 18px;">Résultat mesurable</p>
        <p style="font-size: 105%; line-height: 18px;">Note 1 à l’article : La performance peut porter sur des constatations quantitatives ou qualitatives</p>
        <p style="font-size: 105%; line-height: 18px;">Note 2 à l’article : La performance peut concerner le management d’activités, de processus, de produits (y compris services), de systèmes ou d’organismes.</p>
        
        <h2>performance environnementale</h2>
        <p style="font-size: 105%; line-height: 18px;">Performance liée au management des aspects environnementaux</p>
        <p style="font-size: 105%; line-height: 18px;">Note 1 à l’article : Dans le contexte des systèmes de management environnemental, les résultats peuvent être mesurés par rapport à la politique environnementale de l’organisme, aux objectifs environnementaux ou un autre critère, au moyen d’indicateurs.</p>
        
        <h2>Politique d'éco-conception</h2>
        <p style="font-size: 105%; line-height: 18px;">Orientations et intentions générales d'une organisation telles qu'elles sont officiellement formulées par la direction</p>
        <p style="font-size: 105%; line-height: 18px;">La politique d'éco-conception est l'expression formelle par la direction à son plus haut niveau de ses intentions générales et des orientations de l'organisme relatives à la démarche d'éco-conception.</p>
        
        <h2>Principe de la fonctionnalité</h2>
        <p style="font-size: 105%; line-height: 18px;">L'éco-conception nécessite une approche fonctionnelle du produit. Le produit vise à remplir une ou des fonctions pour satisfaire un besoin. Au cours de la démarche d'éco-conception, on cherche à remplir la fonction en minimisant les impacts environnementaux en utilisant les ressources de façon efficace.</p>
        <p style="font-size: 105%; line-height: 18px;">NOTE : Une même fonction, par exemple «&nbsp;communiquer oralement avec quelqu'un», peut être satisfaite par différentes solutions :</p>
        <p style="font-size: 105%; line-height: 18px;">Par l'achat d'un produit (téléphone fixe, portable, ordinateur)&nbsp;; le consommateur est propriétaire du produit matériel</p>
        <p style="font-size: 105%; line-height: 18px;">Par l'achat d'un service : le consommateur n'est pas propriétaire du produit&nbsp;; c'est le fournisseur du service qui choisit le mode de mise à disposition (location, leasing, mutualisation.) et le produit mis à disposition pour satisfaire la fonction</p>
        <p style="font-size: 105%; line-height: 18px;">Une approche fonctionnelle permet de comparer différentes solutions répondant au même besoin.</p>
        <p style="font-size: 105%; line-height: 18px;">Lors de l'éco-conception d'un produit, l'évaluation environnementale réalisée porte sur la fonction principale remplie par le produit et non sur une référence commerciale ou une unité de vente consommateur. Pour ce faire, on définit l'unité fonctionnelle qui est l'unité de référence à laquelle on rapporte les impacts.</p>
        <p style="font-size: 105%; line-height: 18px;">NOTE : Le produit peut remplir plusieurs fonctions&nbsp;; dans ce cas, une allocation par fonction est utile pour comparer les impacts environnementaux plus justement des produits mono-fonctions et multifonctions.</p>
        
        <h2>produit</h2>
        <p style="font-size: 105%; line-height: 18px;">Tout bien, service ou système</p>

        <h2>stratégie d'éco-conception</h2>
        <p style="font-size: 105%; line-height: 18px;">La stratégie globale&nbsp; d'une organisation définit les objectifs et les plans d'actions dans le cadre de ses choix politiques et de la réglementation. Un plan d'action global de développement décrit l'utilisation efficace des ressources à l'appui de l'organisation dans le cadre de ses activités futures. La stratégie d'éco-conception&nbsp; s'insère dans la stratégie globale, en intégrant les critères environnementaux dans le cadre des activités de conception de l'organisation</p>
        
        <h2>système de produit</h2>
        <p style="font-size: 105%; line-height: 18px;">Ensemble de processus élémentaires comportant des flux de produits et des flux élémentaires, remplissant une ou plusieurs fonctions définies, qui sert de modèle au cycle de vie d'un produit</p>
        <p style="font-size: 105%; line-height: 18px;">[NF EN ISO 14040 : 2006]</p>
      
    </div>
</section>

{% endblock %}