{% set section = "contact" %}

{% extends '::base.html.twig' %}

{% block body %}

<section class="main white contact-page">
    <div class="contact-content">
        <div class="contact-info">
            <h2>Informations</h2>
            <p>
                Adresse :<br/>
                FRANCE<br/>
                Telephone: 06. 71. 92. 35. 26<br/><br/>
                E-mail: contact@artogreen.com<br/><br/><br/>
                Prenez rendez vous , on se rencontre via:<br/>
                <a href="http://www.webex.fr/">http://www.webex.fr/</a><br/>
                <img src="/css/skin/webex-logo.png"/><br/><br/>
                <div style="margin: 150px 0 0 70px;">
                    <a href="http://www.facebook.com/artogreensoft" target="_blank"><i class="icon-facebook-sign" style="font-size: 40px; color: #31518e; margin-right: 10px;"></i></a>
                    <a href="https://www.twitter.com/artogreen2" target="_blank"><i class="icon-twitter-sign" style="font-size: 40px; color: #28b4df;"></i></a>
                </div>
            </p>
        </div>
        <div class="contact-form">
            <p style="margin-left: 150px;">Votre demande de contact a bien été prise en compte.</p>
        </div>
    </div>
</section>

{% endblock %}