{% set section = "contact" %}

{% extends '::base.html.twig' %}

{% block body %}

<section class="main white contact-page">
    <div class="contact-content">
        <div class="contact-info">
            <h2>Informations</h2>
            <p>
                Adresse :<br/>
                FRANCE<br/>
                Telephone: 06. 71. 92. 35. 26<br/><br/>
                E-mail: contact@artogreen.com<br/><br/><br/>
                Prenez rendez vous , on se rencontre via:<br/>
                <a href="http://www.webex.fr/">http://www.webex.fr/</a><br/>
                <img src="/css/skin/webex-logo.png"/><br/><br/>
                <div style="margin: 150px 0 0 70px;">
                    <a href="http://www.facebook.com/artogreensoft" target="_blank"><i class="icon-facebook-sign" style="font-size: 40px; color: #31518e; margin-right: 10px;"></i></a>
                    <a href="https://www.twitter.com/artogreen2" target="_blank"><i class="icon-twitter-sign" style="font-size: 40px; color: #28b4df;"></i></a>
                </div>
            </p>
        </div>
        <div class="contact-form">
            <form action="{{ path('green_contact') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                {{ form_widget(form._token) }}
                <div class="control-group">
                    <label class="control-label">Sujet</label>
                    <div class="controls">
                        {{ form_errors(form.subject) }}
                        {{ form_widget(form.subject) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Nom</label>
                    <div class="controls">
                        {{ form_errors(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Prénom</label>
                    <div class="controls">
                        {{ form_errors(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Téléphone</label>
                    <div class="controls">
                        {{ form_errors(form.tel) }}
                        {{ form_widget(form.tel) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Société</label>
                    <div class="controls">
                        {{ form_errors(form.company) }}
                        {{ form_widget(form.company) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Site Internet</label>
                    <div class="controls">
                        {{ form_errors(form.website) }}
                        {{ form_widget(form.website) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Message</label>
                    <div class="controls">
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}