<p>Vous devez vous identifier pour accéder à cette page</p>
<div class="row-fluid login-price">
    <div class="span6 well well-white">
        <h3 style="text-align: center;">Vous possédez déjà un compte</h3>
        <form action="{{ path('login') }}" method="post">
            <div class="input-prepend">
                <input name="username" type="text" placeholder="Identifiant">
            </div>
            <div class="input-prepend">
                <input name="password" type="password" placeholder="Mot de passe">
            </div>
            <button type="submit" class="btn btn-success">Connexion</button>
        </form>
    </div>
    <div class="span6 well well-white">
        <h3 style="text-align: center;">Vous voulez vous inscrire gratuitement</h3>
        <a href="{{ path('register') }}" class="btn btn-large btn-primary">Créer un compte maintenant</a>
    </div>
</div>