<div class="price-info">
    <div class="row-fluid">
        <div class="span6 well" style="text-align: center;">
            <h3>Vous n'êtes pas encore convaincu ?</h3>
            <a href="{{ path('green_contact') }}" class="btn btn-large">Présentation des outils d'évaluation (gratuit)</a>
        </div>
        <div class="span6 well" style="text-align: center;">
            <h3>Une question, une demande spécifique ...</h3>
            <a href="{{ path('green_contact') }}" class="btn btn-large">Contactez nous</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Comment puis-je accéder au logiciel ArtoGREEN ? Dois-je télécharger des fichiers ?</h4>
            <p>
                La suite ArtoGREEN sont des logiciels hébergés. Par conséquent, aucun fichier ne sera stocké sur votre ordinateur. Une fois inscrit, vous disposerez d'un compte utilisateur ArtoGREEN et pourrez accéder à votre interface via n'importe quelle connexion internet.
            </p>
        </div>
        <div class="span6">
            <h4>Mes données sont-elles sécurisées ?</h4>
            <p>
                Une clause de confidentialité est obligatoirement signée lors de votre inscription.
            </p>
            <p>
                Ce site a pris toute précaution pour protéger les informations sur nos utilisateurs. Lorsque des utilisateurs soumettent des informations sensibles via le site, vos informations sont protégées en ligne et en dehors.
            </p>
            <p>
                Toutes nos formules disposent d'un encryptage en SSL, ce qui signifie que toutes les transactions réalisées ainsi que toutes vos données personnelles transitant sur l'interface d'ArtoGREEN sont sécurisées.
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Puis-je changer de formule et passer à la version inferieure Pack ARTO quand je le désire ?</h4>
            <p>
                Oui. En vous rendant sur votre compte utilisateur, vous pourrez à tout moment opter pour une formule PACK ARTO ou choisir une formule avec un nombre d'utilisateurs plus important.
            </p>
        </div>
        <div class="span6">
            <h4>Quels navigateurs fonctionnent avec ArtoGREEN ?</h4>
            <p>
                ArtoGREEN étant régulièrement mis à jour, toutes les versions des navigateurs web sont compatibles avec le logiciel, qu'il s'agisse de Google Chrome, Internet Explorer, Firefox ou encore Opera et Safari.
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Comment puis-je clôturer mon inscription à ArtoGREEN ?</h4>
            <p>
                Vous pourrez facilement clôturer votre inscription à ArtoGREEN à partir de votre compte utilisateur.
            </p>
        </div>
        <div class="span6">
            <h4>Comment se déroule le paiement de mon abonnement à ArtoGREEN ?</h4>
            <p>
                Pour vous abonner à ArtoGREEN, il suffit de vous munir de vos codes et numéros de carte bancaire, lors de votre achat. Ensuite, le règlement mensuel de votre abonnement sera automatisé et vous n'aurez donc plus à vous en préoccuper.
            </p>
        </div>
    </div>
</div>