{% set section = "product" %}

{% extends '::base.html.twig' %}

{% block body %}

<section class="main white product-desc-page">
    <p>
        Nous débordons d’idées et nous vous en faisons profiter par l’intermédiaire de nos <strong>outils</strong>. Nous les élaborons afin qu’ils soient <strong>simples, ludiques, conviviaux et peu consommateurs de temps</strong>. Nous nous en servons aussi bien pour nos formations que pour nos diagnostics. Nous les adaptons toujours pour qu'ils soient <strong>au plus proche de vos besoins !</strong>
    </p>
    <div class="well well-large well-borderless">
        <img src="/images/green/product_image1.png" class="floatL"/>
        <h3>TRANSPARENCE</h3>
        <ul>
            <li><i class="icon-ok"></i> Bénéficiez d’un accès web universel</li>
            <li><i class="icon-ok"></i> Gérez vos données en toute securité</li>
            <li><i class="icon-ok"></i> Gagnez en temps de traitement</li>
            <li><i class="icon-ok"></i> Communiquez vos performances</li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="well well-large well-borderless">
        <img src="/images/green/product_image2.png" class="floatL" />
        <h3>ERGONOMIE</h3>
        <ul>
            <li><i class="icon-ok"></i> Saisissez facilement vos données</li>
            <li><i class="icon-ok"></i> Pas besoin de l’aide d’un expert</li>
            <li><i class="icon-ok"></i> Resultat facile à comprendre</li>
            <li><i class="icon-ok"></i> Suivez l’évolution de chaque projet</li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="well well-large well-borderless">
        <img src="/images/green/product_image3.png" class="floatL" />
        <h3>EFFICACITE</h3>
        <ul>
            <li><i class="icon-ok"></i> Evaluer les données d’un projet</li>
            <li><i class="icon-ok"></i> Sur toutes les étapes du cycle de vie</li>
            <li><i class="icon-ok"></i> Comparer plusieurs projets</li>
            <li><i class="icon-ok"></i> Outils decisionnels et complets</li>
        </ul>
        <div class="clear"></div>
    </div>
    <a href="#" class="btn btn-large btn-info" onclick="showProduct();">Voir les outils</a>
    <div class="clear"></div>
</section>

{% endblock %}