{% set section = "product" %}

{% extends '::base.html.twig' %}

{% block body %}
<script>
$(function(){
    $("#price .price-update").live('change', function(event) {
        event.preventDefault();
        $.post("{{ path('green_price_select') }}", $('#priceForm').serialize(), function(data) {
            $('#price .price-total').html(data.total + ' &euro;');
            $('#price .training1').html(data.training1 + ' &euro;');
            $('#price .training2').html(data.training2 + ' &euro;');
        }, 'json');
    }).change();

    $("#pack .price-update").live('change', function(event) {
        event.preventDefault();
        $.post("{{ path('green_price_select') }}", $('#packForm').serialize(), function(data) {
            $('#pack .price-total').html(data.total + ' &euro;');
            $('#pack .training1').html(data.training1 + ' &euro;');
            $('#pack .training2').html(data.training2 + ' &euro;');
        }, 'json');
    }).change();
});
</script>
<section class="main white product-page">
    <div class="well product-logo">
        <div class="bg"><img src="/css/skin/{{ product.slug }}_icon.png" /></div>
    </div>

    <div class="description">
        <img src="/css/skin/{{ product.slug }}_logo.png" />
        <div class="intro">
            <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
            {{ product.intro|raw }}
        </div>
        <div class="clear"></div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#description" data-toggle="tab">Fonctionalités</a></li>
            <li><a href="#similar" data-toggle="tab">Produits similaires</a></li>
            <li><a href="#price" data-toggle="tab">Tarif</a></li>
            <li><a href="#pack" data-toggle="tab">Nos packs</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="description">
                <div class="wysiwyg">
                {{ product.description|raw }}
                </div>
            </div>
            <div class="tab-pane" id="similar">
                {% for product in product.similars %}
                    <a href="{{ path('green_product', { 'slug' : product.slug }) }}"><img src="/css/skin/{{ product.slug }}_logo.png" /></a>
                    <p>{{ product.info }}</p>
                {% endfor %}
            </div>
            <div class="tab-pane price-content" id="price">
                {% if app.user %}
                    <h2>Logiciel {{ product.name }}</h2>
                    <div class="price-image">
                        <img src="/css/skin/{{ product.slug }}_logo.png" />
                    </div>
                    <div class="price-form">
                        <form method="post" action="{{ path('green_basket_add') }}" id="priceForm">
                            <input type="hidden" name="product" value="{{ product.id }}" />
                            <div class="row">
                                <label>Licence d'une durée de</label>
                                <select name="license" class="license price-update">
                                    <option value="6">6 mois</option>
                                    <option value="12">1 an</option>
                                </select>
                                {# Condition à la con pour masquer les grilles de prix ! #}
                                {% if 0 == 1 %}
                                    {% if product.category.slug == 'construction-et-amenagement-urbain' and app.user.capital < 500000 %}
                                        <em><a href="/images/green/grillePrixConstruMoins.jpg" target="_blank">Voir la grille des prix</a></em>
                                    {% endif %}
                                    {% if product.category.slug == 'construction-et-amenagement-urbain' and app.user.capital >= 500000 %}
                                        <em><a href="/images/green/grillePrixConstruPlus.jpg" target="_blank">Voir la grille des prix</a></em>
                                    {% endif %}
                                    {% if product.category.slug == 'produits-manufactures' and app.user.capital < 500000 %}
                                        <em><a href="/images/green/grillePrixPRODMoins.jpg" target="_blank">Voir la grille des prix</a></em>
                                    {% endif %}
                                    {% if product.category.slug == 'produits-manufactures' and app.user.capital >= 500000 %}
                                        <em><a href="/images/green/grillePrixPRODPlus.jpg" target="_blank">Voir la grille des prix</a></em>
                                    {% endif %}
                                {% endif %}        
                            </div>
                            <div class="row">
                                <label>Quantité de postes</label>
                                <select name="station" class="station price-update">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            {% if training is not empty and training.label1 is not empty %}
                                <div class="row" style="margin-top: 30px;">
                                    <label>{{ training.label1|raw }}</label>
                                    <select name="training1" class="price-update">
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                    <em class="training1"></em>
                                </div>
                            {% endif %}
                            {% if training is not empty and training.label2 is not empty %}
                                <div class="row">
                                    <label>{{ training.label2|raw }}</label>
                                    <select name="training2" class="price-update">
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                    <em class="training2"></em>
                                </div>
                            {% endif %}
                            <div class="row">
                                <small>La prestation peut être prise en charge par l'ADEME et d'autres institutions y compris pour les entreprises individuelles.</small>
                            </div>
                            <div class="row tarif">
                                <label>Tarif</label>
                                <span class="price-total"></span>
                            </div>
                            <div class="row buy">
                                <button type="submit" class="btn btn-large btn-success"><i class="icon-shopping-cart"></i> Ajouter au panier</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    {% include 'ArtoGreenBundle:Product:_login.html.twig' %}
                {% endif %}
            </div>

            <div class="tab-pane price-content" id="pack">
                {% if app.user %}
                    <h2>{{ pack.name }}</h2>
                    <div class="price-image">
                        {% for product in pack.similars %}
                            <img src="/css/skin/{{ product.slug }}_logo.png" />
                            {% if not loop.last %}
                                <i class="icon-plus"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="price-form">
                        <form method="post" action="{{ path('green_basket_add') }}" id="packForm">
                            <input type="hidden" name="product" value="{{ pack.id }}" />
                            <div class="row">
                                <label>Licence d'une durée de</label>
                                <select name="license" class="license price-update">
                                    <option value="6">6 mois</option>
                                    <option value="12">1 an</option>
                                </select>
                                {% if product.category.slug == 'construction-et-amenagement-urbain' and app.user.capital < 500000 %}
                                    <em><a href="/images/green/grillePrixConstruMoins.jpg" target="_blank">Voir la grille des prix</a></em>
                                {% endif %}
                                {% if product.category.slug == 'construction-et-amenagement-urbain' and app.user.capital >= 500000 %}
                                    <em><a href="/images/green/grillePrixConstruPlus.jpg" target="_blank">Voir la grille des prix</a></em>
                                {% endif %}
                                {% if product.category.slug == 'produits-manufactures' and app.user.capital < 500000 %}
                                    <em><a href="/images/green/grillePrixPRODMoins.jpg" target="_blank">Voir la grille des prix</a></em>
                                {% endif %}
                                {% if product.category.slug == 'produits-manufactures' and app.user.capital >= 500000 %}
                                    <em><a href="/images/green/grillePrixPRODPlus.jpg" target="_blank">Voir la grille des prix</a></em>
                                {% endif %}
                            </div>
                            <div class="row">
                                <label>Quantité de postes</label>
                                <select name="station" class="station price-update">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            {% if training_pack is not empty and training_pack.label1 is not empty %}
                                <div class="row" style="margin-top: 30px;">
                                    <label>{{ training_pack.label1 }}</label>
                                    <select name="training1" class="price-update">
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                    <em class="training1"></em>
                                </div>
                            {% endif %}
                            {% if training_pack is not empty and training_pack.label2 is not empty %}
                                <div class="row">
                                    <label>{{ training_pack.label2 }}</label>
                                    <select name="training2" class="price-update">
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                    <em class="training2"></em>
                                </div>
                            {% endif %}
                            <div class="row">
                                <small>La prestation peut être prise en charge par l'ADEME et d'autres institutions y compris pour les entreprises individuelles.</small>
                            </div>
                            <div class="row tarif">
                                <label>Tarif</label>
                                <span class="price-total"></span>
                            </div>
                            <div class="row buy">
                                <button type="submit" class="btn btn-large btn-success"><i class="icon-shopping-cart"></i> Acheter</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    {% include 'ArtoGreenBundle:Product:_login.html.twig' %}
                {% endif %}
            </div>

            <div class="clear"></div>

            {% include 'ArtoGreenBundle:Product:_price_info.html.twig' %}
        </div>

    </div>
</section>

{% endblock %}