{% if project.name != "Suivi ICPE" %}
    <a href="{{ path('product_general', {'id': project.id}) }}" {% if section is defined and section == 'generalites' %}class="active"{% endif %}>
        Instructions
    </a>
    <a href="{{ path('product_project_description', { 'id': project.id }) }}" class="blue">
        <i class="icon-user icon-white"></i> {{ project.name }}
    </a>
    <a href="{{ path('product_graphesProcedes', { 'id': project.id }) }}" {% if section is defined and section == 'process' %}class="active"{% endif %}>
        <i class="icon-globe icon-white"></i>Evaluation procédés
    </a>
    <a href="{{ path('product_scenario', { 'id': project.id }) }}" {% if section is defined and section == 'scenario' %}class="active"{% endif %}>
        <i class="icon-globe icon-white"></i>Evaluation scénarios
    </a>
    {#
    <a href="{{ path('product_inventaire_flux', { 'id': project.id }) }}"><i class="icon-globe icon-white"></i>Inventaire flux/activité</a>
    <a href="{{ path('product_aspects_envt_flux', { 'id': project.id }) }}"><i class="icon-globe icon-white"></i>Aspects envt/activité</a>
    #}
    <a href="{{ path('product_impactsICPE', { 'id': project.id }) }}" {% if section is defined and section == 'impact' %}class="active"{% endif %}>
        <i class="icon-globe icon-white"></i>Evaluation impacts ICPE
    </a>

    <a href="{{ path('product_synthese', { 'id': project.id }) }}" {% if section is defined and section == 'synthese' %}class="active"{% endif %}>
        <i class="icon-globe icon-white"></i>Synthèse
    </a>
    
    <a href="{{ path('product_methode', { 'id': project.id }) }}" {% if section is defined and section == 'methode' %}class="active"{% endif %}>
        <i class="icon-globe icon-white"></i>Objectifs et méthode utilisée
    </a>

    
    
{% else %}
    <a href="{{ path('product_tableauSuivi', { 'id': project.id }) }}" {% if section is defined and section == 'tableauSuivi' %}class="active"{% endif %}>
        <i class="icon-globe icon-white"></i>Tableau de suivi
    </a>
    <a href="{{ path('product_graphesIcpe', { 'id': project.id }) }}" {% if section is defined and section == 'suiviEvolutions' %}class="active"{% endif %} style="visibility: hidden;">
        <i class="icon-globe icon-white"></i>Suivi des evolutions
    </a>
{% endif %}
