{% extends '::product_base.html.twig' %}

{% block side %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
function deleteHostTable(src) {
        var tableRow = src.parentNode.parentNode.parentNode;
        var index = tableRow.rowIndex;
        var userLastNameCell = document.getElementById("table-1").rows[index].cells[3];
        var userLastName = userLastNameCell.getElementsByTagName('input')[0].value;
        console.log("userName : "+userLastName);
        userLastName = userLastName.replace(/[\n]/gi, "" );
        console.log("userName : "+userLastName);
        document.getElementById("table-1").deleteRow(index);
        $.post("{{ path('product_project_user_delete') }}", { nomUser: userLastName }, "json");
    }
    
$(function(){
   $('#descriptionuf').live('focusin',function(event){
        $('#help-uf').show();
   });

   $('#descriptionuf').live('focusout',function(event){
        $('#help-uf').hide();
   });
   
   var users_counter = {{ users|length - 1 }};
        $(".add").live('click', function(event){
            event.preventDefault();
            var newline = $('.users-table').find('.tr-clone').clone(true);
            newline.removeClass('tr-clone');

            var input = newline.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(user\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (users_counter + 1) + p3;
                }));
            });
            users_counter++;

            $('.users-table').append(newline);
            return false;
        });
});
</script>
<section class="main">
    <div class="form">
        <form method="post" action="{{ path('product_project_user_save', { 'id': project.id }) }}" class="users">
            <fieldset>
                <h3>Maître de l'ouvrage et mandataires</h3>
                <table id="table-1" class="users-table">
                    <tr>
                        <td style="border:none; width:1px;">&nbsp;</td>
                        <th>Fonction</th>
                        <th>Société</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                    </tr>
                    {% if users|length > 0 %}
                        {% for key, user in users %}
                            <tr>
                                <td style="border:none; width:1px;">
                                    <a href="#" class="suppr">
                                        <img src="/css/skin/famfamfam/delete.png" onclick="deleteHostTable(this);" />
                                    </a>
                                    <input type="hidden" name="user[{{ key }}][id]" class="userId" value="{{ user.id }}"/> 
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][role]" class="userRole" value="{{ user.role }}"/>
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][company]" class="userCompany" value="{{ user.company }}"/>
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][lastname]" class="userLastName" value="{{ user.lastname }}"/>
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][firstname]" class="userFirstName" value="{{ user.firstname }}"/>
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][tel]" class="userTel" value="{{ user.tel }}"/>
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][email]" class="userEmail" value="{{ user.email }}"/>
                                </td> 
                            </tr>
                        {% endfor %}
                    {% endif %}
                    
                    <!-- ce tr est caché en css et sera copié sur chaque click sur .add pour construire une nouvelle ligne -->
                    {% set key_new = users|length %}
                        <tr class="tr-clone" {% if users|length == 0 %} style="display: table-row;" {% endif %}>
                            <td style="border:none; width: 1px;">
                                <a href="#" class="suppr">
                                    <img src="/css/skin/famfamfam/delete.png" onclick="deleteHostTable(this);" />
                                </a> 
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][role]" class="userRole" />
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][company]" class="userCompany" />
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][lastname]" class="userLastName" />
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][firstname]" class="userFirstName"/>
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][tel]" class="userTel" />
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][email]" class="userEmail" />
                            </td>
                        </tr>
                </table>
                <input type="button" class="btn btn-success add" style="width: 70px;" value="Ajouter" />
                <input class="btn btn-success" type="submit" value="Valider" />
            </fieldset>
        </form>

        <form action="{{ path('product_project_description_save', { 'project' : project.id }) }}" method="post" enctype="multipart/form-data">
            <fieldset class="odd">
                <h3>Projet</h3>
                <div class="row">
                    <label class="lbl">Nom du projet : </label>
                    <input type="text" name="projectName" value="{{ project.projectName }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Numéro</label>
                    {% if project.numero == 0 %}
                        <input type="text" name="numero" class="medium" />
                    {% else %}
                        <input type="text" name="numero" value="{{ project.numero }}" class="medium" />
                    {% endif %}
                </div>
                <div class="row">
                    <label class="lbl">Nom du produit</label>
                    <input type="text" name="productName" value="{{ project.productName }}" class="medium" />
                </div>
                {% if project.path is not empty %}
                    <div class="row">
                        <label class="lbl">Image</label>
                        <img src="{{ ('uploads/product/' ~ project.path) | imagine_filter('thumb') }}" />
                    </div>
                {% endif %}
                <div class="row">
                    <label class="lbl">Image</label>
                    <input type="file" name="file" />
                </div>
                <h3>Pilote de l'etude</h3>
                <div class="row">
                    <label class="lbl">Pilote</label>
                    <input type="text" name="pilote" value="{{ project.pilote }}" />
                </div>
                <div class="row">
                    <label class="lbl">date</label>
                    <input type="text" name="pilote_date" value="{{ project.piloteDate|date('d/m/Y') }}" class="date-pick" />
                </div>
                <tr>
                    <td colspan="6"><input class="btn btn-success" type="submit" value="Valider" /></td>
                </tr>
            </fieldset>
        </form>
            
        <form method="post" action="{{ path('product_project_operation_save', { 'id': project.id }) }}">
            <fieldset>
                <h3>Gestion de projet</h3>
                <table>
                    <tr>
                        <th>date</th>
                        <th>Nature de modifications apportées</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="operation_date" class="date-pick" value="{{ project.piloteDate|date('d/m/Y') }}" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" value="Création" /></td>
                    </tr>
                    {% for ope in operations %}
                        <tr>
                            <td><input type="text" name="operation_date_{{ ope.id }}" value="{{ ope.dateAction|date('d/m/Y') }}" class="date-pick" style="width: 80px;" /></td>
                            <td><input type="text" name="operation_description_{{ ope.id }}" value="{{ ope.description }}"  class="large" /></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" style="font-size: 11px;">Ajouter une modification</td>
                    </tr>
                    <tr style="border-top: 1px solid #ccc;">
                        <td><input type="text" name="operation_date" class="date-pick" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="btn btn-success" type="submit" value="Ajouter / Valider" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>            
    </div>
</section>

{% endblock %}