<option value="">- Choisir une famille -</option>
{% for family in families %}    
    <option value="{{ family.id }}" {% if familyId is defined and familyId == family.id %} selected="selected"{% endif %}>{{ family.name }}</option>
{% endfor %}