{% extends '::product_base.html.twig' %}

{% set section = "generalites" %}
{% block body %}

<section class="main transverse">
    <div class="justifiedDiv">
        <h2>Quelle est la finalité de la solution ArtoProd ?</h2>     
        
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; La solution web ArtoProd a pour finalité la prévention et la réduction des impacts sur l’environnement des activités industrielles. La politique industrielle de l’entreprise se doit d’intégrer les MTD (Meilleurs Techniques Disponibles) dans la conception des produits et des process, le processus d’industrialisation afin d’assurer la pérennité industrielle de ses activités. Elle est un des éléments fondamentaux de la démarche d’éco-conception de produits nouveaux ou la re-conception des produits existants dans une logique de productivité.
        </p>
        
        <h2>La solution ArtoProd</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; ArtoProd est une solution web conçue pour évaluer et comparer les impacts de coûts, de disponibilité process, sur la santé et l’environnement de nombreux procédés industriels en vue de faire le meilleur choix (le moins polluant et le plus économique). Cet outil propose une zone de consultation des procédés évalués à partir des principes directeurs de la Directive IPPC (Integrated Pollution Prevention and Control ou approche intégrée de la prévention et de la réduction des pollutions émises par les installations industrielles) afin de :
            <ul>
                <li>- comparer des procédés de famille technologique identique et permettre une classification</li>
                <li>- identifier les impacts majeurs pour chaque procédé afin de les réduire</li>
                <li>- définir la Meilleure Technique Disponible (MTD)</li>
            </ul>
        </p>
        
        <h2>Qui sont responsables de l’application ArtoProd ?</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Les Directeurs Industriels, chefs de Projets,<br/>
            Les Directeurs de sites de production,<br/>
            Les Responsables de Département Produits,<br/>
            Les Responsables Industrialisation et de logistique,<br/>
            Les Responsables Achats,…
        </p>
        
        <h2>Les objectifs d’ArtoProd</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Apprécier de façon qualitative l’impact environnemental des procédés (mis au même titre que l’évaluation qualitative d’un concept de produit),<br/>
            A destination des équipes projets de produits nouveaux (choix des matières), modifications produits existants/process et Transferts industriels (choix du scénario industriel),<br/>
            En vue de faire le meilleur choix de procédé de fabrication (le moins polluant, technologie « propre »),<br/>
            Ne sert pas à quantifier l’impact environnemental des procédés sur site (nécessitant la connaissance initiale du site/réglementation ICPE et son milieu naturel).<br/>
            
            <img src="/images/product/ArtoProd1.jpg"/>
        </p>
        
        <h2>Evaluation de l’impact environnement des scénarios industriels</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; En préparation de la phase de Définition du procédé industriel et selon la nature de la gamme de produits développés (refonte ou supplément de gamme), l’équipe Projet évalue les impacts environnement des scénarios industriels à l’aide de l’outil ArtoProd selon 2 critères :
            <ul>
                <li>- Evaluation des impacts environnementaux ICPE (Installations Classées pour la Protection de l’Environnement) des scénarios industriels dans le cas où un site situé en France est prévu dans le scénario,</li>
                <li>- Evaluation des procédés du(s) scénario(s) industriel(s) quel que soit le lieu géographique de fabrication</li>
            </ul>
       
            <img src="/images/product/ArtoProd2.jpg"/><br/>
            
            &nbsp; L’équipe Projet diffuse les résultats d’évaluation à la fonction environnement des activités du site de l’entreprise. Dans le cas où un scénario industriel est prévu sur un site situé en France, la fonction environnement des activités analyse les conséquences en termes de risques sur l’environnement de l’évolution de la gamme de produits sur le classement ICPE du site concerné (voir exemple de tableau de suivi des ICPE ci-dessous). Un scénario est évalué « Acceptable » si aucun procédé qui le compose n’est « Non acceptable ». Le résultat de cette analyse est transmis à l'équipe projet.<br/>
            
            <img src="/images/product/ArtoProd3.jpg"/>       
        </p>
        
        <h2>Evaluation environnementale des Procédés, comment ?</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; Faire l’inventaire des différents procédés utilisés sur le site industriel puis établir la liste des procédés :
            <ul>
                <li>- « propre » (techniques sans risque)</li>
                <li>- « acceptable » (avec conditions d’utilisation)</li>
                <li>- « non acceptable » (à éviter)</li>    
            </ul>
            
            <img src="/images/product/ArtoProd4.jpg" />
        </p>
        
        <h2>Proposition d’organisation</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; A chaque développement (Étude des schémas industriels) :
            <ul>
                <li>- description et/ou évaluation du procédé (si non évalué)</li>
                <li>- identification de l’existence d’un risque de générer un procédé « non acceptable »</li>
                <li>- proposition d’actions supprimant le risque</li>
            </ul>
            &nbsp; Le résultat de l’évaluation est présenté en Revue de conception qui prend les décisions pour :
            <ul>
                <li>- changer de procédé si l’évaluation est  « non acceptable »</li>
                <li>- le modifier pour le rendre « propre » ou « acceptable » (conditions d’utilisation)</li>
                <li>- accepter le caractère « non acceptable » du procédé choisi</li>                
            </ul>
            
            <img src="/images/product/ArtoProd5.jpg" />
        </p>
   </div>       
</section>

{% endblock %}