{% extends '::product_base.html.twig' %}

{% block side %}
    {% set section = "process" %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}

<script>
    $(function(){
        $(".processes").live('change', function(event) {
            event.preventDefault();
            var processes = $(this);
            var parent = processes.parent().parent();
            var p = processes.val();
            parent.find('.families').html('');
            $.post("{{ path('product_families') }}", { process: p }, function(data) {
                var families = parent.find('.families');
                families.html(data);
                families.show();
            });
        });

         $(".families").live('change', function(event) {
            event.preventDefault();
            var families = $(this);
            var parent = families.parent().parent();
            var f = families.val();
            $.post("{{ path('product_family_details') }}", { id: f }, function(data) {
                if(data.familyProcessName.substring(12,21)=='injection'){
                    if(data.familyName.search('hydraulique') != -1){
                        parent.find('.graph').html("<img src='/images/product/graphesEvaluationProcedes/85.jpg' style='height:220px; width:320px;'/>");
                        parent.find('.impactTotal').html("</br></br></br></br></br></br><label style='font-size:25pt; align:center;'>46</label>");
                    }
                    else if(data.familyName.search('électrique') != -1) {
                        parent.find('.graph').html("<img src='/images/product/graphesEvaluationProcedes/64.jpg' style='height:220px; width:320px;'/>");
                        parent.find('.impactTotal').html("</br></br></br></br></br></br><label style='font-size:25pt; align:center;'>36</label>");
                    }
                    else{
                        parent.find('.graph').html("<img src='/images/product/graphesEvaluationProcedes/" + data.familyId + ".jpg' style='height:220px; width:320px;'/>");
                        parent.find('.impactTotal').html("</br></br></br></br></br></br><label style='font-size:25pt; align:center;'>"+ data.familyImpact+"</label>");
                    }
                }
                else if(data.familyProcessName.substring(12,23)=='compression'){
                    if(data.familyName.search('hydraulique') != -1){
                        parent.find('.graph').html("<img src='/images/product/graphesEvaluationProcedes/25.jpg' style='height:220px; width:320px;'/>");
                        parent.find('.impactTotal').html("</br></br></br></br></br></br><label style='font-size:25pt; align:center;'>50</label>");
                    }
                    else if(data.familyName.search('électrique') != -1) {
                        parent.find('.graph').html("<img src='/images/product/graphesEvaluationProcedes/15.jpg' style='height:220px; width:320px;'/>");
                        parent.find('.impactTotal').html("</br></br></br></br></br></br><label style='font-size:25pt; align:center;'>40</label>");
                    }
                    else{
                        parent.find('.graph').html("<img src='/images/product/graphesEvaluationProcedes/" + data.familyId + ".jpg' style='height:220px; width:320px;'/>");
                        parent.find('.impactTotal').html("</br></br></br></br></br></br><label style='font-size:25pt; align:center;'>"+ data.familyImpact+"</label>");
                    }
                }
                else{
                   parent.find('.graph').html("<img src='/images/product/graphesEvaluationProcedes/" + data.familyId + ".jpg' style='height:220px; width:320px;'/>");
                   parent.find('.impactTotal').html("</br></br></br></br></br></br><label style='font-size:25pt; align:center;'>"+ data.familyImpact+"</label>");
                }
            }, "json");
        });

        $(".add").live('click', function(event){
            event.preventDefault();
            var newline = $('.graphes-table').find('.tr-clone').clone(true);
            newline.removeClass('tr-clone');
            $('.graphes-table').append(newline);
            return false;
        });
    });

</script>
<section class="main">
    <form method="post" action="{{ path('product_graphesProcedes', { 'id': project.id }) }}">
        <label>
            <b>
                Veuillez consulter la méthode d'évaluation des procédés située dans l'onglet "Objectifs et méthode utilisée"<br/>
                Comparer les impacts majeurs de plusieurs procédés et familles technologiques en utilisant <a href="#"><img src="/css/skin/famfamfam/add.png" /></a>
            </b>
        </label>
        <br/>    
        <table class="graphes-table">
            <tr>
                <th>&nbsp;</th>
                <th>Procédés</th>
                <th>Famille technologique</th>
                <th style="width:320px;">Graphe des indicateurs et coûts</th>
                <th>Impact total</th>
            </tr>
            <tr>
                <td style="border:none">
                    <a href="#" class="add"><img src="/css/skin/famfamfam/add.png" /></a>
                </td>
                <td>
                    <select class="processes" style="width: 170px; height: 28px;">
                        <option value="">- Choisir un procédé -</option>
                        {% for process in processes %}
                            <option value="{{ process.id }}">{{ process.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="families" style="width: 200px; height: 28px;">
                    </select>
                </td>
                <td class="graph"></td>
                <td class="impactTotal"></td>
            </tr>


            <!-- ce tr est caché en css et sera copier sur chaque click sur .add pour construire une nouvelle ligne -->
            <tr class="tr-clone">
                <td style="border:none"><a href="#" class="add"><img src="/css/skin/famfamfam/add.png" /></a></td>
                <td>
                    <select class="processes" style="width:170px; height: 28px;">
                        <option value="">- Choisir un procédé -</option>
                        {% for process in processes %}
                            <option value="{{ process.id }}">{{ process.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="families" style="width: 200px; height: 28px;"></select>
                </td>
                <td class="graph"></td>
                <td class="impactTotal"></td>
            </tr>
        </table>
    </form>
</section>

{% endblock %}