{% extends '::product_base.html.twig' %}

{% block side %}
    {% set section = "suiviEvolutions" %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}

<section class="main">
    {% for key,graphe in graphes %}
        <img src="{{ graphe }}" />
    {% endfor %}
</section>

{% endblock %}