{% extends '::product_base.html.twig' %}

{% block side %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        var rubriques_counter = {{ evaluationsIcpe|length - 1 }};
            $(".add").live('click', function(event){
                event.preventDefault();
                var trclone = $('.evaluationICPE-table').find('.tr-clone');
                var newline = trclone.clone(true);
                newline.removeClass('tr-clone');

                var input = newline.find(':input');
                input.each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/(activite\[)(\d+)(\])/, function(f, p1, p2, p3) {
                        return p1 + (rubriques_counter + 1) + p3;
                    }));
                });
                rubriques_counter++;
                
                trclone.before(newline);
                return false;
            });
      });
      
      function updateHostTable(src){
        var answerProcess1 = document.getElementsByName("impactsProcess[answer_Process1]")[0];
        var currQtyProcess1 = document.getElementsByName("impactsProcess[curr_qty_Process1]")[0];
        var newQtyProcess1 = document.getElementsByName("impactsProcess[new_qty_Process1]")[0];
        var suppQtyProcess1 = document.getElementsByName("impactsProcess[supp_qty_Process1]")[0];
        
        var answerProcess2 = document.getElementsByName("impactsProcess[answer_Process2]")[0];
        var currQtyProcess2 = document.getElementsByName("impactsProcess[curr_qty_Process2]")[0];
        var newQtyProcess2 = document.getElementsByName("impactsProcess[new_qty_Process2]")[0];
        var suppQtyProcess2 = document.getElementsByName("impactsProcess[supp_qty_Process2]")[0];
        
        var answerProcess3 = document.getElementsByName("impactsProcess[answer_Process3]")[0];
        var currQtyProcess3 = document.getElementsByName("impactsProcess[curr_qty_Process3]")[0];
        var newQtyProcess3 = document.getElementsByName("impactsProcess[new_qty_Process3]")[0];
        var suppQtyProcess3 = document.getElementsByName("impactsProcess[supp_qty_Process3]")[0];
        
        var answerProcess4 = document.getElementsByName("impactsProcess[answer_Process4]")[0];
        var currQtyProcess4 = document.getElementsByName("impactsProcess[curr_qty_Process4]")[0];
        var newQtyProcess4 = document.getElementsByName("impactsProcess[new_qty_Process4]")[0];
        var suppQtyProcess4 = document.getElementsByName("impactsProcess[supp_qty_Process4]")[0];
        
        var answerStockage1 = document.getElementsByName("impactsStockage[answer_Stockage1]")[0];
        
        var currQtyStockage2 = document.getElementsByName("impactsStockage[curr_qty_Stockage2]")[0];
        var newQtyStockage2 = document.getElementsByName("impactsStockage[new_qty_Stockage2]")[0];
        var suppQtyStockage2 = document.getElementsByName("impactsStockage[supp_qty_Stockage2]")[0];
        
        var currQtyStockage3 = document.getElementsByName("impactsStockage[curr_qty_Stockage3]")[0];
        var newQtyStockage3 = document.getElementsByName("impactsStockage[new_qty_Stockage3]")[0];
        var suppQtyStockage3 = document.getElementsByName("impactsStockage[supp_qty_Stockage3]")[0];
        
        var currQtyStockage4 = document.getElementsByName("impactsStockage[curr_qty_Stockage4]")[0];
        var newQtyStockage4 = document.getElementsByName("impactsStockage[new_qty_Stockage4]")[0];
        var suppQtyStockage4 = document.getElementsByName("impactsStockage[supp_qty_Stockage4]")[0];
        
        var answerStockage5 = document.getElementsByName("impactsStockage[answer_Stockage5]")[0];
        var currQtyStockage5 = document.getElementsByName("impactsStockage[curr_qty_Stockage5]")[0];
        var newQtyStockage5 = document.getElementsByName("impactsStockage[new_qty_Stockage5]")[0];
        var suppQtyStockage5 = document.getElementsByName("impactsStockage[supp_qty_Stockage5]")[0];
        
        var buttonSubmit = document.getElementsByName("submit")[0];
        var buttonModify = document.getElementsByName("modify")[0];
        
        var parent = buttonModify.parentNod
        //buttonModify.replace('<input type="submit" class="btn btn-success" value="Valider" name="submit"/>');
        var nodeNew = document.createElement("input");
        nodeNew.setAttribute("type","submit");
        nodeNew.setAttribute("class","btn btn-success");
        nodeNew.setAttribute("value","Valider");
        nodeNew.setAttribute("name","submit");
        buttonModify.parentNode.appendChild(nodeNew);
        buttonModify.parentNode.removeChild(buttonModify);
        
        
        //Process 1
        var optionsSelectAnswerProcess1HTML = "";
        if(answerProcess1.innerText=="Oui"){
            optionsSelectAnswerProcess1HTML = '<option value="yes" selected="selected">Oui</option>'+'<option value="no">Non</option>';
        }
        else{
            optionsSelectAnswerProcess1HTML = '<option value="yes">Oui</option>'+'<option value="no" selected="selected">Non</option>';
        }
        answerProcess1.parentNode.innerHTML = '<select name="impactsProcess[answer_Process1]" style="width: 55px;">'+optionsSelectAnswerProcess1HTML+'</select>';
        
        currQtyProcess1.parentNode.innerHTML = '<input type="text" name="impactsProcess[curr_qty_Process1]" value="'+currQtyProcess1.innerText+'"/>';
        newQtyProcess1.parentNode.innerHTML = '<input type="text" name="impactsProcess[new_qty_Process1]" value="'+newQtyProcess1.innerText+'"/>';
        suppQtyProcess1.parentNode.innerHTML = '<input type="text" name="impactsProcess[supp_qty_Process1]" value="'+suppQtyProcess1.innerText+'"/>';
        
        //Process 2
        var optionsSelectAnswerProcess2HTML = "";
        if(answerProcess2.innerText=="Oui"){
            optionsSelectAnswerProcess2HTML = '<option value="yes" selected="selected">Oui</option>'+'<option value="no">Non</option>';
        }
        else{
            optionsSelectAnswerProcess2HTML = '<option value="yes">Oui</option>'+'<option value="no" selected="selected">Non</option>';
        }
        answerProcess2.parentNode.innerHTML = '<select name="impactsProcess[answer_Process2]" style="width: 55px;">'+optionsSelectAnswerProcess2HTML+'</select>';
        
        currQtyProcess2.parentNode.innerHTML = '<input type="text" name="impactsProcess[curr_qty_Process2]" value="'+currQtyProcess2.innerText+'"/>';
        newQtyProcess2.parentNode.innerHTML = '<input type="text" name="impactsProcess[new_qty_Process2]" value="'+newQtyProcess2.innerText+'"/>';
        suppQtyProcess2.parentNode.innerHTML = '<input type="text" name="impactsProcess[supp_qty_Process2]" value="'+suppQtyProcess2.innerText+'"/>';
        
        //Process 3
        var optionsSelectAnswerProcess3HTML = "";
        if(answerProcess3.innerText=="Oui"){
            optionsSelectAnswerProcess3HTML = '<option value="yes" selected="selected">Oui</option>'+'<option value="no">Non</option>';
        }
        else{
            optionsSelectAnswerProcess3HTML = '<option value="yes">Oui</option>'+'<option value="no" selected="selected">Non</option>';
        }
        answerProcess3.parentNode.innerHTML = '<select name="impactsProcess[answer_Process3]" style="width: 55px;">'+optionsSelectAnswerProcess3HTML+'</select>';
        
        currQtyProcess3.parentNode.innerHTML = '<input type="text" name="impactsProcess[curr_qty_Process3]" value="'+currQtyProcess3.innerText+'"/>';
        newQtyProcess3.parentNode.innerHTML = '<input type="text" name="impactsProcess[new_qty_Process3]" value="'+newQtyProcess3.innerText+'"/>';
        suppQtyProcess3.parentNode.innerHTML = '<input type="text" name="impactsProcess[supp_qty_Process3]" value="'+suppQtyProcess3.innerText+'"/>';
        
        //Process 4
        var optionsSelectAnswerProcess4HTML = "";
        if(answerProcess4.innerText=="Oui"){
            optionsSelectAnswerProcess4HTML = '<option value="yes" selected="selected">Oui</option>'+'<option value="no">Non</option>';
        }
        else{
            optionsSelectAnswerProcess4HTML = '<option value="yes">Oui</option>'+'<option value="no" selected="selected">Non</option>';
        }
        answerProcess4.parentNode.innerHTML = '<select name="impactsProcess[answer_Process4]" style="width: 55px;">'+optionsSelectAnswerProcess4HTML+'</select>';
        
        currQtyProcess4.parentNode.innerHTML = '<input type="text" name="impactsProcess[curr_qty_Process4]" value="'+currQtyProcess4.innerText+'"/>';
        newQtyProcess4.parentNode.innerHTML = '<input type="text" name="impactsProcess[new_qty_Process4]" value="'+newQtyProcess4.innerText+'"/>';
        suppQtyProcess4.parentNode.innerHTML = '<input type="text" name="impactsProcess[supp_qty_Process4]" value="'+suppQtyProcess4.innerText+'"/>';
        
        //Stockage 1 (matières plastiques)
        var optionsSelectAnswerStockage1HTML="";
        if(answerStockage1.innerText=="Oui"){
            optionsSelectAnswerStockage1HTML = '<option value="yes" selected="selected">Oui</option>'+'<option value="no">Non</option>';
        }
        else{
            optionsSelectAnswerStockage1HTML = '<option value="yes">Oui</option>'+'<option value="no" selected="selected">Non</option>';
        }
        answerStockage1.innerHTML = '<select name="impactsStockage[answer_Stockage1]" style="width: 55px;">'+optionsSelectAnswerStockage1HTML+'</select>';
        
        //Stockage 2
        currQtyStockage2.parentNode.innerHTML = '<input type="text" name="impactsStockage[curr_qty_Stockage2]" value="'+currQtyStockage2.innerText+'"/>';
        newQtyStockage2.parentNode.innerHTML = '<input type="text" name="impactsStockage[new_qty_Stockage2]" value="'+newQtyStockage2.innerText+'"/>';
        suppQtyStockage2.parentNode.innerHTML = '<input type="text" name="impactsStockage[supp_qty_Stockage2]" value="'+suppQtyStockage2.innerText+'"/>';
        
        //Stockage 3
        currQtyStockage3.parentNode.innerHTML = '<input type="text" name="impactsStockage[curr_qty_Stockage3]" value="'+currQtyStockage3.innerText+'"/>';
        newQtyStockage3.parentNode.innerHTML = '<input type="text" name="impactsStockage[new_qty_Stockage3]" value="'+newQtyStockage3.innerText+'"/>';
        suppQtyStockage3.parentNode.innerHTML = '<input type="text" name="impactsStockage[supp_qty_Stockage3]" value="'+suppQtyStockage3.innerText+'"/>';
        
        //Stockage 4
        currQtyStockage4.parentNode.innerHTML = '<input type="text" name="impactsStockage[curr_qty_Stockage4]" value="'+currQtyStockage4.innerText+'"/>';
        newQtyStockage4.parentNode.innerHTML = '<input type="text" name="impactsStockage[new_qty_Stockage4]" value="'+newQtyStockage4.innerText+'"/>';
        suppQtyStockage4.parentNode.innerHTML = '<input type="text" name="impactsStockage[supp_qty_Stockage4]" value="'+suppQtyStockage4.innerText+'"/>';
        
        //Stockage 5
         var optionsSelectAnswerStockage5HTML = "";
        if(answerStockage5.innerText=="Oui"){
            optionsSelectAnswerStockage5HTML = '<option value="yes" selected="selected">Oui</option>'+'<option value="no">Non</option>';
        }
        else{
            optionsSelectAnswerStockage5HTML = '<option value="yes">Oui</option>'+'<option value="no" selected="selected">Non</option>';
        }
        answerStockage5.parentNode.innerHTML = '<select name="impactsStockage[answer_Stockage5]" style="width: 55px;">'+optionsSelectAnswerStockage5HTML+'</select>';
        
        currQtyStockage5.parentNode.innerHTML = '<input type="text" name="impactsStockage[curr_qty_Stockage5]" value="'+currQtyStockage5.innerText+'"/>';
        newQtyStockage5.parentNode.innerHTML = '<input type="text" name="impactsStockage[new_qty_Stockage5]" value="'+newQtyStockage5.innerText+'"/>';
        suppQtyStockage5.parentNode.innerHTML = '<input type="text" name="impactsStockage[supp_qty_Stockage5]" value="'+suppQtyStockage5.innerText+'"/>';
      }
</script>    
<section class="main">
    <form method="post" action="{{ path('product_impactsICPE_save', { 'project' : project.id }) }}">
        <table class="evaluationICPE-table" name="evaluationICPE-table">
            <tr>
                <td align="left" colspan="2" bgcolor="#ffffcc">DATE</td>
                <td colspan="3" style="width: 1px; height: 1px;">{{ project.piloteDate|date("d/m/Y")}}</td>
                <td align="center" colspan="8" bgcolor="#da9694" class="title">Données renseignées par l'équipe projet</td>
            </tr>
            <tr>
                <td align="left" colspan="2" bgcolor="#ffffcc">NOM PILOTE</td>
                <td colspan="3" style="width: 1px; height: 1px;">{{ project.pilote}}</td>
                <td align="center" colspan="2" rowspan="2" bgcolor="#ffffcc"><font size="40pt">Refonte gamme</font></td>
                <td align="center" rowspan="2" bgcolor="#ffffcc">Supplément de gamme</td>
            </tr>
            <tr>
                <td align="left" colspan="2" bgcolor="#ffffcc">NOM PROJET</td>
                <td colspan="3" style="width: 1px; height: 1px;">{{ project.name}}</td>
            </tr>
            <tr>
                <td align="left" colspan="2" bgcolor="#ffffcc">N° PROJET</td>
                <td colspan="3" style="width: 1px; height: 1px;">{{ project.numero}}</td>
                <td align="center" bgcolor="#eeece1">Qté gamme actuelle</td>
                <td align="center" bgcolor="#eeece1">Qté gamme nouvelle</td>
                <td align="center" bgcolor="#eeece1">Mise en jeu par cette activité à PVA cible</td>
            </tr>
            
            {% for key, process in processes %}
            <tr>
                {% if key==0 %}
                    <td style="width: 20px; height: 1px;" rowspan="{{ nbProcess *2}}" align="center" background="/images/Procedes.png"></td>
                {% endif %}
                    <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                    <td style="width: 1%;" colspan="2" rowspan="2" align="left">{{ process.name|raw }}</td>
                {% for impact in impacts %}
                    {% if impact.processIcpe != null %}
                        {% if impact.processIcpe.id == process.id %}
                            <input type="hidden" name="impactsProcess[id_Process{{ process.id }}]" value="{{ impact.id }}"/>
                            <td align="center" style="width: 1px; height: 1px;">
                                {% if impact.answer == 1 %}
                                    <label name="impactsProcess[answer_Process{{ process.id }}]">Oui</label>
                                {% else %}
                                    <label name="impactsProcess[answer_Process{{ process.id }}]">Non</label>
                                {% endif %}   
                            </td>
                
                            <td rowspan="2" align="center">
                                <label name ="impactsProcess[curr_qty_Process{{ process.id }}]">{{ impact.currQty }}</label>
                            </td>
                            <td rowspan="2" align="center">
                                <label name="impactsProcess[new_qty_Process{{ process.id }}]">{{ impact.newQty }}</label>
                            </td>
                            <td  rowspan="2" align="center">
                                <label name="impactsProcess[supp_qty_Process{{ process.id }}]">{{ impact.suppQty }}</label>
                            </td>
                            {% set trouve = 1 %}
                        {% endif %}
                    {% endif %}            
                {% endfor %}
                            
                {% if trouve == 0 %}        
                    <td align="center" style="width: 1px; height: 1px;">  
                        <select name="impactsProcess[answer_Process{{ process.id }}]" style="width: 55px;">
                            <option value="yes">Oui</option>
                            <option value="no">Non</option>
                        </select>      
                    </td>
                            
                    <td rowspan="2" align="center">
                        <input type="text" name="impactsProcess[curr_qty_Process{{ process.id }}]"/>
                    </td>
                    <td rowspan="2" align="center">
                        <input type="text" name="impactsProcess[new_qty_Process{{ process.id }}]"/>
                    </td>
                    <td rowspan="2" align="center">
                        <input type="text" name="impactsProcess[supp_qty_Process{{ process.id }}]"/>
                    </td>
                {% endif %}
                        
                {% set trouve=0 %}        
            </tr>
            <tr>
                <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                {% if process.unit!="" %}
                    {% if process.unit=="m3" %}
                        <td style="width: 1px; height: 1px;"  align="center">m<sup>3</sup></td>
                    {% else %}    
                        <td style="width: 1px; height: 1px;"  align="center">{{ process.unit }}</td>
                    {% endif %}
                
                {% else %}
                        <td align="center" style="width: 1px; height: 1px;" ><label>Laquelle ?</label></td>
                {% endif %}    
            </tr>
            {% endfor %}
            
            {% for key,stockage in stockages %}
            <tr>
                {% if key==0 %}
                    <td width="20px;" rowspan="11" align="center" background="/images/Stockage.png"></td>
                    <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                    <td style="width: 1%" colspan="2" align="left">{{ stockage.name|raw }}</td>
                    {% for impact in impacts %}
                        {% if impact.stockageIcpe != null %}
                            {% if impact.stockageIcpe.id == stockage.id %}
                                <input type="hidden" name="impactsStockage[id_Stockage{{ stockage.id }}]" value="{{ impact.id }}"/>
                                <td align="center">
                                    {% if impact.answer == 1 %}
                                        <label name="impactsStockage[answer_Stockage{{ stockage.id }}]">Oui</label>
                                    {% else %}
                                        <label name="impactsStockage[answer_Stockage{{ stockage.id }}]">Non</label>
                                    {% endif %} 
                                </td>
                                {% set trouve = 1 %}
                            {% endif %}
                        {% endif %}            
                    {% endfor %}
                    
                    {% if trouve==0 %}            
                        <td align="center">
                            <select name="impactsStockage[answer_Stockage{{ stockage.id }}]" style="width: 55px;">
                                <option value="yes">Oui</option>
                                <option value="no">Non</option>
                            </select>    
                        </td>
                    {% endif %}
                            
                    {% set trouve=0 %}            
                    <td colspan="9" align="center"></td>
                {% elseif key==1 or key==2 or key==3 %}
                    <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                    <td style="width: 1%" colspan="2"><span style="margin-left:20px;">{{ stockage.name|raw }}</span></td>
                    {% if stockage.unit=="m3/an" %}
                        <td align="center">m<sup>3</sup>/an</td>
                    {% else %}    
                        <td align="center">{{ stockage.unit }}</td>
                    {% endif %}
                    
                    {% for impact in impacts %}
                        {% if impact.stockageIcpe!= null %}
                            {% if impact.stockageIcpe.id == stockage.id %}
                                <input type="hidden" name="impactsStockage[id_Stockage{{ stockage.id }}]" value="{{ impact.id }}"/>
                                <td align="center">
                                    <label name="impactsStockage[curr_qty_Stockage{{stockage.id }}]" >{{ impact.currQty }}</label>
                                </td>
                                <td align="center">
                                    <label name="impactsStockage[new_qty_Stockage{{stockage.id }}]">{{ impact.newQty }}</label>
                                </td>
                                <td align="center">
                                    <label name="impactsStockage[supp_qty_Stockage{{stockage.id }}]">{{ impact.suppQty }}</label>
                                </td>
                                {% set trouve = 1 %}
                            {% endif %}
                        {% endif %}            
                    {% endfor %}
                    
                    {% if trouve==0 %}            
                        <td align="center">
                            <input type="text" name="impactsStockage[curr_qty_Stockage{{stockage.id }}]"/>
                        </td>
                        <td align="center">
                            <input type="text" name="impactsStockage[new_qty_Stockage{{stockage.id }}]"/>
                        </td>
                        <td align="center">
                            <input type="text" name="impactsStockage[supp_qty_Stockage{{stockage.id }}]"/>
                        </td>
                    {% endif %}
                            
                    {% set trouve=0 %}        
                {% else %}
                    <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                    <td style="width: 1%" colspan="2" rowspan="3" align="left">{{ stockage.name|raw }}</td>
                    {% for impact in impacts %}
                        {% if impact.stockageIcpe!= null %}
                            {% if impact.stockageIcpe.id == stockage.id %}
                                <input type="hidden" name="impactsStockage[id_Stockage{{ stockage.id }}]" value="{{ impact.id }}"/>
                                <td align="center">
                                    {% if impact.answer == 1 %}
                                        <label name="impactsStockage[answer_Stockage{{ stockage.id }}]">Oui</label>
                                    {% else %}
                                        <label name="impactsStockage[answer_Stockage{{ stockage.id }}]">Non</label>
                                    {% endif %} 
                                </td>
                   
                                <td rowspan="3" align="center">
                                    <label name="impactsStockage[curr_qty_Stockage{{stockage.id }}]">{{ impact.currQty }}</label>
                                </td>
                                <td rowspan="3" align="center">
                                    <label name="impactsStockage[new_qty_Stockage{{stockage.id }}]">{{ impact.newQty }}</label>
                                </td>
                                <td rowspan="3" align="center">
                                    <label name="impactsStockage[supp_qty_Stockage{{stockage.id }}]">{{ impact.suppQty }}</label>
                                </td>
                                {% set trouve = 1 %}
                            {% endif %}
                        {% endif %}            
                    {% endfor %}
                    
                    {% if trouve==0 %}
                        <td align="center">
                            <select name="impactsStockage[answer_Stockage{{ stockage.id }}]" style="width: 55px;">
                                <option value="yes">Oui</option>
                                <option value="no">Non</option>
                        </select>      
                        </td>        
                        <td rowspan="3" align="center">
                            <input type="text" name="impactsStockage[curr_qty_Stockage{{stockage.id }}]"/>
                        </td>
                        <td rowspan="3" align="center">
                            <input type="text" name="impactsStockage[new_qty_Stockage{{stockage.id }}]"/>
                        </td>
                        <td rowspan="3" align="center">
                            <input type="text" name="impactsStockage[supp_qty_Stockage{{stockage.id }}]"/>
                        </td>
                    {% endif %}
                    
                    {% set trouve=0 %}        
                {% endif %}           
            </tr>
            <tr>   
                {% if key==4 %}
                    <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                    <td align="center"><label>Lesquels ?</label></td>
                    <tr>
                        <td style="border:none; width:20px;">&nbsp;</td>
                        {% if stockage.unit=="m3/an" %}
                            <td align="center">m<sup>3</sup>/an</td>
                        {% else %}    
                            <td align="center">{{ stockage.unit }}</td>
                        {% endif %}
                    </tr>      
                {% endif %}     
            </tr>
            {% endfor %}
            
            <tr>
                <td rowspan="8" align="center" background="/images/Evaluation.png"></td>
                <td colspan="12" align="center" bgcolor="#da9694">Données évaluées par le correspondant environnement des activités</td>
            </tr>
            
            {% if nbEvaluations !=0 %}
                {% for key,evaluationIcpe in evaluationsIcpe %}
                    {% if evaluationIcpe.rubriqueEvaluation!= null %}
                        <tr>
                            <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                            <td align="right">NOM</td>
                            <td colspan="2"><label>{{ evaluationIcpe.nomCorrespondant }}</label></td>
                            <td align="right">DATE REPONSE</td>
                            <td align="left" colspan="2"><label>{{ evaluationIcpe.dateReponse|date('d/m/Y') }}</label></td>         
                        </tr>
                        <tr>
                            <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                            <td align="center">Rubrique concernée</td>
                            <td align="center" colspan="2">Valeur</td>
                            <td align="center" colspan="3">Commentaires</td>
                        </tr>

                        <tr>
                            <td style="border:none; width:20px;">
                                <a href="#" class="add"><img src="/css/skin/famfamfam/add.png" /></a>
                                <input type="hidden" name="evaluationIcpe[{{ key }}][id]" value="{{ evaluationIcpe.id }}"/>
                            </td>
                            <td>      
                                <label name="evaluationIcpe[{{ key }}][rubriqueName]">{{ evaluationIcpe.rubriqueEvaluation.rubrique.name }}</label>
                            </td>
                            <td colspan="2">
                                <label name="evaluationIcpe[{{ key }}][rubriqueValue]">{{ evaluationIcpe.rubriqueEvaluation.value }}</label>
                            </td>
                            <td colspan="7">
                                <label name="evaluationIcpe[{{ key }}][rubriqueComment]">{{ evaluationIcpe.rubriqueEvaluation.commentaire }}</label>
                            </td>
                        </tr>
                        
                       <!-- ce tr est caché en css et sera copier sur chaque click sur .add pour construire une nouvelle ligne -->
                       {% set key_new = evaluationsIcpe|length %}
                       <tr class="tr-clone">
                           <td style="border:none; width:20px;">
                               <a href="#" class="add"><img src="/css/skin/famfamfam/add.png" /></a>
                           </td>
                           <td>      
                               <select name="activite[{{ key_new }}][rubriqueId]" class="rubriques" style="width:70px;">
                                   <option value="">- Choisir une rubrique -</option>
                                       {% for rubrique in rubriques %}
                                           <option value="{{ rubrique.id }}">{{ rubrique.name }}</option>
                                       {% endfor %}
                               </select>
                           </td>
                           <td colspan="2">
                               <input name="activite[{{ key_new }}[rubriqueName]" type="text" style="width:90%"/>
                           </td>
                           <td colspan="7">
                               <input name="activite[{{ key_new }}[rubriqueComment]" type="text" style="width:99%"/>
                           </td>
                       </tr>       

                        <tr>
                            <td colspan="3">
                                <select align="center" style="width:99%;" name="evaluation_impact" >
                                    <option value="yes" style="color:#ffffff; background-color:#00b050; font-size: 100px;">Sans impact</option>
                                    <option value="no" style="color:#ffffff; background-color:#ff0000; font-size: 100px;">Avec impact</option>
                                </select>
                            </td>
                            <td colspan="4">
                                <b>Il y a impact sur l'environnement lorsque les seuils des rubriques ICPE de déclaration ou d'autorisation sont atteints</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <label>{{ evaluationIcpe.commentaire }}</label>
                            </td>
                        </tr>
                      {% endif %}
                  {% endfor %}
             {% else %}           
                <tr>
                    <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                    <td align="right">NOM</td>
                    <td colspan="2"><input type="text"/></td>
                    <td align="right">DATE REPONSE</td>
                    <td align="left" colspan="2"><input style="width:85%" type="text" name="reponse_correspondant_date" class="date-pick"/></td>         
                </tr>
                <tr>
                    <td style="border:none; width: 1%;" nowrap>&nbsp;</td>
                    <td align="center">Rubrique concernée</td>
                    <td align="center" colspan="2">Valeur</td>
                    <td align="center" colspan="3">Commentaires</td>
                </tr>

                <tr>
                    <td style="border:none; width:20px;">
                        <a href="#" class="add"><img src="/css/skin/famfamfam/add.png" /></a>
                        
                    </td>
                    <td>      
                        <select name="evaluation[0][rubriqueName]" class="rubriques" style="width:70px;">
                            <option value=""></option>
                                {% for rubrique in rubriques %}
                                    <option value="{{ rubrique.id }}">{{ rubrique.name }}</option>
                                {% endfor %}
                        </select>
                    </td>
                    <td colspan="2">
                        <input name="evaluation[0][rubriqueValue]" type="text" style="width:90%"/>
                    </td>
                    <td colspan="7">
                        <input name="evaluation[0][rubriqueComment]" type="text" style="width:99%"/>
                    </td>
                </tr>
                
                <!-- ce tr est caché en css et sera copier sur chaque click sur .add pour construire une nouvelle ligne -->
                {% set key_new = evaluationsIcpe|length + 1 %}
                <tr class="tr-clone">
                    <td style="border:none; width:20px;">
                        <a href="#" class="add"><img src="/css/skin/famfamfam/add.png" /></a>
                    </td>
                    <td>      
                        <select name="evaluation[{{ key_new }}][rubriqueName]" class="rubriques" style="width:70px;">
                            <option value="">- Choisir une rubrique -</option>
                                {% for rubrique in rubriques %}
                                    <option value="{{ rubrique.id }}">{{ rubrique.name }}</option>
                                {% endfor %}
                        </select>
                    </td>
                    <td colspan="2">
                        <input name="evaluation[{{ key_new }}][rubriqueValue]" type="text" style="width:90%"/>
                    </td>
                    <td colspan="7">
                        <input name="evaluation[{{ key_new }}][rubriqueComment]" type="text" style="width:99%"/>
                    </td>
                </tr>       

                <tr>
                    <td colspan="3">
                        <select align="center" style="width:99%;" name="evaluation_impact" >
                            <option value="yes" style="color:#ffffff; background-color:#00b050; font-size: 100px;">Sans impact</option>
                            <option value="no" style="color:#ffffff; background-color:#ff0000; font-size: 100px;">Avec impact</option>
                        </select>
                    </td>
                    <td colspan="4">
                        <b>Il y a impact sur l'environnement lorsque les seuils des rubriques ICPE de déclaration ou d'autorisation sont atteints</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="12">
                        <input type="text" style="width:99%;" />
                    </td>
                </tr>
            {% endif %}
                
            
        </table>
        {% if nbImpacts !=0 %}    
            <input class="btn" type="submit" value="Modifier" onclick="updateHostTable(this)" name="modify" />
        {% else %}
            <input type="submit" class="btn btn-success" value="Valider" name="submit" />
        {% endif %}    
    </form>
</section>        
{% endblock %}
