{% extends '::product_base.html.twig' %}

{% block side %}
    {% set section = "impact" %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
            $(".typeOperation").live('change', function(event) {
                $('#table1').hide();
                $('#table2').hide();

                var val = $(this).val();
                $('#table'+val).fadeIn();

            }).change();

            $(".showHideProcessRefonte").live('click', function(event) {
                for(i=1;i<={{nbProcess}};i++){
                    if($('#processRefonte'+i).is(":visible")){
                            $('#processRefonte'+i).hide();
                        }
                    else{
                        $('#processRefonte'+i).fadeIn();
                    }
                }
            });

            $(".showHideProcessSupplement").live('click', function(event) {
                for(i=1;i<={{nbProcess}};i++){
                    if($('#processSupplement'+i).is(":visible")){
                            $('#processSupplement'+i).hide();
                        }
                    else{
                        $('#processSupplement'+i).fadeIn();
                    }
                }
            });

            $(".showHideStockageRefonte").live('click', function(event) {
                for(i=2;i<={{nbStockages+1}};i++){
                    if($('#stockageRefonte'+i).is(":visible")){
                            $('#stockageRefonte'+i).hide();
                        }
                    else{
                        $('#stockageRefonte'+i).fadeIn();
                    }
                }
            });

            $(".showHideStockageSupplement").live('click', function(event) {
                for(i=2;i<={{nbStockages+1}};i++){
                    if($('#stockageSupplement'+i).is(":visible")){
                            $('#stockageSupplement'+i).hide();
                        }
                    else{
                        $('#stockageSupplement'+i).fadeIn();
                    }
                }
            });

            $(".yesNoProcessRefonte").live('change', function(event) {
                var name = $(this).attr('name');
                var toRemove1 = 'impactsProcessRefonte[answer_Process';
                var toRemove2 = ']';
                var nameMoinsToRemove1 = name.replace(toRemove1,'');
                var processId = nameMoinsToRemove1.replace(toRemove2,'');

                if($(this).val() == "no"){
                    $('#currQtyProcessRefonte'+processId).hide();
                    $('#currQtyProcessRefonteUnit'+processId).hide();
                    $('#newQtyProcessRefonte'+processId).hide();
                    $('#newQtyProcessRefonteUnit'+processId).hide();
                    if( processId == 4){
                        $('#descriptionProcessRefonte'+processId).hide();
                    }
                }
                else{
                    $('#currQtyProcessRefonte'+processId).fadeIn();
                    $('#currQtyProcessRefonteUnit'+processId).fadeIn();
                    $('#newQtyProcessRefonte'+processId).fadeIn();
                    $('#newQtyProcessRefonteUnit'+processId).fadeIn();
                    if( processId == 4){
                        $('#descriptionProcessRefonte'+processId).fadeIn();
                    }
                }
            });

             $(".yesNoProcessSupplement").live('change', function(event) {
                var name = $(this).attr('name');
                var toRemove1 = 'impactsProcessSupplement[answer_Process';
                var toRemove2 = ']';
                var nameMoinsToRemove1 = name.replace(toRemove1,'');
                var processId = nameMoinsToRemove1.replace(toRemove2,'');

                if($(this).val() == "no"){
                    $('#suppQtyProcessSupplement'+processId).hide();
                    $('#suppQtyProcessSupplementUnit'+processId).hide();
                    if( processId == 4){
                        $('#descriptionProcessSupplement'+processId).hide();
                    }
                }
                else{
                    $('#suppQtyProcessSupplement'+processId).fadeIn();
                    $('#suppQtyProcessSupplementUnit'+processId).fadeIn();
                    if( processId == 4){
                        $('#descriptionProcessSupplement'+processId).fadeIn();
                    }
                }
            });

             $(".yesNoStockageRefonte").live('change', function(event) {
                var name = $(this).attr('name');
                var toRemove1 = 'impactsStockageRefonte[answer_Stockage';
                var toRemove2 = ']';
                var nameMoinsToRemove1 = name.replace(toRemove1,'');
                var stockageId = nameMoinsToRemove1.replace(toRemove2,'');

                if($(this).val() == "no"){
                    $('#currQtyStockageRefonte'+stockageId).hide();
                    $('#currQtyStockageRefonteUnit'+stockageId).hide();
                    $('#newQtyStockageRefonte'+stockageId).hide();
                    $('#newQtyStockageRefonteUnit'+stockageId).hide();
                }
                else{
                    $('#currQtyStockageRefonte'+stockageId).fadeIn();
                    $('#currQtyStockageRefonteUnit'+stockageId).fadeIn();
                    $('#newQtyStockageRefonte'+stockageId).fadeIn();
                    $('#newQtyStockageRefonteUnit'+stockageId).fadeIn();
                }
            });

            $(".yesNoStockageSupplement").live('change', function(event) {
                var name = $(this).attr('name');
                var toRemove1 = 'impactsStockageSupplement[answer_Stockage';
                var toRemove2 = ']';
                var nameMoinsToRemove1 = name.replace(toRemove1,'');
                var stockageId = nameMoinsToRemove1.replace(toRemove2,'');

                if($(this).val() == "no"){
                    $('#suppQtyStockageSupplement'+stockageId).hide();
                    $('#suppQtyStockageSupplementUnit'+stockageId).hide();
                }
                else{
                    $('#suppQtyStockageSupplement'+stockageId).fadeIn();
                    $('#suppQtyStockageSupplementUnit'+stockageId).fadeIn();
                }
            });

             $(".showHideEvaluationRefonte").live('click', function(event) {
                 if($('#donneesEvaluationRefonte').is(":visible"))
                    {
                        $('#donneesEvaluationRefonte').hide();
                    }
                 else {
                        $('#donneesEvaluationRefonte').fadeIn();
                     }

                 if($('#resultEvaluationRefonte').is(":visible"))
                    {
                        $('#resultEvaluationRefonte').hide();
                    }
                 else {
                        $('#resultEvaluationRefonte').fadeIn();
                     }

                 if($('#impactsEvaluationRefonte').is(":visible"))
                    {
                        $('#impactsEvaluationRefonte').hide();
                    }
                 else {
                        $('#impactsEvaluationRefonte').fadeIn();
                     }
                     
                 if($('#answerEvaluationRefonte').is(":visible"))
                    {
                        $('#answerEvaluationRefonte').hide();  
                    }
                 else
                    {
                        $('#answerEvaluationRefonte').fadeIn();
                    }       
            });

            $(".showHideEvaluationSupplement").live('click', function(event) {
                 if($('#donneesEvaluationSupplement').is(":visible"))
                    {
                        $('#donneesEvaluationSupplement').hide();
                    }
                 else {
                        $('#donneesEvaluationSupplement').fadeIn();
                     }

                 if($('#resultEvaluationSupplement').is(":visible"))
                    {
                        $('#resultEvaluationSupplement').hide();
                    }
                 else {
                        $('#resultEvaluationSupplement').fadeIn();
                     }

                 if($('#impactsEvaluationSupplement').is(":visible"))
                    {
                        $('#impactsEvaluationSupplement').hide();
                    }
                 else {
                        $('#impactsEvaluationSupplement').fadeIn();
                     }
                 
                 if($('#answerEvaluationSupplement').is(":visible"))
                    {
                        $('#answerEvaluationSupplement').hide();  
                    }
                 else
                    {
                        $('#answerEvaluationSupplement').fadeIn();
                    }   
            });
      });
</script>
<section class="main">
    {% set processRefonteExistant = false %}
    {% set processSupplementExistant = false %}    
    {% set stockageRefonteExistant = false %}
    {% set stockageSupplementExistant = false %}
    {% set evaluationRefonteExistant = false %}
    {% set evaluationSupplementExistant = false %}    
        
    {% for impact in impacts %}
        {% if impact.processIcpe != null %}
            {% if impact.answer == 1 %}
                {% if impact.currQty != null and impact.newQty != null %}
                     {% set processRefonteExistant = true %}
                {% elseif impact.suppQty != null %}
                     {% set processSupplementExistant = true %}
                {% endif %}        
            {% endif %}
        {% elseif impact.stockageIcpe != null %}
            {% if impact.answer == 1 %}
                {% if impact.currQty != null and impact.newQty != null %}
                    {% set stockageRefonteExistant = true %}
                {% elseif impact.suppQty != null %}
                    {% set stockageSuppelementExistant = true %}
                {% endif %}        
            {% endif %}
        {% endif %}
    {% endfor %}
        
    {% if evaluationIcpe.nomCorrespondant != "" %}
        {% set evaluationRefonteExistant = true %}
        {% set evaluationSupplementExistant = true %}
    {% endif %}    
    <form method="post" action="{{ path('product_impactsICPE_save', { 'project' : project.id }) }}">
        <select name="typeOperation" class="typeOperation">
            {% if evaluationIcpe.typeEvaluation == "Refonte" %}
                <option value="0">-Choisir-</option>
                <option value="1" selected="selected">Refonte de gamme</option>
                <option value="2">Supplément de gamme</option>
            {% elseif evaluationIcpe.typeEvaluation == "Supplement" %}
                <option value="0">-Choisir-</option>
                <option value="1">Refonte de gamme</option>
                <option value="2" selected="selected">Supplément de gamme</option>
            {% else %}
                <option value="0" selected="selected">-Choisir-</option>
                <option value="1">Refonte de gamme</option>
                <option value="2">Supplément de gamme</option>
            {% endif %}    
        </select>
        
        <label style="font-size: 15px; font-weight: bold; color : red;">N'oubliez pas de valider votre tableau avec le bouton Valider avant de changer de page !</label>
            
        <div class="row" id="table1" {% if evaluationIcpe.typeEvaluation != "Refonte" %}style="display: none;"{% endif %}>
            <table class="evaluationICPE-table" style="width: 800px;">
                <tr class="odd">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td colspan="4" align="center" style="font-weight: bold;">Refonte gamme</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td colspan="2" align="center" style="font-weight: bold;">Qté gamme actuelle</td>
                    <td colspan="2" align="center" style="font-weight: bold;">Qté gamme nouvelle</td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#98CC00" style="width:300px;">
                        <h5 style="font-weight: bold; color:white;">PROCESS INDUSTRIELS</h5>
                    </td>
                    <td align="left" bgcolor="#98CC00">
                        <a href="#" class="showHideProcessRefonte" style="color: transparent;">
                            <img src="/css/skin/favicon.ico" style="width:16px; height:16px;"/>
                        </a>
                    </td>
                    <td align="center" bgcolor="#98CC00" colspan="4">
                        <h5 style="font-weight: bold; color:white;">Données renseignées par l'équipe projet</h5>
                    </td>
                </tr>
                {% for key,process in processes %}
                    <tr id="processRefonte{{ process.id }}" class="{% if key is divisibleby(2) %}odd{%endif%}">
                        <td>{{ process.name|raw }}</td>
                        {% if impacts|length == 0 %}
                            {% if process.id != 4 %}
                                <td align="center">
                                    <select class="yesNoProcessRefonte" style="width:55px;" name="impactsProcessRefonte[answer_Process{{ process.id }}]">
                                        <option value="yes">Oui</option>
                                        <option value="no" selected="selected">Non</option>
                                    </select>
                                </td>
                                <td align="center">
                                    <input id="currQtyProcessRefonte{{ process.id }}" style="width:50px; display:none;" type="text" name="impactsProcessRefonte[curr_qty_Process{{ process.id }}]"/>
                                </td>
                                <td>
                                    <label id="currQtyProcessRefonteUnit{{ process.id }}" style="display: none;">
                                     {{ process.unit|raw }}
                                    </label>
                                </td>
                                <td align="center">
                                    <input id="newQtyProcessRefonte{{ process.id}}" style="width:50px; display:none;" type="text" name="impactsProcessRefonte[new_qty_Process{{ process.id }}]"/>
                                </td>
                                <td>
                                    <label id="newQtyProcessRefonteUnit{{ process.id }}" style="display: none;">
                                    {{ process.unit|raw }}
                                    </label>
                                </td>
                            {% else %}
                                <td align="center">
                                    <select class="yesNoProcessRefonte" style="width:55px;" name="impactsProcessRefonte[answer_Process{{ process.id }}]">
                                        <option value="yes">Oui</option>
                                        <option value="no" selected="selected">Non</option>
                                    </select>
                                </td>
                                <td align="center" colspan="4">
                                    <input id="descriptionProcessRefonte{{ process.id }}" style="width:350px; display:none;" type="text" name="impactsProcessRefonte[description_Process{{ process.id }}]"/>
                                </td>
                            {% endif %}    
                        {% else %}
                            {% for impact in impacts %}
                                {% if impact.processIcpe != null %}
                                    {% if impact.processIcpe.id == process.id %}
                                        {% if process.id != 4 %}
                                            <input type="hidden" name="impactsProcessRefonte[id_Process{{ process.id }}]" value="{{ impact.id }}"/>
                                            <td align="center">
                                                <select class="yesNoProcessRefonte" style="width:55px;" name="impactsProcessRefonte[answer_Process{{ process.id }}]">
                                                    {% if impact.answer == 1 %}
                                                        <option value="yes" selected="selected">Oui</option>
                                                        <option value="no">Non</option>
                                                    {% else %}
                                                        <option value="yes">Oui</option>
                                                        <option value="no" selected="selected">Non</option>
                                                    {% endif %}    
                                                </select>
                                            </td>
                                            <td align="center">
                                                <input id="currQtyProcessRefonte{{ process.id }}" style="width:50px; {% if impact.answer!=1 %} display:none;{% endif %}" type="text" name="impactsProcessRefonte[curr_qty_Process{{ process.id }}]" value="{{ impact.currQty }}"/>
                                            </td>
                                            <td>
                                                <label id="currQtyProcessRefonteUnit{{ process.id }}" {% if impact.answer!=1 %} style="display:none;"{% endif %}>
                                                    {{ process.unit|raw }}
                                                </label>
                                            </td>
                                            <td align="center">
                                                <input id="newQtyProcessRefonte{{ process.id}}" style="width:50px; {% if impact.answer!=1 %} display:none;{% endif %}" type="text" name="impactsProcessRefonte[new_qty_Process{{ process.id }}]" value="{{ impact.newQty }}"/>
                                            </td>
                                            <td>
                                                <label id="newQtyProcessRefonteUnit{{ process.id }}" {% if impact.answer!=1 %} style="display:none;"{% endif %}>
                                                    {{ process.unit|raw }}
                                                </label>
                                            </td>
                                        {% else %}
                                            <input type="hidden" name="impactsProcessRefonte[id_Process{{ process.id }}]" value="{{ impact.id }}"/>
                                            <td align="center">
                                                <select class="yesNoProcessRefonte" style="width:55px;" name="impactsProcessRefonte[answer_Process{{ process.id }}]">
                                                    {% if impact.answer == 1 %}
                                                        <option value="yes" selected="selected">Oui</option>
                                                        <option value="no">Non</option>
                                                    {% else %}
                                                        <option value="yes">Oui</option>
                                                        <option value="no" selected="selected">Non</option>
                                                    {% endif %}    
                                                </select>
                                            </td>
                                            <td align="center" colspan="4">
                                                <input id="descriptionProcessRefonte{{ process.id }}" style="width:350px; display:none;" type="text" name="impactsProcessRefonte[description_Process{{ process.id }}]" value="{{ impact.description }}"/>
                                            </td>
                                        {% endif %}    
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                   </tr>
                {% endfor %}
                <tr>
                    <td align="center" bgcolor="#98CC00" style="width:300px;">
                        <h5 style="font-weight: bold; color:white;">STOCKAGE DE MATIERES PLASTIQUES</h5>
                    </td>
                    <td align="left" bgcolor="#98CC00">
                        <a href="#" class="showHideStockageRefonte" style="color: transparent;">
                            <img src="/css/skin/favicon.ico" style="width:16px; height:16px;"/>
                        </a>
                    </td>
                    <td align="center" bgcolor="#98CC00" colspan="4">
                        <h5 style="font-weight: bold; color:white;">Données renseignées par l'équipe projet</h5>
                    </td>
                </tr>
                {% for key,stockage in stockages %}
                    <tr id="stockageRefonte{{ stockage.id }}" class="{% if key is divisibleby(2) %}odd{%endif%}">
                        <td>{{ stockage.name|raw }}</td>
                        {% if impacts|length == 0 %}
                            <td align="center">
                                <select class="yesNoStockageRefonte" style="width:55px;" name="impactsStockageRefonte[answer_Stockage{{ stockage.id }}]">
                                    <option value="yes">Oui</option>
                                    <option value="no" selected="selected">Non</option>
                                </select>
                            </td>
                            <td align="center">
                                <input id="currQtyStockageRefonte{{ stockage.id }}" style="width:50px; display: none;" type="text" name="impactsStockageRefonte[curr_qty_Stockage{{ stockage.id }}]"/>
                            </td>
                            <td>
                                <label id="currQtyStockageRefonteUnit{{ stockage.id }}" style="display:none;">
                                    {{ stockage.unit|raw }}
                                </label>
                            </td>
                            <td align="center">
                                <input id="newQtyStockageRefonte{{ stockage.id }}" style="width:50px; display: none;" type="text" name="impactsStockageRefonte[new_qty_Stockage{{ stockage.id }}]"/>
                            </td>
                            <td>
                                <label id="newQtyStockageRefonteUnit{{ stockage.id }}" style="display:none;">
                                    {{ stockage.unit|raw }}
                                </label>
                            </td>
                        {% else %}
                            {% for impact in impacts %}
                                {% if impact.stockageIcpe != null %}
                                    {% if impact.stockageIcpe.id == stockage.id %}
                                        <input type="hidden" name="impactsStockageRefonte[id_Stockage{{ stockage.id }}]" value="{{ impact.id }}"/>
                                        <td align="center">
                                            <select class="yesNoStockageRefonte" style="width:55px;" name="impactsStockageRefonte[answer_Stockage{{ stockage.id }}]">
                                                {% if impact.answer == 1 %}
                                                    <option value="yes" selected="selected">Oui</option>
                                                    <option value="no">Non</option>
                                                {% else %}
                                                    <option value="yes">Oui</option>
                                                    <option value="no" selected="selected">Non</option>
                                                {% endif %}    
                                            </select>
                                        </td>
                                        <td align="center">
                                            <input id="currQtyStockageRefonte{{ stockage.id }}" style="width:50px; {% if impact.answer!=1 %} display:none;{% endif %}" type="text" name="impactsStockageRefonte[curr_qty_Stockage{{ stockage.id }}]" value="{{ impact.currQty }}"/>
                                        </td>
                                        <td>
                                            <label id="currQtyStockageRefonteUnit{{ stockage.id }}" {% if impact.answer!=1 %} style="display:none;"{% endif %}>
                                                {{ stockage.unit|raw }}
                                            </label>
                                        </td>
                                        <td align="center">
                                            <input id="newQtyStockageRefonte{{ stockage.id }}" style="width:50px; {% if impact.answer!=1 %} display:none;{% endif %}" type="text" name="impactsStockageRefonte[new_qty_Stockage{{ stockage.id }}]" value="{{ impact.newQty }}"/>
                                        </td>
                                        <td>
                                            <label id="newQtyStockageRefonteUnit{{ stockage.id }}" {% if impact.answer!=1 %} style="display:none;"{% endif %} >
                                                {{ stockage.unit|raw }}
                                            </label>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="5">
                            <h5 style="font-weight: bold; color:black">Transférer les codes d'accès à ArtoProd à l'équipe environnement afin de remplir la suite de ce tableau</h5>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#CD0065" style="width:300px;">
                            <h5 style="font-weight: bold; color:white;">EVALUATION IMPACT ICPE  <a href="{{ path('product_tableauSuivi', { 'id': project.id }) }}" {% if section is defined and section == 'scenario' %}class="active"{% endif %} style="background-color:white;"><i class="icon-eye-open icon-white"></i></a></h5>
                        </td>
                        <td align="left" bgcolor="#CD0065">
                            <a href="#" class="showHideEvaluationRefonte" style="color: transparent;">
                                <img src="/css/skin/favicon.ico" style="width:16px; height:16px;"/>
                            </a>
                        </td>
                        <td align="center" bgcolor="#CD0065" colspan="4">
                            <h5 style="font-weight: bold; color:white;">Données renseignées par la fonction environnement</h5>
                        </td>    
                    </tr>
                    <tr id="donneesEvaluationRefonte">
                    <input type="hidden" name="evalRefonte[idEval]" value="{{ evaluationIcpe.id }}"/>
                        <td align="right">Nom</td>
                        <td>
                            <input type="text" name="evalRefonte[nomCorrespondant]" style="width:100px;" value="{{ evaluationIcpe.nomCorrespondant }}"/>
                        </td>
                        <td align="right">Date</td>
                        <td>
                            <input type="text" class="date-pick" name="evalRefonte[dateReponse]" style="width:100px;" value="{{ evaluationIcpe.dateReponse|date('d/m/Y') }}"/>
                        </td>
                    </tr>
                    <tr id="resultEvaluationRefonte">
                        <td>&nbsp;</td>
                        <td>
                            <select align="center" style="width:99%;" name="evalRefonte[impactYesNo]" class="evalRefonteImpact">
                                {% if evaluationIcpe.impact == 1 %}
                                    <option value="yes" selected="selected" style="font-size: 20px; font-weight: bold; color:red;">Avec impact</option>
                                    <option value="no" style="font-size: 20px; font-weight: bold; color:green;">Sans impact</option>
                                {% else %}
                                    <option value="yes" style="font-size: 20px; font-weight: bold; color:red;">Avec impact</option>
                                    <option value="no" selected="selected" style="font-size: 20px; font-weight: bold; color:green;">Sans impact</option>
                                {% endif %}  
                            </select>
                        </td>
                        <td colspan="2" align="center">&nbsp;</td>
                    </tr>
                    <tr id="answerEvaluationRefonte">
                       <td>Si avec impacts, lesquels ?</td> 
                    </tr>
                    <tr id="impactsEvaluationRefonte">
                        <td colspan="4">
                            <textarea name="evalRefonte[commentaire]" style="width:100%; height:200px;">{{ evaluationIcpe.commentaire }}</textarea>
                        </td>
                    </tr>
            </table>
        </div>

        <div class="row" id="table2" style="display: none;">
            <table class="evaluationICPE-table" style="width: auto;">
                <tr class="odd">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td colspan="2" align="center" style="font-weight: bold;">Supplément de gamme</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td colspan="2" align="center" style="font-weight: bold;">Mise en jeu par<br/>cette activité à PVA cible</td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#98CC00" style="width:300px;">
                        <h5 style="font-weight: bold; color:white;">PROCESS INDUSTRIELS</h5>
                    </td>
                    <td align="left" bgcolor="#98CC00">
                        <a href="#" class="showHideProcessSupplement" style="color: transparent;">
                            <img src="/css/skin/favicon.ico" style="width:16px; height:16px;"/>
                        </a>
                    </td>
                    <td align="center" bgcolor="#98CC00" colspan="4">
                        <h5 style="font-weight: bold; color:white;">Données renseignées par l'équipe projet</h5>
                    </td>
                </tr>
                {% for key,process in processes %}
                    <tr id="processSupplement{{ process.id }}" class="{% if key is divisibleby(2) %}odd{%endif%}">
                        <td>{{ process.name|raw }}</td>
                        {% if impacts|length == 0 %}
                            {% if process.id != 4 %}
                                <td align="center">
                                    <select class="yesNoProcessSupplement" style="width:55px;" name="impactsProcessSupplement[answer_Process{{ process.id }}]">
                                        <option value="yes">Oui</option>
                                        <option value="no" selected="selected">Non</option>
                                    </select>
                                </td>
                                <td align="center" style="width: 150px;">
                                    <input id="suppQtyProcessSupplement{{ process.id }}" style="width:50px; display: none;" type="text" name="impactsProcessSupplement[supp_qty_Process{{ process.id }}]"/>
                                </td>
                                <td>
                                    <label id="suppQtyProcessSupplementUnit{{ process.id }}" style="display:none;">
                                        {{ process.unit|raw }}
                                    </label>
                                </td>
                            {% else %}
                                <td align="center">
                                    <select class="yesNoProcessSupplement" style="width:55px;" name="impactsProcessSupplement[answer_Process{{ process.id }}]">
                                        <option value="yes">Oui</option>
                                        <option value="no" selected="selected">Non</option>
                                    </select>
                                </td>
                                <td align="center" colspan="2">
                                    <input id="descriptionProcessSupplement{{ process.id }}" style="width:350px; display:none;" type="text" name="impactsProcessSupplement[description_Process{{ process.id }}]"/>
                                </td>
                            {% endif %}    
                        {% else %}
                            {% for impact in impacts %}
                                {% if impact.processIcpe != null %}
                                    {% if impact.processIcpe.id == process.id %}
                                        {% if process.id != 4 %}
                                            <input type="hidden" name="impactsProcessSupplement[id_Process{{ process.id }}]" value="{{ impact.id }}"/>
                                            <td align="center">
                                                <select class="yesNoProcessSupplement" style="width:55px;" name="impactsProcessSupplement[answer_Process{{ process.id }}]">
                                                    {% if impact.answer == 1 %}
                                                        <option value="yes" selected="selected">Oui</option>
                                                        <option value="no">Non</option>
                                                    {% else %}
                                                        <option value="yes">Oui</option>
                                                        <option value="no" selected="selected">Non</option>
                                                    {% endif %}    
                                                </select>
                                            </td>
                                            <td align="center" style="width: 150px;">
                                                <input id="suppQtyProcessSupplement{{ process.id }}" style="width:50px; {% if impact.answer != 1%}display:none;{% endif %}" type="text" name="impactsProcessSupplement[supp_qty_Process{{ process.id }}]" value="{{ impact.suppQty }}"/>
                                            </td>
                                            <td>
                                                <label id="suppQtyProcessSupplementUnit{{ process.id }}" {% if impact.answer != 1 %}style="display:none;"{% endif %}>
                                                    {{ process.unit|raw }}
                                                </label>
                                            </td>
                                        {% else %}
                                            <input type="hidden" name="impactsProcessSupplement[id_Process{{ process.id }}]" value="{{ impact.id }}"/>
                                            <td align="center">
                                                <select class="yesNoProcessSupplement" style="width:55px;" name="impactsProcessSupplement[answer_Process{{ process.id }}]">
                                                    {% if impact.answer == 1 %}
                                                        <option value="yes" selected="selected">Oui</option>
                                                        <option value="no">Non</option>
                                                    {% else %}
                                                        <option value="yes">Oui</option>
                                                        <option value="no" selected="selected">Non</option>
                                                    {% endif %}    
                                                </select>
                                            </td>
                                            <td align="center" colspan="2">
                                                <input id="descriptionProcessSupplement{{ process.id }}" style="width:350px; display:none;" type="text" name="impactsProcessSupplement[description_Process{{ process.id }}]" value="{{ impact.description }}"/>
                                            </td>
                                        {% endif %}    
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td align="center" bgcolor="#98CC00" style="width:300px;">
                        <h5 style="font-weight: bold; color:white;">STOCKAGE DE MATIERES</h5>
                    </td>
                    <td align="left" bgcolor="#98CC00">
                        <a href="#" class="showHideStockageSupplement" style="color: transparent;">
                            <img src="/css/skin/favicon.ico" style="width:16px; height:16px;"/>
                        </a>
                    </td>
                    <td align="center" bgcolor="#98CC00" colspan="4">
                        <h5 style="font-weight: bold; color:white;">Données renseignées par l'équipe projet</h5>
                    </td>
                </tr>
                {% for key,stockage in stockages %}
                    <tr id="stockageSupplement{{ stockage.id }}" class="{% if key is divisibleby(2) %}odd{%endif%}">
                        <td>{{ stockage.name|raw }}</td>
                        {% if impacts|length == 0 %}
                            <td align="center">
                                <select class="yesNoStockageSupplement" style="width:55px;" name="impactsStockageSupplement[answer_Stockage{{ stockage.id }}]">
                                    <option value="yes">Oui</option>
                                    <option value="no" selected="selected">Non</option>
                                </select>
                            </td>
                            <td align="center">
                                <input id="suppQtyStockageSupplement{{ stockage.id }}" style="width:50px; display: none;" type="text" name="impactsStockageSupplement[supp_qty_Stockage{{ stockage.id }}]"/>
                            </td>
                            <td>
                                <label id="suppQtyStockageSupplementUnit{{ stockage.id }}" style="display:none;">
                                    {{ stockage.unit|raw }}
                                </label>
                            </td>
                        {% else %}
                            {% for impact in impacts %}
                                {% if impact.stockageIcpe != null %}
                                    {% if impact.stockageIcpe.id == stockage.id %}
                                        <input type="hidden" name="impactsStockageSupplement[id_Stockage{{ stockage.id }}]" value="{{ impact.id }}"/>
                                        <td align="center">
                                            <select class="yesNoStockageSupplement" style="width:55px;" name="impactsStockageSupplement[answer_Stockage{{ stockage.id }}]">
                                                {% if impact.answer == 1 %}
                                                    <option value="yes" selected="selected">Oui</option>
                                                    <option value="no">Non</option>
                                                {% else %}
                                                    <option value="yes">Oui</option>
                                                    <option value="no" selected="selected">Non</option>
                                                {% endif %}    
                                            </select>
                                        </td>
                                        <td align="center">
                                            <input id="suppQtyStockageSupplement{{ stockage.id }}" style="width:50px;{% if impact.answer != 1 %}display:none;{% endif %}" type="text" name="impactsStockage[supp_qty_Stockage{{ stockage.id }}]" value="{{ impact.suppQty }}"/>
                                        </td>
                                        <td>
                                            <label id="suppQtyStockageSupplementUnit{{ stockage.id }}" {% if impact.answer != 1 %}style="display:none;"{% endif %}>
                                                {{ stockage.unit|raw }}
                                            </label>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5">
                        <h5 style="font-weight: bold; color:black">Transférer les codes d'accès à ArtoProd à l'équipe environnement afin de remplir la suite de ce tableau</h5>
                    </td>
                </tr>    
                <tr>
                    <td align="center" bgcolor="#CD0065" style="width:300px;">
                        <h5 style="font-weight: bold; color:white;">EVALUATION IMPACT ICPE <a href="{{ path('product_tableauSuivi', { 'id': project.id }) }}" {% if section is defined and section == 'scenario' %}class="active"{% endif %} style="background-color:white;"><i class="icon-eye-open icon-white"></i></a></h5>
                    </td>
                    <td align="left" bgcolor="#CD0065">
                        <a href="#" class="showHideEvaluationSupplement" style="color: transparent;">
                            <img src="/css/skin/favicon.ico" style="width:16px; height:16px;"/>
                        </a>
                    </td>
                    <td align="center" bgcolor="#CD0065" colspan="4">
                        <h5 style="font-weight: bold; color:white;">Données renseignées par la fonction environnement</h5>
                    </td>
                </tr>
                <tr id="donneesEvaluationSupplement">
                    <input type="hidden" name="evalSupplement[idEval]" value="{{ evaluationIcpe.id }}"/>
                    <td align="right">Nom</td>
                    <td>
                        <input type="text" name="evalSupplement[nomCorrespondant]" style="width:100px;" value="{{ evaluationIcpe.nomCorrespondant }}"/>
                    </td>
                    <td align="right">Date</td>
                    <td>
                        <input type="text" class="date-pick" name="evalSupplement[dateReponse]" style="width:100px;" value="{{ evaluationIcpe.dateReponse|date('d/m/Y') }}"/>
                    </td>
                </tr>
                <tr id="resultEvaluationSupplement">
                    <td>&nbsp;</td>
                    <td>
                        <select align="center" style="width:99%;" name="evalSupplement[impactYesNo]" class="evalSupplementImpact">
                            {% if evaluationIcpe.impact == 1 %}
                                <option value="yes" selected="selected" style="font-size: 20px; font-weight: bold; color:red;">Avec impact</option>
                                <option value="no" style="font-size: 20px; font-weight: bold; color:green;">Sans impact</option>
                            {% else %}
                                <option value="yes" style="font-size: 20px; font-weight: bold; color:red;">Avec impact</option>
                                <option value="no" selected="selected" style="font-size: 20px; font-weight: bold; color:green;">Sans impact</option>
                            {% endif %}    
                        </select>
                    </td>
                    <td colspan="2" align="center">&nbsp;</td>
                </tr>
                <tr id="answerEvaluationSupplement">
                    <td>Si avec impacts, lesquels ?</td>
                </tr>
                <tr id="impactsEvaluationSupplement">
                    <td colspan="4">
                        <textarea name="evalSupplement[commentaire]" style="width:100%; height:200px;">{{ evaluationIcpe.commentaire }}</textarea>
                    </td>
                </tr>
            </table>
        </div>

        <input type="submit" class="btn btn-success" value="Valider" name="submit" />
    </form>
</section>
{% endblock %}
