{% extends '::product_base.html.twig' %}

{% block side %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}

<script>
    function deleteHostTable(src) {
        var tableRow = src.parentNode.parentNode.parentNode;
        var index = tableRow.rowIndex;
        var partName = document.getElementById("scenario-table").rows[index].cells[2].innerText;
        alert("Nom de la part :"+partName);
        partName = partName.replace(/[\n]/gi, "" );
        document.getElementById("scenario-table").deleteRow(index);
        $.post("{{ path('product_part_delete') }}", { nomPart: partName }, "json");
    }
    
    function updateHostTable(src){
        var tableRow = src.parentNode.parentNode.parentNode;
        var index = tableRow.rowIndex;
        
        var indexPart = index -3;
        
        var partName = document.getElementsByName("part["+indexPart+"][name]")[0];
        var partProcess = document.getElementsByName("part["+indexPart+"][process]")[0];
        var processes = document.getElementsByName("processes");
        var partFamily = document.getElementsByName("part["+indexPart+"][family]")[0];
        var partSite = document.getElementsByName("part["+indexPart+"][site]")[0];
        var partPays = document.getElementsByName("part["+indexPart+"][country]")[0];
        var partImpact = document.getElementsByName("part["+indexPart+"][impact]")[0];
        var partRank1 = document.getElementsByName("part["+indexPart+"][rank1]")[0];
        var partUsageTerms = document.getElementsByName("part["+indexPart+"][usageTerms]")[0];
        var partRank2 = document.getElementsByName("part["+indexPart+"][rank2]")[0];
        var i=0;
        
        partName.parentNode.innerHTML='<input type="text" style="width: 80px;" name="part['+indexPart+'][name]" value="'+partName.innerText+'"/>';
        
        var optionsSelectProcessHTML="";
        for(i=0;i<processes.length;i++){
            if(processes[i].textContent == partProcess.innerText){
                optionsSelectProcessHTML = optionsSelectProcessHTML+'<option name="processes" selected="selected" value="'+processes[i].value+'">'+processes[i].textContent+'</option>';
            }
            else{
                optionsSelectProcessHTML = optionsSelectProcessHTML+'<option name="processes" value="'+processes[i].value+'">'+processes[i].textContent+'</option>';
            }
        }
        partProcess.parentNode.innerHTML='<select class="processes" name="part['+indexPart+'][process]" style="width: 150px;">'+optionsSelectProcessHTML+'</select>';
        
        partFamily.parentNode.innerHTML='<select class="families" name="part['+indexPart+'][family]" style="width: 150px;"></select>';
        
        partSite.parentNode.innerHTML='<input type="text" name="part['+indexPart+'][site]" value="'+partSite.innerText+'" style="width: 80px;"/>';
        
        partPays.parentNode.innerHTML='<input type="text" name="part['+indexPart+'][country]" value="'+partPays.innerText+'" style="width: 80px;"/>';
        
        partImpact.parentNode.innerHTML='';
        partRank1.parentNode.innerHTML='';
        partUsageTerms.parentNode.innerHTML='';
        partRank2.parentNode.innerHTML='';
    }
    
    $(function(){
        $(".processes").live('change', function(event) {
            event.preventDefault();
            var processes = $(this);
            var parent = processes.parent().parent();
            var p = processes.val();
            var familyId = parent.find('.family-id').val();
            
            parent.find('.families').html('');
            $.post("{{ path('product_families') }}", { process: p, familyId: familyId }, function(data) {
                var families = parent.find('.families');
                families.html(data);
                families.show();
            });
        }).change();

        $(".families").live('change', function(event) {
            event.preventDefault();
            var families = $(this);
            var parent = families.parent().parent();
            var f = families.val();
            parent.find('.impacts').html('');
            parent.find('.usageterms').html('');
            $.post("{{ path('product_family_details') }}", { id: f }, function(data) {
                parent.find('.impact').html(data.impact);
                parent.find('.usageterms').html(data.usageterms);
                parent.find('.rank1').html(data.rank1);
                parent.find('.rank2').html(data.rank2);
            }, "json");
        });

        var part_counter = {{ parts|length - 1 }};
        $(".add").live('click', function(event){
            event.preventDefault();
            var newline = $('.scenario-table').find('.tr-clone').clone(true);
            newline.removeClass('tr-clone');

            var input = newline.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(part\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (part_counter + 1) + p3;
                }));
            });
            part_counter++;

            $('.scenario-table').append(newline);
            return false;
        });
    });
</script>
<section class="main">
    <form method="post" action="{{ path('product_parts_save', { 'project' : project.id }) }}">
        <table class="scenario-table" id="scenario-table">
            <tr>
                <td style="border:none; width:2%">&nbsp;</td>
                <td rowspan=2 class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Atelier</td>
                <td rowspan=2 class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Process</td>
                <td rowspan=2 class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Activité</td>
                <td rowspan=2 class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Opérations</td>
                <td colspan=2 class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Entrants</td>
                <td colspan=2 align="center" style="font-weight: bold;" bgcolor="#2aff21">Demeurants</td>
                <td colspan=2 align="center" style="font-weight: bold;" bgcolor="#2aff21">Sortants</td>
            </tr>
            
            <tr>
                <td style="border:none; width:2%">&nbsp;</td>
                <td align="center" style="font-weight: bold;">Physiques</td>
                <td align="center" style="font-weight: bold;">Infos *</td>
                <td align="center" style="font-weight: bold;">Moyens</td>
                <td align="center" style="font-weight: bold;">Infos *</td>
                <td align="center" style="font-weight: bold;">Produits/Rejets</td>
                <td align="center" style="font-weight: bold;">Infos *</td>
            </tr>

            <!-- for -->
            <!-- ecrire les tr à partir de la base de données -->
            {% for key, part in parts %}
                <tr>
                    <td style="border:none">
                        <a href="#">
                            <img src="/css/skin/famfamfam/delete.png" onclick="deleteHostTable(this);"/>
                        </a> 
                        <input type="hidden" name="part[{{ key }}][id]" value="{{ part.id }}"/>
                        <input type="hidden" class="family-id" name="part[{{key}}][familyId]" value="{{ part.family.id }}"/>
                    </td>
                    <td>
                        <input type="text" name="part[{{ key }}][name]" style="width: 80px;" value="{{ part.name }}"/>
                    </td>
                    <td>
                        <select name="part[{{ key }}][process]" class="processes" style="width: 150px;">
                            <option value="">- Choisir un procédé -</option>
                            {% for process in processes %}
                                {% if process.name == part.family.process.name %}
                                    <option name="processes" selected="selected" value="{{ process.id }}">{{ process.name }}</option>
                                {% else %}    
                                    <option name="processes" value="{{ process.id }}">{{ process.name }}</option>
                                {% endif %}    
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="families" name="part[{{ key }}][family]" style="width: 150px;"></select>
                    </td>
                    <td>
                        <input type="text" name="part[{{ key }}][site]" style="width: 80px;" value="{{ part.siteName }}"/>
                    </td>
                    <td>
                        <input type="text" name="part[{{ key }}][country]" style="width: 80px;" value="{{ part.country }}"/>
                    </td>
                    <td class="impact">
                        <label name="part[{{ key }}][impact]">{{ part.family.impact|nl2br }}</label>
                    </td>
                    <td class="rank1">
                        <span align ="center" name="part[{{ key }}][rank1]" class="{{ part.family.rank1Style }}">
                            {{ part.family.rank1}}
                        </span>
                    </td>
                    <td class="usageterms">
                        <label name="part[{{ key }}][usageTerms]">{{ part.family.usageTerms|nl2br }}</label>
                    </td>
                    <td class="rank2">
                        <span align="center" name="part[{{ key }}][rank2]" class="{{ part.family.rank2Style }}">
                            {{ part.family.rank2}}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            <!-- endfor -->


            <!-- ce tr est caché en css et sera copier sur chaque click sur .add pour construire une nouvelle ligne -->
            {% set key_new = parts|length %}
            <tr class="tr-clone">
                <td style="border:none" style="width:2%">
                   <a href="#">
                        <img src="/css/skin/famfamfam/delete.png" onclick="deleteHostTable(this);"/>
                   </a> 
                </td>
                <td>
                    <input type="text" name="part[{{ key_new }}][name]" style="width: 80px;"/>
                </td>
                <td>
                    <select name="part[{{ key_new }}][process]" class="processes" style="width: 150px;">
                        <option value="">- Choisir un procédé -</option>
                        {% for process in processes %}
                            <option name="processes" value="{{ process.id }}">{{ process.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="families" name="part[{{ key_new }}][family]" style="width: 150px;"></select>
                </td>
                <td>
                    <input type="text" name="part[{{ key_new }}][site]" style="width: 80px;"/>
                </td>
                <td>
                    <input type="text" name="part[{{ key_new }}][country]" style="width: 80px;"/>
                </td>
                <td class="impact"></td>
                <td class="rank1"></td>
                <td class="usageterms"></td>
                <td class="rank2"></td>
            </tr>
        </table>
        <input type="button" class="btn btn-success add" value="Ajouter" />
        <input type="submit" class="btn btn-success" value="Valider les modifications" />
    </form>
</section>

{% endblock %}