{% extends '::product_base.html.twig' %}

{% block side %}
    {% set section = "methode" %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    
</script>    
<section class="main">
    <div id="infos">
        <img src="/images/product/graphesEvaluationProcedes/TableauAide.jpg" style="width:100%"/>
    </div>
</section>

{% endblock %}