{% extends '::product_base.html.twig' %}

{% block side %}
    {% set section = "scenario" %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}

<script>
    function deleteHostTable(src) {
        var tableRow = src.parentNode.parentNode.parentNode;
        var index = tableRow.rowIndex;
        var td = document.getElementById("scenario-table").rows[index].cells[0];
        var input = td.getElementsByTagName('input')[0];
        var partId = input.value;
        
        partId = partId.replace(/[\n]/gi, "" );
        document.getElementById("scenario-table").deleteRow(index);
        $.post("{{ path('product_part_delete') }}", { idPart: partId }, "json");
    }

    function updateHostTable(src){
        var tableRow = src.parentNode.parentNode.parentNode;
        var index = tableRow.rowIndex;

        var indexPart = index -3;

        var partName = document.getElementsByName("part["+indexPart+"][name]")[0];
        var partProcess = document.getElementsByName("part["+indexPart+"][process]")[0];
        var processes = document.getElementsByName("processes");
        var partFamily = document.getElementsByName("part["+indexPart+"][family]")[0];
        var partSite = document.getElementsByName("part["+indexPart+"][site]")[0];
        var partPays = document.getElementsByName("part["+indexPart+"][country]")[0];
        var partImpact = document.getElementsByName("part["+indexPart+"][impact]")[0];
        var partRank1 = document.getElementsByName("part["+indexPart+"][rank1]")[0];
        var partUsageTerms = document.getElementsByName("part["+indexPart+"][usageTerms]")[0];
        var partRank2 = document.getElementsByName("part["+indexPart+"][rank2]")[0];
        var i=0;

        partName.parentNode.innerHTML='<input type="text" style="width: 80px;" name="part['+indexPart+'][name]" value="'+partName.innerText+'"/>';

        var optionsSelectProcessHTML="";
        for(i=0;i<processes.length;i++){
            if(processes[i].textContent == partProcess.innerText){
                optionsSelectProcessHTML = optionsSelectProcessHTML+'<option name="processes" selected="selected" value="'+processes[i].value+'">'+processes[i].textContent+'</option>';
            }
            else{
                optionsSelectProcessHTML = optionsSelectProcessHTML+'<option name="processes" value="'+processes[i].value+'">'+processes[i].textContent+'</option>';
            }
        }
        partProcess.parentNode.innerHTML='<select class="processes" name="part['+indexPart+'][process]" style="width: 150px;">'+optionsSelectProcessHTML+'</select>';

        partFamily.parentNode.innerHTML='<select class="families" name="part['+indexPart+'][family]" style="width: 150px;"></select>';

        partSite.parentNode.innerHTML='<input type="text" name="part['+indexPart+'][site]" value="'+partSite.innerText+'" style="width: 80px;"/>';

        partPays.parentNode.innerHTML='<input type="text" name="part['+indexPart+'][country]" value="'+partPays.innerText+'" style="width: 80px;"/>';

        partImpact.parentNode.innerHTML='';
        partRank1.parentNode.innerHTML='';
        partUsageTerms.parentNode.innerHTML='';
        partRank2.parentNode.innerHTML='';
    }

    $(function(){
        $(".processes").live('change', function(event) {
            event.preventDefault();
            var processes = $(this);
            var parent = processes.parent().parent();
            var p = processes.val();
            var familyId = parent.find('.family-id').val();
            
            parent.find('.families').html('');
            if(p==""){
                parent.find('.impact').html('');
                parent.find('.usageterms').html('');
                parent.find('.rank1').html('');
                parent.find('.rank2').html('');
            }else{
                $.post("{{ path('product_families') }}", { process: p, familyId: familyId }, function(data) {
                    var families = parent.find('.families');
                    families.html(data);
                    families.show();
                });
            }
            
        }).change();

        $(".families").live('change', function(event) {
            event.preventDefault();
            var families = $(this);
            var parent = families.parent().parent();
            var f = families.val();
            parent.find('.impacts').html('');
            parent.find('.usageterms').html('');
            if(f==""){
                parent.find('.impact').html('');
                parent.find('.usageterms').html('');
                parent.find('.rank1').html('');
                parent.find('.rank2').html('');
            }else{
                $.post("{{ path('product_family_details') }}", { id: f }, function(data) {
                    parent.find('.impact').html(data.impact);
                    parent.find('.usageterms').html(data.usageterms);
                    parent.find('.rank1').html(data.rank1);
                    parent.find('.rank2').html(data.rank2);
                    var unNonAcceptable = false;
                    $('.rank2').each(function() {
                        var rank2Value = $('span:first',this).text();
                        if(rank2Value == "Non Acceptable"){
                            unNonAcceptable = true;
                            return false;
                        }
                    });
                    if(unNonAcceptable == true){
                        $('.result').text("Non Acceptable");
                        if($('.result').hasClass("rank-acceptable")){
                            $('.result').removeClass("rank-acceptable");
                        }
                        $('.result').addClass("rank-nonacceptable");
                    }else{
                        $('.result').text("Acceptable");
                        if($('.result').hasClass("rank-nonacceptable")){
                            $('.result').removeClass("rank-nonacceptable");
                        }
                        $('.result').addClass("rank-acceptable");
                    }
                }, "json");
            }
            
        });

        var part_counter = {{ parts|length }};
        $(".add").live('click', function(event){
            event.preventDefault();
            console.log("--ADD--");
            var newline = $('.scenario-table').find('.tr-clone').clone(true);
            newline.removeClass('tr-clone');

            var input = newline.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(part\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (part_counter + 1) + p3;
                }));
            });
            part_counter++;
            
            
            console.log("newLine : "+newline.html());
            $('.scenario-table').append(newline);
            return false;
        });
        
        var tableOffset = $("#scenario-table").offset().top;
        var $header = $("#scenario-table > thead").clone();
        var $fixedHeader = $("#header-fixed").append($header);
    });
</script>
<section class="main">
    <form method="post" action="{{ path('product_parts_save', { 'project' : project.id }) }}">
        <label>
            <b>
                Veuillez consulter la méthode d'évaluation des scénarios située dans l'onglet "Objectifs et méthode utilisée"
            </b>
        </label>
        <br>
        <div id="table-container">
            <table class="scenario-table" id="scenario-table">
                <thead>
                    <tr>
                        <td style="border:none; width:2%">&nbsp;</td>
                        <td class="blanc" style="border:none" bgcolor="#c0c0c0">Produit</td>
                        <td style="border:none" colspan="2">{{ project.productName }}</td>
                        <td class="blanc" style="border:none" align="center">&nbsp;</td>
                        <td class="blanc" style="border:none">&nbsp;</td>
                        <td class="blanc" style="border:none">&nbsp;</td>
                        <td style="border:none" align="center" colspan="2"><b>Le scénario est 'Acceptable' si aucun<br/>procédé est 'Non acceptable'</b></td>
                            {% if result=="Acceptable" %}
                                <td class="result rank-acceptable" style="border:none" align="center">{{ result}}</td>
                            {% elseif result=="Non Acceptable" %}
                                <td class="result rank-nonacceptable" style="border:none" align="center">{{ result}}</td>
                            {% endif%}
                    </tr>
                    <tr>
                        <td style="border:none; width:2%">&nbsp;</td>
                        <td colspan="5" align="center" bgcolor="#da9694" style="font-weight: bold;">Description du scénario industriel retenu</td>
                        <td colspan="4" align="center" bgcolor="#2adf21" style="font-weight: bold;">Evaluation qualitative des procédés</td>
                    </tr>
                    <tr>
                        <td style="border:none; width:2%">&nbsp;</td>
                        <td class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Pièces primaires</td>
                        <td class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Procédés</td>
                        <td class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Famille technologique</td>
                        <td class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Nom site fabrication</td>
                        <td class="td-description" align="center" bgcolor="#e6b8b7" style="font-weight: bold;">Pays</td>
                        <td align="center" style="width: 350px; height: 30px; font-weight: bold;" bgcolor="#2aff21">Risques environnementaux<br/>(source : Code de l'Environnement)</td>
                        <td align="center" style="width: 60px; height: 30px; font-weight: bold;" bgcolor="#2aff21">1er classement</td>
                        <td align="center" style="width: 350px; height: 30px; font-weight: bold;" bgcolor="#2aff21">Actions de maîtrise opérationnelle face aux risques</td>
                        <td align="center" style="width: 60px; height: 30px; font-weight: bold;" bgcolor="#2aff21">2nd classement</td>
                    </tr>
                </thead>

                <!-- for -->
                <!-- ecrire les tr à partir de la base de données -->
                <tbody>
                    {% if parts|length > 0 %}
                        {% for key, part in parts %}
                            <tr>
                                <td style="border:none">
                                    <a href="#">
                                        <img src="/css/skin/famfamfam/delete.png" onclick="deleteHostTable(this);"/>
                                    </a>
                                    <input type="hidden" name="part[{{ key }}][id]" value="{{ part.id }}"/>
                                    <input type="hidden" class="family-id" name="part[{{key}}][familyId]" value="{{ part.family.id }}"/>
                                </td>
                                <td>
                                    <input type="text" name="part[{{ key }}][name]" style="width: 80px;" value="{{ part.name }}"/>
                                </td>
                                <td>
                                    <select name="part[{{ key }}][process]" class="processes" style="width: 150px;">
                                        <option value="">- Choisir un procédé -</option>
                                        {% for process in processes %}
                                            {% if process.name == part.family.process.name %}
                                                <option name="processes" selected="selected" value="{{ process.id }}">{{ process.name }}</option>
                                            {% else %}
                                                <option name="processes" value="{{ process.id }}">{{ process.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select class="families" name="part[{{ key }}][family]" style="width: 150px;"></select>
                                </td>
                                <td>
                                    <input type="text" name="part[{{ key }}][site]" style="width: 80px;" value="{{ part.siteName }}"/>
                                </td>
                                <td>
                                    <input type="text" name="part[{{ key }}][country]" style="width: 80px;" value="{{ part.country }}"/>
                                </td>
                                <td class="impact">
                                    <label name="part[{{ key }}][impact]">{{ part.family.impact|nl2br }}</label>
                                </td>
                                <td class="rank1">
                                    <span align ="center" name="part[{{ key }}][rank1]" class="{{ part.family.rank1Style }}">
                                        {{ part.family.rank1}}
                                    </span>
                                </td>
                                <td class="usageterms">
                                    <label name="part[{{ key }}][usageTerms]">{{ part.family.usageTerms|nl2br }}</label>
                                </td>
                                <td class="rank2">
                                    <span align="center" name="part[{{ key }}][rank2]" class="{{ part.family.rank2Style }}">
                                        {{ part.family.rank2}}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        <!-- endfor -->
                    {% endif %}    


                    <!-- ce tr est caché en css et sera copier sur chaque click sur .add pour construire une nouvelle ligne -->
                    {% set key_new = parts|length %}
                    <tr class="tr-clone" {% if parts|length == 0 %} style="display: table-row;"{% endif %}>
                        <td style="border:none" style="width:2%">
                           <a href="#">
                                <img src="/css/skin/famfamfam/delete.png" onclick="deleteHostTable(this);"/>
                           </a>
                        </td>
                        <td>
                            <input type="text" name="part[{{ key_new }}][name]" style="width: 80px;"/>
                        </td>
                        <td>
                            <select name="part[{{ key_new }}][process]" class="processes" style="width: 150px;">
                                <option value="">- Choisir un procédé -</option>
                                {% for process in processes %}
                                    <option name="processes" value="{{ process.id }}">{{ process.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="families" name="part[{{ key_new }}][family]" style="width: 150px;"></select>
                        </td>
                        <td>
                            <input type="text" name="part[{{ key_new }}][site]" style="width: 80px;"/>
                        </td>
                        <td>
                            <input type="text" name="part[{{ key_new }}][country]" style="width: 80px;"/>
                        </td>
                        <td class="impact"></td>
                        <td class="rank1"></td>
                        <td class="usageterms"></td>
                        <td class="rank2"></td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <br>    
        <input type="button" class="btn btn-success add" value="Ajouter" />
        <input type="submit" class="btn btn-success" value="Valider" />
        <div id="bottom_anchor"></div>
    </form>
</section>

{% endblock %}