{% extends '::product_base.html.twig' %}

{% block side %}
    {% set section = "synthese" %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}

<section class="main">
    <form action="{{ path('product_synthese_save', { 'project' : project.id }) }}" method="post" enctype="multipart/form-data">
        <label>Nom produit : {{ project.name }}</label>
        <label>Date : {{ project.createdAt|date('d/m/Y')}}</label>
        <br/>
        <table>
            <th>&nbsp;</th>
            <th>Statut du scénario</th>
            <th>Lien vers<br>évaluation</th>
            <tr>
                <td>
                    <br/>
                    <b>1 Evaluation des impacts potentiels  ICPE / activité France</b>
                </td>
                <td>
                    {% if project.impactant == true %}
                        <label class="rank-nonacceptable">Avec impact</label>
                    {% else %}
                        <label class="rank-acceptable">Sans impact</label>
                    {% endif %}    
                </td>
                <td align="center">
                    <br/>
                    <a href="{{ path('product_impactsICPE', { 'id': project.id }) }}" {% if section is defined and section == 'scenario' %}class="active"{% endif %}>
                        <i class="icon-eye-open icon-white"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                    <b>2 Evaluation qualitative des impacts des scénarios industriels</b>
                </td>
                <td>
                    {% if project.acceptable == true %}
                        <label class="rank-acceptable">Acceptable</label>
                    {% else %}
                        <label class="rank-nonacceptable">Non acceptable</label>
                    {% endif %}    
                </td>
                <td  align="center">
                    <br/>
                    <a href="{{ path('product_scenario', { 'id': project.id }) }}" {% if section is defined and section == 'scenario' %}class="active"{% endif %}>
                        <i class="icon-eye-open icon-white"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Commentaires :</td>
            </tr>
            <tr>
                <td colspan="4" rowspan="4">
                    <textarea name="commentaires" style="height:300px; width:100%;">{{ project.commentaires|raw }}</textarea>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td>
                    <input type="submit" class="btn btn-success" value="Valider" />
                </td>
            </tr>
        </table>
    </form>    
</section>

{% endblock %}