{% extends '::product_base.html.twig' %}

{% block side %}
    {% set section = "tableauSuivi" %}
    {% include 'ArtoProductBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}

<script>
    function deleteHostTable(src) {
        var tableRow = src.parentNode.parentNode.parentNode;
        var index = tableRow.rowIndex;
        var activiteNameCell = document.getElementById("table-1").rows[index].cells[1];
        var activiteName = activiteNameCell.getElementsByTagName('input')[0].value;
        activiteName = activiteName.replace(/[\n]/gi, "" );
        document.getElementById("table-1").deleteRow(index);
        $.post("{{ path('product_activite_delete') }}", { nomActivite: activiteName }, "json");
    }
    
    $(function(){
         $(".rubriques").live('change', function(event) {
            event.preventDefault();
            var rubriques = $(this);
            var parent = rubriques.parent().parent();
            var f = rubriques.val();
            
            // Si la rubrique change -> remise à zéro des volumes, seuils et conformite
            var situationAdminVolume = parent.find('.situationAdminVolume');
            var situationReelleVolume = parent.find('.situationReelleVolume');
            var seuilAdmin = parent.find('.seuilAdmin');
            var seuilReel = parent.find('.seuilReel');
            var conformite = parent.find('.conformiteLabel');
            

            $.post("{{ path('product_rubrique_details') }}", { id: f }, function(data) {
                parent.find('.activites').html(data.activites);
                parent.find('.seuilAS').html(data.seuilAS);
                parent.find('.seuilA').html(data.seuilA);
                parent.find('.seuilE').html(data.seuilE);
                parent.find('.seuilDC').html(data.seuilDC);
                parent.find('.seuilD').html(data.seuilD);
                parent.find('.unit').html(data.unit);
                
                //Remise à zéro
                situationAdminVolume.val('');
                situationReelleVolume.val('');
                seuilAdmin.html('');
                seuilReel.html('');
                conformite.html('');
            }, "json");
        });
        
        $(".situationAdminVolume").live('change', function(event) {
            event.preventDefault();
            var situationAdminVolume = $(this);
            var parent = situationAdminVolume.parent().parent();
            var f = situationAdminVolume.val();
            var activiteName = parent.find('.activiteName').val();
            var activiteId = parent.find('.id');
            var activiteIdVal = activiteId.val();
            
            var rubrique = parent.find('.rubriques').val();
            var situationReelleVolume = parent.find('.situationReelleVolume').val();
             
            $.post("{{ path('product_rubrique_calcul_seuilAdmin') }}", { id: rubrique , volume : f, activiteName : activiteName }, function(data) {
                var seuilAdmin = parent.find('.seuilAdmin');
                var seuilReel = parent.find('.seuilReel');
                var conformiteLabel = parent.find('.conformiteLabel');
                var conformiteInput = parent.find('.conformiteInput');
                
                seuilAdmin.html(data.seuil);
                console.log("Valeur seuil reel : "+seuilReel.text()+"!");
                console.log("Valeur seuil admin AVANT JSON: "+seuilAdmin.text()+"!");
                
                if(seuilReel.text() != ''){
                    if(seuilAdmin.text() == seuilReel.text()){
                        console.log("Conforme !");
                        conformiteLabel.html("C");
                        conformiteInput.val('C');
                    }else{
                        console.log("Non conforme !");
                        conformiteLabel.html("NC");
                        conformiteInput.val('NC');
                    }
                }
                
                //Remove classes precedentes
                seuilAdmin.attr('class','seuilAdmin');
                
                if(data.seuil == "Non classe"){
                    seuilAdmin.addClass("NonClasse")
                }else{
                    seuilAdmin.addClass(data.seuil);
                }
                
                if(activiteId.length){
                    //Si l'id existe, donc une activite existe !
                    var inputs = parent.find(':input');
                    
                    $.post("{{ path('product_tableauSuivi_save', { 'project' : project.id }) }}" , inputs.serializeArray(), function(data) {
                    });
                }else{
                    //Si l'id n'existe pas on vérifie pour le reste
                    if(activiteName != '' && rubrique != '' && situationReelleVolume != ''){
                        // Si le reste est rempli on enregistre sinon rien !
                        var inputs = parent.find(':input');
                    
                        $.post("{{ path('product_tableauSuivi_save', { 'project' : project.id }) }}" , inputs.serializeArray(), function(data) {
                        }); 
                    }
                }
            }, "json");     
        });
        
        $(".situationReelleVolume").live('change', function(event) {
            event.preventDefault();
            var situationReelleVolume = $(this);
            var parent = situationReelleVolume.parent().parent();
            var f = situationReelleVolume.val();
            var activiteName = parent.find('.activiteName').val();
            var activiteId = parent.find('.id');
            var activiteIdVal = activiteId.val();
          
            var rubrique = parent.find('.rubriques').val();
            
            var situationAdminVolume = parent.find('.situationAdminVolume').val();

            $.post("{{ path('product_rubrique_calcul_seuilReel') }}", { id: rubrique , volume : f, activiteName : activiteName }, function(data) {
                var seuilReel = parent.find('.seuilReel');
                var seuilAdmin = parent.find('.seuilAdmin');
                var conformiteLabel = parent.find('.conformiteLabel');
                var conformiteInput = parent.find('.conformiteInput');
                
                seuilReel.html(data.seuil);
                console.log("Valeur seuil admin : "+seuilAdmin.text()+"!");
                console.log("Valeur seuil reel AVANT JSON : "+seuilReel.text()+"!");
                
                if(seuilAdmin.text() != ''){
                    if(seuilReel.text() == seuilAdmin.text()){
                        console.log("Conforme !");
                        conformiteLabel.html("C");
                        conformiteInput.val('C');
                    }else{
                        console.log("Non conforme !");
                        conformiteLabel.html("NC");
                        conformiteInput.val('NC');
                    }
                }
                
                //Remove classes precedentes
                seuilReel.attr('class','seuilReel');
                
                if(data.seuil == "Non classe"){
                    seuilReel.addClass("NonClasse")
                }else{
                    seuilReel.addClass(data.seuil);
                } 
                
                if(activiteId.length){
                    //Si l'id existe, donc une activite existe !
                    var inputs = parent.find(':input');
                    
                    $.post("{{ path('product_tableauSuivi_save', { 'project' : project.id }) }}" , inputs.serializeArray(), function(data) {
                    });
                }else{
                     //Si l'id n'existe pas on vérifie pour le reste
                    if(activiteName != '' && rubrique != '' && situationAdminVolume != ''){
                        // Si le reste est rempli on enregistre sinon rien !
                        var inputs = parent.find(':input');
                    
                        $.post("{{ path('product_tableauSuivi_save', { 'project' : project.id }) }}" , inputs.serializeArray(), function(data) {
                        }); 
                    }     
                }
            }, "json");
        });
        
        $(".activiteName").live('change', function(event) {
            event.preventDefault();
            var activiteName = $(this);
            var parent = activiteName.parent().parent();
            
            var activiteId = parent.find('.id');
            var activiteIdVal = activiteId.val();
            var situationAdminVolume = parent.find('.situationAdminVolume').val();
            var situationReelleVolume = parent.find('.situationReelleVolume').val();
            var rubrique = parent.find('.rubriques').val();
            
            if(activiteId.length){
                //Si l'id existe, donc une activite existe !
                var inputs = parent.find(':input');
                    
                $.post("{{ path('product_tableauSuivi_save', { 'project' : project.id }) }}" , inputs.serializeArray(), function(data) {
                });
            }else{
                //Si l'id n'existe pas on vérifie pour le reste
                if(rubrique != '' && situationAdminVolume != '' && situationReelleVolume != ''){
                    // Si le reste est rempli on enregistre sinon rien !
                    var inputs = parent.find(':input');
                    
                    $.post("{{ path('product_tableauSuivi_save', { 'project' : project.id }) }}" , inputs.serializeArray(), function(data) {
                    }); 
                }     
            }     
        });
        
        var activites_counter = {{ activites|length - 1 }};
        $(".add").live('click', function(event){
            event.preventDefault();
            var newline = $('.activites-table').find('.tr-clone').clone(true);
            newline.removeClass('tr-clone');

            var input = newline.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(activite\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (activites_counter + 1) + p3;
                }));
            });
            activites_counter++;

            $('.activites-table').append(newline);
            return false;
        });
        
        var tableOffset = $("#table-1").offset().top;
        var $header = $("#table-1 > thead").clone();
        var $fixedHeader = $("#header-fixed").append($header);

        function moveScroll(){
            var scroll = $(window).scrollTop();
            var anchor_top = $("#table-1").offset().top;
            var anchor_bottom = $("#bottom_anchor").offset().top;
            var table_container_top = $("#table-container").offset().top;
            
            if (scroll > anchor_top && scroll < anchor_bottom) {
                clone_table = $("#clone");
                if(clone_table.length === 0) {          
                    clone_table = $("#table-1").clone();
                    clone_table.attr({id: "clone"})
                    .css({
                        position: "fixed",
                        "pointer-events": "none",
                         top: table_container_top - 10
                    })
                    .width($("#table-1").width());
                    
                    clone_table.removeClass();

                    $("#table-container").append(clone_table);
                    // dont hide the whole table or you lose border style & 
                    // actively match the inline width to the #maintable width if the 
                    // container holding the table (window, iframe, div) changes width          
                    $("#clone").width($("#table-1").width());
                    // only the clone thead remains visible
                    $("#clone thead").css({
                        visibility:"visible"
                    });
                    // clone tbody is hidden
                    $("#clone tbody").css({
                        visibility:"hidden"
                    });
                    // add support for a tfoot element
                    // and hide its cloned version too
                    var footEl = $("#clone tfoot");
                    if(footEl.length){
                        footEl.css({
                            visibility:"hidden"
                        });
                    }
                }
            } 
            else {
                $("#clone").remove();
            }
        }
        
        $(window).scroll(moveScroll);
    });
</script>   
<section class="main">
    <form method="post" id="form" action="{{ path('product_tableauSuivi_save', { 'project' : project.id }) }}">
        <div id="table-container">
            <table class="activites-table" id="table-1">
                <thead>
                    <tr>
                        <td style="border:none; width:2%" bgcolor="#fffafa">&nbsp;</td>
                        <td align ="center" bgcolor="#008000" rowspan="3"><label style="color: white;"><br><br>ACTIVITE<br>CONCERNEE</label></td>
                        <td align ="center" bgcolor="#008080" colspan="8"><label style="color: white;">NOMENCLATURE ICPE</label></td>
                        <td align ="center" bgcolor="#339966" colspan="2"><label style="color: white;">SITUATION<br>AVANT EVOLUTION</label></td>
                        <td align ="center" bgcolor="#99cc00" colspan="2"><label style="color: white;">SITUATION<br>APRES EVOLUTION</label></td>
                        <td align ="center" bgcolor="#99cc00" rowspan="3"><label style="color: white;"><br><br>CONFORMITE</label></td>             
                    </tr>
                    <tr>
                        <td style="border:none; width:2%" bgcolor="#fffafa">&nbsp;</td>
                        <td align="center" bgcolor="#99ccff" rowspan="2" style="width:50px;"><label style="color: black;">RUBRIQUE</label></td>
                        <td align="center" bgcolor="#99ccff" rowspan="2"><label style="color: black;">ACTIVITE</label></td>
                        <td align="center" bgcolor="#99ccff" colspan="5" align="center"><label style="color: black; float: bottom; text-align: center;">SEUIL ICPE</label></td>
                        <td align="center" bgcolor="#99ccff" rowspan="2"><label style="color: black;">UNITE</label></td>
                        <td align="center" bgcolor="#00ff00" rowspan="2"><label style="color: black;">VOLUME DE<br>L'ACTIVITE</label></td>
                        <td align="center" bgcolor="#00ff00" rowspan="2"><label style="color: black;">REGIME</label></td>
                        <td align="center" bgcolor="#ccffcc" rowspan="2"><label style="color: black;">VOLUME DE<br>L'ACTIVITE</label></td>
                        <td align="center" bgcolor="#ccffcc" rowspan="2"><label style="color: black;">REGIME</label></td>
                    </tr>
                    <tr>
                        <td style="border:none; width:2%" bgcolor="#fffafa">&nbsp;</td>
                        <td align="center" bgcolor="#c1dcdd"><label style="color: #f79646;"><b>D</b></label>Déclaration</td>
                        <td align="center" bgcolor="#c1dcdd"><label style="color: #f79646;"><b>DC</b></label>Déclaration avec contrôle</td>
                        <td align="center" bgcolor="#c1dcdd"><label style="color: #f79646;"><b>E</b></label>Enregistrement</td>
                        <td align="center" bgcolor="#c1dcdd"><label style="color: #ff0000;"><b>A</b></label>Autorisation</td>
                        <td align="center" bgcolor="#c1dcdd"><label style="color: #ff0000;"><b>AS</b></label>Autorisation avec Servitudes</td>
                    </tr>
                </thead>

                <tbody>
                {% if activites|length > 0 %}
                    {% for key, activite in activites %}
                        {% set conformiteActivite = activite.conformite.name %}
                        {% set rubriqueUnit = activite.rubrique.unit %}
                        <tr>
                            <td style="border:none; width:2%">
                                <a href="#">
                                    <img src="/css/skin/famfamfam/delete.png" onclick="deleteHostTable(this);"/>
                                </a>
                                <input type="hidden" name="activite[{{ key }}][id]" class="id" value="{{ activite.id }}"/>
                            </td>
                            <td>
                                <input type="text" name="activite[{{ key }}][name]" style="width:60px;" class="activiteName" value="{{ activite.name }}"/>
                            </td>
                            <td>
                                <select name="activite[{{ key }}][rubriqueName]" class="rubriques" style="width:75px;">
                                    <option value="">- Rubrique -</option>
                                    {% for rubrique in rubriques %}
                                        {% if rubrique.name == activite.rubrique.name %}
                                            <option name="rubriques" selected="selected" value="{{ rubrique.id }}">{{ rubrique.name }}</option>
                                        {% else %}
                                            <option name="rubriques" value="{{ rubrique.id }}">{{ rubrique.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="activites">
                                <label name="activite[{{ key }}][rubriqueActivite]">{{ activite.rubrique.activites }}</label>
                            </td>
                            <td class="seuilD">
                                <label name="activite[{{ key }}][rubriqueSeuilD]">{{ activite.rubrique.seuilDeclaration }}</label>
                            </td>
                            <td class="seuilDC">
                                <label name="activite[{{ key }}][rubriqueSeuilDC]">{{ activite.rubrique.seuilDeclarationControle }}</label>
                            </td>
                             <td class="seuilE">
                                <label name="activite[{{ key }}][rubriqueSeuilE]">{{ activite.rubrique.seuilEnregistrement }}</label>
                            </td>
                            <td class="seuilA">
                                <label name="activite[{{ key }}][rubriqueSeuilA]">{{ activite.rubrique.seuilAutorisation }}</label>
                            </td>
                            <td class="seuilAS">
                                <label name="activite[{{ key }}][rubriqueSeuilAS]">{{ activite.rubrique.seuilAutorisationServitudes }}</label>
                            </td>
                            <td class="unit">
                                <label name="activite[{{ key }}][rubriqueUnit]">{% if rubriqueUnit=="m3" %}m<sup>3</sup>{% else %}{{ rubriqueUnit }}{% endif %}</label>
                            </td>
                            <td>
                                <input type="text" name="activite[{{ key }}][situationAdminVolume]" class="situationAdminVolume" style="width:101px;" value="{{ activite.situationAdministrative.volumeActivite }}"/>
                            </td>
                            <td class="seuilAdmin {% if activite.situationAdministrative.regime=="Non classé" %}NonClasse{% else %}{{ activite.situationAdministrative.regime }}{% endif %}" name="activite[{{ key }}][situationAdminRegime]">{{ activite.situationAdministrative.regime }}</td>
                            <td>
                                <input type="text" name="activite[{{ key }}][situationReelleVolume]" class="situationReelleVolume" style="width:101px;" value="{{ activite.situationReelle.volumeActivite }}"/>
                            </td>
                            <td class="seuilReel {% if activite.situationReelle.regime=="Non classé" %}NonClasse{% else %}{{ activite.situationReelle.regime }}{% endif %}" name="activite[{{ key }}][situationReelleRegime]">{{ activite.situationReelle.regime }}</td>
                            <td>
                                <label class="conformiteLabel" style="width:50px;">{{ activite.conformite.name }}</label>
                                <input class="conformiteInput" id="conformiteInput{{ activite.id}}" type="hidden" name="activite[{{ key }}][conformite]" value="{{ activite.conformite.name }}"/>
                            </td>
                        </tr>
                    {% endfor %}
                 {% endif %}

                <!-- ce tr est caché en css et sera copié sur chaque click sur .add pour construire une nouvelle ligne -->
                {% set key_new = activites|length %}
                    <tr class="tr-clone" {% if activites|length == 0 %} style="display: table-row;" {% endif %}>
                        <td style="border:none; width: 2%">
                            <a href="#" class="suppr">
                                <img src="/css/skin/famfamfam/delete.png" onclick="deleteHostTable(this);" />
                            </a>
                        </td>
                        <td>
                            <input type="text" name="activite[{{ key_new }}][name]" class="activiteName" style="width:60px;"/>
                        </td>
                        <td>
                            <select name="activite[{{ key_new }}][rubriqueName]" class="rubriques" style="width:75px;">
                                <option value="">- Rubrique -</option>
                                {% for rubrique in rubriques %}
                                    <option name="rubriques" value="{{ rubrique.id }}">{{ rubrique.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="activites" style="width:400px;"></td>
                        <td class="seuilD" style="width:20px;"></td>
                        <td class="seuilDC" style="width:20px;"></td>
                        <td class="seuilE" style="width:20px;"></td>
                        <td class="seuilA" style="width:20px;"></td>
                        <td class="seuilAS" style="width:20px;"></td>
                        <td class="unit" style="width:20px;"></td>
                        <td>
                            <input type="text" name="activite[{{ key_new }}][situationAdminVolume]" class="situationAdminVolume" style="width:101px;"/>
                        </td>
                        <td name="activite[{{ key_new }}][situationAdminRegime]" class="seuilAdmin" style="width:20px;"></td>
                        <td>
                            <input type="text" name="activite[{{ key_new }}][situationReelleVolume]" class="situationReelleVolume" style="width:101px;;"/>
                        </td>
                        <td name="activite[{{ key_new }}][situationReelleRegime]" class="seuilReel" style="width:20px;"></td>
                        <td>
                            <label class="conformiteLabel" style="width:50px;"></label>
                            <input class="conformiteInput" type="hidden" name="activite[{{ key_new }}][conformite]"/>
                        </td>
                    </tr>
                </tbody>      
            </table>
            <table id="header-fixed" style="position: fixed; top: 0px; display: none; background-color: white;"></table>        
        </div>    
        <br>    
        <input type="button" class="btn btn-success add" value="Ajouter" />
        <a href="http://www.ineris.fr/aida/liste_documents/1/18016/1" target="_blank"><img src="/images/product/icpe.jpg"/></a>
        <div id="bottom_anchor"></div>
    </form>
</section>
{% endblock %}