{% extends '::product_base.html.twig' %}

{% block body %}

<section class="main transverse">
    <h2 class="first">éco-quartier </h2>
<p>est une opération d’aménagement durable exemplaire. Mesure phare du plan Ville durable du ministère, il contribue à améliorer notre qualité de vie, tout en l’adaptant aux enjeux de demain : préserver nos ressources et nos paysages, tout en préparant les conditions de la création d’une offre de logements adaptée aux besoins.</p>
<p>Source : http://www.developpement-durable.gouv.fr/-EcoQuartier,3863-.html</p>
<h2>accès aux services</h2>
<p>disponibilité et accessibilité des services au sein et en dehors du Quartier d'Aménagement Urbain</p>
<p>Note 1 à l'article&nbsp;:&nbsp; Par services, on entend les réseaux d'eau et d'énergie, le traitement des déchets, les aménagements et transports publics, les parcs de stationnement, les centres de soins, les lieux de loisirs, etc.</p>

<h2>accessibilité</h2>
<p>faculté d'un lieu à être facilement accessible pour tous</p>
<p>Note 1 à l'article&nbsp;: Les exigences concernant l'accessibilité dépendent des besoins des usagers&nbsp;et des activités effectuées au cours du&nbsp;cycle de vie&nbsp;du Quartier d'Aménagement et de ses&nbsp;équipements&nbsp;.</p>
<p>Note 2 à l'article&nbsp;&nbsp;: L'accessibilité inclut un accès sans entrave des utilisateurs à mobilité réduite au Quartier d'Aménagement Urbain et à ses équipements.</p>

<h2>analyse du cycle de vie</h2>
<p>compilation et évaluation des intrants, des extrants et des&nbsp;impacts&nbsp;environnementaux&nbsp;potentiels des activités, processus ou services, ou d'une combinaison de ceux-ci, d'un Quartier d'Aménagement Urbaindurant son&nbsp;cycle de vie&nbsp;</p>
<h2>approche en coût global</h2>
<p>méthodologie d'évaluation économique systématique des&nbsp;coûts globaux&nbsp; pendant une période d'analyse donnée, telle que définie dans le champ d'application convenu</p>
<p>Note 1 à l'article&nbsp;:  L'approche en coût global s'applique à l'ensemble du&nbsp;cycle de vie&nbsp;.</p>

<h2>cadre bâti</h2>
<p>ensemble d'objets physiques construits ou importés, situés dans un territoire donné</p>
<p>Note 1 à l'article&nbsp;&nbsp;:&nbsp;&nbsp; Considéré dans son ensemble, le cadre bâti inclut normalement les bâtiments, les ouvrages extérieurs, les infrastructures et autres ouvrages de construction situés dans le territoire en question.</p>

<h2>coût global</h2>
<p>coût total des activités, processus ou services, ou combinaison de ceux-ci, d'un Quartier d'Aménagement Urbain, durant son&nbsp;cycle de vie&nbsp;, sous réserve de satisfaire auxexigences de performance&nbsp;, quelles qu'elles soient</p>
<p>Note 1 à l'article&nbsp;&nbsp;:&nbsp;&nbsp; Le coût global inclut les coûts résultant de la planification, conception, acquisition, opération, entretien et démantèlement, mais pas l'éventuelle valeur résiduelle.</p>

<h2>cycle de vie</h2>
<p>phases consécutives de la vie d'un objet</p>
<p>Note 1 à l'article&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; Adapté de la définition de «&nbsp;cycle de vie&nbsp;» donnée dans l'ISO&nbsp;14040 (édition 2006).</p>
<p>Note 2 à l'article&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; En ce qui concerne les&nbsp;impacts environnementaux, le cycle de vie s'étend de l'extraction des matières premières ou de la génération des ressources naturelles à l'élimination finale.</p>
<p>Note 3 à l'article&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; En ce qui concerne les&nbsp;impacts&nbsp;économiques, le cycle de vie s'étend de la construction à la démolition finale. Il est toutefois possible de ne prendre en compte qu'une partie du cycle de vie, ainsi que l'indique l'ISO&nbsp;15686-5.</p>
<p>Note 4 à l'article&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; En ce qui concerne les&nbsp;impacts sociaux, le cycle de vie s'étend également de la construction à la démolition finale, mais la période prise en compte peut être plus courte.</p>

<h2>durée de vie</h2>
<p>période de temps durant laquelle un&nbsp;équipement&nbsp; ou certaines des parties le composant atteignent ou dépassent les&nbsp;exigences de performance&nbsp;</p>
<h2>écoquartier </h2>
<p>est « un aménagement urbain conçu, organisé et géré dans une démarche de développement durable et de réduction de l’empreinte écologique, intégrant la croissance urbaine dans une logique globale de développement économique, de performances environnementales rigoureuses, de qualité de vie, et d’intégration et de mixité sociale et fonctionnelle (équipements publics, logements) ». Source : MEEDDM</p>
<h2>équipement</h2>
<p>installationphysique destinée à atteindre un but particulier</p>
<p>Note 1 à l'article&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; Un équipement peut être une partie d'un bâtiment, un bâtiment entier ou un ensemble de bâtiments et peut inclure les ouvrages de génie civil connexes (telles que routes et allées), qui, considérés comme un tout, remplissent une&nbsp;fonction&nbsp; spécifique.</p>
<p>Note 2 à l'article&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; Le terme comprend à la fois le ou les objets physiques et leur utilisation.</p>

<h2>état durable</h2>
<p>état dans lequel les composantes de l'écosystème et leurs fonctions sont préservées pour les générations présentes et futures</p>
<p>Note 1 à l'article&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; Dans un Quartier d'Aménagement Urbain, ce terme se rapporte à la manière dont les activités,&nbsp;processus&nbsp;ou services utilisés en son sein contribuent à la préservation des composantes et des fonctions de l'écosystème pour les générations futures.</p>
<p>Note 2 à l'article&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; Alors que le développement durable est un enjeu mondial, les politiques d'aménagement durable au sein des Quartier d'Aménagement Urbain sont locales et leur mise en ouvre diffère d'une région à l'autre tant au niveau du fond que de la forme.</p>
<p>Note 3 à l'article&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; Les « composantes de l'écosystème » incluent, outre les êtres humains et leur environnement physique, les plantes et les animaux. Pour les êtres humains, le concept sous-entend un équilibre dans la satisfaction des besoins essentiels&nbsp;: conditions économiques, environnementales, sociales et culturelles d'existence au sein d'une société.</p>

<h2>exigence fonctionnelle</h2>
<p>fonctionnalité&nbsp;&nbsp;requise par les&nbsp;parties intéressées&nbsp; d'un&nbsp;Quartier d'Aménagement Urbain&nbsp;ou d'un&nbsp;équipement&nbsp; spécifique, d'un bâtiment ou autre&nbsp;actif&nbsp;construit au sein de l'Aménagement Urbain, ou d'un élément le composant, et destiné à remplir une&nbsp;fonction&nbsp;&nbsp;particulière</p>
<p>Note 1 à l'article&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; Dérivé de la définition d'exigence de performance fonctionnelle dans l'ISO 15686-10.</p>


<h2>exigence de performance</h2>
<p>performance&nbsp;demandée ou attendue d'un Quartier d'Aménagement Urbain pour un usage spécifique</p>

<h2>fonction</h2>
<p>objectif ou activité des&nbsp;usagers ou autres&nbsp;parties intéressées&nbsp;,&nbsp;relatif à la conception ou aux différents usages d'un Quartier d'Aménagement Urbain, de l'un de ses&nbsp;actifs&nbsp; ou d'un&nbsp;équipement&nbsp; situés en son sein</p>


<h2>fonctionnalité</h2>
<p>pertinence ou utilité pour un objectif ou une activité particulière</p>
<p>&nbsp;&nbsp;</p>
<h2>impact</h2>
<p>tout changement d'ordre économique, sociétal ou environnemental résultant directement ou indirectement d'une action du&nbsp;système de gouvernance&nbsp;, qu'il soit négatif ou positif</p>
<p>Note 1 à l'article&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; Impact économique, par exemple, hausse de la valeur patrimoniale.</p>
<p>Note 2 à l'article&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; Impact sociétal, par exemple, création de services médicaux ou de proximité.</p>
<p>Note 3 à l'article&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; Impact environnemental, par exemple, augmentation des eaux de ruissellement.</p>


<h2>indicateur</h2>
<p>mesure quantitative, qualitative ou descriptive d'une ou plusieurs catégories&nbsp;d'impact</p>
<p>Note 1 à l'article&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp; Dérivé de la définition du terme «&nbsp;indicateur de catégorie d'impact&nbsp;» donnée dans l'ISO&nbsp;14040 (2006) et du terme «&nbsp;indicateur&nbsp;» figurant dans l'ISO/TR&nbsp;14061 (1998).</p>
<p>Note 2 à l'article&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; Une évaluation et un suivi périodiques à l'aide d'indicateurs peuvent illustrer l'évolution d'un&nbsp;impact</p>


<h2>obligation de rendre compte</h2>
<p>aptitude à rendre compte des décisions et activités auprès des organismes, autorités administratives, autorités légales et, au sens large, auprès des&nbsp;parties intéressées</p>

<h2>partie intéressée</h2>
<p>personne ou entité ayant un intérêt dans un Quartier d'Aménagement Urbain ou pour l'un de seséquipements&nbsp;ou étant concernée par son fonctionnement</p>
<p>Note 1 à l'article&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; Cet intérêt peut être d'ordre financier. Il peut se prolonger dans la durée ou être temporaire.</p>
<p>Note 2 à l'article&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; Une liste indicative de parties intéressées est fournie en Annexe B.</p>

<h2>&nbsp;performance</h2>
<p>&lt;d'un Quartier d'Aménagement Urbain&gt; aptitude à remplir la&nbsp;fonction&nbsp;prévue dans les conditions d'utilisation ou de comportement des&nbsp;usagers&nbsp;</p>
<p>Note 1 à l'article&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; La notion de performance s'applique au Quartier d'Aménagement Urbain en tant que système et inclut ses activités, processus et services ainsi que leurs interactions, en tenant compte de l'importance relative de chaque&nbsp;exigence de performance&nbsp;</p>


<h2>Quartier d'Aménagement Urbain (définition non tirée de la norme PR NF 14-010-1) </h2>
<p>Un Quartier d'Aménagement Urbain est un ensemble intégré d'éléments bâtis (résidentiels et commerciaux), d’espaces publics et privés, </p>
<p>d’infrastructure, rassemblés au sein d'un même territoire et comprenant des constructions à usages divers,  logements individuels et collectifs (magasins, bureaux, écoles, hôpitaux, hôtels, etc.), services commerciaux, centres publics et privés (éducation, culture, loisirs ou autre),... avec des flux entrants et sortants de personnes et de services. Les infrastructures peuvent être : réseaux de distribution d'eau, égout, gestion des déchets, chauffage urbain, routes et rues, gares , parcs de stationnement, etc</p>

<h2>Quartier durable (accord de Bristol lors de la rencontre ministérielle informelle sur les quartiers durables en Europe des 6 et 7 décembre 2005)</h2>
<p>« Un quartier durable est une zone de mixité fonctionnelle développant un esprit de quartier ; c’est un endroit où les personnes veulent vivre et travailler, maintenant et dans le futur. Les quartiers durables répondent aux divers besoins de leurs habitants actuels et futurs, ils sont sensibles à l’environnement et contribuent à une haute qualité de vie. Ils sont sûrs et globaux, bien planifiés, construits et gérés, et offrent des opportunités</p>
<p>égales et des services de qualité à tous. »</p>
<h2>système de gouvernance</h2>
<p>système qui réunit les structures en charge de la conception, de l'aménagement et de la gestion du Quartier d'Aménagement Urbain et qui est responsable des résultats atteints dans les domaines économique, social et environnemental</p>

<h2>usager</h2>
<p>organisme ou personne qui utilise, ou a l'intention d'utiliser, un bâtiment ou autre ouvrage de construction, un&nbsp;actif ou un service au sein d'un Quartier d'Aménagements Urbains</p>
<p>Note 1 à l'article&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; Cela comprend toute personne ou entité utilisant un Quartier d'Affaires ou l'un de ses&nbsp;équipements&nbsp;, qu'elle en soit occupant, visiteur ou membre du public</p>
</section>

{% endblock %}