<div class="navigator">
    {% if app.user %}
        <a href="{{ path('account') }}" class="btn"><i class="icon-user"></i> {{ app.user.lastname }} | Mon compte</a>
        <a href="{{ path('logout') }}" class="btn"
            data-toggle="popover"
            data-placement="bottom"
            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            title=""
            data-original-title="Mes outils">
            <i class="icon-off"></i> Se deconnecter
        </a>
    {% endif %}
</div>