<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" http-equiv="cache-control" content="no-cache" />
        <title>{% block title %}ArtoACV{% endblock %}</title>
        {# block stylesheets %}{% endblock #}
        {# block javascripts %}{% endblock #}
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/acv_main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/datePicker.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/smoothness/jquery-ui.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
        <![endif]-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.ui.min.js"></script>
        <script src="/js/jquery.expander.min.js"></script>
        <script src="/js/jquery.jeditable.min.js"></script>
        <script src="/js/date.js"></script>
        <script src="/js/jquery.datePicker.js"></script>
        <script src="/js/jquery.changed.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/acv.js"></script>
        <script language=javascript>
            function h_clic(){
                    alert('merci de respecter le travail du webmaster');
            }

            function h_select(){
                    return false
            }
            document.oncontextmenu= h_clic;
            document.onselectstart= h_select;
        </script>
        <script src="/js/jquery.fixedheader-1.0.min.js"></script>
        <!--[if lt IE 9]>
            <script src="/js/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <div class="fixed">
                <header>
                    <h1><a href="{{ path('acv') }}">ArtoACV</a></h1>
                    {% render "ArtoGreenBundle:User:navigator" %}
                </header>
                <nav>
                    <a href="{{ path('acv') }}" class="home"><i class="icon-home icon-white"></i> Mes Projets</a>
                    {% block subnav %}{% endblock %}
                    {% if project is not defined %}
                        <a href="{{ path('acv_gestion_artoFlux') }}" {% if section is defined and section == 'gestionArtoFlux' %}class="active"{% endif %}>Gestion des comptes ArtoFlux</a>
                        <a href="{{ path('acv_terms') }}" {% if section is defined and section == 'glossaire' %}class="active"{% endif %}>Glossaire</a>
                    {% endif %}    
                    <div class="clear"></div>
                </nav>
            </div>
            <aside>
                {% block side %}{% endblock %}
            </aside>
            {% block body %}{% endblock %}
            <footer>
                <a href="#">ACCUEIL</a>  |  <a href="#">PRODUITS</a>  |  <a href="#">REFERENCES</a>  |  <a href="#">PLAN DU SITE</a>  |  <a href="#">MENTIONS LEGALES</a>  |  <a href="#">CONTACT</a>
            </footer>
        </div>
    </body>
</html>
