<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ArtoGreen{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# block stylesheets %}{% endblock #}
        {# block javascripts %}{% endblock #}
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/datePicker.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/green_main.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
        <![endif]-->
        
        <script src="/js/jquery.tools.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/jquery.expander.min.js"></script>
        <script src="/js/date.js"></script>
        <script src="/js/jquery.datePicker.js"></script>
        <script src="/js/green.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'async defer></script>
        <!--[if lt IE 9]>
            <script src="/js/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div class="active-nav">
                    <a href="{{ path('green') }}" class="home {% if section is defined and section == 'home' %}visible{% endif %}" >Accueil</a>
                    <a href="{{ path('green_product_description') }}" class="product {% if section is defined and section == 'home' or section == 'product' %}visible{% endif %}">Produits</a>
                    <a href="#" class="service {% if section is defined and section == 'home' %}visible{% endif %}">Services</a>
                    <!--<a href="{#{ path('green_contact') }#}" class="contact {# if section is defined and section == 'home' #}visible{#endif #}">Contact</a> !-->
                </div>
                <h1><a href="{{ path('green') }}">ArtoGreen</a></h1>
                <nav>
                    <a href="{{ path('green') }}" class="home">Ressources</a>
                    <a href="{{ path('archi') }}" class="product">Produits</a>
                    <a href="#" class="service">Services</a>
                    <!--<a href="{# path('green_contact') #}" class="contact">Contact</a>!-->
                </nav>
                <div class="line">
                    <div class="top">
                        {% if app.user %}
                            <a href="{{ path('account') }}"><i class="icon-user"></i> Mon compte</a>
                            <a href="{{ path('green_basket') }}"><i class="icon-shopping-cart"></i> Mon panier</a>
                            <a href="{{ path('user_clear') }}"><i class="icon-off"></i> Se déconnecter</a>
                        {% endif %}
                    </div>
                </div>
                <div class="subnav subnav-home">
                    {% render 'ArtoGreenBundle:Default:subnavHome' %}
                    <div class="clear"></div>
                </div>
                <div class="subnav subnav-product">
                    {% include 'ArtoGreenBundle:Default:_subnav_product.html.twig' %}
                    <div class="clear"></div>
                </div>
                <div class="subnav subnav-service">
                    {% render 'ArtoGreenBundle:Default:subnavService' %}
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </header>
            {% block body %}{% endblock %}
            <footer>
                <a href="{{ path('green') }}">ACCUEIL</a>  |  <a href="{{ path('green_product_description') }}">PRODUITS</a>  |  <a href="{{ path('green_cgv') }}">CONDITIONS GENERALES DE VENTES</a>  |  <a href="{{ path('green_cgu') }}">CONDITIONS D'UTILISATION DU SITE</a>  |  <a href="#">MENTIONS LEGALES</a> <!--<a href="{# path('green_contact') #}">CONTACT</a>!-->
            </footer>
        </div>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-39590629-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
