<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ArtoDesign{% endblock %}</title>
        {# block stylesheets %}{% endblock #}
        {# block javascripts %}{% endblock #}
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/design_main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/iphone-checkbox.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/datePicker.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/smoothness/jquery-ui.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
        <![endif]-->
        <script src="/js/jquery.tools.min.js"></script>
        <script src="/js/jquery.ui.min.js"></script>
        <script src="/js/jquery.expander.min.js"></script>
        <script src="/js/jquery.jeditable.min.js"></script>
        <script src="/js/jquery.iphone.checkbox.js"></script>
        <script src="/js/date.js"></script>
        <script src="/js/jquery.datePicker.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <script language=javascript>
            function h_clic(){
                    alert('merci de respecter le travail du webmaster');
            }

            function h_select(){
                    return false
            }
            document.oncontextmenu= h_clic;
            document.onselectstart= h_select;
        </script>
        <!--[if lt IE 9]>
            <script src="/js/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <div class="fixed">
                <header>
                    <h1><a href="{{ path('design') }}">ArtoDesign</a></h1>
                    {% render "ArtoGreenBundle:User:navigator" %}
                </header>
                <nav>
                    <a href="{{ path('design') }}" class="home"><i class="icon-home icon-white"></i> Mes Projets</a>
                    {% block side %}{% endblock %}
                    {% if project is not defined %}
                        <!--<a href="{{ path('design_general') }}">Généralités</a> !-->
                        <a href="{{ path('design_terms') }}">Termes et définitions</a>
                    {% endif %}
                    <div class="clear"></div>
                </nav>
            </div>
            {% block body %}{% endblock %}
            <footer>
            </footer>
        </div>
    </body>
</html>
