<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}ArtoDistrib{% endblock %}</title>
        {# block stylesheets %}{% endblock #}
        {# block javascripts %}{% endblock #}
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/distrib_main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/datePicker.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/smoothness/jquery-ui.css" />
        <!--[if IE 7]>
            <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
        <![endif]-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.ui.min.js"></script>
        <script src="/js/jquery.expander.min.js"></script>
        <script src="/js/jquery.jeditable.min.js"></script>
        <script src="/js/date.js"></script>
        <script src="/js/jquery.datePicker.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <!--[if lt IE 9]>
            <script src="/js/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <div class="fixed">
                <header>
                    <h1><a href="{{ path('distrib') }}">ArtoDistrib</a></h1>
                    {% render "ArtoGreenBundle:User:navigator" %}
                </header>
                <nav>
                    <a href="{{ path('distrib') }}" class="home"><i class="icon-home icon-white"></i>Mes Projets</a>
                    {% block side %}{% endblock %}
                    {% if project is not defined %}
                        <a href="{{ path('distrib_general') }}" {% if section is defined and section == 'generalites' %}class="active"{% endif %}>Généralités</a>
                    {% endif %}
                    <div class="clear"></div>
                </nav>
            </div>
            {% block body %}{% endblock %}
            <footer>
                <a href="#">ACCUEIL</a>  |  <a href="#">PRODUITS</a>  |  <a href="#">REFERENCES</a>  |  <a href="#">PLAN DU SITE</a>  |  <a href="#">MENTIONS LEGALES</a>  |  <a href="#">CONTACT</a>
            </footer>
        </div>
    </body>
</html>
