<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ping{% endblock %}</title>
        {# block stylesheets %}{% endblock #}
        {# block javascripts %}{% endblock #}
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/product_main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/datePicker.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/ui-lightness/jquery-ui-1.8.21.custom.css" >

        <script src="/js/jquery.tools.min.js"></script>
        <script src="/js/jquery.ui.min.js"></script>
        <script src="/js/jquery.expander.min.js"></script>
        <script src="/js/jquery.jeditable.min.js"></script>
        <script src="/js/date.js"></script>
        <script src="/js/jquery.datePicker.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/jquery-1.7.2.min.js"></script>
        <script src="/js/jquery-ui-1.8.21.custom.min.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/d3.v3.js"></script>
        <!--[if lt IE 9]>
            <script src="/js/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <div class="fixed">
                <header>
                    <h1><a href="{{ path('ping') }}">Ping</a></h1>
                    {% render "ArtoGreenBundle:User:navigator" %}
                </header>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>