<h2>Circuits imprimés</h2>   
<script>
    $(function(){
         $('#surface').tooltip({ effect: 'fade', position: "center right", offset: [-2, 10], opacity: 0.7 });
        
         $(".selectPCB").live('change', function(event) {
             event.preventDefault();
             var selectPCB = $(this);
             var pcbID = $(this).val();
             
             var tooltip = selectPCB.parent().parent().find('.tooltip');
             $.post("{{ path('flux_electronic_PCB_getTooltip') }}", { id : pcbID }, function(data) {
                var toRemove1 = '"';
                data = data.replace(toRemove1,'');
                data = data.replace(new RegExp("[\\\\]","g"),'');
                data = data.replace('"','');
                tooltip.html('Unit mass : '+data);
                tooltip.show();
             });
         });
         
         $(".yesNoMask").live('change', function(event) {
             event.preventDefault();
             var yesNoMask = $(this);
             var answer = $(this).val();
             
             var name = $(this).prop('name');
             var toRemove1 = 'pcb[';
             var toRemove2 = '][yesNoMask]';
             
             name = name.replace(toRemove1,'');
             name = name.replace(toRemove2,'');
             
             var key = name;
              
             var surfaceMask = yesNoMask.parent().parent().parent().find('.surfaceMask'+key);
             if( answer == "yes" ){
                 surfaceMask.prop('disabled', false);
             }else{
                 surfaceMask.prop('disabled',true);
                 surfaceMask.prop('value','');
             }
         });
         
         $(".yesNoPassivation").live('change', function(event) {
             event.preventDefault();
             var yesNoPassivation = $(this);
             var answer = $(this).val();
             var name = $(this).prop('name');
             var toRemove1 = 'pcb[';
             var toRemove2 = '][yesNoPassivation]';
             
             name = name.replace(toRemove1,'');
             name = name.replace(toRemove2,'');
             
             var key = name;
             
             var surfacePassivation = yesNoPassivation.parent().parent().parent().find('.surfacePassivation'+key);
             if( answer == "yes" ){
                 surfacePassivation.prop('disabled', false);
             }else{
                 surfacePassivation.prop('disabled',true);
                 surfacePassivation.prop('value','');
             }
         });
         
          $(".yesNoCollage").live('change', function(event) {
             event.preventDefault();
             var yesNoCollage = $(this);
             var answer = $(this).val();
             
             var name = $(this).prop('name');
             var toRemove1 = 'pcb[';
             var toRemove2 = '][yesNoCollage]';
             
             name = name.replace(toRemove1,'');
             name = name.replace(toRemove2,'');
             
             var key = name;
             
             var surfaceCollage = yesNoCollage.parent().parent().parent().find('.surfaceCollage'+key);
             if( answer == "yes" ){
                 surfaceCollage.prop('disabled', false);
             }else{
                 surfaceCollage.prop('disabled',true);
                 surfaceCollage.prop('value','');
             }
         });
         
         $(".selectPCB").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var surface = content.find(".surfacePCB");
            var weight = content.find(".weightPCB");
            
            if(surface.attr("disabled")){
                surface.removeAttr("disabled");
                surface.change();
            }
            
            if(weight.attr("disabled")){
                weight.removeAttr("disabled");
                weight.change();
            }
             
            if(value == "null"){
                surface.attr("disabled","disabled");
                surface.attr("value","");
                weight.attr("disabled","disabled");
                weight.attr("value","");
                surface.change();
                weight.change();
            }else{
                surface.removeAttr("disabled");
                weight.removeAttr("disabled");
                surface.change();
                weight.change();
            }
        }).change();
        
        $(".selectFinition").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var surface = content.find(".surfaceFinition");
            
            if(surface.attr("disabled")){
                surface.removeAttr("disabled");
                surface.change();
            }
             
            if(value == "null"){
                surface.attr("disabled","disabled");
                surface.attr("value","");
                surface.change();
            }else{
                surface.removeAttr("disabled");
                surface.change();
            }
        }).change();
        
        $(".selectSoudure").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var nbPoints = content.find(".nbPointsSoudure");
            
            if(nbPoints.attr("disabled")){
                nbPoints.removeAttr("disabled");
                nbPoints.change();
            }
             
            if(value == "null"){
                nbPoints.attr("disabled","disabled");
                nbPoints.attr("value","");
                nbPoints.change();
            }else{
                nbPoints.removeAttr("disabled");
                nbPoints.change();
            }
        }).change();
        
        $(".formPCB").bind('submit', function() {
            var boutonSubmit = $(this);
            var result = true;
            $(".selectPCB").each(function(){
                var value = $(this).val();
                var isTrClone = $(this).parent().parent().hasClass("tr-clone");
                if(value == "null"){
                    if(isTrClone == false){
                        result = false;
                        return false;
                    }
                }
            });
            
            console.log("Result : "+result);
            if(result == false){
                alert("Vous n'avez pas renseigné tous les types de PCBs !");
                return false;
            }else{
                return true;
            }
        });
    });
    
    //Bouton plus des PCB parts
    function addPcbComponent(){
        event.preventDefault();
        var tableau = document.getElementById("PCBs-table");
        var newLine = document.getElementsByName('clonePCBs')[0].cloneNode(true);
        newLine.className='';

        tableau.appendChild(newLine);
    }
</script>
<form method="post" action="{{ path('flux_electronic_PCB_save', { 'project' : project.id }) }}#PCBs-table" class="formPCB">
    <table class="PCBs-table" id="PCBs-table">
        <tr>
            <td style="border:none; width:16px;">&nbsp;</td>
            <td bgcolor="#f2dddc" align="center" width="100px;" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Dénomination<br/>composant</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Type de carte électronique</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Poids<sup>*</sup><br/>(g)</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Surface<br/>(cm<sup>2</sup>)</b>
                </label>
            </td>
            <td>&nbsp;</td>
        </tr>
       {% if pcbParts|length > 0 %}
            {% for key,pcbPart in pcbParts %}
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                             <img src="/css/skin/famfamfam/add.png" align="right" name="plus" onclick="addPcbComponent()"/>
                        </a>
                        <input type="hidden" name="pcb[{{key}}][id]" value="{{ pcbPart.id }}"/>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="pcb[{{key}}][label]" type="text" style="width: 100px;" value="{{pcbPart.label }}"/>
                    </td>
                    <td style="border:1px solid black;">
                        <select name="pcb[{{key}}][typePCB]" style="font-size : 8pt; width: 210px;" class="selectPCB">
                            <option name="pcbTypes" value="null" {% if pcbPart.pcb == null %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for pcbType in pcbTypes %}
                                {% if pcbPart.pcb is not null %}
                                    {% if pcbPart.pcb.name == pcbType.name %}
                                        <option name="pcbTypes" selected="selected" value={{ pcbType.id }}>{{ pcbType.name }}</option>
                                    {% else %}    
                                        <option name="pcbTypes" value={{ pcbType.id }}>{{ pcbType.name }}</option>
                                    {% endif %}
                                {% else %}
                                   <option name="pcbTypes" value={{ pcbType.id }}>{{ pcbType.name }}</option>     
                                {% endif %}        
                            {% endfor %}
                        </select>
                    </td>
                    <td align="center" style="border:1px solid black">
                        <input name="pcb[{{key}}][weight]" type="text" style="width: 25px;" class="weightPCB" {% if pcbPart.pcb == null %}disabled="disabled" value=""{% else %}value="{{pcbPart.weight }}"{% endif %}/>
                    </td>
                    <td align="center" style="border:1px solid black;">
                        <input name="pcb[{{key}}][surface]" type="text" style="width: 25px;" class="surfacePCB" {% if pcbPart.pcb == null %}disabled="disabled" value=""{% else %}value="{{pcbPart.surfacePCB }}"{% endif %}/>
                    </td>
                    <td>
                        <a href="{{ path('flux_electronic_PCB_delete', { 'id' : pcbPart.id }) }}#PCBs-table">
                            <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        
        {% set key_new = pcbParts|length %}
                <tr class="tr-clone" name="clonePCBs" {% if pcbParts|length == 0 %} style="display: table-row;" {% endif %}>
                    <td>
                        <a href="javascript:void(0);">
                             <img src="/css/skin/famfamfam/add.png" align="right" name="plus" onclick="addPcbComponent()"/>
                        </a>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="pcb[{{key_new}}][label]" type="text" style="width: 100px;"/>
                    </td>
                    <td style="border:1px solid black;">
                        <select name="pcb[{{key_new}}][typePCB]" style="font-size : 8pt; width: 210px;" class="selectPCB">
                            <option name="pcbTypes" value="null" selected="selected">- Choisir -</option>
                            {% for pcbType in pcbTypes %}     
                                <option name="pcbTypes" value={{ pcbType.id }}>{{ pcbType.name }}</option>   
                            {% endfor %}
                        </select>
                    </td>
                    <td align="center" style="border:1px solid black">
                        <input name="pcb[{{key_new}}][weight]" type="text" style="width: 25px;" class="weightPCB"/>
                    </td>
                    <td align="center" style="border:1px solid black;">
                        <input name="pcb[{{key_new}}][surface]" type="text" style="width: 25px;" class="surfacePCB"/>
                    </td>
                    <td>&nbsp;</td>
                </tr>
        </table>  
        <br/>
    <button type="submit" class="btn btn-info add-row">Valider</button>
    <br/><br/>
    <label>- Cartes «riches» contiennent des composants précieux (or) en grand nombre sur les deux côtés de la carte (cartes mères des ordinateurs ou des serveurs).</label>
    <label>- Cartes «pauvres» contiennent  peu de composants sur un seul côté de la carte où il n'y a pas de puces et où tout est étamé.</label>
</form>