<h2>Composants électroniques</h2>
<script>
    $(function(){
        var nbClickOnPlus = 0;
        $(document).ready(function() {
            $(".types").each(function() {
                var types = $(this);
                var parent = types.parent().parent();
                var t = types.val();
                var i = parent.find('.component-id').val();

                parent.find('.components').html('');
                $.post("{{ path('flux_components') }}", {type: t, id: i }, function(data) {
                    var components = parent.find('.components');
                    components.html(data);
                });
            });
        });
        
        $(".types").live('change', function(event) {
            event.preventDefault();
            var types = $(this);
            var name = types.prop('name');
            
            var toRemove1 = 'components[';
            var toRemove2 = '][type]';
            
            name = name.replace(toRemove1,'');
            name = name.replace(toRemove2,'');
            var key = name;
            
            var parent = types.parent().parent();
            var t = types.val();
            var i = parent.find('.component-id').val();
            
            parent.find('.components').html('');
            $.post("{{ path('flux_components') }}", {type: t, id: i }, function(data) {
                var components = parent.find('.components');
                components.html(data);
                components.change();
            });
            
            var param1Unit = parent.find('.param1Unit');
            var param2Unit = parent.find('.param2Unit');
            var param1Value = parent.find('.param1Value'+key);
            var param2Value = parent.find('.param2Value'+key);
            var unitMass = parent.find('.unitMass');
            
            param1Unit.html('');
            param2Unit.html('');
            param1Value.prop('value','');
            param2Value.prop('value','');
            unitMass.html('');
            
            param1Unit.show();
            param2Unit.show();
            param1Value.show();
            param2Value.show();
            unitMass.show();
            
        });

        $(".components").live('change', function(event) {
            event.preventDefault();
            var component = $(this);
            
            var name = component.prop('name');
            var toRemove1 = 'components[';
            var toRemove2 = '][component]';
            
            name = name.replace(toRemove1,'');
            name = name.replace(toRemove2,'');
            var key = name;
                     
            var parent = component.parent().parent();
            var componentId = parent.find('.components option:selected').val();
            var val = componentId;
            
            $.post("{{ path('flux_component') }}", { id: val }, function(data) {
                var param1Unit = parent.find('.param1Unit');
                var param2Unit = parent.find('.param2Unit');
                var param1Value = parent.find('.param1Value'+key);
                var param2Value = parent.find('.param2Value'+key);
                var unitMass = parent.find('.unitMass');
                
                if(data.param1 != "UN") {
                    if(data.val != 0.0000){
                        if(data.param1 == "cm"){
                            param2Value.prop('value',data.val);
                            param2Value.prop('disabled', true);
                        }else if(data.param1 == "m"){
                            param2Value.prop('value',data.val);
                            param2Value.prop('disabled', true);
                        }else{
                            param1Value.prop('value',data.val);
                        }
                    }else{
                        param1Value.prop('value','');
                    }
                    
                    param1Unit.html(data.param1);
                    
                    if(data.param2 != ""){
                        if(data.param2 == "mm2"){
                            param2Unit.html("mm<sup>2</sup>");
                        }else if(data.param2 == "cm3"){
                            param2Unit.html("cm<sup>3</sup>");
                        }else{
                            param2Unit.html(data.param2);
                        }
                        
                        if(data.param1 !='cm' && data.param1 != 'm'){
                            param2Value.prop('value','');
                            param2Value.prop('disabled',false);
                        }
                    }else{
                        param2Unit.html("");
                        param2Value.prop('value','');
                        param2Value.prop('disabled',true);
                    }
                }else{
                    param1Unit.html(data.param1);
                    param1Value.prop('value','');
                    
                    if(data.param2 != ""){
                        if(data.param2 == "mm2"){
                            param2Unit.html("mm<sup>2</sup>");
                        }else if(data.param2 == "cm3"){
                            param2Unit.html("cm<sup>3</sup>");
                        }else{
                            param2Unit.html(data.param2);
                        }
                        
                        if(data.val != 0.0000){
                            param2Value.prop('value',data.val);
                            param2Value.prop('disabled',true);
                        }else{
                            param2Value.prop('value','');
                            param2Value.prop('disabled',false);
                        }
                        
                        //param2Value.prop('disabled',false);
                    }else{
                        param2Unit.html("");
                        param2Value.prop('value','');
                        param2Value.prop('disabled',true);
                    }
                }
                
                unitMass.html(data.unitMass)
                param1Value.show();
                param2Value.show();
                param1Unit.show();
                param2Unit.show();
                unitMass.show();
                
            }, 'json');
        });
        
        $(".formElectronicComponents").bind('submit', function() {
            $(this).closest(".tr-clone").remove();
        });
        
        $(".addElectronicComponent").live('click', function(event) {
             nbClickOnPlus ++;
             var nbComponentsParts = $(document).find(".nbComponentsParts").val();
             var trclone = $(".composantsElectroniques-table").find(".tr-clone");
             var newLine = trclone.clone(true);
             if(nbClickOnPlus >= 1){
                 var inputs = newLine.find(':input');
                 inputs.each(function(){
                     var inputName = $(this).prop('name');
                     console.log("Input name : "+ inputName);
                     if(nbComponentsParts <= 9){
                        var newInputName = inputName.substring(13);
                     }else if(nbComponntsParts <= 99){
                        var newInputName = inputName.substring(14);
                     }
                     console.log("New input name : "+ newInputName);
                     var indice = parseInt(nbClickOnPlus) + parseInt(nbComponentsParts);
                     var goodInputName = 'components['+indice+']'+ newInputName;
                     $(this).attr('name', goodInputName);
                     console.log("The REAL new input name : "+ goodInputName);
                     for(var i = 0; i < 1000; i++){
                        if($(this).hasClass("param1Value"+i)){
                            $(this).removeClass("param1Value"+i);
                            $(this).addClass("param1Value"+indice);
                            $(this).attr('value','');
                        }
                        if($(this).hasClass("param2Value"+i)){
                            $(this).removeClass("param2Value"+i);
                            $(this).addClass("param2Value"+indice);
                            $(this).attr('value','');
                        }
                     }
                     var tdParam1Unit = newLine.find(".param1Unit");
                     var tdParam2Unit = newLine.find(".param2Unit");
                     var tdUnitMass = newLine.find(".unitMass");
                     
                     tdParam1Unit.html('');
                     tdParam2Unit.html('');
                     tdUnitMass.html('');
                     
                     tdParam1Unit.show();
                     tdParam2Unit.show();
                     tdUnitMass.show();
                 });
             }
             newLine.attr('value','');
             newLine.removeClass("tr-clone");
             $(".composantsElectroniques-table").append(newLine);
        });
    });
</script>
<form method="post" action="{{ path('flux_electronic_components_save', { 'project' : project.id }) }}#composantsElectroniques-table" class="formElectronicComponents">
    <div class="pcbs">
        <input type="hidden" name="nbComponentParts" class="nbComponentsParts" value="{{ componentsParts|length}}"/>
        <table class="composantsElectroniques-table" id="composantsElectroniques-table">
            <tr>
                <td>&nbsp;</td>
                <td align="center"><b>Type composant</b></td>
                <td align="center"><b>Désignation</b></td>
                <td align="center"><b>Paramètre 1</b></td>
                <td align="center"><b>Unité</b></td>
                <td align="center"><b>Paramètre 2</b><br><label style="font-size: 6pt;">(Valeur proposée)</label></td>
                <td align="center"><b>Unité</b></td>
                <td align="center"><b>Aide</b></td>
                <td>&nbsp;</td>
            </tr>
            {% if componentsParts|length > 0 %}
                {% for key,componentsPart in componentsParts %}
                {% set param1Unit = componentsPart.component.param1 %}
                {% set param2Unit = componentsPart.component.param2 %}
                    <tr>
                        <td>
                            <a href="javascript:void(0);">
                                <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addElectronicComponent"/>
                            </a>
                            <input type="hidden" class="component-id" name="components[{{key}}][id]" value="{{ componentsPart.id }}"/>    
                        </td>
                        <td>
                            <select class="types" style="width: 180px;" name="components[{{key}}][type]">
                                <option value="">- Choisir -</option>
                                {% for typeBoitier in typesBoitiers %}
                                    {% if typeBoitier.label == componentsPart.component.type.label %}
                                        <option name="typeBoitier" value="{{ typeBoitier.id }}" selected="selected">{{ typeBoitier.label }}</option>
                                    {% else %}
                                        <option name="typeBoitier" value="{{ typeBoitier.id }}">{{ typeBoitier.label }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="components" style="width: 400px;" name="components[{{key}}][component]">
                                <option value="">- Choisir -</option>
                            </select>
                        </td>
                        <td>
                            {# set param1Value = componentsPart.param1Value %}
                            {% set split = param1Value|split('.') %}
                            {% set decimal = attribute(split, 1) %}
                            {% if decimal == '0000' %}
                                {% set param1Value = param1Value|number_format  %}
                            {% endif #}
                            <input type="text" style="width : 50px;" name="components[{{key}}][param1Value]" class="param1Value{{key}}" value="{{ componentsPart.param1Value }}"/>
                        </td>
                        <td>
                            {% if param1Unit != 'm2' %}
                                <label name="components[{{key}}][param1Unit]" class="param1Unit">{{ componentsPart.component.param1 }}</label>
                            {% else %}
                                <label name="components[{{key}}][param1Unit]" class="param1Unit">m<sup>2</sup></label>
                            {% endif %}    
                        </td>
                        <td>
                            {% if componentsPart.param2Value != null %}
                                <input type="text" style="width : 50px;" name="components[{{key}}][param2Value]" value="{{ componentsPart.param2Value }}" class="param2Value{{key}}"/>
                            {% else %}
                                <input disabled="disabled" type="text" style="width : 50px;" name="components[{{key}}][param2Value]" value="{{ componentsPart.component.val }}" class="param2Value{{key}}"/>
                            {% endif %}    
                        </td>
                        <td>
                            {% if param2Unit == 'mm2' %}
                                <label name="components[{{key}}][param2Unit]" class="param2Unit">mm<sup>2</sup></label>
                            {% elseif param2Unit == 'cm3' %}
                                <label name="components[{{key}}][param2Unit]" class="param2Unit">cm<sup>3</sup></label>
                            {% else %}
                                <label name="components[{{key}}][param2Unit]" class="param2Unit">{{ componentsPart.component.param2 }}</label> 
                            {% endif %}    
                        </td>
                        <td>
                            <label name="components[{{key}}][unitMass]" class="unitMass">{{ componentsPart.component.unitMass|raw }}</label>
                        </td>
                        <td>
                            <a href="{{ path('flux_electronic_components_delete', { 'id' : componentsPart.id }) }}#others-table">
                                <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                            </a>
                        </td>
                    </tr>
                 {% endfor %}
             {% endif %}

            <!-- ce tr est caché en css et sera copier sur chaque click sur .add pour construire une nouvelle ligne -->
            {% set key_new = componentsParts|length %}
              <tr class="tr-clone" name="cloneComposantsElectroniques" {% if componentsParts|length == 0 %} style="display: table-row;" {% endif %}>
                   <td>
                        <a href="javascript:void(0);">
                            <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addElectronicComponent"/>
                        </a>
                   </td>
                   <td>
                        <select class="types" style="width: 180px;" name="components[{{key_new}}][type]">
                            <option value="" selected="selected">- Choisir -</option>
                            {% for typeBoitier in typesBoitiers %}
                                <option name="typeBoitier" value="{{ typeBoitier.id }}">{{ typeBoitier.label }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="components" style="width: 400px;" name="components[{{key_new}}][component]">
                            <option value="" selected="selected">- Choisir -</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="param1Value{{key_new}}" style="width : 50px;" name="components[{{key_new}}][param1Value]"/>
                    </td>
                    <td class="param1Unit" name="components[{{key_new}}][param1Unit]"></td>
                    <td>
                        <input type="text" style="width : 50px;" name="components[{{key_new}}][param2Value]" class="param2Value{{key_new}}"/>
                    </td>
                    <td class="param2Unit" name="components[{{key_new}}][param2Unit]"></td>
                    <td class="unitMass" name="components[{{key_new}}][unitMass]"></td>
                    <td>&nbsp;</td>
              </tr>
        </table>
        <div class="clear"></div>
     </div>
    <br/>
    <button type="submit" class="btn btn-info add-row">Valider</button>
</form>