<h2>Composants électroniques</h2>
<script>
    $(function(){
        $(".typesOthers").live('change', function(event) {
            event.preventDefault();
            var typesOthers = $(this);
            
            var name = typesOthers.prop('name');
            var toRemove1 = 'others[';
            var toRemove2 = '][type]';
            
            name = name.replace(toRemove1,'');
            name = name.replace(toRemove2,'');
            var key = name;
            
            var parent = typesOthers.parent().parent();
            var val = typesOthers.val();
            
            $.post("{{ path('flux_electronic_others') }}", {id : val }, function(data) {
                var param1Unit = parent.find('.param1Unit');
                var param2Unit = parent.find('.param2Unit');
                var param2Value = parent.find('.param2Value'+key);
                //var unitMass = parent.find('.unitMass');
                
                if(data.param1Unit == "m2"){
                    param1Unit.html("m<sup>2</sup>");
                }else if(data.param1Unit == "cm2"){
                    param1Unit.html("cm<sup>2</sup>");
                }else if(data.param1Unit == "mm2"){
                    param1Unit.html("mm<sup>2</sup>");
                }else{
                    param1Unit.html(data.param1Unit);
                }
                
                if(data.param2Unit == "dm2"){
                    param2Unit.html("dm<sup>2</sup>");
                    param2Value.prop('disabled',false);
                }else if(data.param2Unit == "cm2"){
                    param2Unit.html("cm<sup>2</sup>");
                    param2Value.prop('disabled',false);
                }else if(data.param2Unit == "mm2"){
                    param2Unit.html("mm<sup>2</sup>");
                    param2Value.prop('disabled',false);
                }else if(data.param2Unit == "cm3"){
                    param2Unit.html("cm<sup>3</sup>");
                    param2Value.prop('disabled',false);
                }else if(data.param2Unit == ""){
                    param2Unit.html('');
                    param2Value.prop('disabled',true);
                    param2Value.prop('value','');
                    param2Value.show();
                }
                else{
                    param2Unit.html(data.param2Unit);
                    param2Value.prop('disabled',false);
                }
                 
                //unitMass.html(data.unitMass);
                param1Unit.show();
                param2Unit.show();
                //unitMass.show();
            }, 'json');
        });
    });
    
    //Bouton plus des Others parts
    function addOthersComponent(){
        event.preventDefault();
        var tableau = document.getElementById("others-table");
        var newLine = document.getElementsByName('cloneOthers')[0].cloneNode(true);
        newLine.className='';
        
        tableau.appendChild(newLine);
    }
</script>
<form method="post" action="{{ path('flux_electronic_others_save', { 'project' : project.id }) }}#others-table">
    <div class="pcbs">
        <table class="others-table" id="others-table">
            <tr>
                <td style="border:none; width:16px;">&nbsp;</td>
                <td align="center"><b>Composant électronique</b></td>
                <td align="center"><b>Paramètre 1</b></td>
                <td align="center"><b>Unité</b></td>
                <td align="center"><b>Paramètre 2</b></td>
                <td align="center"><b>Unité</b></td>
                <td>&nbsp;</td>
            </tr>
            {% if otherParts|length > 0 %}
                {% for key,otherPart in otherParts %}
                    <tr>
                        <td>
                            <a href="javascript:void(0);">
                                <img src="/css/skin/famfamfam/add.png" align="right" name="plus" onclick="addOthersComponent()"/>
                            </a>
                             <input type="hidden" class="others-id" name="others[{{key}}][id]" value="{{ otherPart.id }}"/>    
                        </td>
                        <td>
                            <select class="typesOthers" style="width: 150px;" name="others[{{key}}][type]">
                                <option value="">- Choisir -</option>
                                {% for other in others %}
                                    {% if other.name == otherPart.part.name %}
                                        <option name="typeOthers" value="{{ other.id }}" selected="selected">{{ other.name }}</option>
                                    {% else %}
                                        <option name="typeOthers" value="{{ other.id }}">{{ other.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" style="width : 150px;" name="others[{{key}}][param1Value]" value="{{ otherPart.param1Value }}"/>
                        </td>
                        <td>
                            <label name="others[{{key}}][param1Unit]" class="param1Unit">{{ otherPart.param1Unit }}</label>
                        </td>
                        <td>
                            {% if otherPart.param2Unit != "" %}
                                <input type="text" style="width : 150px;" name="others[{{key}}][param2Value]" value="{{ otherPart.param2Value }}" class="param2Value{{key}}"/>
                            {% else %}
                                <input disabled="disabled" type="text" style="width : 150px;" name="others[{{key}}][param2Value]" value="" class="param2Value{{key}}"/>
                            {% endif %}    
                        </td>
                        <td>
                            <label name="others[{{key}}][param2Unit]" class="param2Unit">{{ otherPart.param2Unit }}</label>
                        </td>
                        <td>
                            <a href="{{ path('flux_electronic_others_delete', { 'id' : otherPart.id }) }}#others-table">
                                <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                            </a>
                        </td>
                    </tr>
                 {% endfor %}
             {% endif %}

            <!-- ce tr est caché en css et sera copier sur chaque click sur .add pour construire une nouvelle ligne -->
            {% set key_new = otherParts|length + 1 %}
              <tr class="tr-clone" name="cloneOthers" {% if otherParts|length == 0 %} style="display: table-row;" {% endif %}>
                   <td>
                        <a href="javascript:void(0);">
                             <img src="/css/skin/famfamfam/add.png" align="right" name="plus" onclick="addOthersComponent()"/>
                        </a>
                   </td>
                   <td>
                        <select class="typesOthers" style="width: 150px;" name="others[{{key_new}}][type]">
                            <option value="">- Choisir -</option>
                                {% for other in others %}
                                    <option name="typeOthers" value="{{ other.id }}">{{ other.name }}</option>
                                {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" style="width : 150px;" name="others[{{key_new}}][param1Value]"/>
                    </td>
                    <td class="param1Unit"></td>
                    <td>
                        <input type="text" style="width : 150px;" name="others[{{key_new}}][param2Value]" class="param2Value{{key_new}}"/>
                    </td>
                    <td class="param2Unit"></td>
                    <td>&nbsp;</td>
              </tr>
        </table>
        <div class="clear"></div>
     </div>
    <br/>    
    <button type="submit" class="btn btn-info add-row">Valider</button>
</form>