<h2>Identification des composants métalliques et alliages et de leurs procédés</h2>
<script>
    $(function(){
        $(".qty").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var qty = $(this).val();
            
            var weight = content.find(".weight").val();
              
            if(qty != 0 && weight != 0){
                var globalWeight = qty * weight;
                var globalWeightElement = content.find('.globalWeight');
                globalWeightElement.html(globalWeight.toFixed(2)); 
                globalWeightElement.change();
            }
        }).change();
        
         $(".weight").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var weight = $(this).val();
            
            var qty = content.find(".qty").val();
            
            if(qty != 0 && weight != 0){       
                var globalWeight = qty * weight;
                var globalWeightElement = content.find('.globalWeight');
                globalWeightElement.html(globalWeight.toFixed(2)); 
                globalWeightElement.change();
            }
        }).change();
        
        $(".selectMetallic").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var qty = content.find(".qty");
            var weight = content.find(".weight");
            var globalWeight = content.find(".globalWeight");
            
            if(qty.attr("disabled")){
                qty.removeAttr("disabled");
                qty.change();
            }
            
            if(weight.attr("disabled")){
                weight.removeAttr("disabled");    
                weight.change();
            }
                 
            console.log("Val : "+value);
            
            if(value == "null"){  
                qty.attr("disabled","disabled");
                qty.attr("value","");
                weight.attr("disabled","disabled");
                weight.attr("value","");
                globalWeight.text("");
                qty.change();
                weight.change();
            }else{
                qty.removeAttr("disabled");
                weight.removeAttr("disabled");
                qty.change();
                weight.change();
            }
        }).change();
        
        $(".selectMetallicFinition").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var surface = content.find(".processSurface");
            
            if(surface.attr("disabled")){
                surface.removeAttr("disabled");
                surface.change();
            }
        
            if(value == "null"){
                surface.attr("disabled","disabled");
                surface.attr("value","");
                surface.change();
            }else{
                surface.removeAttr("disabled");
                surface.change();
            }
        }).change();
        
        $(".addMetallic").live('click', function(event) {
             var trclone = $(".composantsMetalliques-table").find(".tr-clone");
             var newLine = trclone.clone(true);
             newLine.attr('value','');
             newLine.removeClass("tr-clone");
             $(".composantsMetalliques-table").append(newLine);
        });
        
        $(".formMetallic").bind('submit', function() {
            var boutonSubmit = $(this);
            var result = true;
            $(".selectMetallic").each(function(){
                var value = $(this).val();
                var isTrClone = $(this).parent().parent().hasClass("tr-clone");
                if(value == "null"){
                    if(isTrClone == false){
                        result = false;
                        return false;
                    }
                }
            });
            
            console.log("Result : "+result);
            if(result == false){
                alert("Vous n'avez pas renseigné tous les types de matières métalliques !");
                return false;
            }else{
                return true;
            }
        });
    });
</script>
<form method="post" action="{{ path('flux_manufacturing_metallic_save', { 'project' : project.id }) }}#composantsMetalliques-table" class="formMetallic">
    <table class="composantsMetalliques-table" id="composantsMetalliques-table">
        <tr>
            <td style="border:none; width:16px;">&nbsp;</td>
            <td rowspan="2" bgcolor="#f2dddc" align="center" width="100px;" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Dénomination<br/>composant</b>
                </label>
            </td>
            <td rowspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Type de matière<br/>métallique</b>
                </label>
            </td>
            <td rowspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Qté</b>
                </label>
            </td>
            <td rowspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Poids<br/>unit<br/>(g)</b>
                </label>
            </td>
            <td rowspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Poids<br/>global<br/>(g)</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Procédés de fabrication</b>
                </label>
            </td>
            <td colspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Procédés de finition</b>
                </label>
            </td>
        </tr>
        <tr>
            <td style="border:none; width:16px;">&nbsp;</td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Type</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Type</b>
                </label>
            </td>
             <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color:black;">
                    <b>Surface<br/>globale<br/>(cm<sup>2</sup>)</b>
                </label>
            </td>
            <td>&nbsp;</td>
        </tr>
        
        {% if metallicParts|length > 0 %}
            {% for key,metallic in metallicParts %}
                {% set qty= metallic.quantity %}
                {% set weight = metallic.weight %}
                {% set globalWeight = (qty * weight )|number_format(2, '.', '')%}
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                             <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addMetallic"/>
                        </a>
                        <input type="hidden" name="metallic[{{key}}][id]" value="{{ metallic.id }}"/>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="metallic[{{key}}][label]" type="text" style="width: 100px;" value="{{ metallic.label }}"/>
                    </td>
                    <td style="border:1px solid black;">
                        <select name="metallic[{{key}}][base]" style="font-size : 8pt; width: 130px;" class="selectMetallic">
                            <option name="metallicTypes" value="null" {% if metallic.base == null %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for metallicMaterial in metallicMaterials %}
                                {% if metallic.base is not null %}
                                    {% if metallicMaterial.name == metallic.base.name %}
                                        <option name="metallicTypes" selected="selected" value={{ metallicMaterial.id }}>{{ metallicMaterial.name }}</option>
                                    {% else %}    
                                        <option name="metallicTypes" value={{ metallicMaterial.id }}>{{ metallicMaterial.name }}</option>
                                    {% endif %}
                                {% else %}
                                   <option name="metallicTypes" value={{ metallicMaterial.id }}>{{ metallicMaterial.name }}</option>    
                                {% endif %}        
                            {% endfor %}
                        </select>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="metallic[{{key}}][quantity]" type="text" style="width: 25px;" class="qty" {% if metallic.base == null %}disabled="disabled" value=""{% else %}value="{{ qty }}"{% endif %}/>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="metallic[{{key}}][weight]" type="text" style="width: 25px;" class="weight" {% if metallic.base == null %}disabled="disabled" value=""{% else %}value="{{ weight }}"{% endif %}/>
                    </td>
                    <td align="center" style="border:1px solid black;">
                        <label name="metallic[{{key}}][globalWeight]" class="globalWeight">
                            {{ globalWeight }}
                        </label>
                    </td>
                    <td style="border:1px solid black;">
                        <select name="metallic[{{key}}][process]" style="font-size : 8pt; width: 130px;" class="selectMetallicFinition">
                            <option name="metallicProcessTypes" value="null" {% if metallic.process == null %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for metallicProcess in metallicProcesses %}
                                {% if metallic.process is not null %}
                                    {% if metallicProcess.name == metallic.process.name %}
                                        <option name="metallicProcessesTypes" selected="selected" value={{ metallicProcess.id }}>{{ metallicProcess.name }}</option>
                                    {% else %}    
                                        <option name="metallicProcessesTypes" value={{ metallicProcess.id }}>{{ metallicProcess.name }}</option>
                                    {% endif %}
                                {% else %}
                                   <option name="metallicProcessesTypes" value={{ metallicProcess.id }}>{{ metallicProcess.name }}</option>     
                                {% endif %}        
                            {% endfor %}
                        </select>
                    </td>
                    <td align="center" style="border:1px solid black;">
                       <select name="metallic[{{key}}][processFinition]" style="font-size : 8pt; width: 130px;" class="selectMetallicFinition">
                            <option name="metallicProcessTypes" value="null" {% if metallic.process == null %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for metallicFinitionProcess in metallicFinitionProcesses %}
                                {% if metallic.processFinition is not null %}
                                    {% if metallicFinitionProcess.name == metallic.processFinition.name %}
                                        <option name="metallicProcessesTypes" selected="selected" value={{ metallicFinitionProcess.id }}>{{ metallicFinitionProcess.name }}</option>
                                    {% else %}    
                                        <option name="metallicProcessesTypes" value={{ metallicFinitionProcess.id }}>{{ metallicFinitionProcess.name }}</option>
                                    {% endif %}
                                {% else %}
                                   <option name="metallicProcessesTypes" value={{ metallicFinitionProcess.id }}>{{ metallicFinitionProcess.name }}</option>     
                                {% endif %}        
                            {% endfor %}
                        </select>
                    </td>
                    <td align="center" style="border:1px solid black;">
                        <input name="metallic[{{key}}][processSurface]" type="text" style="width: 25px;" class="processSurface" {% if metallic.process == null %}disabled="disabled" value=""{% else %}value="{{ metallic.processSurface }}"{% endif %}/>
                    </td>
                    <td>
                        <a href="{{ path('flux_manufacturing_metallic_delete', { 'id' : metallic.id }) }}#composantsPlastiques-table">
                            <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
                
        {% set key_new = metallicParts|length %}
            <tr class="tr-clone" name="cloneComposantsMetalliques" {% if metallicParts|length == 0 %} style="display: table-row;" {% endif %}>
                <td>
                    <a href="javascript:void(0);">
                         <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addMetallic"/>
                    </a>
                </td>
                <td style="border:1px solid black;">
                    <input name="metallic[{{key_new}}][label]" type="text" style="width: 100px;"/>
                </td>
                <td style="border:1px solid black;">
                    <select name="metallic[{{key_new}}][base]" style="font-size : 8pt; width: 130px;" class="selectMetallic">
                        <option name="metallicTypes" value="null" selected="selected">- Choisir -</option>
                        {% for metallicMaterial in metallicMaterials %}
                            <option name="metallicTypes" value={{ metallicMaterial.id }}>{{ metallicMaterial.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="border:1px solid black;">
                    <input name="metallic[{{key_new}}][quantity]" type="text" style="width: 25px;" class="qty"/>
                </td>
                <td style="border:1px solid black;">
                    <input name="metallic[{{key_new}}][weight]" type="text" style="width: 25px;" class="weight"/>
                </td>
                <td align="center" style="border:1px solid black;">
                    <label name="metallic[{{key_new}}][globalWeight]" class="globalWeight"></label>
                </td>
                <td style="border:1px solid black;">
                    <select name="metallic[{{key_new}}][process]" style="font-size : 8pt; width: 130px;" class="selectMetallicFinition">
                        <option name="metallicProcessesTypes" value="null" selected="selected">- Choisir -</option>
                        {% for metallicProcess in metallicProcesses %}
                            <option name="metallicProcessesTypes" value={{ metallicProcess.id }}>{{ metallicProcess.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td align="center" style="border:1px solid black;">
                    <select name="metallic[{{key_new}}][processFinition]" style="font-size : 8pt; width: 130px;" class="selectMetallicFinition">
                        <option name="metallicProcessesTypes" value="null" selected="selected">- Choisir -</option>
                        {% for metallicFinitionProcess in metallicFinitionProcesses %}
                            <option name="metallicProcessesTypes" value={{ metallicFinitionProcess.id }}>{{ metallicFinitionProcess.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td align="center" style="border:1px solid black;">
                    <input name="metallic[{{key_new}}][processSurface]" type="text" style="width: 25px;" class="processSurface"/>
                </td>
                <td>&nbsp;</td>
            </tr>
    </table>
    <br/>    
    <button type="submit" class="btn btn-info add-row">Valider</button>
</form>