<h2>Identification des composants et des procédés plastiques</h2>
<script>
    $(function(){
        $(".qty").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var qty = $(this).val();
            
            var weight = content.find(".weight").val();
              
            if(qty != 0 && weight != 0){
                var globalWeight = qty * weight;
                var globalWeightElement = content.find('.globalWeight');
                globalWeightElement.html(globalWeight); 
                globalWeightElement.change();
            }
        }).change();
        
        $(".weight").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var weight = $(this).val();
            
            var qty = content.find(".qty").val();
            
            if(qty != 0 && weight != 0){       
                var globalWeight = qty * weight;
                var globalWeightElement = content.find('.globalWeight');
                globalWeightElement.html(globalWeight); 
                globalWeightElement.change();
            }
        }).change(); 
        
        $(".selectPlastic").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var qty = content.find(".qty");
            var weight = content.find(".weight");
            var globalWeight = content.find(".globalWeight");
            
            if(qty.attr("disabled")){
                qty.removeAttr("disabled");
                qty.change();
            }
            
            if(weight.attr("disabled")){
                weight.removeAttr("disabled");    
                weight.change();
            }
                 
            console.log("Val : "+value);
            
            if(value == "null"){
                console.log("Dans le if !");  
                qty.attr("disabled","disabled");
                qty.attr("value","");
                weight.attr("disabled","disabled");
                weight.attr("value","");
                globalWeight.text("");
                qty.change();
                weight.change();
            }else{
                console.log("Dans le else !");
                qty.removeAttr("disabled");
                weight.removeAttr("disabled");
                qty.change();
                weight.change();
            }
        }).change();
        
        $(".selectPlasticCharge").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var percent = content.find(".percentCharge");
            
            if(percent.attr("disabled")){
                percent.removeAttr("disabled");
                percent.change();
            }
              
            if(value == "null"){
                percent.attr("disabled","disabled");
                percent.attr("value","");
                percent.change();
            }else{
                percent.removeAttr("disabled");
                percent.change();
            }
        }).change();
        
        $(".selectPlasticAdditive").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var percent = content.find(".percentAdditive");
            
            if(percent.attr("disabled")){
                percent.removeAttr("disabled");
                percent.change();
            }
              
            if(value == "null"){
                percent.attr("disabled","disabled");
                percent.attr("value","");
                percent.change();
            }else{
                percent.removeAttr("disabled");
                percent.change();
            }
        }).change();
        
        $(".selectPlasticColorant").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var percent = content.find(".percentColorant");
            
            if(percent.attr("disabled")){
                percent.removeAttr("disabled");
                percent.change();
            }
              
            if(value == "null"){
                percent.attr("disabled","disabled");
                percent.attr("value","");
                percent.change();
            }else{
                percent.removeAttr("disabled");
                percent.change();
            }
        }).change();
        
        $(".selectPlasticFinition").live('change', function (event) {
            event.preventDefault();
            
            var content = $(this).parent().parent();
            var value = $(this).val();
             
            var surface = content.find(".processSurface");
            var thickness = content.find(".processThickness");
            
            if(surface.attr("disabled")){
                surface.removeAttr("disabled");
                surface.change();
            }
            
            if(thickness.attr("disabled")){
                thickness.removeAttr("disabled");    
                thickness.change();
            }
        
            if(value == "null"){
                surface.attr("disabled","disabled");
                surface.attr("value","");
                thickness.attr("disabled","disabled");
                thickness.attr("value","");
                surface.change();
                thickness.change();
            }else{
                surface.removeAttr("disabled");
                thickness.removeAttr("disabled");
                surface.change();
                thickness.change();
            }
        }).change();
        
        $(".addPlastic").live('click', function(event) {
             var trclone = $(".composantsPlastiques-table").find(".tr-clone");
             var newLine = trclone.clone(true);
             newLine.attr('value','');
             newLine.removeClass("tr-clone");
             $(".composantsPlastiques-table").append(newLine);
        });
        
        $(".formPlastic").bind('submit', function() {
            var boutonSubmit = $(this);
            var result = true;
            $(".selectPlastic").each(function(){
                var value = $(this).val();
                var isTrClone = $(this).parent().parent().hasClass("tr-clone");
                if(value == "null"){
                    if(isTrClone == false){
                        result = false;
                        return false;
                    }
                }
            });
            
            console.log("Result : "+result);
            if(result == false){
                alert("Vous n'avez pas renseigné tous les types de matières plastiques !");
                return false;
            }else{
                return true;
            }
        });
    });
</script>
<form method="post" action="{{ path('flux_manufacturing_plastic_save', { 'project' : project.id }) }}#composantsPlastiques-table" class="formPlastic">
    <table class="composantsPlastiques-table" id="composantsPlastiques-table">
        <tr>
            <td style="border:none;">&nbsp;</td>
            <td rowspan="2" bgcolor="#f2dddc" align="center" width="100px;" style="border:1px solid black;">
                 <label style="color: black;">
                     <b>Dénomination<br/>composant</b>
                 </label>
             </td>
             <td rowspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                 <label style="color: black;">
                     <b>Type de matière<br/>plastique</b>
                 </label>
             </td>
             <td rowspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                 <label style="color: black;">
                        <b>Qté</b>
                 </label>
             </td>
             <td rowspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                 <label style="color: black;">
                     <b>Poids<br/>unit<br/>(g)</b>
                 </label>
             </td>
             <td rowspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                 <label style="color: black;">
                     <b>Poids<br/>global<sup>*</sup><br/>(g)</b>
                 </label>
             </td>
             <td colspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                 <label style="color: black;">
                     <b>Dont les Charges</b>
                 </label>
             </td>
             <td colspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                 <label style="color: black;">
                     <b>Dont les Additifs</b>
                 </label>
             </td>
             <td colspan="2" bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                 <label style="color: black;">
                     <b>Dont les Colorants</b>
                 </label>
             </td>
             <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                 <label style="color:black;">
                     <b>Procédés de fabrication</b>
                 </label>
             </td>
        </tr>
        <tr>
            <td style="border:none; width:16px;">&nbsp;</td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color: black;">
                    <b>Type</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color: black;">
                    <b>%</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color: black;">
                    <b>Type</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color: black;">
                    <b>%</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color: black;">
                    <b>Type</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color: black;">
                    <b>%</b>
                </label>
            </td>
            <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                <label style="color: black;">
                    <b>Type</b>
                </label>
            </td>
            <td>&nbsp;</td>
        </tr>
        {% if plasticParts|length > 0 %}
            {% for key,plastic in plasticParts %}
                {% set qty= plastic.quantity %}
                {% set weight = plastic.weight %}
                {% set globalWeight = qty * weight %}
                <tr>
                    <input type="hidden" name="plastic[{{ key }}][id]" value="{{ plastic.id }}" />
                    <td>
                        <a href="javascript:void(0);">
                             <img src="/css/skin/famfamfam/add.png" align="right" name="plusComposantsPlastiques" style="width:16px; height:16px;"  class="addPlastic"/>
                        </a>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="plastic[{{key}}][label]" type="text" style="width:100px;" value="{{ plastic.label }}" />
                    </td>
                    <td style="border:1px solid black;">
                        <select name="plastic[{{key}}][base]" style="font-size : 8pt; width: 130px;" class="selectPlastic">
                            <option name="plasticTypes" value="null" {% if plastic.base == null %}selected="selected"{% endif %}>- Choisir -</option>
                                {% for plasticMaterial in plasticMaterials %}
                                     {% if plastic.base is not null %}
                                        {% if plasticMaterial.name == plastic.base.name %}
                                           <option name="plasticTypes" selected="selected" value={{ plasticMaterial.id }}>{{ plasticMaterial.name }}</option>
                                        {% else %}   
                                           <option name="plasticTypes" value={{ plasticMaterial.id }}>{{ plasticMaterial.name }}</option>
                                        {% endif %}
                                     {% else %}
                                        <option name="plasticTypes" value={{ plasticMaterial.id }}>{{ plasticMaterial.name }}</option> 
                                     {% endif %}      
                                {% endfor %}           
                        </select>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="plastic[{{key}}][quantity]" type="text" style="width:25px;" class="qty" {% if plastic.base == null %}disabled="disabled" value=""{% else %}value="{{ qty }}"{% endif %} />
                    </td>
                    <td style="border:1px solid black;">
                        <input name="plastic[{{key}}][weight]" type="text" style="width:25px;" class="weight" {% if plastic.base == null %}disabled="disabled" value=""{% else %}value="{{ weight }}"{% endif %} />
                    </td>
                    <td style="border:1px solid black;">
                        <br/>
                        <label name="plastic[{{key}}][globalWeight]" class="globalWeight">
                            {% if plastic.base != null %}{{ globalWeight }}{% else %} {% endif %}
                        </label>
                    </td>
                    <td style="border:1px solid black;">
                        <select name="plastic[{{key}}][charge]" style="font-size : 8pt; width: 130px;" class="selectPlasticCharge">
                            <option name="plasticAdditiveTypes" value="null" {% if plastic.charge == null %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for plasticAdditive in plasticAdditives %}
                                {% if plastic.charge is not null %}
                                    {% if plasticAdditive.name == plastic.charge.name %}
                                        <option name="plasticAdditivesTypes" selected="selected" value={{ plasticAdditive.id }}>{{ plasticAdditive.name }}</option>
                                    {% else %}    
                                        <option name="plasticAdditivesTypes" value={{ plasticAdditive.id }}>{{ plasticAdditive.name }}</option>
                                    {% endif %}
                                {% else %}
                                   <option name="plasticAdditivesTypes" value={{ plasticAdditive.id }}>{{ plasticAdditive.name }}</option>
                                {% endif %}    
                            {% endfor %}
                        </select>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="plastic[{{key}}][percentCharge]" type="text" style="width : 15px;" class="percentCharge" {% if plastic.charge == null %}disabled="disabled" value=""{% else %}value="{{ plastic.percentCharge }}"{% endif %}/>
                    </td>
                    <td style="border:1px solid black;">
                        <select name="plastic[{{key}}][additive]" style="font-size : 8pt; width: 130px;" class="selectPlasticAdditive">
                            <option value="null" {% if plastic.additive == null %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for plasticAdditive in plasticAdditives %}
                                 {% if plastic.additive is not null %}   
                                    {% if plasticAdditive.name == plastic.additive.name %}
                                       <option selected="selected" value={{ plasticAdditive.id }}>{{ plasticAdditive.name }}</option>
                                    {% else %}   
                                       <option value={{ plasticAdditive.id }}>{{ plasticAdditive.name }}</option>
                                    {% endif %}
                                 {% else %}
                                    <option value={{ plasticAdditive.id }}>{{ plasticAdditive.name }}</option>
                                 {% endif %}      
                            {% endfor %}
                        </select>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="plastic[{{key}}][percentAdditive]" type="text" style="width : 15px;" class="percentAdditive" {% if plastic.additive == null %}disabled="disabled" value=""{% else %}value="{{ plastic.percentAdditive }}"{% endif %} />
                    </td>
                    <td style="border:1px solid black;">
                         <select name="plastic[{{key}}][colorant]" style="font-size : 8pt; width: 130px;" class="selectPlasticColorant">
                            <option name="plasticColorantTypes" value="null" {% if plastic.colorant == null %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for plasticColorant in plasticColorants %}
                                {% if plastic.colorant is not null %}
                                    {% if plasticColorant.name == plastic.colorant.name %}
                                        <option name="plasticColorantsTypes" selected="selected" value={{ plasticColorant.id }}>{{ plasticColorant.name }}</option>
                                    {% else %}    
                                        <option name="plasticColorantsTypes" value={{ plasticColorant.id }}>{{ plasticColorant.name }}</option>
                                    {% endif %}
                                {% else %}
                                   <option name="plasticColorantsTypes" value={{ plasticColorant.id }}>{{ plasticColorant.name }}</option>
                                {% endif %}        
                            {% endfor %}
                        </select>
                    </td>
                    <td style="border:1px solid black;">
                        <input name="plastic[{{key}}][percentColorant]" type="text" style="width : 15px;" class="percentColorant" {% if plastic.colorant == null %}disabled="disabled" value=""{% else %}value="{{ plastic.percentColorant }}"{% endif %} />
                    </td>
                    <td style="border:1px solid black;">
                         <select name="plastic[{{key}}][process]" style="font-size : 8pt; width: 130px;" class="selectPlasticProcess">
                            <option name="plasticProcessTypes" value="null" {% if plastic.process == null %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for plasticProcess in plasticProcesses %}
                                {% if plastic.process is not null %}
                                    {% if plasticProcess.name == plastic.process.name %}
                                        <option name="plasticProcessesTypes" selected="selected" value={{ plasticProcess.id }}>{{ plasticProcess.name }}</option>
                                    {% else %}    
                                        <option name="plasticProcessesTypes" value={{ plasticProcess.id }}>{{ plasticProcess.name }}</option>
                                    {% endif %}
                                {% else %}
                                   <option name="plasticProcessesTypes" value={{ plasticProcess.id }}>{{ plasticProcess.name }}</option>
                                {% endif %}        
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <a href="{{ path('flux_manufacturing_plastic_delete', { 'id' : plastic.id }) }}#composantsPlastiques-table">
                            <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        {% set key_new = plasticParts|length %}
            <tr class="tr-clone" name="cloneComposantsPlastiques" {% if plasticParts|length == 0 %} style="display:table-row;"{% endif %}>
                <td style="border:none;">
                    <a href="javascript:void(0);">
                         <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addPlastic"/>
                    </a>     
                </td>
                <td style="border:1px solid black;">
                    <input name="plastic[{{key_new}}][label]" type="text" style="width:100px;"/>
                </td>
                <td style="border:1px solid black;">
                    <select name="plastic[{{key_new}}][base]" style="font-size : 8pt; width: 130px;" class="selectPlastic">
                        <option name="plasticTypes" value="null" selected="selected">- Choisir -</option>
                        {% for plasticMaterial in plasticMaterials %}
                             <option name="plasticTypes" value={{ plasticMaterial.id }}>{{ plasticMaterial.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="border:1px solid black;">
                    <input name="plastic[{{key_new}}][quantity]" type="text" style="width:25px;" class="qty"/>
                </td>
                <td align="center" style="border:1px solid black;">
                    <input name="plastic[{{key_new}}][weight]" type="text" style="width:25px;" class="weight"/>
                </td>
                <td style="border:1px solid black;">
                    <label name="plastic[{{key_new}}][globalWeight]" class="globalWeight"></label>
                </td>
                <td style="border:1px solid black;">
                    <select name="plastic[{{key_new}}][charge]" style="font-size : 8pt; width: 130px;" class="selectPlasticCharge">
                        <option name="plasticAdditivesTypes" value="null" selected="selected">- Choisir -</option>
                        {% for plasticAdditive in plasticAdditives %}
                            <option name="plasticAdditivesTypes" value={{ plasticAdditive.id }}>{{ plasticAdditive.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="border:1px solid black;">
                    <input name="plastic[{{key_new}}][percentCharge]" type="text" style="width : 15px;" class="percentCharge"/>
                </td>
                <td style="border:1px solid black;">
                    <select name="plastic[{{key_new}}][additive]" style="font-size : 8pt; width: 130px;" class="selectPlasticAdditive">
                        <option value="null" selected="selected">- Choisir -</option>
                        {% for plasticAdditive in plasticAdditives %}
                             <option value={{ plasticAdditive.id }}>{{ plasticAdditive.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="border:1px solid black;">
                    <input name="plastic[{{key_new}}][percentAdditive]" type="text" style="width : 15px;" class="percentAdditive"/>
                </td>
                <td style="border:1px solid black;">
                    <select name="plastic[{{key_new}}][colorant]" style="font-size : 8pt; width: 130px;" class="selectPlasticColorant">
                        <option name="plasticColorantsTypes" value="null" selected="selected">- Choisir -</option>
                        {% for plasticColorant in plasticColorants %}
                            <option name="plasticColorantsTypes" value={{ plasticColorant.id }}>{{ plasticColorant.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="border:1px solid black;">
                    <input name="plastic[{{key_new}}][percentColorant]" type="text" style="width : 15px;" class="percentColorant"/>
                </td>
                <td style="border:1px solid black;">
                    <select name="plastic[{{key_new}}][process]" style="font-size : 8pt; width: 130px;" class="selectPlasticProcess">
                        <option name="plasticProcessesTypes" value="null" selected="selected">- Choisir -</option>
                        {% for plasticProcess in plasticProcesses %}
                            <option name="plasticProcessesTypes" value={{ plasticProcess.id }}>{{ plasticProcess.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>&nbsp;</td>
            </tr>
    </table>
    <br/>    
    <button type="submit" class="btn btn-info add-row" class="submit">Valider</button>
    <br/><br/>
    <label><b>* : Le poids global (g) comprend les masses des charges, additifs et colorants</b></label>
</form>