<h2>Informations générales</h2>
<h3>Ces éléments sont-ils présents dans le produit ?</h3>

<form method="post" action="{{ path('flux_manufacturing_general_save', { 'project' : project.id }) }}">

{% for category in categories %}

    <input type="hidden" name="category[]" value="{{ category.id }}">

    <div class="category">
        {% set label = category.label %}

        <div class="category-label">
            <strong>{{ label }}</strong>
            <select name="yesNo_{{ category.id }}">
                <option value="no">Non</option>
                <option {% if parts[category.id] is defined %}selected="selected"{% endif %} value="yes">Oui</option>
            </select>
            <div class="clear"></div>
        </div>

        <div class="category-content {% if parts[category.id] is defined %}force-show{% endif %}">
            {% if category.id == 1 %}
                <div class="category-description">
                    <table>
                        <tr>
                            <td colspan="2">
                                <label style="color:black;">
                                    <b>Directive 2006/66/CE : Batteries, Accumulateurs et Déchets de batteries et accumulateurs</b>
                                </label>
                            </td>
                        </tr>
                        <tr><br/></tr>
                        <tr>
                            <td>Le produit doit répondre aux exigences suivantes :</td>
                            <td>
                                <ul>
                                    <li>Interdiction de mise sur le marché des piles & accus dont le poids de mercure > 0,0005%</li>
                                    <li>Interdiction de mise sur le marché des piles & accus portables dont le poids de cadmium > 0,002%</li>
                                    <li>L'interdiction énoncée ci-dessus ne s'applique pas aux piles bouton dont la teneur en mercure est inférieure à 2% en poids.</li>
                                    <li>La conception du produit permet un retrait aisé des piles et accumulateurs du produit.</li>
                                    <li>Le produit doit être accompagné d'instructions indiquant comment enlever ces derniers sans risques.</li>
                                    <li>Précisez la durée de vie des piles et accumulateurs, de façon visible, lisible et indélébile.</li>
                                    <li>Les piles et accumulateurs sont marqués du symbole "Poubelle barrée". (Annexe II de la directive)</li>
                                    <li>Les piles, accumulateurs et piles bouton contenant plus de 0,0005% de mercure, plus de 0,002% de cadmium, ou plus de 0,004% de plomb sont marqués du symbole chimique du métal correspondant: Hg, Cd ou Pb. Le symbole indiquant la teneur en métal lourd est imprimé sous le symbole de l'annexe II; et couvre une surface au moins égale à 25% de la surface couverte par ce dernier symbole.</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
            <table class="part-table">
                <tr>
                    <th>Quantité</th>
                    {% if category.id != 5 %}
                        <th>Type</th>
                    {% endif %}
                    <th>{{ category.unit }}</th>
                    <th>Informations</th>
                </tr>

                {% if parts[category.id] is defined %}
                    {% for key,part in parts[category.id] %}
                        {% set partWeight = part.weight %}
                        <tr class="line">
                            <td>
                                <input type="hidden" name="part_{{ category.id }}[{{ key }}][id]" value="{{ part.id }}" />

                                <select name="part_{{ category.id }}[{{ key }}][qty]" class="number">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}" {% if part.quantity == i %}selected="selected"{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            {% if category.id != 5 %}
                                <td>
                                    <select name="part_{{ category.id }}[{{ key }}][type]" class="type">
                                        {% for type in category.types %}
                                            <option value="{{ type.id }}" {% if part.type.id == type.id %}selected="selected"{% endif %}>{{ type.label }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            {% endif %}
                            <td><input name="part_{{ category.id }}[{{ key }}][weight]" type="text" class="weight" value="{{ part.weight }}"/></td>
                            <td><input name="part_{{ category.id }}[{{ key }}][info]" type="text" class="info" value="{{ part.informations }}"/></td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% if parts[category.id] is defined %}
                    {% set key_new = parts[category.id]|length %}
                {% else %}
                    {% set key_new = 0 %}
                {% endif %}

                <tr class="tr-clone" {% if key_new == 0 %}style="display:table-row;"{% endif %}>
                    <td>
                        <select name="part_{{ category.id }}[{{ key_new }}][qty]" class="number">
                            {% for i in 1..10 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {% if category.id != 5 %}
                        <td>
                            <select name="part_{{ category.id }}[{{ key_new }}][type]" class="type">
                                {% for type in category.types %}
                                    <option value="{{ type.id }}">{{ type.label }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    {% endif %}
                    <td><input name="part_{{ category.id }}[{{ key_new }}][weight]" type="text" class="weight"/></td>
                    <td><input name="part_{{ category.id }}[{{ key_new }}][info]" type="text" class="info"/></td>
                </tr>
            </table>

            <a href="#" class="add"><img src="/css/skin/famfamfam/add.png" /></a>
        </div>
    </div>

{% endfor %}

<button type="submit" class="btn btn-info add-row">Valider</button>

</form>