<a href="{{ path('flux_project_description', { 'id': project.id }) }}" class="blue">
    <i class="icon-user icon-white"></i> {{ project.name }}
</a>
<a href="{{ path('flux_manufacturing', { 'id': project.id }) }}" {% if section is defined and section == 'manufacturing' %}class="active"{% endif %}>
    <i class="icon-globe icon-white"></i>Fabrication pièces métalliques/plastiques
</a>
<a href="{{ path('flux_electronic', { 'id': project.id }) }}" {% if section is defined and section == 'electronic' %}class="active"{% endif %}>
    <i class="icon-globe icon-white"></i>Fabrication cartes électroniques
</a>
<a href="{{ path('flux_usage', { 'id': project.id }) }}" {% if section is defined and section == 'usage' %}class="active"{% endif %}>
    <i class="icon-globe icon-white"></i>Utilisation
</a>
<a href="{{ path('flux_delivery', { 'id': project.id }) }}" {% if section is defined and section == 'delivery' %}class="active"{% endif %}>
    <i class="icon-globe icon-white"></i>Distribution
</a>
<a href="{{ path('flux_autres_et_exports_donnees', { 'id': project.id }) }}" {% if section is defined and section == 'export' %}class="active"{% endif %}>
    <i class="icon-globe icon-white"></i>Exporter les données
</a>