<option value="">- Choisir -</option>
{% for component in components %}
    <option value="{{ component.id }}" {% if id is defined and id == component.id %}selected="selected"{% endif %}>{{ component.description }}</option>
{% endfor %}