{% extends '::flux_base.html.twig' %}

{% block side %}
    {% include 'ArtoFluxBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
$(function(){ 
    $( ".dialog2" ).dialog({
        autoOpen: false,
        height: 300,
        width: 600,
        modal : true
    });
    
   $('#descriptionuf').live('focusin',function(event){
        $('#help-uf').show();
   });

   $('#descriptionuf').live('focusout',function(event){
        $('#help-uf').hide();
   });
   
   $('.products-table td input').live('focusin',function(event){
        $('#help-listeUF').show();
   });
      
   $('.products-table td input').live('focusout',function(event){
        $('#help-listeUF').hide();
   });
});
</script>
<section class="main">
    <div class="form">
        <form method="post" action="{{ path('flux_project_user_save', { 'id': project.id }) }}" class="users">
            <fieldset class="odd">
                <h3>Nom des personnes répondant a l'étude</h3>
                <table>
                    <tr>
                        <th>Fonction</th>
                        <th>Société</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td><input type="text" name="user_role_{{ user.id }}" value="{{ user.role }}"/></td>
                            <td><input type="text" name="user_company_{{ user.id }}" value="{{ user.company }}"/></td>
                            <td><input type="text" name="user_lastname_{{ user.id }}" value="{{ user.lastname }}"/></td>
                            <td><input type="text" name="user_firstname_{{ user.id }}" value="{{ user.firstname }}"/></td>
                            <td><input type="text" name="user_tel_{{ user.id }}" value="{{ user.tel }}"/></td>
                            <td><input type="text" name="user_email_{{ user.id }}" value="{{ user.email }}"/></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><input type="text" name="user_role" /></td>
                        <td><input type="text" name="user_company" /></td>
                        <td><input type="text" name="user_lastname" /></td>
                        <td><input type="text" name="user_firstname" /></td>
                        <td><input type="text" name="user_tel" /></td>
                        <td><input type="text" name="user_email" /></td>
                    </tr>
                    <tr>
                        <td colspan="6"><input class="btn" type="submit" value="Valider" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>

        <form method="post" action="{{ path('flux_project_description_save', { 'project' : project.id }) }}" enctype="multipart/form-data">
            <fieldset>
                <h3>Ce recueil de données est nécessaire à l'étude de :</h3>
                <div class="row">
                    <label class="lbl">Nom du produit</label>
                    <input id="product_name" type="text" name="product_name" value="{{ product.name }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Référence étudiée</label>
                    {% if product.ref == '' %}
                        <input id="product_reference" type="text" name="product_reference" class="medium" />
                    {% else %}
                        <input id="product_reference" type="text" name="product_reference" value="{{ product.ref }}" class="medium" />
                    {% endif %}
                </div>
                </div>
                {% if project.path is not empty %}
                    <div class="row">
                        <label class="lbl">Image</label>
                        <img src="/uploads/flux/{{ project.path }}" width="400" />
                    </div>
                {% endif %}
                <div class="row">
                    <label class="lbl">Image</label>
                    <input type="file" name="file" />
                </div>
                <div class="row">
                    <label class="lbl">Fonction ou Description de l'Unité fonctionnelle (UF) </label>
                    <textarea id="descriptionuf" name="descriptionuf" class="large" style="width: 400px; height: 310px; float:left;">{{ project.descriptionuf|raw }}</textarea>
                    <div id="help-uf" style="display:none;" title="Aide">
                        L’UF doit être exprimée sous la forme d’une fonction décrivant le service rendu au client. Elle doit comprendre :<br/>
                        <ul>
                        <li style="color:black;">- une unité quantifiant la fonction étudiée</li>
                        <li style="color:black;">- le niveau de performance ou d’exigence atteint par le produit (normes produit, scénario d'utilisation, ...) </li>
                        <li style="color:black;">- le nombre d'années de vie de la fonction produit et peut faire référence aux normes applicables au produit.</li>
                        </ul>
                        <br/>
                        La matérialisation de l’UF est appelée Produit de Référence
                        <br/>
                        Exemples d'UF
                        <br/>
                        <img src='/images/acv/exemplesUF.jpg'/>
                    </div>
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <input class="btn" type="submit" value="Valider" />
                </div>
            </fieldset>
           </form>

           <form method="post" action="{{ path('flux_project_product_save', { 'project': project.id }) }}#product">
            <input type="hidden" name="weight" value="{{ product.weight }}" />
            <fieldset id="product">
                <h3>Liste des produits constituant l'UF</h3>
                <table class="products-table">
                    <tr>
                        <th>Type</th>
                        <th>Référence</th>
                        <th>Désignation<br/><small>yc emballage élémentaire, étiquettes, notice,...</small></th>
                        <th>Quantité</th>
                        <th>Masse unitaire<br/><small>en gramme</small></th>
                        <th>&nbsp; Masse globale<br/><small>en gramme</small></th>
                    </tr>
                    {% for part in product.parts %}
                        <tr>
                            <td>
                                <select name="type_{{ part.id }}">
                                    <option value="">- Choisir -</option>
                                    <option value="produit" {% if part.type == 'produit'%}selected="selected"{% endif %}>Produit</option>
                                    <option value="emballage" {% if part.type == 'emballage'%}selected="selected"{% endif %}>Emballage</option>
                                    <option value="etiquette" {% if part.type == 'etiquette'%}selected="selected"{% endif %}>Etiquette</option>
                                    <option value="notice" {% if part.type == 'notice'%}selected="selected"{% endif %}>Notice</option>
                                    <option value="autre" {% if part.type == 'autre'%}selected="selected"{% endif %}>Autre</option>
                                </select>
                            </td>
                            <td><input type="text" name="ref_{{ part.id }}" value="{{ part.ref }}" style="width: 100px;"/></td>
                            <td><input type="text" name="name_{{ part.id }}" value="{{ part.name }}" style="width: 250px;"/></td>
                            <td align="center"><input type="text" name="quantity_{{ part.id }}" value="{{ part.quantity }}" style="width: 50px;"/></td>
                            <td align="center"><input type="text" name="weight_{{ part.id }}" value="{{ part.weight }}" style="width: 50px;"/></td>
                            <td align="center"><br><span class="total_weight">{{ part.weight * part.quantity }}</span></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" style="font-size: 11px;">Ajouter un produit</td>
                    </tr>
                    <tr style="border-top: 1px solid #ccc;">
                        <td>
                            <select name="type">
                                <option value="">- Choisir -</option>
                                <option value="produit">Produit fini sans emballage</option>
                                <option value="emballage">Emballage</option>
                                <option value="etiquette">Etiquette</option>
                                <option value="notice">Notice</option>
                                <option value="autre">Autre</option>
                            </select>
                        </td>
                        <td><input type="text" name="ref" style="width: 100px;"/></td>
                        <td><input type="text" name="name" style="width: 250px;" /></td>
                        <td><input type="text" name="quantity" style="width: 50px;" /></td>
                        <td align="center"><input type="text" name="weight" style="width: 50px;" /></td>
                        <td align="center"><span></span></td>
                    </tr>
                    <tr>
                        <th colspan="5" style="text-align: right;">Masse totale produit fini (avec emballage)</th>
                        <th>{{ product.weight }}</th>
                    </tr>
                    <tr>
                        <td colspan="5"><input class="btn btn-success" type="submit" value="Ajouter / Valider" /></td>
                    </tr>
                </table>
                <div id="help-listeUF" style="display:none;" title="Aide">
                        <br/>
                        <br/>
                        <br/>
                        Indiquer dans la zone "Liste"
                        <ul>
                            <li style="color:black;">- les références composant le produit choisi pour l’étude</li>
                            <li style="color:black;">- la présence de notice</li>
                            <li style="color:black;">- la présence d’un emballage unitaire de vente</li>
                            <li style="color:black;">- le poids (produit + emballage)</li>
                        </ul>
                        <br/>
                        <strong>Attention part de l’emballage ramené à 1 produit</strong>
                </div>
            </fieldset>
        </form>

           <form method="post" action="{{ path('flux_project_reglementation_save', { 'project' : project.id }) }}#reglementation" enctype="multipart/form-data">
            <fieldset class="odd">
                <table>
                    <tr>
                        <td><h3 id="reglementation">Réglementation</h3></td>
                        <td><label class="lbl2">OUI ?</label></td>  
                    </tr>
                    <tr>
                        <td><label class="lbl2">RoHS: Le produit contient-il des substances RoHS ?</label></td>
                        <td><input type="checkbox" name="rohs" {% if product.rohs %}checked{% endif %} value="1" /></td>       
                    </tr>
                    <tr>
                        <td><div class="help">Les substances interdites (RoHS) : Chrome 6, plomb, mercure , Cadmium, retardateur de flamme Brome (PBB et PBDE)</div></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><label class="lbl2">DEEE: Le produit est-il un DEEE ?</label></td>
                        <td><input type="checkbox" name="deee" {% if product.deee %}checked{% endif %} value="1" /></td>
                    </tr>
                    <tr>
                        <td><div class="help">Directive sur les Déchets des Équipements Electriques et Électroniques </div></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><label class="lbl2">Pile et Accumulateur : Le produit en contient-il ?</label></td>
                        <td><input type="checkbox" name="battery" {% if product.battery %}checked{% endif %} value="1" /></td>
                    </tr>
                    <tr>
                        <td><label class="lbl2">La pile ou l'accumulateur est-il extractible et accessible ?</label></td>
                        <td><input type="checkbox" name="battery_extract" {% if product.batteryExtract %}checked{% endif %} value="1" /></td>
                    </tr>
                    <tr>
                        <td><label class="lbl2">REACH: Le produit contient-il des substances dangereuses de la liste ?</label></td>
                        <td><input type="checkbox" name="reach" {% if product.reach %}checked{% endif %} value="1" /></td>
                    </tr>
                    <tr>
                        <td><div classdiv="help"><a href="http://echa.europa.eu/web/guest/candidate-list-table" target="_blank">&gt; Voir la liste des substances REACH</a></div></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><input class="btn" type="submit" value="Valider" /></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </fieldset>
        </form>

        <form method="post" action="{{ path('flux_project_operation_save', { 'id': project.id }) }}">
            <fieldset>
                <h3>Gestion de projet</h3>
                <table>
                    <tr>
                        <th>date</th>
                        <th>Nature de modifications apportées</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="operation_date" class="date-pick" value="{{ project.piloteDate|date('d/m/Y') }}" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" value="Création" /></td>
                    </tr>
                    {% for ope in operations %}
                        <tr>
                            <td><input type="text" name="operation_date_{{ ope.id }}" value="{{ ope.dateAction|date('d/m/Y') }}" class="date-pick" style="width: 80px;" /></td>
                            <td><input type="text" name="operation_description_{{ ope.id }}" value="{{ ope.description }}"  class="large" /></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" style="font-size: 11px;">Ajouter une modification</td>
                    </tr>
                    <tr style="border-top: 1px solid #ccc;">
                        <td><input type="text" name="operation_date" class="date-pick" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="btn btn-success" type="submit" value="Ajouter / Valider" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>        
    </div>
</section>

{% endblock %}