{% extends '::flux_base.html.twig' %}

{% block side %}
    {% set section = "electronic" %}
    {% include 'ArtoFluxBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<section class="main manufacturing">
    {% set weightElectronicSummed = project.product.weightElectronicSummed %}
    {% set weightElectronic = project.product.weightElectronic %}
    {% set remainingMass = weightElectronic - weightElectronicSummed %}
    {% set status = "" %}    
    {% if weightElectronic > 0 and weightElectronicSummed > 0 %}
        {% set percentMass = (weightElectronicSummed/weightElectronic)*100 %}
    {% else %}
        {% set percentMass = 0 %}
    {% endif %}
        
    {% if percentMass > 105 %}
        {% set status = 'danger' %}
    {% elseif percentMass > 95 %}
        {% set status = 'success' %}
    {% elseif percentMass > 0 %}
        {% set status = 'warning'%}
    {% endif %}
        
    <input type="hidden" value="{{ weightElectronic }}" name="weightElectronic"/>
    <input type="hidden" value="{{ remainingMass }}" name="remainingMass"/>
    
    <form method="post" action="{{ path('flux_electronic_weight_save', { 'project' : project.id }) }}">
        <table>
            <tr>
                <td>
                    Masse totale des cartes électroniques<br/>&nbsp; (circuits imprimés + composants )
                </td>
                <td>
                    <input id="product_electronic_weight" type="text" name="product_electronic_weight" style="width:40px;" {% if weightElectronic != null %}value="{{ weightElectronic }}"{% endif %}/>
                </td>
                <td>
                    <br/>g
                </td>
                <td>
                    <input class="btn" type="submit" value="Valider" />
                </td>
            <tr>    
        <table>       
    </form>
    
    <table class="fabrication-table" id="fabrication-table"> 
        <tr>
            <td align="center" colspan="3"><br/><b>Masse restante</b></td>
            <td colspan="2" style="width:50px;" align="center"><button class="btn btn-{{ status }}">{{ "%g"|format(remainingMass) }}g</button></td>
            <td colspan="2"><br>sur</td>
            <td colspan="2"><button class="btn">{{ "%g"|format(weightElectronic) }}g</button></td>
            <td colspan="2">
                <div class="progress progress-{{ status }} progress-striped" style="width: 180px; margin-top: 4px;">
                     <div class="bar" style="width: {{ percentMass }}%">
                        <div style="padding-top: 5px;">{{ percentMass|number_format }}%</div>
                     </div>
                </div>
            </td>
            <td colspan="3">&nbsp;</td>
        </tr>
    </table>

    {% include "ArtoFluxBundle:Default:_electronic_PCB.html.twig" %}
    
    {# {% include "ArtoFluxBundle:Default:_electronic_others.html.twig" %} #}

    {% include "ArtoFluxBundle:Default:_electronic_composants.html.twig" %}

</section>

{% endblock %}