{% extends '::flux_base.html.twig' %}

{% block side %}
    {% set section = "export" %}
    {% include 'ArtoFluxBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".exportToAcv").live('click', function(event) {
            event.preventDefault();
            var projectId = $(".projectId").val();
            var acvProjectId = $(".acvProject").val();
            if(acvProjectId != 'null'){
                $.post("{{ path('flux_exportToAcv') }}", {projectId: projectId, acvProjectId : acvProjectId}, function(data) {
                });
            }else{
                alert("Vous n'avez sélectionné aucun projet ArtoAcv pour votre export !");
                return false;
            }
        });
    });       
</script>

<section class="main export">
    <h2>Export des données</h2>
    
    <div id="export">
        <form method="post" action="{{ path('flux_exportToAcv', { 'projectId' : project.id }) }}">
            <input type="hidden" value="{{ project.id }}" class="projectId"/>
            <select class="acvProject" name="acvProject">
                <option selected="selected" value="null">- Choisir -</option>
                {% for acvProject in acvProjects %}
                    {% if (exportOK is defined) and (exportOK == 'OK') and (acvProjectId is defined) %}
                        <option {% if acvProject.id == acvProjectId %}selected="selected"{% endif %} value={{ acvProject.id }}>{{ acvProject.name }}</option>
                    {% else %}
                        <option value={{ acvProject.id }}>{{ acvProject.name }}</option>
                    {% endif %}    
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-info add-row" class="submit">Export vers ArtoAcv</button>
        </form>
        {% if exportOK is defined %}
            {% if exportOK == 'OK' and acvProjectName is defined %}
                <label style="font-weight: bold;" class="exportOK">
                    <font color="green">Votre projet a bien été exporté dans le projet {{ acvProjectName }} !</font>
                </label>
            {% endif %}    
        {% endif %}
    </div>
</section>

{% endblock %}