{% extends '::flux_base.html.twig' %}

{% set section = "generalites" %}
{% block body %}

<section class="main transverse">
    <div class="justifiedDiv">
        <h2>Généralités</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; La prise de conscience accrue de l'importance de la protection de l'environnement et des impacts possibles associés aux produits tant fabriqués que consommés a augmenté l'intérêt pour le développement de méthodes destinées à mieux comprendre et à remédier à ces impacts. L'une de ces techniques est l'analyse du cycle de vie (ACV). L'ACV peut participer :
            <ul>
                <li>- à l'identification des possibilités d'amélioration des performances environnementales des produits à différentes étapes de leur cycle de vie</li>
                <li>- à l'information des décideurs de l'industrie et des collectivités locales (par exemple pour la conception ou de re-conception de produit ou de procédé)</li>
                <li>- au choix d'indicateurs de performances environnementales pertinents, y compris les techniques de mesure</li>
                <li>- au marketing (par exemple la mise en œuvre d'un système d'étiquetage écologique, d'une revendication en matière d'environnement ou d'une déclaration environnementale relative à un produit)</li>
            </ul>
        </p>
        
        <h2>Contribution des fournisseurs</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; De la même manière que dans les relations BtoB, il y a la nécessité de répondre aux demandes sur la présence de substances dangereuses dans les produits, il s’agit ici d’une méthode de transmission d’informations sur les données techniques du produit dans la supply chain. Une consultation participative et ouverte des fournisseurs de matériaux, de produits et de sous-ensembles s’avère nécessaire à l’élaboration d'étiquetage écologique, d'une déclaration environnementale relative à un produit fini. C’est à ce titre qu’ArtoFlux est dédié et transmis au(x) fournisseur(s) de façon à recueillir les informations additionnelles relatives aux aspects environnementaux des produits achetés, nécessaires à la réalisation d’une ACV.
        </p>
        
        <h2>Descriptif du fonctionnement d'ArtoFlux</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; <b><u>Etape 1 : </u></b>Le client qui dispose des applications ArtoGreen, va dans l’onglet « Gestion des comptes ArtoFlux » de l’application ArtoACV, renseigne les champs vides dans « Correspondant client », puis ceux du ou des fournisseurs concernés par la demande, en renseignant les champs vides afin de leur donner un mot de passe et un identifiant (dans notre exemple, ID : veolia et password : veolia).
            <br/><br/>
            <img src="/images/flux/step1Tuto.jpg" />
            <br/><br/>
            &nbsp; <b><u>Etape 2 : </u></b>Le client transmet ensuite les identifiants à son ou ses fournisseurs qui se connectent:
            <br/><br/>
            <img src="/images/flux/step2Tuto.jpg" />
            <br/><br/>
            &nbsp; <b><u>Etape 3 : </u></b>Le fournisseur renseigne les données de nomenclature du produit concerné dans les 2 onglets.
            <br/><br/>
            Onglet 1 : « Fabrication pièces métalliques/plastiques »
            <br/><br/>
            <img src="/images/flux/step3-1Tuto.jpg" />
            <br/><br/>
            Onglet 2 : « Fabrication cartes électroniques »
            <br/><br/>
            <img src="/images/flux/step3-2Tuto.jpg" />
            <br/><br/>
            &nbsp; <b><u>Etape 4 : </u></b>Une fois terminé les 2 onglets renseignés, dans l’onglet « Exporter les données », le fournisseur choisit le nom du projet concerné puis exporte les données :
            <br/><br/>
            <img src="/images/flux/step4-1Tuto.jpg" />
            <br/><br/>
            Une fois les données du fournisseur exportées, le client demandeur dispose des données du produit qu’il achète, dans l’application ArtoACV dans laquelle les données sont affichées automatiquement :
            <img src="/images/flux/step4-2Tuto.jpg" />
        </p>
        
        <h2>Tutoriel vidéo</h2>
        <p style="text-align:left"><video controls width="560" height="315"><source src="{{ site }}/videos/Tutoriel Artoflux-1.m4v"/></video></p>
        
        <h2>L'engagement mutuel est important</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; Il peut être demandé par le fournisseur (l’organisation répondant au questionnaire ArtoFlux) vis-à-vis de son client (le demandeur), l’obligation à conserver, de la façon la plus stricte, la discrétion et les confidentialités les plus absolues sur l’ensemble des informations recueillies sur le produit acheté. Cette interdiction demeurera après cessation des relations contractuelles de la présente étude de recueil des données, quelle qu’en soit la cause. En conséquence, les 2 parties s’engagent à ne pas divulguer, à qui que ce soit, tant pendant l’exécution de la présente étude qu’après la cessation des relations contractuelles, pour quelque cause que ce soit, aucun des projets, analyses, réalisations, dossiers, informations techniques, commerciales ou financières, logiciels, fichiers clients et toute information de toute nature dont il aurait eu connaissance. Dans le cas où des informations relèveraient de secrets de fabrication ou d'affaires et sur demande, un accord de confidentialité devra être confirmer par écrit entre les 2 parties.
            <br/>
            &nbsp; De son côté, la personne répondant au présent questionnaire s'engage, pour sa société, à vérifier l'exactitude des données fournies.
        </p>
        
        <h2>Prise en compte du cycle de vie du produit</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; Dans le développement des déclarations environnementales, tous les aspects environnementaux pertinents du produit tout au long de son cycle de vie doivent être pris en compte et faire partie de la déclaration. Les données doivent être générées à l'aide des principes, du cadre, des méthodologies et des pratiques établis par la série de normes ISO 14040 (ACV), 14044 (ACV), 14021 (auto-déclaration de Type II), 14025 (éco-déclarations environnementales de type III)…
            <br/>
            &nbsp; L'ACV traite les aspects environnementaux et les impacts environnementaux potentiels (par exemple l'utilisation des ressources et les conséquences environnementales des émissions) tout au long du cycle de vie d'un produit, de l'acquisition des matières premières à sa production, son utilisation, son traitement en fin de vie, son recyclage et sa mise au rebut (à savoir, du berceau à la tombe).
            <br/>
            &nbsp; Il y a 4 phases dans une étude ACV :
            <ul>
                <li>a) la phase de définition des objectifs et du champ de l'étude</li>
                <li>b) la phase d'inventaire</li>
                <li>c) la phase d'évaluation de l'impact</li>
                <li>d) la phase d'interprétation</li>    
            </ul>
        </p>
        
        <h2>La phase d’inventaire du cycle de vie (ICV)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            L'analyse de l'inventaire comprend :
            <ul>
                <li>- la collecte des données</li>
                <li>- les procédures de calcul</li>
                <li>- l'attribution des flux de matières et d'énergie</li>
                <li>- ...</li>
            </ul>
        </p>
        
        <h2>Types et sources de données de la référence produit sélectionné par le client (demandeur du recueil)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; Les données sélectionnées pour une ACV dépendent des objectifs et du champ de l'étude. Ces données figurent généralement dans la nomenclature du produit ou peuvent être recueillies sur les sites de production associés aux processus élémentaires ou être obtenues ou calculées à partir d'autres sources. 
            Lors de l'exécution du plan de l'inventaire du cycle de vie proposé par ArtoFlux, il convient que les étapes opérationnelles soient suivies.
        </p>
        
        <h2>Rattachement des données au processus élémentaire et à l'unité fonctionnelle</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; Pour chaque processus élémentaire, un flux approprié doit être déterminé. Les données quantitatives d'entrant et de sortant du processus élémentaire doivent être calculées en les rapportant à ce flux de référence. Sur la base du diagramme des flux et sur la base des flux entre les processus élémentaires, les flux de tous les processus élémentaires du système sont rapportés au flux de référence. Il convient que le calcul aboutisse à ce que toutes les données des intrants et des extrants du système soient rapportées à l'unité fonctionnelle.
        </p>
        
        <h2>La collecte des données</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; Les données qualitatives et quantitatives à inclure dans l'inventaire doivent être recueillies pour chaque processus élémentaire inclus dans la frontière du système. Les données recueillies, qu'elles soient mesurées, calculées ou estimées, sont utilisées pour quantifier les intrants et les sortants d'un processus élémentaire. Lorsque les données proviennent de sources laboratoires, la référence du rapport de mesures ou d’essais doit apparaître (exemple Rapport de mesure des puissances dissipées, modes opératoires de calcul documentés,…). Pour ces données qui peuvent être importantes pour les conclusions de l'étude, les détails sur le processus de recueil de données pertinent, l'époque à laquelle les données ont été collectées et d'autres indicateurs de qualité des données doivent être référencés.
            <br>
            &nbsp; Cette étape permet de hiérarchiser les aspects environnementaux liés au produit de référence suivants :
            <ul>
                <li>- Matières premières, des composants et de l’emballage élémentaire du produit de référence: aspect lié aux choix des matériaux, des composants (achetés), des fluides entrant dans la composition du produit (hors emballage), …, des substances dangereuses (RoHS, REACH,…): aspect lié aux substances contenues dans le produit et susceptibles de pénaliser la fin de vie du produit (métaux lourds, retardateurs de flamme, piles et accumulateurs, composants électroniques, cartes électroniques,…)</li>
                <li>- Fabrication : aspect lié à l'ensemble des process nécessaires à l’élaboration du produit et des composants (hors emballage), en interne et en externe (nombre de pièces, opérations «polluantes», …</li>
                <li>- Installation : aspect lié aux procédés, composants et énergie comptabilisés dans la phase d’installation</li>
                <li>- Utilisation : aspect lié à l'ensemble des ressources nécessaires à l’utilisation du produit dans les conditions normales d’usage du produit (produit consommateur d’énergie lors de la durée de vie du produit, source d’énergie, le taux de charge/taux d'activité, le temps d'utilisation, produit nécessitant des consommables, de la maintenance, durée de vie du produit, …). Ces précisions doivent permettre de comptabiliser l’énergie consommée et/ou dissipée  selon la catégorie de produit</li>
                <li>- Transport des matériaux, composants et sous-ensembles depuis leur lieu de fabrication jusque sur leur(s) site(s) d’assemblage chez le producteur quel que soit le mode de transport utilisé : aspect lié à la répartition géographique (régionale, nationale, européenne, mondiale) du nombre de fournisseurs et sous-traitants, aux volumes d'expédition, ...</li>    
            </ul>
        </p>
        
        <h2>Scenarios de transport</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; Les données primaires de transport doivent être prises en compte pour comptabiliser  les transports (kilomètres parcourus, types de transport). En cas de non disponibilité de ces données, les données moyennes pénalisantes doivent être prises en compte pour toutes les phases de la fabrication à l’utilisation :
            <ul>
                <li>- Transport mondial : 19000 km par bateau plus 1000 km par camion</li>
                <li>- Transport intracontinental : 3500 km par camion</li>
                <li>- Transport local : 1000 km par camion</li>
            </ul>
        </p>
    </div>
</section>

{% endblock %}