{% extends '::flux_base.html.twig' %}

{% block side %}
    {% set section = "manufacturing" %}
    {% include 'ArtoFluxBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        //Bouton pour afficher/cacher les tableaux de composants
        $(".category-label select").change(function () {
            var content = $(this).parent().parent().find('.category-content');
            if ($(this).val() == 'yes') {
                content.fadeIn();
            } else {
                content.fadeOut();
            }
        }).change();

        //Bouton plus des parts
        $(".category .add").live('click', function(event) {
            event.preventDefault();

            var content = $(this).parent();
            var table = content.find('.part-table');
            var parts_counter = content.find('.number').length-1;

            if (parts_counter == 0) parts_counter = 1;

            var tr_clone = content.find('.tr-clone');
            var clone = tr_clone.clone(true);

            clone.removeClass('tr-clone');
            clone.show();

            var input = clone.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (parts_counter) + p3;
                }));
            });

            table.append(clone);
        });
        
     });   
        
    //Bouton plus des parts
    function add(src){
        var addValue = src.value;
        var categoryHTMLName =src.name;
        var categoryName = categoryHTMLName.substring(5,categoryHTMLName.length-1);

        var tableauName = 'tableau['+categoryName+']';
        var cloneName = 'clone['+categoryName+']';
        var firstLineName = '1stLine['+categoryName+']';

        var newLine = document.getElementsByName(cloneName)[0].cloneNode(true);
        newLine.setAttribute('name','newLine['+categoryName+']');
        newLine.setAttribute('value','');
        newLine.className='';

        var tableau = document.getElementsByName(tableauName)[0];
        var firstLine = document.getElementsByName(firstLineName)[0];
        var cloneLine = document.getElementsByName(cloneName)[0];
        var table = document.getElementById("fabrication-table");

        tableau.parentNode.insertBefore(newLine, cloneLine);
    }
</script>

<section class="main manufacturing">
    
    {% set weightProject = project.product.weight %}
    {% set remainingMass = weightProject - weightManufacturing %}
    {% set status = "" %}
    {% if weightManufacturing > 0 and weightProject > 0 %}
        {% set percentMass = (weightManufacturing/weightProject)*100 %}
    {% else %}
        {% set percentMass = 0 %}
    {% endif %}
    
    {% if percentMass > 105 %}
        {% set status = 'danger' %}
    {% elseif percentMass > 95 %}
        {% set status = 'success' %}
    {% elseif percentMass > 0 %}
        {% set status = 'warning'%}
    {% endif %}
    
    <input type="hidden" value="{{ weightProject }}" name="weightProject"/>
    <input type="hidden" value="{{ remainingMass }}" name="remainingMass"/>
    <table class="fabrication-table" id="fabrication-table">
        <tr>
            <td align="center" colspan="3"><b>Masse restante</b> <br/> (hors électronique)</td>
            <td colspan="2" style="width:50px;" align="center"><button class="btn btn-{{ status }}">{{ "%g"|format(remainingMass) }}g</button></td>
            <td colspan="2"><br>sur</td>
            <td colspan="2"><button class="btn">{{ "%g"|format(weightProject) }}g</button></td>
            <td colspan="2">
                <div class="progress progress-{{ status }} progress-striped" style="width: 180px; margin-top: 4px;">
                    <div class="bar" style="width: {{ percentMass }}%">
                    <div style="padding-top: 5px;">{{ percentMass|number_format }}%</div>
                    </div>
                </div>
            </td>
            <td colspan="3">&nbsp;</td>
        </tr>
    </table>

    {% include "ArtoFluxBundle:Default:_manufacturing_plastic.html.twig" %}

    {% include "ArtoFluxBundle:Default:_manufacturing_metal.html.twig" %}
</section>

{% endblock %}