{% extends '::flux_base.html.twig' %}

{% set section = "terms" %}
{% block body %}

<section class="main transverse">
    <div class="justifiedDiv">
        <h2>Approche cycle de vie</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Méthodologie de prise en compte de toutes les étapes de la vie d’un produit (fabrication, installation, utilisation et fin de vie) afin de déterminer les conséquences sur  l'environnement
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>ACV (Analyse du Cycle de Vie)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Compilation et évaluation des intrants, des extrants et des impacts environnementaux potentiels d'un système de produits au cours de son cycle de vie.
            <br/>
            [NF EN ISO 14040]
            <br/><br/>
            L’éco-conception doit se fonder sur le concept d'approche du cycle de vie (LCT) qui exige la prise en compte au cours du processus de conception et de développement des aspects environnementaux significatifs d’un produit au cours de toutes les phases de son cycle de vie.
            <br/><br/>
            Les éléments clés de l'approche du cycle de vie sont les suivants :
            <ul>
                <li>a) avoir comme objectif de minimiser l’impact global nocif du produit sur l’environnement</li>
                <li>b) identifier, qualifier et lorsque cela est réalisable, quantifier les aspects environnementaux significatifs du produit</li>
                <li>c) prendre en compte les arbitrages entre les aspects environnementaux et les phases du cycle de vie.</li>
            </ul>        
        </p>
        <p style="font-size: 105%; line-height: 18px;">
            Les actions énumérées ci-dessus doivent être initiées le plus tôt possible au cours du processus de conception et de développement lorsque les opportunités sont les plus nombreuses pour modifier et améliorer le produit concernant ses performances environnementales globales tout au long de son cycle de vie.
        </p>
        
        <h2>Aspect environnemental</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Elément des activités, produits ou services d'un organisme, susceptible d'interactions avec l'environnement.
            <br/>
            [NF EN ISO 14050]
        </p>
        
        <h2>Cycle de vie</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Phases consécutives et liées d’un système de produits, de I’ acquisition des matières premières ou de la génération à partir de ressources naturelles à I’ élimination finale
            <br/>
            [ISO 14040:2006, définition 3.1]
        </p>
        
        <h2>Durée de vie de référence (DVR)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Durée de vie qui peut être attendue pour un produit de construction selon un ensemble particulier  (ensemble de référence) de conditions d'utilisation et qui peut servir de base pour l'estimation de la durée  de vie dans d'autres conditions d'utilisation
            <br/>
            [NF EN ISO 21930:2007] 
            <br/><br/>
            NOTE : La durée de vie de référence est aussi appelée typique. C’est une durée théorique retenue pour les besoins des calculs. Elle ne peut en aucun cas être assimilée à la durée de vie minimale, moyenne ou réelle des produits
        </p>
        
        <h2>Énergie procédé</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Apport d'énergie nécessaire dans un processus élémentaire pour mettre en œuvre le processus ou faire fonctionner l'équipement correspondant, à l'exclusion des entrants énergétiques de production et de livraison de cette énergie
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Étiquette environnementale - déclaration environnementale</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Revendication indiquant les aspects environnementaux d'un produit ou d'un service
            <br/><br/>
            NOTE : Une étiquette ou une déclaration environnementale peut se présenter, entre autres exemples, sous la forme d'une déclaration, d'un symbole ou d'un graphique sur le produit ou son emballage, dans une documentation sur le produit, dans un bulletin technique ou dans une publicité.
            <br/>
            [ISO 14020:2000]
        </p>
        
        <h2>Déclaration environnementale de Type III</h2>
        <p style="font-size: 105%; line-height: 18px;">
           Déclaration environnementale fournissant des données environnementales quantifiées à l'aide de paramètres prédéterminés et, s'il y a lieu, complétés par d'autres informations environnementales
           <br/>
           NOTE 1 : Les paramètres prédéterminés sont fondés sur la série de normes ISO 14040 relative à l'ACV et qui comporte l'ISO 14040 et l'ISO 14044.
           NOTE 2 : Les données environnementales additionnelles peuvent être quantitatives ou qualitatives.
        </p>
        
        <h2>Programme de déclarations environnementales de Type III</h2>
        <p style="font-size: 105%; line-height: 18px;">
           Programme volontaire destiné au développement et à l'utilisation de déclarations environnementales de Type III, fondé sur un ensemble de règles de fonctionnement
        </p>
        
        <h2>Famille environnementale homogène </h2>
        <p style="font-size: 105%; line-height: 18px;">
            Groupe de produits correspondant à la même unité fonctionnelle (fonction d’usage identique, norme produit, technologie identique (type de matériaux et processus de fabrication) dont les impacts environnementaux sont identiques au produit de référence ou extrapolables en appliquant éventuellement une règle de calcul définie.
            <br/><br/>
            Note : L’éco-déclaration peut couvrir des produits autres que celui/ceux constituant le produit de référence. Ces autres produits différents du produit de référence, peuvent être mentionnés dans le l’éco-déclaration ou dans le rapport d’accompagnement, sous réserve qu’ils fassent partie de la même famille environnementale homogène que le produit de référence. Pour relever d’une famille environnementale homogène, le groupe de produits doit respecter les caractéristiques suivantes :
            <ul>
                <li>- Fonctionnalité identique</li>
                <li>- Même norme produit</li>
                <li>- Technologie de fabrication similaire : type de matériaux identiques et processus de fabrication identiques</li>
            </ul>
        </p>
        
        <p style="font-size: 105%; line-height: 18px;">
            Lorsque les données environnementales, bilan matière ou impact environnementaux sont différents de celles du produit de référence, des règles d’extrapolation permettent d’estimer les données qui doivent être utilisées. Les règles d’extrapolation ne doivent être utilisées qu’après que l’étude ACV ait mis en évidence que les impacts environnementaux peuvent être extrapolés grâce à des paramètres influents de produits (masse, énergie consommée) et elles doivent alors être documentées dans le rapport d’accompagnement pour chaque phase du cycle de vie.
        </p>
        
        <h2>Frontières du système</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Ensemble de critères qui spécifient quels processus élémentaires font partie d'un système de produits.
            <br/>
            [NF EN ISO 14040]
            <br/><br/>
            Les phases de cycle de vie suivantes doivent être comptabilisées :
            <ul>
                <li>- la phase de fabrication: de l’extraction des ressources naturelles jusqu’à la fabrication du produit et sa mise à disposition à la dernière plate-forme logistique du producteur.</li>
                <li>- la phase de distribution : de la plate-forme logistique du producteur jusqu’à son  arrivée sur le lieu de mise en œuvre.</li>
                <li>- la phase d’installation qui prend en compte l’installation du produit sur le lieu de mise en œuvre.</li>
                <li>- la phase d’utilisation qui comprend l’utilisation et la maintenance nécessaire à garantir l’aptitude à l’usage.</li>
                <li>- la phase de fin de vie qui prend en compte le transport du produit en fin de vie vers un centre de traitement ou une décharge et le traitement de fin de vie.</li>
            </ul>
        </p>
        
        <h2>Flux de référence</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Mesure des sortants nécessaires des processus, dans un système de produits donné, pour remplir la fonction telle qu'elle est exprimée par l'unité fonctionnelle.
            <br/>
            [NF EN ISO 14041]
        </p>
        
        <h2>Flux de produits</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Produits entrant ou sortant d'un système de produits en direction d'un autre
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Flux élémentaire</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Matière ou énergie entrant dans le système étudié, qui a été puisée dans l'environnement sans transformation humaine préalable, ou matière ou énergie sortant du système étudié, qui est rejetée dans l'environnement sans transformation humaine ultérieure.
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Flux énergétique</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Entrant ou sortant d'un processus élémentaire ou d'un système de produits, exprimé en unités d'énergie
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Impact environnemental</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Toute modification de l'environnement, négative ou bénéfique, résultant totalement ou partiellement des activités, produits ou services d'un organisme.
            <br/>
            [NF EN ISO 14050]
        </p>
        
        <h2>Intrant (Entrant)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Flux de produit, de matière ou d'énergie entrant dans un processus élémentaire.
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Inventaire du cycle de vie (ICV)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Phase de l'analyse du cycle de vie impliquant la compilation et la quantification des intrants et des extrants, pour un système de produits donné au cours de son cycle de  vie.
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Matière première</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Matière première ou secondaire utilisée pour réaliser un produit
            <br/>
            NOTE : Les matières secondaires incluent les matières recyclées.
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>PCR (Product Category Rules)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Ensemble de règles, d'exigences et de lignes directrices spécifiques prévues pour le développement de déclarations environnementales de type III pour une ou plusieurs catégories de produits.
            <br/>
            [NF EN ISO 14025]
        </p>
        
        <h2>Processus élémentaire</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Plus petite partie prise en compte dans l'inventaire du cycle de vie pour laquelle les données d'entrant et de sortant sont quantifiées.
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Qualité des données</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Caractéristiques des données reposant sur leur capacité à répondre aux exigences requises.
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Règles de coupure </h2>
        <p style="font-size: 105%; line-height: 18px;">
            Tous les flux entrant dans le champ de l’étude pouvant être remontés doivent être remontés jusqu’aux flux élémentaires:
            <ul>
                <li>- soit par la collecte de données spécifiques permettant de remonter jusqu’aux flux élémentaires lorsque les données sont disponibles.</li>
                <li>- soit à l’aide de modules d’Inventaire de cycle de vie (modules ICV) génériques dans les autres cas.</li>
            </ul>
        </p>
        
        <p style="font-size: 105%; line-height: 18px;">
            En cas d’indisponibilité des données, la règle de coupure suivante doit s’appliquer : masse des éléments des flux intermédiaires non remontés inférieure ou égale à 5% de la masse des éléments du flux de référence correspondant à l’unité fonctionnelle. La liste des flux intermédiaires non remontés et connus de l’émetteur doit être détaillée dans le rapport d’accompagnement.
            <br/><br/>
            Les flux suivants qui peuvent conventionnellement être exclus de l’étude du fait de la difficulté  de les attribuer à un flux de référence particulier:
            <ul>
                <li>- L’éclairage, le chauffage, les sanitaires et le nettoyage des infrastructures</li>
                <li>- Le transport des employés</li>
                <li>- La fabrication et la maintenance de l’outil de fabrication lorsqu’ils ne sont pas proportionnels au flux de référence</li>
                <li>- La construction et la maintenance de l’infrastructure lorsqu’’ils ne sont pas 466 proportionnels au flux de référence</li>
                <li>- Les systèmes et les infrastructures de transport lorsqu’ils ne sont pas proportionnels 468 au flux de référence</li>
                <li>- Les flux des départements administratifs, de gestion, de R&D </li>
                <li>- Le marketing lié aux produits</li>
                <li>- Les installations de restauration du personnel</li>
            </ul>
        </p>
        
        <h2>Résultat de l'inventaire du cycle de vie - résultat de l'ICV</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Issue d'un inventaire du cycle de vie qui catalogue les flux traversant les frontières du système et fournit le point de départ pour l'évaluation de l'impact du cycle de vie
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Sortant (Extrant)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Flux de produit, de matière ou d'énergie sortant d'un processus élémentaire.
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Transparence</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Présentation ouverte, complète et compréhensible des informations
            <br/>
            [NF EN ISO 14040]
        </p>
        
        <h2>Unité fonctionnelle</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Performance quantifiée d'un système de produits destinée à être utilisée comme unité de référence dans une analyse du cycle de vie.
            <br/>
            [NF EN ISO 14040]
            <br/><br/>
            L’Unité fonctionnelle et description du flux de référence est exprimée sous la forme d’une fonction décrivant le service rendu au client et doit comprendre :
            <ul>
                <li>- une unité quantifiant la fonction étudiée</li>
                <li>- le niveau de performance ou d’exigence atteint par le produit</li>
                <li>- une durée d’étude de la fonction, appelée durée de vie typique (DVT)</li>
            </ul>
        </p>
        
        <p style="font-size: 105%; line-height: 18px;">
            L’unité fonctionnelle peut faire référence aux normes applicables au produit.
            <br/>
            A l’unité fonctionnelle doit correspondre un flux de référence qui comprend :
            <ul>
                <li>- Le produit de référence permettant de réaliser la fonction décrivant le service rendu au client</li>
                <li>- L’emballage du produit de référence</li>
                <li>- Les produits ou éléments nécessaires à l’installation qui sont intégrés au champ de l’étude.</li>
            </ul>
        </p>
        
        <h2>Désignations et abréviations</h2>
        <p style="font-size: 105%; line-height: 18px;">
            D’une manière générale, les unités utilisées doivent être celles du système international notamment :
            <ul>
                <li>- Pour les masses, le gramme (g)</li>
                <li>- Pour l’énergie, le mégajoule (MJ) ou le kilowattheure (kWh ; 1 kWh =3,6 MJ)</li>
            </ul>    
        </p>
    </div>
</section>

{% endblock %}