<tr class="template" style="display: none">
    <td>
        <div class="row">
           
                <select name="part[{{key}}][type]" class="type" style="width:100px">
                    <option value="">- Type -</option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
                <select name="part[{{key}}][family]" class="family" style="width:100px">
                    <option value="">- Famille -</option>
                </select>
            
            <select name="part[{{key}}][base]" class="base" style="width:300px">
                <option value="">- Selectionner -</option>
            </select>
        </div>
    </td>
    <td><input type="text" class="qty" name="part[{{key}}][quantity]" value="" disabled="disabled" style="width: 60px; background-color: #eeeeee;" /></td>
    <td><input type="text" class="param1" name="part[{{key}}][param1Value]" value="" disabled="disabled" style="width: 60px; background-color: #eeeeee;" /></td>
    <td><span class="unit1"></span></td>
    <td><input type="text" class="param2" name="part[{{key}}][param2Value]" value="" disabled="disabled" style="width: 60px; background-color: #eeeeee;" /></td>
    <td><span class="unit2"></span></td>
</tr>