<tr>
   <td >
        <input type="hidden" name="part[{{key}}][id]" value="{{ part.id }}"/>

        <select name="part[{{key}}][type]" class="type" style="width: 100px">
        {% for type in types %}
                <option value="{{ type.id }}" {% if part.base.type.id == type.id %}selected="selected"{% endif %}>{{ type.name }}</option>
        {% endfor %}
        </select>
        <select name="part[{{key}}][family]" class="family" style="width: 100px">
        {% for family in families %}
            <option value="{{ family.id }}" {% if part.base.family.id == family.id %}selected="selected"{% endif %}>{{ family.name }}</option>
        {% endfor %}
        </select>

        <select name="part[{{key}}][base]" class="base" style="width: 300px">
            {% for battery in batteries %}
                <option value="{{ battery.id }}" {% if part.base.id == battery.id %}selected="selected"{% endif %}>{{ battery.name }}</option>
            {% endfor %}
        </select>
    </td>
    <td><input type="text" class="qty" name="part[{{key}}][quantity]" value="{{ part.quantity }}" style="width: 60px" /></td>
    {% if part.base.type == '1' %}
        <td>
            <input type="text" class="param1" name="part[{{key}}][param1Value]" value="{{ part.val }}" style="width: 60px" />
        </td>
        <td>
            <span class="unit1">
                {% if(part.base.unit1 == "cm2") %}
                    cm<sup>2</sup>      
                {% elseif(part.base.unit1 == "dm2") %}
                    dm<sup>2</sup>
                {% elseif(part.base.unit1 == "m2") %}
                    m<sup>2</sup>
                {% elseif(part.base.unit1 == "mm2") %}
                    mm<sup>2</sup> 
                {% elseif(part.base.unit1 == "m3") %}
                    m<sup>3</sup>
                {% elseif(part.base.unit1 == "dm3") %}
                    dm<sup>3</sup>
                {% elseif(part.base.unit1 == "cm3") %}
                    cm<sup>3</sup> 
                {% else %}
                    {{ part.base.unit1 }}
                {% endif %}
            </span>    
        </td>
        <td>
            <input type="text" class="param2" name="part[{{key}}][param2Value]"
            {% if part.base.unit2 is empty %}disabled="disabled" style="background-color: #eeeeee; width: 60px;" value=""
            {% else %}
                {% if base.valParam2ByUN != "" %}disabled="disabled" style="background-color: #eeeeee; width: 60px;" value="{{ "%g"|format(base.valParam2ByUN) }}"
                {% else %}style="width: 60px;"
                {% endif %}
            {% endif %}
            data-toggle="tooltip" title="Unité : {{ part.base.unit2 }} | Donnée : {{ part.base.unitmass }}"/>
        </td>
        <td>
            <span class="unit2">
                {% if(part.base.unit2 == "cm2") %}
                    cm<sup>2</sup>      
                {% elseif(part.base.unit2 == "dm2") %}
                    dm<sup>2</sup>
                {% elseif(part.base.unit2 == "m2") %}
                    m<sup>2</sup>
                {% elseif(part.base.unit2 == "mm2") %}
                    mm<sup>2</sup> 
                {% elseif(part.base.unit2 == "m3") %}
                    m<sup>3</sup>
                {% elseif(part.base.unit2 == "dm3") %}
                    dm<sup>3</sup>
                {% elseif(part.base.unit2 == "cm3") %}
                    cm<sup>3</sup> 
                {% else %}
                    {{ part.base.unit2 }}
                {% endif %}
            </span>
        </td>
    {% else %}
        <td>
            <input type="text" class="param1" name="part[{{key}}][param1Value]" value="{{ part.val }}" style="width: 60px" />
        </td>
        <td>
            <span class="unit1">
                {% if(part.base.unit1 == "cm2") %}
                    cm<sup>2</sup>      
                {% elseif(part.base.unit1 == "dm2") %}
                    dm<sup>2</sup>
                {% elseif(part.base.unit1 == "m2") %}
                    m<sup>2</sup>
                {% elseif(part.base.unit1 == "mm2") %}
                    mm<sup>2</sup> 
                {% elseif(part.base.unit1 == "m3") %}
                    m<sup>3</sup>
                {% elseif(part.base.unit1 == "dm3") %}
                    dm<sup>3</sup>
                {% elseif(part.base.unit1 == "cm3") %}
                    cm<sup>3</sup> 
                {% else %}
                    {{ part.base.unit1 }}
                {% endif %}
            </span>    
        </td>
        <td>
            <input type="text" class="param2" name="part[{{key}}][param2Value]"
            {% if part.base.unit1 == "UN" and part.base.unit2 == "g" %}
                   value="{{ "%g"|format(part.base.multiplicateur) }}"
            {% elseif part.base.unit1 == "UN" and part.base.unit2 == "kg" %}
                   value="{{ "%g"|format(part.base.multiplicateur/1000) }}"
            {% elseif part.base.unit1 == "UN" %}
                   {% if part.base.unit2 != "" %}
                        value="{{ "%g"|format(part.base.valParam2ByUN) }}"
                   {% else %}
                        value=""
                   {% endif %}     
            {% else %}
                   {% if part.base.unit2 != "" %}
                        value="{{ "%g"|format(part.base.valParam2ByUN) }}"
                   {% else %}
                        value=""
                   {% endif %}   
            {% endif %}
            
            disabled="disabled" style="background-color: #eeeeee; width: 60px;" data-toggle="tooltip" title="Unité : {{ part.base.unit2 }} | Donnée : {{ part.base.unitmass }}" />            
        </td>
        <td>
            <span class="unit2">
                {% if(part.base.unit2 == "cm2") %}
                    cm<sup>2</sup>      
                {% elseif(part.base.unit2 == "dm2") %}
                    dm<sup>2</sup>
                {% elseif(part.base.unit2 == "m2") %}
                    m<sup>2</sup>
                {% elseif(part.base.unit2 == "mm2") %}
                    mm<sup>2</sup> 
                {% elseif(part.base.unit2 == "m3") %}
                    m<sup>3</sup>
                {% elseif(part.base.unit2 == "dm3") %}
                    dm<sup>3</sup>
                {% elseif(part.base.unit2 == "cm3") %}
                    cm<sup>3</sup> 
                {% else %}
                    {{ part.base.unit2 }}
                {% endif %}
            </span>
        </td>
    {% endif %}
    <td><a href="{{ path('flux_usage_part_delete', { 'id': part.usage.product.project.id, 'part': part.id }) }}"><img src="/css/skin/famfamfam/delete.png" /></a></td>
</tr>