{% extends '::flux_base.html.twig' %}

{% block side %}
    {% set section = "usage" %}
    {% include 'ArtoFluxBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".energy_type").live('change', function(event) {
            $('#usage-table').hide();
            $('#continuous').hide();
            $('#more').hide();
            $('#energy').hide();

            var val = $(this).val();

            if (val == 1) {
                $('#usage-table').show();
                $('#more').show();
                $('#energy').show();

                {% if usage.energyType is empty %}
                $('input[name="on_kw"]').val('');
                $('input[name="on_percent"]').val('');
                $('input[name="off_kw"]').val('');
                $('input[name="off_percent"]').val('');
                $('input[name="standby_active_kw"]').val('');
                $('input[name="standby_passive_kw"]').val('');
                $('input[name="standby_active_time"]').val('');
                $('input[name="standby_passive_time"]').val('');
                {% endif %}
            }

            if (val == 2) {
                $('#continuous').show();
                $('#more').show();
                $('#energy').show();
            }
        }).change();

        $(".lifetime-select").live('change', function(event) {
            $('.lifetime').hide();
            var val = $(this).val();
            if (val == '?') {
                $('.lifetime').show();
            }
        }).change();

        $(".continuous").live('change', function(event) {

            var val = $(this).val();
            if (val == 1 || val == 2 && $(".energy_type").val() != 3) {
                $('#usage-table').show();
            }

            {% if usage.continuous is empty %}
                if (val == 1) {
                    $('input[name="on_kw"]').val(0);
                    $('input[name="on_percent"]').val(100);
                    $('input[name="off_kw"]').val(0);
                    $('input[name="off_percent"]').val(0);
                    $('input[name="standby_active_kw"]').val(0);
                    $('input[name="standby_passive_kw"]').val(0);
                    $('input[name="standby_active_percent"]').val(0);
                    $('input[name="standby_passive_percent"]').val(0);
                }
                if (val == 2) {
                    $('input[name="on_kw"]').val(0);
                    $('input[name="on_percent"]').val(30);
                    $('input[name="off_kw"]').val(0);
                    $('input[name="off_percent"]').val(70);
                    $('input[name="standby_active_kw"]').val(0);
                    $('input[name="standby_passive_kw"]').val(0);
                    $('input[name="standby_active_percent"]').val(0);
                    $('input[name="standby_passive_percent"]').val(0);
                }
            {% endif %}
        }).change();

        $(".base").live('change', function(event) {
            event.preventDefault();
            var base = $(this);
            var select_line =  base.parent().parent().parent();
            
            var name = base.prop('name');
            var toRemove1 = "part[";
            var toRemove2 = "][base]";
            
            name = name.replace(toRemove1,'');
            name = name.replace(toRemove2,'');
            
            var key = name;
            
            var val = base.val();
            
            select_line.find('.qty').removeAttr("disabled");
            select_line.find('.qty').css({"background-color": "#fff"});
            select_line.find('.param1').removeAttr("disabled");
            select_line.find('.param1').css({"background-color": "#fff"}); 
            
            $.post("{{ path('acv_base_select') }}", { id: val }, function(data) {
                if(data.unit1 == "cm2"){
                    select_line.find('.unit1').html("cm<sup>2</sup>");
                }
                else if(data.unit1 == "dm3"){
                    select_line.find('.unit1').html("dm<sup>3</sup>");
                }
                else if(data.unit1 == "mm2"){
                    select_line.find('.unit1').html("mm<sup>2</sup>");
                }
                else{
                    select_line.find('.unit1').html(data.unit1);
                }

                if(data.unit2 == "cm2"){
                    select_line.find('.unit2').html("cm<sup>2</sup>");
                } else if(data.unit1 == "dm3"){
                    select_line.find('.unit2').html("dm<sup>3</sup>");
                } else if(data.unit1 == "mm2"){
                    select_line.find('.unit2').html("mm<sup>2</sup>");
                } else{
                    select_line.find('.unit2').html(data.unit2);
                } 
                
                select_line.find('.unitmass').html(data.unitmass);
                
                select_line.find('.unit1').show();
                select_line.find('.unit2').show();
                select_line.find('.unitmass').show();
                
                select_line.find('.param2').removeAttr("disabled");
                select_line.find('.param2').css({"background-color": "#fff"});
                select_line.find('.param2').removeAttr("data-original-title");
                
                if(data.type != '1'){              
                    if(data.unit2 == ''){
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        select_line.find('.param2').attr("value", "");
                    }else{
                        select_line.find('.param2').attr("title", "Unité : " + data.unit2 + " | Donnée : " + data.unitmass);
                        select_line.find('.param2').attr("value", "");
                    }

                    if(data.unit1 == 'UN' && data.unit2 == 'g'){
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        select_line.find('.param2').attr("value", data.multiplicateur);      
                    }

                    if(data.unit1 == 'UN' && data.unit2 == 'kg'){
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        select_line.find('.param2').attr("value", data.multiplicateur/1000);                 
                    }

                    if(data.unit1 == 'UN' && (data.unit2 == 'A.h' || data.unit2 == 'dm2' || data.unit2 == 'cm2' || data.unit2 == 'mm2' || data.unit2 == 'cm3' || data.unit2 == "UN")){
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        if(data.valParam2ByUN != ''){
                            select_line.find('.param2').attr("value", data.valParam2ByUN);
                        }  
                    }


                    select_line.find('.param1').attr("title", "Unité : " + data.unit1 + " | Donnée : " + data.unitmass);
                    select_line.find('.param1').removeAttr("data-original-title");
                }else{
                    if(data.unit2 != ''){
                        if(data.valParam2ByUN == ''){
                            select_line.find('.param2').removeAttr("disabled");
                            select_line.find('.param2').css({"background-color": "#fff"});
                            select_line.find('.param2').attr("title", "Unité : " + data.unit2 + " | Donnée : " + data.unitmass);
                        }else{
                            select_line.find('.param2').attr("disabled", "disabled");
                            select_line.find('.param2').css({"background-color": "#eeeeee"});
                            select_line.find('.param2').attr("value", data.valParam2ByUN);
                            select_line.find('.param2').attr("title", "Unité : " + data.unit2 + " | Donnée : " + data.unitmass);
                        }
                    }else{
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        select_line.find('.param2').attr("value", ""); 
                    }
                    select_line.find('.param1').removeAttr("data-original-title");
                    select_line.find('.param1').attr("title", "Unité : " + data.unit1 + " | Donnée : " + data.unitmass);
                    select_line.find('.param2').removeAttr("data-original-title");
                }
                
            }, 'json');
        });

        $(".type").live('change', function(event) {
            event.preventDefault();
            var type = $(this);
            var parent = type.parent().parent();
            var t = type.val();
            parent.find('.family').html('');
            $.post("{{ path('acv_family_list') }}", { type: t }, function(data) {
                var family = parent.find('.family');
                family.html(data);
            });
        });

        $(".family").live('change', function(event) {
            event.preventDefault();
            var family = $(this);
            var parent = family.parent().parent();
            var f = family.val();
            var t = parent.find('.type').val();
            $.post("{{ path('acv_base_list') }}", { family: f, type: t }, function(data) {
                var baselist = parent.find('.base');
                baselist.html(data);
            });
        });
        
        var parts_counter1 = {{ parts1|length }};
        var parts_counter2 = {{ parts2|length }};

        $(".add1").live('click', function(event) {
            event.preventDefault();
            var table = $(this).parent().find('table');
            var part = $(this).parent().find('.template').clone(true);

            var input = part.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (parts_counter1) + p3;
                }));
            });

            parts_counter1++;

            table.find('tr:first').show();
            part.show();
            part.removeClass('template');
            part.appendTo(table);
        });

        $(".add2").live('click', function(event) {
            event.preventDefault();
            var table = $(this).parent().find('table');
            var part = $(this).parent().find('.template').clone(true);

            var input = part.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (parts_counter2) + p3;
                }));
            });

            parts_counter2++;

            table.find('tr:first').show();
            part.show();
            part.removeClass('template');
            part.appendTo(table);
        });
    });
</script>

    <section class="main">
        <div class="form">
            <form id="form1" action="{{ path('flux_usage_save', { 'id' : project.id }) }}" method="post">
                <fieldset>
                    <h3>Utilisation</h3>
                    <div class="row">
                        <label class="lbl">Le produit est-il ?</label>
                        <select name="energy_type" class="energy_type">
                            <option value="">- Choisir - </option>
                            <option value="1" {% if usage.energyType == 1 %}selected{% endif %}>Actif</option>
                            <option value="2" {% if usage.energyType == 2 %}selected{% endif %}>Passif</option>
                            <option value="3" {% if usage.energyType == 3 %}selected{% endif %}>Sans consommation d'énergie</option>
                        </select>
                    </div>

                    <div class="row" id="energy">
                        <label class="lbl">Energie</label>
                        <select name="energy">
                            <option value="">- Choisir - </option>
                            {% for energy in energies %}
                                <option value="{{ energy.id }}" {% if usage.energy is not empty and usage.energy.id == energy.id %}selected{% endif %}>{{ energy.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <label class="lbl">Nombre d'années de vie du produit</label>
                        <select name="lifetime-select" class="lifetime-select">
                            <option value="">- Choisir - </option>
                            <option value="10" {% if usage.lifetime == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if usage.lifetime == 20 %}selected{% endif %}>20</option>
                            <option value="?" {% if (usage.lifetime > 0 and usage.lifetime != 10 and usage.lifetime != 20) %}selected{% endif %}>Autre</option>
                        </select>
                        <input type="text" name="lifetime" class="lifetime" style="display: none; width: 30px;" value="{% if usage.lifetime %}{{ usage.lifetime }}{% endif %}" />
                    </div>


                    <div class="row" id="continuous" style="display:none;">
                        <label class="lbl">Le fonctionnement du produit est-il ?</label>
                        <select name="continuous" class="continuous">
                            <option value="">- Choisir - </option>
                            <option value="1" {% if usage.continuous == 1 %}selected{% endif %}>Permanent</option>
                            <option value="2" {% if usage.continuous == 2 %}selected{% endif %}>Non Permanent</option>
                        </select>
                    </div>


                    <div class="row" id="usage-table" style="display:none;">
                        <label class="lbl">Scénario d'utilisation</label>
                        <table>
                            <tr>
                                <th colspan="3">Puissance consommée</th>
                                <th colspan="3">Temps d'utilisation</th>
                            </tr>
                            <tr>
                                <td>Marche</td>
                                <td><input type="text" name="on_kw" value="{{ usage.onKw }}" style="width:55px;" /></td>
                                <td>W</td>
                                <td width="20"></td>
                                <td><input type="text" name="on_percent" value="{{ usage.onPercent }}" style="width:55px;" /></td>
                                <td>%/1 an</td>
                            </tr>
                            <tr>
                                <td>Veille Actif</td>
                                <td><input type="text" name="standby_active_kw" value="{{ usage.standByActiveKw }}" style="width:55px;" /></td>
                                <td>W</td>
                                <td width="20"></td>
                                <td><input type="text" name="standby_active_percent" value="{{ usage.standByActivePercent }}" style="width:55px;" /></td>
                                <td>%/1 an</td>
                            </tr>
                            <tr>
                                <td>Veille Passif</td>
                                <td><input type="text" name="standby_passive_kw" value="{{ usage.standByPassiveKw }}" style="width:55px;" /></td>
                                <td>W</td>
                                <td width="20"></td>
                                <td><input type="text" name="standby_passive_percent" value="{{ usage.standByPassivePercent }}" style="width:55px;" /></td>
                                <td>%/1 an</td>
                            </tr>
                            <tr>
                                <td>Arrêt</td>
                                <td><input type="text" name="off_kw" value="{{ usage.offKw }}" style="width:55px;" /></td>
                                <td>W</td>
                                <td width="20"></td>
                                <td><input type="text" name="off_percent" value="{{ usage.offPercent }}" style="width:55px;" /></td>
                                <td>%/1 an</td>
                            </tr>
                        </table>
                    </div>


                    <div class="row">
                        <label class="lbl"></label>
                        <input type="submit" class="btn" value="Valider" />
                    </div>
                </fieldset>

            </form>
             
            <div id="more" style="display: none;">
                <form id="form1" action="{{ path('flux_usage_part_save', {'id' : project.id, 'category': 1 }) }}" method="post">
                    <fieldset>
                        <h3>Consommables nécessaires à l’utilisation du Produit de Référence durant la phase d'utilisation</h3>
                        <div class="row">
                            <table>
                                <tr {% if parts1|length == 0 %}style="display: none;"{% endif %}>
                                    <th>Type</th>
                                    <th>Quantité</th>
                                    <th>Param 1</th>
                                    <th>Unité</th>
                                    <th>Param 2</th>
                                    <th>Unité</th>
                                </tr>
                                {% for key,part in parts1 %}
                                    {% render 'ArtoFluxBundle:Usage:part' with { 'id' : part.id, 'category' : 1, 'key': key } %}
                                {% endfor %}
                                {% render 'ArtoFluxBundle:Usage:partNew'  with { 'category' : 1, 'key': parts1|length + 1 } %}
                            </table>
                            <button type="button" class="btn btn-info add1">Ajouter</button>
                            <button type="submit" class="btn btn-success">Valider</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <form id="form1" action="{{ path('flux_usage_part_save', {'id' : project.id, 'category': 2 }) }}" method="post">
                <fieldset>
                    <h3>Installation du produit (mode d’installation impactant pour l’environnement. ex : colles, ciment, consommation d’énergie élevée)</h3>
                    <div class="row">
                        <table>
                            <tr {% if parts2|length == 0 %}style="display: none;"{% endif %}>
                                <th>Type</th>
                                <th>Quantité</th>
                                <th>Valeur</th>
                                <th>Unité</th>
                            </tr>
                            {% for key, part in parts2 %}
                                {% render 'ArtoFluxBundle:Usage:part' with { 'id' : part.id, 'category' : 2, 'key': key } %}
                            {% endfor %}
                            {% render 'ArtoFluxBundle:Usage:partNew'  with { 'category' : 2, 'key': parts2|length + 1 } %}
                        </table>
                        <button type="button" class="btn btn-info add2">Ajouter</button>
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>
                    </div>
                </fieldset>
            </form>    
        </div>
    </section>
{% endblock %}