{% set section = "user" %}

{% extends '::base.html.twig' %}

{% block body %}
    <section class="main white basket">
        <h2>Votre commande a été prise en compte</h2>
        <p style="font-size: 14px;">
            Votre commande a été validée et nous vous en remercions.<br/><br/>
            Merci de nous adresser un chèque d'un montant de {{ order.price * 1.196 }} &euro;<br/>
            A l'order de <strong>"ARTOGREEN"</strong><br/><br/>
            A l'adresse suivante : <br/>
            ArtoGREEN<br/>
            address<br/>
            76000 ROUEN
        </p>
        <p style="font-size: 14px;">
            Nous activerons votre compte à la reception de votre réglement.<br/><br/>
            Le service Client ArtoGREEN.
        </p>
    </section>
{% endblock %}