{% set section = "user" %}

{% extends '::base.html.twig' %}

{% block body %}
    <script>
    $(function(){

        $(".validate").click(function(event) {
            event.preventDefault();

            if ($("#paymentForm input:checked").val() == 'CB') {
                url = "https://paiement.systempay.fr/vads-payment/";
            } else {
                url = "{{ path('green_payment') }}";
            }

            $("#paymentForm").attr('action', url);
            $("#paymentForm").submit();

            return false;
        });
    });
    </script>
    <section class="main white basket">
        <h2>Mon panier</h2>
        {% if order is empty %}
            <h3>Votre panier est vide</h3>
            <p style="margin-top: 50px;">Pour plus de details sur nos produits</p>
            <p><a href="{{ path('green_product_description') }}" class="btn">Cliquez ici</a></p>
        {% else %}
            <div class="well">
                <p>Votre panier à une durée de vie de 30 jours</p>
                <div class="action">
                    <a href="{{ path('green_basket_delete', {'id': order.id }) }}" class="btn btn-large btn-error delete">Vider mon panier</a>
                    <a href="{{ path('green_product_description') }}" class="btn btn-info btn-large">Continuer ma seléction</a>
                </div>
            </div>
            <p>Produits ajoutés au panier ({{ order.lines|length }}) </p>
            <table class="table table-striped">
                <tr>
                    <th>Designation</th>
                    <th>Nombre de postes</th>
                    <th>Prix (&euro; HT)</th>
                    <th></th>
                </tr>
                {% for line in order.lines %}
                    <tr>
                        <td>
                            {% if line.training is empty %}
                                {{ line.product.name }} avec un licence d'une durée de {{ line.duration }} mois
                            {% else %}
                                {% if line.trainingType == 1 %}
                                    {{ line.training.label1 }}
                                {% else %}
                                    {{ line.training.label2 }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if line.training is empty %}
                                {{ line.quantity }}
                            {% endif %}
                        </td>
                        {% if line.product != null and line.price == 0 %}
                            <td style="text-align: center">inlcus</td>
                            <td>&nbsp;</td>
                        {% else %}
                            <td style="text-align: center">{{ line.price }}</td>
                            <td><a href="{{ path('green_basket_remove', {'id': line.id }) }}" title="Supprimer"><i class="icon-remove-sign"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align: right;">Total HT</td>
                        <td style="text-align: center;">{{ order.price }}&nbsp;&euro;&nbsp;HT</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;">TVA</td>
                        <td style="text-align: center;">{{ order.price * 0.196 }}&nbsp;&euro;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;">Total TTC</td>
                        <td style="text-align: center;">{{ order.price * 1.196 }}&nbsp;&euro;&nbsp;TTC</td>
                        <td>&nbsp;</td>
                    </tr>
                </tfoot>
            </table>

            <form method="post" action="#" id="paymentForm">
                {% for key, param in params %}
                    <input type="hidden" name="{{ key }}" value="{{ param }}" />
                {% endfor %}
                <input type="hidden" name="uniq" value="{{ order.uniq }}">
                <div class="well">

                    <div class="payment-method">
                        <h4 style="margin-bottom: 10px;">Choisir un mode de paiement</h4>
                        <div class="floatL">
                            <table>
                                <tr>
                                    <td><label for="payment-radio-cb"><img src="/images/green/payment_cb.png"/></label></td>
                                    <td valign="middle"><input type="radio" name="payment_method" value="CB" id="payment-radio-cb" checked="checked" /></td>
                                    <td valign="middle"><label for="payment-radio-cb" style="margin: 0 10px;">Par Carte bancaire</label></td>
                                </tr>
                            </table>
                        </div>
                        <div class="floatL">
                            <table>
                                <tr>
                                    <td><label for="payment-radio-check"><img src="/images/green/payment_check.png"/></label></td>
                                    <td valign="middle"><input type="radio" name="payment_method" value="CHECK" id="payment-radio-check" /></td>
                                    <td valign="middle"><label for="payment-radio-check" style="margin: 0 10px;">Par Chèque</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="action">
                        <a href="#myModal" class="btn btn-large btn-success" href="#myModal" role="button" data-toggle="modal">Passer ma commande</a>
                    </div>
                </div>

                <!-- Modal -->
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Conditions générales</h3>
                    </div>
                    <div class="modal-body">
                        {% include 'ArtoGreenBundle:User:_cgv.html.twig' %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Refuser</button>
                        <a href="#" class="btn btn-primary validate">Accepter</a>
                    </div>
                </div>
            </form>
        {% endif %}
    </section>
{% endblock %}