{% set section = "user" %}

{% extends '::base.html.twig' %}

{% block body %}
    <section class="main white basket">
        <h2>Réglement annulé</h2>
        <p style="font-size: 14px;">
            Votre commande a été annulée.<br/>
        </p>
    </section>
{% endblock %}