{% set section = "user" %}

{% extends '::base.html.twig' %}

{% block body %}
    <section class="main white basket">
        <h2>Une erreur est survenue</h2>
        <p style="font-size: 14px;">
            Désolé, votre commande n'a pas été validée à cause d'un problème technique.<br/><br/>
            Merci de réésayer ulterieurement<br/>
        </p>
    </section>
{% endblock %}