<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>FACTURE N°{{ invoice.ref }}</title>
        <link rel="stylesheet" type="text/css" href="http://{{ app.request.host }}/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="http://{{ app.request.host }}/css/main.css" />
        <link rel="stylesheet" type="text/css" href="http://{{ app.request.host }}/css/green_main.css" />
        <link rel="stylesheet" type="text/css" href="http://{{ app.request.host }}/css/bootstrap.css" />
    </head>
    <body>
    <div class="invoice">
        <div class="row-fluid">
            <div class="span7">
                <img src="http://{{ app.request.host }}/css/skin/artogreen_logo.png" /><br/>
                ArtoGREEN<br/>
                19 Rue du Manege<br/>
                76130 MONT ST AIGNAN<br/>
                Tel : 06.71.92.31.93<br/>
                Email : contact@artogreen.com<br/>
                SIRET : 75334180900014<br/>
                Code APE : XXX<br/>
                N°TVA intracommunautaire : XXX<br/>
            </div>
            <div class="span5 well" style="text-align: right;">
                <h3 style="font-size: 18px;">Facture N° {{ invoice.ref }}</h3>
                <h4>Le {{ invoice.createdAt|date('d/m/Y') }}</h4>
                Paiement : {{ invoice.payment }}<br/><br/>
                <strong>Contact Facturation</strong><br/>
                {{ invoice.company }}<br/>
                {{ invoice.address }}<br/>
                {{ invoice.postcode }} {{ invoice.city }}<br/>
            </div>
        </div>
        <table class="table" style="margin-top: 60px;">
            <tr>
                <th>Designation</th>
                <th>Nombre de postes</th>
                <th>Prix (&euro; HT)</th>
            </tr>
            {% for line in invoice.lines %}
                <tr>
                    <td>
                        {% if line.training is empty %}
                            {{ line.product.name }} avec un licence d'une durée de {{ line.duration }} mois
                        {% else %}
                            {% if line.trainingType == 1 %}
                                {{ line.training.label1 }}
                            {% else %}
                                {{ line.training.label2 }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if line.training is empty %}
                            {{ line.quantity }}
                        {% endif %}
                    </td>
                    <td style="text-align: center">{{ line.price }}</td>
                </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: right;">Total HT</td>
                    <td style="text-align: center;">{{ invoice.price }} &euro; HT</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">TVA</td>
                    <td style="text-align: center;">{{ invoice.price * 0.196 }} &euro;</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">Total TTC</td>
                    <td style="text-align: center;">{{ invoice.price * 1.196 }} &euro; TTC</td>
                </tr>
            </tfoot>
        </table>
        <p style="font-size: 11px; margin-top: 100px;">
            Tout incident de paiement est passible de pénalités de retard.<br/>
            Le montant des pénalités résulte de l'application d'un intérêt à un taux égal à 12% sans que celui-ci ne puisse être inférieur à une fois et demi le taux de l'intérêt légal en vigueur en France.
        </p>
    </div>
</body>
</html>