{% set section = "user" %}

{% extends '::base.html.twig' %}

{% block body %}
    <section class="main white basket">
        <h2>Choisir votre carte bancaire</h2>
        <form method="POST" action="https://paiement.systempay.fr/vads-payment/">
            {% for $key, $param in params %}
            {% endfor %}
        </form>
        ?>
<html>
<head>
<title>Redirection vers la plateforme de paiement</title>
</head>
<body>
<form method=”POST” action=”https://paiement.systempay.fr/vads-payment/”> <?php
foreach($params as $nom => $valeur)
{
}
?>
echo „<input type=”hidden” name=”‟ . $nom . „ » value= »‟ . $valeur . „” />‟;
<input type=”submit” name=”payer” value=”Payer” /> </form>
</body>
</html>

    </section>
{% endblock %}