{% set section = "user" %}

{% extends '::base.html.twig' %}

{% block body %}
    <section class="main white basket">
        {% if code == 'ACCEPTED' %}
            <h2>Paiement accepté</h2>
            <p style="font-size: 14px;">
                Vous paiement a été validé et nous vous en remercions.<br/>
                Nous allons prendre en compte votre paiement dans quelques minutes.<br/><br/>
                Vous allez recevoir un email de confirmation. Vous pourrez ainsi accéder à vos logiciels ArtoGREEN.<br/><br/>
                Vous remerciant de votre confiance, et restant à votre écoute.<br/><br/>
                Le service Client ArtoGREEN
            </p>
        {% endif %}
        {% if code == 'REFUSED' %}
            <h2>Paiement refusé</h2>
            <p style="font-size: 14px;">
                Vous paiement n'a été pas accepté par notre service bancaire.<br/>
                Merci de rééssayer ulterieurement<br/><br/>
                Le service Client ArtoGREEN
            </p>
        {% endif %}
        {% if code == 'ERROR' %}
            <h2>Une erreur est survenue</h2>
            <p style="font-size: 14px;">
                Désolé, votre commande n'a pas été validée à cause d'un problème technique.<br/><br/>
                Merci de rééssayer ulterieurement<br/><br/>
                Le service Client ArtoGREEN
            </p>
        {% endif %}
    </section>
{% endblock %}