{% set appro = "" %}
{% set descriptionUf = project.descriptionuf|raw %}
{% if project.transportAppro == 1 %}
    {% set appro = "Transport global => Mondial : 19000km (bateau) + 10000 (camion)"%}
{% elseif project.transportAppro == 2 %}
    {% set appro = "Transport global => Intercontinental : 3500 km (camion)"%}
{% elseif project.transportAppro == 3 %}
    {% set appro = "Transport global => Local: 1000km (camion)"%}
{% endif %}
<style type="text/css">
    .page-break {
        overflow: hidden;
        page-break-after: always;
    }
</style>

<img src="{{ urlLogoGraph}}" width="300" height="70" style="float: left;"/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h2 style="margin: 5px 0;">R&eacute;sultats d&rsquo;analyse du cycle de vie</h2>
<br/>
<br/>
<h3>Produit : {{ project.name }}</h3>
<br/>
{% if project.path is not empty %}
<img src="http://www.artogreen.com/uploads/acv/{{ project.path }}" width="400" height="200" />
{% endif %}
<div>
    <h3>Données d'entrée</h3>
    <div>
        <p>
           {% if project.folder != null %} 
                <b>Dossier</b> : {{ project.folder.name }}<br/><br/>
           {% endif %}     
           <b>Projet cr&eacute;&eacute; le </b>: {{ project.createdAt|date('d/m/Y') }}<br/><br/>
           <b>Soci&eacute;t&eacute;</b> : {{ project.greenUser.company }}<br/><br/>
           <b>R&eacute;dacteur</b> : {{ project.pilote }}<br/><br/>
           <b>D&eacute;signation produit</b> : {{ project.projectName }}<br/><br/>
           <b>R&eacute;f&eacute;rence produit</b> : {{ project.ref }}<br/><br/>
           <b>Description de l'UF</b> :  {{ project.descriptionuf|raw }}<br/><br/>
           <b>Masse totale produit emball&eacute</b> : {{ "%g"|format(project.firstProduct.weight) }} g <br/><br/>
           <b>Transport des approvisonnements</b> : {{ appro }}<br/><br/>
           {% if project.transportStock != null %}
                <b>Transport depuis le dernier site de fabrication jusqu’au centre de stockage et de commercialisation du produit fini</b> : {{ project.transportStock.name }} sur {{ project.transportStockKm }} kms<br/><br/>
           {% endif %}     
           <!--<b>Nota</b> : Les donn&eacute;es d&rsquo;entr&eacute;e de cette &eacute;tude ACV telles que la mod&eacute;lisation de la nomenclature et les donn&eacute;es li&eacute;es aux phases Fabrication, Utilisation, Distribution et Fin de vie, sont t&eacute;l&eacute;chargeables au format Excel !-->
        </p>
    </div>
</div>

<div class="page-break"></div>

<div>
    <h3>Bilan du projet</h3>
    <h4 style="font-size: 12px; width: 1000px; text-align: center;">Répartition de la contribution par étape ACV sur les 11 indicateurs et ce, selon l'Unité Fonctionnelle définie</h4>
    <div style="height: 330px;">
        <img src="{{ urlResultGraph }}" width="970" height="320" style="margin-left: 70px;" />
    </div>
    <div id="results">
       <table class="result-table" id="tableAbsolute">
                <tr class="hd1">
                    <th rowspan="3"></th>
                    <th>Epuisement<br/>Ressources</th>
                    <th>Consommation<br/>Energie</th>
                    <th>Consommation<br/>Eau</th>
                    <th>Effet de<br/>Serre</th>
                    <th>Destruction<br/>Ozone</th>
                    <th>Toxicité<br/>Air</th>
                    <th>Ozone<br/>Photochimique</th>
                    <th>Acidification<br/>Air</th>
                    <th>Toxicité<br/>Eau</th>
                    <th>Eutrophisation</th>
                    <th>Déchets<br/>Dangereux</th>
                </tr>
                <tr class="odd hd2">
                    <th>ER</th>
                    <th>NRJ</th>
                    <th>CE</th>
                    <th>GES</th>
                    <th>DO</th>
                    <th>TA</th>
                    <th>OP</th>
                    <th>AA</th>
                    <th>TE</th>
                    <th>E</th>
                    <th>DD</th>
                </tr>
                <tr class="hd3">
                    <th>
                        <label style="font-size: 9px !important; font-family: arial !important; font-weight: normal !important;">
                            nb années<br>prélèvement
                        </label>
                    </th>
                    <th>MJ</th>
                    <th>litres</th>
                    <th>kg CO₂ eq.</th>
                    <th>kg CFC-11 eq.</th>
                    <th>m³</th>
                    <th>kg C₂H₄ eq.</th>
                    <th>kg H+ eq</th>
                    <th>m³</th>
                    <th>kg PO₄ eq.</th>
                    <th>kg</th>
                </tr>
                <tr class="odd first">
                    <td>Matière première</td>
                    {% for val in materials %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}      
                    {% endfor %}
                </tr>
                <tr>
                    <td>Procédé</td>
                    {% for val in processes %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}     
                    {% endfor %}
                </tr>
                <tr class="odd">
                    <td>Fabrication (M+P)</td>
                    {% for val in manufacturings %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}      
                    {% endfor %}
                </tr>
                <tr>
                    <td>Distribution</td>
                    {% for val in deliveries %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}       
                    {% endfor %}
                </tr>
                <tr class="odd">
                    <td>Installation</td>
                    {% for val in installs %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}         
                    {% endfor %}
                </tr>
                <tr>
                    <td>Utilisation</td>
                    {% for val in usages %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}      
                    {% endfor %}
                </tr>
                <tr class="odd last">
                    <td>Fin de vie</td>
                    {% for val in eols %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}     
                    {% endfor %}
                </tr>
                <tr class="last" style="background: #fff">
                    <td><strong>Total</strong></td>
                    {% for total in totals %}
                        <td align="center">{{ "%.1E"|format(total) }}</td>
                    {% endfor %}
                </tr>
            </table>
        
            <br/>

            <table class="result-table" id="tableRelative" style="width:auto;">
                <tr class="hd1">
                    <th rowspan="3"></th>
                    <th style="width:85px;">Epuisement<br/>Ressources</th>
                    <th style="width:79px;">Consommation<br/>Energie</th>
                    <th style="width:80px;">Consommation<br/>Eau</th>
                    <th style="width:80px;">Effet de<br/>Serre</th>
                    <th style="width:85px;">Destruction<br/>Ozone</th>
                    <th style="width:80px;">Toxicité<br/>Air</th>
                    <th style="width:80px;">Ozone<br/>Photochimique</th>
                    <th style="width:80px;">Acidification<br/>Air</th>
                    <th style="width:80px;">Toxicité<br/>Eau</th>
                    <th style="width:80px;">Eutrophisation</th>
                    <th style="width:81px;">Déchets<br/>Dangereux</th>
                    <th class="hd3" style="color: red;"><b>Moyenne impacts</b></th>
                </tr>
                <tr class="odd hd2">
                    <th>ER</th>
                    <th>NRJ</th>
                    <th>CE</th>
                    <th>GES</th>
                    <th>DO</th>
                    <th>TA</th>
                    <th>OP</th>
                    <th>AA</th>
                    <th>TE</th>
                    <th>E</th>
                    <th>DD</th>
                    <th>&nbsp;</th>
                </tr>
                <tr class="hd3">
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th style="color: red; font-size: 11px;">%</th>
                </tr>
                <tr class="odd first">
                    <td>Matière première</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in materials %}
                        {% for key2,total in totals %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% set percent = (val/total)*100 %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>        
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %} 
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}    
                </tr>
                <tr>
                    <td>Procédé</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in processes %}
                        {% for key2,total in totals %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% set percent = (val/total)*100 %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}  
                </tr>
                <tr class="odd">
                    <td>Distribution</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in deliveries %}
                        {% for key2,total in totals %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% set percent = (val/total)*100 %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}      
                </tr>
                <tr>
                    <td>Installation</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in installs %}
                        {% for key2,total in totals %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% set percent = (val/total)*100 %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}
                </tr>
                <tr class="odd">
                    <td>Energie</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in energy %}
                        {% for key2,total in totals %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% set percent = (val/total)*100 %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}            
                </tr>
                <tr>
                    <td>Consommables</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in consommables %}
                        {% for key2,total in totals %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% set percent = (val/total)*100 %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}           
                </tr>    
                <tr class="odd">
                    <td>Fin de vie</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in eols %}
                        {% for key2,total in totals %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% set percent = (val/total)*100 %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}             
                </tr>
                <tr class="last" style="background: #fff">
                    <td><strong>Total</strong></td>
                    {% for total in totals %}
                        {% if total != 0 %}
                            <td align="center">100</td>
                        {% else %}
                            <td align="center">0</td>
                        {% endif %}    
                    {% endfor %}
                    <td align="center" style="color: red;">100</td>        
                </tr>
            </table>
    </div>
</div>

<div class="page-break"></div>

<div class="print-page">
    <h3>Affichage environnemental sur le projet</h3>
    <input type="hidden" class="project-id" value="{{ project.id }}"/>
        <input type="hidden" class="product-id" value="{{ product.id }}"/>
        <div class="floatL" style="margin-right: 20px;">
            <form action="{{ path('acv_project_pva_save', {'project': project.id, 'id': product.id }) }}" method="post">
                <div class="row">
                    <label>Impact du produit sur 1 an et pour une PVA de {{ pva|number_format(0,',',' ') }}</label>
                </div>
            </form>
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
  
        <div class="sticker-pdf floatL" style="margin-right: 90px;">
                    <ul class="info">
                        {% if pva == 1 %}
                            <li>
                                <strong style="color: #99cc00;"><i>{{ co2|number_format(3,',',' ') }}</i><br/>kg CO<sub>2</sub> eq.</strong>
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ co2_euros }}{% else %}{{ co2_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 25€ la tonne de CO<sub>2</sub></em></span>
                            </li>
                            <li>
                                <strong style="color: #018fbd;"><i>{{ water|number_format(3,',',' ') }}</i><br/>m<sup>3</sup></strong>
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ water_euros }}{% else %}{{ water_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 3,40€ le m<sup>3</sup> d'eau</em></span>
                            </li>
                            <li>
                                <strong style="color: #cc0066;"><i>{{ power|number_format(3,',',' ') }}</i><br/>kWh</strong>
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ power_euros }}{% else %}{{ power_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 0,12€ le kWh d'élec. EDF</em></span>
                            </li>
                            <li>
                                <strong style="color: #e1b505;"><i>{{ recycle|number_format(3,',',' ') }}</i><br/>kg</strong>
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ recycle_euros }}{% else %}{{ recycle_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> de 1,4€ / kg de piles</em></span>
                            </li>
                        {% else %}
                            {% if pva < 10000 %}
                                <li>
                                    <strong style="color: #99cc00;"><i>{{ co2|number_format(1,',',' ') }}</i><br/>kg CO<sub>2</sub> eq.</strong>
                                    <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ co2_euros }}{% else %}{{ co2_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 25€ la tonne de CO<sub>2</sub></em></span>
                                </li>
                                <li>
                                    <strong style="color: #018fbd;"><i>{{ water|number_format(1,',',' ') }}</i><br/>m<sup>3</sup></strong>
                                    <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ water_euros }}{% else %}{{ water_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 3,40€ le m<sup>3</sup> d'eau</em></span>
                                </li>
                                <li>
                                    <strong style="color: #cc0066;"><i>{{ power|number_format(1,',',' ') }}</i><br/>kWh</strong>
                                    <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ power_euros }}{% else %}{{ power_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 0,12€ le kWh d'élec. EDF</em></span>
                                </li>
                                <li>
                                    <strong style="color: #e1b505;"><i>{{ recycle|number_format(1,',',' ') }}</i><br/>kg</strong>
                                    <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ recycle_euros }}{% else %}{{ recycle_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> de 1,4€ / kg de piles</em></span>
                                </li>
                            {% else %}
                                <li>
                                    <strong style="color: #99cc00;"><i>{{ (co2/1000)|number_format(1,',',' ') }}</i><br/>t CO<sub>2</sub> eq.</strong>
                                    <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ co2_euros/1000 }}{% else %}{{ (co2_euros/1000)|number_format(0,',',' ') }}{% endif %}&nbsp;k&euro;<br><em>Calculé au coût de<br/> 25€ la tonne de CO<sub>2</sub></em></span>
                                </li>
                                <li>
                                    <strong style="color: #018fbd;"><i>{{ water|number_format(1,',',' ') }}</i><br/>m<sup>3</sup></strong>
                                    <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ water_euros/1000 }}{% else %}{{ (water_euros/1000)|number_format(0,',',' ') }}{% endif %}&nbsp;k&euro;<br><em>Calculé au coût de<br/> 3,40€ le m<sup>3</sup> d'eau</em></span>
                                </li>
                                <li>
                                    <strong style="color: #cc0066;"><i>{{ (power/1000)|number_format(1,',',' ') }}</i><br/>MWh</strong>
                                    <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ power_euros/1000 }}{% else %}{{ (power_euros/1000)|number_format(0,',',' ') }}{% endif %}&nbsp;k&euro;<br><em>Calculé au coût de<br/> 0,12€ le kWh d'élec. EDF</em></span>
                                </li>
                                <li>
                                    <strong style="color: #e1b505;"><i>{{ (recycle/1000)|number_format(1,',',' ') }}</i><br/>tonnes</strong>
                                    <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ recycle_euros/1000 }}{% else %}{{ (recycle_euros/1000)|number_format(0,',',' ') }}{% endif %}&nbsp;k&euro;<br><em>Calculé au coût de<br/> de 1,4€ / kg de piles</em></span>
                                </li>
                            {% endif %}
                        {% endif %}        
                    </ul>
                </div>
            
            {% set totalCost = (co2_euros + water_euros + power_euros + recycle_euros)|number_format(0, ',',' ') %}
            
            <div style="float:left; margin-right: 20px;">
                <label style="font-size: 18px;">
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CETTE PVA, CE PRODUIT GENERE UN
                    <br/><br/>COUT ENVIRONNEMENTAL MINIMUM SUR 1 AN DE
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-size:25px;">{{ totalCost }} €</b>
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOUTE REDUCTION D'IMPACT ENTRAINERA
                    <br/><br/>AUTOMATIQUEMENT DES GAINS SUBSTANTIELS
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D'ECONOMIES POUR L'ENTREPRISE
                </label>
            </div>
        
        <div class="floatL">
            <b>Cette représentation des impacts sur l'environnement du produit est une "auto-déclaration environnementale" respectant les principes de la norme ISO 14021(étiquetage de type II)</b>
        </div>

        <div class="clear"></div>
</div>

<div class="page-break"></div>

<div class="print-page">
     <h3>Optimisation masses matières et composants</h3>
     <img id="graph" src="{{ urlSimulationGraph }}" width="300" />
     <img src="{{ urlSimulationIndicateursPic }}"/>
     <br/>
        <label>
            Légende :
            un indicateur à 100%
            sur le radar (en périphérie),
            signifie un impact négatif
        </label>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="simulator">
            <div class="well simulator-table">
                <table class="table" style="width:100%;">
                    <colgroup>
                        <col>
                        <col>
                        <col span="2" style="background: #daeb99;">
                        <col style="background: #bce02e;">
                        <col span="2" style="background: #e3af98;">
                        <col style="background: #df632d;">
                        <col span="2" style="background: #ebe696;">
                        <col style="background: #dfd52d;">
                        <col span="2" style="background: #93c7eb;">
                        <col style="background: #2c95de;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th colspan="3" style="color: #bce02e;">{{ project.name }}</th>
                            <th colspan="3" style="color: #df632d;">Simulation 1</th>
                            <th colspan="3" style="color: #dfd52d;">Simulation 2</th>
                            <th colspan="3" style="color: #2c95de;">Simulation 3</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th style="color: #bce02e; width: 80px;">% en masse</th>
                            <th style="color: #bce02e; width: 80px;">masse en g</th>
                            <th style="color: #bce02e; width: 80px;">% impacts</th>
                            <th style="color: #df632d; width: 70px;">variation masse</th>
                            <th style="color: #df632d; width: 80px;">% en masse</th>
                            <th style="color: #df632d; width: 80px;">% impacts</th>
                            <th style="color: #dfd52d; width: 70px;">variation masse</th>
                            <th style="color: #dfd52d; width: 80px;">% en masse</th>
                            <th style="color: #dfd52d; width: 80px;">% impacts</th>
                            <th style="color: #2c95de; width: 70px;">variation masse</th>
                            <th style="color: #2c95de; width: 80px;">% en masse</th>
                            <th style="color: #2c95de; width: 80px;">% impacts</th>
                        </tr>
                    </thead>    
                    <tbody>
                    {% for part in parts %}
                        <tr>
                            <td>
                                <a href="#" class="eraseMateriau"><i class="icon-eye-open"></i></a>
                                <a href="#" class="cancelEraseMateriau" style="display: none;"><i class="icon-eye-close"></i></a>
                            </td>
                            <td width="150">
                                <input type="hidden" name="material" value="{{ part['material'].id }}" class="material"/>
                                <span>{{ part['material'].name }}</span>
                            </td>

                            <td align="center"><span class="percent">{{ part['percent'] }}</span></td>
                            <td align="center"><span class="weight">{{ part['weight'] }}</span></td>
                            <td class="impact-col">
                                <span class="impact">
                                    {{ part['impact'] }}
                                </span>
                            </td>

                            <td>
                                {% set p = null %}
                                {% if part['simulation'] != null and part['simulation'].percentage1 != null %}
                                    {% set p = part['simulation'].percentage1 %}
                                {% endif %}

                                <select class="percentage" name="percentage1" style="height:25px; width:80px;">
                                    {% for percentage2 in percentages2 %}
                                        {% set percentage2Value = percentage2['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentage2Value }}" {% if p != null and p == percentage2Value %}selected="selected"{% endif %}>{{ percentage2['label'] }}%</option>
                                    {% endfor %}
                                    <option value="1" {% if p == 1 or  p == null %}selected="selected"{% endif %}></option>
                                    {% for percentage in percentages %}
                                        {% set percentageValue = percentage['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentageValue }}" {% if p != null and p == percentageValue %}selected="selected"{% endif %}>{{ percentage['label'] }}%</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td align="center">
                                <span class="percent">
                                    {% if p != null %}
                                        {{ (part['percent'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['percent'] }}
                                    {% endif %}
                                </span>
                            </td>
                            <td class="impact-col">
                                <span class="impact">
                                    {% if p != null %}
                                        {{ (part['impact'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['impact'] }}
                                    {% endif %}
                                </span>
                            </td>

                            <td>
                                {% set p = null %}
                                {% if part['simulation'] != null and part['simulation'].percentage2 != null %}
                                    {% set p = part['simulation'].percentage2 %}
                                    <input type="hidden" name="id" value="{{ part['simulation'].id }}" class="id"/>
                                {% endif %}

                                <select class="percentage" name="percentage2" style="height:25px; width:80px;">
                                    {% for percentage2 in percentages2 %}
                                        {% set percentage2Value = percentage2['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentage2Value }}" {% if p != null and p == percentage2Value %}selected="selected"{% endif %}>{{ percentage2['label'] }}%</option>
                                    {% endfor %}
                                    <option value="1" {% if p == 1 or  p == null %}selected="selected"{% endif %}></option>
                                    {% for percentage in percentages %}
                                        {% set percentageValue = percentage['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentageValue }}" {% if p != null and p == percentageValue %}selected="selected"{% endif %}>{{ percentage['label'] }}%</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td align="center">
                                <span class="percent">
                                    {% if p != null %}
                                        {{ (part['percent'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['percent'] }}
                                    {% endif %}
                                </span>
                            </td>
                            <td class="impact-col">
                                <span class="impact">
                                    {% if p != null %}
                                        {{ (part['impact'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['impact'] }}
                                    {% endif %}
                                </span>
                            </td>

                            <td>
                                {% set p = null %}
                                {% if part['simulation'] != null and part['simulation'].percentage3 != null %}
                                    {% set p = part['simulation'].percentage3 %}
                                    <input type="hidden" name="id" value="{{ part['simulation'].id }}" class="id"/>
                                {% endif %}

                                <select class="percentage" name="percentage3" style="height:25px; width:80px;">
                                    {% for percentage2 in percentages2 %}
                                        {% set percentage2Value = percentage2['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentage2Value }}" {% if p != null and p == percentage2Value %}selected="selected"{% endif %}>{{ percentage2['label'] }}%</option>
                                    {% endfor %}
                                    <option value="1" {% if p == 1 or  p == null %}selected="selected"{% endif %}></option>
                                    {% for percentage in percentages %}
                                        {% set percentageValue = percentage['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentageValue }}" {% if p != null and p == percentageValue %}selected="selected"{% endif %}>{{ percentage['label'] }}%</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td align="center">
                                <span class="percent">
                                    {% if p != null %}
                                        {{ (part['percent'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['percent'] }}
                                    {% endif %}
                                </span>
                            </td>
                            <td class="impact-col">
                                <span class="impact">
                                    {% if p != null %}
                                        {{ (part['impact'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['impact'] }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>     
                </table>
                <div id="bottom_anchor"></div>       
            </div>
        </div>
</div>

{% if comparedProject != null %}
<div class="page-break"></div>

<div>
    <h3>Comparaison</h3>
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('acv_project_description', { 'id' : project.id }) }}"><i class="icon-folder-close"></i> {{ project.name }} (réf. 100%)</a>
            </li>
            <li>
                <a href="{{ path('acv_project_description', { 'id' : comparedProject.id }) }}"><i class="icon-folder-close-alt"></i> {{ comparedProject.name }}</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="graph">
            <img src="{{ urlComparisonGraph }}" width="750" height="250" style="float:left;" />
            <label style="float:left; width: 245px;">
                Légende :
                <br/>un indicateur à 100%
                <br/>sur le radar (en périphérie),
                <br/>signifie un impact négatif
            </label>
            <img src="{{ urlSimulationIndicateursPic }}"/>
        </div>
        <div>
            {% render "ArtoAcvBundle:Result:comparisonTable" with { 'project' : project.id ,'comparedProject' : comparedProject.id } %}
        </div>
    </div>
</div>
{% endif %}

<div class="page-break"></div>

<div>
    <h3>Fin de vie</h3>
    <label>
        <span style="font-size: 13px; font-weight: bold;">Potentiel de recyclabilité du produit fini : </span><span style="font-size: 18px; background-color: greenyellow; color:black; font-weight: bold;"><b>{{ product.tauxRecyclabilité}} %</b></span>
    </label>
    <label>
        <span style="font-size: 11px;">
            dans les filières européennes de traitement de fin de vie
            <br/>(nota : le taux affiché ne comprend pas les consommables)
        </span>
     </label>
</div>

<div class="clear"></div>
