{% for child in part.childs %}
    <tr class="part {% if loop.index == 1 %}parent{% else %}child{% endif %}">

        <input type="hidden" name="parent_id" value="{% if child.parent is not empty %}{{ child.parent.id }}{% else %}{{ child.id }}{% endif %}" />
        <input type="hidden" name="id" value="{{ child.id }}" />

        <!-- part details -->
        {% if loop.index == 1 %}
            <td>
                <input type="text" name="name" style="width: 150px;" value="{{ part.name }}" />
            </td>
            <td>
                <input type="text" name="quantity" style="width: 30px;" value="{{ part.quantity }}" />
            </td>
        {% endif %}

        {% if child.material is not empty %}

            {% if loop.index > 1 %}
                <td colspan="2"></td>
            {% endif %}

            <!-- material details -->
            <td>
                <input type="text" name="material" class="material-input hidden" value="{{ child.material.id }}" />
                <div class="add add-material"><i class="icon-plus-sign"></i></div>
                <div class="material" data-toggle="tooltip" title="{{ child.material.type.name}}/{{ child.material.family.name}}">
                    {% set type = child.material.type|slice(0, 1) %}
                    <strong class="{{ type }}">{{ type|upper }}</strong>
                    <a href="#" class="select-base">{{ child.material.name }}</a>
                </div>
            </td>

            <!-- param 1 -->
            <td>
                <input type="text" name="param1" {% if child.param1 == 0 %}style="font-weight : bold; color: red;"{% endif %} class="weight" value="{{ "%g"|format(child.param1) }}"/>
            </td>
            <td>
                <span class="base-unit1 unit">
                    {% if child.material is not empty %}
                        {% if(child.material.unit1 == "cm2") %}
                            cm<sup>2</sup>      
                        {% elseif(child.material.unit1 == "dm2") %}
                            dm<sup>2</sup>
                        {% elseif(child.material.unit1 == "m2") %}
                            m<sup>2</sup>
                        {% elseif(child.material.unit1 == "mm2") %}
                            mm<sup>2</sup> 
                        {% elseif(child.material.unit1 == "m3") %}
                            m<sup>3</sup>  
                        {% elseif(child.material.unit1 == "dm3") %}
                            dm<sup>3</sup>
                        {% elseif(child.material.unit1 == "cm3") %}
                            cm<sup>3</sup> 
                        {% else %}
                            {{ child.material.unit1 }}
                        {% endif %}
                    {% endif %}    
                </span>
            </td>

            <!-- param 2 -->
            <td>
                <input type="text" name="param2" class="weight" 
                {% if child.material.unit1 == "UN" and child.material.unit2 == "g" %}
                       value="{{ "%g"|format(child.material.multiplicateur) }}"
                {% elseif child.material.unit1 == "UN" and child.material.unit2 == "kg" %}
                       value="{{ "%g"|format(child.material.multiplicateur/1000) }}"
                {% elseif child.material.unit1 == "UN" %}
                       {% if child.material.unit2 != "" %}
                            value="{{ "%g"|format(child.material.valParam2ByUN) }}"
                       {% else %}
                            value=""
                       {% endif %}     
                {% else %}
                        {% if child.material.unit2 != "" %}
                           value="{{ "%g"|format(child.material.valParam2ByUN) }}"
                        {% else %}
                           value=""
                        {% endif %}   
                {% endif %}
                
                disabled="disabled" data-toggle="tooltip" title="Unité : {{ child.material.unit2 }} | Donnée : {{ child.material.unitmass }}" />
            </td>
            <td>
                <span class="base-unit2 unit">
                    {% if child.material is not empty %}
                        {% if(child.material.unit2 == "cm2") %}
                            cm<sup>2</sup>      
                        {% elseif(child.material.unit2 == "dm2") %}
                            dm<sup>2</sup>
                        {% elseif(child.material.unit2 == "m2") %}
                            m<sup>2</sup>
                        {% elseif(child.material.unit2 == "mm2") %}
                            mm<sup>2</sup> 
                        {% elseif(child.material.unit2 == "m3") %}
                            m<sup>3</sup>
                        {% elseif(child.material.unit2 == "dm3") %}
                            dm<sup>3</sup>
                        {% elseif(child.material.unit2 == "cm3") %}
                            cm<sup>3</sup> 
                        {% else %}
                            {{ child.material.unit2 }}
                        {% endif %}
                    {% endif %}    
                </span>
            </td>

            <!-- process details -->
            <td>
                {% if child.process is not empty %}
                    <input type="text" name="process" class="process-input hidden" value="{{ child.process.id }}" />
                    <div class="add add-process"><i class="icon-plus-sign"></i></div>
                    <div class="process" data-toggle="tooltip" title="{{ child.process.type.name}}/{{ child.process.family.name}}">
                        {% set type = child.process.type|slice(0, 1) %}
                        <strong class="{{ type }}">{{ type|upper }}</strong>
                        <a href="#" class="select-process">{{ child.process.name }}</a>
                    </div>
                {% else %}
                    <input type="hidden" name="process" class="process-input" />
                    <div class="add add-process"><i class="icon-plus-sign"></i></div>
                    <div class="process">
                        <button type="button" class="btn select-process" id="">Choisir un procédé</button>
                    </div>
                {% endif %}
            </td>
            <!-- param 3 -->
            <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}>
                <input type="text" name="param3" class="weight" {% if child.process is empty %}value=""{% else %}value="{{ "%g"|format(child.param3) }}"{% endif %} />
            </td>
            <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}>
                <span class="process-unit1 unit">
                    {% if child.process is not empty %}
                        {% if(child.process.unit1 == "cm2") %}
                            cm<sup>2</sup>      
                        {% elseif(child.process.unit1 == "dm2") %}
                            dm<sup>2</sup>
                        {% elseif(child.process.unit1 == "m2") %}
                            m<sup>2</sup>
                        {% elseif(child.process.unit1 == "mm2") %}
                            mm<sup>2</sup> 
                        {% elseif(child.process.unit1 == "m3") %}
                            m<sup>3</sup>
                        {% elseif(child.process.unit1 == "dm3") %}
                            dm<sup>3</sup>
                        {% elseif(child.process.unit1 == "cm3") %}
                            cm<sup>3</sup> 
                        {% else %}
                            {{ child.process.unit1 }}
                        {% endif %}
                    {% endif %}
                </span>
            </td>
            <!-- param 4 -->
            <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}>
                <input type="text" name="param4" class="weight" 
                {% if child.process is not empty %}
                    {% if child.process.unit2 is empty %}
                       disabled="disabled" value=""
                    {% else %}
                        {% if child.process.valParam2ByUN != "" %}
                            disabled="disabled" value="{{ "%g"|format(child.process.valParam2ByUN) }}"
                        {% else %}
                            value="{{ "%g"|format(child.param4) }}"
                        {% endif %}
                    {% endif %}
                    data-toggle="tooltip" title="Unité : {{ child.process.unit2 }} | Donnée : {{ child.process.unitmass }}"
                {% endif %}
                />
            </td>
            <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}>
                <span class="process-unit2 unit">
                    {% if child.process is not empty %}
                        {% if(child.process.unit2 == "cm2") %}
                            cm<sup>2</sup>      
                        {% elseif(child.process.unit2 == "dm2") %}
                            dm<sup>2</sup>
                        {% elseif(child.process.unit2 == "m2") %}
                            m<sup>2</sup>
                        {% elseif(child.process.unit2 == "mm2") %}
                            mm<sup>2</sup> 
                        {% elseif(child.process.unit2 == "m3") %}
                            m<sup>3</sup>
                        {% elseif(child.process.unit2 == "dm3") %}
                            dm<sup>3</sup>
                        {% elseif(child.process.unit2 == "cm3") %}
                            cm<sup>3</sup>
                        {% elseif(child.process.unit2 == "kg/m2") %}
                            kg/m<sup>2</sup>
                        {% else %}
                            {{ child.process.unit2 }}
                        {% endif %}
                    {% endif %}    
                </span>
            </td>

            <!-- transport details -->
            {% if project.transportAppro < 1 %}
                <td>
                    <select name="transport" class="transport">
                        <option value="">- Selectionner -</option>
                        {% for transport in transports %}
                            <option value="{{ transport.id }}" {% if child.transport is not empty and child.transport.id == transport.id %}selected="selected"{% endif %}>{{ transport.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="text" name="distance" style="width: 40px;" value="{{ "%g"|format(child.distance) }}" /></td>
                <td>
                    <span class="transport-unit unit">
                        {% if child.transport is not empty %}
                            {{ child.transport.unit1 }}
                        {% endif %}
                    </span>
                </td>
            {% endif %}

        {% elseif child.process is not empty %}

            <td colspan="7"></td>

            <!-- process details -->
            <td>
                <input type="text" name="process" class="process-input hidden" value="{{ child.process.id }}" />
                <div class="add add-process"><i class="icon-plus-sign"></i></div>
                <div class="process" data-toggle="tooltip" title="{{ child.process.type.name}}/{{ child.process.family.name}}">
                    {% set type = child.process.type|slice(0, 1) %}
                    <strong class="{{ type }}">{{ type|upper }}</strong>
                    <a href="#" class="select-process">{{ child.process.name }}</a>
                </div>
            </td>
            <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}>
                <input type="text" name="param3" class="weight" value="{{ "%g"|format(child.param3) }}" />
            </td>
            <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}>
                <span class="process-unit1 unit">
                    {% if(child.process.unit1 == "cm2") %}
                        cm<sup>2</sup>      
                    {% elseif(child.process.unit1 == "dm2") %}
                        dm<sup>2</sup>
                    {% elseif(child.process.unit1 == "m2") %}
                        m<sup>2</sup>
                    {% elseif(child.process.unit1 == "mm2") %}
                        mm<sup>2</sup> 
                    {% elseif(child.process.unit1 == "m3") %}
                        m<sup>3</sup>
                    {% elseif(child.process.unit1 == "dm3") %}
                        dm<sup>3</sup>
                    {% elseif(child.process.unit1 == "cm3") %}
                        cm<sup>3</sup> 
                    {% else %}
                        {{ child.process.unit1 }}
                    {% endif %}
                </span>
            </td>
            <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}>
                <input type="text" name="param4" class="weight" 
                {% if child.process is not empty %}
                    {% if child.process.unit2 is empty %}
                       disabled="disabled" value=""
                    {% else %}
                        {% if child.process.valParam2ByUN != "" %}
                            disabled="disabled" value="{{ "%g"|format(child.process.valParam2ByUN) }}"
                        {% else %}
                            value="{{ "%g"|format(child.param4) }}"
                        {% endif %}
                    {% endif %}
                    data-toggle="tooltip" title="Unité : {{ child.process.unit2 }} | Donnée : {{ child.process.unitmass }}"
                {% endif %}
                />
            </td>
            <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}>
                <span class="process-unit2 unit">
                    {% if child.process is not empty %}
                        {% if(child.process.unit2 == "cm2") %}
                            cm<sup>2</sup>      
                        {% elseif(child.process.unit2 == "dm2") %}
                            dm<sup>2</sup>
                        {% elseif(child.process.unit2 == "m2") %}
                            m<sup>2</sup>
                        {% elseif(child.process.unit2 == "mm2") %}
                            mm<sup>2</sup> 
                        {% elseif(child.process.unit2 == "m3") %}
                            m<sup>3</sup>
                        {% elseif(child.process.unit2 == "dm3") %}
                            dm<sup>3</sup>
                        {% elseif(child.process.unit2 == "cm3") %}
                            cm<sup>3</sup> 
                        {% else %}
                            {{ child.process.unit2 }}
                        {% endif %}
                    {% endif %}    
                </span>
            </td>

            <!-- transport details -->
            {% if project.transportAppro < 1 %}
                <td colspan="3"></td>
            {% endif %}

        {% endif %}
        <!-- actions -->
        {% if loop.index == 1 %}
            <td><a href="{{ path('acv_part_delete', { 'id' : part.id }) }}" class="delete parent"><i class="icon-remove-sign"></i></td>
        {% else %}
            <td><a href="{{ path('acv_part_delete', { 'id' : child.id }) }}" class="delete"><i class="icon-remove-sign"></i></td>
        {% endif %}
    </tr>
{% endfor %}