<div class="add">Ajouter</div>
<select name="family" class="medium">
    <option value="">Selectionner une famille</option>
    {% for f in families %}
        <option value="{{ f.id }}">{{ f.name }}</option>
    {% endfor %}
</select>