<h2>{{ user.company }} et l'Environnement</h2>
<div class="col1">
    <h3>{{ project.name }}<br/>Quantité : {{ project.pva }}</h3>
    <div class="sticker">
        <ul class="info">
            <li>
                <strong style="color: #99cc00;"><i>{{ co2 }}</i><br/>kg CO₂ eq.</strong>
                <span>Equivalent à<br/>{{ co2_euros }}&nbsp;&euro;<br><em>Calculé au coût de<br/> 25€ la tonne de CO2</em></span>

            </li>
            <li>
                <strong style="color: #018fbd;"><i>{{ water }}</i><br/>m3</strong>
                <span>Equivalent à<br/>{{ water_euros }}&nbsp;&euro;<br><em>Calculé au coût de<br/> 3,40€ le m3 d'eau</em></span>
            </li>
            <li>
                <strong style="color: #cc0066;"><i>{{ power }}</i><br/>kWh</strong>
                <span>Equivalent à<br/>{{ power_euros }}&nbsp;&euro;<br><em>Calculé au coût de<br/> 0,12€ le kWh d'élec. EDF</em></span>
            </li>
            <li>
                <strong style="color: #e1b505;"><i>{{ recycle }}</i><br/>kg</strong>
                <span>Equivalent à<br/>{{ recycle_euros }}&nbsp;&euro;<br><em>Calculé au coût de<br/> de 1,4€ / kg de piles</em></span>
            </li>
        </ul>
    </div>
</div>
<div class="col2">
    <div class="box box1">
        Tous les produits ont des impacts sur l’environnement.<br/><br/>
        Ils ont besoin de matières premières et d’énergie pour être fabriqués. Ils consomment de l’eau et de l’électricité. Des rejets dans l’eau et dans l’air peuvent être générés.<br/><br/>
        Les produits doivent également être emballés, transportés et deviendront un jour des déchets.
    </div>
    <div class="box box2">
        <h4>Respect de l’environnement</h4>
        <p>Sensible à l’environnement, {{ user.company }} veille à surveiller voire réduire ses impacts environnementaux significatifs tant dans les produits qu’il pose que dans ses prestations de services.</p>
        <h4>Respect de la transparence</h4>
        <p>{{ user.company }} vise à respecter pour tous ses clients des principes de transparence afin d’établir et maintenir des relations de confiance durables.</p>
    </div>
</div>
<div class="clear"></div>
<div>
    <h4 style="font-size: 20px;">Potentiel de recyclabilité du produit fini : {{ product.tauxRecyclabilité}} %</h4>
</div>
<div class="box box3">
    <h4>Comment le savoir ?</h4>
    <p>Grâce à l’affichage environnemental! Ce dispositif sera mis en place prochainement pour tous les produits. {{ user.company }} a également pour objectif d’encourager une consommation responsable auprès de ses clients</p>
</div>
<div class="clear"></div>
<div class="box box-foot">
    {{ user.company }} permet ainsi de promouvoir une consommation responsable et de contribuer à la préservation de l’Environnement.
</div>
<div class="clear"></div>
<div class="foot">
    <p>Pour toutes informations détaillées : www.artogreen.com</p>
    <img class="logo" src="http://{{ app.request.host }}/css/skin/artogreen_logo.png" width="350">
    <div class="clear"></div>
</div>