<a href="{{ path('acv_instructions', { 'project' : project.id }) }}" {% if section is defined and section == 'instructions' %}class="active"{% endif %}>
    Instructions
</a>

<a href="{{ path('acv_project_description', { 'id': project.id }) }}" class="blue"><i class="icon-user icon-white"></i> {{ project.name }}</a>

<a href="{{ path('acv_parts', { 'project': project.id, 'id' : product.id }) }}" {% if section is defined and section == 'part' %}class="active"{% endif %}>
	<i class="icon-wrench icon-white"></i> Fabrication
</a>

<a href="{{ path('acv_usage', { 'project': project.id, 'id' : product.id }) }}" {% if section is defined and section == 'usage' %}class="active"{% endif %}>
	<i class="icon-cog icon-white"></i> Utilisation
</a>

<a href="{{ path('acv_delivery', { 'project': project.id }) }}" {% if section is defined and section == 'delivery' %}class="active"{% endif %}>
	<i class="icon-globe icon-white"></i> Distribution
</a>

<a href="{{ path('acv_eol', { 'project': project.id, 'id' : product.id }) }}" {% if section is defined and section == 'eol' %}class="active"{% endif %}>
	<i class="icon-trash icon-white"></i> Fin de vie
</a>

<a href="{{ path('acv_result', { 'project': project.id, 'id' : product.id }) }}" {% if section is defined and section == 'result' %}class="active"{% endif %}>
	<i class="icon-signal icon-white"></i> Bilan
</a>

<a href="{{ path('acv_sticker', { 'project': project.id, 'id' : product.id }) }}" {% if section is defined and section == 'sticker' %}class="active"{% endif %}>
	<i class="icon-certificate icon-white"></i> Etiquette
</a>

<a href="{{ path('acv_simulation_parts', { 'project': project.id, 'id' : product.id }) }}" {% if section is defined and section == 'simulation' %}class="active"{% endif %} class="simulation">
	<i class="icon-tasks icon-white"></i> Simulation
</a>

<a href="{{ path('acv_comparison', { 'project': project.id, 'id' : product.id }) }}" {% if section is defined and section == 'comparison' %}class="active"{% endif %}>
	<i class="icon-exchange icon-white"></i> Comparaison
</a>

<a href="{{ path('acv_general', { 'project': project.id }) }}" {% if section is defined and section == 'indicator_help' %}class="active"{% endif %}>
    Indicateurs
</a>