<tr class="part child process-template">
    <input type="hidden" name="parent_id" value="" />
    <input type="hidden" name="id" value="" />

    <td colspan="7"></td>

    <!-- process details -->
    <td>
        <input type="text" name="process" class="process-input hidden" />
        <div class="add add-process"><i class="icon-plus-sign"></i></div>
        <div class="process">
            <button type="button" class="btn select-process" id="">Choisir un procédé</button>
        </div>
    </td>
    <td><input type="text" name="param3" class="weight" data-toggle="tooltip" /></td>
    <td><span class="process-unit1 unit"></span></td>
    <td><input type="text" name="param4" class="weight" data-toggle="tooltip" /></td>
    <td><span class="process-unit2 unit"></span></td>

    <!-- transport details -->
    {% if project.transportAppro < 1 %}
        <td colspan="3"></td>
    {% endif %}

    <!-- actions -->
    <td><a href="#" class="delete"><i class="icon-remove-sign"></i></a></td>
</tr>