<tr class="part child material-template">
    <input type="hidden" name="parent_id" value="" />
    <input type="hidden" name="id" value="" />

    <!-- part details -->
    <td colspan="2"></td>

    <!-- material details -->
    <td>
        <input type="text" name="material" class="material-input hidden" />
        <div class="add add-material"><i class="icon-plus-sign"></i></div>
        <div class="material">
            <button type="button" class="btn select-base" id="">Choisir un materiel</button>
        </div>
    </td>

    <!-- param 1 -->
    <td><input type="text" name="param1" class="weight" /></td>
    <td><span class="base-unit1 unit"></span></td>

    <!-- param 2 -->
    <td><input type="text" name="param2" class="weight" /></td>
    <td><span class="base-unit2 unit"></span></td>

    <!-- process details -->
    <td>
        <input type="text" name="process" class="process-input hidden" />
        <div class="add add-process"><i class="icon-plus-sign"></i></div>
        <div class="process">
            <button type="button" class="btn select-process" id="">Choisir un procédé</button>
        </div>
    </td>
    <td><input type="text" name="param3" class="weight" /></td>
    <td><span class="process-unit1 unit"></span></td>
    <td><input type="text" name="param4" class="weight" /></td>
    <td><span class="process-unit2 unit"></span></td>

    {% if project.transportAppro < 1 %}
        <!-- transport details -->
        <td>
            <select name="transport" class="transport">
                <option value="">- Selectionner -</option>
                {% for transport in transports %}
                    <option value="{{ transport.id }}">{{ transport.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td><input type="text" name="distance" style="width: 40px;" /></td>
        <td><span class="transport-unit unit"></span></td>
    {% endif %}

    <!-- actions -->
    <td><a href="#" class="delete"><i class="icon-remove-sign"></i></a></td>
</tr>