<tr class="part parent part-template">
    <input type="hidden" name="parent_id" value="" />
    <input type="hidden" name="id" value="" />
    <!-- part details -->
    <td style="width: 1%;"><input type="text" name="name" style="width: 150px;" /></td>
    <td style="width: 1%;"><input type="text" name="quantity" style="width: 30px;" /></td>

    <!-- material details -->
    <td style="width: 207px;">
        <input type="text" name="material" class="material-input hidden" />
        <div class="add add-material"><i class="icon-plus-sign"></i></div>
        <div class="material">
            <button type="button" class="btn select-base" id="">Choisir un materiel</button>
        </div>
    </td>
    <!-- param 1 -->
    <td style="width: 1%;"><input type="text" name="param1" class="weight" data-toggle="tooltip" /></td>
    <td style="width: 1%;"><span class="base-unit1 unit"></span></td>
    <!-- param 2 -->
    <td style="width: 1%;"><input type="text" name="param2" class="weight" data-toggle="tooltip" /></td>
    <td style="width: 1%;"><span class="base-unit2 unit"></span></td>

    <!-- process details -->
    <td style="width: 154px;">
        <input type="text" name="process" class="process-input hidden" />
        <div class="add add-process"><i class="icon-plus-sign"></i></div>
        <div class="process">
            <button type="button" class="btn select-process" id="">Choisir un procédé</button>
        </div>
    </td>
    <!-- param 3 -->
    <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}><input type="text" name="param3" class="weight" data-toggle="tooltip" /></td>
    <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}><span class="process-unit1 unit"></span></td>
    <!-- param 4 -->
    <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}><input type="text" name="param4" class="weight" data-toggle="tooltip" /></td>
    <td {% if project.transportAppro >= 1 %}style="width:1%;"{% endif %}><span class="process-unit2 unit"></span></td>

    <!-- transport details -->
    {% if project.transportAppro < 1 %}
        <td>
            <select name="transport" class="transport">
                <option value="">- Selectionner -</option>
                {% for transport in transports %}
                    <option value="{{ transport.id }}">{{ transport.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td><input type="text" name="distance" style="width: 40px;" /></td>
        <td><span class="transport-unit unit"></span></td>
    {% endif %}

    <!-- actions -->
    <td><a href="#" class="delete"><i class="icon-remove-sign"></i></td>
</tr>