<div class="assembly assembly-template">
    <table class="assembly-header">
        <tr>
            <td width="60"><span><i class="icon-reorder"></i> Niveau 1</span></td>
            <td><input type="text" name="name" value="" /></td>
            <td><span style="float:right;">Mettre au moins facteur 1, et si masse matériaux > 1000 g, mettre facteur 1000 dans --> </span></td>
            <td align="right" width="100">
                <input type="hidden" name="assembly" value="" class="assembly-id" />
                <span>Quantité</span>
                <input type="text" name="quantity" value="1" class="assembly-quantity" />
            </td>
        </tr>
    </table>

    <table class="part-table">
        <colgroup>
            <col span="2">
            <col span="5" class="odd">
            <col span="5" class="odd2">
            <col span="5">
        </colgroup>

    </table>

    <div class="parts-list">
        <table>
            <colgroup>
                <col span="2">
                <col span="5" class="odd">
                <col span="5" class="odd2">
                <col span="5">
            </colgroup>
            <thead>
                <!--<tr>
                    <th>Niveau 2</th>
                    <th>Qté</th>
                    <th>Matière</th>
                    <th colspan="2"><a href="#" class="param" data-toggle="tooltip" title="Utilisez la règle de proportionnalité pour calculer le paramètre demandé">Param 1</a></th>
                    <th colspan="2"><a href="#" class="param" data-toggle="tooltip" title="Utilisez la règle de proportionnalité pour calculer le paramètre demandé">Param 2</a></th>
                    <th>Procédé</th>
                    <th colspan="2"><a href="#" class="param" data-toggle="tooltip" title="Utilisez la règle de proportionnalité pour calculer le paramètre demandé">Param 1</a></th>
                    <th colspan="2"><a href="#" class="param" data-toggle="tooltip" title="Utilisez la règle de proportionnalité pour calculer le paramètre demandé">Param 2</a></th>
                    <th colspan="3">Transport d'approvisionnement</th>
                    <th>&nbsp;</th>
                </tr>-->
                <tr class="small">
                    <th>Niveau 2</th>
                    <th>Qté</th>
                    <th>Matière/Additifs/Composant/Emballage</th>
                    <th>Valeur</th>
                    <th>Unité</th>
                    <th>Valeur</th>
                    <th>Unité</th>
                    <th>Procédé</th>
                    <th>Valeur</th>
                    <th>Unité</th>
                    <th>Valeur</th>
                    <th>Unité</th>
                    <th>Transport d'appro</th>
                    <th>Distance</th>
                    <th>Unité</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <table class="assembly-footer">
        <tr>
            <td><button type="button" class="btn btn-info add-part"><i class="icon-plus"></i> Ajouter une pièce</button></td>
            <td align="right">Nombre de pièces : 0</td>
        </tr>
    </table>
</div>