<h3>Niveau 1</h3>
<div class="assemblies-list">
    <ul>
        {% for a in assemblies %}
            <li>
                <a href="{{ path('acv_assembly_delete', { 'assembly': a.id }) }}" class="delete"><img src="/css/skin/famfamfam/delete.png" width="12"></a>
                <a href="{{ path('acv_parts', { 'assembly': a.id }) }}" class="link {% if assembly is defined and assembly == a.id %}active{% endif %}">{{ a.name }}</a>
            </li>
        {% endfor %}
        <li class="last">
            <form method="post" action="{{ path('acv_assembly_add', { 'product': product.id }) }}">
                <input type="text" name="assembly" class="assembly-name" />
                <button id="assembly-add" class="btn">Ajouter</button>
            </form>
        </li>
    </ul>
</div>