<div class="well">
    <input type="hidden" class="comparedProjectId" value="{{ comparedProject.id }}" />
    {% if comparedFolder != null %}
        <input type="hidden" class="comparedFolderId" value="{{ comparedFolder.id }}" />
    {% endif %}    
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('acv_project_description', { 'id' : project.id }) }}"><i class="icon-folder-close"></i> {{ project.name }} (réf. 100%)</a>
        </li>
        <li>
            <a class="comparedProject" href="{{ path('acv_project_description', { 'id' : comparedProject.id }) }}"><i class="icon-folder-close-alt"></i> {{ comparedProject.name }}</a>
        </li>
    </ul>
</div>
<div>
    <div class="graph">
        <img src="{{ path('acv_comparison_chart', { 'project' : project.id , 'comparedProject' : comparedProject.id }) }}" width="750" height="250" style="float:left;" />
        <label style="float:left; width: 245px;">
            Légende :
            <br/>un indicateur à 100%
            <br/>sur le radar (en périphérie),
            <br/>signifie un impact négatif
        </label>
        <img src="/images/acv/indicateurs.bmp"/>
    </div>
    <div>
        {% render "ArtoAcvBundle:Result:comparisonTable" with { 'project' : project.id ,'comparedProject' : comparedProject.id } %}
    </div>
    <br/>
    <br/>
    <div>
        <label style="font-size: 12pt; font-weight: bold;">Coûts environnementaux pour une PVA de {{ project.pva|number_format(0, '.', ' ') }} {% if project.pva == 1 %}produit{% else %}produits{% endif %} durant 3 ans</label>
        <label style="font-size: 8pt;">(choix PVA dans onglet étiquette)</label>
        {% render "ArtoAcvBundle:Result:comparisonTable2" with { 'project' : project.id , 'comparedProject' : comparedProject.id, 'pva' : project.pva } %}
    </div>    
</div>