{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = 'comparison' %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
    {% if project.parent is not empty %}
        {% set p = project.parent %}
    {% else %}
        {% set p = project %}
    {% endif %}
    <script>
        $(function(){
            var id = '';
            var erase= 'non';
            var deploy= 'non';
            var file = 'non';
            var idProject = '';
            
            $( ".dialog-checkCodeFolder" ).dialog({
                autoOpen: false,
                height: 130,
                width: 450
            });
            
            $(".simulation").live('click',function(event){
                //event.preventDefault();
                var weight = {{ product.weight }};
                console.log("Poids : "+weight);
                if(weight == 0){
                    alert("Vous n'avez pas entré de masse !");
                    event.preventDefault();
                }
            });
            
            $(".comparedProject").live('click', function (event){
                console.log("Compared project click !");
                event.preventDefault();
                var folderId = $(".comparedFolderId").val();
                var projectId = $(".comparedProjectId").val();
                console.log("Compared folder ID : "+id);
                
                $.post("{{ path('acv_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                if(data.hasCode == 'oui'){
                        //file = 'oui';
                        //deploy = 'non';
                        id = folderId;
                        idProject = projectId;
                        $( "#dialog-checkCodeFolder" ).dialog('open');
                    }
                }, "json");
            });
            
            $(".submitPassword").live('click', function(event) {
                console.log("Submit password click !");
                event.preventDefault();
                var password = $(this).parent().find(".password").val();

                $.post("{{ path('acv_folder_checkCode') }}", {folderId: id, password: password }, function(data) {
                    if(data.isCorrect == 'oui'){
                        $("#dialog-checkCodeFolder").dialog('close');
                        $("#dialog-checkCodeFolder").find(".password").attr('value','');
                        document.location.href = "{{ path('acv_project_description') }}?id="+idProject;
                        idProject = '';
                        id = '';
                    }else{
                        alert("Vous avez entré un code invalide, veuillez rentrer un autre code !");
                    }
                },'json');
            });    
        });
    </script>
    <section class="main comparison">
            <form method="post" action="{{ path('acv_compare_project', {'project' : project.id, 'product' : product.id }) }}">
                <p>
                    <b>Comparaison 1</b> : Pour comparer le projet en cours (projet A) à un projet B dont l'UF est identique , dupliquer le projet A en cliquant sur le bouton Dupliquer : <i class="icon-copy"></i>
                    <br/>situé dans l'onglet "Mes projets" puis après modélisation, sélectionner ce projet B dans la liste.<br/>
                    <br/>
                    <b>Comparaison 2</b> : Pour comparer le projet en cours (projet A) à un autre projet,  le sélectionner dans la liste.<br/>
                    <select class="choixProjet" name="choixProjet">
                        <option value="" {% if comparedProject == null %}selected="selected"{% endif %}>- Choisir -</option>
                        {% for myProject in projects %}
                            {% if myProject.id != project.id %}
                                <option value="{{ myProject.id }}" {% if (comparedProject != null) and (comparedProject.id == myProject.id) %} selected="selected" {% endif %}>{{ myProject.name }}</option>
                            {% endif %} 
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-success" value="Valider" />
                </form>
            </p>
        {% if comparedProject != null %} 
            {% include 'ArtoAcvBundle:Default:comparisonContent.html.twig' %}
        {% endif %}
        <div class="clear"></div>
        
        <div id="dialog-checkCodeFolder" class="dialog-checkCodeFolder" style="overflow:hidden;" title="Entrer le code">
            <form method="post" action="#">
                <div class="row">
                    <label>Ce projet est verrouillé, veuillez saisir le code (code fichier = code dossier) </label>
                    <input type="password" name="password" class="password"/>
                    <button type="submit" style="margin-top: 5px" class="btn btn-success submitPassword">Valider</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}