<table class="comparison-table">
    <tr>
        <th>&nbsp;</th>
        <td align="center"><b>A</b></td>
        <td align="center"><b>B</b></td>
        <td align="center"><b>B-A</b></td>
        <td style="width: 50px;">&nbsp;</td>
    </tr>
    <tr>
        <th width="200">Indicateurs</th>
        <td style="width: 100px;">{{ project.name }}</td>
        <td style="width: 100px;">{{ comparedProject.name }}</td>
        <td style="width: 100px;">Ecart en %</td>
        <td align="center">Transfert d'impact</td>
    </tr>
    <tr>
        <th>Consommation Ressources Rares (RR)</th>
        <td>100%</td>
        {% set total1 = 0 %}
        {% set total1 = total1 + results[0] %}
        <td>{{ results[0]|number_format(0,",","") }}%</td>
        {% set ecart1 = total1 - 100 %}    
        <td>{{ ecart1|number_format(0,",","")}}%</td>
        <td {% if ecart1|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    </tr>
    <tr>
        <th>Consommation Energie (NRJ)</th>
        <td>100%</td>
        {% set total2 = 0 %}
        {% set total2 = total2 + results[1] %}
        <td>{{ results[1]|number_format(0,",","") }}%</td>
        {% set ecart2 = total2 - 100 %}    
        <td>{{ ecart2|number_format(0,",","")}}%</td>
        <td {% if ecart2|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    </tr>
    <tr>
        <th>Consommation Eau (CE)</th>
        <td>100%</td>
        {% set total3 = 0 %}
        {% set total3 = total3 + results[2] %}
        <td>{{ results[2]|number_format(0,",","") }}%</td>
        {% set ecart3 = total3 - 100 %}    
        <td>{{ ecart3|number_format(0,",","")}}%</td> 
        <td {% if ecart3|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    </tr>
    <tr>
        <th>Effet de Serre (GES)</th>
        <td>100%</td>
        {% set total4 = 0 %}
        {% set total4 = total4 + results[3] %}
        <td>{{ results[3]|number_format(0,",","") }}%</td>
        {% set ecart4 = total4 - 100 %}    
        <td>{{ ecart4|number_format(0,",","")}}%</td> 
        <td {% if ecart4|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    </tr>
    <tr>
        <th>Destruction Ozone (DO)</th>
        <td>100%</td>
        {% set total5 = 0 %}
        {% set total5 = total5 + results[4] %}
        <td>{{ results[4]|number_format(0,",","") }}%</td>
        {% set ecart5 = total5 - 100 %}    
        <td>{{ ecart5|number_format(0,",","")}}%</td> 
        <td {% if ecart5|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>  
    </tr>
    <tr>
        <th>Toxicité Air (TA)</th>
        <td>100%</td>
        {% set total6 = 0 %}
        {% set total6 = total6 + results[5] %}
        <td>{{ results[5]|number_format(0,",","") }}%</td>
        {% set ecart6 = total6 - 100 %}    
        <td>{{ ecart6|number_format(0,",","")}}%</td> 
        <td {% if ecart6|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    </tr>
    <tr>
        <th>Ozone Photochimique (OP)</th>
        <td>100%</td>
        {% set total7 = 0 %}
        {% set total7 = total7 + results[6] %}
        <td>{{ results[6]|number_format(0,",","") }}%</td>
        {% set ecart7 = total7 - 100 %}    
        <td>{{ ecart7|number_format(0,",","")}}%</td> 
        <td {% if ecart7|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    <tr>
        <th>Acidification Air (AA)</th>
        <td>100%</td>
        {% set total8 = 0 %}
        {% set total8 = total8 + results[7] %}
        <td>{{ results[7]|number_format(0,",","") }}%</td>
        {% set ecart8 = total8 - 100 %}    
        <td>{{ ecart8|number_format(0,",","")}}%</td> 
        <td {% if ecart8|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    </tr>
    <tr>
        <th>Toxicité Eau (TE)</th>
        <td>100%</td>
        {% set total9 = 0 %}
        {% set total9 = total9 + results[8] %}
        <td>{{ results[8]|number_format(0,",","") }}%</td>
        {% set ecart9 = total9 - 100 %}    
        <td>{{ ecart9|number_format(0,",","")}}%</td> 
        <td {% if ecart9|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    </tr>
    <tr>
        <th>Eutrophisation (E)</th>
        <td>100%</td>
        {% set total10 = 0 %}
        {% set total10 = total10 +results[9] %}
        <td>{{ results[9]|number_format(0,",","") }}%</td>
        {% set ecart10 = total10 - 100 %}    
        <td>{{ ecart10|number_format(0,",","")}}%</td> 
        <td {% if ecart10|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    </tr>
    <tr>
        <th>Déchets Dangereux (DD)</th>
        <td>100%</td>
        {% set total11 = 0 %}
        {% set total11 = total11 + results[10] %}
        <td>{{ results[10]|number_format(0,",","") }}%</td>
        {% set ecart11 = total11 - 100 %}    
        <td>{{ ecart11|number_format(0,",","")}}%</td> 
        <td {% if ecart11|number_format(0,",","") <= 15 %}style="background-color: #98CC00;"{% else %} style="background-color: #CD0065;" {% endif %}>&nbsp;</td>
    </tr>
    <tr>
        {% set moyenne = (total2 + total3 + total4 + total5 + total6 + total7 + total8 + total9 + total10 + total11)/10 %}
        <th style="font-weight:bold; color: red;">Moyenne des indicateurs</th>
        <td style="font-weight:bold; color: red;">100%</td>
        <td style="font-weight:bold; color: red;">{{ moyenne|number_format(0,",","") }}%</td>
        <td style="font-weight:bold; color: red;">{{ (moyenne - 100)|number_format(0,",","")}}%</td>
        <td {% if (moyenne - 100) <= 0 %}style="background-color: #98CC00;"{% else %}style="background-color: #CD0065;"{% endif %}>&nbsp;</td>
    </tr>
    <tr>
        {% set ecoConçu = false %}
        {% if ecart1|number_format(0,",","") <= 15 %}
            {% if ecart2|number_format(0,",","") <= 15 %}
                {% if ecart3|number_format(0,",","") <= 15 %}
                    {% if ecart4|number_format(0,",","") <= 15 %}
                        {% if ecart5|number_format(0,",","") <= 15 %}
                            {% if ecart6|number_format(0,",","") <= 15 %}
                                {% if ecart7|number_format(0,",","") <= 15 %}
                                    {% if ecart8|number_format(0,",","") <= 15 %}
                                        {% if ecart9|number_format(0,",","") <= 15 %}
                                            {% if ecart10|number_format(0,",","") <= 15 %}
                                                {% if ecart11|number_format(0,",","") <= 15 %}
                                                    {% set ecoConçu = true %}
                                                {% endif %}        
                                            {% endif %}
                                        {% endif %}              
                                    {% endif %}                
                                {% endif %}                       
                            {% endif %}                        
                        {% endif %}                              
                    {% endif %}                                  
               {% endif %}
            {% endif %}
        {% endif %}   
        <td colspan="3">
            <label>
                 <b>Règle</b> : le projet <b>B</b> est éco-conçu par rapport au projet <b>A</b> si :
                 <br> - la moyenne des indicateurs de <b>B</b> est strictement inférieure à celle de <b>A</b>
                 <br> - aucun indicateur de <b>B</b> est supérieur à +15% par rapport à ceux de <b>A</b>        
            </label>
        </td>
        {% if ecoConçu == true %}
            <td align ="center" colspan="2" style="background-color: #98CC00; color: white; font-size: 12pt;"><b>Projet B éco-conçu / A</b></td>
        {% else %}
            <td align ="center" colspan="2" style="background-color: #CD0065; color: white; font-size: 12pt;"><br><b>Projet B non éco-conçu / A</b></td>
        {% endif %}   
    </tr>
</table>