<table class="comparison-table">
    {% set ecartCO2 = results[0] - results[4] %}
    {% set ecartEau = results[1] - results[5] %}
    {% set ecartElectrique = results[2] - results[6] %}
    {% set ecartDD = results[3] - results[7] %}
    {% set ecartTotal = ecartCO2 + ecartEau + ecartElectrique + ecartDD %}
    {% set totalProduitA = results[4] + results[5] + results[6] + results[7] %}
    {% set totalProduitB = results[0] + results[1] + results[2] + results[3] %}
    
    <tr>
        <th>&nbsp;</th>
        <td align="center"><b>A</b></td>
        <td align="center"><b>B</b></td>
        <td align="center"><b>B-A</b></td>
        <td style="width: 50px;">&nbsp;</td>
    </tr>
    <tr>
        <th width="200"></th>
        <td style="width: 100px;">{{ project.name }}</td>
        <td style="width: 100px;">{{ comparedProject.name }}</td>
        <td style="width: 100px;">Rapport produit B/ produit A</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Coût carbone</th>
        <td>{{ results[4]|number_format(0, '.', ' ') }} €</td>
        <td>{{ results[0]|number_format(0, '.', ' ') }} €</td>     
        <td>{{ ecartCO2|number_format(0, '.', ' ') }} €</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Coût Conso Eau</th>
        <td>{{ results[5]|number_format(0, '.', ' ') }} €</td>
        <td>{{ results[1]|number_format(0, '.', ' ') }} €</td>     
        <td>{{ ecartEau|number_format(0, '.', ' ') }} €</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Coût énergétique</th>
        <td>{{ results[6]|number_format(0, '.', ' ') }} €</td>
        <td>{{ results[2]|number_format(0, '.', ' ') }} €</td>     
        <td>{{ ecartElectrique|number_format(0, '.', ' ') }} €</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Coût traitement déchets</th>
        <td>{{ results[7]|number_format(0, '.', ' ') }} €</td>
        <td>{{ results[3]|number_format(0, '.', ' ') }} €</td>     
        <td>{{ ecartDD|number_format(0, '.', ' ') }} €</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Total</th>
        <td><b>{{ totalProduitA|number_format(0, '.', ' ') }} €</b></td>
        <td><b>{{ totalProduitB|number_format(0, '.', ' ') }} €</b></td>
        <td><b>{{ ecartTotal|number_format(0, '.', ' ') }} €</b></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        {% if ecartTotal > 0 %}
            <td align ="center" colspan="5" style="background-color: #98CC00; color: white; font-size: 12pt; font-weight: bold;">Gain environnemental minimum de {{ ecartTotal|number_format(0, '.', ' ') }} €</td>
        {% else %}
            {% set ecartTotalAbs = ecartTotal|abs %}
            <td align ="center" colspan="5" style="background-color: #CD0065; color: white; font-size: 12pt; font-weight: bold;">Surcôut environnemental minimum de {{ ecartTotalAbs|number_format(0, '.', ' ') }} €</td>
        {% endif %}    
    </tr>
</table>