{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = "delivery" %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        var part_counter = {{ parts|length - 1 }};

        $(".detailed").live('change', function(event) {
            $('#table1').hide();
            $('#table2').hide();

            var val = $(this).val();
            $('#table'+val).fadeIn();
        }).change();

        $(".add").live('click', function(event) {
            event.preventDefault();
            var table = $(this).parent().find('table');
            var part = $(this).parent().find('.template').clone(true);

            var input = part.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(part\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (part_counter + 1) + p3;
                }));
            });
            part_counter++;

            table.find('tr:first').show();
            part.show();
            part.removeClass('template');
            part.appendTo(table);
        });
        
        $(".simulation").live('click',function(event){
            //event.preventDefault();
            var weight = {{ product.weight }};
            console.log("Poids : "+weight);
            if(weight == 0){
                alert("Vous n'avez pas entré de masse !");
                event.preventDefault();
            }
        });
    });
</script>

    <section class="main">
        <div class="form">
            <form id="form1" action="{{ path('acv_delivery_save', { 'id' : project.id  }) }}" method="post">
                <fieldset>
                    <h3>Distribution depuis le dernier centre de stockage du produit fini de l'entreprise jusqu'au client</h3>
                    <label>Le client pourrait être un grossiste, grande distribution.</label><br/>
                    <div class="row">
                        <label class="lbl">Connaissez vous la distance ?</label>
                        <select name="detailed" class="detailed">
                            <option value="0">- Choisir - </option>
                            <option value="1" {% if delivery.detailed == 1 %}selected{% endif %}>Oui</option>
                            <option value="2" {% if delivery.detailed == 2 %}selected{% endif %}>Non</option>
                        </select>
                    </div>

                    <div class="row" id="table1" style="display:none;">
                        <table>
                            <tr>
                                <th>Mode</th>
                                <th colspan="2">Distance</th>
                            </tr>
                            {% for key, part in parts %}
                                <tr {% if parts|length == 0 %}style="display: none;"{% endif %}>
                                    <td>
                                        <input type="hidden" name="part[{{ key }}][id]" value="{{ part.id }}"/>
                                    	<select name="part[{{ key }}][transport]" class="transport" style="width: 300px">
    			                            <option value="">- Choisir -</option>
                                            {% for transport in transports %}
                                                <option value="{{ transport.id }}" {% if part.transport.id == transport.id %}selected{% endif %}>{{ transport.name }}</option>
                                            {% endfor %}
    			                        </select>
                                    </td>
                                    <td><input type="text" name="part[{{ key }}][distance]" style="width: 80px" value="{{ part.distance }}"/></td>
                                    <td>km</td>
                                    <td><a href="{{ path('acv_delivery_part_delete', { 'id': part.delivery.product.project.id, 'part': part.id }) }}"><img src="/css/skin/famfamfam/delete.png" /></a></td>
                                </tr>
                            {% endfor %}
                            {% set key = parts|length + 1 %}
                            <tr class="template" style="display: none">
                                <td>
                                    <select name="part[{{ key }}][transport]" class="transport" style="width: 300px">
                                        <option value="">- Choisir -</option>
                                        {% for transport in transports %}
                                            <option value="{{ transport.id }}">{{ transport.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="text" name="part[{{ key }}][distance]" style="width: 80px"/></td>
                                <td>km</td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-info add">Ajouter un mode de transport</button>
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>

                    <div id="table2" style="display:none;">
                        <div class="row">
                            <label class="lbl"></label>
                            <input type="submit" class="btn" value="Valider" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
{% endblock %}