{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
      $('#description').live('focusin',function(event){
        $('#help-infos').show();
      });

      $('#description').live('focusout',function(event){
        $('#help-infos').hide();
      });
      
      $('#descriptionuf').live('focusin',function(event){
        $('#help-uf').show();
      });

      $('#descriptionuf').live('focusout',function(event){
        $('#help-uf').hide();
      });
       
      $('.products-table td input').live('focusin',function(event){
        $('#help-listeUF').show();
      });
      
      $('.products-table td input').live('focusout',function(event){
        $('#help-listeUF').hide();
      });
      
      $(".simulation").live('click',function(event){
        //event.preventDefault();
        var weight = {{ product.weight }};
        var lifetime = {{ project.lifetime }};
        console.log("Poids : "+weight);
        if(weight == 0){
            alert("Vous n'avez pas entré de masse !");
            event.preventDefault();
            }
        if(lifetime == 0){
            alert("Vous n'avez pas entré de durée de vie !");
            event.preventDefault();
        }       
      });
      
      $('#submitDescription').live('click',function(event){
          var fieldset = $(this).parent().parent();
          var inputLifetime = fieldset.find('#lifetime');
          var lifetimeVal = inputLifetime.val();
          console.log('Valeur lifetime : '+lifetimeVal);
          if(lifetimeVal == 0 || lifetimeVal == ''){
              alert("Vous n'avez pas entré de durée de vie !");
              event.preventDefault();
          }
      });
    });
    
    function deleteHostTable(src) {
        var tableRow = src.parentNode.parentNode.parentNode;
        var index = tableRow.rowIndex;
        var partIdNameCell = document.getElementById("table-1").rows[index].cells[1];
        var partIdName = partIdNameCell.getElementsByTagName('input')[0].getAttribute('name');
        console.log("partIdName : "+partIdName);
        var partId = partIdName.substring(4);
        console.log("partId : "+partId);
        document.getElementById("table-1").deleteRow(index);
        $.post("{{ path('acv_project_product_delete', { 'project' : project.id}) }}#table-1", { partId: partId }, function(data) {
            document.getElementById("productWeight").innerHTML = data.newWeight;
        }, "json");
    }
</script>
<section class="main desc-page">
    <div class="form">
        <form id="form1" action="{{ path('acv_project_description_save', { 'project' : project.id }) }}" method="post" enctype="multipart/form-data">
            <fieldset>
            <h3>Pilote de l'etude</h3>
                <div class="row">
                    <label class="lbl">Société</label>
                    <input type="text" name="company" value="{{ project.greenUser.company }}" />
                </div>
                <div class="row">
                    <label class="lbl">Analyse créée par</label>
                    <input type="text" name="pilote" value="{{ project.pilote }}" />
                </div>
                <div class="row">
                    <label class="lbl">date</label>
                    <input type="text" name="pilote_date" value="{{ project.piloteDate|date('d/m/Y') }}" class="date-pick" />
                </div>
            </fieldset>
            <fieldset class="odd">
                <h3>Description du produit</h3>
                <div class="row">
                    <label class="lbl">Référence du Produit</label>
                    <input type="text" name="ref" value="{{ project.ref }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Désignation du Produit</label>
                    <input id= "projectName" type="text" name="projectName" value="{{ project.projectName }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Objectifs et frontière du système produit</label>
                    <textarea id="description" name="description" class="large " style="width: 400px; height: 100px; float:left;">{{ project.description|raw }}</textarea>
                    <div id="help-infos" style="display:none;" title="Aide">
                        Les limites du système dépendent de l'objectif de l'étude.<br/>
                        La frontière du système correspond au choix des processus et des flux pris en compte.<br/>
                        Certains flux peuvent être négligés du fait de leur très faible contribution d'impact ou exclus du système du fait de l'objectif de comparer 2 produits dans un contexte d'usage identique.
                    </div>  
                </div>
                <div class="row">
                    <label class="lbl">Zone géographique de commercialisation du produit</label>
                    <input type="text" name="city" value="{{ project.city }}" class="medium" />
                </div>
                {% if project.path is not empty %}
                    <div class="row">
                        <label class="lbl">Image</label>
                        <img src="/uploads/acv/{{ project.path }}" width="400" />
                    </div>
                {% endif %}
                <div class="row">
                    <label class="lbl">Image</label>
                    <input type="file" name="file" />
                </div>
                <div class="row">
                    <label class="lbl">Fonction ou Description de l'Unité Fonctionnelle (UF)</label>
                    <textarea id="descriptionuf" name="descriptionuf" class="large" style="width: 400px; height: 310px; float:left;">{{ project.descriptionuf|raw }}</textarea>
                    <div id="help-uf" style="display:none;" title="Aide">
                        L’UF doit être exprimée sous la forme d’une fonction décrivant le service rendu au client. Elle doit comprendre :<br/>
                        <ul>
                        <li style="color:black;">- une unité quantifiant la fonction étudiée</li>
                        <li style="color:black;">- le niveau de performance ou d’exigence atteint par le produit (normes produit, scénario d'utilisation, ...) </li>
                        <li style="color:black;">- le nombre d'années de vie de la fonction produit et peut faire référence aux normes applicables au produit.</li>
                        </ul>
                        <br/>
                        La matérialisation de l’UF est appelée Produit de Référence
                        <br/>
                        Exemples d'UF
                        <br/>
                        <img src='/images/acv/exemplesUF.jpg'/>
                    </div>
                </div>
                <div class="row">
                    <label class="lbl">Unité de masse des données</label>
                    <select id="projectMassUnit" name="projectMassUnit" style="width: 120px;">
                        <option value="g" {% if project.massUnit == 'g' %}selected="selected"{% endif %}>Grammes (g)</option>
                        <option value="kg" {% if project.massUnit == 'kg' %}selected="selected"{% endif %}>Kilogrammes (kg)</option>
                        <option value="t" {% if project.massUnit == 't' %}selected="selected"{% endif %}>Tonnes (t)</option>
                    </select>
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <input type="submit" class="btn btn-success" id="submitDescription" value="Valider" />
                </div>
            </fieldset>
        </form>
        
        {% set massUnitName ='' %}
        {% if project.massUnit == 'g' %}
            {% set massUnitName = 'grammes' %}
            {% set productWeightLabelled = product.weight %}
        {% elseif project.massUnit == 'kg' %}
            {% set massUnitName = 'kilogrammes' %}
            {% set productWeightLabelled = product.weight/1000 %}    
        {% elseif project.massUnit == 't' %}
            {% set massUnitName = 'tonnes' %}
            {% set productWeightLabelled = product.weight/1000000 %}
        {% endif %}
        <form method="post" action="{{ path('acv_project_product_save', { 'project': project.id }) }}#product">
            <input type="hidden" name="weight" value="{{ product.weight }}" />
            <fieldset id="product">
                <div class="row">
                    <h3>Liste des produits comprenant le produit seul avec ou sans son emballage</h3>
                    <br/>
                    <table id="table-1" class="products-table" style="float:left; margin-right: 50px;">
                        <tr>
                            <th>Type</th>
                            <th>Référence <br/><small>donnée obligatoire</small></th>
                            <th>Désignation<br/><small>yc emballage élémentaire, étiquettes, notice,...</small></th>
                            <th>Quantité</th>
                            <th>Masse unitaire<br/><small>en {{ massUnitName }}</small></th>
                            <th>&nbsp; Masse globale<br/><small>en {{ massUnitName }}</small></th>
                            <th>&nbsp;</th>
                        </tr>
                        {% for part in product.parts %}
                            {% if project.massUnit == 'g' %}
                                {% set partWeightLabelled = part.weight %}
                            {% elseif project.massUnit == 'kg' %}
                                {% set partWeightLabelled = part.weight/1000 %}    
                            {% elseif project.massUnit == 't' %}
                                {% set partWeightLabelled = part.weight/1000000 %}
                            {% endif %}
                            <tr>
                                <td>
                                    <select name="type_{{ part.id }}">
                                        <option value="">- Choisir -</option>
                                        <option value="produitEmballage" {% if part.type == 'produitEmballage' %}selected="selected"{% endif %}>Produit fini avec emballage</option>
                                        <option value="produit" {% if part.type == 'produit'%}selected="selected"{% endif %}>Produit sans emballage</option>
                                        <option value="emballage" {% if part.type == 'emballage'%}selected="selected"{% endif %}>Conditionnement/Emballage</option>
                                        <option value="etiquette" {% if part.type == 'etiquette'%}selected="selected"{% endif %}>Etiquette</option>
                                        <option value="notice" {% if part.type == 'notice'%}selected="selected"{% endif %}>Notice</option>
                                        <option value="autre" {% if part.type == 'autre'%}selected="selected"{% endif %}>Autre</option>
                                    </select>
                                </td>
                                <td><input type="text" name="ref_{{ part.id }}" value="{{ part.ref }}" style="width: 100px;"/></td>
                                <td><input type="text" name="name_{{ part.id }}" value="{{ part.name }}" style="width: 250px;"/></td>
                                <td align="center"><input type="text" name="quantity_{{ part.id }}" value="{{ part.quantity }}" style="width: 50px;"/></td>
                                <td align="center"><input type="text" name="weight_{{ part.id }}" value="{{ partWeightLabelled }}" style="width: 50px;"/></td>
                                <td align="center"><span class="total_weight">{{ partWeightLabelled * part.quantity }}</span></td>
                                <td><a href="#product" class="suppr"><img src="/css/skin/famfamfam/delete.png" onclick="deleteHostTable(this);" /></a></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="6" style="font-size: 11px;">Ajouter un produit</td>
                        </tr>
                        <tr style="border-top: 1px solid #ccc;">
                            <td>
                                <select name="type">
                                    <option value="">- Choisir -</option>
                                    <option value="produit">Produit fini sans emballage</option>
                                    <option value="emballage">Conditionnement/Emballage</option>
                                    <option value="etiquette">Etiquette</option>
                                    <option value="notice">Notice</option>
                                    <option value="autre">Autre</option>
                                </select>
                            </td>
                            <td><input type="text" name="ref" style="width: 100px;"/></td>
                            <td><input type="text" name="name" style="width: 250px;" /></td>
                            <td><input type="text" name="quantity" style="width: 50px;" /></td>
                            <td align="center"><input type="text" name="weight" style="width: 50px;" /></td>
                            <td align="center"><span></span></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th colspan="5" style="text-align: right;">Masse totale produit fini (avec emballage)</th>
                            <th id="productWeight">{{ productWeightLabelled }} {{ project.massUnit }}</th>
                            <th>&nbsp;</t>
                        </tr>
                        <tr>
                            <td colspan="6"><input class="btn btn-success" type="submit" value="Ajouter / Valider" /></td>
                        </tr>
                    </table>
                    <div id="help-listeUF" style="display:none;" title="Aide">
                        <br/>
                        <br/>
                        <br/>
                        Indiquer dans la zone "Liste"
                        <ul>
                            <li style="color:black;">- les références composant le produit choisi pour l’étude</li>
                            <li style="color:black;">- la présence de notice</li>
                            <li style="color:black;">- la présence d’un emballage unitaire de vente</li>
                            <li style="color:black;">- le poids (produit + emballage)</li>
                        </ul>
                        <br/>
                        <strong>Attention part de l’emballage ramené à 1 produit</strong>
                    </div>
                </div>  
            </fieldset>
        </form>

        <form method="post" action="{{ path('acv_project_transport_save', { 'project': project.id }) }}">
            <fieldset class="odd">
                <div class="floatL">
                    <h3>Configuration des transports d'approvisionnement</h3>
                    <div class="row">
                        <br/>
                        <label>Si le mode et la distance d'approvisionnement des matières sont connus, optez pour "Transports détaillés => Saisir pour chaque matière.</label>
                        <label>En l’absence d’information sur le mode et/ou la distance d'approvisionnement des matières, optez pour l'une des 3 autres hypothèses modélisées selon le lieu d'approvisionnement.</label>
                        <select name="transport_appro" style="width: 400px;">
                            <option value="">Transports détaillés => Saisir pour chaque matière</option>
                            <option value="1" {% if project.transportAppro == 1 %}selected{% endif %}>Transport global => Mondial : 19000km (bateau) + 1000km (camion)</option>
                            <option value="2" {% if project.transportAppro == 2 %}selected{% endif %}>Transport global => Intercontinental : 3500 km (camion)</option>
                            <option value="3" {% if project.transportAppro == 3 %}selected{% endif %}>Transport global => Local: 1000km (camion)</option>
                        </select>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <label>Transport depuis le dernier site de fabrication jusqu’au centre de stockage du produit fini</label>
                        <select name="transport_stock" style="width: 400px;">
                            <option value="">- Choisir un mode de transport -</option>
                            {% for transport in transports %}
                                <option value="{{ transport.id }}" {% if project.transportStock is not empty and project.transportStock.id == transport.id %}selected{% endif %}>{{ transport.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="transport_stock_km" style="width: 80px;" value="{{ project.transportStockKm }}"/> km
                    </div>
                    <div class="row">
                        <input class="btn btn-success" type="submit" value="Valider" />
                    </div>
                </div>
                <div class="floatL" style="margin-left: 20px;">
                    <img src="/images/acv/distribution.jpg"/>
                </div>
            </fieldset>
        </form>

        <form method="post" action="{{ path('acv_project_operation_save', { 'id': project.id }) }}">
            <fieldset>
                <h3>Gestion de projet</h3>
                <table>
                    <tr>
                        <th>date</th>
                        <th>Nature de modifications apportées</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="operation_date" class="date-pick" value="{{ project.piloteDate|date('d/m/Y') }}" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" value="Création" /></td>
                    </tr>
                    {% for ope in operations %}
                        <tr>
                            <td><input type="text" name="operation_date_{{ ope.id }}" value="{{ ope.dateAction|date('d/m/Y') }}" class="date-pick" style="width: 80px;" /></td>
                            <td><input type="text" name="operation_description_{{ ope.id }}" value="{{ ope.description }}"  class="large" /></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" style="font-size: 11px;">Ajouter une modification</td>
                    </tr>
                    <tr style="border-top: 1px solid #ccc;">
                        <td><input type="text" name="operation_date" class="date-pick" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="btn btn-success" type="submit" value="Ajouter / Valider" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</section>

{% endblock %}