{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = "eol" %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
{% set graph_url = path('acv_eol_repartition_chart', { 'project' : project.id , 'id' : product.id }) %}
<script>
    $(function(){
        var nbClickOnPlus = 0;
        $(".type").live('change', function(event) {
            $('#table1').hide();
            $('#table2').hide();
            $('#table3').hide();
            $('#table4').hide();

            var val = $(this).val();
            $('#table'+val).fadeIn();
        }).change();

        {% if eol.impactValorisation is not empty %}
            var slider_value = {{ eol.impactValorisation }};
            $( "#amount1" ).html( {{ eol.impactDecharge }} + " %" );
            $( "#amount2" ).html( {{ eol.impactValorisation }} + " %" );
        {% else %}
            var slider_value = 50;
        {% endif %}

        $( "#slider" ).slider({
          value:slider_value,
          min: 0,
          max: 100,
          step: 5,
          slide: function( event, ui ) {
            var diff = Math.abs(ui.value - 100);

            $( "#amount1" ).html( diff + " %" );
            $( "#amount2" ).html( ui.value + " %" );

            $("#impact_decharge").val(diff);
            $("#impact_valorisation").val(ui.value);
          }
        });
        
        $(".simulation").live('click',function(event){
            //event.preventDefault();
            var weight = {{ product.weight }};
            console.log("Poids : "+weight);
            if(weight == 0){
                alert("Vous n'avez pas entré de masse !");
                event.preventDefault();
            }
        });
        
        $(".addDeee").live('click', function(event) {
             console.log("Dans addDeee !");   
             var trclone = $(".deee-table").find(".tr-clone");
             var newLine = trclone.clone(true);
             console.log("Newline class : "+newLine.attr("class"));
             newLine.attr('value','');
             newLine.removeClass("tr-clone");
             $(".deee-table").append(newLine);
        });
        
        $(".selectDeee").live('change', function(event) {
             event.preventDefault();
             var selectDeee = $(this);
             var tableDeee = selectDeee.parent().parent();
             var deeeId = selectDeee.val();
             $.post("{{ path('acv_deee_find') }}", { deeeId : deeeId }, function(data) {
                 tableDeee.find('.isHazardous').html(data.hazardous);
             }, 'json');
        });
        
        $(".selectEolTransport").live('click', function(event){
            event.preventDefault();
            var selectEolTransport = $(this);
            var val = $(this).val();
            var tableEol = selectEolTransport.parent().parent();
            var eolDistance = tableEol.find(".eolDistance");
            if(eolDistance.prop('disabled') == true){
                if(val != "null"){
                    eolDistance.attr('disabled', false);
                }
            }
        });
        
        $(".addEol").live('click', function(event) {
             console.log("Dans addEol !"); 
             nbClickOnPlus++;
             var nbEolParts = $(document).find(".nbEolParts").val();
             var trclone = $(".eol-table").find(".tr-clone");
             var newLine = trclone.clone(true);
             
             if(nbClickOnPlus > 1){
                var inputs = newLine.find(':input');
                inputs.each(function() {
                    var inputName = $(this).prop('name');
                    console.log("Input name : " + inputName);
                    if (nbEolParts <= 9) {
                        var newInputName = inputName.substring(6);
                    }else if (nbEolParts <= 99) {
                        var newInputName = inputName.substring(7);
                    }
                    console.log("New input name : " + newInputName);
                    var indice = parseInt(nbClickOnPlus) + parseInt(nbEolParts);
                    var goodInputName = 'eol[' + indice + ']' + newInputName;
                    $(this).attr('name', goodInputName);
                    console.log("The REAL new input name : " + goodInputName);
                });
             }
             
             if(nbEolParts == 0){
                 var inputs = newLine.find(':input');
                 inputs.each(function() {
                    var inputName = $(this).prop('name');                  
                    var newInputName = inputName.substring(6);
                    var indice = parseInt(nbClickOnPlus);
                    var goodInputName = 'eol[' + indice + ']' + newInputName;
                    $(this).attr('name', goodInputName);
                    $(this).attr('value','');
                });
                
                var selects = newLine.find('select');
                selects.each(function(){
                     $(this).find("option[value='null']").attr('selected', 'selected');
                });
             }
             
             console.log("Newline class : " + newLine.attr("class"));
             newLine.attr('style', 'display:table-row;');
             newLine.attr('value', '');
             newLine.removeClass("tr-clone");
             $(".eol-table").append(newLine);
        });
        
        $(".form1").bind('submit', function() {
            var boutonSubmit = $(this);
            var result = true;
            var nbEolParts = $(document).find(".nbEolParts").val();
            var eolType = $(document).find(".type").val();
            
            if(nbEolParts == 0 && eolType == 4){
                var trclone = $(".eol-table").find(".tr-clone");
                var newLine = trclone.clone(true);
                newLine.attr('style', 'display:none;');
                newLine.attr('value','');
                
                var inputs = newLine.find(':input');
                inputs.each(function() {
                    var inputName = $(this).prop('name');
                    var newInputName = inputName.substring(6);
                    var indice = nbClickOnPlus + 1;
                    var goodInputName = 'eol[' + indice + ']' + newInputName;
                    $(this).attr('name', goodInputName);
                    $(this).attr('value','');
                });
                  
                var selects = newLine.find('select');
                selects.each(function() {
                    var selectName = $(this).prop('name');
                    var newSelectName = selectName.substring(6);
                    var indice = nbClickOnPlus + 1;
                    var goodSelectName = 'eol[' + indice + ']' + newSelectName;
                    $(this).attr('name', goodSelectName);
                    $(this).find("option[value='null']").attr('selected', 'selected');
                });
                
                $(".eol-table").append(newLine);
                trclone.removeClass('tr-clone');             
            }
            
            if(eolType == 4){
                $(".selectEolTraitement").each(function(){
                    var value = $(this).val();
                    var isTrClone = $(this).parent().parent().hasClass("tr-clone");
                    if(value == "null"){
                        if(isTrClone == false){
                            result = false;
                            return false;
                        }
                    }
                });
            }
           
            
            console.log("Result : "+result);
            if(result == false){
                //alert("Vous n'avez pas renseigné tous les types de matières plastiques !");
                return false;
            }else{
                return true;
            }
        });
        
        $(".selectEolTraitement").live('change', function () {
            var currentVal = $(this).val();
            $(this).find("option[selected='selected']").removeAttr('selected');
            $(this).find("option[value='"+currentVal+"']").attr('selected', 'selected');
        });
    });
</script>

<section class="main">
    <div class="form">
        <input type="hidden" name="nbEolParts" class="nbEolParts" value="{{ eolParts|length}}"/>
        <form style="display:none;" id="form2" action="{{ path('acv_deee_part_save', { 'project' : project.id , 'id' : product.id }) }}" method="post">
            <fieldset>
                <h3>Composants du produit devant subir un traitement sélectif en fin de vie</h3>
                <table class="deee-table">
                    <tr>
                        <td style="border:none; width:16px;">&nbsp;</td>
                        <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                            <label style="color:black;">
                                <b>Sélectionnez les composants DEEE<sup>*</sup> présents dans le produit</b>
                            </label>
                        </td>
                        <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                            <label style="color:black;">
                                <b>Déchets<br/>dangereux</b>
                            </label>
                        </td>
                    </tr>

                   {% if deeeParts|length > 0 %}
                        {% for key,deeePart in deeeParts %}
                            <tr>
                                <td>
                                    <a href="javascript:void(0);">
                                        <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addDeee"/>
                                    </a>
                                    <input type="hidden" name="deeePart[{{key}}][id]" value="{{ deeePart.id }}"/>
                                </td>
                                
                                <td style="border:1px solid black;">
                                    <select name="deeePart[{{key}}][deee]" style="font-size : 8pt; width:700px;" class="selectDeee">
                                        <option name="deees" value="null" {% if deeePart.deee == null %}selected="selected"{% endif %}>- Choisir -</option>
                                            {% for deee in deees %}
                                                {% if deeePart.deee is not null %}
                                                    {% if deee.name == deeePart.deee.name %}
                                                        <option name="deees" selected="selected" value={{deee.id}}>{{deee.name}}</option>
                                                    {% else %}
                                                        <option name="deees" value={{deee.id}}>{{deee.name}}</option>
                                                    {% endif %}  
                                                {% else %}
                                                    <option name="deees" value={{deee.id}}>{{deee.name}}</option>
                                                {% endif %}
                                            {% endfor %}
                                    </select>           
                                </td>
                                
                                <td align="center" style="border:1px solid black;">
                                    <label name="deeePart[{{key}}][isDeee]" style="font-weight: bold;" class="isHazardous">{{ deeePart.deee.isHazardous}}</label>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    {% set key_new = deeeParts|length %}
                        <tr class="tr-clone" name="cloneDeee" {% if deeeParts|length == 0 %} style="display: table-row;" {% endif %}>
                            <td>
                                <a href="javascript:void(0);">
                                    <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addDeee"/>
                                </a>
                            </td>
                            
                            <td style="border:1px solid black;">
                                <select name="deeePart[{{key_new}}][deee]" style="font-size : 8pt; width:700px;" class="selectDeee">
                                    <option name="deees" value="null" selected="selected">- Choisir -</option>
                                    {% for deee in deees %}
                                        <option name="dees" value={{ deee.id }}>{{deee.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            
                            <td align="center" style="border:1px solid black;">
                                <label name="deeePart[{{key_new}}][isDeee]" style="font-weight: bold;" class="isHazardous"></label>
                            </td>
                        </tr>    
                </table>
                <br>
                <label>* : DEEE : <b>D</b>échets d'<b>E</b>quipements <b>E</b>lectriques et <b>E</b>lectroniques</label>
            </fieldset> 

            <div class="row">
                <input type="submit" class="btn btn-success" value="Valider" />
            </div>
        </form>
        
        <br/>
        <label><span style="font-size: 13px; font-weight: bold;">Potentiel de recyclabilité du produit fini : </span><span style="font-size: 18px; background-color: greenyellow; color:black; font-weight: bold;"><b>{{ product.tauxRecyclabilité }} %</b></span></label>
        <label>
            <span style="font-size: 11px;">
                dans les filières européennes de traitement de fin de vie (source : CEI/TR 62635)
            </span>
        </label>
        <br/>
        <label><span style="font-size: 13px; font-weight: bold;">Répartition des masses des matériaux du produit fini</span></label>
        <div class="row">
            <img id="graph" src="{{ graph_url }}" width="300" style="float: left; " />
            <br/><br/><br/>
            <table style="border: none;">
                <tr>
                    <td><span style="font-size: 11px; font-weight: bold;">% Matériaux métalliques : </span></td>
                    <td><span style="font-size: 11px; font-weight: bold;">{{percentMetallic}}%</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 11px; font-weight: bold;">% Matériaux plastiques : </span></td>
                    <td><span style="font-size: 11px; font-weight: bold;">{{percentPlastic}}%</span></td>
                </tr>
                <tr>
                    <td><span style="font-size: 11px; font-weight: bold;">% Divers matériaux : </span></td>
                    <td><span style="font-size: 11px; font-weight: bold;">{{percentDiverse}}%</span></td> 
                </tr>
                <tr>
                    <td><span style="font-size: 11px; font-weight: bold;">% Matériaux d'emballage : </span></td>
                    <td><span style="font-size: 11px; font-weight: bold;">{{percentPackaging}}%</span></td>
                </tr>
            </table>
            <br/><br/>
            <label>Si la nomenclature produit comprend des matériaux d'emballage (cartons, notice, étiquette ...), vérifier qu'il existe un niveau 1 appelé "Emballage" ou "Conditionnement"  </label>    
        </div>
       
      
        <form id="form1" class="form1" action="{{ path('acv_eol_save', { 'project' : project.id , 'id' : product.id }) }}" method="post">
            <fieldset>
                <div class="row">
                    <h4>Impacts environnement en fin de vie</h4>
                    <label class="lbl">Choisir une méthode</label>
                    <select name="type" class="type">
                        <option value="0">- Choisir - </option>
                            {#<option value="1" {% if eol.type == 1 %}selected{% endif %}>Selon méthode des 1000 km par camion</option>#}
                            {#<option value="2" {% if eol.type == 2 %}selected{% endif %}>Selon étude ECO'DEEE</option>#}
                        <option value="3" {% if eol.type == 3 %}selected{% endif %}>Mise en décharge / Valorisation</option>
                        <option value="4" {% if eol.type == 4 %}selected{% endif %}>Traitement en fin de vie</option>
                    </select>
                </div>

                <div class="row" id="table1" style="display:none;">
                    <p class="help">
                        Dans le cas où le traitement des produits DEEE en fin de vie n’est pas connu ou les données ne sont pas disponibles, on prendra en compte, à minima, un transport par camion de 1000 km du produit
                        <br/>Source : PCR (<b>P</b>roduct <b>C</b>ategory <b>R</b>ules) des Equipements Electriques et Electroniques)
                    </p>
                </div>

                <div class="row" id="table2" style="display:none;">
                    <p class="help">
                        <strong>ECO</strong>CONCEPTION DES PRODUITS ELECTRIQUES ET ELECTRONIQUES EN VUE DU RECYCLAGE<br/>

                        Ce projet ECO’DEEE, soutenu par l'ADEME, vise à prévenir les déchets d’équipements électriques et électroniques par l’écoconception orientée fin de vie.<br/><br/>

                        Il a rassemblé 5 partenaires industriels : Groupe Fagor-Brandt, Neopost Technologies, Sagem Communications, Groupe SEB, Schneider Electric.<br/>
                        Trois opérateurs de traitement ont contribué aux réflexions : Derichebourg Environnement, Galloo, Triade Electronique.
                    </p>
                    <table>
                        <tr>
                            <th></th>
                            <th>Mode de transport / Procédé</th>
                            <th>Valeur</th>
                            <th width="50"></th>
                            <th>Masse de produit<br/>traité (g)</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Collecte</td>
                            <td>Transport (road, diesel)</td>
                            <td>200</td>
                            <td>kg.km</td>
                            <td>{{ product.weight }}</td>
                            <td>g</td>
                        </tr>
                        <tr>
                            <td>Prétraitement</td>
                            <td>Disposal (WEEE, pretreatment dismantling and material separation)</td>
                            <td></td>
                            <td></td>
                            <td>
                                    {% for part in product.parts %}
                                        {% if part.type == 'produit' %}
                                            {{ part.weight }}
                                        {% endif %}
                                    {% endfor %}
                            </td>
                            <td>g</td>
                        </tr>
                        <tr>
                            <td>Dépollution des composants électroniques</td>
                            <td>Transport (road, diesel)</td>
                            <td>600</td>
                            <td>kg.km</td>
                            <td>
                                ???
                            </td>
                            <td>g</td>
                        </tr>
                        <tr>
                            <td>Incinération</td>
                            <td>Transport (road, diesel)</td>
                            <td>100</td>
                            <td>kg.km</td>
                            <td>
                                ???
                            </td>
                            <td>g</td>
                        </tr>
                        <tr>
                            <td>Centre de Stockage des Déchets Ultimes</td>
                            <td>Transport (road, diesel)</td>
                            <td>100</td>
                            <td>kg.km</td>
                            <td>
                                ???
                            </td>
                            <td>g</td>
                        </tr>
                    </table>
                </div>

                <div class="row" id="table3">
                    <br/>
                    <div class="row">
                        <p class="help">
                            Le taux de valorisation est la somme du taux de recyclabilité et du taux de valorisation énergétique.
                            <br/>Les produits qui contiennent des matériaux à dominante renouvelable, métallique ou thermosplastique ont un taux de valorisisation supérieur à 80%.
                            <br/>De plus, l'impact sur l'environnement des transports du produit en fin de vie vers un site de recyclage et vers un site pour son élimination finale est pris en compte dans la modélisation (par camion de 27 T et pour une distance de 1000 km : source PCR, norme EN 15804) 
                        </p>
                    </div>
                    
                    <table> 
                        <tr>
                            <td style="text-align:center;">
                                Mise en décharge<br/>
                                <img src="/images/bin.png" style="padding: 5px 0"/><br/>

                                <span style="font-size: 20px" id="amount1">50 %</span>
                            </td>
                            <td width="300" style="padding-top: 30px;">
                                <input type="hidden" id="impact_decharge" name="impact_decharge" value="{{ eol.impactDecharge }}" />
                                <input type="hidden" id="impact_valorisation" name="impact_valorisation" value="{{ eol.impactValorisation }}" />
                                <div id="slider"></div>
                            </td>
                            <td style="text-align:center;">
                                Valorisation<br/>
                                <img src="/images/recycle.png" style="padding: 5px 0"/><br/>
                                <span style="font-size: 20px" id="amount2">50 %</span>
                            </td>
                        </tr>
                    </table>
                </div>
                
                <div class="row" id="table4">
                    <br/>
                    <table class="eol-table" id="eol-table">
                        <tr>
                            <th></th>
                            <th>Dénomination composant</th>
                            <th>Mode de traitement</th>
                            <th>Quantité</th>
                            <th>Poids<br/> (g)</th>
                            <th>Mode de transport<br/>jusqu'au centre de traitement</th>
                            <th>Distance<br/> (km)</th>
                        </tr>
                        {% if eolParts|length > 0 %}
                            {% for key,eol in eolParts %}
                                {% set qty = eol.quantity %}
                                {% set weight = eol.weight %}
                                {% set globalWeight = qty * weight %}
                                <tr>
                                     <input type="hidden" name="eol[{{ key }}][id]" value="{{ eol.id }}" />
                                     <td>
                                        <a href="javascript:void(0);">
                                             <img src="/css/skin/famfamfam/add.png" align="right" name="plusEol" style="width:16px; height:16px;"  class="addEol"/>
                                        </a>
                                     </td>
                                     <td>
                                        <input name="eol[{{key}}][label]" type="text" style="width:130px;" class="eolLabel" value="{{ eol.label }}" />
                                     </td>
                                     <td>
                                        <select name="eol[{{key}}][traitement]" style="font-size : 8pt; width: 450px;" class="selectEolTraitement">
                                            <option name="eolTraitements" value="null" {% if eol.traitement == null %}selected="selected"{% endif %}>- Choisir -</option>
                                                {% for traitement in traitements %}
                                                     {% if eol.traitement is not null %}
                                                        {% if traitement.name == eol.traitement.name %}
                                                           <option name="eolTraitements" selected="selected" value={{ traitement.id }}>{{ traitement.name }}</option>
                                                        {% else %}   
                                                           <option name="eolTraitements" value={{ traitement.id }}>{{ traitement.name }}</option>
                                                        {% endif %}
                                                     {% else %}
                                                        <option name="eolTraitements" value={{ traitement.id }}>{{ traitement.name }}</option> 
                                                     {% endif %}      
                                                {% endfor %}           
                                        </select>
                                     </td>
                                     <td>
                                        <input name="eol[{{key}}][quantity]" type="text" style="width:40px;" class="qty" {% if eol.traitement == null %}disabled="disabled" value=""{% else %}value="{{ qty }}"{% endif %} />
                                     </td>
                                     <td>
                                        <input name="eol[{{key}}][weight]" type="text" style="width:40px;" class="weight" {% if eol.traitement == null %}disabled="disabled" value=""{% else %}value="{{ weight }}"{% endif %} />
                                     </td>
                                     <td>
                                        <select name="eol[{{key}}][transport]" style="font-size : 8pt; width: 300px;" class="selectEolTransport">
                                            <option name="eolTransports" value="null" {% if eol.transport == null %}selected="selected"{% endif %}>- Choisir -</option>
                                                {% for transport in transports %}
                                                     {% if eol.transport is not null %}
                                                        {% if transport.name == eol.transport.name %}
                                                           <option name="eolTransports" selected="selected" value={{ transport.id }}>{{ transport.name }}</option>
                                                        {% else %}   
                                                           <option name="eolTransports" value={{ transport.id }}>{{ transport.name }}</option>
                                                        {% endif %}
                                                     {% else %}
                                                        <option name="eolTransports" value={{ transport.id }}>{{ transport.name }}</option> 
                                                     {% endif %}      
                                                {% endfor %}           
                                        </select>
                                     </td>
                                     <td>
                                        <input name="eol[{{key}}][distance]" type="text" style="width:40px;" {% if eol.transport == null %}disabled="disabled" value=""{% else %}value="{{ eol.distance }}"{% endif %} class="eolDistance" />
                                     </td>
                                     <td>
                                        <a href="{{ path('acv_eol_part_delete', { 'id' : eol.id }) }}#eol-table">
                                            <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                                        </a>
                                     </td>
                                </tr>     
                            {% endfor %}              
                        {% endif %}
                                     
                        {% set key_new = eolParts|length %}
                        <tr class="tr-clone" name="cloneTraitementsEol" {% if eolParts|length == 0 %} style="display:table-row;"{% endif %}>
                            <td>
                                <a href="javascript:void(0);">
                                    <img src="/css/skin/famfamfam/add.png" align="right" name="plusEol" style="width:16px; height:16px;"  class="addEol"/>
                                </a>
                            </td>
                            <td>
                                <input name="eol[{{key_new}}][label]" type="text" style="width:130px;" class="eolLabel" />
                            </td>
                            <td>
                                <select name="eol[{{key_new}}][traitement]" style="font-size : 8pt; width: 450px;" class="selectEolTraitement">
                                    <option name="eolTraitements" value="null" selected="selected">- Choisir -</option>
                                    {% for traitement in traitements %}
                                        <option name="eolTraitements" value={{ traitement.id }}>{{ traitement.name }}</option>       
                                    {% endfor %}           
                                </select>
                            </td>
                            <td>
                                <input name="eol[{{key_new}}][quantity]" type="text" style="width:40px;" class="qty" />
                            </td>
                            <td>
                                <input name="eol[{{key_new}}][weight]" type="text" style="width:40px;" class="weight" />
                            </td>
                            <td>
                                <select name="eol[{{key_new}}][transport]" style="font-size : 8pt; width: 300px;" class="selectEolTransport">
                                    <option name="eolTransports" value="null" selected="selected">- Choisir -</option>
                                    {% for transport in transports %}
                                        <option name="eolTransports" value={{ transport.id }}>{{ transport.name }}</option>       
                                    {% endfor %}           
                                </select>
                            </td>
                            <td>
                                <input name="eol[{{key_new}}][distance]" type="text" style="width:40px;" value="" class="eolDistance"/>
                            </td>
                        </tr>    
                    </table>
                    <br/>
                    <label style="font-weight: bold; color : red; font-size : 13px;"><i class="icon-warning-sign"></i> Le poids des déchets ne doit pas dépasser celui du produit !</label>
                </div>
            </fieldset>

            <div class="row">
                <input type="submit" class="btn btn-success" value="Valider" />
            </div> 
        </form>     
    </div>
</section>
{% endblock %}