<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>ArtoACV</title>
        <link rel="stylesheet" type="text/css" href="{{ siteArtogreen }}/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ siteArtogreen }}/css/main.css" />
        <link rel="stylesheet" type="text/css" href="{{ siteArtogreen }}/css/acv_main.css" />
    </head>
    <body>
    <div class="sticker-container">
        {% include 'ArtoAcvBundle:Default:_exportPDF.html.twig' %}
    </div>
</body>
</html>