{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = "indicator_help" %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".simulation").live('click',function(event){
        //event.preventDefault();
        var weight = {{ product.weight }};
        console.log("Poids : "+weight);
        if(weight == 0){
            alert("Vous n'avez pas entré de masse !");
            event.preventDefault();
            }
      });
    });
</script>
<section class="main transverse">
    <div class="justifiedDiv">
        <h1>INDICATEURS D'IMPACTS ENVIRONNEMENTAUX</h1>

        <h2>Consommation de Ressources Rares (RR)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique l’épuisement des ressources abiotiques ou la quantité de matières rares comme l’antimoine, contenue dans les minerais, consommée sur l’ensemble du cycle (unité : <b>éq. Sb</b>)
        </p>

        <h2>Energie totale consommée (NRJ)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique la consommation totale d’énergie pour tout le cycle de vie du produit  (unité: <b>MJ</b>)
        </p>

        <h2>Consommation d’eau (CE)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique la consommation totale d’eau pour tout le cycle de vie du produit (unité: <b>dm<sup>3</sup></b>)
        </p>

        <h2>Participation à l’effet de serre (GES)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique ce que toutes les phases du cycle de vie du produit libèrent dans l’air (unité: <b>éq.CO<sub>2</sub></b>)
        </p>

        <h2>Participation à la destruction de la couche d’ozone (DO)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique ce que toutes les phases du cycle de vie du produit libèrent (unité: <b>éq. CFC11</b>)
        </p>

        <h2>Air Impur (AI)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique le volume d’air nécessaire pour atteindre une propreté acceptable des émissions dans l'air (unité: <b>m<sup>3</sup></b>)<br/><br/>
            L’indicateur <b>Air impur</b> exprime le volume d’air impur en considérant les émissions telles que les hydrocarbures, oxydes d’azote, dioxyde de soufre, composés organiques volatils,…. Il est calculé en divisant chaque flux de l’inventaire par une valeur limite donnée par les réglementations locales.<br/><br/> 
            La pollution de l’air est présente à toutes les étapes de vie des produits : usines (rejets de fumées), transport (moteurs à combustion), utilisation des produits (émanation de solvants et de particules fibreuses), fin de vie (incinération).
        </p>

        <h2>Participation à la création d’ozone photochimique (OP)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique le potentiel de création d’ozone photochimique des émissions de gaz dans l’air (unité: <b>éq. C<sub>2</sub>H<sub>4</sub></b>)
        </p>

        <h2>Potentiel d’acidification de l’air (AA)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique le potentiel d’acidification de l’air causé par la libération de certains gaz dans l’atmosphère (unité: <b>éq. H+</b>)
        </p>

        <h2>Eau Impure (EI)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique le volume nécessaire pour atteindre une qualité acceptable des émissions dans l’eau (unité: <b>litre</b>)<br/><br/>
            L’indicateur Eau impure exprime le volume d’eau impure en considérant les rejets tels que la demande biochimique en oxygène (DBO5), demande chimique en oxygène (COD), les huiles et graisses, les matières en suspension,…. Il est calculé en divisant chaque flux de l’inventaire par une valeur limite généralement tolérée.<br/><br/>
            La pollution de l’eau est due à l’agriculture et à l’élevage intensif, aux émissions de l’industrie (effluents, accidents) et au largage d’hydrocarbures en mer, de métaux lourds lors de la mise en décharge ou l’abandon des produits.
        </p>

        <h2>Eutrophisation de l’eau (E)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique la quantité de substances rejetées dans l’eau entraînant une eutrophisation de l’eau (unité: <b>éq. PO<sub>4</sub></b>)
        </p>

        <h2>Production de déchets dangereux (DD)</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Indique la quantité de déchets dangereux produite sur l’ensemble du cycle de vie du produit (unité : <b>kg</b>)
        </p>
   </div>
</section>

{% endblock %}