{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = "indicator_help" %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".simulation").live('click',function(event){
        //event.preventDefault();
        var weight = {{ product.weight }};
        console.log("Poids : "+weight);
        if(weight == 0){
            alert("Vous n'avez pas entré de masse !");
            event.preventDefault();
            }
      });
    });
</script>
<section class="main transverse">
    <div class="justifiedDiv">
        <h1>INDICATEURS D'IMPACTS ENVIRONNEMENTAUX</h1>

        <h2>Epuisement des ressources naturelles (ER)</h2>
        <h3>Description du phénomène</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Chaque produit fabriqué demande l'utilisation de matières et d'énergie. Ces matières et énergie sont issues de ressources naturelles stockées dans les sous-sols, qui peuvent être renouvelables ou non. Il y a donc une diminution du stock de matière qui est plus ou moins grave selon la rareté de la matière.
        </p>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Cet indicateur s'exprime en fraction de la réserve disparaissant chaque année. La valeur est exprimée en <b>année<sup>-1</sup></b> et correspond à l'inverse du nombre d'année de production qu'il resterait si le produit était le seul à consommer ce type de ressources naturelles avec la même consommation qu'aujourd'hui. Le choix de prendre l'inverse de ce nombre a été fait car il permet d'avoir un produit plus impactant si l'indicateur augmente et ainsi de rester cohérent avec les autres indicateurs.
        </p>

        <h2>Energie totale consommée (NRJ)</h2>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique la consommation totale d’énergie pour tout le cycle de vie du produit. C'est-à-dire toute l'énergie consommée pour la fabrication, la distribution, l'utilisation et les traitements en fin de vie déduit de l'énergie éventuellement récupérée en fin de vie selon les scénarios (décharge, incinération, recyclage …).
        </p>
        <p style="font-size: 105%; line-height: 18px;">
            Cet indicateur s'exprime en <b>Mégajoules</b> ( = 0.28 kWh).
        </p>


        <h2>Consommation d’eau (CE)</h2>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique la consommation totale d’eau en <b>dm<sup>3</sup></b> pour tout le cycle de vie du produit.
        </p>

        <h2>Participation à l’effet de serre (GES)</h2>
        <h3>Description du phénomène</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Il s'agit d'un effet naturel de la basse atmosphère qui contribue à retenir une partie de la chaleur solaire reçue sous forme de rayonnement à la surface de la Terre et à maintenir l'équilibre thermique de la planète. Sans ce phénomène naturel, la température de notre planète serait de – 18°C, soit 33°C de moins qu'aujourd'hui. Le problème vient du fait que ce mécanisme peut se dérégler sous l'effet de changements de concentrations de certains gaz dans l'atmosphère. Des études ont montré que la teneur en gaz à effet de serre a fortement augmenté depuis 1850 et serait principalement d'origine humaine. Parmi les gaz à effet de serre nous pouvons noter l'eau, le CO<sub>2</sub>, les CFC, l'ozone ou encore le CH<sub>4</sub> qui ont chacun un pouvoir de réchauffement bien distinct.
        </p>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique ce que toutes les phases du cycle de vie du produit libèrent dans l’air comme <b>gramme équivalent CO<sub>2</sub></b>.
            <br/>Exemple du principe d’équivalence : 1 g de CO<sub>2</sub> = 1g~CO<sub>2</sub>; 1 g de CH<sub>4</sub> (méthane) équivaut à l’effet sur le climat de 64 g de CO<sub>2</sub>, etc…
        </p>

        <h2>Participation à la destruction de la couche d’ozone (DO)</h2>
        <h3>Description du phénomène</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Une diminution de la quantité totale d'ozone stratosphérique entraîne une augmentation du rayonnement ultraviolet (UV) atteignant la terre avec des effets sur la santé humaine, les écosystèmes… Certaines substances lorsqu'elles atteignent la stratosphère, peuvent transformer l'équilibre entre la création et la destruction de l'ozone (une molécule de ces gaz peut détruire jusqu'à 100000 molécules d'ozone.)
        </p>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique ce que toutes les phases du cycle de vie du produit libèrent comme <b>grammes équivalents CFC11</b>.
        </p>

        <h2>Toxicité dans l’air (TA)</h2>
        <h3>Description du phénomène</h3>
        <p style="font-size: 105%; line-height: 18px;">
            A chaque substance rejetée dans l'air, il est associé une valeur de concentration limite au-dessus de laquelle l'air est considéré comme pollué.
        </p>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique le volume en dm<sup>3</sup> d’air nécessaire pour atteindre une dilution toxicologique acceptable des émissions dans l'air.
        </p>

        <h2>Participation à la création d’ozone photochimique (OP)</h2>
        <h3>Description du phénomène</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Sous certaines conditions climatiques, les émissions atmosphériques des industries ou des transports réagissent sous l’effet des rayons solaires pour former ce que nous appellons le « smog » (nuage souvent visible au-dessus des grandes villes industrialisées). L’un des composants principaux est l’ozone, bien qu’il ne soit pas produit directement, l’ozone est fabriqué par l’interaction entre les composés organiques volatils (COV) et les oxydes d’azotes (NO<sub>x</sub>) initialisés par les radiations solaires.
        </p>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique le potentiel de création d’ozone photochimique des émissions de gaz dans l’air. Cet indicateur est exprimé en <b>gramme équivalent Méthane</b>.
        </p>

        <h2>Potentiel d’acidification de l’air (AA)</h2>
        <h3>Description du phénomène</h3>
        <p style="font-size: 105%; line-height: 18px;">
            L'acidification de l'environnement est un problème environnemental majeur qui manifeste principalement des effets sur les édifices et la végétation, en particulier le dépérissement des forêts.
        </p>
        <p style="font-size: 105%; line-height: 18px;">
            Les principaux composés responsables de l'acidification sont les acides nitrique (HNO<sub>3</sub>) et sulfurique (H<sub>2</sub>SO<sub>4</sub>), résultant de la transformation des composés soufrés (surtout SO<sub>2</sub>, SO<sub>3</sub> et H<sub>2</sub>S) et azotés (surtout NO, NO<sub>2</sub>, N<sub>2</sub>O<sub>5</sub>) dans l'air. Ces molécules se combinent avec l’eau atmosphérique pour former des acides. Ces acides se concentrent dans l’atmosphère et chargent les gouttes d’eau lors des pluies.
        </p>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique le potentiel d’acidification de l’air causé par la libération de certains gaz dans l’atmosphère. Cet indicateur est exprimé en <b>g équivalent H+</b>.
        </p>

        <h2>Toxicité dans l'eau (TE)</h2>
        <h3>Description du phénomène</h3>
        <p style="font-size: 105%; line-height: 18px;">
            A chaque substance rejetée dans l'eau, nous pouvons associer une valeur de concentration limite au-dessus de laquelle l'eau est considérée comme polluée.
        </p>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique le volume en <b>litre d’eau</b> nécessaire pour atteindre une dilution toxicologique acceptable des émissions dans l’eau.
        </p>

        <h2>Eutrophisation de l’eau (E)</h2>
        <h3>Description du phénomène</h3>
        <p style="font-size: 105%; line-height: 18px;">
            La trop grande richesse des eaux en nutriments (nitrates et phosphates) entraîne une croissance excessive des algues. La respiration des algues consomme alors l'oxygène de l'eau et ne permet plus le maintien d'une vie aquatique normale.
        </p>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique la quantité de substances rejetées dans l’eau entraînant une eutrophisation de l’eau. L’unité choisie est le <b>gramme équivalent PO<sub>4</sub></b>.
        </p>

        <h2>Production de déchets dangereux (DD)</h2>
        <h3>Définition</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Indique la quantité de déchets dangereux produite sur l’ensemble du cycle de vie du produit en <b>kilogrammes</b>
        </p>
   </div>
</section>

{% endblock %}