{% extends '::acv_base.html.twig' %}
{% set section = "gestionArtoFlux" %}
{% block body %}

<script>
    $(function(){
        $(".addArtoFlux").live('click', function(event) {
             var trclone = $(".gestionArtoFlux-table").find(".tr-clone[name='cloneArtoFluxParts']");
             var newLine = trclone.clone(true);
             newLine.attr('value','');
             newLine.removeClass("tr-clone");
             $(".gestionArtoFlux-table").append(newLine);
        });
        
        $(".addAcvUser").live('click', function(event) {
             var trclone = $(".gestionAcvUsers-table").find(".tr-clone[name='cloneAcvUsers']");
             var newLine = trclone.clone(true);
             newLine.attr('value','');
             newLine.removeClass("tr-clone");
             $(".gestionAcvUsers-table").append(newLine);
        });
        
        $(".nbProducts").live('change', function(event) {
             var nbProducts = parseInt($(this).val());
             var nbProductsName = $(this).attr('name');
             //var nbProductsName = nbProductsContent.attr('name');
             
             var tdProductNames = $(this).parent().parent().find('.productsName');
             var tdProductReferences = $(this).parent().parent().find('.productsReference');
             
             var toRemove1 = 'artoFlux[';
             var toRemove2 = '][nbProducts]';
             nbProductsName = nbProductsName.replace(toRemove1,'');
             nbProductsName = nbProductsName.replace(toRemove2,'');
             var key = nbProductsName;
             
             console.log('key : '+key);
             
             var toCopy1 = '<input name="artoFlux['+key+'][productName]" type="text" style="width:100px;" /><br/><br/>';
             var toCopy2 = '<input name="artoFlux['+key+'][productReference]" type="text" style="width:100px;" /><br/><br/>';
             var newCopy1 = '';
             var newCopy2 = '';
             
             for(var i = 0; i < nbProducts; i++ ){
                 var firstPart = toCopy1.substring(0,36);
                 var secondPart = toCopy1.substring(36);
                 console.log('firstPart : '+firstPart);
                 console.log('secondPart : '+secondPart);
                 newCopy1 = newCopy1+firstPart+i+secondPart;
                 console.log('newCopy1 : '+newCopy1);
                 
                 var firstPart2 = toCopy2.substring(0,41);
                 var secondPart2 = toCopy2.substring(41);
                 console.log('firstPart2 : '+firstPart2);
                 console.log('secondPart2 : '+secondPart2);
                 newCopy2 = newCopy2+firstPart2+i+secondPart2;
                 console.log('newCopy2 : '+newCopy2);
             }
             
             tdProductNames.html(newCopy1);
             tdProductReferences.html(newCopy2);
             tdProductNames.show();
             tdProductReferences.show();
        });
     });
</script>    
<section class="main">
    <div class="floatL">
        <h3>Gestion des comptes ArtoFlux</h3>
        
        <p style="font-size: 105%; line-height: 18px;">
            Vous avez besoin des données fournisseurs (matières et procédés) des produits, articles ou composants achetés, pour cela, définissez :
            <br/> - s'assurer de la création du projet ArtoAcv dans lequel les données fournisseurs issues d'ArtoFlux seront exportées, 
            <br/> - l'entreprise fournisseur et les coordonnées de votre correspondant,
            <br/> - la désignation du produit et sa référence,
            <br/> - le compte en créant son identifiant et son code d’accès à ArtoFlux,
            <br/> - validez,
            <br/> - envoyez à votre fournisseur la demande par mail en lui communiquant son identifiant et son code,
            <br/> - demandez-lui d’exporter les données saisies dans ArtoFlux via l’onglet « Exporter les données »
        </p>
        
        <br/>
        
        <h3>Correspondants clients</h3>
        
        <form method="post" action="{{ path('acv_gestion_user_save') }}#gestionUsers-table" class="formGestionUser">
            <table class="gestionAcvUsers-table" id="gestionAcvUsers-table">
                <tr>
                    <td style="border:none;">&nbsp;</td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Nom</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Prénom</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Entreprise</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Fonction</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Téléphone</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>E-mail</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Fournisseur suivi</b>
                        </label>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                {% if acvUsers|length > 0 %}
                    {% for key, acvUser in acvUsers %}
                        <tr>
                            <input type="hidden" name="acvUser[{{ key }}][id]" value="{{ acvUser.id }}"/>
                            <td>
                                <a href="javascript:void(0);">
                                     <img src="/css/skin/famfamfam/add.png" align="right" name="plusAcvUser" style="width:16px; height:16px;"  class="addAcvUser"/>
                                </a>
                            </td>
                            <td style="border:1px solid black;">
                                <input name="acvUser[{{ key }}][firstname]" type="text" style="width:100px;" value="{{ acvUser.firstname }}" />
                            </td>
                            <td style="border:1px solid black;">
                                <input name="acvUser[{{ key }}][lastname]" type="text" style="width:100px;" value="{{ acvUser.lastname }}" />
                            </td>
                            <td style="border:1px solid black;">
                                <input name="acvUser[{{ key }}][company]" type="text" style="width:100px;" value="{{ acvUser.company }}" />
                            </td>
                            <td style="border:1px solid black;">
                                <input name="acvUser[{{ key }}][role]" type="text" style="width:100px;" value="{{ acvUser.tel }}" />
                            </td>
                            <td style="border:1px solid black;">
                                <input name="acvUser[{{ key }}][tel]" type="text" style="width:100px;" value="{{ acvUser.role }}" />
                            </td>
                            <td style="border:1px solid black;">
                                <input name="acvUser[{{ key }}][email]" type="text" style="width:150px;" value="{{ acvUser.email }}" />
                            </td>
                            <td style="border:1px solid black;">
                                <input name="acvUser[{{ key }}][fournisseur]" type="text" style="width:100px;" value="{{ acvUser.fournisseur }}" />
                            </td>
                            <td>
                                <a href="{{ path('acv_gestion_user_delete', { 'id' : acvUser.id }) }}#gestionUsers-table">
                                    <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                                </a>
                            </td>
                    {% endfor %}
                {% endif %}
                
                {% set key_new = acvUsers|length %}
                   <tr class="tr-clone" name="cloneAcvUsers" {% if acvUsers|length == 0 %}style="display: table-row;"{% endif %}>
                       <td>
                           <a href="javascript:void(0);">
                                <img src="/css/skin/famfamfam/add.png" align="right" name="plusArtoFlux" style="width:16px; height:16px;"  class="addAcvUser"/>
                           </a>
                       </td>
                       <td style="border:1px solid black;">
                            <input name="acvUser[{{ key_new }}][firstname]" type="text" style="width:100px;" />
                       </td>
                       <td style="border:1px solid black;">
                            <input name="acvUser[{{ key_new }}][lastname]" type="text" style="width:100px;" />
                       </td>
                       <td style="border:1px solid black;">
                            <input name="acvUser[{{ key_new }}][company]" type="text" style="width:100px;" />
                       </td>
                       <td style="border:1px solid black;">
                            <input name="acvUser[{{ key_new }}][role]" type="text" style="width:100px;" />
                       </td>
                       <td style="border:1px solid black;">
                            <input name="acvUser[{{ key_new }}][tel]" type="text" style="width:100px;" />
                       </td>
                       <td style="border:1px solid black;">
                            <input name="acvUser[{{ key_new }}][email]" type="text" style="width:150px;" />
                       </td>
                       <td style="border:1px solid black;">
                            <input name="acvUser[{{ key_new }}][fournisseur]" type="text" style="width:100px;" />
                       </td>
                       <td>&nbsp;</td>
                   </tr>
            </table>
            <br/>
            <button type="submit" class="btn btn-info add-row" class="submit">Valider</button>
        </form>
        
        <h3>Fournisseurs</h3>
        
        <form method="post" action="{{ path('acv_gestion_artoFlux_save', { 'userId' : user.id }) }}#gestionArtoFlux-table" class="formGestionArtoFlux">
            <table class="gestionArtoFlux-table" id="gestionArtoFlux-table">
                <tr>
                    <td style="border:none;">&nbsp;</td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Nom fournisseur</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Nombre de produits</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Nom des produits / projets</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Reférences produits</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Identifiant</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Mot de passe</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Date de création</b>
                        </label>
                    </td>
                    <td bgcolor="#f2dddc" align="center" style="border:1px solid black;">
                        <label style="color:black;">
                            <b>Dates des derniers exports</b>
                        </label>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                {% if artoFluxParts|length > 0 %}
                    {% for key,artoFlux in artoFluxParts %}
                        <tr>
                            <input type="hidden" name="artoFlux[{{ key }}][id]" value="{{ artoFlux.id }}" />
                            <td>
                                <a href="javascript:void(0);">
                                     <img src="/css/skin/famfamfam/add.png" align="right" name="plusArtoFlux" style="width:16px; height:16px;"  class="addArtoFlux"/>
                                </a>
                            </td>
                            <td style="border:1px solid black;">
                                <input name="artoFlux[{{ key }}][name]" type="text" style="width:100px;" value="{{ artoFlux.firstname }}" />
                            </td>
                            <td style="border:1px solid black;">
                                <select class= "nbProducts" name="artoFlux[{{ key }}][nbProducts]" style="width:80px;">
                                    <option value="">- Choisir -</option>
                                    {% for number in 1..10 %}
                                        {% if number == artoFlux.nbProducts %}
                                            <option value="{{ number }}" selected="selected">{{ number }}</option>
                                        {% else %}
                                            <option value="{{ number }}">{{ number }}</option>
                                        {% endif %}    
                                    {% endfor %}    
                                </select>    
                            </td>
                            {% set indice1 = 0 %}
                            <td style="border:1px solid black;" class="productsName">
                                {% for elements in artoFluxProducts %}
                                    {% for element in elements %}
                                        {% if element.fluxUserId == artoFlux.id %}
                                            {% set indice1 = indice1 +1 %}
                                            <input name="artoFlux[{{ key }}][productName{{ indice1 }}]" type="text" style="width:100px;" value="{{ element.name }}" /><br/><br/>
                                        {% endif %}     
                                    {% endfor %}    
                                {% endfor %}
                            </td>
                            {% set indice2 = 0 %}
                            <td style="border:1px solid black;" class="productsReference">
                                {% for elements in artoFluxProducts %}
                                    {% for element in elements %}
                                        {% if element.fluxUserId == artoFlux.id %}
                                            {% set indice2 = indice2 +1 %}
                                            <input name="artoFlux[{{ key }}][productReference{{ indice2 }}]" type="text" style="width:100px;" value="{{ element.reference }}" /><br/><br/>
                                        {% endif %}    
                                    {% endfor %}    
                                {% endfor %}
                            </td>
                            <td style="border:1px solid black;">
                                <input name="artoFlux[{{ key }}][username]" type="text" style="width:100px;" value="{{ artoFlux.username }}" />
                            </td>
                            <td style="border:1px solid black;">
                                <input name="artoFlux[{{ key }}][password]" type="text" style="width:100px;" value="{{ artoFlux.password }}" />
                            </td>
                            <td style="border:1px solid black;">
                                <label name="artoFlux[{{ key }}][dateCreation]" style="width:100px;">{{ artoFlux.createdAt|date('d/m/y') }}</label>
                            </td>
                            <td style="border:1px solid black;">
                                {% for elements in artoFluxProjects %}
                                    {% for element in elements %}
                                        {% if element.greenUser.id == artoFlux.id %}
                                            {% if element.exportedAt != null %}
                                                <label name="artoFlux[{{ key }}][dateLastExport]" style="width:300px;">Projet {{ element.name }} : exporté le {{ element.exportedAt|date('d/m/y') }}</label><br/>
                                            {% endif %}    
                                        {% endif %}
                                    {% endfor %}        
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('acv_gestion_artoFlux_delete', { 'id' : artoFlux.id }) }}#gestionArtoFlux-table">
                                    <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                                </a>
                            </td>
                        </tr>   
                    {% endfor %}
                {% endif %}
                
                {% set key_new = artoFluxParts|length %}
                   <tr class="tr-clone" name="cloneArtoFluxParts" {% if artoFluxParts|length == 0 %}style="display:table-row;"{% endif %}> 
                        <td>
                            <a href="javascript:void(0);">
                                <img src="/css/skin/famfamfam/add.png" align="right" name="plusArtoFlux" style="width:16px; height:16px;"  class="addArtoFlux"/>
                            </a>
                        </td>
                        <td style="border:1px solid black;">
                            <input name="artoFlux[{{ key_new }}][name]" type="text" style="width:100px;" />
                        </td> 
                        <td style="border:1px solid black;">
                            <select class="nbProducts" name="artoFlux[{{ key_new }}][nbProducts]" style="width:80px;">
                                    <option selected="selected" value="">- Choisir -</option>
                                    {% for number in 1..10 %}
                                        <option value="{{ number }}">{{ number }}</option>
                                    {% endfor %}    
                            </select>  
                        </td>
                        <td style="border:1px solid black;" class="productsName"></td>
                        <td style="border:1px solid black;" class="productsReference"></td>
                       
                        <td style="border:1px solid black;">
                            <input name="artoFlux[{{ key_new }}][username]" type="text" style="width:100px;" />
                        </td>
                        <td style="border:1px solid black;">
                            <input name="artoFlux[{{ key_new }}][password]" type="text" style="width:100px;" />
                        </td>
                        <td style="border:1px solid black;">
                            <label name="artoFlux[{{ key_new }}][dateCreation]" style="width:100px;"></label>
                        </td>
                        <td style="border:1px solid black;">
                            <label name="artoFlux[{{ key_new }}][dateLastExport]" style="width:300px;"></label>
                        </td>
                        <td>&nbsp;</td>
                   </tr>   
            </table>
            <br/>
            <label style="font-weight: bold;">
                <i class="icon-warning-sign" style="color: red;"></i><font color="red"> Supprimer un compte fournisseur supprimera aussi tous les projets renseignés par ce fournisseur dans ArtoFlux !</font>
            </label>
            <br/>
            <button type="submit" class="btn btn-info add-row" class="submit">Valider</button>
            <br/><br/>
            {% if forbiddenUsers is defined %}
                {% set nbForbiddenUsers = forbiddenUsers|length %}
                {% if nbForbiddenUsers != 0 %}
                    <label style="font-weight: bold;">
                        <font color="red">Vous ne pouvez pas utiliser l'identifiant suivant : {% for key,forbiddenUser in forbiddenUsers %}{{forbiddenUser}}{% if key != nbForbiddenUsers - 1 %}, {% else %}.{% endif %}{% endfor %} Merci de saisir un nouvel identifiant.</font>
                    </label>
                {% endif %}
            {% endif %}
        </form>
    </div>    
</section>

{% endblock %}