{% extends '::acv_base.html.twig' %}

{% block body %}
<script>
    $(function(){
         // DIALOG /////////////////////////////////////////////////////////////
         var id = '';
         var erase= 'non';
         var deploy= 'non';
         var file = 'non';
         var rename = 'non';
         var move = 'non';
         var idProject = '';
         var name = '';
         
         $( ".dialog-folder" ).dialog({
                autoOpen: false,
                height: 250,
                width: 450
         });
         
         $( ".dialog-checkCodeFolder" ).dialog({
                autoOpen: false,
                height: 130,
                width: 450
         });
         
         $( ".dialog-importExcel" ).dialog({
                autoOpen : false,
                height : 280,
                width : 500
         });
         
         $( ".dialog-checkCodeRoot" ).dialog({
                autoOpen: false,
                height: 130,
                width: 450
         });
         
         $(".select-folder").live('click', function(event) {
            event.preventDefault();
            var projectId = $(this).attr('id');
            var folderId =  $(this).parent().parent().find(".folderId").val();
            
            if(folderId != null){
                $.post("{{ path('acv_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                    if(data.hasCode == 'oui'){
                        move = 'oui';
                        idProject = projectId;
                        id = folderId;
                        $( "#dialog-checkCodeFolder" ).dialog('open');
                    }else{
                        id = projectId;
                        $( '#dialog-folder' ).dialog('open');
                    }
                }, "json");
            }else{
                id = projectId;
                $( '#dialog-folder' ).dialog('open');
            } 
         });
         
         $(".selectDossier").live('change', function(event){
             event.preventDefault();
             var dossierId = $(this).val(); 
             $( '#dialog-folder' ).dialog('close');
             
             $.post("{{ path('acv_project_set_folder') }}", {projectId: id, dossierId: dossierId }, function (data) {
                 location.reload();
             });
             
             id='';
         });

         $(".rename").live('click', function(event) {
             event.preventDefault();
             var renameButton = $(this);
             var projectId = $(this).attr('id');
             var projectName = $(this).attr('name');
             var projectNameElement = renameButton.parent().parent().parent().find(".projectName"+projectId);
       
             projectNameElement.html('<input type="text" name="newName" class="newName" id="'+projectId+'" value="'+projectName+'"/>');
             projectNameElement.show();           
         });
         
         $(".newName").live('change', function(event) {
             event.preventDefault();
             var projectId = $(this).attr('id');
             var newName = $(this).val();
                      
             $.post("{{ path('acv_project_rename') }}", {id: projectId, name: newName }, function (data) {
                 location.reload();
             });
         });
          
         $(".folderNewName").live('change', function(event) {
             event.preventDefault();
             var folderId = $(this).attr('id');
             var folderNewName = $(this).val();
             
             $.post("{{ path('acv_folder_rename') }}", {id: folderId, name: folderNewName }, function (data) {
                 location.reload();
             });
         });
         
         $(".folderDelete").live('click', function(event) {
             var folderId = $(this).parent().parent().find(".folderId").val();
             event.preventDefault();
             erase = 'oui';
             
             $.post("{{ path('acv_folder_hasCode') }}", {folderId: folderId}, function(data) {
                if (data.hasCode == 'non') {
                    erase = 'non';
                    $.post("{{ path('acv_folder_delete') }}", {folderId: folderId}, function(data2) {});
                    location.reload();
                } else {
                    id = folderId;
                    $.post("{{ path('acv_folder_isEmpty') }}", {folderId: id}, function(data) {
                        if (data.isEmpty == 'non') {
                            $("#dialog-checkCodeFolder").dialog('open');
                        } else {
                            $.post("{{ path('acv_folder_delete') }}", {folderId: id}, function(data2) {});
                            location.reload();
                        }
                     }, 'json');
                 }
             }, 'json');
         });
         
         $(".folder").live('click', function(event) {
             console.log("Folder click !");
             event.preventDefault();
             deploy = 'oui';
             var folderId = $(this).parent().parent().find(".folderId").val(); 
             var folderProjects = $(this).parent().parent().parent().find(".folderProject"+folderId);
             var folderProjectsChilds = $(this).parent().parent().parent().find(".folderProjectChild"+folderId);
             
             var folderIcon = $(this).find(".folderIcon"+folderId);
             
             $.post("{{ path('acv_folder_hasCode') }}", {folderId: folderId }, function(data) {
                 if(data.hasCode == 'non'){
                     $.post("{{ path('acv_folder_deploy') }}", {folderId: folderId }, function (data2) { 
                        if(data2.isDeployed == 'oui'){
                            folderProjects.css('display','');
                            folderProjects.css('visibility','visible');
                            folderProjectsChilds.css('display','');
                            folderProjectsChilds.css('visibility','visible');
                            folderIcon.removeClass("icon-folder-close");
                            folderIcon.addClass("icon-folder-open");
                        }else if(data2.isDeployed == 'non'){
                            folderProjects.css('display','none');
                            folderProjects.css('visibility','hidden');
                            folderProjectsChilds.css('display','none');
                            folderProjectsChilds.css('visibility','hidden');
                            folderIcon.removeClass("icon-folder-open");
                            folderIcon.addClass("icon-folder-close");
                        }
                        deploy = 'non';
                    },'json');
                 }else{
                     if(data.isDeployed == 'oui'){
                         folderProjects.css('display','none');
                         folderProjects.css('visibility','hidden');
                         folderProjectsChilds.css('display','none');
                         folderProjectsChilds.css('visibility','hidden');
                         folderIcon.removeClass("icon-folder-open");
                         folderIcon.addClass("icon-folder-close");
                         deploy = 'non';
                     }else{
                        id = folderId;
                        $( "#dialog-checkCodeFolder" ).dialog('open');
                     }
                 }
             },'json'); 
         });
         
         $(".submitPassword").live('click', function(event) {
            console.log("Submit password click !");
            event.preventDefault();
            var password = $(this).parent().find(".password").val();
             
            $.post("{{ path('acv_folder_checkCode') }}", {folderId: id, password: password }, function(data) {
                if(data.isCorrect == 'oui'){
                    $("#dialog-checkCodeFolder").dialog('close');
                    $("#dialog-checkCodeFolder").find(".password").attr('value','');
                    if(deploy == 'oui'){
                        deploy = 'non';
                        
                        var folderProjects = $('.projects').find(".folderProject"+id);
                        var folderProjectsChilds = $('.projects').find(".folderProjectChild"+id);
                        var folderIcon = $('.projects').find(".folderIcon"+id);
                        
                        $.post("{{ path('acv_folder_deploy') }}", {folderId: id }, function (data2) { 
                            if(data2.isDeployed == 'oui'){
                                folderProjects.css('display','');
                                folderProjects.css('visibility','visible');
                                folderProjectsChilds.css('display','');
                                folderProjectsChilds.css('visibility','visible');
                                folderIcon.removeClass("icon-folder-close");
                                folderIcon.addClass("icon-folder-open");
                            }else if(data2.isDeployed == 'non'){
                                folderProjects.css('display','none');
                                folderProjects.css('visibility','hidden');
                                folderProjectsChilds.css('display','none');
                                folderProjectsChilds.css('visibility','hidden');
                                folderIcon.removeClass("icon-folder-open");
                                folderIcon.addClass("icon-folder-close");
                            }
                            id='';
                        },'json');
                    }else if(erase == 'oui'){
                        erase = 'non';
                        if(file == 'oui'){
                            $.post("{{ path('acv_project_delete') }}?id="+idProject, function(data2) {});
                            file = 'non';
                        }else{
                            $.post("{{ path('acv_folder_delete') }}", {folderId : id}, function(data2) {});
                        }
                        idProject = '';
                        id = '';
                        location.reload();
                    }else if(file == 'oui' && rename == 'non'){
                        file = 'non';
                        document.location.href = "{{ path('acv_project_description') }}?id="+idProject;
                        idProject = '';
                    }else if(rename == 'oui'){
                        if(file == 'oui'){
                           file = 'non';
                           rename = 'non';
                           deploy = 'non';
                           var projectNameElement = $(document).find(".projectName"+idProject);
                           projectNameElement.html('<input type="text" name="newName" class="newName" id="'+idProject+'" value="'+name+'"/>');
                           projectNameElement.show();
                           idProject = '';
                           name = '';
                        }else{
                           rename = 'non';
                           deploy = 'non';
                           var folderNameElement = $(document).find('.folder[value="'+id+'"]');
                           var folderNameTdElement = folderNameElement.parent();
                           folderNameTdElement.html('<input type="text" name="folderNewName" class="folderNewName" id="'+id+'" value="'+name+'"/>');
                           folderNameTdElement.show();
                           id = '';
                           name = ''; 
                        }
                    }else if(move == 'oui'){
                        move = 'non';
                        id = idProject;
                        $('#dialog-folder').dialog('open');
                    }
                }else{
                    deploy = 'non';
                    erase = 'non';
                    file = 'non';
                    rename = 'non';
                    move = 'non';
                    alert("Vous avez entré un code invalide, veuillez rentrer un autre code !");
                }
            },'json');
         });
         
         $(".locked").live('click', function(event) {
             var codeInfos = $(this).parent().parent().parent().find('.codeInfos');
             if($(this).attr('checked') == 'checked'){            
                 codeInfos.css('display','');
             }else{
                 codeInfos.css('display','none'); 
             }
         });
         
         $(".importExcel").live('click', function(event) {
            event.preventDefault();
            var projectId = $(this).attr('id');
            id = projectId;
            select_line = $(this).parent().parent().parent().parent();
            $( '#dialog-importExcel' ).dialog('open');
         });
         
         $(".triDossiers").live('change', function(event) {
             event.preventDefault();
             var triDossiers = $(this);
             var lettre = triDossiers.val();
             
             document.location.href ="{{ path('acv_folder_sort')}}?lettre="+lettre;
         });
         
         $("#deleteProjects").live('click', function(event) {
             event.preventDefault();
             $( "#dialog-checkCodeRoot" ).dialog('open');
         });
         
         $(".submitRootPassword").live('click', function(event) {
            event.preventDefault();
            var password = $(this).parent().find(".password").val();
            if(password == 'hh4b32Y'){
                $("#dialog-checkCodeRoot" ).dialog('close');
                $("#deleteProjects").hide();
                $("#confirmDeleteProjects").show();
                $("a").each(
                    function() {
                        if($(this).hasClass('folderDelete')){
                            $(this).removeClass('folderDelete');
                        }
                    }
                );
                $("input[type=checkbox]").each( 
                    function() { 
                        $(this).show();
                    } 
                );
            }else{
                alert("Vous avez entré un code invalide, veuillez rentrer un autre code !"); 
            }
         });
         
         $("#confirmDeleteProjects").live('click', function(event){
             event.preventDefault();
             var r = confirm("Effacer les éléments sélectionnés ?");
             if(r == true){
                $("input[type=checkbox]").each(function() {
                      if($(this).is(':visible')){
                           event.preventDefault();
                           if($(this).is(':checked')){
                               var name = $(this).attr('name');
                               var id = $(this).attr('id');

                               console.log("Name : "+name);
                               console.log("Id : "+id);

                               if(name == "folder"){
                                   console.log("Folder");
                                   var state = $(this).attr('state');
                                   console.log('State : '+state);

                                   if(state == 'non'){
                                       $.post("{{ path('acv_folder_deleteProjects') }}?folderId="+id, function(data) {});
                                   }else{
                                       $.post("{{ path('acv_folder_delete') }}?folderId="+id, function(data2) {});
                                   }
                               }else if(name == "project"){
                                   console.log("Project");
                                   $.post("{{ path('acv_project_delete') }}?id="+id, function(data) {});
                               }
                           }
                      }
                });
             }
             if(r == true){
                location.reload();
             }
         });
         
         $(".projectLink").live('click', function(event){
            console.log("ProjectLink click !");
            event.preventDefault();
            var folderId = $(this).parent().parent().find(".folderId").val();
            var projectId = $(this).parent().parent().find(".projectId").val();
            
            $.post("{{ path('acv_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                if(data.hasCode == 'oui'){
                    file = 'oui';
                    deploy = 'non';
                    id = folderId;
                    idProject = projectId;
                    $( "#dialog-checkCodeFolder" ).dialog('open');
                }
            }, "json");
         });
         
         $(".projectDelete").live('click', function(event){
             event.preventDefault();
             var folderId =  $(this).parent().parent().find(".folderId").val();
             var projectId = $(this).parent().parent().find(".projectId").val();
             
             $.post("{{ path('acv_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                 if(data.hasCode == 'oui'){
                     erase = 'oui';
                     file = 'oui';
                     deploy = 'non';
                     id = folderId;
                     idProject = projectId;
                     $( "#dialog-checkCodeFolder" ).dialog('open');
                 }else{
                     $.post("{{ path('acv_project_delete') }}", {id: projectId}, function(data2) {});
                     idProject = '';
                     location.reload();
                 }
             }, "json");         
         });
         
         $(".projectRename").live('click', function(event){
             event.preventDefault();
             var folderId =  $(this).parent().parent().find(".folderId").val();
             var projectId = $(this).parent().parent().find(".projectId").val();
             var projectName = $(this).attr('name');
             var projectNameElement = $(document).find(".projectName"+projectId);
             
             $.post("{{ path('acv_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                 if(data.hasCode == 'oui'){
                     rename = 'oui';
                     file = 'oui';
                     deploy = 'non';
                     id = folderId;
                     idProject = projectId;
                     name = projectName;
                     $( "#dialog-checkCodeFolder" ).dialog('open');
                 }else{
                     projectNameElement.html('<input type="text" name="newName" class="newName" id="'+projectId+'" value="'+projectName+'"/>');
                     projectNameElement.show();  
                 }
             }, "json"); 
         });
         
         $(".folderRename").live('click', function(event) {
             event.preventDefault();
             var folderId = $(this).attr('id');
             var folderName = $(this).attr('name');
             var folderNameElement = $(document).find('.folder[value="'+folderId+'"]');
             
             $.post("{{ path('acv_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                 if(data.hasCode == 'oui'){
                     rename = 'oui';
                     file = 'non';
                     deploy = 'non';
                     id = folderId;
                     name = folderName;
                     $( "#dialog-checkCodeFolder" ).dialog('open');
                 }else{
                     folderNameElement.html('<input type="text" name="folderNewName" class="folderNewName" id="'+folderId+'" value="'+folderName+'"/>');
                     folderNameElement.show();
                 }
             }, "json"); 
         });
         
         $("#folder-create").live('click', function(event) {
            event.preventDefault();
            var userId = $(document).find('.userId').val();
            
            $.post("{{ path('acv_folder_authorized') }}", { userId : userId }, function(data) {
                if(data.authorized == 'non'){
                  console.log("Nombre de dossiers "+data.nbFolders)
                  //alert("Vous avez dépassé la limite de postes autorisés par votre licence ! Veuillez vous mettre en relation avec l'équipe Artogreen !");   
                }
            }, "json");
         });
     });
</script>    
<section class="main">
    <input type="hidden" name="userId" class="userId" value ="{{ user }}"/>
    <div class="floatL" style="width: 760px">
        <h2>Mes projets</h2>
        
        {% if folders|length != 0 or myLetter != '' %}
            <table name="tri">
                <tr>
                    <td>
                        <h5>Filtrer les dossiers sur une lettre : </h5>
                    </td>
                    <td>
                        <select class="triDossiers" style="width:100px; height: 30px;">
                            <option value="" {% if myLetter == '' %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for letter in folderLetters %}
                                <option value="{{letter}}" {% if myLetter == letter %}selected="selected"{% endif %}>{{letter}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        {% endif %}
        
        {% if myLetter != '' %}
            <table>
                <tr>
                    <td>
                        <h5>Pour annuler le filtre, veuillez sélectionner "- Choisir -"</h5>
                    </td>
                </tr>
            </table>    
        {% endif %}
        
        <table class="projects table">
            {% for folder in folders %}
                <tr>
                    <td><input type="hidden" class="folderId" value="{{ folder.id }}"></td>
                    <td><input type="checkbox" class="selectForDelete" state="{{ folder.isDeployed }}" name="folder" id="{{ folder.id }}" style="display:none;"/></td>
                    <td>
                        <a class="folder" value="{{ folder.id }}" href="#">
                            {% if folder.isDeployed == 'non' %}
                                <i class="icon-folder-close folderIcon{{folder.id}}"></i>
                            {% else %}
                                <i class="icon-folder-open folderIcon{{folder.id}}"></i>
                            {% endif %}
                            {{ folder.name }}
                        </a>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="text-align: right">Créé le {{folder.createdAt|date('d/m/Y') }}</td>
                    <td width="110">
                        <a href="#" class="delete folderDelete" title="Effacer">
                            <i class="icon-remove-sign"></i>
                        </a>
                        <a href="#" class="folderRename" id="{{folder.id}}" name="{{folder.name}}" title="Renommer">
                            <i class="icon-pencil"></i>
                        </a>
                        {% if folder.code != '' %}
                            <i class="icon-lock" title="Dossier verrouillé"></i>
                        {% endif %}
                    </td>
                </tr>
                    {% for project in folder.projects %}
                        {% if project.massUnit == 'g' %}
                            {% set weightLabelled = project.firstProduct.weight %}
                        {% elseif project.massUnit == 'kg' %}
                            {% set weightLabelled = project.firstProduct.weight/1000 %}
                        {% elseif project.massUnit == 't' %}
                            {% set weightLabelled = project.firstProduct.weight/1000000 %}
                        {% endif %}
                        <tr class="folderProject{{ folder.id }}" {% if folder.isDeployed == 'non' %}style="visibility:hidden; display: none;"{% endif %} >
                            <td><input type="hidden" class="projectId" value="{{ project.id }}"></td>
                            <td><input type="hidden" class="folderId" value="{{ folder.id }}"/></td>
                            <td class="projectName{{project.id}}">
                                <a href="{{ path('acv_project_description') }}?id={{ project.id }}" class="indent {% if folder.code !='' %}projectLink{% endif %}">
                                    <img src="/css/skin/famfamfam/building.png" />{{ project.name }}
                                </a>
                            </td>
                            <td>{{ project.firstProduct.assemblies|length }} {% if project.firstProduct.assemblies|length == 1 %} niveau{% else %} niveaux{% endif %}</td>
                            <td>{{ "%g"|format(weightLabelled) }} {{ project.massUnit }}</td>
                            <td style="text-align: right">Créé le {{ project.createdAt|date('d/m/Y') }}</td>
                            <td width="110">
                                <a href="{{ path('acv_project_delete') }}?id={{ project.id }}" class="delete projectDelete" title="Effacer">
                                    <i class="icon-remove-sign"></i>
                                </a>
                                {% if project.childs|length == 0 %}
                                    <a href="{{ path('acv_project_duplicate', { 'id' : project.id }) }}" class="duplicate" title="Dupliquer">
                                        <i class="icon-copy"></i>
                                    </a>
                                {% endif %}    
                                <a href="#" class="projectRename" name="{{project.name}}" title="Renommer">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" id="{{ project.id }}" class="select-folder" title="Déplacer dans dossier">
                                    <i class="icon-tag"></i>
                                </a>
                                <!--<a href="#" id="{ project.id }" class="importExcel" title="Importer"><i class="icon-upload"></i></a>!-->
                                <a href="{{ path('acv_export', { 'project' : project.id, 'id': project.firstProduct.id }) }}" title="Exporter en Excel"><i class="icon-download"></i></a>
                                <a href="{{ path('acv_exportPDF', {'project': project.id, 'pdf' : 1 }) }}" id="{{ project.id }}" class="exportToPDF" title="Exporter en PDF">
                                    <i class="fa fa-file-pdf-o"></i>
                                </a>
                            </td>
                        </tr>
                        {% for child in project.childs %}
                            {% if child.greenUser.id == user %}
                                {% if project.massUnit == 'g' %}
                                    {% set weightLabelled = child.firstProduct.weight %}
                                {% elseif project.massUnit == 'kg' %}
                                    {% set weightLabelled = child.firstProduct.weight/1000 %}
                                {% elseif project.massUnit == 't' %}
                                    {% set weightLabelled = child.firstProduct.weight/1000000 %}
                                {% endif %}
                                <tr class="folderProjectChild{{ folder.id }}" {% if folder.isDeployed == 'non' %}style="visibility: hidden; display: none;"{% else %}style="background: #fff"{% endif %}>
                                    <td><input type="hidden" class="projectId" value="{{ child.id }}"></td>
                                    <td><input type="hidden" class="folderId" value="{{ folder.id }}"/></td>
                                    <td class="projectName{{child.id}}">
                                        <a href="{{ path('acv_project_description') }}?id={{child.id }}" class="bigIndent {% if folder.code !='' %}projectLink{% endif%}">
                                            <img src="/css/skin/famfamfam/building.png" /> {{ child.name }}
                                        </a>
                                    </td>
                                    <td>{{ child.firstProduct.assemblies|length }} {% if child.firstProduct.assemblies|length == 1 %} niveau{% else %} niveaux{% endif %}</td>
                                    <td>{{ "%g"|format(weightLabelled) }} {{ project.massUnit }}</td>
                                    <td style="text-align: right">Créé le {{ child.createdAt|date('d/m/Y') }}</td>
                                    <td width="110">
                                        <a href="{{ path('acv_project_delete') }}?id={{ child.id }}" class="delete projectDelete" title="Effacer">
                                            <i class="icon-remove-sign"></i>
                                        </a>
                                        <a href="#" class="projectRename" id="{{child.id}}" name="{{child.name}}" title="Renommer">
                                            <i class="icon-pencil"></i>
                                        </a>
                                        <a href="{{ path('acv_export', { 'project' : child.id, 'id': child.firstProduct.id }) }}" title="Exporter en Excel"><i class="icon-download"></i></a>
                                        <a href="{{ path('acv_exportPDF', {'project': child.id, 'pdf' : 1 }) }}" id="{{ child.id }}" class="exportToPDF" title="Exporter en PDF">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}          
            {% endfor %}  
            
            {% if projectsWF is defined %}                    
                {% for project in projectsWF %}
                    {% if project.massUnit == 'g' %}
                        {% set weightLabelled = project.firstProduct.weight %}
                    {% elseif project.massUnit == 'kg' %}
                        {% set weightLabelled = project.firstProduct.weight/1000 %}
                    {% elseif project.massUnit == 't' %}
                        {% set weightLabelled = project.firstProduct.weight/1000000 %}
                    {% endif %}           
                    <tr>
                        <td><input type="hidden" class="projectId" value="{{ project.id }}"></td>
                        <td><input type="checkbox" name="project" id="{{ project.id }}" class="selectForDelete" style="display:none;"/></td>
                        <td class="projectName{{project.id}}">
                            <a href="{{ path('acv_project_description') }}?id={{ project.id }}">
                                <img src="/css/skin/famfamfam/building.png" /> {{ project.name }}
                            </a>
                        </td>
                        <td>{{ project.firstProduct.assemblies|length }} {% if project.firstProduct.assemblies|length == 1 %} niveau{% else %} niveaux{% endif %}</td>
                        <td>{{ "%g"|format(weightLabelled) }} {{ project.massUnit }}</td>
                        <td style="text-align: right">Créé le {{ project.createdAt|date('d/m/Y') }}</td>
                        <td width="110">
                            <a href="{{ path('acv_project_delete') }}?id={{ project.id }}" class="delete" title="Effacer">
                                <i class="icon-remove-sign"></i>
                            </a>
                            {% if project.childs|length == 0 %}
                                <a href="{{ path('acv_project_duplicate', { 'id' : project.id }) }}" class="duplicate" title="Dupliquer"><i class="icon-copy"></i></a>
                            {% endif %}    
                            <a href="#" class="rename" id="{{project.id}}" name="{{project.name}}" title="Renommer">
                                <i class="icon-pencil"></i>
                            </a>
                            <a href="#" id="{{ project.id }}" class="select-folder" title="Déplacer dans dossier">
                                <i class="icon-tag"></i>
                            </a>
                            <!--<a href="#" id="{ project.id }" class="importExcel" title="Importer"><i class="icon-upload"></i></a>!-->
                            <a href="{{ path('acv_export', { 'project' : project.id, 'id': project.firstProduct.id }) }}" title="Exporter en Excel"><i class="icon-download"></i></a>
                            <a href="{{ path('acv_exportPDF', {'project': project.id, 'pdf' : 1 }) }}" id="{{ project.id }}" class="exportToPDF" title="Exporter en PDF">
                                <i class="fa fa-file-pdf-o"></i>
                            </a>
                        </td>
                    </tr>
                    {% for child in project.childs %}
                        {% if child.greenUser.id == user %}
                            {% if project.massUnit == 'g' %}
                                {% set weightLabelled = child.firstProduct.weight %}
                            {% elseif project.massUnit == 'kg' %}
                                {% set weightLabelled = child.firstProduct.weight/1000 %}
                            {% elseif project.massUnit == 't' %}
                                {% set weightLabelled = child.firstProduct.weight/1000000 %}
                            {% endif %}
                            <tr style="background: #fff">
                                <td><input type="hidden" class="childId" value="{{ child.id }}"></td>
                                <td><input type="checkbox" name="project" id="{{ child.id }}" class="selectForDelete" style="display:none;"/></td>
                                <td class="projectName{{child.id}}">
                                    <a href="{{ path('acv_project_description') }}?id={{ child.id }}" class="indent">
                                        <img src="/css/skin/famfamfam/building.png" /> {{ child.name }}
                                    </a>
                                </td>
                                <td>{{ child.firstProduct.assemblies|length }} {% if child.firstProduct.assemblies|length == 1 %}  niveau{% else %} niveaux{% endif %}</td>
                                <td>{{ "%g"|format(weightLabelled) }} {{ project.massUnit }}</td>
                                <td style="text-align: right">Créé le {{ child.createdAt|date('d/m/Y') }}</td>
                                <td width="110">
                                    <a href="{{ path('acv_project_delete') }}?id={{ child.id }}" class="delete" title="Effacer">
                                        <i class="icon-remove-sign"></i>
                                    </a> 
                                    <a href="#" class="rename" id="{{child.id}}" name="{{child.name}}" title="Renommer">
                                        <i class="icon-pencil"></i>
                                    </a>
                                    <a href="{{ path('acv_export', { 'project' : child.id, 'id': child.firstProduct.id }) }}" title="Exporter en Excel"><i class="icon-download"></i></a>
                                    <!--<a href="{# path('acv_exportPDF', {'project': project.id, 'pdf' : 1 }) #}" id="{# project.id #}" class="exportToPDF" title="Exporter en PDF">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>-->
                                </td>
                            </tr>
                        {% endif %}    
                    {% endfor %}
                {% endfor %}
            {% endif %}                
        </table>
        
        <button id="project-import-nomenclature" class="btn btn-info" style="display:none;"><i class="icon-upload"></i> Importer une nomenclature dans un projet existant</button>
        
        <br><br>
        <button id="deleteProjects" class="btn btn-info" style="display:none;"><i class="icon-remove-sign"> Effacer des projets/dossiers</i></button>
        <button id="confirmDeleteProjects" class="btn btn-info" style="display: none;"><i class="icon-remove-sign"> Effacer</i></button>
        
        <br><br>
        <p style="font-size: 120%; line-height: 12px;">
            1- Créer un dossier<br><br>
            <button id="folder-create" class="btn btn-info"><i class="icon-plus"></i> Créer un nouveau dossier</button><br><br>
            2- Le verrouiller par un code, si nécessaire <i class="icon-lock"></i><br><br><br>
            3- Créer un projet<br><br>
            <button id="project-create" class="btn btn-info"><i class="icon-plus"></i> Créer un nouveau projet</button><br><br>
            4- Déplacer le projet dans le dossier approprié <i class="icon-tag"></i>
        </p> 
        
        <div id="project-name">
            <form action="{{ path('acv_project_create') }}" method="post">
                <table>
                    <tr>
                        <td><label>Nom du projet</label></td>
                        <td><input type="text" name="name" /></td>
                    </tr>
                    <tr>
                        <td><label>Placer dans dossier ?</label></td>
                        <td>
                            <select name="dossier" class="selectDossier">
                                <option value="">Aucun dossier</option>
                                    {% for folder in folders %}
                                        <option value="{{ folder.id }}">{{ folder.name }}</option>
                                    {% endfor %} 
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><button type="submit" style="margin-top: 5px" class="btn btn-success">Valider</button></td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="folder-name">
            <form action="{{ path('acv_folder_create') }}" method="post">
                <table>
                    <tr>
                        <td>
                            <label>Nom du dossier</label>
                        </td>
                        <td>
                            <input type="text" name="name" autocomplete="off" readonly onfocus= "this.removeAttribute ('readonly');" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Verrouiller ce dossier par code ?</label>
                        </td>
                        <td>
                            <input type="checkbox" class="locked" name="locked" value="yes" />
                        </td>
                    </tr>
                    <tr class="codeInfos" style="display: none;">
                        <td>
                            <label>Code : </label>
                        </td>
                        <td>
                            <input type="text" name="code" class="code" autocomplete="off" readonly onfocus= "this.removeAttribute ('readonly');"  />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" style="margin-top: 5px" class="btn btn-success">Valider</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        
        <div id="importExcel">
            <form method="POST" action="{{ path('acv_import_excel')}}" enctype="multipart/form-data">
                <input type="hidden" name="MAX_FILE_SIZE" value="100000">
                Fichier : <input type="file" name="excel">
                <input type="submit" name="envoyer" value="Envoyer le fichier">
            </form>
        </div>
    </div>
        
    <div class="floatR">
        <img src="/images/acv/acv.jpg" style="width:270px; height: 300px;"/>
        <br/>
        <table>
            <tr>
                <td><i class="icon-pencil"></i> : Renommer</td>
            </tr>
            <tr>
                <td><i class="icon-remove-sign"></i> : Effacer</td>
            </tr>
            <tr>
                <td><i class="icon-tag"></i> : Déplacer dans dossier</td>
            </tr>
            <tr>
                <td><i class="icon-lock"></i> : Dossier verrouillé</td>
            </tr>
            <tr>
                <td><i class="icon-copy"></i> : Dupliquer</td>
            </tr>
            <!--<tr>
                <td><i class="fa fa-file-pdf-o"></i> : Exporter en PDF</td>
            </tr> !-->
            <!--<tr>
                <td><i class="icon-upload"></i> : Import Excel</td>
            </tr>!-->
            <tr>
                <td><i class="icon-download"></i> : Exporter en Excel</td>
            </tr>
        </table>    
    </div>
    <div class="clear"></div>
    
    <!-- DIALOG BOXES -->
    <div id="dialog-folder" class="dialog-folder" title="Choisir un dossier">
        <form method="post" action="#">
            <div class="row">
                <label>Dossiers</label>
                <select name="dossier" class="selectDossier">
                    <option selected="selected">- Selectionner -</option>
                    <option value="">Aucun dossier</option>
                    {% for folder in folders %}
                        <option value="{{ folder.id }}">{{ folder.name }}</option>
                    {% endfor %}   
                </select>
            </div>
        </form>
    </div>
    
   <div id="dialog-checkCodeFolder" class="dialog-checkCodeFolder" style="overflow:hidden;" title="Entrer le code">
        <form method="post" action="#">
            <div class="row">
                <label>Ce projet est verrouillé, veuillez saisir le code (code fichier = code dossier) </label>
                <input type="text" name="password" class="password" style="text-security:disc; -webkit-text-security:disc;">
                <button type="submit" style="margin-top: 5px" class="btn btn-success submitPassword">Valider</button>
            </div>
        </form>
    </div>
    
    <div id="dialog-checkCodeRoot" class="dialog-checkCodeRoot" style="overflow:hidden;" title="Entrer le code">
        <form method="post" action="#">
            <div class="row">
                <label>Pour utiliser cette fonction, veuillez saisir le code d'administration</label>
                <input type="password" name="password" class="password"/>
                <button type="submit" style="margin-top: 5px" class="btn btn-success submitRootPassword">Valider</button>
            </div>
        </form>
    </div>
    
    <div id="dialog-importExcel" class="dialog-importExcel" style="overflow: hidden;" title="Import Excel">
            <form method="POST" action="{{ path('acv_import_excel')}}" enctype="multipart/form-data">
                <div class="row">
                    <!--<input type="hidden" name="MAX_FILE_SIZE" value="100000">!-->
                    <table>
                        <tr>
                            <td>
                                <label>
                                    <b>1. Télécharger le fichier Excel d'import</b>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('acv_import_file_download') }}" title="Ici" style="color:blue;">Fichier Excel d'import</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <b>2. Une fois rempli, importez votre nomenclature dans le projet de votre choix</b>
                                </label>        
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Votre nomenclature Excel : </label><input type="file" name="excel" /> 
                            </td>
                        </tr>
                        <tr> 
                            <td>
                                <label style="display:inline;">Importer dans le projet : </label>
                                <select name="choixProjet" class="choixProjet">
                                    <option>- Choisir -</option>
                                    {% for folder in folders %}
                                        {% for project in folder.projects %}
                                            <option value="{{ project.id }}">{{ project.name }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                    
                                    {% if projectsWF is defined %}
                                        {% for project in projectsWF %}
                                            <option value="{{ project.id }}">{{ project.name }}</option>
                                        {% endfor %}    
                                    {% endif %}        
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" style="margin-top: 5px" class="btn btn-success submitImportExcel">Valider</button>  
                            </td>
                        </tr>
                    </table>       
                </div>    
            </form>
        </div>
</section>

{% endblock %}