{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = "instructions" %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}

<script>
    $(function(){
        $(".simulation").live('click',function(event){
            //event.preventDefault();
            var weight = {{ product.weight }};
            console.log("Poids : "+weight);
            if(weight == 0){
                alert("Vous n'avez pas entré de masse !");
                event.preventDefault();
            }
        });
    });
</script>

<section class="main transverse">
    <div style="text-align: justify;">
        <p style="font-size: 105%; line-height: 18px;">
            <b> ArtoACV</b> est une solution web simplifiée, dédiée à la sensibilisation et à la compréhension pour la prise en compte de l’environnement en prenant en considération tout le cycle de vie du produit. Il permet donc de calculer l'impact environnemental d'un concept ou un produit sur l'ensemble de son cycle de vie. Les résultats de cette évaluation ont pour objectifs de : 
            <br/>- dégager des ordres de grandeurs et des paramètres clés pour devenir des leviers d’actions de modifications du concept de produit, 
            <br/>- fournir d’emblée des orientations visant une réduction des impacts environnementaux, 
            <br/>- fournir un éclairage sous forme graphique, d’un affichage sous forme d’une étiquette et de synthèses facilement interprétables et directement présentables.
        </p>
        
        <h2>Sources des données et indicateurs</h2>
             <h3>1 - Bases de données utilisées</h3>
             <p style="font-size: 105%; line-height: 18px;">
                La modélisation ACV est réalisée à partir de données disponibles :
                <br/>- ELCD (European Life Cycle Database),
                <br/>- APME (Association of Plastics Manufacturers in Europe)
                <br/>- OFEPP (Office Fédéral de l’Environnement des Forêts et du Paysage)
             </p>   
             
             <h3>2 - Normes</h3>
             <p style="font-size: 105%; line-height: 18px;">
                 <b>ArtoACV</b> s’appuie sur les normes ISO 14040, 14044, 14021 comportant les phases suivantes :
                <br/>- la définition du service rendu ou de l’unité fonctionnelle,
                <br/>- la construction de l’inventaire de cycle de vie (ICV) : collecte des données,
                <br/>- l’évaluation de l’impact du cycle de vie : analyse de l’inventaire selon l'approche multicritères,
                <br/>- l’interprétation du cycle de vie : analyse des indicateurs d’impact. 
             </p>
             
             <h3>3 - Limites de l'outil</h3>
             <p style="font-size: 105%; line-height: 18px;">
                ArtoACV est une solution d’ACV simplifiée, sensibilisatrice et facile de prise en main dans le sens où les modules ICV utilisés ne disposent pas des flux élémentaires. Des fonctionnalités faciles d’utilisation, d’aides et astuces (champs pré-remplis, intuitifs, aides de qualité,…) ont été développées afin de simplifier la méthode. Le but étant de dégager des ordres de grandeurs et non pas de quantifier et obtenir des valeurs d’impacts absolues et précises. Dans ce dernier cas, il sera nécessaire d’utiliser d’autres logiciels d'experts d'ACV. 
             </p>
             
        <h2>Frontière du système </h2>
        <p style="font-size: 105%; line-height: 18px;">
            Les phases de cycle de vie suivantes sont comptabilisées :
            <br/>- la phase de fabrication: de l’extraction des ressources naturelles jusqu’à la fabrication du produit et sa mise à disposition à la dernière plate-forme logistique du producteur,
            <br/>- la phase d’utilisation comprend l’utilisation et la maintenance nécessaire à garantir l’aptitude à l’usage, 
            <br/>- la phase d’installation qui prend en compte l’installation du produit sur le lieu de mise en œuvre,
            <br/>- la phase de distribution : de la plate-forme logistique du producteur jusqu’à son arrivée sur le lieu de mise en œuvre,
            <br/>- la phase de fin de vie qui prend en compte le transport du produit en fin de vie vers un centre de traitement ou une décharge et le traitement de fin de vie.
        </p>
        
        <h2>Description du produit</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Définir le produit à modéliser et les informations complémentaires :
            <br/>- la référence, sa désignation et la photo du produit, la gamme de produit, la ou les zones de commercialisation
            <br/>- son Unité Fonctionnelle (UF)
            <br/>- liste des produits constituant l'UF
            <br/>- la configuration des transports
            <br/><br/>Les données spécifiques de transport saisies dans l’onglet du produit de référence, peuvent être prises en compte pour comptabiliser les transports (km parcourus, types de transport) en sélectionnant « Transports détaillés saisis pour chaque matière », ou en cas de non disponibilité de ces données, des données moyennes pénalisantes sont à prendre en compte :
            <br/>- Transport mondial : 19000km par bateau plus 1000km par camion
            <br/>- Transport intracontinental : 3500km par camion 
            <br/>- Transport local : 1000km par camion
            <br/><br/><b>Note :</b> Le type de transport camion correspondant à ces scénarios moyen pénalisants est le transport par camion > 32T à moitié plein et avec retour à vide.
        </p>
        
        <h2>Phase de fabrication</h2>
        <p style="font-size: 105%; line-height: 18px;">
           La phase de fabrication est la mise à disposition des éléments constitutifs du flux de référence. Les processus suivants sont à comptabiliser dans la phase FABRICATION sous la forme d'une arborescence :
           <br/>Niveau 1 : le composé (ex: carte électronique, emballage, capot ...)
           <br/>Niveau 2 : les composants constituant le composé comprenant :
           <br/>
           <ul>
               <li>- Production de Matière/Additifs/Composants électroniques</li>
               <li>- Production (Extraction, traitement, transformation…) et transport des matières premières nécessaires à la fabrication des composants</li>
               <li>- Fabrication des différentes pièces et composants</li>
               <li>- Fabrication des matériaux de l’emballage élémentaire du produit de référence</li>
               <li>- Transport des matériaux, composants et sous-ensembles depuis leur lieu de fabrication chez les fournisseurs jusque sur leur(s) site(s) d’assemblage chez le producteur quel que soit le mode de transport utilisé</li>  
           </ul>
           
           <br/><br/><h3>La règle de coupure</h3>
           Tous les flux entrant dans le champ de l’étude pouvant être remontés doivent être remontés jusqu’aux flux élémentaires. En cas d’indisponibilité des données, la règle de coupure suivante doit s’appliquer :
           <br/>La masse des éléments des flux non remontés doit être inférieure ou égale à 5% de la masse des éléments du flux de référence correspondant à l’unité fonctionnelle.
           <br/><br/>Une aide permet de renseigner sur l’état des masses de flux renseignées dans l’application.
           <br/><br/>L’objectif étant de remonter 100% (+ ou – 5%) de la masse réelle du produit renseignée dans « Projet/Liste des produits constituants l'UF »
           <br/><br/>- Saisir toutes les données techniques liées aux « Matières/additifs/composants électroniques et l’emballage »
           <br/>- Saisir les données techniques des procédés technologiques associées aux  Matières/ additifs/composants/emballage »
           
           <br/><br/><h3>Des visuels adaptés</h3>
           Des icônes spécifiques sont utilisés afin d’aider la collecte des données : 
           <br/>- <strong style="background-color: #005580; color: #fff; font-size: 80%">M</strong> pour « Matière »
           <br/>- <strong style="background-color: #C06; color: #fff; font-size: 80%">C</strong> pour « Composant électronique »
           <br/>- <strong style="background-color: #f18d05; color: #fff; font-size: 80%">P</strong> pour « Procédé »
           <br/><br/>La possibilité d’ajouter à l’aide de <img src="/images/acv/instructions13.png" style="height:18px;"/> des charges (additifs, colorants, ignifugeants,…) aux Matières plastiques ou des procédés additionnels tels qu’un traitement de surface.
          
           <br/><br/><h3>L’arborescence ou la nomenclature du produit</h3>
           En appuyant sur le bouton <img src="/images/acv/instructions17.png" style="height:18px;"/>, l’arborescence du produit  modélisée dans l’application apparait, utile pour visualiser l’ensemble de la nomenclature
           
           <br/><br/><h3>Calcul des déchets de fabrication</h3>
           <br/>Les impacts des déchets de production comprenant les déchets, les rebuts, chutes,..., dus aux procédés de fabrication, appelés "Déchets de production" sont automatiquement modélisés et calculés par l'application. Ils sont incorporés dans le bilan et calcul des impacts à l'étape "Fabrication". Ils sont identifiables dans l'onglet "Simulation"/"Pistes de réduction d'impacts". La règle qui a été prise pour leur modélisation est la suivante :
           <br/>- l'impact "Transport 27 T" pour se rendre vers le centre de traitement, et
           <br/>- l'impact "Traitement/Mise en décharge" des matériaux en considérant les % suivants:
           <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- pour les composants et cartes électroniques, le taux de déchet de fabrication = <b>13%</b>.
           <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- pour les pièces plastiques, le taux de déchets = <b>12%</b>.
           <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- pour les pièces métalliques, le taux de déchets = <b>32%</b>.
           
           <br/><br/><h3>Choix de la carte électronique</h3>
           - Cartes «riches» contiennent des composants précieux (or) en grand nombre sur les deux côtés de la carte (cartes mères des ordinateurs ou des serveurs).
           <br/>- Cartes «pauvres» contiennent  peu de composants sur un seul côté de la carte où il n'y a pas de puces et où tout est étamé. 
        </p>
        
        <h2>Phase d'utilisation</h2>
        <p style="font-size: 105%; line-height: 18px;">
           La phase d’utilisation du produit de référence prend en compte un fonctionnement dans les conditions normales d’usage du produit. Les scénarios d’utilisation font apparaître les fonctionnalités du produit. Les processus suivants sont à comptabiliser dans la phase utilisation:
           <br/>- La consommation d’énergie lors de la durée de vie du produit
           <br/>- Les éléments nécessaires pour le fonctionnement, l’entretien et la maintenance
           <br/>- Les consommables nécessaires à l’utilisation du Produit de Référence durant la phase d'utilisation
           <br/>- Les procédés, composants et énergie comptabilisés dans la phase d’installation
        </p>
        
        <h2>Phase de distribution</h2>
        <p style="font-size: 105%; line-height: 18px;">
           Les processus suivants sont comptabilisés dans la phase distribution :
           <br/>1. Le transport du flux de référence depuis la plateforme logistique du producteur jusqu’au distributeur
           <br/>2. Le transport du flux de référence depuis le site du distributeur jusqu’au lieu de mise en œuvre.
        </p>
        
        <h2>Phase de fin de vie</h2>
        <h3>Potentiel de recyclabilité du produit</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Le potentiel de recyclabilité du produit affiché lors de l'étape « Fin de vie » utilise la méthode décrite dans le rapport technique CEI/TR 62635. 
            <br/>Elle ne préjuge pas de l'utilisation effective de filières technologiques en fin de vie des produits. 
            <br/>Ce taux de recyclabilité est une réponse donnée à l'approche de l'économie circulaire consistant à  mettre en place un nouveau modèle économique qui minimise les déchets et permet de mieux les réemployer (les déchets des uns deviennent les matières premières des autres). 
            <br/>Cette approche permet de donner de formidables avantages compétitifs aux entreprises en baissant considérablement les coûts de production. 
            <br/>Les 7 piliers de l'économie circulaire sont l’éco-conception, l'écologie industrielle, l'économie de la fonctionnalité, le réemploi, la réparation, la réutilisation et le recyclage.
        </p>
        <br/>
        <p style="font-size: 105%; line-height: 18px;">
           Les processus liés à la fin de vie sont inclus dans les frontières du système en comptabilisant :
           <br/>1. La phase de fin de vie prend en compte le transport du produit en fin de vie vers un centre de traitement ou une décharge et le traitement de fin de vie en prenant la distance de 1000 km, distance moyenne pénalisante entre le site de mise en œuvre et le site de mise en décharge ou de traitement
           <br/>2. Les procédés d’élimination des déchets (en % mise en décharge ou en % d’incinération avec valorisation énergétique)
        </p>
        
        <h2>Bilan et Aides à l’interprétation des résultats</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Le bilan-résultat généré est rapide, convivial et très facilement interprétable et compréhensible par les acteurs, dès les premières étapes de conception du concept et/ou du produit. Il se présente sous forme d’histogramme et sous forme de rapport de synthèse facilement interprétable et sont directement présentables pour décision finale à la direction lors de la revue de conception. Les données de sortie peuvent se présenter comme suit : un classement par impact sur l’environnement et par phase du cycle de vie, un classement général des produits, un rapport de synthèse avec des conseils de conception :<br/><br/>
            Ce bilan des indicateurs d'impacts est présenté :<br/><br/>
            - en valeurs absolues<br/>
            - en valeurs relatives sur 100% en cliquant sur l'icône en fond bleu, appelé "Absolu/Relatif (%)"<br/><br/>
            Dans le but de faciliter la lecture et la compréhension, les valeurs relatives permettent de mettre en perspective les indicateurs et les étapes du cycle de vie contributeurs d'impacts. Le bilan est présenté également avec la moyenne des impacts en valeurs relatives (%; à droite de l'histogramme, en rouge). Ces valeurs moyennes montrent les étapes du cycle de vie du produit les plus contributrices en termes d'impacts sur l'environnement. Des leviers d'amélioration sont proposés aux concepteurs afin qu'ils se focalisent sur les grandes options technologiques à mettre en oeuvre pour réduire voire supprimer les impacts du produit en cours de conception sur l'environnement.
            <br/><br/>Des outils de simulation sont possibles sur le choix des matériaux, les matériaux recyclés, les procédés,… procurant un grand degré de liberté du concepteur, la restriction des substances dangereuses ou de certains matériaux. Le résultat de la simulation permet d’identifier facilement et plus rapidement les articles entre eux de la nomenclature du produit et les matériaux constituants le produit. Ces simulations possibles sur plusieurs scénarios, sont facilement accessibles par les utilisateurs, donnant les leviers d’amélioration encore possibles dès la phase de conception.
            <br/><br/>Ce sont des outils d’aide à la décision d’investir dans le développement du produit :
            <br/><br/>Les évaluations de plusieurs concepts de produits peuvent être comparées lors de la conception afin d’assurer l’éco-conception du concept retenu :
        </p>
         
        <h2>La comparaison de 2 projets</h2>
        <p style="font-size: 105%; line-height: 18px;">
            L’application permet de comparer le Projet A en cours et un autre Projet B.
            <br/>Les leviers de réduction des impacts proposés lors du bilan des résultats et travaillés par les simulations de choix des matériaux et des procédés de fabrication ou autres pistes d’améliorations sont pris en compte dans un Projet B. Dans ce cas, le Projet A est dupliqué devient le Projet B qui est modélisé sur la base du Projet A. 
            <br/>Le Projet B est à son tour modélisé en considérant seulement les modifications dans tous les onglets (fabrication, utilisation, distribution et fin de vie).
            <br/><br/>Les résultats d’impacts du Projet B sont comparés au Projet A en considérant à la fois :
            <br/>- Tous les indicateurs d'impact
            <br/>- Le risque de transfert d’impact entre les indicateurs (visuels de couleur verte si pas de transfert et de couleur rouge si transfert)
            <br/>Une règle est définie pour caractériser le Projet éco-conçu (Projet B par rapport au Projet A)
        </p>
    </div>
</section>

{% endblock %}