{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = "instructions" %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}

<script>
    $(function(){
        $(".simulation").live('click',function(event){
            //event.preventDefault();
            var weight = {{ product.weight }};
            console.log("Poids : "+weight);
            if(weight == 0){
                alert("Vous n'avez pas entré de masse !");
                event.preventDefault();
            }
        });
    });
</script>

<section class="main transverse">
    <div style="text-align: justify;">
        <p style="font-size: 105%; line-height: 18px;">
            <b>ArtoACV</b> est une solution web <b>simplifiée</b> permettant de calculer l'impact environnemental d'un concept ou un produit sur l'ensemble de son cycle de vie à l’aide de fonctionnalités faciles d’utilisation, d’aides et astuces (champs pré-remplis, intuitifs, aides de qualité,…). Les résultats de cette évaluation ont pour objectifs de :
            <br/>- dégager des ordres de grandeurs et des paramètres clés pour devenir des leviers d’actions concrètes de modifications du concept de produit,
            <br/>- fournir d’emblée des orientations garantissant une réduction des impacts environnementaux,
            <br/>- fournir un éclairage marqué sous forme graphique et de rapport de synthèse facilement interprétable et directement présentable pour la prise de décision en revues de conception,
            <br/>- répondre parfaitement aux besoins des concepteurs qui leur donneront la capacité d’éco-concevoir en toute autonomie puisque ne nécessite aucun niveau d’expertise requis pour son utilisation,
            <br/>- simuler et comparer différentes options technologiques à iso-fonctionnalités au stade de conception/développement des prototypes fonctionnels afin de valider le scénario final d'éco-conception (matières, procédés, recyclage...),
            <br/>- mettre en avant les points faibles et les points forts de chaque technologie mais aussi d’orienter les décideurs vers la solution globale la moins polluante et contenant le moins de substances sensibles,
            <br/>- établir une communication sous la forme d’une étiquette établie dans le cadre de l'affichage environnemental,…
        </p>
        
        <h2>Sources des données et indicateurs</h2>
             <h3>1 - Bases de données utilisées</h3>
             <p style="font-size: 105%; line-height: 18px;">
                La modélisation ACV est réalisée à partir de plusieurs sources de données.
                <br/>Nous pouvons citer notamment : 
                <br/>- ILCD,
                <br/>- Ecoinvent,
                <br/>- BUWAL250,
                <br>- APME (Association of Plastics Manufacturers in Europe),…  
             </p>   
             
             <h3>2 - Normes</h3>
             <p style="font-size: 105%; line-height: 18px;">
                 <b>ArtoACV</b> s’appuie sur les normes ISO 14040, 14044, 14021 et 14025 sur les spécifications du programme PCR (<b>P</b>roduct <b>C</b>ategory <b>R</b>ules) des Equipements Electriques et Electroniques pour la réalisation d’une déclaration environnementale de type III des produits électriques, électroniques et de génie climatique..., comportant les phases suivantes :
                <br/>- la définition de l’unité fonctionnelle,
                <br/>- la construction de l’inventaire de cycle de vie (ICV) : collecte des données relatives aux émissions dans l’air, dans l’eau ou dans le sol et des consommations d’énergie et de matières aux frontières du système étudié,
                <br/>- l’évaluation de l’impact du cycle de vie : analyse de l’inventaire pour l’évaluation de l’impact du système selon différents indicateurs environnementaux (approche multicritères),
                <br/>- l’interprétation du cycle de vie : analyse des indicateurs d’impact dans le cadre de la méthode, du champ et de l’objectif de l’étude et évaluation de la qualité des conclusions. 
             </p>
             
             <h3>3 - Calculs et indicateurs d’impacts</h3>
             <p style="font-size: 105%; line-height: 18px;">
                - CML2000 pour l'<b><em>Epuisement des ressources naturelles</em></b> : il s’agit de l’appauvrissement de l’environnement de différentes matières dont l’impact est causé par leur extraction du milieu naturel. Le calcul se fait par rapport aux stocks estimés restant et au taux de consommation de l’économie actuelle. Toute fabrication, distribution, utilisation et fin de vie d'un produit implique de prélever dans les ressources naturelles de la planète qui sont pour la plupart non-renouvelables (pétrole, cuivre, aluminium,...); cela signifie qu'elles ne sont pas illimitées et s'épuisent petit à petit : par exemple pour 6,0E-13, cela veut dire que l'on a prélevé 0,0000000000006 année de ressources naturelles
                <br/>- CML2000 pour la <b><em>Destruction de la couche d’ozone</em></b> : il s’agit ici de l’impact sur la couche d’ozone stratosphérique par des gaz tels que les CFC. Cette couche d’ozone protège la planète des rayons de courte longueur d’onde, les rayons ultraviolets.
                <br/>- CML2000 pour l'<b><em>Eutrophisation</em></b> : Il s’agit de l’enrichissement en sels minéraux des mers et des lacs en tant que phénomène naturel. Lorsqu’il s’agit d’une sur-eutrophisation d’origine anthropique, c’est l’apport en trop grande quantité de substances nutritives (azote, phosphate, matière organique) qui accélère la proliferation des algues asphyxiant les milieux aquatiques.
                <br/>- IPCC pour l’<b><em>Effet de serre</em></b> (GWP 100 ans): ou prise en compte de l’effet de serre additionnel. Il s’agit du réchauffement de l’atmosphère issu de l’action de gaz spécifiques dit « à effet de serre » comme le CO<sub>2</sub>, le méthane CH<sub>4</sub>, les CFC…
                <br/>- la <b><em>Consommation d’énergie</em></b> indique la consommation d’énergie primaire totale, soit provenant de la combustion de carburants (fossiles ou non) ou d’autres sources (hydroélectricité, marée, solaire, éolienne). Il est exprimé en MJ.
                <br/>- l’<b><em>Epuisement/consommation d’eau</em></b> indique la consommation d’eau. Il est exprimé en litres
                <br/>- CVCH pour la <b><em>Toxicité de l’air</em></b> indique la toxicité de l’air dans un environnement humain, prenant en compte les concentrations limites autorisées pour plusieurs gaz et la quantité libérée. Il donne un volume de «mauvais air».
                <br/>- CVCH pour la <b><em>Toxicité de l’eau</em></b> indique les niveaux généralement acceptés tolérés pour plusieurs substances et la quantité libérée. Il est exprimé en un volume de «mauvaise eau».
                <br/>- POCP pour la <b><em>Création d’ozone photochimique</em></b> indique la création éventuelle de l’ozone troposphérique ("smog") par la libération de certains gaz qui deviendront des oxydants dans la basse atmosphère sous l’action du rayonnement solaire. Il est exprimé en grammes d’éthylène (C<sub>2</sub>H<sub>4</sub>), comme si tout était C<sub>2</sub>H<sub>4</sub>, utilisant les potentiels équivalents.
                <br/>- CML2000 pour l’<b><em>Acidification de l’air</em></b> calcule l’acidification de l’air par les gaz rejetés dans l’atmosphère. Il est exprimé en grammes d’H+, comme si tous les gaz étaient du H+, à l’aide d’équivalence dans leur potentiel d’acidification.
                <br/>- la <b><em>Production de déchets dangereux</em></b> indique la quantité de déchets dangereux produits pour un produit donné. Les composants de cet indicateur sont répertoriés dans le tableau HWP à la fin de la présente annexe. Il est exprimé en kg.
             </p>
             
             <p style="font-size: 105%; line-height: 18px;">
                <b>Note :</b> <b>ArtoACV</b> est une solution d’ACV simplifiée dans le sens où les modules ICV utilisés ne disposent pas des flux élémentaires permettant à l’utilisateur de concevoir lui-même les modules propres à son besoin.
                <br/>Cet outil d'évaluation sur le concept de produit/service en cours d'étude de conception est complémentaire aux logiciels d'ACV qualifiés d'experts utilisés plus en aval du processus d'éco-conception.
                <br/>Il s'utilise en complément de l'outil <b>ArtoDesign</b> de manière à évaluer quantitativement les impacts du produit une fois nomenclaturé afin de consolider les résultats qualitatifs obtenus.
                <br/>Les données de base sont traitées par catégorie d'aspects générant des impacts significatifs.
                <br/>Le degré d'incertitude des résultats générés, bien qu'imparfait sera sensiblement proche de ceux obtenus avec des logiciels d'ACV d'experts et très limité dans la mesure où l'évaluation est toujours comparative entre 2 concepts d'étude et/ou un produit existant.
                <br/>Néanmoins, <b>ArtoACV</b> est une solution qui a été qualifiée lors de son développement informatique  par la comparaison des résultats d’ACV générés avec ceux d’autres logiciels qualifiés d’experts. <b>ArtoACV</b> génère par conséquent des résultats robustes et efficaces, compréhensibles et facilement interprétables par tous. Cette solution web est à la fois un outil d’évaluation, d’aide à la décision, de communication et de sensibilisation.
                <br/>Le but recherché ici est d'induire un changement de comportement dans les choix, les arbitrages, les décisions, ... des concepteurs, des industrialisateurs et les autres fonctions proches de la conception et de la production.
             </p>

        <h2>La barre d’outils</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Vous trouverez la barre d’outils sur chacune des pages d’ArtoACV. Celle-ci vous permettra à tout moment d’accéder à des fonctions clés de l’interface (créer un projet, glossaire, Instructions,…) :
            <br/><img src="/images/acv/instructions1.png"/>
        </p>

        <h2>Frontière du système </h2>
        <p style="font-size: 105%; line-height: 18px;">
            Les phases de cycle de vie suivantes sont comptabilisées :
            <br/>- la phase de fabrication: de l’extraction des ressources naturelles jusqu’à la fabrication du produit et sa mise à disposition à la dernière plate-forme logistique du producteur,
            <br/>- la phase d’utilisation comprend l’utilisation et la maintenance nécessaire à garantir l’aptitude à l’usage, 
            <br/>- la phase d’installation qui prend en compte l’installation du produit sur le lieu de mise en œuvre,
            <br/>- la phase de distribution : de la plate-forme logistique du producteur jusqu’à son arrivée sur le lieu de mise en œuvre,
            <br/>- la phase de fin de vie qui prend en compte le transport du produit en fin de vie vers un centre de traitement ou une décharge et le traitement de fin de vie.
        </p>
        
        <h2>Description du produit</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Définir le produit à modéliser et les informations complémentaires :
            <br/>- la référence, sa désignation et la photo du produit, la gamme de produit, la ou les zones de commercialisation
            <br/>- son Unité Fonctionnelle (UF)
            <br/>- liste des produits constituant l'UF
            <br/><img src="/images/acv/instructions20.png"/>
            <br/>- la configuration des transports
            <br/><br/>Les données spécifiques de transport saisies dans l’onglet du produit de référence, peuvent être prises en compte pour comptabiliser les transports (km parcourus, types de transport) en sélectionnant « Transports détaillés saisis pour chaque matière », ou en cas de non disponibilité de ces données, des données moyennes pénalisantes sont à prendre en compte :
            <br/>- Transport mondial : 19000km par bateau plus 1000km par camion
            <br/>- Transport intracontinental : 3500km par camion 
            <br/>- Transport local : 1000km par camion
            <br/><br/><img src="/images/acv/instructions11.png"/>
            <br/><br/><b>Note :</b> Le type de transport camion correspondant à ces scénarios moyen pénalisants est le transport par camion > 32T à moitié plein et avec retour à vide.
        </p>
        
        <h2>Phase de fabrication</h2>
        <p style="font-size: 105%; line-height: 18px;">
           La phase de fabrication est la mise à disposition des éléments constitutifs du flux de référence. Les processus suivants sont à comptabiliser dans la phase FABRICATION sous la forme d'une arborescence :
           <br/>Niveau 1 : le composé (ex: carte électronique, emballage, capot ...)
           <br/>Niveau 2 : les composants constituant le composé comprenant :
           <br/>
           <ul>
               <li>- Production de Matière/Additifs/Composants électroniques - Production (Extraction, traitement, transformation…) et transport des matières premières nécessaires à la fabrication des composants</li>
               <li>- Fabrication des différentes pièces et composants</li>
               <li>- Fabrication des matériaux de l’emballage élémentaire du produit de référence</li>
               <li>- Transport des matériaux, composants et sous-ensembles depuis leur lieu de fabrication chez les fournisseurs jusque sur leur(s) site(s) d’assemblage chez le producteur quel que soit le mode de transport utilisé</li>  
           </ul>
           <br/><br/><img src="/images/acv/instructions3.png"/>
           
           <br/><br/>La règle de coupure
           <br/><br/>Tous les flux entrant dans le champ de l’étude pouvant être remontés doivent être remontés jusqu’aux flux élémentaires. En cas d’indisponibilité des données, la règle de coupure suivante doit s’appliquer :
           <br/>La masse des éléments des flux non remontés doit être inférieure ou égale à 5% de la masse des éléments du flux de référence correspondant à l’unité fonctionnelle.
           <br/><br/>Une aide permet de renseigner sur l’état des masses de flux renseignées dans l’application.
           <br/><br/><img src="/images/acv/instructions19.png"/>
           <br/><br/>L’objectif étant de remonter 100% (+ ou – 5%) de la masse réelle du produit renseignée dans « Projet/Liste des produits constituants l'UF »
           <br/><br/><img src="/images/acv/instructions20.png"/>
           <br/><br/>- Saisir toutes les données techniques liées aux « Matières/additifs/composants électroniques et l’emballage »
           <br/>- Saisir les données techniques des procédés technologiques associées aux  Matières/ additifs/composants/emballage »
           
           <br/><br/><h3>Des visuels adaptés</h3>
           <br/><br/>Des icônes spécifiques sont utilisés afin d’aider la collecte des données : 
           <br/>- <strong style="background-color: #005580; color: #fff; font-size: 80%">M</strong> pour « Matière »
           <br/>- <strong style="background-color: #C06; color: #fff; font-size: 80%">C</strong> pour « Composant électronique »
           <br/>- <strong style="background-color: #f18d05; color: #fff; font-size: 80%">P</strong> pour « Procédé »
           <br/><br/><img src="/images/acv/instructions12.png"/>
           <br/><br/>La possibilité d’ajouter à l’aide de <img src="/images/acv/instructions13.png" style="height:18px;"/> des charges (additifs, colorants, ignifugeants,…) aux Matières plastiques ou des procédés additionnels tels qu’un traitement de surface.
           <br/><br/><img src="/images/acv/instructions14.png"/>
           
           <br/><br/>Les modules et les flux de la base de données d’<b>ArtoACV</b> sont classés selon les recommandations de la plateforme ILCD (<a href="http://lct.jrc.ec.europa.eu/pdf-directory/ILCD-Handbook-General-guide-for-LCA-DETAIL-online-12March2010.pdf">http://lct.jrc.ec.europa.eu/pdf-directory/ILCD-Handbook-General-guide-for-LCA-DETAIL-online-12March2010.pdf</a>)
           <br/><br/><img src="/images/acv/instructions2.png"/>
           <br/><br/>Les modules d’Inventaire du Cycle de Vie issus des bases de données citées ci-dessus sont classifiés selon 3 types représentés par des icônes spécifiques : les composants, les procédés et les matériaux/substances.
           <br/>On retrouvera tous ces éléments dans 4 familles distinctes :
           <br/>- Production de Matière/Additifs/Composants électroniques/Emballage : famille regroupant la production de substances chimiques, de métaux, de plastiques, de matériaux composites, de matériaux textiles, de matériaux issus du bois, et de composants électroniques,
           <br/>- Procédés : famille regroupant les procédés de fabrication appliqués aux matériaux, les procédés de production et de combustion d’énergies fossiles (charbon, gaz, pétrole,…) et la production d’électricité, d’air comprimé et de chaleur,
           <br/>- Traitements de fin de vie : famille regroupant les procédés d’incinération, d’enfouissement et de traitements spécifiques en fin de vie,
           <br/>- Transports: famille regroupant le transport de marchandise selon 4 différents modes de transport (routier, ferroviaire, maritime et aérien).
           
           <br/><br/><h3>Paramètres de modélisation</h3>
           <br/><br/>La description des modules de produit et de procédé, affichée en y approchant le curseur, permet de faire le choix du module correspondant au plus prêt de la réalité. 
           <br/>Selon le module produit ou procédé sélectionné, le paramètre 2 (Param 2) est nécessaire à la modélisation du produit.
           <br/>Ce paramètre 2, lorsqu'il est nécessaire, est figé (sur fond gris) et son unité apparaît à sa droite (exemples : une masse, une surface, un volume,…). 
           <br/><br/>Dans ce cas, la valeur figurant dans « Param 2 » permet à l'aide de la règle de proportionnalité de calculer le paramètre 1 (Param 1) demandé.
           <br/><br/><img src="/images/acv/instructions15.png"/>
           <br/><br/><b>Exemple :</b> pour le composant électronique, 1 Lampe halogène, l'application affiche la description en anglais du module : "Tungsten halogen dichroic lamp, 50W efficiency 19 lumen/watt" et la description du paramètre 2 : "Unité :g | Donnée : 4,8 g / UN de 50W" 
           <br/>Renseignez le paramètre 1 (Param 1) en utilisant la calculette située en haut à droite de l’application : ici, pour 1 Lampe halogène pesant 6,2g, la règle de proportionnalité donne 6.2/4.8 = 1.292; renseignez le Param 1 à 1.292 UN
           <br/>(<b>UN</b> : <b>U</b>nit <b>N</b>umber).
           <br/><br/><img src="/images/acv/instructions16.png"/>
           
           <br/><br/><h3>Modélisation d’une carte électronique ou Circuit Imprimé (CI) ou PCB (Printed Circuit Board)</h3>
           <br/><br/>1 Saisir : - le type de substrat (exemple: FR4 - 2 couches)  
           <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- le paramètre surface du CI = surface totale du Circuit  (en cm<sup>2</sup>)
           <br/><br/><b>Remarque :</b> les étapes suivantes sont comprises dans le module ICV du type de substrat : les  procédés de nettoyage et dénudage, le dépôt métallique et le test électrique. Par contre sont non inclus : le dépôt masque de soudure, la finition, les composants et procédés de soudage
           <br/><br/>2 Saisir : - le type de vernis ou dépôt masque de soudure (si présence)
           <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- la surface  couverte par le vernis (pour une carte 1 couche = surface d’1 face et  pour une carte 2 couches = surface de 2 faces)
           <br/><br/>3 Saisir : - le type de finition du CI
           <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- la surface  couverte  par  la finition (pour une carte 1 couche = surface d’1 face et  pour une carte 2 couches = surface de 2 faces)
           <br/><br/><b>Remarque :</b> ajouter le procédé de passivation de la carte si la CI a reçu une couche de passivation
           <br/><br/>4 Saisir : - le procédé collage pour les composants CMS  (Composants Montés en Surface)
           <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- la surface de colle = surface d’1 face du PCB
           <br/><br/>5 Saisir : - le nombre total de points de soudure par le procédé de refusion pour les composants CMS
           <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- le nombre total de points de soudure par le procédé de soudure à la vague pour les composants traversants (exemple : l’alliage SnAgCu)
           <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- si nécessaire, ajouter de la matière Cu, Ag,... dans le cas où les modules d’alliages proposés ne correspondent pas à celui qui est réellement utilisé.
           <br/><br/>6 Saisir : - le type de composants électroniques en les regroupant par type
           <br/>Aide : <a href="http://www.mixelec.fr/" target="_blank">http://www.mixelec.fr/</a>
           <br/><br/><img src="/images/acv/instructions21.png"/>
           
           <br/><br/><h3>L’arborescence ou la nomenclature du produit</h3>
           <br/><br/>En appuyant sur le bouton <img src="/images/acv/instructions17.png" style="height:18px;"/>, l’arborescence du produit  modélisée dans l’application apparait, utile pour visualiser l’ensemble de la nomenclature
           <br/><br/><img src="/images/acv/instructions18.png">
           
        </p>
        
        <h2>Phase d'utilisation</h2>
        <p style="font-size: 105%; line-height: 18px;">
           La phase d’utilisation du produit de référence prend en compte un fonctionnement dans les conditions normales d’usage du produit. Les scénarios d’utilisation font apparaître les fonctionnalités du produit. Les processus suivants sont à comptabiliser dans la phase utilisation:
           <br/>- La consommation d’énergie lors de la durée de vie du produit
           <br/>- Les éléments nécessaires pour le fonctionnement, l’entretien et la maintenance
           <br/>- Les consommables nécessaires à l’utilisation du Produit de Référence durant la phase d'utilisation
           <br/>- Les procédés, composants et énergie comptabilisés dans la phase d’installation
           <br/><br/><img src="/images/acv/instructions4.png"/>
           <br/><br/><img src="/images/acv/instructions5.png"/>
        </p>
        
        <h2>Phase de distribution</h2>
        <p style="font-size: 105%; line-height: 18px;">
           Les processus suivants sont comptabilisés dans la phase distribution :
           <br/>1. Le transport du flux de référence depuis la plateforme logistique du producteur jusqu’au distributeur
           <br/>2. Le transport du flux de référence depuis le site du distributeur jusqu’au lieu de mise en œuvre.
           <br/><br/><img src="/images/acv/instructions7.png"/>
           <br/><b>Note :</b> Le transport par camion > 32T à moitié plein et avec retour à vide.
        </p>
        
        <h2>Phase de fin de vie</h2>
        <h3>Potentiel de recyclabilité du produit</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Le potentiel de recyclabilité du produit affiché lors de l'étape « Fin de vie » utilise la méthode décrite dans le rapport technique CEI/TR 62635. 
            <br/>Elle ne préjuge pas de l'utilisation effective de filières technologiques en fin de vie des produits. 
            <br/>Ce taux de recyclabilité est une réponse donnée à l'approche de l'économie circulaire consistant à  mettre en place un nouveau modèle économique qui minimise les déchets et permet de mieux les réemployer (les déchets des uns deviennent les matières premières des autres). 
            <br/>Cette approche permet de donner de formidables avantages compétitifs aux entreprises en baissant considérablement les coûts de production. 
            <br/>Les 7 piliers de l'économie circulaire sont l’éco-conception, l'écologie industrielle, l'économie de la fonctionnalité, le réemploi, la réparation, la réutilisation et le recyclage.
        </p>
        <br/>
        <p style="font-size: 105%; line-height: 18px;">
           Les processus liés à la fin de vie sont inclus dans les frontières du système en comptabilisant :
           <br/>1. La phase de fin de vie prend en compte le transport du produit en fin de vie vers un centre de traitement ou une décharge et le traitement de fin de vie en prenant la distance de 1000 km, distance moyenne pénalisante entre le site de mise en œuvre et le site de mise en décharge ou de traitement
           <br/><br/><img src="/images/acv/instructions8.png"/>
           <br/><br/>2. Les procédés d’élimination des déchets (en % mise en décharge ou en % d’incinération avec valorisation énergétique)
           <br/><br/><img src="/images/acv/instructions10.png"/>
        </p>
        
        <h2>Bilan et Aides à l’interprétation des résultats</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Le bilan-résultat généré est rapide, convivial et très facilement interprétable et compréhensible par les acteurs, dès les premières étapes de conception du concept et/ou du produit. Il se présente sous forme d’histogramme et sous forme de rapport de synthèse facilement interprétable et sont directement présentables pour décision finale à la direction lors de la revue de conception. Les données de sortie peuvent se présenter comme suit : un classement par impact sur l’environnement et par phase du cycle de vie, un classement général des produits, un rapport de synthèse avec des conseils de conception :<br/><br/>
            Ce bilan des indicateurs d'impacts est présenté :<br/><br/>
            - en valeurs absolues<br/>
            - en valeurs relatives sur 100% en cliquant sur l'icône en fond bleu, appelé "Absolu/Relatif (%)"<br/><br/>
            Dans le but de faciliter la lecture et la compréhension, les valeurs relatives permettent de mettre en perspective les indicateurs et les étapes du cycle de vie contributeurs d'impacts. Le bilan est présenté également avec la moyenne des impacts en valeurs relatives (%; à droite de l'histogramme, en rouge). Ces valeurs moyennes montrent les étapes du cycle de vie du produit les plus contributrices en termes d'impacts sur l'environnement. Des leviers d'amélioration sont proposés aux concepteurs afin qu'ils se focalisent sur les grandes options technologiques à mettre en oeuvre pour réduire voire supprimer les impacts du produit en cours de conception sur l'environnement.
            <br/><br/><img src="/images/acv/instructions22.bmp"/>
            <br/><br/><img src="/images/acv/instructions22Bis.bmp"/>
            <br/><br/>Des outils de simulation/décision sont possibles sur le choix des matériaux, les matériaux recyclés, les procédés,… procurant un grand degré de liberté du concepteur, la restriction des substances dangereuses, les coûts des procédés et de certains matériaux. Le résultat de la simulation permet d’identifier facilement et plus rapidement les articles entre eux de la nomenclature du produit et les matériaux constituants le produit. Ces simulations possibles sur plusieurs scénarios, sont facilement accessibles par les utilisateurs, donnant les leviers de progrès et de développement sans transfert d’impact ou de pollution et permettent de dégager les pistes d’amélioration encore possibles dès la phase de conception.
            <br/><br/>Ce sont des outils d’aide à la décision d’investir dans le développement du produit :
            <br/><br/><img src="/images/acv/instructions23.png"/>
            <br/><img src="/images/acv/instructions24.png"/>
            <br/><br/>Les évaluations de plusieurs concepts de produits peuvent être comparées lors de la conception afin d’assurer l’éco-conception du concept retenu :
            <br/><br/><img src="/images/acv/instructions25.png"/>
        </p>
        
        <h2>Affichage environnemental et l’Export ArtoACV</h2>
        <p style="font-size: 105%; line-height: 18px;">
            <b>ArtoGreen</b> accompagne durablement ses clients, entreprises TPE/PME/PMI et collectivités locales, en apportant une expertise sérieuse, une grande écoute et une large disponibilité afin d’apporter son aide à ces entreprises et ces collectivités désireuses à mieux concevoir avec moins et communiquer leurs efforts et leurs progrès accomplis.
            <br/><br/><img src="/images/acv/instructions26.png"/>
            <br/><br/><img src="/images/acv/instructions27.png"/>
        </p>
        
        <h2>La comparaison de 2 projets</h2>
        <p style="font-size: 105%; line-height: 18px;">
            L’application permet de comparer le Projet A en cours et un autre Projet B.
            <br/>Les leviers de réduction des impacts proposés lors du bilan des résultats et travaillés par les simulations de choix des matériaux et des procédés de fabrication ou autres pistes d’améliorations sont pris en compte dans un Projet B. Dans ce cas, le Projet A est dupliqué devient le Projet B qui est modélisé sur la base du Projet A. 
            <br/>Le Projet B est à son tour modélisé en considérant seulement les modifications dans tous les onglets (fabrication, utilisation, distribution et fin de vie).
            <br/><br/><img src="/images/acv/instructions28.png"/>
            <br/><br/>Les résultats d’impacts du Projet B sont comparés au Projet A en considérant à la fois :
            <br/>- Tous les indicateurs d'impact
            <br/>- Le risque de transfert d’impact entre les indicateurs (visuels de couleur verte si pas de transfert et de couleur rouge si transfert)
            <br/>Une règle est définie pour caractériser le Projet éco-conçu (Projet B par rapport au Projet A)
            <br/><br/><img src="/images/acv/instructions29.png"/>
        </p>
    </div>
    
    <div class="row">
        {% if totalWeightPlastic is defined %}
            <label>totalWeightPlastic : {{ totalWeightPlastic }}</label>
        {% endif %}
    </div>
</section>

{% endblock %}