{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = 'part' %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        var select_line;
        
        // DIALOG /////////////////////////////////////////////////////////////
          
        $( ".dialog-base" ).dialog({
            autoOpen: false,
            height: 250,
            width: 450
        });

        $( ".dialog-process" ).dialog({
            autoOpen: false,
            height: 250,
            width: 450
        });

        //$('[name=param4]').tooltip({ effect: 'fade', position: "center right", tipClass: 'tooltip2' });

        //$('[name=param2]').tooltip({ effect: 'fade', position: "center right", tipClass: 'tooltip2' });

        //$('.param').tooltip({ effect: 'fade', position: "center right", tipClass: 'tooltip2' });

        $('.assembly-menu-btn').click(function(event) {
            event.preventDefault();
            $('.assembly-menu').show();
        });

        $('.assembly-menu a').click(function(event) {
            var rel = $(this).attr('href');
            var pos = $(rel).offset().top - 150;
            $('html, body').animate({
                    scrollTop: pos
                     }, 200);
            $('.assembly-menu').hide();
        });




        // ADD ROW

        $(".add-part").live('click', function(event) {
            event.preventDefault();
            var parent = $(this).parent().parent().parent().parent().parent().find('.parts-list table');
            var part = $('.templates .part-template').clone(true);
            part.removeClass('part-template');
            part.appendTo(parent);
            part.find('.delete').addClass('parent');
        });

        $(".add-assembly").live('click', function(event) {
            event.preventDefault();
            var assembly = $('.templates .assembly-template').clone(true);
            assembly.removeClass('assembly-template');
            $.post("{{ path('acv_assembly_add', { 'product': product.id }) }}", function(data) {
                assembly.find('[name="assembly"]').val(data);
                assembly.appendTo('.parts-container');
            });

        });




        // MATERIALS //////////////////////////////////////////////////////////

        $(".select-base").live('click', function(event) {
            event.preventDefault();
            select_line = $(this).parent().parent().parent();
            $( '#dialog-base' ).dialog('open');
        });

        $(".add-material").live('click', function(event) {
            event.preventDefault();
            var parent = $(this).parent().parent();
            var material = $('.templates .material-template').clone(true);
            material.find('[name="parent_id"]').val(parent.find('[name="parent_id"]').val());
            material.insertAfter(parent);
            material.removeClass('material-template');
        });

        $(".type").live('change', function(event) {
            event.preventDefault();
            var type = $(this);
            var parent = type.parent().parent();
            var t = type.val();
            parent.find('.family').html('');
            $.post("{{ path('acv_family_list') }}", { type: t }, function(data) {
                var family = parent.find('.family');
                family.html(data);
            });
        });

        $(".family").live('change', function(event) {
            event.preventDefault();
            var family = $(this);
            var parent = family.parent().parent();
            //var dialogHelpParent = family.parent().parent().parent().parent();
            var f = family.val();
            var t = parent.find('.type').val();
            var newText = $('.help-plastic-basis').html();
            $('#dialog-help-plastic-content').html(newText);
            
            //Aide si matériau plastique
            //if(t == '2' && f == '3'){
                //( '#dialog-help-plastic' ).dialog('open');
            //}else{
                $.post("{{ path('acv_base_list') }}", { family: f, type: t }, function(data) {
                    var baselist = parent.find('.base');
                    baselist.html(data);
                });
            //}
        });

        $(".base").live('change', function(event) {
            event.preventDefault();
            var base = $(this);
            var val = base.val();
            $.post("{{ path('acv_base_select') }}", { id: val }, function(data) {
                select_line.find('.material').html(data.name);
                select_line.find('.material').attr("data-toggle", "tooltip");
                select_line.find('.material').attr("data-original-title", data.path);
                //Exposants
                if(data.unit1 == "cm2"){
                    select_line.find('.base-unit1').html("cm<sup>2</sup>");         
                }else if(data.unit1 == "dm2"){
                    select_line.find('.base-unit1').html("dm<sup>2</sup>");
                }else if(data.unit1 == "m2"){
                    select_line.find('.base-unit1').html("m<sup>2</sup>");   
                }else if(data.unit1 == "mm2"){
                    select_line.find('.base-unit1').html("mm<sup>2</sup>"); 
                }else if(data.unit1 == "m3"){
                    select_line.find('.base-unit1').html("m<sup>3</sup>");    
                }else if(data.unit1 == "dm3"){
                    select_line.find('.base-unit1').html("dm<sup>3</sup>");
                }else if(data.unit1 == "cm3"){
                    select_line.find('.base-unit1').html("cm<sup>3</sup>"); 
                }else{
                    select_line.find('.base-unit1').html(data.unit1);
                }
                
                //Exposants
                if(data.unit2 == "cm2"){
                    select_line.find('.base-unit2').html("cm<sup>2</sup>");         
                }else if(data.unit2 == "dm2"){
                    select_line.find('.base-unit2').html("dm<sup>2</sup>");
                }else if(data.unit2 == "m2"){
                    select_line.find('.base-unit2').html("m<sup>2</sup>");   
                }else if(data.unit2 == "mm2"){
                    select_line.find('.base-unit2').html("mm<sup>2</sup>"); 
                }else if(data.unit2 == "m3"){
                    select_line.find('.base-unit2').html("m<sup>3</sup>");    
                }else if(data.unit2 == "dm3"){
                    select_line.find('.base-unit2').html("dm<sup>3</sup>");
                }else if(data.unit2 == "cm3"){
                    select_line.find('.base-unit2').html("cm<sup>3</sup>"); 
                }else{
                    select_line.find('.base-unit2').html(data.unit2);
                }
                
                select_line.find('.material-input').val(data.id);
                select_line.find('.material-input').change();
                select_line.find('.add-material:last').show();
                
                select_line.find('input[name=param2]').removeAttr("disabled");
                select_line.find('input[name=param2]').removeAttr("data-original-title");
                if(data.unit2 == ''){
                    select_line.find('input[name=param2]').attr("disabled", "disabled");
                    select_line.find('input[name=param2]').attr("value", "");
                }else{
                    select_line.find('input[name=param2]').attr("title", "Unité : " + data.unit2 + " | Donnée : " + data.unitmass);
                    select_line.find('input[name=param2]').attr("value", "");
                }
                
                if(data.unit1 == 'UN' && data.unit2 == 'g'){
                    select_line.find('input[name=param2]').attr("disabled", "disabled");
                    select_line.find('input[name=param2]').attr("value", data.multiplicateur);      
                }
                
                if(data.unit1 == 'UN' && data.unit2 == 'kg'){
                    select_line.find('input[name=param2]').attr("disabled", "disabled");
                    select_line.find('input[name=param2]').attr("value", data.multiplicateur/1000);                 
                }
                
                if(data.unit1 == 'UN' && (data.unit2 == 'A.h' || data.unit2 == 'dm2' || data.unit2 == 'cm2' || data.unit2 == 'mm2' || data.unit2 == 'cm3' || data.unit2 == "UN")){
                    select_line.find('input[name=param2]').attr("disabled", "disabled");
                    if(data.valParam2ByUN != ''){
                        select_line.find('input[name=param2]').attr("value", data.valParam2ByUN);
                    }  
                }
                

                select_line.find('input[name=param1]').attr("title", "Unité : " + data.unit1 + " | Donnée : " + data.unitmass);
                select_line.find('input[name=param1]').removeAttr("data-original-title");
                
                $('.base option[name="default"]').attr('selected', true);
                $('.type option[name="default"]').attr('selected', true);
                $('.family option[name="default"]').attr('selected', true);
                $( '#dialog-base' ).dialog('close');
                
                //Aide si materiau metallique
                //if(data.typeId == '2' && data.familyId == '1'){
                //    $( '#dialog-help-metallic' ).dialog('open');
                //}
                
                //Aide si matériau plastique
                //if(data.typeId == '2' && data.familyId == '3'){
                //    $( '#dialog-help-plastic' ).dialog('open');
                //}
                
                //Aide si composant électronique
                //if(data.typeId == '3' && data.familyId == '6'){
                //    $( '#dialog-help-electronic' ).dialog('open');
                //}
            }, 'json');
        });





        // PROCESS ////////////////////////////////////////////////////////////

        $(".select-process").live('click', function(event) {
            event.preventDefault();
            select_line = $(this).parent().parent().parent();
            $( '#dialog-process' ).dialog('open');
        });

        $(".add-process").live('click', function(event) {
            event.preventDefault();
            var parent = $(this).parent().parent();
            var process =  $('.templates .process-template').clone(true);
            process.find('[name="parent_id"]').val(parent.find('[name="parent_id"]').val());
            process.insertAfter(parent);
            process.removeClass('process-template');
        });

        $(".process-family").live('change', function(event) {
            event.preventDefault();
            var family = $(this);
            var parent = family.parent().parent();
            var f = family.val();
            $.post("{{ path('acv_process_list') }}", { family: f }, function(data) {
                var processlist = parent.find('.process-list');
                processlist.html(data);
                processlist.show();
            });
        });

        $(".process-list").live('change', function(event) {
            event.preventDefault();
            var process = $(this);
            var val = process.val();
            $.post("{{ path('acv_process_select') }}", { id: val }, function(data) {
                select_line.find('.process').html(data.name);
                select_line.find('.process').attr("data-toggle", "tooltip");
                select_line.find('.process').attr("data-original-title", data.path);
                //Exposants
                if(data.unit1 == "cm2"){
                    select_line.find('.process-unit1').html("cm<sup>2</sup>");         
                }else if(data.unit1 == "dm2"){
                    select_line.find('.process-unit1').html("dm<sup>2</sup>");
                }else if(data.unit1 == "m2"){
                    select_line.find('.process-unit1').html("m<sup>2</sup>");   
                }else if(data.unit1 == "mm2"){
                    select_line.find('.process-unit1').html("mm<sup>2</sup>"); 
                }else if(data.unit1 == "m3"){
                    select_line.find('.process-unit1').html("m<sup>3</sup>");    
                }else if(data.unit1 == "dm3"){
                    select_line.find('.process-unit1').html("dm<sup>3</sup>");
                }else if(data.unit1 == "cm3"){
                    select_line.find('.process-unit1').html("cm<sup>3</sup>"); 
                }else{
                    select_line.find('.process-unit1').html(data.unit1);
                }
                
                //Exposants
                if(data.unit2 == "cm2"){
                    select_line.find('.process-unit2').html("cm<sup>2</sup>");         
                }else if(data.unit2 == "dm2"){
                    select_line.find('.process-unit2').html("dm<sup>2</sup>");
                }else if(data.unit2 == "m2"){
                    select_line.find('.process-unit2').html("m<sup>2</sup>");   
                }else if(data.unit2 == "mm2"){
                    select_line.find('.process-unit2').html("mm<sup>2</sup>"); 
                }else if(data.unit2 == "m3"){
                    select_line.find('.process-unit2').html("m<sup>3</sup>");    
                }else if(data.unit2 == "dm3"){
                    select_line.find('.process-unit2').html("dm<sup>3</sup>");
                }else if(data.unit2 == "cm3"){
                    select_line.find('.process-unit2').html("cm<sup>3</sup>"); 
                }else if(data.unit2 == "kg/m2"){
                    select_line.find('.process-unit2').html("kg/m<sup>2</sup>");
                }else{
                    select_line.find('.process-unit2').html(data.unit2);
                }
                
                select_line.find('.process-input').val(data.id);
                select_line.find('.process-input').change();
                select_line.find('.add-process:last').show();
                
                if(data.unit2 != ''){
                    if(data.valParam2ByUN == ''){
                        select_line.find('input[name=param4]').removeAttr("disabled");
                        select_line.find('input[name=param4]').attr("title", "Unité : " + data.unit2 + " | Donnée : " + data.unitmass);
                    }else{
                        select_line.find('input[name=param4]').attr("disabled", "disabled");
                        select_line.find('input[name=param4]').attr("value", data.valParam2ByUN);
                        select_line.find('input[name=param4]').attr("title", "Unité : " + data.unit2 + " | Donnée : " + data.unitmass);
                    }
                }else{
                    select_line.find('input[name=param4]').attr("disabled", "disabled");
                    select_line.find('input[name=param4]').attr("value", ""); 
                }
                select_line.find('input[name=param3]').removeAttr("data-original-title");
                select_line.find('input[name=param3]').attr("title", "Unité : " + data.unit1 + " | Donnée : " + data.unitmass);
                select_line.find('input[name=param4]').removeAttr("data-original-title");
                
                $('.process-family option[name="default"]').attr('selected', true);
                $('.process-list option[name="default"]').attr('selected', true);
                $( '#dialog-process' ).dialog('close');
            }, 'json');
        });

        $(".transport").live('change', function(event) {
            event.preventDefault();
            var transport = $(this);
            var parent = transport.parent().parent().parent();
            var val = transport.val();
            $.post("{{ path('acv_transport_unit') }}", { base: val }, function(data) {
                var unit = parent.find('.transport-unit');
                unit.html(data);
                unit.show();
            });
        });
        
        $(".weight").live('click', function(event) {
            event.preventDefault();
            var weight = $(this).val();
            
            $.post("{{ path('acv_check_weight') }}", { weight : weight }, function(data) {
                if(data.value == "0"){
                    $(this).removeAttr("style");
                }
            }, 'json');
        });
        
        $(".weight").live('change', function (event) {
            event.preventDefault();
            var weight = $(this).val();
            
            $.post("{{ path('acv_check_weight') }}", { weight : weight }, function(data) {
                if(data.value == "0"){
                    $(this).attr("style", "font-weight : bold; color: red;");
                }
            }, 'json');
        });




        // GLOBAL /////////////////////////////////////////////////////////////

        var assemblies_inputs = $('.assembly-header').find(':input');
        assemblies_inputs.live('change', function(event) {
            var line = $(this).closest("tr");
            var inputs = line.find(':input');
            var id = line.find('.assembly-id').val();
            
            var url = "{{ path('acv_assembly_save') }}?assembly="+id;

            $.post(url, inputs.serializeArray() , function(data) {
                line.find('[name="parent_id"]').val(data.parent_id);
                line.find('[name="id"]').val(data.id);
            }, 'json');
        });

        var inputs = $('.parts-list').find(':input');
        inputs.live('change', function(event) {
            var line = $(this).closest("tr");
            var inputs = line.find(':input');
            var id = line.parent().parent().parent().parent().find('.assembly-id').val();

            var url = "{{ path('acv_part_save') }}?assembly="+id;

            $.post(url, inputs.serializeArray() , function(data) {
                line.find('[name="parent_id"]').val(data.parent_id);
                line.find('[name="id"]').val(data.id);
            }, 'json');
        });

        $(".delete").live('click', function(event) {
            event.preventDefault();
            var parent = $(this).parent().parent();
            var url = $(this).attr('href');

            if ($(this).hasClass('parent')) {
                childs = parent.nextUntil('.parent','.child');
                childs.remove();
            }

            if (url != "#") {
                $.post(url, function(data) {
                    parent.remove();
                });
            } else {
                parent.remove();
            }

        });

        $('.assembly-delete').live('click', function(event){
            event.preventDefault();
            var url = $(this).attr('href');
            var parent = $(this).closest('.assembly');
            $.post(url, function(data) {
                parent.remove();
            });

            return false;
        });

        $('.part').each(function(index) {
            $(this).find('.add-material:last').show();
            $(this).find('.add-process').hide();
            $(this).find('.add-process:last').show();
        });

        {% if assemblies|length == 0 %}
            $('.add-assembly').click();
        {% endif %}
        
        $(".calculMasseMateriau").live('click', function(event){
            event.preventDefault();
            var materiauId = $(this).parent().parent().find(".materiau").val();
            var volumeMateriau = $(this).parent().parent().find(".volumeMateriau").val();
            var masseMateriau = $(this).parent().parent().find(".masseMateriau");
            
            $.post("{{ path('acv_calcul_masse_density') }}", { materiauId: materiauId, volumeMateriau : volumeMateriau}, function(data) {
               masseMateriau.attr('value',data.masseMateriau);
               masseMateriau.show();
            }, 'json');
            console.log("Materiau ID : "+materiauId);
            console.log("Volume materiau : "+volumeMateriau);
        });
        
         $(".simulation").live('click',function(event){
            //event.preventDefault();
            var weight = {{ product.weight }};
            console.log("Poids : "+weight);
            if(weight == 0){
                alert("Vous n'avez pas entré de masse !");
                event.preventDefault();
            }
        });
    });
</script>
<section class="main"> 
    {% set weightStatusLeft = product.weightStatusLeft %}
    {% set weightSet = product.weightSet %}
    
    {% if project.massUnit == 'g' %}
        {% set weightStatusLeftLabelled = weightStatusLeft %}
        {% set weightSetLabelled = weightSet %}
        {% set weightLabelled = product.weight %}
    {% elseif project.massUnit == 'kg' %}
        {% set weightStatusLeftLabelled = weightStatusLeft/1000 %}
        {% set weightSetLabelled = weightSet/1000 %}
        {% set weightLabelled = product.weight/1000 %}
    {% elseif project.massUnit == 't' %}
        {% set weightStatusLeftLabelled = weightStatusLeft/1000000 %}
        {% set weightSetLabelled = weightSet/1000000 %}
        {% set weightLabelled = product.weight/1000000 %}
    {% endif %}
    <input type="hidden" name="weightStatusLeft" value="{{ weightStatusLeft }}" />
    <input type="hidden" name="weightSet" value="{{ weightSet }}" />
    <div id="calculator">
        <ul class="assembly-menu">
            {% for assembly in assemblies %}
                <li><a href="#assembly{{ loop.index }}" rel="assembly{{ loop.index }}">{{ assembly.name }}</a></li>
            {% endfor %}
        </ul>
        
        <br/><br/><br/>
        
        <table class="table-container">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <span>Ratio Masse saisie / Masse réelle<br>doit être compris entre 98% et 102%</span>
                                <span>Masse saisie</span>
                                <button class="btn btn-{{ weightStatusLeft }} weight-left">{{ "%g"|format(weightSetLabelled) }} {{ project.massUnit }}</button>
                                <span> / Masse réelle</span>
                                <button class="btn">{{ "%g"|format(weightLabelled) }} {{ project.massUnit }}</button>
                            </td>
                            <td>
                                <div class="progress-{{ weightStatusLeft }} progress-striped" style="width: 180px; margin-top: 4px;">
                                  <div class="bar" style="width: {{ product.weightPercentageLeft }} %">
                                    <div style="padding-top: 5px;">{{ product.weightPercentageLeft|number_format }}%</div>
                                  </div>
                                </div>
                            </td>
                            <td>
                                <a href="{{ path('acv_parts', { 'project': project.id,  'id': product.id }) }}" class="btn"><i class="icon-refresh"></i></a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>|<br>|<br>|</td>
                <td>
                    <table>
                        <tr>
                            <td align="center">Calcul masse avec<br>densité materiau</td>
                            <td>
                                <select name="materiau" class="materiau" style="width:130px;">
                                    <option>-Choisir-</option>
                                    {% for materialDensity in materialsDensity %}
                                        <option value="{{ materialDensity.id }}">{{ materialDensity.material }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td align="center">Volume<br/>en cm<sup>3</sup></td>
                            <td>
                                <input type="text" name="volumeMateriau" class="volumeMateriau" style="width:30px; font-size:11px;"/>
                            </td>
                            <td>
                                <a href="#" class="btn calculMasseMateriau"><img src="/css/skin/famfamfam/calculator.png"/></a>
                            </td>
                            <td align="center">Masse<br/>en g</td>
                            <td><input type="text" name="masseMateriau" class="masseMateriau" style="width: 30px; font-size:11px;"/></td>
                        </tr>
                    </table>
                </td>
                <td>|<br>|<br>|</td>
                <td width="100">
                    <table>
                        <tr>
                            <td><input type="text" class="input" value="Calculette" style="width: 50px; font-size: 11px"/></td>
                            <td valign="middle">=</td>
                            <td><input type="text" class="result" value="Résultat" style="width: 40px; font-size: 11px" /></td>
                            <td>
                                <button type="button" class="btn"><img src="/css/skin/famfamfam/calculator.png"/></button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="30">
                    <a href="#" class="assembly-menu-btn"><i class="icon-reorder icon-2x"></i></a>
                </td>
            </tr>
        </table>
    </div>
                                
                          

    <div class="parts-container">
        <br/><br/>
        {% for assembly in assemblies %}
            <div class="assembly">
                <table id="assembly{{ loop.index }}" class="assembly-header">
                    <tr>
                        <td width="60"><span><i class="icon-reorder"></i> Niveau 1</span></td>
                        <td><input type="text" name="name" value="{{ assembly.name }}" /></td>
                        <td><span style="float:right;">Si masse matériaux > 1 kg, mettre facteur 1000 --> </span></td>
                        <td align="right" width="130">
                            <input type="hidden" name="assembly" value="{{ assembly.id }}" class="assembly-id"/>
                            <span>Quantité</span>
                            <input type="text" name="quantity" value="{{ assembly.quantity }}" class="assembly-quantity" />
                            <a href="{{ path('acv_assembly_delete', { 'assembly': assembly.id }) }}" class="assembly-delete"><i class="icon-remove-sign"></i></a>
                        </td>
                    </tr>
                </table>

                <div class="parts-list">
                    <table>
                        <colgroup>
                            <col span="2">
                            <col span="5" class="odd">
                            <col span="5" class="odd2">
                            <col span="5">
                        </colgroup>
                        <thead>
                            <!--<tr>
                                <th style="width: 1%;">Niveau 2</th>
                                <th style="width: 1%;">Qté</th>
                                <th style="width: 213px;">Matière</th>
                                <th style="width: 1%;" colspan="2"><a href="#" class="param" data-toggle="tooltip" title="Utilisez la règle de proportionnalité pour calculer le paramètre demandé">Param 1</a></th>
                                <th style="width: 1%;" colspan="2"><a href="#" class="param" data-toggle="tooltip" title="Utilisez la règle de proportionnalité pour calculer le paramètre demandé">Param 2</a></th>
                                <th>Procédé</th>
                                <th colspan="2"><a href="#" class="param" data-toggle="tooltip" title="Utilisez la règle de proportionnalité pour calculer le paramètre demandé">Param 1</a></th>
                                <th colspan="2"><a href="#" class="param" data-toggle="tooltip" title="Utilisez la règle de proportionnalité pour calculer le paramètre demandé">Param 2</a></th>
                                {# if project.transportAppro < 1 #}
                                    <th colspan="3">Transport d'approvisionnement</th>
                                {# endif #}
                                <th>&nbsp;</th>
                            </tr> -->
                            <tr class="small">
                                <th>Niveau 2</th>
                                <th>Qté</th>
                                <th data-toggle="tooltip" title="" data-original-title="le conditionnement/emballage à définir au niveau 1  et étiquette, film plastique, palette bois,... à définir au niveau 2">Matière/Additif/Composant électronique/Emballage</th>
                                <th>Valeur</th>
                                <th>Unité</th>
                                <th>Valeur</th>
                                <th>Unité</th>
                                <th>Procédé de production</th>
                                <th>Valeur</th>
                                <th>Unité</th>
                                <th>Valeur</th>
                                <th>Unité</th>
                                {% if project.transportAppro < 1 %}
                                    <th>Transport d'approvisionnement</th>
                                    <th>Distance</th>
                                    <th>Unité</th>
                                {% endif %}
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for part in assembly.parentParts %}
                                {% include "ArtoAcvBundle:Default:_part.html.twig" %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <table class="assembly-footer">
                    <tr>
                        <td><button type="button" class="btn btn-info add-part"><i class="icon-plus"></i> Ajouter une pièce</button></td>
                        <td><span>Nombre de pièces : {{ assembly.parentParts|length }}</span></td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>

    <div class="templates">
        <table>
            {% include "ArtoAcvBundle:Default:_template_part.html.twig" %}
            {% include "ArtoAcvBundle:Default:_template_material.html.twig" %}
            {% include "ArtoAcvBundle:Default:_template_process.html.twig" %}
        </table>
        {% include "ArtoAcvBundle:Default:_template_assembly.html.twig" %}
    </div>

    <div class="row" {% if assemblies|length == 0 %}style="margin-top: 60px;"{% endif %}>
        <button type="button" class="btn btn-info add-assembly"><i class="icon-plus"></i> Ajouter un niveau 1</button>
    </div>
</section>


<!-- DIALOG BOXES -->
<div id="dialog-base" class="dialog-base" title="Choisir une matière">
    <form method="post" action="#">
        <div class="row">
            <label>Types de matière</label>
            <select name="type" class="type">
                <option name="default" value="">- Selectionner -</option>
                {% for type in types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <label>Familles de matière</label>
            <select name="family" class="family">
                <option name="default" value="">- Selectionner -</option>
            </select>
        </div>
        <div class="row">
            <label>Liste de matières</label>
            <select name="base" class="base">
                <option name="default" value="">- Selectionner -</option>
            </select>
        </div>
    </form>
</div>

<div id="dialog-process" class="dialog-process" title="Choisir un procédé">
    <form method="post" action="#">
        <div class="row">
            <label>Familles de procédé</label>
            <select name="process-family" class="process-family">
                <option name="default" value="">- Selectionner -</option>
                {% for key, p in process_families %}
                    {% if key != 6 and key != 15 and key != 20%}
                        <option value="{{ key }}">{{ p }}</option>
                    {% endif %}    
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <label>Liste de procédés</label>
            <select name="process-list" class="process-list">
                <option name="default" value="">- Selectionner -</option>
            </select>
        </div>
    </form>
</div>

<!--<div id="dialog-base" class="dialog-base" title="Choisir une matière">
    <form method="post" action="#">
        <div class="row">
            <label>Liste de matières</label>
            <select name="base" class="base">
                <option name="default" value="">- Selectionner -</option>
                {# for code in allCodesMatieres #}
                    <option value="{# code.id #}">{# code.name #}</option>
                {# endfor #}    
            </select>
        </div>
    </form>
</div>

<div id="dialog-process" class="dialog-process" title="Choisir un procédé">
    <form method="post" action="#">
        <div class="row">
            <label>Liste de procédés</label>
            <select name="process-list" class="process-list">
                <option name="default" value="">- Selectionner -</option>
                {# for code in allCodesProcesses #}
                    <option value="{# code.id #}">{# code.name #}</option>
                {# endfor #}
            </select>
        </div>
    </form>
</div>-->

{% endblock %}