{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block side %}
    <div class="assemblies-container">
        {% render 'ArtoAcvBundle:Assembly:index' with { 'product' : product.id } %}
    </div>
{% endblock %}

{% block body %}
    <section class="main padded">
        {{ product.name }}
    </section>
{% endblock %}