{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = "result" %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
    <script>
        $(function(){
            $(".absoluteRelative").live('click', function(event) {
                event.preventDefault();
                if($('#tableAbsolute').is(':visible')){
                    $('#tableAbsolute').hide();
                    $('#tableRelative').fadeIn();
                }else{
                    $('#tableAbsolute').fadeIn();
                    $('#tableRelative').hide();
                }
            });
            
            $(".simulation").live('click',function(event){
                //event.preventDefault();
                var weight = {{ product.weight }};
                console.log("Poids : "+weight);
                if(weight == 0){
                    alert("Vous n'avez pas entré de masse !");
                    event.preventDefault();
                }
            });
         });       
    </script>
    <section class="main">
        <h3 style="font-size: 18px; width: 1000px; text-align: center;">Répartition de la contribution par étape ACV sur les indicateurs d'impacts environnementaux</h3>
        <div style="height: 330px;">
            <img src="{{ path('acv_result_chart1', { 'project' : project.id , 'id' : product.id }) }}" width="970" height="320" style="margin-left: 70px;" />
        </div>
        <div id="results">
            <table class="result-table" id="tableAbsolute">
                <tr class="hd1">
                    <th rowspan="3" style="width:130px;">
                        <a href="#tableAbsolute" class="btn btn-info absoluteRelative" style="width: 80px; margin-top: 15px; margin-left: 0px; line-height: 12px; padding: 5px;">Absolu<br>/<br>Relatif (%)</a>
                    </th>
                    <th>Consommation<br/>Ressources Rares</th>
                    <th>Consommation<br/>Energie</th>
                    <th>Consommation<br/>Eau</th>
                    <th>Effet de<br/>Serre</th>
                    <th>Destruction<br/>Ozone</th>
                    <th>Air<br/>Impur</th>
                    <th>Ozone<br/>Photochimique</th>
                    <th>Acidification<br/>Air</th>
                    <th>Eau<br/>Impure</th>
                    <th>Eutrophisation</th>
                    <th>Déchets<br/>Dangereux</th>
                </tr>
                <tr class="odd hd2">
                    <th>RR</th>
                    <th>NRJ</th>
                    <th>CE</th>
                    <th>GES</th>
                    <th>DO</th>
                    <th>AI</th>
                    <th>OP</th>
                    <th>AA</th>
                    <th>EI</th>
                    <th>E</th>
                    <th>DD</th>
                </tr>
                <tr class="hd3">
                    <th>kg Sb eq.</th>
                    <th>MJ</th>
                    <th>litres</th>
                    <th>kg CO₂ eq.</th>
                    <th>kg CFC-11 eq.</th>
                    <th>m³</th>
                    <th>kg C₂H₄ eq.</th>
                    <th>kg H+ eq</th>
                    <th>m³</th>
                    <th>kg PO₄ eq.</th>
                    <th>kg</th>
                </tr>
                <tr class="odd first">
                    <td>Matière première (M)</td>
                    {% for val in materials %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}      
                    {% endfor %}
                </tr>
                <tr>
                    <td>Procédé (P)</td>
                    {% for val in processes %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}     
                    {% endfor %}
                </tr>
                <tr class="odd">
                    <td>Fabrication (M+P)</td>
                    {% for val in manufacturings %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}      
                    {% endfor %}
                </tr>
                <tr>
                    <td>Distribution</td>
                    {% for val in deliveries %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}       
                    {% endfor %}
                </tr>
                <tr class="odd">
                    <td>Installation</td>
                    {% for val in installs %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}         
                    {% endfor %}
                </tr>
                <tr>
                    <td>Utilisation</td>
                    {% for val in usages %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}      
                    {% endfor %}
                </tr>
                <tr class="odd last">
                    <td>Fin de vie</td>
                    {% for val in eols %}
                        {% if val==0 %}
                            <td align="center">0</td>
                        {% else %}
                            <td align="center">{{ "%.1E"|format(val) }}</td>
                        {% endif %}     
                    {% endfor %}
                </tr>
                <tr class="last" style="background: #fff">
                    <td><strong>Total</strong></td>
                    {% for total in totals %}
                        <td align="center">{{ "%.1E"|format(total) }}</td>
                    {% endfor %}
                </tr>
            </table>

            <table class="result-table" id="tableRelative" style="display:none; width:auto;">
                <tr class="hd1">
                    <th rowspan="3" style="width:110px;">
                        <a href="#results" class="btn btn-info absoluteRelative" style="width: 80px; margin-top: 15px; margin-left: 0px; line-height: 12px; padding: 5px;">Absolu<br>/<br>Relatif (%)</a>
                    </th>
                    <th style="width:85px;">Consommation<br/>Ressources Rares</th>
                    <th style="width:79px;">Consommation<br/>Energie</th>
                    <th style="width:80px;">Consommation<br/>Eau</th>
                    <th style="width:80px;">Effet de<br/>Serre</th>
                    <th style="width:85px;">Destruction<br/>Ozone</th>
                    <th style="width:80px;">Air<br/>Impur</th>
                    <th style="width:80px;">Ozone<br/>Photochimique</th>
                    <th style="width:80px;">Acidification<br/>Air</th>
                    <th style="width:80px;">Eau<br/>Impure</th>
                    <th style="width:80px;">Eutrophisation</th>
                    <th style="width:81px;">Déchets<br/>Dangereux</th>
                    <th class="hd3" style="color: red;"><b>Moyenne impacts</b></th>
                    <th class="hd3" style="color: red;"><b>Leviers d'amélioration</b></th>
                </tr>
                <tr class="odd hd2">
                    <th>RR</th>
                    <th>NRJ</th>
                    <th>CE</th>
                    <th>GES</th>
                    <th>DO</th>
                    <th>AI</th>
                    <th>OP</th>
                    <th>AA</th>
                    <th>EI</th>
                    <th>E</th>
                    <th>DD</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                <tr class="hd3">
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th>%</th>
                    <th style="color: red; font-size: 11px;">%</th>
                    <th>&nbsp;</th>
                </tr>
                <tr class="odd first">
                    <td>Matière première</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in materials %}
                        {% for key2,total in totalsRelative %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% if val < 0 %}
                                        {% set percent = 0 %}
                                    {% else %}
                                        {% set percent = (val/total)*100 %}
                                    {% endif %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>        
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %} 
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}
                    <td style="color: red; font-size: 11px;">{% if moyenne|number_format(0,".",",") >= 10 %}Réduire les masses ou volumes (voir onglet Simulation){% else %}&nbsp;{% endif %}</td>    
                </tr>
                <tr>
                    <td>Procédé</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in processes %}
                        {% for key2,total in totalsRelative %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% if val < 0 %}
                                        {% set percent = 0 %}
                                    {% else %}
                                        {% set percent = (val/total)*100 %}
                                    {% endif %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}  
                    <td style="color: red; font-size: 11px;">{% if moyenne|number_format(0,".",",") >= 10 %}Choisir un procédé plus propre (voir onglet Simulation){% else %}&nbsp;{% endif %}</td>        
                </tr>
                <tr class="odd">
                    <td>Distribution</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in deliveries %}
                        {% for key2,total in totalsRelative %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% if val < 0 %}
                                        {% set percent = 0 %}
                                    {% else %}
                                        {% set percent = (val/total)*100 %}
                                    {% endif %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}
                    <td style="color: red; font-size: 11px;">{% if moyenne|number_format(0,".",",") >= 10 %}Réduire la distance ou choisir un mode de transport plus propre{% else %}&nbsp;{% endif %}</td>        
                </tr>
                <tr>
                    <td>Installation</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in installs %}
                        {% for key2,total in totalsRelative %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% if val < 0 %}
                                        {% set percent = 0 %}
                                    {% else %}
                                        {% set percent = (val/total)*100 %}
                                    {% endif %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}
                    <td style="color: red; font-size: 11px;">{% if moyenne|number_format(0,".",",") >= 10 %}Choisir un procédé plus propre{% else %}&nbsp;{% endif %}</td>        
                </tr>
                <tr class="odd">
                    <td>Utilisation</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in energy %}
                        {% for key2,total in totalsRelative %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% if val < 0 %}
                                        {% set percent = 0 %}
                                    {% else %}
                                        {% set percent = (val/total)*100 %}
                                    {% endif %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}
                    <td style="color: red; font-size: 11px;">{% if moyenne|number_format(0,".",",") >= 10 %}Réduire la consommation d'énergie{% else %}&nbsp;{% endif %}</td>            
                </tr>
                <tr>
                    <td>Consommables</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in consommables %}
                        {% for key2,total in totalsRelative %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% if val < 0 %}
                                        {% set percent = 0 %}
                                    {% else %}
                                        {% set percent = (val/total)*100 %}
                                    {% endif %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}
                    <td style="color: red; font-size: 11px;">{% if moyenne|number_format(0,".",",") >= 10 %}Réduire ou supprimer les consommables{% else %}&nbsp;{% endif %}</td>            
                </tr>    
                <tr class="odd">
                    <td>Fin de vie</td>
                    {% set sumPercent = 0 %}
                    {% for key1,val in eols %}
                        {% for key2,total in totalsRelative %}
                            {% if key1 == key2 %}
                                {% if total != 0 %}
                                    {% if val < 0 %}
                                        {% set percent = 0 %}
                                    {% else %}
                                        {% set percent = (val/total)*100 %}
                                    {% endif %}
                                    {% set sumPercent = sumPercent + percent %}
                                        {% if (percent < 1) and (percent !=0) %}
                                            <td align="center">< 1</td>
                                        {% else %}
                                            <td align="center">{{ percent|number_format(0,".",",")}}</td>
                                        {% endif %}
                                {% else %}
                                            <td align="center">0</td>
                                {% endif %}        
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% set moyenne = sumPercent / 11 %}                        
                    {% if (moyenne < 1) and (moyenne != 0) %}
                        <td style="color: red;" align="center">< 1</td>
                    {% else %}    
                        <td style="color: red;" align="center">{{ moyenne|number_format(0,".",",") }}</td>
                    {% endif %}  
                    <td style="color: red; font-size: 11px;">{% if moyenne|number_format(0,".",",") >= 10 %}Améliorer la valorisation du produit en fin de vie{% else %}&nbsp;{% endif %}</td>            
                </tr>
                <tr class="last" style="background: #fff">
                    <td><strong>Total</strong></td>
                    {% for total in totalsRelative %}
                        {% if total != 0 %}
                            <td align="center">100</td>
                        {% else %}
                            <td align="center">0</td>
                        {% endif %}    
                    {% endfor %}
                    <td align="center" style="color: red;">100</td>        
                </tr>
            </table>
       </div>         
    </section>
{% endblock %}