{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = 'simulation' %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
    {% set graph_url = path('acv_simulation_materials_chart', { 'project' : project.id , 'id' : product.id }) %}
    <script>
    $(function(){
        $(".percentage").live('change', function(event) {
            $('#loading').show();
            var f = $(this).attr('name');
            var val = $(this).val();
            var material = $(this).parent().parent().find('.material').val();
            var percent = $(this).parent().next('td').find('.percent');
            var impact = $(this).parent().next('.impact-col').find('.impact');
            var first_percent = $(this).parent().parent().find('.percent:first').html();
            var new_percent = (first_percent * val * 100)/100;
            new_percent = roundNumber(new_percent, 2);
            
            var first_impact = $(this).parent().parent().find('.impact:first').html();
            var new_impact = (first_impact * val * 100)/100;
            new_impact = roundNumber(new_impact, 2);

            $.post("{{ path('acv_simulation_materials_save') }}", {
                product: {{ product.id }},
                field: f,
                material: material,
                value: val
            }, function(data) {
                percent.html(new_percent);
                impact.html(new_impact);
                
                var newGraphUrl = '{{ graph_url }}?'+(new Date()).getTime();
                
                $('#graph').attr('src', newGraphUrl).one('load', function() {
                    console.log("Graph update in process");
                    $('#loading').hide();
                    console.log("Loading bar hidden !");
                });
            });
        });
        
        $(".raz").live('click',function(event){
            event.preventDefault();
            var button = $(this);
            
            $(".percentage").each(function() {
               $(this).find("option:selected").removeAttr('selected'); 
               $(this).val("1");
            });
            $.post("{{ path('acv_simulation_materials_raz') }}", { product: {{ product.id }} }, function(data) {
                 $('#graph').attr('src', '{{ graph_url }}#'+new Date().getTime()).one('load', function() {
                    $('#loading').hide();
                });
            });
        });
        
        $(".razTotal").live('click',function(event){
            event.preventDefault();
            var button = $(this);
            var percentages = button.parent().find(".percentage");
            $(".percentage").each(function() {
               $(this).find("option:selected").removeAttr('selected'); 
               $(this).val("1");
            });
            $.post("{{ path('acv_simulation_parts_raz') }}", { product: {{ product.id }} }, function(data) {});
            $.post("{{ path('acv_simulation_materials_raz') }}", { product: {{ product.id }} }, function(data) {
                 $('#graph').attr('src', '{{ graph_url }}#'+new Date().getTime()).one('load', function() {
                    $('#loading').hide();
                });
            });
        });
        
        $(".eraseMateriau").live('click',function(event){
            event.preventDefault();
            var button = $(this);
            $(this).hide();
            $(this).parent().find(".cancelEraseMateriau").show();
            var percentage1 = button.parent().parent().find('.percentage[name="percentage1"]');
            var materialId = button.parent().parent().find(".material").val();
            console.log("percentage1 : "+percentage1);
            percentage1.find("option:selected").removeAttr('selected');
            percentage1.val("0.00");
            
            var newGraphUrl = '{{ graph_url }}?'+(new Date()).getTime();
            
            $.post("{{ path('acv_simulation_materials_erase') }}", { product: {{ product.id }}, material : materialId}, function(data) {
                 $('#graph').attr('src', newGraphUrl).one('load', function() {
                    $('#loading').hide();
                });
            });
        });
        
        $(".cancelEraseMateriau").live('click',function(event){
            event.preventDefault();
            var button = $(this);
            $(this).hide();
            $(this).parent().find(".eraseMateriau").show();
            var percentage1 = button.parent().parent().find('.percentage[name="percentage1"]');
            var materialId = button.parent().parent().find(".material").val();
            console.log("percentage1 : "+percentage1);
            percentage1.find("option:selected").removeAttr('selected');
            percentage1.val("1"); 
            
            var newGraphUrl = '{{ graph_url }}?'+(new Date()).getTime();
            
            $.post("{{ path('acv_simulation_materials_cancel_erase') }}", { product: {{ product.id }}, material : materialId}, function(data) {
                 $('#graph').attr('src', newGraphUrl).one('load', function() {
                    $('#loading').hide();
                });
            });
        });
        
        $(window).bind("scroll", function() {
            var scroll = $(window).scrollTop();
            var anchor_top = $(".table").offset().top;
            var anchor_bottom = $("#bottom_anchor").offset().top;
 
            if (scroll > anchor_top && scroll < anchor_bottom) {
                clone_table = $("#clone");
                if(clone_table.length === 0) {          
                    clone_table = $(".table").clone();
                    clone_table.attr({id: "clone"})
                    .css({
                        position: "fixed",
                        "pointer-events": "none",
                         top: $(".clear").position().top
                    })
                    .width($(".table").width());
                    
                    console.log("A y est c'est cloné !");

                    $(".well.simulator-table").append(clone_table);
                    // dont hide the whole table or you lose border style & 
                    // actively match the inline width to the #maintable width if the 
                    // container holding the table (window, iframe, div) changes width          
                    $("#clone").width($(".table").width());
                    // only the clone thead remains visible
                    $("#clone thead").css({
                        visibility:"visible"
                    });
                    // clone tbody is hidden
                    $("#clone tbody").css({
                        visibility:"hidden"
                    });              
                }
            } 
            else {
                $("#clone").remove();
            }
       });
    });
    </script>
    <section class="main simulation">
        <img id="graph" src="{{ graph_url }}" width="300" />
        <a id="loading" class="btn" href="#"><i class="icon-refresh icon-spin"></i> Mise à jour du graphique en cours ...</a>
         <label style="position:fixed; top:385px;">
            Légende :
            <br/>un indicateur à 100%
            <br/>sur le radar (en périphérie),
            <br/>signifie un impact négatif
        </label>
        <img src="/images/acv/indicateurs.bmp" style="position:fixed; top:450px;"/>
        <div class="simulator">
            <div class="navigator">
                <a href="{{ path('acv_simulation_parts', { 'project' : project.id , 'id' : product.id }) }}" class="btn"><i class=""></i> Optimisation des masses des articles</a>
                <a href="{{ path('acv_simulation_materials', { 'project' : project.id , 'id' : product.id }) }}" class="btn btn-info"><i class=""></i> Optimisation masses matières & composants</a>
                <a href="{{ path('acv_simulation_pistes', { 'project' : project.id, 'id' : product.id }) }}" class="btn"><i class=""></i> Impacts Matières&Procédés/Pistes</a>
                <input type="button" class="btn btn-success raz" value="RAZ simulation" />
                <input type="button" class="btn btn-success razTotal" value="RAZ ttes simulations" />
            </div>
            <div class="well simulator-table">
                <label><i class="icon-eye-open"></i> : analyse de la sensibilité du matériau sur les indicateurs d'impact - Les matériaux dont le "Ratio Impacts/masse" est de couleur rouge, sont des contributeurs d'impacts significatifs</label>
                <table class="table" style="width:100%;">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col span="2" style="background: #daeb99;">
                        <col style="background: #bce02e;">
                        <col span="2" style="background: #e3af98;">
                        <col style="background: #df632d;">
                        <col span="2" style="background: #ebe696;">
                        <col style="background: #dfd52d;">
                        <col span="2" style="background: #93c7eb;">
                        <col style="background: #2c95de;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th colspan="3" style="color: #bce02e;">{{ project.name }}</th>
                            <th colspan="3" style="color: #df632d;">Simulation 1</th>
                            <th colspan="3" style="color: #dfd52d;">Simulation 2</th>
                            <th colspan="3" style="color: #2c95de;">Simulation 3</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th style="font-weight: normal">Ratio<br/>impacts<br/>/masse</th>
                            <th style="color: #bce02e; width: 80px;">% en masse</th>
                            <th style="color: #bce02e; width: 80px;">masse en g</th>
                            <th style="color: #bce02e; width: 80px;">% impacts</th>
                            <th style="color: #df632d; width: 70px;">variation masse</th>
                            <th style="color: #df632d; width: 80px;">% en masse</th>
                            <th style="color: #df632d; width: 80px;">% impacts</th>
                            <th style="color: #dfd52d; width: 70px;">variation masse</th>
                            <th style="color: #dfd52d; width: 80px;">% en masse</th>
                            <th style="color: #dfd52d; width: 80px;">% impacts</th>
                            <th style="color: #2c95de; width: 70px;">variation masse</th>
                            <th style="color: #2c95de; width: 80px;">% en masse</th>
                            <th style="color: #2c95de; width: 80px;">% impacts</th>
                        </tr>
                    </thead>    
                    <tbody>
                    {% for part in parts %}
                        {% if part['percent'] == 0 %}
                            {% set ratio = 0 %}
                        {% else %}
                            {% set ratio = (part['impact'] / part['percent'])|number_format(1, '.', '') %}
                        {% endif %}
                        <tr>
                            <td>
                                <a href="#" class="eraseMateriau"><i class="icon-eye-open"></i></a>
                                <a href="#" class="cancelEraseMateriau" style="display: none;"><i class="icon-eye-close"></i></a>
                            </td>
                            <td width="150">
                                <input type="hidden" name="material" value="{{ part['material'].id }}" class="material"/>
                                <span>{{ part['material'].name }}</span>
                            </td>
                            <td align="center"><span {%if ratio > 2%}style="color: red;"{% endif %}>{{ ratio }}</span></td>
                            <td align="center"><span class="percent">{{ part['percent'] }}</span></td>
                            <td align="center"><span class="weight">{{ part['weight'] }}</span></td>
                            <td class="impact-col">
                                <span class="impact">
                                    {{ part['impact'] }}
                                </span>
                            </td>

                            <td>
                                {% set p = null %}
                                {% if part['simulation'] != null and part['simulation'].percentage1 != null %}
                                    {% set p = part['simulation'].percentage1 %}
                                {% endif %}
                               
                                <select class="percentage" name="percentage1" style="height:25px; width:80px;">
                                    {% for percentage2 in percentages2 %}
                                        {% set percentage2Value = percentage2['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentage2Value }}" {% if p != null and p == percentage2Value %}selected="selected"{% endif %}>{{ percentage2['label'] }}%</option>
                                    {% endfor %}
                                    <option value="1" {% if p == 1 or  p == null %}selected="selected"{% endif %}></option>
                                    {% for percentage in percentages %}
                                        {% set percentageValue = percentage['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentageValue }}" {% if p != null and p == percentageValue %}selected="selected"{% endif %}>{{ percentage['label'] }}%</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td align="center">
                                <span class="percent">
                                    {% if p != null %}
                                        {{ (part['percent'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['percent'] }}
                                    {% endif %}
                                </span>
                            </td>
                            <td class="impact-col">
                                <span class="impact">
                                    {% if p != null %}
                                        {{ (part['impact'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['impact'] }}
                                    {% endif %}
                                </span>
                            </td>

                            <td>
                                {% set p = null %}
                                {% if part['simulation'] != null and part['simulation'].percentage2 != null %}
                                    {% set p = part['simulation'].percentage2 %}
                                    <input type="hidden" name="id" value="{{ part['simulation'].id }}" class="id"/>
                                {% endif %}

                                <select class="percentage" name="percentage2" style="height:25px; width:80px;">
                                    {% for percentage2 in percentages2 %}
                                        {% set percentage2Value = percentage2['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentage2Value }}" {% if p != null and p == percentage2Value %}selected="selected"{% endif %}>{{ percentage2['label'] }}%</option>
                                    {% endfor %}
                                    <option value="1" {% if p == 1 or  p == null %}selected="selected"{% endif %}></option>
                                    {% for percentage in percentages %}
                                        {% set percentageValue = percentage['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentageValue }}" {% if p != null and p == percentageValue %}selected="selected"{% endif %}>{{ percentage['label'] }}%</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td align="center">
                                <span class="percent">
                                    {% if p != null %}
                                        {{ (part['percent'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['percent'] }}
                                    {% endif %}
                                </span>
                            </td>
                            <td class="impact-col">
                                <span class="impact">
                                    {% if p != null %}
                                        {{ (part['impact'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['impact'] }}
                                    {% endif %}
                                </span>
                            </td>

                            <td>
                                {% set p = null %}
                                {% if part['simulation'] != null and part['simulation'].percentage3 != null %}
                                    {% set p = part['simulation'].percentage3 %}
                                    <input type="hidden" name="id" value="{{ part['simulation'].id }}" class="id"/>
                                {% endif %}

                                <select class="percentage" name="percentage3" style="height:25px; width:80px;">
                                    {% for percentage2 in percentages2 %}
                                        {% set percentage2Value = percentage2['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentage2Value }}" {% if p != null and p == percentage2Value %}selected="selected"{% endif %}>{{ percentage2['label'] }}%</option>
                                    {% endfor %}
                                    <option value="1" {% if p == 1 or  p == null %}selected="selected"{% endif %}></option>
                                    {% for percentage in percentages %}
                                        {% set percentageValue = percentage['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentageValue }}" {% if p != null and p == percentageValue %}selected="selected"{% endif %}>{{ percentage['label'] }}%</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td align="center">
                                <span class="percent">
                                    {% if p != null %}
                                        {{ (part['percent'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['percent'] }}
                                    {% endif %}
                                </span>
                            </td>
                            <td class="impact-col">
                                <span class="impact">
                                    {% if p != null %}
                                        {{ (part['impact'] * p)|number_format(2) }}
                                    {% else %}
                                        {{ part['impact'] }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>     
                </table>
                <div id="bottom_anchor"></div>       
            </div>
        </div>
    </section>
{% endblock %}