{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = 'simulation' %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
    {% set graph_url = path('acv_simulation_parts_chart', { 'project' : project.id , 'id' : product.id }) %}
    <script>
    $(function(){
        $(".percentage").live('change', function(event) {
            $('#loading').show();
            var f = $(this).attr('name');
            var val = $(this).val();
            var id = $(this).parent().parent().find('.part').val();
            var weight = $(this).parent().next('td').find('.weight');
            
            var percent = $(this).parent().next('td').find('.percent');
            var impact = $(this).parent().next('.impact-col').find('.impact');
            
            var first_percent = $(this).parent().parent().find('.percent:first').html();
            var new_percent = (first_percent * val * 100)/100;
            new_percent = roundNumber(new_percent, 2);
            
            var first_impact = $(this).parent().parent().find('.impact:first').html();
            var new_impact = (first_impact * val * 100)/100;
            new_impact = roundNumber(new_impact, 2);
            
            console.log("Field : "+f+" partId : "+id+" val : "+val);
            
            $.post("{{ path('acv_simulation_parts_save') }}", { field: f, part: id, value: val }, function(data) {
                weight.html(data+'g');
                percent.html(new_percent);
                impact.html(new_impact);
                
                var newGraphUrl = '{{ graph_url }}?'+ (new Date()).getTime();
                $('#graph').attr('src', newGraphUrl).one('load', function() {
                    $('#loading').hide();
                });
            });
        });
        
        $(".raz").live('click',function(event){
            event.preventDefault();
            var button = $(this);
            
            $(".percentage").each(function() {
               $(this).find("option:selected").removeAttr('selected'); 
               $(this).val("1");
            });
            
            $.post("{{ path('acv_simulation_parts_raz') }}", { product: {{ product.id }} }, function(data) {
                $('#graph').attr('src', '{{ graph_url }}#'+new Date().getTime()).one('load', function() {
                    $('#loading').hide();
                });
            });
        });
        
        $(".razTotal").live('click',function(event){
            event.preventDefault();
            var button = $(this);
            var percentages = button.parent().find(".percentage");
            $(".percentage").each(function() {
               $(this).find("option:selected").removeAttr('selected'); 
               $(this).val("1");
            });
            $.post("{{ path('acv_simulation_materials_raz') }}", { product: {{ product.id }} }, function(data) {});
            $.post("{{ path('acv_simulation_parts_raz') }}", { product: {{ product.id }} }, function(data) {
                 $('#graph').attr('src', '{{ graph_url }}#'+new Date().getTime()).one('load', function() {
                    $('#loading').hide();
                });
            });
        });
        
        
        $(window).bind("scroll", function() {
            var scroll = $(window).scrollTop();
            var anchor_top = $(".table").offset().top;
            var anchor_bottom = $("#bottom_anchor").offset().top;
 
            if (scroll > anchor_top && scroll < anchor_bottom) {
                clone_table = $("#clone");
                if(clone_table.length === 0) {          
                    clone_table = $(".table").clone();
                    clone_table.attr({id: "clone"})
                    .css({
                        position: "fixed",
                        "pointer-events": "none",
                         top: $(".clear").position().top
                    })
                    .width($(".table").width());
                    
                    console.log("A y est c'est cloné !");

                    $(".well.simulator-table").append(clone_table);
                    // dont hide the whole table or you lose border style & 
                    // actively match the inline width to the #maintable width if the 
                    // container holding the table (window, iframe, div) changes width          
                    $("#clone").width($(".table").width());
                    // only the clone thead remains visible
                    $("#clone thead").css({
                        visibility:"visible"
                    });
                    // clone tbody is hidden
                    $("#clone tbody").css({
                        visibility:"hidden"
                    });              
                }
            } 
            else {
                $("#clone").remove();
            }
       });
    });
    </script>
    <section class="main simulation">
        <img id="graph" src="{{ graph_url }}" width="300" />
        <a id="loading" class="btn" href="#" style="height:15px;"><i class="icon-refresh icon-spin"></i> Mise à jour du graphique en cours ...</a>
        <label style="position:fixed; top:385px;">
            Légende :
            <br/>un indicateur à 100%
            <br/>sur le radar (en périphérie),
            <br/>signifie un impact négatif
        </label>
        <img src="/images/acv/indicateurs.bmp" style="position:fixed; top:450px;"/>
        <div class="simulator">
            <div class="navigator">
                <a href="{{ path('acv_simulation_parts', { 'project' : project.id , 'id' : product.id }) }}" class="btn btn-info"><i class=""></i> Optimisation des masses des articles</a>
                <a href="{{ path('acv_simulation_materials', { 'project' : project.id , 'id' : product.id }) }}" class="btn"><i class=""></i> Optimisation masses matières & composants</a>
                <a href="{{ path('acv_simulation_pistes', { 'project' : project.id, 'id' : product.id }) }}" class="btn"><i class=""></i> Impacts Matières&Procédés/Pistes</a>
                <input type="button" class="btn btn-success raz" value="RAZ simulation" />
                <input type="button" class="btn btn-success razTotal" value="RAZ ttes simulations" />
            </div>
            <div class="well simulator-table"> 
                <table class="table">
                    <colgroup>
                        <col>
                        <col span="2" style="background: #daeb99;">
                        <col style="background: #bce02e;">
                        <col span="2" style="background: #e3af98;">
                        <col style="background: #df632d;">
                        <col span="2" style="background: #ebe696;">
                        <col style="background: #dfd52d;">
                        <col span="2" style="background: #93c7eb;">
                        <col style="background: #2c95de;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th colspan="3" style="color: #bce02e;">{{ project.name }}</th>
                            <th colspan="3" style="color: #df632d;">Simulation 1</th>
                            <th colspan="3" style="color: #dfd52d;">Simulation 2</th>
                            <th colspan="3" style="color: #2c95de;">Simulation 3</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th style="color: #bce02e; width: 80px;">% en masse</th>
                            <th style="color: #bce02e; width: 80px;">masse en g</th>
                            <th style="color: #bce02e; width: 80px;">% impacts</th>
                            <th style="color: #df632d; width: 70px;">variation masse</th>
                            <th style="color: #df632d; width: 80px;">% en masse</th>
                            <th style="color: #df632d; width: 80px;">% impacts</th>
                            <th style="color: #dfd52d; width: 70px;">variation masse</th>
                            <th style="color: #dfd52d; width: 80px;">% en masse</th>
                            <th style="color: #dfd52d; width: 80px;">% impacts</th>
                            <th style="color: #2c95de; width: 70px;">variation masse</th>
                            <th style="color: #2c95de; width: 80px;">% en masse</th>
                            <th style="color: #2c95de; width: 80px;">% impacts</th>
                        </tr>
                    </thead>  
                    <tbody>
                    {% for part in parts %}
                        <tr>
                            <td width="150">
                                <input type="hidden" name="part" value="{{ part['id'] }}" class="part"/>
                                <span>{{ part['name'] }}</span>
                            </td>
                            
                            <td align="center">
                                <span class="percent">
                                    {{ part['percent'] }}
                                </span>
                            </td>
                            
                            <td>
                                <span class="weight">
                                    {{ part['weight'] }}
                                </span>
                            </td>
                            
                            <td class="impact-col">
                                <span class="impact">
                                    {{ part['impact'] }}
                                </span>
                            </td>
                            
                            <td>
                                <select class="percentage" name="percentage1" style="height:25px; width:75px;">
                                    {% for percentage2 in percentages2 %}
                                        {% set percentage2Value = percentage2['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentage2Value }}" {% if part['percentage1'] != null and part['percentage1'] == percentage2Value %}selected="selected"{% endif %}>{{ percentage2['label'] }}%</option>
                                    {% endfor %}
                                    <option value="1" {% if (part['percentage1'] == 1 or  part['percentage1'] == null) %}selected="selected"{% endif %}></option>    
                                    {% for percentage in percentages %}
                                        {% set percentageValue = percentage['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentageValue }}" {% if part['percentage1'] != null and part['percentage1'] == percentageValue %}selected="selected"{% endif %}>{{ percentage['label'] }}%</option>
                                    {% endfor %}
                                </select>
                            </td>  
                            <td align="center">
                                <span class="percent">
                                    {% if part['percentage1'] != null %}
                                        {{ (part['percent']*part['percentage1'])|number_format(2) }}
                                    {% else %}
                                        {{ (part['percent'])|number_format(2) }}
                                    {% endif %}    
                                </span>
                            </td>
                            <td class="impact-col">
                                <span class="impact">
                                    {{ part['impact'] }}
                                </span>
                            </td>

                            <td>
                                <select class="percentage" name="percentage2" style="height:25px; width:75px;">
                                    {% for percentage2 in percentages2 %}
                                        {% set percentage2Value = percentage2['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentage2Value }}" {% if part['percentage2'] != null and part['percentage2'] == percentage2Value %}selected="selected"{% endif %}>{{ percentage2['label'] }}%</option>
                                    {% endfor %} 
                                    <option value="1" {% if (part['percentage2'] == 1 or  part['percentage2'] == null) %}selected="selected"{% endif %}></option>        
                                    {% for percentage in percentages %}
                                        {% set percentageValue = percentage['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentageValue }}" {% if part['percentage2'] != null and part['percentage2'] == percentageValue %}selected="selected"{% endif %}>{{ percentage['label'] }}%</option>
                                    {% endfor %}   
                                </select>
                            </td>
                            
                            <td align="center">
                                <span class="percent">
                                    {% if part['percentage2'] != null %}
                                        {{ (part['percent']*part['percentage2'])|number_format(2) }}
                                    {% else %}
                                        {{ (part['percent'])|number_format(2) }}
                                    {% endif %}
                                </span>
                            </td>
                            
                            <td class="impact-col">
                                <span class="impact">
                                    {{ part['impact'] }}
                                </span>
                            </td>

                            <td>
                                <select class="percentage" name="percentage3" style="height:25px; width:75px;">
                                    {% for percentage2 in percentages2 %}
                                        {% set percentage2Value = percentage2['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentage2Value }}" {% if part['percentage3'] != null and part['percentage3'] == percentage2Value %}selected="selected"{% endif %}>{{ percentage2['label'] }}%</option>
                                    {% endfor %}  
                                    <option value="1" {% if (part['percentage3'] == 1 or  part['percentage3'] == null) %}selected="selected"{% endif %}></option>        
                                    {% for percentage in percentages %}
                                        {% set percentageValue = percentage['value']|number_format(2, '.', ',') %}
                                        <option value="{{ percentageValue }}" {% if part['percentage3'] != null and part['percentage3'] == percentageValue %}selected="selected"{% endif %}>{{ percentage['label'] }}%</option>
                                    {% endfor %}   
                                </select>
                            </td>
                            <td align="center">
                                <span class="percent">
                                    {% if part['percentage3'] != null %}
                                        {{ (part['percent']*part['percentage3'])|number_format(2) }}
                                    {% else %}
                                        {{ (part['percent'])|number_format(2) }}
                                    {% endif %}
                                </span>
                            </td>
                            <td class="impact-col">
                                <span class="impact">
                                    {{ part['impact'] }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>    
                </table>
                <div id="bottom_anchor"></div>    
            </div> 
        </div>
    </section>
{% endblock %}