{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = 'simulation' %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
    {% set graph_url = path('acv_simulation_parts_chart', { 'project' : project.id , 'id' : product.id }) %}
    <script>
    $(function(){   
        $(window).bind("scroll", function() {
            var scroll = $(window).scrollTop();
            var anchor_top = $(".table").offset().top;
            var anchor_bottom = $("#bottom_anchor").offset().top;
 
            if (scroll > anchor_top && scroll < anchor_bottom) {
                clone_table = $("#clone");
                if(clone_table.length === 0) {          
                    clone_table = $(".table").clone();
                    clone_table.attr({id: "clone"})
                    .css({
                        position: "fixed",
                        "pointer-events": "none",
                         top: $(".clear").position().top
                    })
                    .width($(".table").width());
                    
                    console.log("A y est c'est cloné !");

                    $(".well.simulator-table").append(clone_table);
                    // dont hide the whole table or you lose border style & 
                    // actively match the inline width to the #maintable width if the 
                    // container holding the table (window, iframe, div) changes width          
                    $("#clone").width($(".table").width());
                    // only the clone thead remains visible
                    $("#clone thead").css({
                        visibility:"visible"
                    });
                    // clone tbody is hidden
                    $("#clone tbody").css({
                        visibility:"hidden"
                    });              
                }
            } 
            else {
                $("#clone").remove();
            }
       });
    });
    </script>
    <section class="main simulation">
        <div class="simulator">
            <div class="navigator">
                <a href="{{ path('acv_simulation_parts', { 'project' : project.id , 'id' : product.id }) }}" class="btn"><i class=""></i> Optimisation des masses des articles</a>
                <a href="{{ path('acv_simulation_materials', { 'project' : project.id , 'id' : product.id }) }}" class="btn"><i class=""></i> Optimisation masses matières & composants</a>
                <a href="{{ path('acv_simulation_pistes', { 'project' : project.id, 'id' : product.id }) }}" class="btn btn-info"><i class=""></i> Impacts Matières&Procédés/Pistes</a>  
                <input type="button" class="btn btn-success razTotal" value="RAZ ttes simulations" />
            </div>
            <div class="well simulator-table">
                <table class="table">
                    <colgroup>
                        <col>
                        <col style="background: #bce02e;">
                        <col span="1" style="background: #df632d;">
                        <col span="2" style="background: #2c95de;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th style="color: #bce02e;">&nbsp;</th>
                            <th style="color: #bce02e;">Valeur</th>
                            <th style="color: #bce02e;">% impacts</th>
                            <th style="color: #df632d;">Evoluer vers la réduction de masse sans dégrader la performance du produit et/ou ...</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for part in parts %}
                        <tr>
                            <td width="150">
                                <span>
                                    {% if part['type']=='M' %}<strong style="background-color: #005580; color: #fff;">M</strong>{% elseif part['type']=='P'%}<strong style="background-color: #f18d05;; color: #fff;">P</strong>{% endif %} {{ part['name'] }}
                                </span>
                            </td>
                            
                            <td width="70" align="center">
                                <span>
                                    {{ part['weight']|number_format(2, '.', ' ') }}
                                </span>
                            </td>

                            <td class="impact-col">
                                <span class="impact">
                                    {{ part['impact'] }}
                                </span>
                            </td>
                            
                            <td>
                                <span style="color: #fff; font-weight: bold;">
                                    {{ part['pistes'] }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>    
                </table>
                <div id="bottom_anchor"></div>    
            </div>   
        </div>
    </section>
{% endblock %}