{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = "sticker" %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
         $(document).ready(function(){
            var project = $('.project-id').val();
            var product = $('.product-id').val();
            var urlCheckLifetime = "{{path('acv_sticker_check_lifetime') }}?project="+project+"&product="+product;
            $.post(urlCheckLifetime, function(data){
                if(data.usage == null){
                    alert("Veuillez renseigner la durée de vie du produit dans l'onglet Utilisation !");
                }else{
                    if(data.lifetime == 0 ){
                        alert("Veuillez renseigner la durée de vie du produit dans l'onglet Utilisation !");
                    }
                }
            }, 'json');
         });
         
        $(".simulation").live('click',function(event){
            //event.preventDefault();
            var weight = {{ product.weight }};
            console.log("Poids : "+weight);
            if(weight == 0){
                alert("Vous n'avez pas entré de masse !");
                event.preventDefault();
            }
        });
    });
</script>
    <section class="main">
        <input type="hidden" class="project-id" value="{{ project.id }}"/>
        <input type="hidden" class="product-id" value="{{ product.id }}"/>
        <div class="floatL" style="margin-right: 20px;">
            <form action="{{ path('acv_project_pva_save', {'project': project.id, 'id': product.id }) }}" method="post">
                <div class="row">
                    {% if project.energyConsumer == true %}
                        <label style="font-weight:bold;">Impacts du produit sur 1 an pour<br/>une <b>P</b>révision de <b>V</b>ente <b>A</b>nnuelle (PVA) de</label>
                    {% else %}
                        <label style="font-weight:bold;">Impacts du produit sur 1 an pour<br/>une <b>P</b>révision de <b>V</b>ente <b>A</b>nnuelle (PVA) de</label>
                    {% endif %}
                    <input type="text" name="pva" style="width: 80px" value="{{ pva|number_format(0,',',' ') }}" />
                    <button type="submit" class="btn">Valider</button>
                </div>
                <div class="row">
                    <a href="{{ path('acv_sticker', {'project': project.id, 'id': product.id, 'pdf' : 1 }) }}" class="btn btn-info"><i class="icon-print"></i> Imprimer</a>
                </div>
            </form>
        </div>
            
            <div class="sticker-mini floatL" style="margin-right: 90px;">
                    <ul class="info">
                        {% if pva == 1 %}
                            <li>
                                {% if co2 >= 1000 %}
                                    {% set co2 = co2/1000 %}
                                    <strong style="color: #99cc00;"><i>{{ co2|number_format(3,',',' ') }}</i><br/>t CO<sub>2</sub> eq.</strong>
                                {% else %}     
                                    <strong style="color: #99cc00;"><i>{{ co2|number_format(3,',',' ') }}</i><br/>kg CO<sub>2</sub> eq.</strong>
                                {% endif %}    
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ co2_euros }}{% else %}{{ co2_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 30€ la tonne de CO<sub>2</sub></em></span>
                            </li>
                            <li>
                                <strong style="color: #018fbd;"><i>{{ water|number_format(3,',',' ') }}</i><br/>m<sup>3</sup></strong>
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ water_euros }}{% else %}{{ water_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 3,40€ le m<sup>3</sup> d'eau</em></span>
                            </li>
                            <li>
                                {% if power >= 1000 %}
                                    {% set power = power/1000 %}
                                    <strong style="color: #cc0066;"><i>{{ power|number_format(3,',',' ') }}</i><br/>MWh</strong>
                                {% else %}
                                    <strong style="color: #cc0066;"><i>{{ power|number_format(3,',',' ') }}</i><br/>kWh</strong>
                                {% endif %}    
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ power_euros }}{% else %}{{ power_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 0,12€ le kWh d'élec. EDF</em></span>
                            </li>
                            <li>
                                {% if recycle >= 1000 %}
                                    {% set recycle = recycle/1000 %}
                                    <strong style="color: #e1b505;"><i>{{ recycle|number_format(3,',',' ') }}</i><br/>t</strong>
                                {% else %}
                                    <strong style="color: #e1b505;"><i>{{ recycle|number_format(3,',',' ') }}</i><br/>kg</strong>
                                {% endif %}    
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ recycle_euros }}{% else %}{{ recycle_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> de 1,4€ / kg de piles</em></span>
                            </li>
                        {% else %}
                            <li>
                               {% if co2 >= 1000 %}
                                    {% set co2 = co2/1000 %}
                                        <strong style="color: #99cc00;"><i>{{ co2|number_format(3,',',' ') }}</i><br/>t CO<sub>2</sub> eq.</strong>
                               {% else %}     
                                    <strong style="color: #99cc00;"><i>{{ co2|number_format(3,',',' ') }}</i><br/>kg CO<sub>2</sub> eq.</strong>
                               {% endif %}   
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ co2_euros }}{% else %}{{ co2_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 30€ la tonne de CO<sub>2</sub></em></span>
                            </li>
                            <li>
                                <strong style="color: #018fbd;"><i>{{ water|number_format(1,',',' ') }}</i><br/>m<sup>3</sup></strong>
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ water_euros }}{% else %}{{ water_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 3,40€ le m<sup>3</sup> d'eau</em></span>
                            </li>
                            <li>
                               {% if power >= 1000 %}
                                    {% set power = power/1000 %}
                                        <strong style="color: #cc0066;"><i>{{ power|number_format(3,',',' ') }}</i><br/>MWh</strong>
                               {% else %}
                                    <strong style="color: #cc0066;"><i>{{ power|number_format(3,',',' ') }}</i><br/>kWh</strong>
                               {% endif %}
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ power_euros }}{% else %}{{ power_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> 0,12€ le kWh d'élec. EDF</em></span>
                            </li>
                            <li>
                               {% if recycle >= 1000 %}
                                    {% set recycle = recycle/1000 %}
                                        <strong style="color: #e1b505;"><i>{{ recycle|number_format(3,',',' ') }}</i><br/>t</strong>
                               {% else %}
                                        <strong style="color: #e1b505;"><i>{{ recycle|number_format(3,',',' ') }}</i><br/>kg</strong>
                               {% endif %}
                                <span style="font-size:20px;">Eq. {% if pva < 10 %}{{ recycle_euros }}{% else %}{{ recycle_euros|number_format(0,',',' ') }}{% endif %}&nbsp;&euro;<br><em>Calculé au coût de<br/> de 1,4€ / kg de piles</em></span>
                            </li>
                        {% endif %}        
                    </ul>
                </div>
            
            {% set totalCost = (co2_euros + water_euros + power_euros + recycle_euros)|number_format(0, ',',' ') %}
            
            <div style="float:left; margin-right: 20px;">
                <label style="font-size: 18px;">
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A CETTE PVA, CE PRODUIT GENERE UN
                    {% if project.energyConsumer == true %}
                    <br/><br/>COUT ENVIRONNEMENTAL MINIMUM SUR 1 AN DE
                    {% else %}
                    <br/><br/>COUT ENVIRONNEMENTAL MINIMUM SUR SON CYCLE DE VIE DE
                    {% endif %}
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-size:25px;">{{ totalCost }} €</b>
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOUTE REDUCTION D'IMPACT ENTRAINERA
                    <br/><br/>AUTOMATIQUEMENT DES GAINS SUBSTANTIELS
                    <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D'ECONOMIES POUR L'ENTREPRISE
                </label>
            </div>
        
        <div class="floatL">
            <label><b>Cette représentation des impacts sur l'environnement du produit est une "auto-déclaration environnementale" respectant les principes de la norme ISO 14021(étiquetage de type II)</b></label>
        </div>

        <div class="clear"></div>
    </section>
{% endblock %}