{% extends '::acv_base.html.twig' %}
{% set section = "glossaire" %}
{% block body %}

<section class="main transverse">
    <div style="text-align: justify;">
        <h2 class="first">Approche cycle de vie</h2>
        <p style="font-size: 105%; line-height: 18px;">Méthodologie de prise en compte de toutes les étapes de la vie d’un produit (fabrication, installation, utilisation et fin de vie) afin de déterminer les conséquences sur l'environnement</p>
        
        <h2>ACV (Analyse du Cycle de Vie)</h2>
        <p style="font-size: 105%; line-height: 18px;">Compilation et évaluation des extrants, des intrants et des impacts environnementaux potentiels d'un système de produits au cours de son cycle de vie.
            <br/>[ISO 14040]
        </p>

        <h2>Aspect environnemental</h2>
        <p style="font-size: 105%; line-height: 18px;">Elément des activités, produits ou services d'un organisme, susceptible d'interactions avec l'environnement.
            <br/>[ISO 14050]
        </p>

        <h2>Catégorie d’impact</h2>
        <p style="font-size: 105%; line-height: 18px;">Classe représentant les points environnementaux étudiés à laquelle les résultats de l'inventaire du cycle de vie peuvent être affectés
            <br/>[ISO 14040]
        </p>
        
        <h2>Consommation d’eau</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique la consommation totale d’eau pour tout le cycle de vie du produit.</p>

        <h2>Création d’ozone photochimique</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique en g~C<sub>2</sub>H<sub>4</sub> les émissions de gaz ayant un effet sur la création d’ozone photochimique dans la basse atmosphère (« smog ») sous l’effet du rayonnement solaire</p>

        <h2>Déchets dangereux</h2>
        <p style="font-size: 105%; line-height: 18px;">Ce sont des déchets spécifiques présentant un certain niveau de toxicité et nécessitant un traitement particulier (comme indiqué dans la Directive 91/689/CE et décision 2532 CE).</p>
      
        <h2>Déchets non dangereux</h2>
        <p style="font-size: 105%; line-height: 18px;">Ils sont constitués de déchets non toxiques et sont de nature similaire aux ordures ménagères.</p>

        <h2>Donnée primaire</h2>
        <p style="font-size: 105%; line-height: 18px;">Intrant ou extrant mesuré sur un site ou un processus spécifique réel.</p>

        <h2>Eco solution</h2>
        <p style="font-size: 105%; line-height: 18px;">Produits ou services permettant la diminution des impacts environnementaux d’une installation.</p>

        <h2>Elément proportionnel au flux de référence</h2>
        <p style="font-size: 105%; line-height: 18px;">Un élément est proportionnel au flux de référence dès lors que l’impact associé évolue en fonction des quantités produites.</p>

        <h2>Emballage élémentaire</h2>
        <p style="font-size: 105%; line-height: 18px;">Emballage élémentaire est celui de l’unité de vente commerciale.</p>
        
        <h2>Energie totale consommée</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique la consommation totale d’énergie primaire pour tout le cycle de vie du produit.</p>
   
        <h2>Epuisement des ressources naturelles</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique l’épuisement des ressources naturelles, en considérant la quantité de réserve mondiale (minérales, fossiles…) pour ces ressources et le niveau de consommation actuel.</p>
        <p style="font-size: 105%; line-height: 18px;">S’exprime en fraction de la réserve qui disparaît chaque année.</p>
        
        <h2>Eutrophisation de l’eau</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique en gramme équivalent PO<sub>4</sub><sup>3</sup>- (g ~PO<sub>4</sub><sup>3</sup>-) la participation à l’eutrophisation de l’eau par l’enrichissement du milieu aquatique en éléments nutritifs, par exemple : effluents industriels, domestiques, agriculture, etc.</p>
        
        <h2>Extrant (Sortant)</h2>
        <p style="font-size: 105%; line-height: 18px;">Flux de produit, de matière ou d'énergie sortant d'un processus élémentaire.
            <br/>[ISO 14040]
        </p>
        
        <h2>Famille environnementale homogène</h2>
        <p style="font-size: 105%; line-height: 18px;">Groupe de produits correspondant à la même unité fonctionnelle (fonction d’usage identique, norme produit, technologie identique (type de matériaux et processus de fabrication) dont les impacts environnementaux sont identiques au produit de référence ou extrapolables en appliquant éventuellement une règle de calcul définie.</p>
        
        <h2>Frontière du système</h2>
        <p style="font-size: 105%; line-height: 18px;">Ensemble de critères qui spécifient quels processus élémentaires font partie d'un système de produits.
            <br/>[ISO 14040]
        </p>
        
        <h2>Impact environnemental</h2>
        <p style="font-size: 105%; line-height: 18px;">Toute modification de l'environnement, négative ou bénéfique, résultant totalement ou partiellement des activités, produits ou services d'un organisme.
            <br/>[ISO 14050]
        </p>
        
        <h2>Indicateur de catégorie d’impact</h2>
        <p style="font-size: 105%; line-height: 18px;">Représentation quantifiable d'une catégorie d'impact.
            <br/>[ISO 14040]
        </p>
        
        <h2>Intrant (Entrant)</h2>
        <p style="font-size: 105%; line-height: 18px;">Flux de produit, de matière ou d'énergie entrant dans un processus élémentaire.
            <br/>[ISO 14040]
        </p>
        
        <h2>Inventaire du cycle de vie (ICV)</h2>
        <p style="font-size: 105%; line-height: 18px;">Phase de l'analyse du cycle de vie impliquant la compilation et la quantification des intrants et des extrants, pour un système de produits donné au cours de son cycle de vie.
            <br/>[ISO 14040]
        </p>
        
        <h2>Participation à l’effet de serre</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique pour toutes les phases du cycle de vie du produit, identifie les émissions dans l’air participant à l’effet de serre libèrent comme grammes équivalents CO<sub>2</sub>.
            <br/>Exemple du principe d’équivalence : 1 g de CO<sub>2</sub> = 1 g~CO<sub>2</sub> ; 1 g de CH<sub>4</sub> (méthane) équivaut à l’effet de 64 g de CO<sub>2</sub>, etc...
        </p>
        
        <h2>Participation à la destruction de la couche d’ozone</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique ce que toutes les phases du cycle de vie du produit libèrent comme grammes équivalents CFC11.</p>
        
        <h2>Pollution de l’air</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique la quantité d’air nécessaire pour diluer les éléments toxiques émis dans l’air pour toutes les phases du cycle de vie du produit. Exprimé en m<sup>3</sup> d’air.</p>
        
        <h2>Pollution de l’eau</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique la quantité d’eau nécessaire pour diluer les éléments toxiques déversés dans l’eau pour toutes les phases du cycle de vie du produit. Exprimé en m<sup>3</sup> d’eau.</p>
        
        <h2>Potentiel d’acidification de l’air</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique le potentiel d’acidification de l’air causé par la libération de certains gaz dans l’atmosphère. Exprimé en gramme équivalent ion H+.</p>
        
        <h2>Production de déchets dangereux</h2>
        <p style="font-size: 105%; line-height: 18px;">Indique la quantité de déchets dangereux produite sur l’ensemble du cycle de vie du produit.</p>
        
        <h2>Produit de référence</h2>
        <p style="font-size: 105%; line-height: 18px;">Produit ou système de produits modélisé dans l’ACV et représentatif d’une famille environnementale homogène.</p>
        
        <h2>Système de produits</h2>
        <p style="font-size: 105%; line-height: 18px;"Ensemble de processus élémentaires comportant des flux de produits et des flux élémentaires, remplissant une ou plusieurs fonctions définies, qui sert de modèle au cycle de vie d'un produit.
           <br/>[ISO 14040]
        </p>
        
        <h2>Unité fonctionnelle</h2>
        <p style="font-size: 105%; line-height: 18px;">Performance quantifiée d'un système de produits destinée à être utilisée comme unité de référence dans une analyse du cycle de vie.
            <br/>[ISO 14040]
        </p>
    </div>
</section>

{% endblock %}