{% block body %}

<section class="main">
    <div class="floatL" style="width: 760px">
       {% if a is defined %}
            <label> {{a}}</label>
       {% endif %}
       {% if b is defined %}
            <label> {{b}}</label>
       {% endif %}     
    </div>
</section>

{% endblock %}