{% extends '::acv_base.html.twig' %}

{% block subnav %}
    {% set section = "usage" %}
    {% include 'ArtoAcvBundle:Default:_subnav.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".energy_type").live('change', function(event) {
            $('#usage-table').hide();
            $('#continuous').hide();
            $('#more').hide();
            $('#energy').hide();

            var val = $(this).val();

            if (val == 1) {
                $('#usage-table').show();
                $('#more').show();
                $('#energy').show();
                $('#lifetime').show();

                {% if usage.energyType is empty %}
                $('input[name="on_kw"]').val('');
                $('input[name="on_percent"]').val('');
                $('input[name="off_kw"]').val('');
                $('input[name="off_percent"]').val('');
                $('input[name="standby_active_kw"]').val('');
                $('input[name="standby_passive_kw"]').val('');
                $('input[name="standby_active_time"]').val('');
                $('input[name="standby_passive_time"]').val('');
                {% endif %}
            }

            if (val == 2) {
                $('#continuous').show();
                $('#more').show();
                $('#energy').show();
                $('#lifetime').show();
            }
            
            if (val == 3){
                $('#lifetime').show();
                $('#usage-table').hide();
                $('#more').show();
            } 
        }).change();

        $(".continuous").live('change', function(event) {
            console.log("Continuous change !");
            var val = $(this).val();
            var energyTypeVal = $(".energy_type").val();
            console.log("Val : "+val+" energyTypeVal : "+energyTypeVal);
            if ((val == 1 || val == 2) && energyTypeVal != 3) {
                console.log("Oui !");
                $('#usage-table').show();
            }

            {% if usage.continuous is empty %}
                if (val == 1) {
                    $('input[name="on_kw"]').val(0);
                    $('input[name="on_percent"]').val(100);
                    $('input[name="off_kw"]').val(0);
                    $('input[name="off_percent"]').val(0);
                    $('input[name="standby_active_kw"]').val(0);
                    $('input[name="standby_passive_kw"]').val(0);
                    $('input[name="standby_active_percent"]').val(0);
                    $('input[name="standby_passive_percent"]').val(0);
                }
                if (val == 2) {
                    $('input[name="on_kw"]').val(0);
                    $('input[name="on_percent"]').val(30);
                    $('input[name="off_kw"]').val(0);
                    $('input[name="off_percent"]').val(70);
                    $('input[name="standby_active_kw"]').val(0);
                    $('input[name="standby_passive_kw"]').val(0);
                    $('input[name="standby_active_percent"]').val(0);
                    $('input[name="standby_passive_percent"]').val(0);
                }
            {% endif %}
        }).change();

        $(".base").live('change', function(event) {
            event.preventDefault();
            var base = $(this);
            var val = base.val();
            var select_line =  base.parent().parent().parent();
            select_line.find('.qty').removeAttr("disabled");
            select_line.find('.qty').css({"background-color": "#fff"});
            select_line.find('.param1').removeAttr("disabled");
            select_line.find('.param1').css({"background-color": "#fff"}); 
            
            $.post("{{ path('acv_base_select') }}", { id: val }, function(data) {
                //Exposants
                if(data.unit1 == "cm2"){
                    select_line.find('.unit1').html("cm<sup>2</sup>");         
                }else if(data.unit1 == "dm2"){
                    select_line.find('.unit1').html("dm<sup>2</sup>");
                }else if(data.unit1 == "m2"){
                    select_line.find('.unit1').html("m<sup>2</sup>");   
                }else if(data.unit1 == "mm2"){
                    select_line.find('.unit1').html("mm<sup>2</sup>"); 
                }else if(data.unit1 == "m3"){
                    select_line.find('.unit1').html("m<sup>3</sup>");    
                }else if(data.unit1 == "dm3"){
                    select_line.find('.unit1').html("dm<sup>3</sup>");
                }else if(data.unit1 == "cm3"){
                    select_line.find('.unit1').html("cm<sup>3</sup>"); 
                }else{
                    select_line.find('.unit1').html(data.unit1);
                }
                
                 //Exposants
                if(data.unit2 == "cm2"){
                    select_line.find('.unit2').html("cm<sup>2</sup>");         
                }else if(data.unit2 == "dm2"){
                    select_line.find('.unit2').html("dm<sup>2</sup>");
                }else if(data.unit2 == "m2"){
                    select_line.find('.unit2').html("m<sup>2</sup>");   
                }else if(data.unit2 == "mm2"){
                    select_line.find('.unit2').html("mm<sup>2</sup>"); 
                }else if(data.unit2 == "m3"){
                    select_line.find('.unit2').html("m<sup>3</sup>");    
                }else if(data.unit2 == "dm3"){
                    select_line.find('.unit2').html("dm<sup>3</sup>");
                }else if(data.unit2 == "cm3"){
                    select_line.find('.unit2').html("cm<sup>3</sup>"); 
                }else{
                    select_line.find('.unit2').html(data.unit2);
                }
                
                select_line.find('.param2').removeAttr("disabled");
                select_line.find('.param2').css({"background-color": "#fff"});
                select_line.find('.param2').removeAttr("data-original-title");
                
                if(data.type != '1'){              
                    if(data.unit2 == ''){
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        select_line.find('.param2').attr("value", "");
                    }else{
                        select_line.find('.param2').attr("title", "Unité : " + data.unit2 + " | Donnée : " + data.unitmass);
                        select_line.find('.param2').attr("value", "");
                    }

                    if(data.unit1 == 'UN' && data.unit2 == 'g'){
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        select_line.find('.param2').attr("value", data.multiplicateur);      
                    }

                    if(data.unit1 == 'UN' && data.unit2 == 'kg'){
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        select_line.find('.param2').attr("value", data.multiplicateur/1000);                 
                    }

                    if(data.unit1 == 'UN' && (data.unit2 == 'A.h' || data.unit2 == 'dm2' || data.unit2 == 'cm2' || data.unit2 == 'mm2' || data.unit2 == 'cm3' || data.unit2 == "UN")){
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        if(data.valParam2ByUN != ''){
                            select_line.find('.param2').attr("value", data.valParam2ByUN);
                        }  
                    }


                    select_line.find('.param1').attr("title", "Unité : " + data.unit1 + " | Donnée : " + data.unitmass);
                    select_line.find('.param1').removeAttr("data-original-title");
                }else{
                    if(data.unit2 != ''){
                        if(data.valParam2ByUN == ''){
                            select_line.find('.param2').removeAttr("disabled");
                            select_line.find('.param2').css({"background-color": "#fff"});
                            select_line.find('.param2').attr("title", "Unité : " + data.unit2 + " | Donnée : " + data.unitmass);
                        }else{
                            select_line.find('.param2').attr("disabled", "disabled");
                            select_line.find('.param2').css({"background-color": "#eeeeee"});
                            select_line.find('.param2').attr("value", data.valParam2ByUN);
                            select_line.find('.param2').attr("title", "Unité : " + data.unit2 + " | Donnée : " + data.unitmass);
                        }
                    }else{
                        select_line.find('.param2').attr("disabled", "disabled");
                        select_line.find('.param2').css({"background-color": "#eeeeee"});
                        select_line.find('.param2').attr("value", ""); 
                    }
                    select_line.find('.param1').removeAttr("data-original-title");
                    select_line.find('.param1').attr("title", "Unité : " + data.unit1 + " | Donnée : " + data.unitmass);
                    select_line.find('.param2').removeAttr("data-original-title");
                }
                
            }, 'json');
        });

        $(".type").live('change', function(event) {
            event.preventDefault();
            var type = $(this);
            var parent = type.parent().parent();
            var t = type.val();
            parent.find('.family').html('');
            $.post("{{ path('acv_family_list') }}", { type: t }, function(data) {
                var family = parent.find('.family');
                family.html(data);
            });
        });

        $(".family").live('change', function(event) {
            event.preventDefault();
            var family = $(this);
            var parent = family.parent().parent();
            var f = family.val();
            var t = parent.find('.type').val();
            $.post("{{ path('acv_base_list') }}", { family: f, type: t }, function(data) {
                var baselist = parent.find('.base');
                baselist.html(data);
            });
        });

        var parts_counter1 = {{ parts1|length }};
        var parts_counter2 = {{ parts2|length }};

        $(".add1").live('click', function(event) {
            event.preventDefault();
            var table = $(this).parent().find('table');
            var part = $(this).parent().find('.template').clone(true);

            var input = part.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (parts_counter1) + p3;
                }));
            });

            parts_counter1++;

            table.find('tr:first').show();
            part.show();
            part.removeClass('template');
            part.appendTo(table);
        });

        $(".add2").live('click', function(event) {
            event.preventDefault();
            var table = $(this).parent().find('table');
            var part = $(this).parent().find('.template').clone(true);

            var input = part.find(':input');
            input.each(function() {
                $(this).attr('name', $(this).attr('name').replace(/(\[)(\d+)(\])/, function(f, p1, p2, p3) {
                    return p1 + (parts_counter2) + p3;
                }));
            });

            parts_counter2++;

            table.find('tr:first').show();
            part.show();
            part.removeClass('template');
            part.appendTo(table);
        });
        
        $(".simulation").live('click',function(event){
            //event.preventDefault();
            var weight = {{ product.weight }};
            console.log("Poids : "+weight);
            if(weight == 0){
                alert("Vous n'avez pas entré de masse !");
                event.preventDefault();
            }
        });
         
        $('#lifetimeVal').live('focusin',function(event){
            $('#help-lifetime').show();
        });
        
        $('#lifetimeVal').live('focusout',function(event){
            $('#help-lifetime').hide();
        });
        
        $('#form1').live('submit',function(event){
            //event.preventDefault();
            var energy_type = $(this).find('.energy_type').val();
            if(energy_type !=3){
                var energy = $(this).find('.energy').val();
                if(energy == ''){
                    alert("Vous n'avez pas entré d'Energie !");
                    event.preventDefault();
                }
            }
        });
    });
</script>

    <section class="main">
        <div class="form">
            <form id="form1" action="{{ path('acv_usage_save', { 'project' : project.id , 'id' : product.id }) }}" method="post">
                <fieldset style="float: left; width: 500px; height: 370px;">
                    <h3>Utilisation</h3>
                    <div class="row">
                        <label class="lbl">Le produit est-il ?</label>
                        <select name="energy_type" class="energy_type">
                            <option value="">- Choisir - </option>
                            <option value="1" {% if usage.energyType == 1 %}selected{% endif %}>Actif</option>
                            <option value="2" {% if usage.energyType == 2 %}selected{% endif %}>Passif</option>
                            <option value="3" {% if usage.energyType == 3 %}selected{% endif %}>Sans consommation d'énergie</option>
                        </select>
                    </div>
                   
                    <div class="row" id="energy" {% if usage.energyType == 3 %}style="display: none;"{% endif %}>
                        <label class="lbl">Energie</label>
                        <select name="energy" class="energy">
                            <option value="">- Choisir - </option>
                                {% for energy in energies %}
                            <option value="{{ energy.id }}" {% if usage.energy is not empty and usage.energy.id == energy.id %}selected{% endif %}>{{ energy.name }}</option>
                                {% endfor %}
                        </select>
                    </div>

                    <div class="row" id="lifetime" {% if usage.energyType == 3 %}style="display: none;"{% endif %}>
                        <label class="lbl">Nombre d'années de vie du produit</label>
                        <input type="text" name="lifetimeVal" id="lifetimeVal" value="{{ project.lifetime }}" class="medium" style="float:left; width:30px;"/>
                        <div id="help-lifetime" style="display:none;" title="Aide">
                           <img src='/images/acv/helpLifetime.jpg' style="width: 400px; height:200px;"/>
                        </div>
                    </div>

                    <div class="row" id="continuous" {% if usage.energyType != 2 %}style="display:none;"{% endif %}>
                        <label class="lbl">Le fonctionnement du produit est-il ?</label>
                        <select name="continuous" class="continuous">
                            <option value="">- Choisir - </option>
                            <option value="1" {% if usage.continuous == 1 %}selected{% endif %}>Permanent</option>
                            <option value="2" {% if usage.continuous == 2 %}selected{% endif %}>Non Permanent</option>
                        </select>
                    </div>

                    <div class="row" id="usage-table" {% if usage.energyType != 1 %}style="display:none;"{% endif %}>
                        <label class="lbl">Scénario d'utilisation</label>
                        <table>
                            <tr>
                                <th colspan="3">Puissance consommée</th>
                                <th colspan="3">Temps d'utilisation</th>
                            </tr>
                            <tr>
                                <td>Marche</td>
                                <td><input type="text" name="on_kw" value="{{ usage.onKw }}" /></td>
                                <td>W</td>
                                <td width="20"></td>
                                <td><input type="text" name="on_percent" class="onPercent" value="{{ usage.onPercent }}" /></td>
                                <td>%/1 an</td>
                            </tr>
                            <tr>
                                <td>Veille</td>
                                <td><input type="text" name="standby_active_kw" value="{{ usage.standByActiveKw }}" /></td>
                                <td>W</td>
                                <td width="20"></td>
                                <td><input type="text" name="standby_active_percent" class="standByActivePercent" value="{{ usage.standByActivePercent }}" /></td>
                                <td>%/1 an</td>
                            </tr>
                            <!--<tr>
                                <td>Veille Passif</td>
                                <td><input type="text" name="standby_passive_kw" value="{# usage.standByPassiveKw #}" /></td>
                                <td>W</td>
                                <td width="20"></td>
                                <td><input type="text" name="standby_passive_percent" class="standByPassivePercent" value="{# usage.standByPassivePercent #}" /></td>
                                <td>%/1 an</td>
                            </tr>-->
                            <tr>
                                <td>Arrêt</td>
                                <td><input type="text" name="off_kw" value="{{ usage.offKw }}" /></td>
                                <td>W</td>
                                <td width="20"></td>
                                <td><input type="text" name="off_percent" class="offPercent" value="{{ usage.offPercent }}" /></td>
                                <td>%/1 an</td>
                            </tr>
                        </table>
                    </div>

                    <div class="row">
                        <label class="lbl"></label>
                        <input type="submit" id="submitUsage" class="btn" value="Valider" />
                    </div>
                </fieldset>
                
                <div id="infos" style="width: 1000px;">
                    <label style="font-size: 12px;">
                        <br/>
                        <b>3 catégories de produits électriques</b> : <br/><br/>
                        <b><i class="icon-arrow-right"></i> Produit actif</b> : réalise des fonctions de mesure ou de conversion d'énergie en consommant de l'énergie sur le circuit électrique principal. Indiquer selon le ou les mode(s) de fonctionnement du produit de référence :<br/>
                        &nbsp; &nbsp; - la puissance consommée pour chacun des modes de fonctionnement identifiés (mode marche, mode veille, mode arrêt)<br/>
                        &nbsp; &nbsp; - la durée des modes de fonctionnement exprimée en % de temps d'un cycle complet.<br/>
                        <span style="font-size: 10px;">(nota : base de calcul : 365j/an x 24h/j x 60mn/h)</span><br/><br/>
                        <b><i class="icon-arrow-right"></i> Produit passif</b>: traversé par un courant, il réalise des fonctions de contact, d'ouverture dans l'installation et dissipe de l'énergie<br/>
                        <b>&nbsp; &nbsp; - En fonctionnement non permanent </b>: Les pertes par effet joule sont calculées à partir des chutes de tension : La puissance dissipée est calculée avec un taux de charge de 30% du courant nominal (In) pendant 30% du temps d'utilisation de l'installation et 0W le reste du temps (70%)<br/>
                        <b>&nbsp; &nbsp; - En fonctionnement permanent </b>: taux de charge / courant nominal (In) : 30% de In et 100% du temps d'utilisation<br/>
                        <span style="font-size: 10px;">(nota : base de calcul : 365j/an x 24h/j x 60mn/h)</span><br/><br/>
                        <b><i class="icon-arrow-right"></i> Produit non consommateur d'énergie</b>: produit de protection et de support des matériels d'installation électrique. Il n'utilise pas d'énergie<br/>
                        <br/>
                    </label>
                </div>
            </form>

            <div id="more">
                <form id="form2" action="{{ path('acv_usage_part_save', { 'project' : project.id , 'id' : product.id, 'category': 1 }) }}" method="post">
                    <fieldset>
                        <h3>Consommables nécessaires à l’utilisation du Produit de Référence durant la phase d'utilisation</h3>
                        <div class="row">
                            <table>
                                <tr {% if parts1|length == 0 %}style="display: none;"{% endif %}>
                                    <th>Type</th>
                                    <th>Quantité</th>
                                    <th>Param 1</th>
                                    <th>Unité</th>
                                    <th>Param 2</th>
                                    <th>Unité</th>
                                </tr>
                                {% for key,part in parts1 %}
                                    {% render 'ArtoAcvBundle:Usage:part' with { 'id' : part.id, 'category' : 1, 'key': key } %}
                                {% endfor %}
                                {% render 'ArtoAcvBundle:Usage:partNew'  with { 'category' : 1, 'key': parts1|length + 1 } %}
                            </table>
                            <button type="button" class="btn btn-info add1">Ajouter</button>
                            <button type="submit" class="btn btn-success">Valider</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <form id="form3" action="{{ path('acv_usage_part_save', { 'project' : project.id , 'id' : product.id, 'category': 2 }) }}" method="post">
                <fieldset>
                    <h3>Installation du produit (mode d’installation impactant pour l’environnement. ex : colles, ciment, consommation d’énergie élevée)</h3>
                    <div class="row">
                        <table>
                            <tr {% if parts2|length == 0 %}style="display: none;"{% endif %}>
                                <th>Type</th>
                                <th>Quantité</th>
                                <th>Valeur</th>
                                <th>Unité</th>
                            </tr>
                            {% for key, part in parts2 %}
                                {% render 'ArtoAcvBundle:Usage:part' with { 'id' : part.id, 'category' : 2, 'key': key } %}
                            {% endfor %}
                            {% render 'ArtoAcvBundle:Usage:partNew'  with { 'category' : 2, 'key': parts2|length + 1 } %}
                        </table>
                        <button type="button" class="btn btn-info add2">Ajouter</button>
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>
                </fieldset>
            </form>
            
            <div class="row">
                <p class="help">
                    Le traitement de l'emballage du produit et son transport vers un site de recyclage sont pris en compte à l'étape d'installation. (source PCR, norme EN 15804) 
                </p>
            </div>
        </div>
    </section>
{% endblock %}