<div class="subhome" style="padding-top: 30px;">
    <div class="colL" style="">
        <div style="margin-left: 40px;">
            <h4><a href="{{ path('green') }}"><i class="icon-angle-right"></i> Accueil</a></h4>
            {% for page in pages %}
                {% if loop.index < 6 %}
                    <h4><a href="{{ path('green_page', {'slug' : page.slug }) }}"><i class="icon-angle-right"></i> {{ page.name }}</a></h4>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="colR">
        <div style="">
            {% for page in pages %}
                {% if loop.index >= 6 %}
                    <h4><a href="{{ path('green_page', {'slug' : page.slug }) }}"><i class="icon-angle-right"></i> {{ page.name }}</a></h4>
                {% endif %}
            {% endfor %}
            <h4><a href="{{ path('green_faq') }}"><i class="icon-angle-right"></i> F.A.Q.</a></h4>
        </div>
    </div>
    <div class="clear"></div>
</div>