<div class="subproduct">
    <div class="colL" style="">
        <i class="icon-building icon-3x" style="float: left;"></i>
        <h2 style="margin-left: 20px;float: left;">Construction et amenagement urbain</h2>
        <div class="clear"></div>
        <div style="margin-top: 30px;">
            <a href="{{ path('green_product', {'slug' : 'artourba'}) }}"><img src="/css/skin/artourba_logo.png" /></a>
            <p>Evaluation environnementale qualitative d’un aménagement urbain</p>
            <a href="{{ path('green_product', {'slug' : 'artodistrib'}) }}"><img src="/css/skin/artodistrib_logo.png" /></a>
            <p>Evaluation des impacts environnementaux liés au transport</p>
            <a href="{{ path('green_product', {'slug' : 'artoacv-1'}) }}"><img src="/css/skin/artoacv_logo.png" /></a>
            <p>ACV quantitative simplifiée, avec comparaison entre plusieurs scénarios</p>
            <a href="{{ path('green_product_description') }}" class="btn btn-large btn-info"  style="margin-top: 20px; display: block;">
                <i class=" icon-arrow-down icon-2x"></i><br/>
                Travail collaboratif&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i>&nbsp;&nbsp;&nbsp;Gain de temps&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i>&nbsp;&nbsp;&nbsp;Gain de coût
            </a>
        </div>
    </div>
    <div class="colR">
        <i class="icon-cogs icon-3x" style="float: right;"></i>
        <h2 style="text-align: right;float: right; margin-right: 20px;">Produits manufacturés</h2>
        <div class="clear"></div>
        <div>
            <a href="{{ path('green_product', {'slug' : 'artodesign'}) }}"><img src="/css/skin/artodesign_logo.png" /></a>
            <p>Evaluation environnementale qualitative d’un concept</p>
            <a href="{{ path('green_product', {'slug' : 'artodistrib-1'}) }}"><img src="/css/skin/artodistrib_logo.png" /></a>
            <p>Evaluation des impacts environnementaux liés au transport</p>
            <a href="{{ path('green_product', {'slug' : 'artoprod'}) }}"><img src="/css/skin/artoprod_logo.png" /></a>
            <p>Evaluation des impacts liés a la production</p>
            <a href="{{ path('green_product', {'slug' : 'artoflux'}) }}"><img src="/css/skin/artoflux_logo.png" /></a>
            <p>Inventaire des données</p>
            <a href="{{ path('green_product', {'slug' : 'artoacv'}) }}"><img src="/css/skin/artoacv_logo.png" /></a>
            <p>ACV quantitative simplifiée, avec comparaison entre plusieurs scénarios </p>
            <a href="{{ path('green_product_description') }}" class="btn btn-large btn-info"  style="margin-top: 20px; display: block;">
                <i class=" icon-arrow-down icon-2x"></i><br/>
                Travail collaboratif&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i>&nbsp;&nbsp;&nbsp;Gain de temps&nbsp;&nbsp;&nbsp;<i class="icon-chevron-right"></i>&nbsp;&nbsp;&nbsp;Gain de coût
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>