<div class="subservice">
    <div class="colL" style="">
        <i class="icon-building icon-3x" style="float: left;"></i>
        <h2 style="margin-left: 20px;float: left;">Construction et amenagement urbain</h2>
        <div class="clear"></div>
        <div style="margin-left: 70px;">
            {% for category in categories1 %}
                <h3><i class="icon-chevron-right"></i> {{ category.name }}</h3>
                {% for page in category.pages %}
                    <h4><a href="{{ path('green_service_page', {'slug' : page.slug }) }}"><i class="icon-angle-right"></i> {{ page.name }}</a></h4>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="colR">
        <i class="icon-cogs icon-3x" style="float: right;"></i>
        <h2 style="text-align: right;float: right; margin-right: 20px;">Produits manufacturés</h2>
        <div class="clear"></div>
        <div>
            {% for category in categories2 %}
                <h3><i class="icon-chevron-right"></i> {{ category.name }}</h3>
                {% for page in category.pages %}
                    <h4><a href="{{ path('green_service_page', {'slug' : page.slug }) }}"><i class="icon-angle-right"></i> {{ page.name }}</a></h4>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
</div>