{% extends '::base.html.twig' %}

{% set section = "cgv" %}

{% block body %}
<section class="main transverse">
    <div class="justifiedDiv">
        <h1 align="center"><u>CONDITIONS GENERALES DE VENTE</u></h1>
        <h2><u>ARTICLE 1</u> :	OBJET</h2>
        <p style="font-size: 105%; line-height: 18px;">
            <b>ARTOGREEN</b> a pour vocation d’accompagner les professionnels, entreprises ou les collectivité locales à intégrer l’environnement dans leurs projets et/ou produits.
            <br/><br/>  
            <b>ARTOGREEN</b> propose, d’une part, la fourniture d’outils en ligne permettant à ses clients d’optimiser l’intégration des contraintes écologiques et environnementales dans leurs projets ou produits.
            <br/><br/>
            D’autre part, <b>ARTOGREEN</b> peut fournir un service de conseil en environnement à ses clients afin de leur permettre d’intégrer les contraintes environnementales dans la conception ou l’exécution de leurs projets techniques, industriels ou architecturaux.
        </p>
        
        <h2><u>ARTICLE 2</u> : CHAMP D’APPLICATION</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Les présentes conditions générales s’appliquent sans restriction ni réserve à l’ensemble des services proposés par <b>ARTOGREEN</b>, tant sur son site internet pour la fourniture des outils web en ligne, que pour la prestation de services.
            <br/><br/>
            Ces conditions s’appliquent à l’exclusion de toutes autres conditions.
            <br/><br/>
            Ces conditions générales sont accessibles à tout moment sur le site internet et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire.
            <br/><br/>
            Sauf preuve contraire, les données enregistrées par <b>ARTOGREEN</b> constituent la preuve de l’ensemble des transactions.
            <br/><br/>
            Les coordonnées de <b>ARTOGREEN</b> sont les suivantes :
            <br/>
            ARTOGREEN
            <br/>
            19, rue du manège
            <br/>
            76130 MONT SAINT-AIGNAN
            <br/><br/>
            Les modifications de ces conditions générales de vente sont opposables aux utilisateurs du site à compter de leur mise en ligne et ne peuvent s’appliquer aux transactions conclues antérieurement.
            <br/><br/>
            La validation de commande, de service ou d’utilisation des outils web vaut acceptation pleine, entière et sans réserve des présentes conditions générales de vente.
        </p>
        
        <h2><u>ARTICLE 3</u> : CONDITIONS DE FOURNITURE DES PRESTATIONS</h2>
        <h3><u>3-1</u> : Conditions communes à l’utilisation des outils web et la fourniture de prestations de services</h3>
        <p style="font-size: 105%; line-height: 18px;">
            L’utilisation des produits et services fournis par ARTOGREEN au travers de son site internet suppose, au préalable, l’ouverture d’un compte utilisateur.
            <br/><br/>
            L’ouverture de ce compte utilisateur en tant que telle, est gratuite, seuls la commande et l’usage des outils web et la fourniture des prestations de services donnant lieu à rémunération.
            <br/><br/>
            L’ouverture d’un compte utilisateur constitue un préalable à l’existence de relations contractuelles entre le client et la société <b>ARTOGREEN</b> mais ne suffit, en aucun cas, à l’effectivité de cette relation contractuelle.
            <br/><br/>
            Tout visiteur du site, à l’exception des personnes exclues ci-après, peut ouvrir un compte utilisateur sans pour autant être lié contractuellement avec la société <b>ARTOGREEN</b>.
            <br/><br/>
            L’ouverture du compte utilisateur implique de renseigner les rubriques nécessaires.
            <br/><br/>
            Les informations collectées resteront strictement confidentielles et réservées aux seuls usages de <b>ARTOGREEN</b>.
            <br/><br/>
            L’utilisateur peut, à tout moment, demander la fermeture de son compte, sur simple de demande par email à <a href="mailto:artogreen@contact.fr" style="color:blue;">artogreen@contact.fr</a>.
            <br/><br/>
            Une confirmation de fermeture de compte sera fournie dans les <b>48 heures</b>.
            <br/><br/>
            Lors de l’ouverture du compte, l’utilisateur certifie que l’ensemble des informations qu’il fournies sont exactes.
            <br/><br/>
            Sauf convention expresse contraire, les outils et les prestations de service de <b>ARTOGREEN</b> sont expressément réservées à un cadre professionnel et ne sont pas ouverts aux prestataires concurrents de <b>ARTOGREEN</b>, consultants et organismes de formation.
            <br/><br/>
            <b>ARTOGREEN</b> se réserve la possibilité de fermer le compte utilisateur ou de refuser l’ouverture d’un compte utilisateur à tout utilisateur qui se serait identifié ou qui serait identifié comme consultant en écologie environnement, ou qui, sans être exclusivement consultant en écologie et environnement, proposerait à des tiers ce type de prestation.
            <br/><br/>
            En tout état de cause, au moment de l’ouverture du compte, l’utilisateur certifie ne pas être consultant en écologie ou environnement.
        </p>
        
        <h3><u>3-2</u> : Acquisition du droit d’utilisation des outils ARTOGREEN</h3>
        <p style="font-size: 105%; line-height: 18px;"> 
            Après l’ouverture du compte utilisateur, le client peut obtenir le droit d’utilisation d’un ou plusieurs outils <b>ARTOGREEN</b> moyennant le paiement de la redevance correspondante.
            <br/><br/>
            Le client choisit le ou les outils en cliquant sur les icônes correspondantes.
            <br/><br/>
            Il choisit ensuite le nombre de licences voulues, et la durée d’engagement.
            <br/><br/>
            Le contrat n’est finalisé qu’après validation du paiement en ligne.
            <br/><br/>
            Le client reste tenu pour toute la durée d’engagement souscrite, même s’il souhaite fermer son compte utilisateur à la date d’échéance.
            <br/><br/>
            Dans ce cas, conformément à la demande du client, le compte sera fermé dans les 48 heures comme indiqué au 3-1.
            <br/><br/>
            En revanche, la fermeture du compte utilisateur, à l’initiative du client, après obtention des licences d’utilisation des outils <b>ARTOGREEN</b>, bien qu’interdisant l’utilisation de ceux-ci après la fermeture du compte utilisateur, n’entraîne restitution d’aucune somme de la part d’<b>ARTOGREEN</b>.
            <br/><br/>
            Outre l’abonnement pour la licence d’utilisation des outils <b>ARTOGREEN</b>, l’utilisateur peut choisir, en cliquant sur l’icône correspondante, une prestation complémentaire de formation à l’outil choisi.
            <br/><br/>
            Le choix de la prestation de formation est accessoire et indépendante de l’abonnement aux licences d’utilisation des outils <b>ARTOGREEN</b> et fait l’objet d’une facturation distincte.
        </p>
        
        <h3><u>3-3</u> : Prestations de services et conseils</h3>
        <p style="font-size: 105%; line-height: 18px;">
            La sollicitation par le client de <b>ARTOGREEN</b> au titre d’une prestation de conseils et de services, se fait par le biais de l’icône correspondante sur le site.
            <br/><br/>
            Le client décrit sommairement ses besoins.
            <br/><br/>
            La commande de prestations de services ne sera effective qu’après signature d’un contrat écrit décrivant précisément notamment la nature exacte de la mission confiée à <b>ARTOGREEN</b>, les conditions d’intervention d’<b>ARTOGREEN</b>, le montant de la rémunération et les modalités de paiement.
            <br/><br/>
            Le cas échéant, le client pourra solliciter un devis.
            <br/><br/>
            Le devis accepté sera alors annexé au contrat écrit passé entre les parties.
            <br/><br/>
            Les éventuelles modifications de la commande par le client ne pourront être prises en compte par <b>ARTOGREEN</b> que dans la limite de ses possibilités et à condition d’être notifiées par courrier électronique et ne seront effectives qu’après acceptation d’<b>ARTOGREEN</b>.
            <br/><br/>
            Dans tous les cas de figure, elles donneront lieu à l’établissement d’un devis et à un ajustement du prix.
            <br/><br/>
            La modification ne pourra être effective qu’après acceptation du nouveau devis par le client.
            <br/><br/>
            A défaut, le contrat continuera à se poursuivre dans les conditions prévues initialement.
        </p>
        
        <h2><u>ARTICLE 4</u> : TARIFS</h2>
        <h3><u>4-1</u> : Abonnement aux licences d’utilisation des outils ARTOGREEN</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Les tarifs en vigueur pour les différents outils proposés par <b>ARTOGREEN</b> sont disponibles en consultation en ligne sur le site <a href="http://www.artogreen.com" target="_blank" style="color:blue;">http://www.artogreen.com</a> ainsi que sur demande auprès d’<b>ARTOGREEN</b> à l’adresse <a href="mailto:artogreen@contact.fr" style="color:blue;">artogreen@contact.fr</a>.
            <br/><br/>
            <b>ARTOGREEN</b> se réserve le droit de modifier ses tarifs à tout moment.
            <br/><br/>
            Les prix sont exprimés en euros hors taxes et TTC.
            <br/><br/>
            Le taux des taxes et notamment le taux de TVA sont ceux applicables au jour de la commande.
            <br/><br/>
            Tout changement du taux de TVA pourra être répercuté sur le prix des services.
            <br/><br/>
            Si, en cours d’abonnement, les pouvoirs publics venaient à imposer une taxe nouvelle quelconque, ou changer le taux de TVA, tout changement de taux ou la nouvelle taxe pourrait être répercuté sur le prix des services.
            <br/><br/>
            Les tarifs sont fermes et non révisables pendant leur période de validité tels que figurant sur le site de <b>ARTOGREEN</b>.
        </p>
        
        <h3><u>4-2</u> : Prestations de services et conseils</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Les prestations de service proposées par <b>ARTOGREEN</b> sont fournies au tarif en vigueur au jour de la confirmation de l’acceptation de la commande.
            <br/><br/>
            Le prix indiqué dans le contrat est le prix définitif.
            <br/><br/>
            Le client sera tenu de verser à <b>ARTOGREEN</b> les honoraires prévus au contrat.
            <br/><br/>
            Le montant de ces honoraires sera exprimé en euros hors taxes et TTC.
            <br/><br/>
            Le montant de ces honoraires sera déterminé d’un commun accord entre les parties dans le contrat.
            <br/><br/>
            Il dépendra notamment du nombre d’unités de temps d’intervention auquel sera appliqué un coefficient variable notamment en fonction de la difficulté de l’intervention.
            <br/><br/>
            Les prestations pourront aussi être facturées mensuellement sur la base du prix ainsi convenu.
            <br/><br/>
            Les frais engagés par <b>ARTOGREEN</b> pour la réalisation de sa prestation (déplacement, frais de reprographie…) seront facturés sur justificatifs.
            <br/><br/>
            Le paiement des factures se fait à réception.
            <br/><br/>
            En cas de retard, le client sera redevable d’un intérêt de retard calculé sur la base de 3 fois le taux de base bancaire augmenté de 10 points.
            <br/><br/>
            En outre, en tout état de cause, tout retard de paiement donnera lieu à une indemnité de recouvrement de 40 euros, sans préjudice de l’intérêt de retard éventuel.
            <br/><br/>
            En cas de non-paiement d’une seule facture, <b>ARTOGREEN</b> sera fondée à cesser toute intervention jusqu’à la reprise des règlements.
            <br/><br/>
            Outre les pénalités de retard évoquées ci-dessus, le non-paiement d’une facture totale ou partielle donnera lieu à une pénalité supplémentaire égale à 10 % du montant restant à payer.
        </p>
        
        <h2><u>ARTICLE 5</u> : CONDITIONS DE PAIEMENT</h2>
        <h3><u>5-1</u> : Outils ARTOGREEN</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Le paiement des abonnements aux licences des outils <b>ARTOGREEN</b> se fait à la commande en ligne.
            <br/><br/>
            Le paiement est réalité par le biais d’un système sécurisé.
            <br/><br/>
            Il donne lieu à l’émission d’une facture transmise électroniquement.
        </p>
        
        <h3><u>5-2</u> : Paiement des honoraires de conseils et de prestations de services</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Le paiement des honoraires de prestations de services et de conseils se fera selon les conditions prévues au contrat passé entre les parties et/ou devis.
            <br/><br/>
            En cas de non-règlement total ou partiel de paiement de toute somme due au titre du contrat, entraînera de plein droit et sans mise en demeure préalable :
            <br/>
            &nbsp; • La suspension de toutes les prestations en cours quelle que soit leur nature sans préjudice pour <b>ARTOGREEN</b> d’user de la faculté de résiliation du contrat,
            <br/>
            &nbsp; • L’exigibilité immédiate de toutes les sommes restant éventuellement dues au titre du contrat par le client, quel que soit le mode de règlement, et des pénalités afférentes comme il est dit au 4-2. 
        </p>
        
        <h2><u>ARTICLE 6</u> : FOURNITURE DE LA PRESTATION</h2>
        <h3><u>6-1</u> : Outils ARTOGREEN</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Dès le paiement de la prestation, l’outil <b>ARTOGREEN</b> choisi par le client peut être utilisé dans la limite de la durée choisie et du nombre de licences choisies.
            <br/><br/>
            De la même manière, s’il a choisi l’option de formation, le client sera contacté par <b>ARTOGREEN</b> dans un délai de ******** afin de mettre en place cette formation.
            <br/><br/>
            Celle-ci pourra se dérouler au choix chez le client, ou en ligne, ou chez <b>ATROGREEN</b>.
        </p>
        
        <h3><u>6-2</u> : Conseils et prestations de services</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Les services commandés par le client seront fournis dans les délais envisagés dans le contrat conclu entre les parties ou dans le devis.
            <br/><br/>
            Le délai de réalisation de la prestation démarre à compter de la réception de l’ensemble des éléments sollicités par <b>ARTOGREEN</b>, ainsi que du paiement de l’acompte ou du coût de la prestation.
            <br/><br/>
            La réalisation de la prestation de services et de conseils matérialisée par l’envoi par <b>ARTOGREEN</b> de tout document de synthèse, d’analyse et de rapport sous tout format informatique ou papier, selon ce qui aura été convenu entre les parties.
            <br/><br/>
            <b>ARTOGREEN</b> s’engage à faire ses meilleurs efforts pour fournir les prestations demandées par le client dans les délais évoqués à la convention.
            <br/><br/>
            Toutefois, ces délais sont communiqués à titre indicatif et un dépassement éventuel ne pourra donner lieu à aucun dommages et intérêts, retenue ou annulation de la commande par le client, sauf les cas où les parties auront clairement précisé le délai comme impératif.
            <br/><br/>
            Dans ce dernier cas, si les services commandés n’ont pas été fournis dans le délai prévu, pour toute autre cause que la force majeure ou le fait du client, la vente pourrait être résolue à la demande écrite du client ou de la société <b>ARTOGREEN</b>.
            <br/><br/>
            Les sommes versées par le client seront alors restituées sans délai à l’exclusion de toute indemnisation ou retenue.
            <br/><br/>
            A défaut de réserve ou réclamation expressément émise par le client lors de la réception des prestations, celles-ci seront réputées conformes à la commande, en quantité ou en qualité.
            <br/><br/>
            Le client disposera d’un délai de 7 jours à compter de la fourniture des prestations et de la réception de celle-ci pour émettre, par écrit, de telles réserves ou réclamations avec tous les justificatifs y afférant auprès de <b>ARTOGREEN</b>.
            <br/><br/>
            Aucune réclamation ne pourra être valablement acceptée en cas de non-respect de ces formalités et délais par le client.
            <br/><br/>
            Si les griefs sont avérés, <b>ARTOGREEN</b> rectifiera dans les plus brefs délais et à ses frais les prestations fournies dont le défaut de conformité aura été dûment prouvé par le client.
            <br/><br/>
            Lorsque la mission est suspendue pour cause de force majeure ou par le fait du client, les délais de remise de la prestation de service sont prolongés pour une durée égale à cette suspension.
            <br/><br/>
            <b>ARTOGREEN</b> exécutera sa mission dans ses locaux et/ou dans l’établissement du client.
            <br/><br/>
            Le lieu d’intervention sera spécifié dans la convention conclue entre les parties.
            <br/><br/>
            Dans le cas où l’intervention a lieu chez le client, <b>ARTOGREEN</b> s’engage à se conformer aux prestations du règlement intérieur ou aux consignes d’hygiène et de sécurité en vigueur dans l’établissement du client pour autant qu’elles aient été portées à sa connaissance.
        </p>
        
        <h2><u>ARTICLE 7</u> : RESPONSABILITE D’ARTOGREEN - GARANTIES </h2>
        <h3><u>7-1</u> : Outils ARTOGREEN</h3>
        <p style="font-size: 105%; line-height: 18px;">
            <b>ARTOGREEN</b> garantit, conformément aux dispositions légales, le client contre vice caché provenant d’un défaut de conception ou de réalisation des outils <b>ARTOGREEN</b> et les rendant impropres à l’usage auquel ils sont destinés, à l’exclusion de toute négligence ou faute du client.
            <br/><br/>
            De la même manière, la responsabilité de <b>ARTOGREEN</b> ne saurait être engagée en cas de mauvaise utilisation du site <a href="www.artogreen.com" target="_blank">www.artogreen.com</a> et des services par le client.
            <br/><br/>
            <b>ARTOGREEN</b> ne peut voir sa responsabilité engagée en cas de perturbation, ou indisponibilité ou interruption de tout ou partie des services proposés sur le site dès lors que l’interruption du service résulte d’une défaillance des réseaux techniques ou plus généralement tout fait extérieur à <b>ARTOGREEN</b>.
            <br/><br/>
            <b>ARTOGREEN</b> ne pourra voir sa responsabilité engagée pour un dommage résultant de l’utilisation du réseau internet tel que perte de données, intrusion, virus, rupture de service ou autre problème involontaire.
            <br/><br/>
            Il est précisé ici que <b>ARTOGREEN</b> prend toutes les mesures nécessaires pour assurer l’exploitation des services et des outils, ainsi que la protection des informations nominatives qu’elle détient ou qu’elle traite.
            <br/><br/>
            En cas de faute prouvée de <b>ARTOGREEN</b>, celle-ci ne saurait être tenue à une réparation allant au-delà du prix de l’abonnement de la licence d’utilisation du ou des logiciels choisis par le client.
            <br/><br/>
            <b>ARTOGREEN</b> ne garantit que le bon fonctionnement des outils qu’elle fournit.
            <br/><br/>
            En aucun cas, sa responsabilité ne pourra être engagée en cas de mauvaise utilisation de ces outils, tel que le fait de les paramétrer avec des informations erronées.
        </p>
        
        
        <h3><u>7-2</u> : Conseils et prestations de services</h3>
        <p style="font-size: 105%; line-height: 18px;">
            <b>ARTOGREEN</b> s’engage à mettre en œuvre tous les moyens nécessaires afin d’assurer au mieux les services proposés au client.
            <br/><br/>
            Elle n’est tenue que par une obligation de moyen, sa responsabilité ne pourra être engagée que pour faute prouvée.
            <br/><br/>
            Elle ne saurait être tenue d’une quelconque réparation en cas de dommage survenant par force majeure ou faute du client.
            <br/><br/>
            <b>ARTOGREEN</b> ne garantit que la qualité de sa prestation.
            <br/><br/>
            Toutes les informations collectées auprès du client pour permettre à ARTOGREEN de réaliser sa prestation sont présumées exactes.
            <br/><br/>
            <b>ARTOGREEN</b> n’est tenue d’aucune obligation de vérification de véracité des informations fournies par le client et ne saurait voir sa responsabilité engagée au cas où ces informations seraient erronées.
            <br/><br/>
            En tout état de cause, en cas de faute prouvée d’<b>ARTOGREEN</b>, la responsabilité de celle-ci est limitée à la réparation correspondant au maximum au montant de la commande.
            <br/><br/>
            En contrepartie de ces obligations, le client doit collaborer avec <b>ARTOGREEN</b>.
            <br/><br/>
            Notamment, le client doit fournir sans délai les informations ou documents nécessaires à l’exécution de la mission.
            <br/><br/>
            De la même manière, il doit fournir avec loyauté l’ensemble des informations sollicitées, sans aucune restriction ou rétention étant ici rappelé que <b>ARTOGREEN</b> s’engage à la plus parfaite confidentialité dans l’utilisation des données, informations et documents fournis.
        </p>
        
        <h2><u>ARTICLE 8</u> : DUREE DU CONTRAT</h2>
        <h3><u>8-1</u> : Outils ARTOGREEN</h3>
        <p style="font-size: 105%; line-height: 18px;">
            Après paiement, le client bénéficie d’un accès aux outils <b>ARTOGREEN</b> choisis pour la durée choisie (en règle générale, 6 mois ou a an), le client peut demander la résiliation de l’abonnement à la licence d’utilisation avant son terme.
            <br/><br/>
            Toutefois, dans ce cas, notamment en sollicitant la fermeture de son compte utilisateur, la résiliation de l’abonnement n’entraine restitution d’aucune somme de la part d’<b>ARTOGREEN</b>.
            <br/><br/>
            Outre le non-paiement ou le retard de paiement de ses prestations <b>ARTOGREEN</b> peut mettre unilatéralement fin au contrat dans les cas suivants :
            <br/>
            &nbsp; - Si <b>ARTOGREEN</b> découvre que l’utilisateur est consultant ou a une activité de consultant, et cela en contradiction avec la déclaration qu’il a faite lors de l’ouverture de son compte utilisateur.
            <br/><br/>
            Dans ce cas, la résiliation interviendra sans aucune restitution de la part d’<b>ARTOGREEN</b> de quelconque somme.
            <br/><br/>
            &nbsp; - En cas d’impossibilité par <b>ARTOGREEN</b> de continuer à fournir la prestation commandée.
            <br/><br/>
            Dans ce cas, <b>ARTOGREEN</b> restituera au client une somme correspondant au montant de la redevance calculée prorata temporis au regard de la période restant à courir.
        </p>
        
        <h3><u>8-2</u> : Prestations de services et conseils</h3>
        <p style="font-size: 105%; line-height: 18px;">
            La durée de la mission correspond à celle qui aurait été envisagée dans la convention conclue entre les parties.
            <br/><br/>
            Le client peut interrompre la mission d’<b>ARTOGREEN</b> qu’après l’en avoir informée par lettre recommandée avec accusé de réception avant l’achèvement de celle-ci.
            <br/><br/>
            Dans ce cas, le client restera tenu de payer à <b>ARTOGREEN</b> le montant des prestations d’ores et déjà réalisées, ainsi qu’une somme correspondant aux prestations qui auraient dû être réalisées, moins les frais qui n’auront pas été engagés.
        </p>
        
        <h2><u>ARTICLE 9</u> : INFORMATIQUE ET LIBERTE</h2>
        <p style="font-size: 105%; line-height: 18px;">
            En application de la loi n° 78-17 du 06 janvier 1978, il est rappelé que les données nominatives qui sont demandées au client sont nécessaires au traitement de sa commande et à l’établissement des factures notamment.
            <br/><br/>
            Le traitement des informations communiquées par l’intermédiaire du site <b>ARTOGREEN</b> a fait l’objet d’une déclaration auprès de la CNIL.
            <br/><br/>
            Le client dispose, conformément aux règlementations nationales et européennes en vigueur d’un droit d’accès permanent, de modification, de rectification et d’opposition s’agissant des informations le concernant.
        </p>
        
        <h2><u>ARTICLE 10</u> : PROPRIETE INTELLECTUELLE</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Le contenu du site est la propriété d’<b>ARTOGREEN</b> et de ses prestataires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.
            <br/><br/>
            Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.
            <br/><br/>
            En outre, <b>ARTOGREEN</b> reste propriétaire de tous les droits de propriété intellectuelle sur les études, dessins, modèles, prototypes, outils, programmes réalisés même à la demande du client en vue de la fourniture des services au client.
            <br/><br/>
            Le client s’interdit donc toute reproduction et exploitation desdites études, dessins, modèles et prototypes, etc… sans autorisation expresse, écrite et préalable d’<b>ARTOGREEN</b> qui peut la conditionner à une contrepartie financière.
            <br/><br/>
            L’utilisateur qui dispose d’un site internet à titre personnel et qui désire placer, pour un usage personnel, sur son site un lien simple renvoyant directement à la page d’accueil du site <b>ARTOGREEN</b> doit obligatoirement en demander l’autorisation à <b>ARTOGREEN</b> qui fera, le cas échéant, l’objet d’un contrat écrit de partenariat dont les modalités seront négociées par les deux parties.
            <br/><br/>
            Tout lien hypertexte renvoyant au site <b>ARTOGREEN</b> et utilisant la technique du framing ou du in-line linking est formellement interdit.
        </p>
        
        <h2><u>ARTICLE 11</u> : DROIT APPLICABLE - LANGUE</h2>
        <p style="font-size: 105%; line-height: 18px;">
            De convention expresse entre les parties, les relations contractuelles entre <b>ARTOGREEN</b> et le client est soumis au droit français.
            <br/><br/>
            Tout document sera rédigé en langue française.
            <br/><br/>
            Dans le cas où le ou les documents seraient traduits en une ou plusieurs langues, seul le texte français ferait foi en cas de litige.
        </p>
        
        <h2><u>ARTICLE 12</u> : LITIGES</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Tous les litiges auxquels les présentes conditions générales de ventes, ainsi que tout contrat pourrait donner lieu concernant, tant leur validité, leur interprétation, leur exécution, leur résiliation ou leurs conséquences, leurs suites seront soumis aux tribunaux de ROUEN en cas de litige avec des professionnels et / ou des commerçants étant rappelé qu’en principe, <b>ARTOGREEN</b> ne fournit pas ses services aux consommateurs.
        </p>
        
        <h2><u>ARTICLE 13</u> : INFORMATION  PRE-CONTRACTUELLE – ACCEPTATION DU CLIENT</h2>
        <p style="font-size: 105%; line-height: 18px;">
            Le client reconnaît avoir eu communication, préalablement à la conclusion du contrat, d’une manière claire et compréhensible des présentes conditions générales de ventes et en particulier :
            <br/>
            &nbsp; - Des principales caractéristiques des services proposés, dans la mesure appropriée au support de communication utilisé aux services concernés ;
            <br/>
            &nbsp; - L’identité d’<b>ARTOGREEN</b> (raison sociale, adresse géographique de l’établissement et numéro de téléphone) ;
            <br/>
            &nbsp; - Le prix total des services ou, lorsque le prix ne peut raisonnablement être calculé à l’avance du fait de la nature du service, le mode de calcul du prix et s’il y a lieu, tous les frais supplémentaires ou, lorsque ces frais ne peuvent raisonnablement être calculés à l’avance, la mention que ces frais peuvent être exigibles ;
            <br/>
            &nbsp; - Le cas échéant, les modalités de paiement, d’exécution, la date à laquelle <b>ARTOGREEN</b> s’engage à exécuter le service et les modalités prévues pour le traitement des réclamations ; 
            <br/>
            &nbsp; - Le rappel de la garantie légale de conformité des services, l’existence d’un service après-vente et de garanties commerciales, le cas échéant, ainsi que les conditions y afférentes ;
            <br/>
            &nbsp; - La durée du contrat, s’il y a lieu, ou s’il s’agit d’un contrat à durée indéterminée ou à reconduction automatique, les conditions de résiliation du contrat.
            <br/><br/>
            Le fait pour une personne physique ou morale de commander sur le site internet d’<b>ARTOGREEN</b> emporte adhésion ou acceptation pleine et entière des présentes conditions générales de ventes, ce qui est expressément reconnu par le client qui renonce, notamment, à se prévaloir de tout document contradictoire qui serait inopposable à <b>ARTOGREEN</b>.
        </p>
        
        <h2><u>ARTICLE 14</u> : CONTACT</h2>
        <p style="font-size: 105%; line-height: 18px;">
            SAS ARTOGREEN
            <br/>
            Société par actions simplifiée au capital de 10.000 euros
            <br/>
            RCS ROUEN B 753 341 809
            <br/>
            Siège social : 19, Rue du Manège 76130 MONT-SAINT-AIGNAN
            <br/>
            <a href="http://www.artogreen.com" target="_blank" style="color:blue;">www.artogreen.com</a>
        </p>
    </div>
</section>
{% endblock %}