{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<script>
$(function(){
     var count = 0;
     
     $(".firstLetterUser").live('change', function(event) {
            event.preventDefault();
            var letter = $(this);
            var parent = letter.parent().parent();
            var l = letter.val();
            parent.find('.users').html('');
            $.post("{{ path('green_user_getUsersByLetter') }}", { letter : l}, function(data) {
                var users = parent.find('.users');
                users.html(data);
            }, 'json');
     });
     
     $(".users").live('change', function(event) {
            event.preventDefault();
            var user = $(this);
            var parent = user.parent().parent();
            var u = user.val();
            parent.find('.softwares').html('');
            $.post("{{ path('green_user_getSoftwares') }}", { user: u }, function(data) {
                var softwares = parent.find('.softwares');
                softwares.html(data);
            }, 'json');
      });
      
      $(".softwares").live('change', function(event) {
            event.preventDefault();
            var software = $(this);
            var parent = software.parent().parent();
            var u = parent.find('.users').val();
            var s = software.val();
            var search = 'yes';
            parent.find('.projects').html('');
            $.post("{{ path('green_user_getFolders') }}?user="+u+"&software="+s+"&search="+search, function(data) {
                var folders = parent.find('.folders');
                folders.html(data);
            }, 'json');
      });
      
      $(".folders").live('change', function(event) {
          event.preventDefault();
          var folder = $(this);
          var parent = folder.parent().parent();
          var f = folder.val();
          var s = parent.find('.softwares').val();
          var u = parent.find('.users').val();
          $.post("{{ path('green_folder_getCode') }}?folder="+f+"&software="+s, function(data) {
              var code = parent.find('.codes');
              code.html(data);
          }, 'json');
          
          $.post("{{ path('green_user_getUserCode') }}?user="+u, function(data) {
              var userPassword = parent.find('.userPassword');
              userPassword.html(data);
          }, 'json');
      });
      
      $(".addProject").live('click', function(event) {
           count = count + 1;
           var trclone = $(".projects-table").find(".tr-clone");
           var newLine = trclone.clone(true);
           newLine.find(".softwares").attr('name','projects['+count+'][software]');
           newLine.find(".folders").attr('name','projects['+count+'][folder]');
           newLine.find(".codes").attr('name','projects['+count+'][code]');
           newLine.attr('value','');
           newLine.removeClass("tr-clone");
           $(".projects-table").append(newLine);
      });
});
</script>

<section class="main">
    <div>
        <h3>Codes des dossiers ArtoGreen</h3>
        {% if projectId is defined %}
            <label>Le project ID : {{ projectId }}</label>
        {% endif %}
        <br/>
            <table class="projects-table">
                <tr>
                    <th style="border:none;">&nbsp;</th>
                    <th>Lettre</th>
                    <th>Login utilisateur source</th>
                    <th>Logiciel Artogreen</th>
                    <th>Dossiers codés</th>
                    <th>Code<br/>dossier</th>
                    <th>Code<br/>utilisateur</th>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            <img src="/css/skin/famfamfam/add.png" align="right" name="plusProject" style="width:16px; height:16px;"  class="addProject"/>
                        </a>
                    </td>
                    <td>
                        <select name="projects[0][firstLetterUser]" class="firstLetterUser" style="width: 50px;">
                            <option selected="selected" value="">?</option>
                            {% for userLetter in userLetters %}
                                <option value="{{ userLetter }}">{{ userLetter }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][user]" class="users">
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][software]" class="softwares">  
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][folder]" class="folders">   
                        </select>
                    </td>
                    <td style="width: 100px; text-align: center;">
                        <label name="projects[0][code]" class="codes"></label>
                    </td>
                    <td style="width: 100px; text-align: center;">
                        <label name="projects[0][userPassword]" style="font-weight: bold;" class="userPassword"></label>
                    </td>
                </tr>
                <tr class="tr-clone" name="cloneProjects">
                    <td>
                        <a href="javascript:void(0);">
                            <img src="/css/skin/famfamfam/add.png" align="right" name="plusProject" style="width:16px; height:16px;"  class="addProject"/>
                        </a>
                    </td>
                    <td>
                        <select name="projects[firstLetterUser]" class="firstLetterUser" style="width: 50px;">
                            <option selected="selected" value="">?</option>
                            {% for userLetter in userLetters %}
                                <option value="{{ userLetter }}">{{ userLetter }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="user" class="users">
                        </select>
                    </td>
                    <td>
                        <select name="projects[software]" class="softwares">  
                        </select>
                    </td>
                    <td>
                        <select name="projects[folder]" class="folders">   
                        </select>
                    </td>
                    <td>
                        <label name="projects[code]" class="codes"></label>
                    </td>
                    <td>
                        <label name="projects[userPassword]" style="font-weight: bold;" class="userPassword"></label>
                    </td>
                </tr>
            </table>       
    </div>   
</section>

{% endblock %}