{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<script>
$(function(){
     var count = 0;
     $(".firstLetterUser").live('change', function(event) {
            event.preventDefault();
            var letter = $(this);
            var parent = letter.parent().parent();
            var l = letter.val();
            parent.find('.users').html('');
            $.post("{{ path('green_user_getUsersByLetter') }}", { letter : l}, function(data) {
                var users = parent.find('.users');
                users.html(data);
            }, 'json');
     });
     
     $(".firstLetterTargetUser").live('change', function(event) {
            event.preventDefault();
            var letter = $(this);
            var parent = letter.parent().parent();
            var l = letter.val();
            parent.find('.targetUsers').html('');
            $.post("{{ path('green_user_getUsersByLetter') }}", { letter : l}, function(data) {
                var targetUsers = parent.find('.targetUsers');
                targetUsers.html(data);
            }, 'json');
     });
     
     $(".users").live('change', function(event) {
            event.preventDefault();
            var user = $(this);
            var parent = user.parent().parent();
            var u = user.val();
            parent.find('.softwares').html('');
            $.post("{{ path('green_user_getSoftwares') }}", { user: u }, function(data) {
                var softwares = parent.find('.softwares');
                softwares.html(data);
            }, 'json');
      });
      
      $(".softwares").live('change', function(event) {
            event.preventDefault();
            var software = $(this);
            var parent = software.parent().parent();
            var u = parent.find('.users').val();
            var s = software.val();
            var search = 'no';
            parent.find('.projects').html('');
            
            $.post("{{ path('green_user_getFolders') }}?user="+u+"&software="+s+"&search="+search, function(data) {
                var folders = parent.find('.folders');
                folders.html(data);
                var projects = parent.find('.projects');
                projects.html('<option selected="selected" value="">- Choisir -</option>')
            }, 'json');
      });
      
      $(".folders").live('change', function(event){
            event.preventDefault();
            var folder = $(this);
            var f = folder.val();
            var parent = folder.parent().parent();
            var u = parent.find('.users').val();
            var s = parent.find('.softwares').val();
            parent.find('projects').html('');
            
            $.post("{{ path('green_user_getProjects') }}?user="+u+"&folder="+f+"&software="+s, function(data) {
                var projects = parent.find('.projects');
                projects.html(data);
            }, 'json');
      });
      
      $(".addProject").live('click', function(event) {
           count = count + 1;
           var trclone = $(".projects-table").find(".tr-clone");
           var newLine = trclone.clone(true);
           newLine.find(".user").attr('name','projects['+count+'][user]');
           newLine.find(".softwares").attr('name','projects['+count+'][software]');
           newLine.find(".folders").attr('name','projects['+count+'][folder]');
           newLine.find(".projects").attr('name','projects['+count+'][targetProject]');
           newLine.find(".targetUsers").attr('name','proects['+count+'][targetUser]');
           newLine.attr('value','');
           newLine.removeClass("tr-clone");
           $(".projects-table").append(newLine);
      });
});
</script>

<section class="main">
    <div>
        <h3>Copie de projets Artogreen</h3>  
        <br/> 
        <form method="post" action="{{ path('green_copy_projects') }}">
            <table class="projects-table">
                <tr>
                    <th style="border:none;">&nbsp;</th>
                    <th>Lettre</th>
                    <th>Login utilisateur source</th>
                    <th>Logiciel Artogreen</th>
                    <th>Dossier</th>
                    <th>Projet à copier</th>
                    <th>Lettre</th>
                    <th>Login utilisateur cible</th>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            <img src="/css/skin/famfamfam/add.png" align="right" name="plusProject" style="width:16px; height:16px;"  class="addProject"/>
                        </a>
                    </td>
                    <td>
                        <select name="projects[0][firstLetterUser]" class="firstLetterUser" style="width: 50px;">
                            <option selected="selected" value="">?</option>
                            {% for userLetter in userLetters %}
                                <option value="{{ userLetter }}">{{ userLetter }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][user]" class="users">
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][software]" class="softwares" style="width:105px;">  
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][folder]" class="folders">
                        </select>    
                    </td>
                    <td>
                        <select name="projects[0][targetProject]" class="projects">   
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][firstLetterTargetUser]" class="firstLetterTargetUser" style="width: 50px;">
                            <option selected="selected" value="">?</option>
                            {% for userLetter in userLetters %}
                                <option value="{{ userLetter }}">{{ userLetter }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][targetUser]" class="targetUsers">
                        </select>
                    </td>
                </tr>
                <tr class="tr-clone" name="cloneProjects">
                    <td>
                        <a href="javascript:void(0);">
                            <img src="/css/skin/famfamfam/add.png" align="right" name="plusProject" style="width:16px; height:16px;"  class="addProject"/>
                        </a>
                    </td>
                    <td>
                        <select name="projects[firstLetterUser]" class="firstLetterUser" style="width: 50px;">
                            <option selected="selected" value="">?</option>
                            {% for userLetter in userLetters %}
                                <option value="{{ userLetter }}">{{ userLetter }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[user]" class="users">
                        </select>
                    </td>
                    <td>
                        <select name="projects[software]" class="softwares" style="width:105px;">  
                        </select>
                    </td>
                    <td>
                        <select name="projects[folder]" class="folders">
                        </select>
                    </td>
                    <td>
                        <select name="projects[targetProject]" class="projects">   
                        </select>
                    </td>
                    <td>
                        <select name="projects[firstLetterTargetUser]" class="firstLetterTargetUser" style="width: 50px;">
                            <option selected="selected" value="">?</option>
                            {% for userLetter in userLetters %}
                                <option value="{{ userLetter }}">{{ userLetter }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[targetUser]" class="targetUsers">
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-info add-row" class="submit">Copier les projets</button>
        </form>        
    </div>   
</section>

{% endblock %}