{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<script>
$(function(){
     var count = 0;
     
     $(".firstLetterUser").live('change', function(event) {
            event.preventDefault();
            var letter = $(this);
            var parent = letter.parent().parent();
            var l = letter.val();
            parent.find('.users').html('');
            $.post("{{ path('green_user_getUsersByLetter') }}", { letter : l}, function(data) {
                var users = parent.find('.users');
                users.html(data);
            }, 'json');
     });
     
     $(".users").live('change', function(event) {
            event.preventDefault();
            var user = $(this);
            var parent = user.parent().parent();
            var u = user.val();
            parent.find('.softwares').html('');
            $.post("{{ path('green_user_getSoftwares') }}", { user: u }, function(data) {
                var softwares = parent.find('.softwares');
                softwares.html(data);
            }, 'json');
      });
});
</script>

<section class="main">
    <div>
        <h3>RAZ Logiciels ArtoGreen</h3>
        {% if projectId is defined %}
            <label>Le project ID : {{ projectId }}</label>
        {% endif %}
        <br/>
        <form method="post" action="{{ path('green_raz_software') }}">
            <table class="projects-table">
                <tr>
                    <th style="border:none;">&nbsp;</th>
                    <th>Lettre</th>
                    <th>Login utilisateur</th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <select name="projects[0][firstLetterUser]" class="firstLetterUser" style="width: 50px;">
                            <option selected="selected" value="">?</option>
                            {% for userLetter in userLetters %}
                                <option value="{{ userLetter }}">{{ userLetter }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][user]" class="users">
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][software]" class="softwares">  
                        </select>
                    </td>
                </tr>
            </table>
        <button type="submit" class="btn btn-info add-row" class="submit">RAZ logiciel</button>
    </div>   
</section>

{% endblock %}