{% extends '::product_base.html.twig' %}

{% block body %}
<script>
      $(function(){
         // DIALOG /////////////////////////////////////////////////////////////
            var id = '';
            var erase = 'non';
            var deploy = 'non';

            $("#deleteProjects").live('click', function(event) {
                event.preventDefault();
                var r = confirm("Effacer les éléments sélectionnés ?");
                if (r == true) {
                    $("input[type=checkbox]").each(function() {
                        if ($(this).is(':visible')) {
                            event.preventDefault();
                            if ($(this).is(':checked')) {
                                var name = $(this).attr('name');
                                var id = $(this).attr('id');

                                console.log("Name : " + name);
                                console.log("Id : " + id);

                                if (name == "folder") {
                                    console.log("Folder");
                                    var state = $(this).attr('state');
                                    console.log('State : ' + state);

                                    if (state == 'non') {
                                        $.post("{{ path('product_folder_deleteProjects') }}?folderId=" + id + "&special='yes'", function(data) {
                                        });
                                    } else {
                                        $.post("{{ path('product_folder_delete') }}?folderId=" + id + "&special='yes'", function(data2) {
                                        });
                                    }
                                } else if (name == "project") {
                                    console.log("Project");
                                    $.post("{{ path('product_project_delete') }}?id=" + id + "&special='yes'", function(data) {
                                    });
                                }
                            }
                        }
                    });
                }
                if (r == true) {
                    location.reload();
                }
            });
        });
</script>    
<section class="main">
    <div class="floatL" style="width: 700px">
        <h2> Mes projets</h2>
        <table class="projects table">
            {% for folder in folders %}
                 <tr>
                    <td><input type="checkbox" class="selectForDelete" state="{{ folder.isDeployed }}" name="folder" id="{{ folder.id }}"/></td>
                    <td><input type="hidden" class="folderId" value="{{ folder.id }}"/></td>
                    <td>
                        <a class="folder" value="{{ folder.id }}" href="#">
                            {% if folder.isDeployed == 'non' %}
                                <i class="icon-folder-close folderIcon"></i>
                            {% else %}
                                <i class="icon-folder-open folderIcon"></i>
                            {% endif %}
                            {{ folder.name }}
                        </a>
                    </td>
                    <td style="text-align: right">Créé le {{folder.createdAt|date('d/m/Y') }}</td>
                 </tr> 
                {% for project in folder.projects %}
                    {% if project.name != "Suivi ICPE" %} 
                    <tr class="folderProject{{ folder.id }}" {% if folder.isDeployed == 'non' %}style="visibility:hidden; display: none;"{% endif %}>
                        <td><input type="hidden" class="projectId" value="{{ project.id }}"/></td>
                        <td><input type="checkbox" name="project" id="{{ project.id }}" class="selectForDelete"/></td>
                        <td><input type="hidden" class="folderId" value="{{ folder.id }}"/></td>
                        <td class="projectName{{project.id}}">
                            <a href="{{ path('product_project_description') }}?id={{ project.id  }}" class="indent {% if folder.code !='' %}projectLink{% endif %}">
                                <img src="/css/skin/famfamfam/building.png" />
                                {{ project.name }}
                            </a>
                        </td>
                        <td style="text-align: right">Créé le {{ project.createdAt|date('d/m/Y') }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            
            {% if projectsWF is defined %}        
                {% for project in projectsWF %}
                        {% if project.name != "Suivi ICPE" %}
                        <tr>
                            <td><input type="checkbox" name="project" id="{{ project.id }}" class="selectForDelete"/></td>
                            <td class="projectName{{project.id}}">
                                <a href="{{ path('product_project_description') }}?id={{ project.id }}">
                                    <img src="/css/skin/famfamfam/building.png" />{{ project.name }}
                                </a>
                            </td>
                            <td style="text-align: right">Créé le {{ project.createdAt|date('d/m/Y') }}</td>
                        </tr>
                        {% endif %}
                {% endfor %}
            {% endif %}            
        </table>
        
        <br><br>
        <button id="deleteProjects" class="btn btn-info"><i class="icon-remove-sign"> Effacer des projets/dossiers</i></button>
    </div>
    <div class="clear"></div>
</section>

{% endblock %}