{% extends '::acv_base.html.twig' %}

{% block body %}
<script>
    $(function(){
         var id = '';
         var erase='non';
         var deploy='non';
             
         $("#deleteProjects").live('click', function(event){
             event.preventDefault();
             var r = confirm("Effacer les éléments sélectionnés ?");
             if(r == true){
                $("input[type=checkbox]").each(function() {
                      if($(this).is(':visible')){
                           event.preventDefault();
                           if($(this).is(':checked')){
                               var name = $(this).attr('name');
                               var id = $(this).attr('id');

                               console.log("Name : "+name);
                               console.log("Id : "+id);

                               if(name == "folder"){
                                   console.log("Folder");
                                   var state = $(this).attr('state');
                                   console.log('State : '+state);

                                   if(state == 'non'){
                                       $.post("{{ path('acv_folder_deleteProjects') }}?folderId="+id+"&special='yes'", function(data) {});
                                   }else{
                                       $.post("{{ path('acv_folder_delete') }}?folderId="+id+"&special='yes'", function(data2) {});
                                   }
                               }else if(name == "project"){
                                   console.log("Project");
                                   $.post("{{ path('acv_project_delete') }}?id="+id+"&special='yes'", function(data) {});
                               }
                           }
                      }
                });
             }
             if(r == true){
                location.reload();
             }
         });
     });
</script>    
<section class="main">
    <div class="floatL" style="width: 760px">
        <h2>Mes projets</h2>
        
        <table class="projects table">
            {% for folder in folders %}
                <tr>
                    <td><input type="hidden" class="folderId" value="{{ folder.id }}"></td>
                    <td><input type="checkbox" class="selectForDelete" state="{{ folder.isDeployed }}" name="folder" id="{{ folder.id }}"/></td>
                    <td><a class="folder" value="{{ folder.id }}" href="#">{% if folder.isDeployed == 'non' %}<i class="icon-folder-close folderIcon"></i>{% else %}<i class="icon-folder-open folderIcon"></i>{% endif %} {{ folder.name }}</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="text-align: right">Créé le {{folder.createdAt|date('d/m/Y') }}</td>
                    <td width="110">
                        {% if folder.code != '' %}<i class="icon-lock" title="Dossier verrouillé"></i>{% endif %}
                    </td>
                </tr>
                    {% for project in folder.projects %}
                        {% if project.massUnit == 'g' %}
                            {% set weightLabelled = project.firstProduct.weight %}
                        {% elseif project.massUnit == 'kg' %}
                            {% set weightLabelled = project.firstProduct.weight/1000 %}
                        {% elseif project.massUnit == 't' %}
                            {% set weightLabelled = project.firstProduct.weight/1000000 %}
                        {% endif %}
                        <tr class="folderProject{{ folder.id }}" {% if folder.isDeployed == 'non' %}style="visibility:hidden; display: none;"{% endif %} >
                            <td><input type="hidden" class="projectId" value="{{ project.id }}"></td>
                            <td><input type="checkbox" name="project" id="{{ project.id }}" class="selectForDelete"/></td>
                            <td class="projectName{{project.id}}"><a href="{{ path('acv_project_description', { 'id' : project.id }) }}" class="indent"><img src="/css/skin/famfamfam/building.png" />{{ project.name }}</a></td>
                            <td>{{ project.firstProduct.assemblies|length }} {% if project.firstProduct.assemblies|length == 1 %} niveau{% else %} niveaux{% endif %}</td>
                            <td>{{ "%g"|format(weightLabelled) }} {{ project.massUnit }}</td>
                            <td style="text-align: right">Créé le {{ project.createdAt|date('d/m/Y') }}</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% for child in project.childs %}
                            {% if child.greenUser.id == user %}
                                {% if project.massUnit == 'g' %}
                                    {% set weightLabelled = child.firstProduct.weight %}
                                {% elseif project.massUnit == 'kg' %}
                                    {% set weightLabelled = child.firstProduct.weight/1000 %}
                                {% elseif project.massUnit == 't' %}
                                    {% set weightLabelled = child.firstProduct.weight/1000000 %}
                                {% endif %}
                                <tr class="folderProjectChild{{ folder.id }}" {% if folder.isDeployed == 'non' %}style="visibility: hidden; display: none;"{% else %}style="background: #fff"{% endif %}>
                                    <td><input type="hidden" class="childId" value="{{ child.id }}"></td>
                                    <td><input type="checkbox" name="project" id="{{ child.id }}" class="selectForDelete"/></td>
                                    <td class="projectName{{child.id}}"><a href="{{ path('acv_project_description', { 'id' : child.id }) }}" class="bigIndent"><img src="/css/skin/famfamfam/building.png" /> {{ child.name }}</a></td>
                                    <td>{{ child.firstProduct.assemblies|length }} {% if child.firstProduct.assemblies|length == 1 %} niveau{% else %} niveaux{% endif %}</td>
                                    <td>{{ "%g"|format(weightLabelled) }} {{ project.massUnit }}</td>
                                    <td style="text-align: right">Créé le {{ child.createdAt|date('d/m/Y') }}</td>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}          
            {% endfor %}  
            
            {% if projectsWF is defined %}                    
                {% for project in projectsWF %}
                    {% if project.massUnit == 'g' %}
                        {% set weightLabelled = project.firstProduct.weight %}
                    {% elseif project.massUnit == 'kg' %}
                        {% set weightLabelled = project.firstProduct.weight/1000 %}
                    {% elseif project.massUnit == 't' %}
                        {% set weightLabelled = project.firstProduct.weight/1000000 %}
                    {% endif %}           
                    <tr>
                        <td><input type="hidden" class="projectId" value="{{ project.id }}"></td>
                        <td><input type="checkbox" name="project" id="{{ project.id }}" class="selectForDelete"/></td>
                        <td class="projectName{{project.id}}"><a href="{{ path('acv_project_description', { 'id' : project.id }) }}"><img src="/css/skin/famfamfam/building.png" /> {{ project.name }}</a></td>
                        <td>{{ project.firstProduct.assemblies|length }} {% if project.firstProduct.assemblies|length == 1 %} niveau{% else %} niveaux{% endif %}</td>
                        <td>{{ "%g"|format(weightLabelled) }} {{ project.massUnit }}</td>
                        <td style="text-align: right">Créé le {{ project.createdAt|date('d/m/Y') }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    {% for child in project.childs %}
                        {% if child.greenUser.id == user %}
                            {% if project.massUnit == 'g' %}
                                {% set weightLabelled = child.firstProduct.weight %}
                            {% elseif project.massUnit == 'kg' %}
                                {% set weightLabelled = child.firstProduct.weight/1000 %}
                            {% elseif project.massUnit == 't' %}
                                {% set weightLabelled = child.firstProduct.weight/1000000 %}
                            {% endif %}
                            <tr style="background: #fff">
                                <td><input type="hidden" class="childId" value="{{ child.id }}"></td>
                                <td><input type="checkbox" name="project" id="{{ child.id }}" class="selectForDelete"/></td>
                                <td class="projectName{{child.id}}"><a href="{{ path('acv_project_description', { 'id' : child.id }) }}" class="indent"><img src="/css/skin/famfamfam/building.png" /> {{ child.name }}</a></td>
                                <td>{{ child.firstProduct.assemblies|length }} {% if child.firstProduct.assemblies|length == 1 %}  niveau{% else %} niveaux{% endif %}</td>
                                <td>{{ "%g"|format(weightLabelled) }} {{ project.massUnit }}</td>
                                <td style="text-align: right">Créé le {{ child.createdAt|date('d/m/Y') }}</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endif %}    
                    {% endfor %}
                {% endfor %}
            {% endif %}                
        </table>
        
        <br><br>
        <button id="deleteProjects" class="btn btn-info"><i class="icon-remove-sign"> Effacer des projets/dossiers</i></button>
    </div>
    
    <div class="floatR">
        <img src="/images/acv/acv.jpg" style="width:270px; height: 300px;"/>
    </div>
    <div class="clear"></div>
</section>

{% endblock %}