{% set section = "faq" %}

{% extends '::base.html.twig' %}

{% block body %}

<section class="main white faq-page">
    <h2>Foire Aux Questions</h2>
    <ul>
        {% for faq in faqs %}
            <li><a href="#faq{{ faq.id }}"><i class="icon-angle-right"></i> {{ faq.question }}</a>
        {% endfor %}
    <ul>
    {% for faq in faqs %}
        <div class="faq" id="faq{{ faq.id }}">
            <h3>{{ faq.question }}</h3>
            <p>{{ faq.answer|raw }}</p>
        </div>
    {% endfor %}
</section>

{% endblock %}