{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<script>
$(function(){
     var count = 0; 
     $(".types").live('change', function(event) {
            event.preventDefault();
            var type = $(this);
            var parent = type.parent().parent();
            var t = type.val();
            parent.find('.families').html('');
            
            $.post("{{ path('green_user_getFamilies') }}?type="+t, function(data) {
                var families = parent.find('.families');
                families.html(data);
            }, 'json');
      });
      
      $(".families").live('change', function(event) {
            event.preventDefault();
            var family = $(this);
            var parent = family.parent().parent();
            var t = parent.find('.types').val();
            var f = family.val();
            parent.find('.modules').html('');
            $.post("{{ path('green_user_getModules') }}?type="+t+"&family="+f, function(data) {
                var modules = parent.find('.modules');
                modules.html(data);
            }, 'json');
      });
      
      $(".modules").live('change', function(event) {
            event.preventDefault();
            var family = $(this);
            var parent = family.parent().parent();
            var m = parent.find('.modules').val();
            parent.find('.modules').html('');
            $.post("{{ path('green_user_getBase') }}?module="+m, function(data) {
                var param1Unit = parent.find('.param1Unit');
                var param2Value = parent.find('.param2Value');
                var param2Unit = parent.find('.param2Unit');
                var unitMass = parent.find('.unitMass');
                var aa = parent.find('.aa');
                var at = parent.find('.et');
                var ed = parent.find('.ed');
                var gwp = parent.find('.gwp');
                var hwp = parent.find('.hwp');
                var odp = parent.find('.odp');
                var pocp = parent.find('.pocp');
                var rmd = parent.find('.rmd');
                var wd = parent.find('.wd');
                var we = parent.find('.we');
                var wt = parent.find('.wt');
                var moduleCode = parent.find('.moduleCode');
                var codeEIME = parent.find('.codeEIME');
                var tauxRecylabilite = parent.find('.tauxRecyclabilite');
                
                param1Unit.val(data.param1Unit);
                param2Value.val(data.param2Value);
                param2Unit.val(data.param2Unit);
                unitMass.val(data.unitMass);
                aa.val(data.aa);
                at.val(data.at);
                ed.val(data.ed);
                gwp.val(data.gwp);
                hwp.val(data.hwp);
                odp.val(data.odp);
                pocp.val(data.pocp);
                rmd.val(data.rmd);
                wd.val(data.wd);
                we.val(data.we);
                wt.val(data.wt);
                moduleCode.val(data.moduleCode);
                codeEIME.val(data.codeEIME);
                tauxRecylabilite.val(data.tauxRecyclabilite);
            }, 'json');
      });
      
      $(".addProject").live('click', function(event) {
           count = count + 1;
           var trclone = $(".projects-table").find(".tr-clone");
           var newLine = trclone.clone(true);
           newLine.find(".softwares").attr('name','projects['+count+'][software]');
           newLine.find(".projects").attr('name','projects['+count+'][targetProject]');
           newLine.find(".targetUsers").attr('name','proects['+count+'][targetUser]');
           newLine.attr('value','');
           newLine.removeClass("tr-clone");
           $(".projects-table").append(newLine);
      });
});
</script>

<section class="main">
    <div>
        <h3>Gestion des modules ArtoAcv</h3>
            
        <form method="post">
            <table class="projects-table">
                <tr>
                    <th style="border:none;">&nbsp;</th>
                    <th>Type</th>
                    <th>Famille</th>
                    <th>Module</th>
                    <th>Param 1 Unit</th>
                    <th>Param 2 Valeur</th>
                    <th>Param 2 Unit</th>
                    <th>Masse unitaire</th>
                    <th>Air acidification<br/>(AA)</th>
                    <th>Air Toxicity<br/>(AT)</th>
                    <th>Energy Depletion<br/>(ED)</th>
                    <th>Global Warming Potential<br/>(GWP)</th>
                    <th>Hazardous Waste Production<br/>(HWP)</th>
                    <th>Ozone Depletion Potential<br/>(ODP)</th>
                    <th>Photochemical Ozone Creation Potential<br/>(POCP)</th>
                    <th>Raw Material Depletion<br/>(RMD)</th>
                    <th>Water Depletion<br/>(WD)</th>
                    <th>Water Eutrophication<br/>(WE)</th>
                    <th>Water Toxicity<br/>(WT)</th>
                    <th>Module code</th>
                    <th>Code EIME</th>
                    <th>Taux recyclabilité</th>
                    <th>Visible ?</th>
                    <th style="border:none;">&nbsp;</th>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            <img src="/css/skin/famfamfam/add.png" align="right" name="plusProject" style="width:16px; height:16px;"  class="addProject"/>
                        </a>
                    </td>
                    <td>
                        <select name="type" class="types">
                            <option selected="selected" value="">- Choisir -</option>
                            {% for type in types %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="family" class="families">  
                        </select>
                    </td>
                    <td>
                        <select name="module" class="modules">  
                        </select>
                    </td>
                    <td>
                        <input type="text" value="" class="param1Unit"/>
                    </td>
                    <td>
                        <input type="text" value="" class="param2Value"/>
                    </td>
                    <td>
                        <input type="text" value="" class="param2Unit"/>
                    </td>
                    <td>
                        <input type="text" value="" class="unitMass"/>
                    </td>
                    <td>
                        <input type="text" value="" class="aa"/>
                    </td>
                    <td>
                        <input type="text" value="" class="at"/>
                    </td>
                    <td>
                        <input type="text" value="" class="ed"/>
                    </td>
                    <td>
                        <input type="text" value="" class="gwp"/>
                    </td>
                    <td>
                        <input type="text" value="" class="hwp"/>
                    </td>
                    <td>
                        <input type="text" value="" class="odp"/>
                    </td>
                    <td>
                        <input type="text" value="" class="pocp"/>
                    </td>
                    <td>
                        <input type="text" value="" class="rmd"/>
                    </td>
                    <td>
                        <input type="text" value="" class="wd"/>
                    </td>
                    <td>
                        <input type="text" value="" class="we"/>
                    </td>
                    <td>
                        <input type="text" value="" class="wt"/>
                    </td>
                    <td>
                        <input type="text" value="" class="moduleCode"/>
                    </td>
                    <td>
                        <input type="text" value="" class="codeEIME"/>
                    </td>
                    <td>
                        <input type="text" value="" class="tauxRecyclabilite"/>
                    </td>
                    <td>
                        <input type="text" value="" class="isVisible"/>
                    </td>
                </tr>
                
                
                <tr class="tr-clone" name="cloneProjects">
                    <td>
                        <a href="javascript:void(0);">
                            <img src="/css/skin/famfamfam/add.png" align="right" name="plusProject" style="width:16px; height:16px;"  class="addProject"/>
                        </a>
                    </td>
                    <td>
                        <select name="user" class="users">
                            <option selected="selected" value="">- Choisir -</option>
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[software]" class="softwares">  
                        </select>
                    </td>
                    <td>
                        <select name="projects[targetProject]" class="projects">   
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-info add-row" class="submit">Valider</button>
        </form>        
    </div>   
</section>

{% endblock %}