{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<script>
$(function(){
     var count = 0;
     
      $(".firstLetterUser").live('change', function(event) {
          event.preventDefault();
          var letter = $(this);
          var parent = letter.parent().parent();
          var l = letter.val();
          parent.find('.users').html('');
          $.post("{{ path('green_user_getUsersByLetter') }}", { letter : l}, function(data) {
            var users = parent.find('.users');
            users.html(data);
          }, 'json');
      });

      $(".licenceEndDate").live('change', function(event) {
          event.preventDefault();
          var user = $(this).parent().parent().find(".users").val();
          var endDate = $(this).val();
          
          $.post("{{ path('green_user_renew') }}?user="+user+"&endDate="+endDate, function(data) {});
      });
       
      $(".addProject").live('click', function(event) {
           count = count + 1;
           var trclone = $(".projects-table").find(".tr-clone");
           var newLine = trclone.clone(true);
           newLine.find(".users").attr('name','projects['+count+'][user]');
           newLine.find(".licenceEndDate").attr('name','projects['+count+'][licenceEndDate]');
           newLine.attr('value','');
           newLine.removeClass("tr-clone");
           $(".projects-table").append(newLine);
      });
});
</script>

<section class="main">
    <div>
        <h3>Gestion des licences Artogreen</h3>
        {% if projectId is defined %}
            <label>Le project ID : {{ projectId }}</label>
        {% endif %}
        <br/>
        {% if projectParentName is defined %}
            <label>Le nom du parent : {{ projectParentName }}</label>
        {% endif %}
        {% if projectName is defined %}
            <label>Duplication nom projet : {{ projectName }}</label>
        {% endif %}
        {% if userName is defined %}
            <label>Duplication nom user : {{ userName }}</label>
        {% endif %}
        {% if projectDefaultNull is defined %}
            <label>Project default NULL !</label>
        {% endif %}
        {% if ifValue is defined %}
            <label>If value : {{ ifValue }}</label>
            <br/><br/>
        {% endif %}    
        {% if acvFolders is defined %}
            <label>Acv Folders !</label>
            <br/><br/>
            {% for acvFolder in acvFolders %}
                <label>Folder : {{ acvFolder }}</label>
                <br/><br/>
            {% endfor %}
        {% endif %}
        {% if sql is defined %}
                <label>SQL</label>
                <br/><br/>
                <label>{{ sql }}</label>
        {% endif %}
        {% if folderId is defined %}
                <label>Folder id</label>
                <br/><br/>
                <label>{{ folderId }}</label>
        {% endif %}
        {% if designProjects is defined %}
                {% for designProject in designProjects %}
                    {{ designProject }}
                {% endfor %}
        {% endif %}        
            
        <form method="post" action="{{ path('green_update_licences') }}">
            <table class="projects-table">
                <tr>
                    <th style="border:none;">&nbsp;</th>
                    <th>Lettre</th>
                    <th>Login utilisateur</th>
                    <th>Date de fin de licence</th>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:void(0);">
                            <img src="/css/skin/famfamfam/add.png" align="right" name="plusProject" style="width:16px; height:16px;"  class="addProject"/>
                        </a>
                    </td>
                    <td>
                        <select name="projects[0][firstLetterUser]" class="firstLetterUser" style="width: 50px;">
                            <option selected="selected" value="">?</option>
                            {% for userLetter in userLetters %}
                                <option value="{{ userLetter }}">{{ userLetter }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][user]" class="users">
                        </select>
                    </td>
                    <td>
                        <input type="text" name="projects[0][licenceEndDate]" value="" class="date-pick dp-applied licenceEndDate">
                    </td>
                </tr>
                
                <tr class="tr-clone" name="cloneProjects">
                    <td>
                        <a href="javascript:void(0);">
                            <img src="/css/skin/famfamfam/add.png" align="right" name="plusProject" style="width:16px; height:16px;"  class="addProject"/>
                        </a>
                    </td>
                    <td>
                        <select name="projects[firstLetterUser]" class="firstLetterUser" style="width: 50px;">
                            <option selected="selected" value="">?</option>
                            {% for userLetter in userLetters %}
                                <option value="{{ userLetter }}">{{ userLetter }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[user]" class="users">
                        </select>
                    </td>
                    <td>    
                        <input type="text" name="projects[licenceEndDate]" value="" class="date-pick dp-applied licenceEndDate">
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-info add-row" class="submit">Valider</button>
        </form>
    </div>   
</section>

{% endblock %}