{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<script>
$(function(){
    $(".login .lost").click(function() {
        $("#loginForm").hide();
        $("#passwordForm").fadeIn();
    });

    $(".login .btn-cancel").click(function() {
        $("#passwordForm").hide();
        $("#loginForm").fadeIn();
    });

    $("#passwordForm .lost-btn").click(function() {
        var _email = $("#passwordForm #email").val();
        $.post('{{ path('green_lost_password') }}', {email: _email}, function(data) {
            $("#passwordForm .result").html(data);
        });
    });


});
</script>

<section class="main">
    <div class="home-box">
        <div id="carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item"><img src="/images/green/home.jpg" /></div>
                <div class="item"><img src="/images/green/home2.jpg" /></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel" data-slide="prev"><i class="icon-circle"></i></a>
            <a class="carousel-control right" href="#carousel" data-slide="next"><i class="icon-circle-blank"></i></a>
        </div>

        <div class="well login">
            <div class="connect">
                <h3>connexion</h3>
                <h4><a href="#" style="font-size: 11px" class="lost">Mot de passe oublié ?</a></h4>
                <form id="loginForm" action="{{ path('login_check') }}" method="post">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input name="_username" type="text" placeholder="Identifiant">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input name="_password" type="password" placeholder="Mot de passe">
                    </div>
                    <button type="submit" class="btn" style="margin-left: 156px;">Valider</button>
                </form>
                <form id="passwordForm" action="#" method="post" style="display: none;">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input name="email" id="email" type="text" placeholder="Email">
                    </div>
                    <div class="result"></div>
                    <a href="#" class="btn btn-cancel" style="margin-left: 64px;">Connexion</a>
                    <a href="#" class="btn lost-btn">Valider</a>
                </form>
            </div>
            <div class="register">
                <h3>inscription</h3>
                <h4>gratuite et facile</h4>
                <a href="{{ path('register') }}" class="btn btn-large btn-primary">Créer un compte maintenant</a>
            </div>
            <h5><i class="icon-phone"></i> 06.71.92.35.26</h5>
        </div>
    </div>

    <div class="clear"></div>

    <div class="boxes">
        <div class="well well-large first">
            <h2><span style="color: #cc0066">ARTOGREEN</span> et VOUS</h2>
            <p class="intro">Accompagner nos clients à mieux concevoir, de façon durable et à moindre coût, sources de revenus et de valeurs ajoutées</p>
            <p>
                <ul class="list">
                     <li>Devenir le partenaire de référence pour les décideurs publics et privés</li>
                     <li>Jouer un rôle majeur dans les secteurs du bâtiment et de l’aménagement urbain et de l’énergie </li>
                     <li>Minimiser les coûts d'intégration de l'environnement et ce, en cohérence avec les besoins de nos clients</li>
                </ul>
                <a href="/artogreen/pourquoi-choisir-artogreen" class="btn btn-large btn-danger" style="margin-top: 20px;">Pourquoi choisir ARTOGREEN ?</a>
            </p>
        </div>

        <div class="well well-large">
            <h2><span style="color: #98cd00">ECO</span> PRODUITS</h2>
            <p class="intro">Des applications web d’éco-conception et d’évaluation environnementale couvrant toute la chaîne économique du produit</p>
            <div class="cols">
                <div class="col floatL">
                    <h4>CONSTRUCTION</h4>
                    <h5>AMENAGEMENT URBAIN</h5>
                    <a href="{{ path('green_product_description') }}"><img src="/css/skin/artourba_logo.png" width="140" /></a>
                    <a href="{{ path('green_product_description') }}"><img src="/css/skin/artodistrib_logo.png" width="140" /></a>
                    <a href="{{ path('green_product_description') }}"><img src="/css/skin/artoacv_logo.png" width="140" /></a>
                </div>
                <div class="col floatR">
                    <h4>PRODUIT</h4>
                    <h5>MANUFACTURE</h5>
                    <a href="{{ path('green_product_description') }}"><img src="/css/skin/artodesign_logo.png" width="140" /></a>
                    <a href="{{ path('green_product_description') }}"><img src="/css/skin/artodistrib_logo.png" width="140" /></a>
                    <a href="{{ path('green_product_description') }}"><img src="/css/skin/artoprod_logo.png" width="140" /></a>
                    <a href="{{ path('green_product_description') }}"><img src="/css/skin/artoflux_logo.png" width="140" /></a>
                    <a href="{{ path('green_product_description') }}"><img src="/css/skin/artoacv_logo.png" width="140" /></a>
                </div>
            </div>
        </div>

        <div class="well well-large">
            <h2><span style="color: #008ebf">ECO</span> SERVICES</h2>
            <p class="intro">Formation / Conseil / Accompagnement personnalisé</p>
            <div class="service">
                <ul class="nav nav-tabs">
                    {% for section in sections %}
                        <li class="{% if loop.first %}active{% endif %}"><a href="#{{ section.slug }}" data-toggle="tab">{{ section.name }}<br/>{{ section.description }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for section in sections %}
                        <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ section.slug }}">
                            {% for category in section.categories %}
                                <h4><i class="icon-chevron-right"></i> {{ category.name }}</h4>
                                {% for page in category.pages %}
                                    <h5><a href="{{ path('green_service_page', {'slug': page.slug }) }}"><i class="icon-angle-right"></i> {{ page.name }}</a></h5>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="partners">
        <h4 class="well">Quelques références</h4>
        <div class="well" style="margin-top: -5px;">
            <img src="/images/green/partners.png" />
        </div>
    </div>
</section>

{% endblock %}