{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<section class="main">
    <div>
        <h3>Logs Site ArtoGreen</h3>
           
        <form method="post" action="{{ path('green_download_log_artogreen') }}">
            <label>Pour télécharger l'historique des connexions au site ArtoGreen et aux logiciels depuis le 05/11/2016</label>
            <button type="submit" class="btn btn-info add-row" class="submit">Télécharger logs</button>
        </form>
    </div>   
</section>

{% endblock %}