{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<script>
$(function(){
     var count = 0;
     
      $(".softwares").live('change', function(event) {
            event.preventDefault();
            var software = $(this);
            var parent = software.parent().parent().parent().parent().parent();
            console.log(parent.html());
            var u = parent.find('.userId').val();
            var s = software.val();
            var search = 'yes';
            parent.find('.projects').html('');
            $.post("{{ path('green_user_getFolders') }}?user="+u+"&software="+s+"&search="+search, function(data) {
                var folders = parent.find('.folders');
                var code = parent.find('.codes');
                folders.html(data);
                code.html('');
            }, 'json');
      });
      
      $(".folders").live('change', function(event) {
          event.preventDefault();
          var folder = $(this);
          var parent = folder.parent().parent();
          var f = folder.val();
          var s = parent.find('.softwares').val();
          var u = parent.find('.userId').val();
          $.post("{{ path('green_folder_getCode') }}?folder="+f+"&software="+s, function(data) {
              var code = parent.find('.codes');
              code.html(data);
          }, 'json');
          
          $.post("{{ path('green_user_getUserCode') }}?user="+u, function(data) {
              var userPassword = parent.find('.userPassword');
              userPassword.html(data);
          }, 'json');
      });
});
</script>

<section class="main">
    <div>
        <h3>Codes des dossiers ArtoGreen</h3>
        {% if projectId is defined %}
            <label>Le project ID : {{ projectId }}</label>
        {% endif %}
        <br/>
        <input type="hidden" class="userId" value="{{ app.user.id }}"/>
            <table class="projects-table">
                <tr>
                    <th>Logiciel Artogreen</th>
                    <th>Dossiers codés</th>
                    <th>Code<br/>dossier</th>
                </tr>
                <tr>
                    <td>
                        <select name="projects[0][software]" class="softwares">
                            <option selected="selected" value="">-Choisir-</option>
                            {% for software in softwares %}
                                <option value="{{ software.product.id }}">{{ software.product.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="projects[0][folder]" class="folders">   
                        </select>
                    </td>
                    <td style="width: 100px; text-align: center;">
                        <label name="projects[0][code]" class="codes"></label>
                    </td>
                </tr>
                <tr class="tr-clone" name="cloneProjects">
                    <td>
                        <select name="projects[software]" class="softwares">  
                        </select>
                    </td>
                    <td>
                        <select name="projects[folder]" class="folders">   
                        </select>
                    </td>
                    <td>
                        <label name="projects[code]" class="codes"></label>
                    </td>
                </tr>
            </table>       
    </div>   
</section>

{% endblock %}