{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<section class="main white service-page">
    <ul class="page-nav">
        <li><a href="#" onclick="history.back(-1);return false;" style="color: #cc0066;"><i class="icon-angle-left"></i> Retour</a></li>
        <li><a href="#" onclick="$('nav .home').click();return false;" style="color: #008ebf;"><i class="icon-th-list"></i> Sommaire</a></li>
    </ul>
    <h2><i class="icon-quote-left pull-left icon-muted"></i> {{ page.name }}</h2>
    <div class="description">
        <div class="wysiwyg">
            {{ page.description|raw }}
        </div>
    </div>
</section>

{% endblock %}