{% set appro = "" %}

<style type="text/css">
    .page-break {
        overflow: hidden;
        page-break-after: always;
    }
    
    table tr td {
        border: 1px solid black;
    }
</style>

<img src="{{ urlLogoGraph}}" width="300" height="70" style="float: left;"/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h2 style="margin: 5px 0; color: black; text-align: center;">Rapport ACV qualitative (avec ArtoUrba)</h2>
<br/>
<br/>
<div class="project-home" style="background-color: transparent;">
    <div class="project-main" style="width:250px;">
        <h1>Projet A : {{ project.projectName }}</h1>
        <h3>{{ project.city }} {{ project.createdAt|date('m/Y') }}</h3>
        <p align="center">
            <img src="{{ urlPath }}" style="width:250px;"/>
        </p> 
    </div>
    <div class="project-default" style="width:250px;">
        <h1>Projet B : {{ project.default.name }}</h1>
        <h3>{{ project.default.city }} {{ project.default.createdAt|date('m/Y') }}</h3>
        <p align='center'>
            <img src="{{ urlDefaultPath }}" style="width:250px;"/>
        </p>
    </div>
</div>
<br/>

<div>
    <h2 style="margin: 5px 0; color: black;">Modalités de l'évaluation</h2>
    <div style="font-size: 12px;">
        <b>ArtoUrba</b> doit être renseigné en amont du processus de conception par les parties prenantes les plus représentatives du projet et intéressées par la performance globale et durable d'un aménagement urbain (maître d'ouvrage, architecte, BE techniques, entreprises, gestionnaire des bâtiments, riverains potentiels...)
    </div>    
</div>

<br/>
<div>
    <h2 style="margin: 5px 0; color: black;">Données d'entrée</h2>
    <div>
        <p style="font-size: 12px;">
           {% if project.folder != null %} 
                <b>Dossier</b> : {{ project.folder.name }}<br/>
           {% endif %}
           <table>
               <tr>
                   <td>
                       <div style="font-weight: bold; text-align: center;">&nbsp;</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.projectName }}</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.default.name }}</div>
                   </td>
               </tr>
               <tr>
                   <td>
                       <div style="font-weight: bold; text-align: center;">Adresse</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.address1 }}</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.default.address1 }}</div>
                   </td>
               </tr>
               <tr>
                   <td>
                       <div style="font-weight: bold; text-align: center;">Localisation</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.city }}</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.default.city }}</div>
                   </td>
               </tr>
               <tr>
                   <td>
                       <div style="font-weight: bold; text-align: center;">Surface totale<br/>de la parcelle (m<sup>2</sup>)</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center; vertical-align: middle;">{{ project.surface }}</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center; vertical-align: middle;">{{ project.default.surface }}</div>
                   </td>
               </tr>
               <tr>
                   <td>
                       <div style="font-weight: bold; text-align: center;">Nombre d'habitants</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.population }}</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.default.population }}</div>
                   </td>
               </tr>
               <tr>
                   <td>
                       <div style="font-weight: bold; text-align: center;">Nombre de logements</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.housing }}</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.default.housing }}</div>
                   </td>
               </tr>
               <tr>
                   <td>
                       <div style="font-weight: bold; text-align: center;">Autres</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.other }}</div>
                   </td>
                   <td>
                       <div style="font-weight: bold; text-align: center;">{{ project.default.other }}</div>
                   </td>
               </tr>
           </table>
        </p>
    </div>
</div>

<div class="page-break"></div>

<label><b>FORT</b> : Satisfaction du critère et réponse apportée + forte sinon identique par comparaison</label><br/>
<label><b>Faible</b> : Insatisfaction du critère ou Satisfaction du critère et réponse apportée + faible par comparaison</label><br/><br/>

{% for category in categories %}
    <div>
        <table>
            <tr>
                <td valign="middle" align="center">
                    <div style="text-transform: uppercase; color : black; font-weight: bold;">{{ category.label }}</div>
                </td>
                <td valign="middle" align="center">
                    <div style="text-transform: uppercase; font-size: 8px; color : #08c; width:80px;">{{ project.projectName }}</div>
                </td>
                <td valign="middle" align="center">
                    <div style="text-transform: uppercase; font-size: 8px; color : #ff9900; width:80px;">{{ project.default.name }}</div>
                </td>
            </tr>
            {% for criteria in category.criterias %}
                <tr>
                    <td class="category-color-{{ category.id }}" style="width:2000px">
                        <h4 style="font-size: 12px;"><strong>{{ criteria.id }}.</strong> {{ criteria.label }}</h4>
                    </td>
                    <td align="center" style="width:80px;">
                        {% if notes[criteria.id] is defined and notes[criteria.id] %}
                            <label style="color: green; font-weight: bold;">FORT</label>
                        {% else %}
                            <label style="color: red; font-weight: bold;">Faible</label>
                        {% endif %}    
                    </td>
                    <td align="center" style="width:80px;">
                        {% if notes_default[criteria.id] is defined and notes_default[criteria.id] %}
                            <label style="color: green; font-weight: bold;">FORT</label>
                        {% else %}
                            <label style="color: red; font-weight: bold;">Faible</label>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}    
        </table>    
    </div>

    {% if category.label == "Social" or category.label == "Transversal" %}
        <div class="page-break"></div>
    {% else %}
        <br/>
    {% endif %}
        
    {% endfor %}
    
        
    <h2 style="margin: 5px 0; color: black;">Bilan du projet</h2>
    {% set nbActions = 0 %}
    {% set ecoConcu = false %}
    {% set ecart = qeb - qeb_default %}
    {% if qeb >= 12 and ecart >= 1 %}
        {% set ecoConcu = true %}
    {% endif %}
    
    {% for criteria in criterias %}
        {% if actions[criteria.id] is defined and actions[criteria.id] is not empty %}
            {% set nbActions = nbActions + 1 %}
        {% endif %}
    {% endfor %}
    <div style="float: bottom;">
        <div class="project-home">
            <div class="project-main" style="width:250px;">
                <h1>Projet A : {{ project.projectName }}</h1>
                <p align="center">
                   <img src="{{ urlPath }}" style="width:250px;"/>
                </p>   
            </div>
            <div class="project-default" style="width:250px;">
                <h1>Projet B : {{ project.default.name }}</h1>
                <p align='center'>
                   <img src="{{ urlDefaultPath }}" style="width:250px;"/>
                </p>
            </div>
        </div>
        <div>
            <table style="margin: 20px; width: 700px;">
                <tr>
                  <td rowspan=2>
                      <div style="text-align:center; vertical-align: middle; font-weight: bold;"><br/>Piliers du<br/>développement durable</div>
                  </td>
                  <td colspan=2>
                    <div style="text-align:center; vertical-align: middle; font-weight: bold;">Nbre de bonnes pratiques<br/>d’éco-conception atteintes<br/>sur le cycle de vie en %</div>
                  </td>
                  <td rowspan=2>
                      <div style="text-align:center; vertical-align: middle; font-weight: bold;"><br/>Critères du<br/>système urbain<br/>en projet</div>
                  </td>
                  <td colspan=2>
                    <div style="text-align:center; vertical-align: middle; font-weight: bold;">Nbre de bonnes pratiques<br/>d’éco-conception atteintes<br/>par critère produit en %</div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Projet A</div>
                  </td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Projet B</div>
                  </td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Projet A</div>
                  </td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Projet B</div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Environnement</div>
                  </td>
                  <td>{{ percentCategories[1]|number_format }}</td>
                  <td>{{ percentCategoriesDefault[1]|number_format }}</td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Sain et confortable</div>
                  </td>
                  <td>{{ percentIndicateurs[1]|number_format }}</td>
                  <td>{{ percentIndicateursDefault[1]|number_format }}</td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Social</div>
                  </td>
                  <td>{{ percentCategories[2]|number_format }}</td>
                  <td>{{ percentCategoriesDefault[2]|number_format }}</td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Intégré</div>
                  </td>
                  <td>{{ percentIndicateurs[2]|number_format }}</td>
                  <td>{{ percentIndicateursDefault[2]|number_format }}</td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Economique</div>
                  </td>
                  <td>{{ percentCategories[3]|number_format}}</td>
                  <td>{{ percentCategoriesDefault[3]|number_format }}</td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Sobre</div>
                  </td>
                  <td>{{ percentIndicateurs[3]|number_format }}</td>
                  <td>{{ percentIndicateursDefault[3]|number_format }}</td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Transversal</div>
                  </td>
                  <td>{{ percentCategories[4]|number_format }}</td>
                  <td>{{ percentCategoriesDefault[4]|number_format }}</td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Durable</div>
                  </td>
                  <td>{{ percentIndicateurs[4]|number_format }}</td>
                  <td>{{ percentIndicateursDefault[4]|number_format }}</td>
                </tr>
                <tr>
                  <td>
                      <div style="font-weight: bold; text-align: center;"></div>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                      <div style="font-weight: bold; text-align: center;">Economique</div>
                  </td>
                  <td>{{ percentIndicateurs[5]|number_format }}</td>
                  <td>{{ percentIndicateursDefault[5]|number_format }}</td>
                </tr>
            </table>
            <br/>
            <br/>

            <label style="font-weight: bold; margin: 20px;">Performance globale notée sur 20 points</label><br/>
            <label style="margin: 20px;">Produit A : {{ qeb }}</label><br/>
            <label style="margin: 20px;">Produit B : {{ qeb_default }}</label>

            <br/><br/>

            <label style="font-weight: bold; margin: 20px;">Le produit A est il éco-conçu par rapport au produit B ? : {% if ecoConcu == true %}OUI{% else %}NON{% endif %}</label>
        </div>    
    </div>
<div class="clear"></div>
