<table class="table">
    <th>Pilier</th>
    <th>Critère</th>
    <th>Aide à la cotation</th>
    <th>&nbsp;</th>
    {% for key,result in results %}
        <tr class="{% if key is divisibleby(2) %}odd{%endif%}">
            <td>{{ result.criteria.category.label|raw }}</td>
            <td>{{ result.criteria.label|raw }}</td>
            <td>{{ result.label|raw }}</td>
            <td width="100">
                {% set c = result.criteria.category %}
                {% if c.label == "Environnement" %}
                    <a href="{{ path('archi_project_category', { 'id': project.id, 'category': c.id } ) }}" class="btn btn-info color-1">Aller vers l'aide</a>
                {% elseif c.label == "Social" %}
                    <a href="{{ path('archi_project_category', { 'id': project.id, 'category': c.id } ) }}" class="btn btn-info color-2">Aller vers l'aide</a>
                {% elseif c.label == "Economique" %}
                    <a href="{{ path('archi_project_category', { 'id': project.id, 'category': c.id } ) }}" class="btn btn-info color-3">Aller vers l'aide</a>
                {% elseif c.label == "Transversal" %}
                    <a href="{{ path('archi_project_category', { 'id': project.id, 'category': c.id } ) }}" class="btn btn-info color-4">Aller vers l'aide</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>