<a href="{{ path('archi_instructions', { 'id': project.id }) }}" {% if section is defined and section == 'instructions' %}class="active"{% endif %}>Instructions</a>
<a href="{{ path('archi_project_home', { 'id': project.id }) }}" class="blue"><i class="icon-user icon-white"></i> {{ project.name }}</a>
<a href="{{ path('archi_project_category', { 'id': project.id, 'category': 1 }) }}" {% if category is defined and category.id == 1 %}class="active"{% endif %}><i class="icon-globe icon-white"></i> Pilier Environnement</a>
<a href="{{ path('archi_project_category', { 'id': project.id, 'category': 2 }) }}" {% if category is defined and category.id == 2 %}class="active"{% endif %}><i class="icon-user icon-white"></i> Pilier Social</a>
<a href="{{ path('archi_project_category', { 'id': project.id, 'category': 3 }) }}" {% if category is defined and category.id == 3 %}class="active"{% endif %}><i class="icon-briefcase icon-white"></i> Pilier Economique</a>
<a href="{{ path('archi_project_category', { 'id': project.id, 'category': 4 }) }}" {% if category is defined and category.id == 4 %}class="active"{% endif %}><i class="icon-retweet icon-white"></i> Pilier Transversal</a>
<a href="{{ path('archi_project_show', { 'id': project.id }) }}" {% if section is defined and section == 'bilan' %}class="active"{% endif %} class="bilan"><i class="icon-signal icon-white"></i> Bilan du projet</a>
<a href="{{ path('archi_project_search_show', { 'id': project.id }) }}" {% if section is defined and section == 'search' %}class="active"{% endif %}><i class="icon-search icon-white"></i> Recherche</a>
