{% extends '::archi_base.html.twig' %}

{% block side %}
    {% include 'ArtoArchiBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}

<script>
    var btn_current;
    function openDialog(dialog, btn) {
        $( dialog ).dialog( 'open' );
        btn_current = $(btn);
    }
    
    $(function(){
        $(".bilan").live('click',function(event){
            //event.preventDefault();
            var zeroNotes = $(document).find(".notesEmpty");
            
            if(zeroNotes.attr('value') == 'true'){
                alert("Vous n'avez noté aucun pilier !");
                event.preventDefault();
            }           
        });
        
        $(document).ready(function() {
            var notesEmpty = $(this).find(".notesEmpty");
            var zeroNotes = false;
            $.post("{{ path('archi_check_notes') }}", { project : {{ project.id }} }, function(data){
                if(data != null){
                    if(data.notesEmpty == true){
                        zeroNotes = true;
                    }
                }
                notesEmpty.attr('value',zeroNotes);
            }, 'json');
        });
        
        $( ".slider" ).click(function () {
            console.log("Slider click !");
            var val = $(this).parent().find('.help-note').val();

            var slider_prop_main = $(this).parent().parent().parent().find('.slider-prop-main');
            var slider_prop_default = $(this).parent().parent().parent().find('.slider-prop-default');

            $(this).removeClass('red green blue');
            val = parseFloat(val);

            if (val == 1) {
                $(this).addClass('red');
                $(this).html('Faible');
                val = 0;
            } else {
                if (val == 0.5) {
                    $(this).addClass('blue');
                    $(this).html('Fort');
                    val = 1;
                }
                if (val == 0) {
                    $(this).addClass('green');
                    $(this).html('Moyen');
                    val = 0.5;
                }
                if (isNaN(val)) {
                    $(this).addClass('red');
                    $(this).html('Faible');
                    val = 0;
                }
            }
            $(this).parent().find('.help-note').val( val );

            updateHelpProp(slider_prop_main, 'main');
            updateHelpProp(slider_prop_default, 'default');
	});

        $('.slider-prop-main').each(function(index) {
            updateHelpProp($(this), 'main');
        });
        $('.slider-prop-default').each(function(index) {
            updateHelpProp($(this), 'default');
        });
    });
    
    function updateHelpProp(prop, type) {
        var tot = 0;
        var i = 0;

        notes = prop.parent().parent().parent().find('.help-note-'+type);
        prop.removeClass('red green blue');

        notes.each(function(index) {
            var val = parseFloat($(this).val());
            if (val >= 0) {
                tot = tot + val;
                i++;
            }
        });

        console.log("Total : "+tot);

        var total = tot/i;

        if (total < 0.5) {
            prop.addClass('red');
            prop.html('Faible');
        }

        if (total >= 0.5) {
            prop.addClass('blue');
            prop.html('Fort');
        }
    }
</script>

<div class="fixed project-title">
    <input type="hidden" class="notesEmpty"/>
    <h4 class="title-projectnames">
        <table>
            <tr>
                <td width="80" valign="middle" align="center" class="project-main">{{ project.projectName }}</td>
                <td width="80" valign="middle" align="center" class="project-default">{{ project.default.name }}</td>
                <td width="110" valign="middle" align="center">comm. / actions</td>
            </tr>
        </table>
    </h4>
    <h2 class="title-color-{{ category.id }}">Pilier {{ category.label }}</h2>
    
    <h4 style="font-size: 8px; line-height: 8px;"> 
        <label><b>FORT</b> : Satisfaction du critère et réponse apportée + forte sinon identique par comparaison</label>
        <label><b>FAIBLE</b> : Insatisfaction du critère ou Satisfaction du critère et réponse apportée + faible par comparaison</label>
        <label><b>Dans le cas où le critère est Non Applicable au projet mettre la cotation FORT pour les 2 projets évalués.</b></label>
    </h4>      
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<section class="main">
    <div class="criterias">
        <form method="post" action="{{ path('archi_project_category_save', { 'id': project.id, 'category': category.id }) }}">
            <table class="table">
                <tr>
                    <td style="width:2000px">&nbsp;</td>
                    <td colspan="2"><b>Afficher la cotation proposée</b></td>
                    <td>&nbsp;</td>
                </tr>
                {%set number = 0 %}
                {% for criteria in category.criterias %}
                    {% set number = number +1 %}
                    <tr>
                        <td class="category-color-{{ category.id }}" style="width:2000px">
                            <h4 id="cname-{{ loop.index }}"><strong>{{ criteria.id }}.</strong> {{ criteria.label }}</h4>
                        </td>
                        <td style="width:80px;">
                            <div class="iphone">
                                <input type="checkbox" name="criteria_{{ criteria.id }}" value="1" {% if notes[criteria.id] is defined and notes[criteria.id] %}checked="checked"{% endif %}>
                            </div>
                        </td>
                        <td style="width:80px;">
                            <div class="iphone">
                                <input type="checkbox" name="criteria_default_{{ criteria.id }}" value="1" {% if notes_default[criteria.id] is defined and notes_default[criteria.id] %}checked="checked"{% endif %}>
                            </div>
                        </td>
                        <td style="width:110px;"><a href="javascript:void(0);" class="help-show color-{{ category.id }}" onclick="showHelp(this,{{ loop.index }});" class="help-quotation">Afficher&nbsp;l'aide</a></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-bottom: 0"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div id="help-{{ loop.index }}" class="help-list">
                                <table class="table">
                                    {% for help in criteria.helps %}
                                        <tr class="{% if loop.index is divisibleby(2) %}odd{%endif%}">
                                            <td width="100%">
                                                <h5>{{ help.label|raw }}</h5>
                                            </td>
                                            <td align="center">
                                                {% set class = 'grey' %}
                                                {% set text = 'Note' %}
                                                {% if help_notes[help.id] is defined and help_notes[help.id] == 0 and help_notes[help.id] is not empty %}
                                                    {% set class = 'red' %}
                                                    {% set text = 'Faible' %}
                                                {% endif %}
                                                {% if help_notes[help.id] is defined and help_notes[help.id] == 0.5 %}
                                                    {% set class = 'green' %}
                                                    {% set text = 'Moyen' %}
                                                {% endif %}
                                                {% if help_notes[help.id] is defined and help_notes[help.id] == 1 %}
                                                    {% set class = 'blue' %}
                                                    {% set text = 'Fort' %}
                                                {% endif %}
                                                <div class="slider {{ class }}">{{ text }}</div>
                                                <input class="help-note help-note-main" type="hidden" name="help_{{ help.id }}" value="{% if help_notes[help.id] is defined%}{{ help_notes[help.id] }}{% endif %}">
                                            </td>
                                            <td align="center">
                                                {% set class = 'grey' %}
                                                    {% set text = 'Note' %}
                                                {% if help_default_notes[help.id] is defined and help_default_notes[help.id] == 0 and help_default_notes[help.id] is not empty %}
                                                    {% set class = 'red' %}
                                                    {% set text = 'Faible' %}
                                                {% endif %}
                                                {% if help_default_notes[help.id] is defined and help_default_notes[help.id] == 0.5 %}
                                                    {% set class = 'green' %}
                                                    {% set text = 'Moyen' %}
                                                {% endif %}
                                                {% if help_default_notes[help.id] is defined and help_default_notes[help.id] == 1 %}
                                                    {% set class = 'blue' %}
                                                    {% set text = 'Fort' %}
                                                {% endif %}
                                                <div id="slider-{{ help.id }}" class="slider {{ class }}">{{ text }}</div>

                                                <input class="help-note help-note-default" type="hidden" name="help_default_{{ help.id }}" value="{% if help_default_notes[help.id] is defined%}{{ help_default_notes[help.id] }}{% endif %}">
                                            </td>
                                            <td align="center">
                                                <div class="comment-icon">
                                                    {% if (help_comments[help.id] is defined and help_comments[help.id] is not empty)
                                                          or (help_comments_default[help.id] is defined and help_comments_default[help.id] is not empty) %}
                                                        <img src="/css/skin/famfamfam/accept.png" onclick="openDialog('#dialog-comment-form-{{ help.id }}', this);" alt="Modifier le commentaire" title="Modifier le commentaire" />
                                                    {% else %}
                                                        <img src="/css/skin/famfamfam/cancel.png" onclick="openDialog('#dialog-comment-form-{{ help.id }}', this);" alt="Ajouter un commentaire" title="Ajouter un commentaire" />
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td align="center">
                                                <div class="comment-icon">
                                                    {% if (help_actions[help.id] is defined and help_actions[help.id] is not empty) %}
                                                        <img src="/css/skin/famfamfam/accept.png" onclick="openDialog('#dialog-action-form-{{ help.id }}', this);" alt="Modifier l'action" title="Modifier l'action"/>
                                                    {% else %}
                                                        <img src="/css/skin/famfamfam/cancel.png" onclick="openDialog('#dialog-action-form-{{ help.id }}', this);" alt="Ajouter l'action" title="Ajouter l'action"/>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td align="right" class="help-footer color-{{ category.id }}"><strong>Cotation proposée</strong></td>
                                        <td class="help-footer color-{{ category.id }}" colspan="4">
                                            <div class="slider-prop slider-prop-main"></div>
                                            <div class="slider-prop slider-prop-default"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label {% if proofs[criteria.id] == true %}style= "display:none;"{% endif %}style= "color: red; font-weight: bold;">Certains critères sont à Fort et n'ont pas de preuves renseignées !</label>   
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <input class="btn btn-info" type="submit" value="Valider" />
        </form>
    </div>
</section>

{% for criteria in category.criterias %}
    {% for help in criteria.helps %}
        <div id="dialog-action-form-{{ help.id }}" class="dialog" title="Action">
            <form method="post" action="{{ path('archi_project_action_save', {'id': help.id, 'project': project.id } ) }}">
                <h2>{{ project.name }}</h2>
                <textarea name="action">{% if help_actions[help.id] is defined and help_actions[help.id] is not empty %}{{ help_actions[help.id] }}{% endif %}</textarea>
            </form>
        </div>

        <div id="dialog-comment-form-{{ help.id }}" class="dialog" title="Commentaire">
            <form method="post" action="{{ path('archi_project_comment_save', {'id': help.id, 'project': project.id } ) }}">
                <h2>{{ project.name }}</h2>
                <textarea name="comment">{% if help_comments[help.id] is defined and help_comments[help.id] is not empty %}{{ help_comments[help.id] }}{% endif %}</textarea>
                <h2 class="default">{{ project.default.name }}</h2>
                <textarea name="comment_default" class="default">{% if help_comments_default[help.id] is defined and help_comments_default[help.id] is not empty %}{{ help_comments_default[help.id] }}{% endif %}</textarea>
            </form>
        </div>
    {% endfor %}
{% endfor %}

{% endblock %}