{% extends '::archi_base.html.twig' %}

{% block side %}
    {% include 'ArtoArchiBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".bilan").live('click',function(event){
            //event.preventDefault();
            var zeroNotes = $(document).find(".notesEmpty");
            
            if(zeroNotes.attr('value') == 'true'){
                alert("Vous n'avez noté aucun pilier !");
                event.preventDefault();
            }           
        });
        
        $(document).ready(function() {
            var notesEmpty = $(this).find(".notesEmpty");
            var zeroNotes = false;
            $.post("{{ path('archi_check_notes') }}", { project : {{ project.id }} }, function(data){
                if(data != null){
                    if(data.notesEmpty == true){
                        zeroNotes = true;
                    }
                }
                notesEmpty.attr('value',zeroNotes);
            }, 'json');
        });
    });
</script>
<section class="main">
    <input type="hidden" class="notesEmpty"/>
    <div class="form">
        <p>
            <strong>Méthodologie liée a l'outil d'évaluation qualitative comparative : </strong><br/>
            ArtoArchi est une analyse comparative entre le projet d'aménagement urbain dit " Système de Référence" et un autre système urbain existant dont les exigences fonctionnelles ou fonctions d'usages et de mixité socio-économique, la région ... sont comparables.<br>
            Faire le choix d'un aménagement urbain existant remplissant les conditions citées et connu des représentants du projet.
        </p>

        <form action="{{ path('archi_project_description_save', { 'project' : project.id, 'default': 1 }) }}" method="post" enctype="multipart/form-data">
            <fieldset>
                <h3>Nom du projet</h3>
                <div class="row">
                    <label class="lbl">Nom</label>
                    <input type="text" name="projectName" value="{{ project_default.name }}" class="medium" />
                </div>
                {% if project.path is not empty %}
                    <div class="row">
                        <label class="lbl">Image</label>
                        <img src="{{ ('uploads/archi/' ~ project_default.path) | imagine_filter('thumb') }}" />
                    </div>
                {% endif %}
                <div class="row">
                    <label class="lbl">Image</label>
                    <input type="file" name="file" />
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <span class="lbl">Poids maximum de 10Mo</span>
                </div>
                <h3>Localisation</h3>
                <div class="row">
                    <label class="lbl">Adresse</label>
                    <input type="text" name="address1" value="{{ project_default.address1 }}" class="large" />
                </div>
                <div class="row">
                    <label class="lbl">Localisation</label>
                    <input type="text" name="city" value="{{ project_default.city }}" class="large" />
                </div>
            </fieldset>
            <fieldset class="odd">
                <h3>Parcelle et aménagements extérieurs</h3>
                <div class="row">
                    <label class="lbl">Surface totale de la parcelle (m2)</label>
                    <input type="text" name="surface" value="{{ project_default.surface }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Nombre d'habitants</label>
                    <input type="text" name="population" value="{{ project_default.population }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Nombre de logements</label>
                    <input type="text" name="housing" value="{{ project_default.housing }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Autres</label>
                    <input type="text" name="other" value="{{ project_default.other }}" class="large" />
                </div>
                <div class="row">
                    <input class="btn" type="submit" value="Valider" />
                </div>
            </fieldset>
        </form>
    </div>
</section>

{% endblock %}