{% extends '::archi_base.html.twig' %}

{% block side %}
    {% include 'ArtoArchiBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".bilan").live('click',function(event){
            //event.preventDefault();
            var zeroNotes = $(document).find(".notesEmpty");
            
            if(zeroNotes.attr('value') == 'true'){
                alert("Vous n'avez noté aucun pilier !");
                event.preventDefault();
            }           
        });
        
        $(document).ready(function() {
            var notesEmpty = $(this).find(".notesEmpty");
            var zeroNotes = false;
            $.post("{{ path('archi_check_notes') }}", { project : {{ project.id }} }, function(data){
                if(data != null){
                    if(data.notesEmpty == true){
                        zeroNotes = true;
                    }
                }
                notesEmpty.attr('value',zeroNotes);
            }, 'json');
        });
        
        $(".addUser").live('click', function(event) {
             var trclone = $(".users-table").find(".tr-clone");
             var newLine = trclone.clone(true);
             newLine.attr('value','');
             newLine.removeClass("tr-clone");
             $(".users-table").append(newLine);
        });
    });
</script>
<section class="main">
    <input type="hidden" class="notesEmpty"/>
    <div class="form">
        <p>
            <strong>Méthodologie liée a l'outil d'évaluation qualitative comparative : </strong><br/>
            ArtoUrba doit être renseigné en amont du processus de conception par les parties prenantes les plus représentatives du projet et intéressées par la performance globale et durable d'un aménagement urbain (maître d'ouvrage, architecte, BE techniques, entreprises, gestionnaire des bâtiments, riverains potentiels...)
        </p>

        <form method="post" action="{{ path('archi_project_user_save', { 'id': project.id }) }}" class="users">
            <fieldset>
                <h3>Acteurs pour l'évaluation du projet</h3>
                <table id="table-1" class="users-table">
                    <tr>
                        <td style="border:none; width:1px;">&nbsp;</td>
                        <th>Société</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                    {% if users|length > 0 %}
                        {% for key, user in users %}
                            <tr>
                                <td style="border:none; width:1px;">
                                    <a href="javascript:void(0);">
                                        <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addUser"/>
                                    </a>
                                    <input type="hidden" name="user[{{ key }}][id]" class="userId" value="{{ user.id }}"/> 
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][company]" class="userCompany" value="{{ user.company }}"/>
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][lastname]" class="userLastName" value="{{ user.lastname }}"/>
                                </td>
                                <td style="width: 1px;">
                                    <input type="text" name="user[{{ key }}][firstname]" class="userFirstName" value="{{ user.firstname }}"/>
                                </td>
                                <td>
                                    <a href="{{ path('archi_project_user_delete', { 'userId' : user.id }) }}#users-table">
                                        <img src="/css/skin/famfamfam/delete.png" align="right" name="moins"/>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    
                    <!-- ce tr est caché en css et sera copié sur chaque click sur .add pour construire une nouvelle ligne -->
                    {% set key_new = users|length %}
                        <tr class="tr-clone" {% if users|length == 0 %} style="display: table-row;" {% endif %}>
                            <td style="border:none; width: 1px;">
                                <a href="javascript:void(0);">
                                    <img src="/css/skin/famfamfam/add.png" align="right" name="plus" class="addUser"/>
                                </a>
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][company]" class="userCompany" />
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][lastname]" class="userLastName" />
                            </td>
                            <td style="width: 1px;">
                                <input type="text" name="user[{{ key_new }}][firstname]" class="userFirstName"/>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                </table>
                <button type="submit" class="btn btn-info add-row">Valider</button>
            </fieldset>
        </form>


        <form action="{{ path('archi_project_description_save', { 'project' : project.id }) }}" method="post" enctype="multipart/form-data">
            <fieldset class="odd">
                <h3>Nom du projet</h3>
                <div class="row">
                    <label class="lbl">Nom</label>
                    <input id= "proejctName" type="text" name="projectName" value="{{ project.projectName }}" class="medium" />
                </div>
                {% if project.path is not empty %}
                    <div class="row">
                        <label class="lbl">Image</label>
                        <img src="{{ ('uploads/archi/' ~ project.path) | imagine_filter('thumb') }}" />
                    </div>
                {% endif %}
                <div class="row">
                    <label class="lbl">Image</label>
                    <input type="file" name="file" /><br/>

                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <span class="lbl">Poids maximum de 10Mo</span>
                </div>
                <h3>Pilote de l'etude</h3>
                <div class="row">
                    <label class="lbl">Pilote</label>
                    <input type="text" name="pilote" value="{{ project.pilote }}" />
                </div>
                <div class="row">
                    <label class="lbl">date</label>
                    <input type="text" name="pilote_date" value="{{ project.piloteDate|date('d/m/Y') }}" class="date-pick" />
                </div>

                <h3>Localisation</h3>
                <div class="row">
                    <label class="lbl">Adresse</label>
                    <input type="text" name="address1" value="{{ project.address1 }}" class="large" />
                </div>
                <div class="row">
                    <label class="lbl">Localisation</label>
                    <input type="text" name="city" value="{{ project.city }}" class="large" />
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <input class="btn" type="submit" value="Valider" />
                </div>
            </fieldset>

            <fieldset>
                <h3>Parcelle et aménagements extérieurs</h3>
                <div class="row">
                    <label class="lbl">Surface totale de la parcelle (m2)</label>
                    <input type="text" name="surface" value="{{ project.surface }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Nombre d'habitants</label>
                    <input type="text" name="population" value="{{ project.population }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Nombre de logements</label>
                    <input type="text" name="housing" value="{{ project.housing }}" class="medium" />
                </div>
                <div class="row">
                    <label class="lbl">Autres</label>
                    <input type="text" name="other" value="{{ project.other }}" class="large" />
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <input class="btn" type="submit" value="Valider" />
                </div>
            </fieldset>
        </form>


        <form method="post" action="{{ path('archi_project_operation_save', { 'id': project.id }) }}">
            <fieldset class="odd">
                <h3>Gestion de projet</h3>
                <table>
                    <tr>
                        <th>date</th>
                        <th>Nature de modifications apportées</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="operation_date" class="date-pick" value="{{ project.piloteDate|date('d/m/Y') }}" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" value="Création" /></td>
                    </tr>
                    {% for ope in operations %}
                        <tr>
                            <td><input type="text" name="operation_date_{{ ope.id }}" value="{{ ope.dateAction|date('d/m/Y') }}" class="date-pick" style="width: 80px;"  /></td>
                            <td><input type="text" name="operation_description_{{ ope.id }}" value="{{ ope.description }}"  class="large" /></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" style="font-size: 11px;">Ajouter une modification</td>
                    </tr>
                    <tr style="border-top: 1px solid #ccc;">
                        <td><input type="text" name="operation_date" class="date-pick" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="btn btn-success" type="submit" value="Ajouter / Valider" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</section>

{% endblock %}