{% extends '::archi_base.html.twig' %}

{% block body %}

<section class="main transverse">
    <div class="custom-p justifiedDiv">
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; « C’est dans les villes que va désormais se jouer pour l’essentiel notre capacité de développement économique, le devenir de notre société, et jusqu’à l’avenir écologique de la planète » Cavallier, G. (1996). De la ville à l’urbain. </p>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;ArtoGreen à développé une approche du cycle de vie qualitative (voir définition dans Termes et définitions) sous la forme d'un outil de diagnostic global utilisé très en amont du projet d'aménagement urbain durable. Cette solution logicielle web permet le partage d'informations et de connaissances par l'ensemble des acteurs impliqués dans le projet afin de dégager les points de force et les points de vulnérabilité du projet (après seulement 3h de diagnostic collaboratif) et concentrer le temps de l'expertise sur les leviers d'amélioration. </p>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;Il répond aux besoins spécifiques du territoire de la collectivité locale en termes d'aménagements urbains de type ville, agglomération, quartiers urbain et d'affaire, lotissement ,...et  ce, dans l'articulation avec les Agenda 21 et une perspective de Développement Durable.</p>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;Il s'appuie sur :
                <br/>&nbsp; &nbsp; &nbsp;- les 5 finalités et les 5 critères du développement durable,
                <br/>&nbsp; &nbsp; &nbsp;- l’Approche Environnementale de l’Urbanisme (AEU) de l’ADEME,
                <br/>&nbsp; &nbsp; &nbsp;- le référentiel HQE-Aménagement,
                <br/>&nbsp; &nbsp; &nbsp;- la grille EcoQuartier mise à jour en 2011 du MEDDTL,
                <br/>&nbsp; &nbsp; &nbsp;- des critères de la certification LEED,
                <br/>&nbsp; &nbsp; &nbsp;- le cadre de référence ville durable européenne RFSC (<b>R</b>eference <b>F</b>ramework For european <b>s</b>ustainable <b>c</b>ities),
                <br/>&nbsp; &nbsp; &nbsp;- le Label national EcoQuartier,
                <br/>&nbsp; &nbsp; &nbsp;- les dispositions des lois Grenelle pour introduire des obligations dans le Plan Local d’Urbanisme (PLU)
                <br/>&nbsp; &nbsp; &nbsp;- la norme AFNOR PR NF 14-010-1 de avril 2012 "Aménagement durable  des Quartiers d'affaires"
                <br/>&nbsp; &nbsp; &nbsp;- les normes internationales ISO 15392:2008 "Développement durable dans la construction" et l’ISO 26000:2010 "Lignes directrices relatives à la responsabilité sociétale"
            </p>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Enfin, il est le résultat d'un important travail d'analyse et d’exploration de retours d’expériences de diverses évaluations d'aménagements urbains benchmarkés. En effet, parler de quartiers durables suppose une critique sur la façon dont on a conçu les quartiers précédemment, il peut s’agir de dimensions environnementales, d’une insuffisante mixité fonctionnelle ou sociale, ... Un éco-quartier intègre dès sa conception les principes du Développement Durable : préservation de l’environnement et réduction de l’empreinte écologique, intégration dans le tissu social environnant et qualité de vie, prise en compte du réalisme économique. Un éco-quartier est donc beaucoup plus qu’un bel objet technique fait d’immeubles basse consommation et d’installations d’énergies renouvelables. C’est aussi un quartier qui fait progresser la ville tout entière sur les questions de mobilité durable ou de gestion des déchets, c’est surtout un quartier dans lequel les usagers adoptent naturellement des comportements véritablement durables</p>

        <h2>Les motivations du logiciel ArtoUrba</h2>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;L’ambition de ArtoUrba est d'aider les collectivités locales et territoriales à intégrer de façon pratique, opératoire et partagée la démarche d'éco-socio-conception dans l'aménagement du territoire. Cet outil d'évaluation, innovant et performant, donne des clés pour un urbanisme de projet qui se fonde sur une planification règlementaire ambitieuse et innovante. Il permet d'anticiper  le projet de norme, d’introduire  d'ores et déjà les principes de Développement Durable dans les projets de quartier en cours de conception et donner aux parties prenantes, une longueur d'avance tout en répondant aux nouvelles problématiques à coût constant . </p>

        <h2>ArtoUrba, méthode structurante</h2>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;ArtoUrba est une approche par le cycle de vie, de nature qualitative, utilisée très en amont du projet et précède l'utilisation d'un outil d'Analyse du Cycle de Vie (ACV) afin de quantifier les impacts environnementaux et sociétaux. L'outil ArtoUrba offre une méthode d'évaluation multicritères, transversale où plusieurs aspects quelquefois contradictoires sont pris en compte pour générer une synthèse qu'il est intéressant que le cahier des charges s'enrichisse. Sa structure offre également des solutions concrètes sous forme de cibles quantifiées, par exemple une distance maximale de services de proximité de 800 m,... ce qui facilite l'appropriation des critères. Il a l'intérêt de raisonner sur différentes propositions que pourrait émettre une collectivité, un aménageur ou un promoteur et hiérarchiser les différents postes sources d’impacts environnementaux, sociaux et de coûts permettant ainsi d’améliorer sensiblement le projet et ceci, sans jamais avoir besoin de grandeurs physiques ou quantifiées. C'est donc aussi un outil d'aide à la décision car il offre le moyen de justifier et de mettre en valeur plusieurs variantes par le choix de conception, de matériaux ou différentes technologies de chauffage (entre biomasse et biogaz par exemple). Il permet la comparaison de différents plans masses pour voir si certaines volumétries, certaines organisations de plan masse sont plus favorables que d’autres à technologie donnée ou à programme constant : des variations de position d'un équipement ou d'un ilôt, de la décision de conserver des positions constructives différentes selon les cas, de manière à peser les impacts environnementaux de chaque scénario et de mettre en perspective le coût d’opportunité d'une  solution éco-conçue  par rapport à une solution standard. </p>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;Bien que ce sujet soit d'envergure nationale ou globale, les solutions sont, dans une large mesure, locales. Elles peuvent, par conséquent, varier en fonction du contexte, de l'environnement, des caractéristiques ou des priorités de l'aménagement urbain&nbsp;: localisation, climat, identité culturelle, traditions, éléments patrimoniaux, santé, sécurité, confort, etc. Une fois esquissés, les scénarios de concepts d'amènagement urbain doivent pouvoir être évalués et comparés sur tout le cycle de vie aux pratiques actuelles et standards actuels. Les indicateurs peuvent y contribuer en permettant le recueil des données qualitatives correspondant au concept étudié comparé à un système urbain existant. Le caractère innovant de ArtoUrba est qu'il permet, très en amont du processus de conception et ceci en un minimun de temps (4 heures maximum), de garantir le concept éco-soco-conçu. Le bénéfice est conséquent en terme de temps passé, puisqu'il n'est pas nécessaire de réaliser durant la conception détaillé, 2 ACV quantitatives et complètes mais seulement 1 ACV.  Le résultat obtenu génère des indicateurs qui ont quatre fonctions principales&nbsp;: l'orientation de la rédaction des clauses d'un cahier des charges applicable, la quantification des impacts sur l'économie, l'environnement et la société, la simplification d'un sujet complexe et la communication dans le cadre d'une stratégie de marketing ou d'un rapport Développement Durable. Grâce à ces indicateurs, il sera donc possible de suivre l'évolution du projet au cours de son cycle de vie, mettre en perspective l'évaluation de sa&nbsp;performance&nbsp;globale et sa progression vers la réalisation des objectifs initialement fixés pouvant éventuellement déboucher sur une labellisation. Les indicateurs sont de ce fait un outil important d'aide à la décision des acteurs concernés en matière de conception, de construction et de gestion visant à aligner leurs interventions dans le cadre bâti et urbain en phase avec les principes du Développement Durable. </p>

        <h2>ArtoUrba, outil de créativité pour un aménagement urbain durable</h2>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;Le Développement Durable apparaît comme une clé d’entrée pour penser le quartier durable car il constitue à la fois un concept orienté vers le changement prévalant l’action locale. Un éco-quartier doit être conçu comme un quartier durable défini comme un projet à long terme. Il concerne une unité urbaine qui, en intégrant les principes de la durabilité et de l’urbanisme écologique, cherche à concilier les logiques d’aménagement, et de logement avec celles de la gestion durable des ressources. ArtoUrba, outil d'approche par l' ACV d'un aménagement urbain, est également un outil de créativité. Il fait appel à une approche innovante  consistant à mettre autour de la table des acteurs qui sont parfois concurrents, des métiers différents, des maîtres d’ouvrage, des maîtres d’oeuvre et des acteurs qui seront les usagers, les riverains, les résidents, les gestionnaires. Ce travail pluridisciplinaire et de mise en situation des parties intéressées par la performance durable d'un projet d'aménagement urbain facilite l'activité de création collective avant de prendre une décision par consensus . Ces parties intéressées sont :</p>
            <ul>
              <li> autorités règlementaires et administratives et collectivités locales&nbsp;</li>
              <li> architectes, urbanistes, paysagistes, économistes et ingénieurs de bureau d'études techniques&nbsp;</li>
              <li> maîtres d'ouvrage, aménageurs publics et privés, collectivités locales, promoteurs et bailleurs sociaux</li>
              <li> sociétés implantées dans l'aménagement urbain lui fournissant des services&nbsp;</li>
              <li> locataires, gestionnaires de patrimoines immobiliers, associations de citoyens&nbsp;</li>
              <li> propriétaires, y compris visiteurs, résidents et employés</li>
              <li> agences de transport en commun, compagnies d’électricité ou de gaz,...</li>
            </ul>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;ArtoUrba est ainsi un outil intégrateur, de créativité né de la collaboration entre les acteurs et d’évaluation qualitative des impacts éco-socio-conception d'un aménagement urbain durable visant une utilisation efficace des sols et l'efficacité énergétique des bâtiments. Un maître d'ouvrage qui demanderait dans son programme de &quot;répondre à des besoins, des fonctions et des attentes, sans que l’impact sur l’environnement et le tissu urbain et social génère des conséquences difficiles à gérer à postériori&quot; ne faciliterait pas la tâche des maîtres d'oeuvre et des urbanistes. On ne peut plus construire ou aménager de la même façon. La conception doit être innovante dans l’aménagement durable, le processus mis en oeuvre doit être intégré car les métiers sont différents. L’approche devient donc intégrée. Dans les projets d’aménagement durable, il faut une transversalité dans la durée des actions, des solutions, mais aussi des acteurs. Les questions de la vie quotidienne ont toutes leur importance, le but est de concevoir pour l'habitant. La qualité d'un éco-quartier est représentée par les critères sain et confortable,  sobre, économique, durable et intégré. L'objectif est en effet si global qu'il est difficile à appliquer concrètement. Notre proposition consiste à le décomposer en questions centrales en termes de meilleures pratiques, chaque question centrale donnant lieu à des domaines d'actions possibles en termes de critères d'amélioration du projet. Cette approche intégrée est la cohabitation de différentes questions spécifiques où les réponses en termes de variété des formes de solutions et de juste combinaison de celles-ci avec son environnement propre, prédominent sur une solution clé en main. </p>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;Si la qualité urbaine est un objectif de l'urbanisme durable, quelle grille de lecture utiliser pour la définir ? quels indicateurs quantitatifs et qualitatifs pourrait-on développer pour évaluer la qualité générée par ces opérations ? La diversité des opérations d'urbanisme durable (échelle, intentions de conception, cadre culturel) est importante. Elles sont autant de projets de logements collectifs qu'individuels, des démarches institutionnelles que privées. L’éco-quartier est certes un aménagement durable, mais il est un objet de l’aménagement durable. Cependant, à partir d'un échantillon d'éco-quartiers considérés comme représentatifs d'opérations d'urbanisme durable et sélectionnés parmi les opérations ayant fait l'objet d'une AEU, des éléments communs aux différents projets sont observables et permettent de dresser des typologies en termes de critères qualitatifs (choix des paramètres techniques utilisés, des types morphologiques, socio-fonctionnels et environnementaux). L'analyse, en les croisant, vise à dégager d'un côté une typologie de critères qualitatifs de la qualité urbaine, de l'autre une grille d'analyse novatrice. Cette grille d'analyse permet de mettre en avant les intentions à l'origine du projet, sa construction et la réalité perceptive et physique de celui-ci, à la fois sur tout le cycle de vie d'une opération d'aménagement urbain que sur les principes du Développement Durable. </p>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;L’outil ACV qualitative ArtoUrba récapitule de la façon la plus synthétique possible les éléments de compréhension d'ensemble nécessaires à une collectivité locale pour s'engager dans la réalisation d'un &quot;PLU durable&quot;. C'est une méthode innovante qui permet d’orienter les choix architecturaux et urbanistiques dès les premières phases de la conception où généralement ont lieu des décisions irréversibles et influentes sur le comportement du bâtiment et de l'aménagement urbain. Pour cela, ArtoUrba est intègré de manière explicite dans le processus de conception encadrant le développement du projet dans le but de faciliter l’adoption de stratégies et techniques durables. Il permet d’avoir un aperçu rapide des impacts de cycle de vie de certains aspects du bâtiment et/ou de l'aménagement urbain. Sa simplicité innovante  d'utilsation et sa rapidité d'évaluation font qu'il s’insére facilement dans l’échéancier souvent serré d’un projet de construction.</p>
            <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;De même, il a recours à une analyse systémique à la fois simplifiée sur tout le cycle de vie du quartier, collaborative avec les parties prenantes du projet et croisée sur les enjeux économiques, sociaux et environnementaux, afin de mieux cerner les sources d’impact, de fournir une aide aux professionnels du bâtiment et de l'urbanisme et réduire la contribution du programme étudié à divers problèmes, à identifier les meilleures pratiques en action, pour les partager et donner des idées.Tous les champs d'actions de la durabilité y sont abordés dans leur interdépendance, ce qui permet d’intervenir plus en amont dans le processus de conception, avec un effet bénéfique sur la performance globale et responsable de l'aménagement  urbain étudié. L'expression des résultats sur ArtoUrba est présentée sous la forme de 2 profils en diagramme en toile (piliers durables et par critère) et d’un score quantitatif, offrant un aperçu simultané de la performance globale  de l'éco-quartier.</p>
        <img src="/images/general_tab.jpg" />
    </div>
</section>

{% endblock %}