{% extends '::archi_base.html.twig' %}

{% block side %}
    {% include 'ArtoArchiBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".bilan").live('click',function(event){
            //event.preventDefault();
            var zeroNotes = $(document).find(".notesEmpty");
            
            if(zeroNotes.attr('value') == 'true'){
                alert("Vous n'avez noté aucun pilier !");
                event.preventDefault();
            }           
        });
        
        $(document).ready(function() {
            var notesEmpty = $(this).find(".notesEmpty");
            var zeroNotes = false;
            $.post("{{ path('archi_check_notes') }}", { project : {{ project.id }} }, function(data){
                if(data != null){
                    if(data.notesEmpty == true){
                        zeroNotes = true;
                    }
                }
                notesEmpty.attr('value',zeroNotes);
            }, 'json');
        });
    });
</script>

<section class="main">
    <input type="hidden" class="notesEmpty"/>
    <div class="form">
        <div class="project-home">
            <div class="project-main">
                <h1><a href="{{ path('archi_project_description', { 'id': project.id }) }}">Projet A : {{ project.projectName }}</a></h1>
                <h3>{{ project.city }} {{ project.createdAt|date('m/Y') }}</h3>
                <a href="{{ path('archi_project_description', { 'id': project.id }) }}" style="text-align:center;display:block;width:400px">
                    <img src="{% if project.path is not empty %}{{ ('/uploads/archi/' ~ project.path) | imagine_filter('standard') }}{% else %}/images/default.png{% endif %}" />
                </a>
            </div>
            <div class="project-default">
                <h1><a href="{{ path('archi_project_description', { 'id': project.id, 'default': 1 }) }}">Projet B : {{ project.default.name }}</a></h1>
                <h3>{{ project.default.city }} {{ project.default.createdAt|date('m/Y') }}</h3>
                <a href="{{ path('archi_project_description', { 'id': project.id, 'default': 1 }) }}" style="text-align:center;display:block;width:400px">
                    <img src="{% if project.default.path is not empty %}{{ ('/uploads/archi/' ~ project.default.path) | imagine_filter('standard') }}{% else %}/images/default.png{% endif %}" />
                </a>
            </div>
        </div>
            <div class="clear"></div>
    </div>
</section>

{% endblock %}