{% extends '::archi_base.html.twig' %}

{% block body %}
<script>
    $(function(){
         // DIALOG /////////////////////////////////////////////////////////////
         var id = '';
         var erase='non';
         var deploy='non';
         var file = 'non';
         var rename = 'non';
         var move = 'non';
         var idProject = '';
         var name = '';
         
         $( ".dialog-folder" ).dialog({
                autoOpen: false,
                height: 250,
                width: 450
         });
         
         $( ".dialog-checkCodeFolder" ).dialog({
                autoOpen: false,
                height: 130,
                width: 450
         });
         
         $(".select-folder").live('click', function(event) {
            event.preventDefault();
            var projectId = $(this).attr('id');
            var folderId =  $(this).parent().parent().find(".folderId").val();
            
            if(folderId != null){
                $.post("{{ path('archi_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                    if(data.hasCode == 'oui'){
                        move = 'oui';
                        idProject = projectId;
                        id = folderId;
                        $( "#dialog-checkCodeFolder" ).dialog('open');
                    }else{
                        id = projectId;
                        $( '#dialog-folder' ).dialog('open');
                    }
                }, "json");
            }else{
                id = projectId;
                $( '#dialog-folder' ).dialog('open');
            } 
         });
         
         $(".selectDossier").live('change', function(event){
             event.preventDefault();
             var dossierId = $(this).val(); 
             $( '#dialog-folder' ).dialog('close');
             
             $.post("{{ path('archi_project_set_folder') }}", {projectId: id, dossierId: dossierId }, function (data) {
                 location.reload();
             });
             
             id='';
         });
         
         $(".rename").live('click', function(event) {
             event.preventDefault();
             var renameButton = $(this);
             var projectId = $(this).attr('id');
             var projectName = $(this).attr('name');
             var projectNameElement = renameButton.parent().parent().parent().find(".projectName"+projectId);
       
             projectNameElement.html('<input type="text" name="newName" class="newName" id="'+projectId+'" value="'+projectName+'"/>');
             projectNameElement.show();
                      
         });
         
         $(".newName").live('change', function(event) {
             event.preventDefault();
             var projectId = $(this).attr('id');
             var newName = $(this).val();
                      
             $.post("{{ path('archi_project_rename') }}", {id: projectId, name: newName }, function (data) {
                 location.reload();
             });
         });
            
         $(".folderNewName").live('change', function(event) {
             event.preventDefault();
             var folderId = $(this).attr('id');
             var folderNewName = $(this).val();
             
             $.post("{{ path('archi_folder_rename') }}", {id: folderId, name: folderNewName }, function (data) {
                 location.reload();
             });
         });
         
         $(".folderDelete").live('click', function(event) {
             event.preventDefault();
             erase = 'oui';
             var folderId = $(this).parent().parent().find(".folderId").val();
             $.post("{{ path('archi_folder_hasCode') }}", {folderId: folderId }, function(data) {
                 if(data.hasCode == 'non'){
                     erase = 'non';
                     $.post("{{ path('archi_folder_delete') }}", {folderId : folderId}, function(data2) {});
                     location.reload();
                 }else{
                     id = folderId;
                     $( "#dialog-checkCodeFolder" ).dialog('open');
                 }
             },'json');
         });
         
         $(".folder").live('click', function(event) {
             event.preventDefault();
             deploy = 'oui';
             var folderId = $(this).parent().parent().find(".folderId").val(); 
             var folderProjects = $(this).parent().parent().parent().find(".folderProject"+folderId);
             var folderProjectsChilds = $(this).parent().parent().parent().find(".folderProjectChild"+folderId);
             
             var folderIcon = $(this).find(".folderIcon");
             
             $.post("{{ path('archi_folder_hasCode') }}", {folderId: folderId }, function(data) {
                 if(data.hasCode == 'non'){
                     $.post("{{ path('archi_folder_deploy') }}", {folderId: folderId }, function (data2) { 
                        if(data2.isDeployed == 'oui'){
                            folderProjects.css('display','');
                            folderProjects.css('visibility','visible');
                            folderProjectsChilds.css('display','');
                            folderProjectsChilds.css('visibility','visible');
                            folderIcon.removeClass("icon-folder-close");
                            folderIcon.addClass("icon-folder-open");
                        }else if(data2.isDeployed == 'non'){
                            folderProjects.css('display','none');
                            folderProjects.css('visibility','hidden');
                            folderProjectsChilds.css('display','none');
                            folderProjectsChilds.css('visibility','hidden');
                            folderIcon.removeClass("icon-folder-open");
                            folderIcon.addClass("icon-folder-close");
                        }
                        deploy = 'non';
                    },'json');
                 }else{
                     if(data.isDeployed == 'oui'){
                         folderProjects.css('display','none');
                         folderProjects.css('visibility','hidden');
                         folderProjectsChilds.css('display','none');
                         folderProjectsChilds.css('visibility','hidden');
                         folderIcon.removeClass("icon-folder-open");
                         folderIcon.addClass("icon-folder-close");
                         deploy = 'non';
                     }else{
                        id = folderId;
                        $( "#dialog-checkCodeFolder" ).dialog('open');
                     }
                 }
             },'json'); 
         });
         
         $(".submitPassword").live('click', function(event) {
            event.preventDefault();
            var password = $(this).parent().find(".password").val();
            
            $.post("{{ path('archi_folder_checkCode') }}", {folderId: id, password: password }, function(data) {
                if(data.isCorrect == 'oui'){
                    $("#dialog-checkCodeFolder").dialog('close');
                    $("#dialog-checkCodeFolder").find(".password").attr('value','');
                    if(deploy == 'oui'){
                        deploy = 'non';
                        
                        var folderProjects = $('.projects').find(".folderProject"+id);
                        var folderProjectsChilds = $('.projects').find(".folderProjectChild"+id);
                        var folderIcon = '';

                        $(".folderId").each(function(index) {
                            if($(this).val() == id){
                                var folderIconTmp = $(this).parent().find('.folderIcon');
                                folderIcon = folderIconTmp;
                            }
                        });

                        $.post("{{ path('archi_folder_deploy') }}", {folderId: id }, function (data2) { 
                            if(data2.isDeployed == 'oui'){
                                folderProjects.css('display','');
                                folderProjects.css('visibility','visible');
                                folderProjectsChilds.css('display','');
                                folderProjectsChilds.css('visibility','visible');
                                folderIcon.removeClass("icon-folder-close");
                                folderIcon.addClass("icon-folder-open");
                            }else if(data2.isDeployed == 'non'){
                                folderProjects.css('display','none');
                                folderProjects.css('visibility','hidden');
                                folderProjectsChilds.css('display','none');
                                folderProjectsChilds.css('visibility','hidden');
                                folderIcon.removeClass("icon-folder-open");
                                folderIcon.addClass("icon-folder-close");
                            }
                            id='';
                        },'json');
                    }else if(erase == 'oui'){
                        erase = 'non';
                        
                        if(file == 'oui'){
                            $.post("{{ path('archi_project_delete') }}", {id: idProject}, function(data2) {});
                            file = 'non';
                        }else{
                            $.post("{{ path('archi_folder_delete') }}", {folderId : id}, function(data2) {});
                        }
                        
                        idProject = '';
                        id = '';
                        location.reload();
                    }else if(file == 'oui' && rename == 'non'){
                        file = 'non';
                        
                        document.location.href = "{{ path('archi_project_home') }}?id="+idProject;
                        idProject = '';
                    }else if(rename == 'oui'){
                        if(file == 'oui'){
                           file = 'non';
                           rename = 'non';
                           var projectNameElement = $(document).find(".projectName"+idProject);
                           projectNameElement.html('<input type="text" name="newName" class="newName" id="'+idProject+'" value="'+name+'"/>');
                           projectNameElement.show();
                           idProject = '';
                           name = '';
                        }else{
                           rename = 'non';
                           var folderNameElement = $(document).find('.folder[value="'+id+'"]');
                           var folderNameTdElement = folderNameElement.parent();
                           folderNameTdElement.html('<input type="text" name="folderNewName" class="folderNewName" id="'+id+'" value="'+name+'"/>');
                           folderNameTdElement.show();
                           id = '';
                           name = '';
                        }
                    }else if(move == 'oui'){
                        move = 'non';
                        id = idProject;
                        $('#dialog-folder').dialog('open');
                    }
                }else{
                    deploy = 'non';
                    erase = 'non';
                    file = 'non';
                    rename = 'non';
                    move = 'non';
                    alert("Vous avez entré un code invalide, veuillez rentrer un autre code !");
                }
            },'json');
         });
         
         $(".locked").live('click', function(event) {
             var codeInfos = $(this).parent().parent().parent().find('.codeInfos');
             if($(this).attr('checked') == 'checked'){            
                 codeInfos.css('display','');
             }else{
                 codeInfos.css('display','none'); 
             }
         });
         
          $(".triDossiers").live('change', function(event) {
             event.preventDefault();
             var triDossiers = $(this);
             var lettre = triDossiers.val();
             
             document.location.href ="{{ path('archi_folder_sort')}}?lettre="+lettre;
         });
         
         $(".projectLink").live('click', function(event){
            console.log("ProjectLink click !");
            event.preventDefault();
            var folderId = $(this).parent().parent().find(".folderId").val();
            var projectId = $(this).parent().parent().find(".projectId").val();
            
            $.post("{{ path('archi_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                if(data.hasCode == 'oui'){
                    file = 'oui';
                    deploy = 'non';
                    id = folderId;
                    idProject = projectId;
                    $( "#dialog-checkCodeFolder" ).dialog('open');
                }
            }, "json");
         });
         
         $(".projectDelete").live('click', function(event){
             event.preventDefault();
             var folderId =  $(this).parent().parent().find(".folderId").val();
             var projectId = $(this).parent().parent().find(".projectId").val();
             
             $.post("{{ path('archi_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                 if(data.hasCode == 'oui'){
                     erase = 'oui';
                     file = 'oui';
                     deploy = 'non';
                     id = folderId;
                     idProject = projectId;
                     $( "#dialog-checkCodeFolder" ).dialog('open');
                 }else{
                     $.post("{{ path('archi_project_delete') }}", {id: projectId}, function(data2) {});
                     idProject = '';
                     location.reload();
                 }
             }, "json");           
         });
         
         $(".projectRename").live('click', function(event){
             event.preventDefault();
             var folderId =  $(this).parent().parent().find(".folderId").val();
             var projectId = $(this).parent().parent().find(".projectId").val();
             var projectName = $(this).attr('name');
             var projectNameElement = $(document).find(".projectName"+projectId);
             
             $.post("{{ path('archi_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                 if(data.hasCode == 'oui'){
                     rename = 'oui';
                     file = 'oui';
                     deploy = 'non';
                     id = folderId;
                     idProject = projectId;
                     name = projectName;
                     $( "#dialog-checkCodeFolder" ).dialog('open');
                 }else{
                     projectNameElement.html('<input type="text" name="newName" class="newName" id="'+projectId+'" value="'+projectName+'"/>');
                     projectNameElement.show();  
                 }
             }, "json"); 
         });
         
          $(".folderRename").live('click', function(event) {
             event.preventDefault();
             var folderId = $(this).attr('id');
             var folderName = $(this).attr('name');
             var folderNameElement = $(document).find('.folder[value="'+folderId+'"]');
             
             $.post("{{ path('archi_folder_hasCode') }}", {folderId: folderId, isFile: 'oui' }, function(data) {
                 if(data.hasCode == 'oui'){
                     rename = 'oui';
                     file = 'non';
                     deploy = 'non';
                     id = folderId;
                     name = folderName;
                     $( "#dialog-checkCodeFolder" ).dialog('open');
                 }else{
                     folderNameElement.html('<input type="text" name="folderNewName" class="folderNewName" id="'+folderId+'" value="'+folderName+'"/>');
                     folderNameElement.show();
                 }
             }, "json"); 
         });
     });
</script>    
<section class="main">
    <div class="floatL" style="width: 700px">
        <div style="display:none;">
            <h2>Approche ACV D'UN AMENAGEMENT URBAIN</h2>
            <p class="intro">
                Méthodologie liée a l'outil d'évaluation qualitative et comparative : <br>
                    - l'outil doit être renseigné en amont du processus de conception par les parties prenantes les plus représentatives du projet et intéressées par la performance globale et durable de l'aménagement urbain étudié(maître d'ouvrage, architecte, BE techniques, entreprises, gestionnaire des bâtiments, riverains potentiels).<br>
                    - l'outil est une analyse comparative entre le projet d'aménagement urbain appelé " Système urbain de Référence" et un autre système urbain existant dont les exigences fonctionnelles, d'usages et de mixité socio-économique, la région, le nombre d'habitants, la surface d'aménagement,... sont comparables. Faire le choix d'un aménagement urbain existant remplissant les conditions citées et connu des représentants du projet.<br>
            </p>
        </div>
        <h2>Mes projets</h2>
        
        {% if folders|length != 0 or myLetter != '' %}
            <table name="tri">
                <tr>
                    <td>
                        <h5>Filtrer les dossiers sur une lettre : </h5>
                    </td>
                    <td>
                        <select class="triDossiers" style="width:100px; height: 30px;">
                            <option value="" {% if myLetter == '' %}selected="selected"{% endif %}>- Choisir -</option>
                            {% for letter in folderLetters %}
                                <option value="{{letter}}" {% if myLetter == letter %}selected="selected"{% endif %}>{{letter}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        {% endif %}
        
        {% if myLetter != '' %}
            <table>
                <tr>
                    <td>
                        <h5>Pour annuler le filtre, veuillez sélectionner "- Choisir -"</h5>
                    </td>
                </tr>
            </table>    
        {% endif %}
        
        <table class="projects table">
            {% for folder in folders %}
                <tr>
                    <input type="hidden" class="folderId" value="{{ folder.id }}"/>
                    <td>
                        <a class="folder" value="{{ folder.id }}" href="#">
                            {% if folder.isDeployed == 'non' %}
                                <i class="icon-folder-close folderIcon"></i>
                            {% else %}
                                <i class="icon-folder-open folderIcon"></i>
                            {% endif %}
                            {{ folder.name }}
                        </a>
                    </td>
                    <td>&nbsp;</td>
                    <td style="text-align: right">Créé le {{folder.createdAt|date('d/m/Y') }}</td>
                    <td width="80">
                        <a href="#" class="delete folderDelete" title="Effacer">
                            <i class="icon-remove-sign"></i>
                        </a>
                        <a href="#" class="folderRename" id="{{folder.id}}" name="{{folder.name}}" title="Renommer">
                            <i class="icon-pencil"></i>
                        </a>
                        {% if folder.code != '' %}
                            <i class="icon-lock" title="Dossier verrouillé"></i>
                        {% endif %}
                    </td>
                </tr>
                {% for project in folder.projects %}
                    <tr class="folderProject{{ folder.id }}" {% if folder.isDeployed == 'non' %}style="visibility:hidden; display: none;"{% endif %} >
                        <input type="hidden" class="folderId" value="{{ folder.id }}"/>
                        <input type="hidden" class="projectId" value="{{ project.id }}"/>
                        <td class="projectName{{project.id}}">
                            <a href="{{path('archi_project_home')}}?id={{project.id}}" class="indent {% if folder.code !='' %}projectLink{% endif %}">
                                <img src="/css/skin/famfamfam/building.png" />{{ project.name }}
                            </a>
                        </td>
                        <td>{{ project.city }}</td>
                        <td style="text-align: right">Créé le {{ project.createdAt|date('d/m/Y') }}</td>
                        <td width="80">
                            <a href="{{ path('archi_project_delete', { 'id' : project.id }) }}" class="delete projectDelete" title="Effacer">
                                <i class="icon-remove-sign"></i>
                            </a>
                            {% if project.childs|length == 0 %}
                                <a href="{{ path('archi_project_duplicate', { 'id' : project.id }) }}" class="duplicate" title="Dupliquer">
                                    <i class="icon-copy"></i>
                                </a>
                            {% endif %} 
                            <a href="#" class="projectRename" id="{{project.id}}" name="{{project.name}}" title="Renommer">
                                <i class="icon-pencil"></i>
                            </a>
                            <a href="#" id="{{ project.id }}" class="select-folder" title="Déplacer dans dossier">
                                <i class="icon-tag"></i>
                            </a>
                            <a href="{{ path('archi_exportPDF', {'project': project.id, 'pdf' : 1 }) }}" id="{# project.id #}" class="exportToPDF" title="Exporter en PDF">
                                <i class="fa fa-file-pdf-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}    
            {% endfor %}
            
            {% if projectsWF is defined %}        
                {% for project in projectsWF %}
                      <tr>
                            <td class="projectName{{project.id}}">
                                <a href="{{path('archi_project_home')}}?id={{project.id}}">
                                    <img src="/css/skin/famfamfam/building.png" />{{ project.name }}
                                </a>
                            </td>
                            <td>{{ project.city }}</td>
                            <td style="text-align: right">Créé le {{ project.createdAt|date('d/m/Y') }}</td>
                            <td width="80">
                                <a href="{{ path('archi_project_delete', { 'id' : project.id }) }}" class="delete" title="Effacer">
                                    <i class="icon-remove-sign"></i>
                                </a>
                                {% if project.childs|length == 0 %}
                                    <a href="{{ path('archi_project_duplicate', { 'id' : project.id }) }}" class="duplicate" title="Dupliquer">
                                        <i class="icon-copy"></i>
                                    </a>
                                {% endif %} 
                                <a href="#" class="rename" id="{{project.id}}" name="{{project.name}}" title="Renommer">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" id="{{ project.id }}" class="select-folder" title="Déplacer dans dossier">
                                    <i class="icon-tag"></i>
                                </a>
                                <a href="{{ path('archi_exportPDF', {'project': project.id, 'pdf' : 1 }) }}" id="{# project.id #}" class="exportToPDF" title="Exporter en PDF">
                                    <i class="fa fa-file-pdf-o"></i>
                                </a>
                            </td>
                        </tr>  
                {% endfor %}
            {% endif %}            
        </table>
        
        <br><br>
        <p style="font-size: 120%; line-height: 12px;">
            1- Créer un dossier<br><br>
            <button id="folder-create" class="btn btn-info"><i class="icon-plus"></i> Créer un nouveau dossier</button><br><br>
            2- Le verrouiller par un code, si nécessaire <i class="icon-lock"></i><br><br><br>
            3- Créer un projet<br><br>
            <button id="project-create" class="btn btn-info"><i class="icon-plus"></i> Créer un nouveau projet</button><br><br>
            4- Déplacer le projet dans le dossier approprié <i class="icon-tag"></i>
        </p> 
        
        <div id="project-name">
            <form action="{{ path('archi_project_create') }}" method="post">
                <table>
                    <tr>
                        <td><label>Nom du projet</label></td>
                        <td><input type="text" name="name" /></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><label>Localisation du site</label></td>
                        <td><input type="text" name="city" /></td>
                    </tr>
                    <tr>
                        <td><label>Placer dans dossier ?</label></td>
                        <td>
                            <select name="dossier" class="selectDossier">
                                <option value="">Aucun dossier</option>
                                    {% for folder in folders %}
                                        <option value="{{ folder.id }}">{{ folder.name }}</option>
                                    {% endfor %} 
                            </select>
                        </td>
                    </tr>
                    <tr>
                       <td><button class="btn btn-success" type="submit" style="margin-top: 5px">Valider</button></td> 
                    </tr>
                </table>
            </form>
        </div>
    
        <div id="folder-name">
            <form action="{{ path('archi_folder_create') }}" method="post">
                <table>
                    <tr>
                        <td>
                            <label>Nom du dossier</label>
                        </td>
                        <td>
                            <input type="text" name="name" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Verrouiller ce dossier par code ?</label>
                        </td>
                        <td>
                            <input type="checkbox" class="locked" name="locked" value="yes" />
                        </td>
                    </tr>
                    <tr class="codeInfos" style="display: none;">
                        <td>
                            <label>Code : </label>
                        </td>
                        <td>
                            <input type="text" name="code" class="code" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" style="margin-top: 5px" class="btn btn-success">Valider</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
        
    <div class="floatR">
        <img src="/images/urba/urba.jpg" style="width:250px; height: 400px;" />
    </div>
    <div class="clear"></div>
    
     <!-- DIALOG BOXES -->
    <div id="dialog-folder" class="dialog-folder" title="Choisir un dossier">
        <form method="post" action="#">
            <div class="row">
                <label>Dossiers</label>
                <select name="dossier" class="selectDossier">
                    <option>- Selectionner -</option>
                    {% for folder in folders %}
                        <option value="{{ folder.id }}">{{ folder.name }}</option>
                    {% endfor %}
                        <option value="">Aucun dossier</option>    
                </select>
            </div>
        </form>
    </div>
    
    <div id="dialog-checkCodeFolder" class="dialog-checkCodeFolder" style="overflow:hidden;" title="Entrer le code">
        <form method="post" action="#">
            <div class="row">
                <label>Ce projet est verrouillé, veuillez saisir le code de déverouillage</label>
                <input type="text" name="password" class="password" style="text-security:disc; -webkit-text-security:disc;">
                <button type="submit" style="margin-top: 5px" class="btn btn-success submitPassword">Valider</button>
            </div>
        </form>
    </div>    
</section>

{% endblock %}