{% extends '::archi_base.html.twig' %}

{% block side %}
    {% set section = "instructions" %}
    {% include 'ArtoArchiBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".bilan").live('click',function(event){
            //event.preventDefault();
            var zeroNotes = $(document).find(".notesEmpty");
            
            if(zeroNotes.attr('value') == 'true'){
                alert("Vous n'avez noté aucun pilier !");
                event.preventDefault();
            }           
        });
        
        $(document).ready(function() {
            var notesEmpty = $(this).find(".notesEmpty");
            var zeroNotes = false;
            $.post("{{ path('archi_check_notes') }}", { project : {{ project.id }} }, function(data){
                if(data != null){
                    if(data.notesEmpty == true){
                        zeroNotes = true;
                    }
                }
                notesEmpty.attr('value',zeroNotes);
            }, 'json');
        });
    });
</script>

<section class="main transverse">
    <input type="hidden" class="notesEmpty"/>
    <div style="text-align: justify;">
        <h1>Instruction de l’outil ARTOURBA</h1>
        
        <h2>I. Résumé de présentation de l’outil</h2>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;<b>ArtoUrba</b> propose aux acteurs de la conception d’un projet de quartier durable, une méthode structurante d’évaluation, réalisée sur la base de critères transparents et évolutifs pour déboucher sur l’expression du résultat de durabilité du projet. La méthode est une approche qualitative et comparative où tous les champs d'actions de la durabilité y sont abordés permettant d'identifier rapidement les points faibles et les points forts du projet dans le but de concentrer l'ingénierie et la technicité sur les points faibles à améliorer. Son usage en phase de conception du projet n'est pas exclusif d'une partie des acteurs mais contribue à la mobilisation et l'association d’acteurs clés de toutes les phases du projet comme les maîtres d'œuvre et d'ouvrage, élus, architecte, collectivité locale, aménageur public ou privé, bureaux d'études, promoteur, habitants ou association d'usagers,...dans une perspective de partage et d'étaiement du rôle collectif de conception et qui est, de mon point de vue, indispensable pour assurer la durabilité du quartier.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp;Nous sommes persuadés de sa compatibilité qu’il reste néanmoins à démontrer, avec les résultats d’Analyse du Cycle de Vie (ACV) du bâtiment. En effet, ARTOURBA a été pensé à la fois suivant le cycle de vie du projet d’un point de vue qualitatif et quantitatif et les principes du développement durable. Les points de vue social, environnemental, économique et transversal permettent  d'appréhender sous la vision à 360° tous les enjeux contributifs au développement du territoire et plus particulièrement de la durabilité du quartier. Dans le but de faciliter la compréhension des impacts, il reprend dans ses critères d’évaluation, les aides de références suivantes:</p>
        <ul>
            <li>- les 5 finalités et les 5 critères de développement durable,</li>
            <li>- le référentiel HQE Aménagement,</li>
            <li>- la grille EcoQuartier mise à jour en 2011 du MEDDTL,</li> 
            <li>- des critères de la certification LEED,</li>
            <li>- le cadre de référence ville durable européenne (Reference Framework For european sustainable cities),</li>
            <li>- le Label national EcoQuartier,</li>
            <li>- l’Approche Environnementale de l’Urbanisme (AEU) de l’ADEME</li>
        </ul>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Nous pensons indispensable la présence des futurs habitants dans la conception du projet de quartier. L’intégration de l’approche cycle de vie dans ARTOURBA révèle la vie en œuvre du quartier, des espaces aménagés, des ensembles bâtis ou des zones naturelles qui seront co-gérés par les usagers. Ces derniers sont eux-mêmes concepteurs durant la phase de « vie en marche » du projet et de son évolution. ARTOURBA est un accélérateur de créativité car il oblige chaque participant à réfléchir non pas isolément dans ses connaissances établies, ses pratiques individuelles et ses protocoles d’évaluation stabilisés, mais à réfléchir autrement, en cohésion entre tous en tant que vecteur d’un processus dynamique de coopération et de cohésion simultanées.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’exercice d’évaluation qu’offre <b>ArtoUrba</b> est un processus de conception qui se construit dans l’action collective qui dépasse le seul fait de répondre aux critères. Certes, l’accord autour d’intérêts communs n’est pas simple à créer entre tous les acteurs du projet de quartier mais la fixation de solutions cohérentes avec les réalités urbaines du présent et à venir est à ce prix. La co-production de cette cohésion interdisciplinaire est formalisée dans le partage d’une vision commune, c’est ce qui fait d’ARTOURBA un outil innovant.</p>
        
        <h2>II. Description technique de l’outil</h2>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>ArtoUrba</b> est une approche qualitative, collaborative et comparative entre 2 projets d’appel d’offre ou entre un projet de quartier durable et un quartier modèle ou existant dit « de Référence ». Tous les champs d'actions de la durabilité y sont abordés permettant d'identifier rapidement les points faibles et les points forts du projet dans le but de concentrer l'ingénierie et la technicité sur les points faibles à améliorer.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; <b>ArtoUrba</b> peut-être utilisé à différents niveaux d’expertises et à différentes phases du projet (conception, réalisation, utilisation) permettant de :</p>
        <ul>
            <li>- définir les objectifs pour chacun des thèmes du référentiel et les priorités pour le projet,</li>
            <li>- sélectionner un projet (concours de maîtrise d’œuvre, appels à projet…),</li>
            <li>- co-produire le projet avec les habitants et les usagers,</li>
            <li>- piloter et suivre l’application de mise en œuvre des objectifs fixés et des exigences spécifiées.</li>
        </ul>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’outil propose donc aux acteurs une méthode structurante d’évaluation, réalisée de manière transparente pour les acteurs sur la base de 170 sous-critères ou d’aides d’évaluation du quartier répartis sur 30 facteurs de durabilité : </p>
        <ul>
            <li>- 8 pour le pilier environnement,</li>
            <li>- 8 pour le pilier social,</li>
            <li>- 8 pour le pilier économique,</li>
            <li>- 6 pour le pilier transversal.</li>
        </ul>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’efficacité du processus d'implémentation d'<b>ArtoUrba</b> repose sur la qualité de l'animation du travail de groupe, de la qualité des interactions entre acteurs associés et de la créativité qui en résulte. Mené dès la phase de programmation en co-maîtrise d'ouvrage par les acteurs concernés par le projet d'aménagement urbain, l'outil logiciel web est d’utilisation facile et met en avant l'importance de l'activité de conception collective. Cet outil unique d'aide à l'évaluation/communication/décision est un outil de débat, d'interactions et de partage permettant en un minimum de temps (4 h maximum), de mettre en discussion tous les impacts économiques et socio-environnementaux d'un projet de quartier en accord avec les principes du développement durable.</p>
        <img src="/images/urba/UrbaInstructions2.jpg" style="width:70%"/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Les acteurs pour l’évaluation du projet de quartier sont définis. Le projet à évaluer est défini (nom projet, insertion photo, localisation, nombre d’habitants, surface,…) ainsi que le quartier de référence servant à la comparaison. Ce dernier doit avoir des fonctionnalités d’usages similaires au projet de quartier. L’équipe projet formée de l’ensemble des acteurs représentatifs de tout le cycle de vie du projet, passe en revue chacun des critères de durabilité aidés des aides utiles à l’évaluation.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Le débat entre les acteurs du projet est maîtrisé et animé par un pilote de l’évaluation. Il consiste à donner une cotation (Faible, Moyen, Fort) en réponse ou pas à chacun des aides ou sous-critères portés d’une part par le projet puis d’autre part par le quartier servant de comparaison (ou de référence). L’évaluation doit être exprimée en différentielle entre le projet et le quartier de référence : Fort si le projet (ou le quartier de référence) intègre le sous-critère et y contribue plus fortement par rapport au quartier de référence (ou le projet de quartier). Faible si inversement. Moyen si, après débat, il est impossible de trancher. Dans le cas où le critère est sans objet pour le projet (ou le quartier de référence), la cotation est notée Fort.</p>
        <br/>
        <img src="/images/urba/UrbaInstructions3.jpg" style="width: 70%;"/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Dans le but de montrer l’importance de l’atteinte de certains sous-critères, les aides font référence aux référentiels cités ci-dessus (LEED, Label national EcoQuartier,…). L’animateur trace les commentaires ou justificatifs et éventuellement la ou les actions d’améliorations à apporter au projet. L’outil propose pour information, le résultat obtenu pour chaque facteur de durabilité en faisant la moyenne des évaluations de chaque sous-critère. Le résultat final de chacun d’eux est décidé par l’assemblée d’acteurs et se concrétise par une cotation Fort ou Faible à laquelle est rattachée une pondération spécifique. Les 30 facteurs de durabilité sont ainsi débattus pour ensuite exprimer un résultat final.</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; Les pondérations de chaque critère ou facteur durabilité ont été affectées selon un nombre représentatif et significatif d'études ACV, le contexte local et territorial, les fonctionnalités d’usages du quartier ou encore, en fonction de directives des élus, des maîtres d'ouvrage ou d'un groupe d'experts représentatifs des parties prenantes. La traçabilité des commentaires et justificatifs émis par les acteurs sur les 2 quartiers pris pour comparaison en regard des critères peut-être archivée. Cet archivage de données qualitatives et/ou quantitatives rend itératif le processus d’évaluation. L’outil donne également la possibilité de préparer, simultanément de l’évaluation par critères, un plan d'actions partagé par tous, de façon à faciliter sa mise en œuvre et son pilotage tout au long de la réalisation du projet. Dans ce dernier cas, la cotation est Fort.  La vérification de la mise en œuvre des actions est réalisée auprès des acteurs du développement lors d’une revue de conception.</p>
        <br/>
        <img src="/images/urba/UrbaInstructions4.jpg" style="width: 70%;"/>
        <br/><br/><br/>
        <p style="font-size: 105%; line-height: 18px; font-weight: bold;">&nbsp; &nbsp; Pondération appliquée à chaque critère qui a été établi sur la base d'un retour d'expérience d'un nombre d'études significatives et représentatives.</p>
        <br/>
        <img src="/images/urba/UrbaPoidsCriteres.jpg" style="width: 70%;"/>
        <br/><br/>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; L’expression des résultats est présentée sous la forme de 2 profils d’impacts ou radars (contributeurs par piliers du développement durable et par critères) et d’un score quantitatif noté sur 20 points, offrant un aperçu simultané de la performance globale du quartier.  Plus le résultat est proche de la périphérie du radar, mieux c’est en terme d’impact (réponse positive au critère atteint). Les critères contributeurs d’impacts qualifiant le projet de quartier durable ou non durable, sont :</p>
        <ul>
            <li>- Sain et confortable (<em>Santé, bien-être et qualité du cadre de vie</em>)</li>
            <li>- Intégré (<em>Approche humaine/urbaine croisée/solidaire</em>)</li>
            <li>- Sobre (<em>Gestion maîtrisée des flux et des mobilités</em>)</li>  
            <li>- Durable (<em>Respect besoins/usagers et parties prenantes</em>)</li>
            <li>- Economique (<em>Maîtrise du projet en coût global</em>)</li>
        </ul>
        <br/>
        <img src="/images/urba/UrbaInstructions5.jpg" style="width: 70%;"/>
        
        <h2>III. Description détaillée de l’outil ARTOURBA</h2>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 1- Définir les acteurs pour l’évaluation, le projet de quartier et le quartier de référence servant à la comparaison,</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 2- Passer en revue chaque pilier du DD puis évaluer les sous-critères de chaque facteur de durabilité, <img src="/images/urba/UrbaInstructions6.jpg"/></p>
        
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 3- Evaluer  par Faible, Moyen ou Fort, chaque sous-critère ou aide du projet puis du quartier de référence par analyse comparative et différentielle, <img src="/images/urba/UrbaInstructions7.jpg"/><br/><img src="/images/urba/UrbaInstructions8.jpg"/></p>
         
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 4- Evaluer par Faible ou Fort, chaque facteur de durabilité du projet puis du quartier de référence en vous aidant de la moyenne des résultats d’évaluation des sous-critères ou de la cotation proposée, <img src="/images/urba/UrbaInstructions9.jpg"/></p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 5- Tracer les commentaires ou justificatifs des évaluations,</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 6- Porter une action d’amélioration si nécessaire, <img src="/images/urba/UrbaInstructions10.jpg"/></p>
        
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 7- Visualiser le bilan du projet, le score de performance globale, les profils d’impacts (par pilier du DD et par critères), revenir si besoin sur l’évaluation,</p>
        <p style="font-size: 105%; line-height: 18px;">&nbsp; &nbsp; 8- Apporter les éléments de gestion du plan d’actions (date de fin, pilote de l’action).</p>
    </div>
</section>

{% endblock %}