{% extends '::archi_base.html.twig' %}

{% block side %}
    {% set section = "search" %}
    {% include 'ArtoArchiBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
     $(function(){
        $('#search').submit(function(event) {
            event.preventDefault();

            var parent = $(this).parent();
            var key = parent.find('.searchKey').val();

            $.post("{{ path('archi_project_search', { 'id': project.id }) }}", {key: key}, function(data) {
                var searchResult = parent.find('.searchResult');
                searchResult.html(data);
                searchResult.change();
            });
        });
        
        $(".bilan").live('click',function(event){
            //event.preventDefault();
            var zeroNotes = $(document).find(".notesEmpty");
            
            if(zeroNotes.attr('value') == 'true'){
                alert("Vous n'avez noté aucun pilier !");
                event.preventDefault();
            }           
        });
        
        $(document).ready(function() {
            var notesEmpty = $(this).find(".notesEmpty");
            var zeroNotes = false;
            $.post("{{ path('archi_check_notes') }}", { project : {{ project.id }} }, function(data){
                if(data != null){
                    if(data.notesEmpty == true){
                        zeroNotes = true;
                    }
                }
                notesEmpty.attr('value',zeroNotes);
            }, 'json');
        });
     });
</script>
<section class="main">
    <input type="hidden" class="notesEmpty"/>
    <form id="search" method="post" action="{{ path('archi_project_search', { 'id': project.id }) }}">
        <input type="text" class="searchKey" />
        <input class="btn btn-info" type="submit" value="Rechercher" />
    </form>

    <div class="searchResult"></div>
</section>

{% endblock %}