{% extends '::archi_base.html.twig' %}

{% block side %}
    {% set section = "bilan" %}
    {% include 'ArtoArchiBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<section class="main">
    <div class="radars">
        <div class="radar">
            <h4>PROFIL SYSTEME URBAIN DURABLE<br/><em>En nombre de critères de durabilité atteints</em></h4>
            <img src="{{ path('archi_project_chart', { 'id' : project.id }) }}"  width="400" height="350" />
        </div>
        <div class="qeb-container">
            <em>Performance Globale<br/><small>notée sur 20</small></em>
            <div class="qeb">
                <span>{{ qeb }}</span>
                <span class="qeb-default">{{ qeb_default }}</span>
            </div>
        </div>

        <div class="radar">
            <h4>PROFIL SYSTEME URBAIN PAR CRITERES<br/><em>En nombre de critères de durabilité atteints</em></h4>
            <img src="{{ path('archi_project_chart2', { 'id' : project.id }) }}" width="400" height="350" />
        </div>
        <div class="criterias">
            <br> 
            <br>
            <br>Légende :
            <br>un indicateur à 100%
            <br>sur le radar (en périphérie),
            <br>signifie un impact positif
            <br>
            <br>
            <br>
            <b>Sain et confortable</b><br>
            <em>Santé, bien-être et qualité du cadre de vie</em><br><br>
            <b>Intégré</b><br>
            <em>Approche humaine/urbaine croisée/solidaire</em><br><br>
            <b>Sobre</b><br>
            <em>Gestion maîtrisée des flux et des mobilités</em><br><br>
            <b>Durable</b><br>
            <em>Respect besoins/usagers et parties prenantes</em><br><br>
            <b>Economique</b><br>
            <em>Maîtrise du projet en coût global</em><br>
        </div>

        <div class="clear"></div>
    </div>
    <div class="summuary">
        <table>
             <tr>
                 <td width="400" align="center">
                     <h4>Piliers du Développement Durable</h4>
                     <h5>Le système urbain en projet est</h5>
                     <table class="items">
                        <tr>{% render 'ArtoArchiBundle:Default:summuaryCategory' with {'id': project.id } %}</tr>
                     </table>
                 </td>
                 <td width="130"></td>
                 <td width="400" align="center">
                     <h4>Critères du système urbain en projet</h4>
                     <h5>Le système urbain en projet est</h5>
                     <table class="items">
                         <tr>{% render 'ArtoArchiBundle:Default:summuaryProfile' with {'id': project.id } %}</tr>
                     </table>
                 </td>
             </tr>
             <tr>
                 <td width="400">
                     <h5 style="text-align: right;">Règle : si l'indicateur de performance globale est > 12/20 et l'écart de variation avec
                         le système urbain comparé est strictement > 1, le système urbain en projet est durable</h5>
                 </td>
                 <td width="130">
                     {% if qeb >= 12 and qeb > qeb_default %}
                        <div class="item green" style="text-transform: uppercase; width: 110px;">durable</div>
                     {% else %}
                        <div class="item red" style="text-transform: uppercase; width: 110px;">non durable</div>
                     {% endif %}
                 </td>
                 <td width="400">
                    &nbsp;
                 </td>
             </tr>
        </table>
    </div>
    <div class="clear"></div>
    <h3>Plan d'action</h3>
    <div>
        <form method="post" action="{{ path('archi_project_plan_action_save', { 'id' : project.id }) }}">
            <table class="table">
                <tr>
                    <th>Question</th>
                    <th>Action</th>
                    <th>Pilote de l'action</th>
                    <th>Date de fin</th>
                </tr>
                {% for criteria in criterias %}
                    {% set pilote_found = false %}
                    {% if actions[criteria.id] is defined and actions[criteria.id] is not empty %}
                        <tr>
                            <td>{{ loop.index }}. {{ criteria.label }}</td>
                            <td>
                                {% for action in actions[criteria.id] %}
                                    {{ action|nl2br }}<br/><br/>
                                {% endfor %}
                            </td>
                            <td>
                            {% for pilote in pilote_actions %}
                                {% if pilote.criteria.id == criteria.id %}
                                    {% set pilote_found = true %}
                                        <input name="pilote_{{ pilote.id }}" type="text" value="{{ pilote.pilote }}" />
                                        <br/><br/>
                                {% endif %}
                            {% endfor %}
                            </td>
                            
                            <td>
                            {% for pilote in pilote_actions %}
                                {% if pilote.criteria.id == criteria.id %}
                                    <input type="text" name="pilote_date_{{ pilote.id }}" value="{{ pilote.piloteDate|date('d/m/Y') }}" class="date-pick" />
                                    <br/><br/>
                                {% endif %}    
                            {% endfor %}
                            </td>
                            {% if not pilote_found %}
                                <td><input name="pilote_new" type="text" value="" /></td>
                                <td><input type="text" name="pilote_date_new" value="" class="date-pick" /></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4" align="right"><input class="btn btn-info" type="submit" value="Valider" /></td>
                </tr>        
            </table>
       </form>         
    </div>
</section>

{% endblock %}