header h1 a { background: url(skin/artoacv_logo.png) no-repeat; }

/* GLOBALS */
aside { width: 150px; float: left; margin: 10px; position: fixed; top: 110px; background: none; }
aside h3 { text-align: center; }
.hidden { display: none !important; }
p.help { padding: 10px; background: #fff; border: 1px solid #ccc; width: 750px; }
.progress { margin-bottom: 0; }
.templates { display: none; }
.tr-clone { display:none; }


/* DIALOG */
.dialog-base h4 { float: left; width: 100px; font-size: 12px; font-weight: normal; }
.dialog-base select { width: 380px; }


/* ASSEMBLY */
.assembly-header { background: #018FBD; color: #fff; font-size: 12px; width: 100%; margin-top: 50px; }
.assembly-header input { font-size: 12px; }
.assembly-header tr td { padding: 5px 10px 5px 10px; line-height: 14px; }
.assembly-header span { display: block; padding-top: 8px; float: left; }
.assembly-header i { color: #fff; }
.assembly-footer span { display: block; padding-top: 8px; float: right; }
.assembly-footer { background: #eee; margin-bottom: 60px; width: 100%; }
.assembly-footer tr td { padding: 5px 10px 5px 10px; }
.assembly-quantity { width: 30px; }
.assembly-delete { float: right; margin-left: 10px; margin-top: 5px; }

.assembly-menu-btn { padding-top: 5px; display: block; }
.assembly-menu { display: none; position: absolute; top: 46px; right: 0; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.assembly-menu li a { display: block; padding: 5px 10px; background: #eee; }
.assembly-menu li a:hover { background: #018FBD; color: #fff; }

/* PARTS */
.parts-container {  }
.parts-container h3 { margin:0; padding: 0; }

.parts-list table { width: 100%; }
.parts-list col.odd { background: #e5f6fc; }
.parts-list col.odd2 { background: #fcf6e5; }
.parts-list thead tr th { background: #eee; font-size: 11px; padding: 4px 2px; font-weight: normal; line-height: 11px; }
.parts-list thead tr.small th { background: #ccc; font-size: 10px; font-weight: normal; }
.parts-list tr.parent { border-top: 1px dotted #bbb; }

.part .edit { display: none; }
.part .add { width: 16px; height: 16px; float: left; margin-top: 5px; cursor: pointer; }
.part input, .part select { font-size: 11px !important; padding: 4px 2px; }
.part select { height: 26px; }
.part tr td { padding: 4px 2px; border-bottom: 1px dotted #ccc; }
.part .weight { width: 30px; float: left; }
.part .unit { font-size: 10px; padding: 8px 3px; display: block; float: left; }
.part select { width: 144px; float: left; }
.part .base-list select { width: 150px; }
.part .family-list, .part .base-list, .part .process-list { display: none; }

.part .material { padding-left: 20px; }
.part .material strong, .part .material a { display: block; float: left; font-size: 10px; }
.part .material strong { margin: 5px 3px 0 0; padding: 2px; color: #fff; }
.part .material strong.m { background: #005580; }
.part .material strong.c { background: #C06; }
.part .material strong.a { background: #9C0; }
.part .material a { margin: 7px 0 0 0; overflow: hidden; white-space:nowrap; width: 170px; }
.part .add-material { display: none; }
.part .material-template { display: none; }

.part .process { padding-left: 20px; }
.part .process strong, .part .process a { display: block; float: left; font-size: 10px; }
.part .process strong { margin: 5px 3px 0 0; padding: 2px 4px; color: #fff; }
.part .process strong.p { background: #f18d05; }
.part .process a { margin: 7px 0 0 0; overflow: hidden; white-space:nowrap; width: 170px; }
.part .add-process { display: none; }
.part .process-template { display: none; }


/* USAGE */
#usage-table table { float: left;}
#usage-table input { width: 50px; }

/* RESULT */
.result-table { width: 1000px;}
.result-table th { line-height: 12px; padding: 6px 0; }
.result-table td { padding: 5px 10px; }
.result-table .hd1 {font-size: 9px !important; font-family: arial !important; font-weight: normal !important;}
.result-table .hd2 {font-size: 14px !important; }
.result-table .hd3 {font-size: 9px !important; font-family: arial !important; font-weight: normal !important; }

.result-table .first {border-top: 1px solid #ccc}
.result-table .last {border-bottom: 1px solid #ccc}


/* CALCULATOR */
#calculator { position: fixed; top: 89px; left: 0; width: 100%; background: #eee; border-bottom: 1px solid #ccc; }
#calculator .table-container { width: 100%; }
#calculator span { display: inline-block; margin-top: 8px; }


/* COMPARISON */
.comparison .well { padding: 8px 0; width: 200px; margin-right: 20px; float: left; }
.comparison-table { width: 100%; }
.comparison-table tr td, .comparison-table tr th { border-bottom: 1px dotted #ccc; padding: 5px; font-size: 12px; text-align: center;}
.comparison-table tr th { background: #fff; text-align: center; }
.nav input { margin-top: -2px; }
.comparison .graph { height: 270px; }


/* SIMULATION */
.simulation .simulator { padding-left: 310px; }
.simulation .simulator .navigator { clear: both; margin-bottom: 10px; }
.simulation .table select { width: 60px; font-size: 12px; height: 22px; }
.simulation .table span { padding-top: 5px; }
.simulation #graph { position:fixed; top:100px; }
.simulation #loading { position:fixed; top:360px; width: 278px; display: none; }
.simulation .impact-col { font-family: 'PTSansBold'; font-size: 14px; color: #fff; text-align: center; width: 80px; }


/* STICKER */
.sticker-container { margin: 0; padding: 10px; width: 1050px; float: left; background: #fff; }
.sticker-container h2, .sticker-container h3, .sticker-container h4,
.sticker-container .box { font-family: 'Arial Black'; text-transform: none;  }
.sticker-container h2 { font-size: 38px; color: #000; margin-bottom: 60px; text-align: center; }
.sticker-container h3 { font-size: 28px; color: #0099cc; margin-bottom: 20px; line-height: 36px; }
.sticker-container .col1 { float: left; width: 600px; margin-right: 20px; }
.sticker-container .col2 { float: left; width: 400px; }
.sticker-container .box1 { border-radius: 8px; border: 3px solid #99cc00; color: #99cc00; font-size: 20px; text-align: center; padding: 30px; line-height: 26px }
.sticker-container .box2 { border-radius: 8px; border: 3px solid #0099cc; font-size: 14px; text-align: center; padding: 20px; margin-top: 40px; }
.sticker-container .box2 h4 { font-size: 20px; color: #0099cc; margin: 25px 0; }
.sticker-container .box2 p { color: #000; line-height: 18px; font-size: 16px; }
.sticker-container .box3 h4 { font-size: 20px; color: #cccc00; margin: 0 0 25px 0; }
.sticker-container .box3 { border-radius: 8px; border: 3px solid #cccc00; font-size: 14px; text-align: center; padding: 30px; margin: 50px 0 80px 0; }
.sticker-container .box3 p { color: #000; line-height: 18px; font-size: 18px; line-height: 22px; text-align: left; }
.sticker-container .box-foot { font-size: 24px; color: #cc0066; margin-bottom: 20px; text-align: center; line-height: 28px; padding: 0 40px;  }
.sticker-container .foot { margin: 60px 0 30px 0; }
.sticker-container .foot p { font-family: Arial; color: #99cc00; width: 650px; float:left; text-align: right; margin-right: 50px; font-size: 18px; padding-top: 40px; }
.sticker-container .foot .logo { width: 350px; float:left; }

.sticker { background: url('/images/acv/sticker.png') no-repeat; height: 765px; }
.sticker ul li { font-family: 'Arial'; height: 190px; list-style: none; margin-left: 168px; }
.sticker strong { float: left; display: block; font-size: 22px; line-height: 30px; padding-top: 60px; text-align: center; width: 190px; }
.sticker i { font-style: normal; font-size: 28px; }
.sticker span { float: left; display: block; padding-top: 54px; line-height: 22px; color: #fff; font-size: 18px; text-align: left; width: 150px; margin-left: 30px;}
.sticker span em { font-size: 14px; line-height: 16px !important; display: block; margin-top: 5px; }

.sticker-mini { background: url('/images/acv/sticker_mini.png') no-repeat; height: 620px; float: left; }
.sticker-mini ul li { font-family: 'Arial'; height: 150px; list-style: none; margin-left: 110px; }
.sticker-mini strong { float: left; display: block; font-size: 18px; line-height: 26px; padding-top: 50px; text-align: center; width: 140px; }
.sticker-mini i { font-style: normal; font-size: 28px; }
.sticker-mini span { float: left; display: block; padding-top: 54px; line-height: 14px; color: #fff; font-size: 12px; text-align: left; width: 150px; margin-left: 30px;}
.sticker-mini span em { font-size: 11px; line-height: 12px !important; display: block; margin-top: 5px; }

.sticker-pdf { background: url('/images/acv/sticker_mini.png') no-repeat; height: 620px; float: left; }
.sticker-pdf ul li { font-family: 'Arial'; height: 150px; list-style: none; margin-left: 140px; }
.sticker-pdf strong { float: left; display: block; font-size: 18px; line-height: 26px; padding-top: 50px; text-align: center; width: 140px; }
.sticker-pdf i { font-style: normal; font-size: 28px; }
.sticker-pdf span { float: left; display: block; padding-top: 54px; line-height: 14px; color: #fff; font-size: 12px; text-align: left; width: 150px; margin-left: 30px;}
.sticker-pdf span em { font-size: 11px; line-height: 12px !important; display: block; margin-top: 5px; }

