header h1 a { background: url(skin/artodesign_logo.png) no-repeat; }

.hpe .item { clear: both; padding-bottom: 60px; }
.hpe p { display: block; float: left; width: 650px; font-size: 14px; padding-top: 10px; }
.hpe strong { display: block; float: left; width: 300px; font-size: 14px; font-weight: bold; padding: 10px 20px; text-align: center; color: #fff; line-height: 15px; }
.hpe .red { background: #cc0000 }
.hpe .green { background: #9C0 }

.donneesConsommation-table tr td {padding: 3px; border: 1px dotted #ccc; text-align: left;}

.recycle-table tr td { padding: 3px; border: 1px dotted #ccc; text-align: center;}
.recycle-table thead tr td th{ background: #ccc; text-transform: uppercase; font-weight: bold; position: fixed;}
.recycle-table tbody { padding-top: 40px;}

.justifiedDiv {text-align:justify; width: 1200px; line-height: 12px;}

.search-table tr td { visibility: hidden}

.users input[type=text] { width: 120px; }

.users-table { width: auto; border-collapse: collapse; padding : 0px; margin: 0px;}
.users-table .tr-clone { display: none;}