header h1 a { background: url(skin/artodistrib_logo.png) no-repeat; }

.templates { display: none; }

.scenario-header { background: #018FBD; color: #fff; font-size: 12px; width: 100%; margin-top: 50px; }
.scenario-header input { font-size: 12px; }
.scenario-header tr td { padding: 5px 10px 5px 10px; line-height: 14px; }
.scenario-header span { display: block; padding-top: 8px; float: left; }
.scenario-header i { color: #fff; }
.scenario-quantity { width: 30px; }
.scenario-delete { float: right; margin-left: 10px; margin-top: 5px; }

.flux-header { background: #9C0; color: #fff; font-size: 11px; width: 100%; }
.flux-header input { font-size: 11px; }
.flux-header tr td { padding: 5px 10px 5px 10px; line-height: 14px; }
.flux-header span { display: block; padding-top: 8px; float: left; }
.flux-header i { color: #fff; }
.flux-footer span { display: block; padding-top: 8px; float: right; }
.flux-footer { background: #eee; width: 100%; }
.flux-footer tr td { padding: 3px; }
.flux-percentage { width: 30px; }
.flux-delete { float: right; margin-left: 10px; margin-top: 5px; }

.part-table { width: 100% }
.part-table input, .part-table select { font-size: 11px; }
.part-table tr th, .part-table tr td { padding: 3px; }
.part-table th { background: #ccc; font-weight: normal; font-size: 11px; text-align: center }
.part-table .small th { background: #eee; font-weight: normal; font-size: 10px; text-align: center }