header h1 a { background: url(skin/artoflux_logo.png) no-repeat; }

.users input[type=text] { width: 120px; }

.manufacturing h2 { text-transform: none; margin: 20px 0 10px 0; padding-bottom: 5px; border-bottom: 1px dotted #ccc; }
.manufacturing h4 { font-size: 10px; font-weight: normal; }

.manufacturing .category-label strong { display: block; float: left; width: 300px; font-size: 14px; font-weight: bold; padding-top: 5px; }
.manufacturing .category-label select { float: left; width: 60px; }
.manufacturing .category-description { margin-bottom: 10px; }
.manufacturing .category-description ul li { color: #000; list-style: square; padding-left: 0px; margin-left: 20px; line-height: 14px; }

.manufacturing .category { border-bottom: 1px dotted #ccc; padding: 10px 20px; margin: 5px; background: #eee; }
.manufacturing .category-content { clear: both; display:none; margin-top: 10px; }
.manufacturing .category-content .number { width: 40px; }
.manufacturing .category-content .type { width: 150px; }
.manufacturing .category-content .weight { width: 50px; }
.manufacturing .category-content .info { width: 200px; }
.manufacturing .category-content .add { margin-left: -15px; margin-top: -28px; display: block; height: 30px; }
.manufacturing .category-content table tr th { font-size: 11px; border-bottom: 1px solid #ccc; background: #f9f9f9; font-weight: normal; padding: 5px; }

.fabrication-table {width: auto; border: none;}
/*.tr-hidden { display:none; }*/
.tr-clone { display:none; }

.electronic-table {}
.electronic-table tr td { padding-top:0px; margin-top:0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;}

.electronic-clone {display:none;}

.PCB-table {}
.PCB-table tr td { padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;}

.PCBs-table input[type=text]:disabled{font-size: 11px !important; background-color: #eeeeee;}

.composantsPlastiques-table {width:auto; border:none;}
.composantsPlastiques-table input[type=text]{font-size: 11px !important;}
.composantsPlastiques-table input[type=text]:disabled{font-size: 11px !important; background-color: #eeeeee;}

.composantsMetalliques-table {width:auto; border:none; }
.composantsMetalliques-table input[type=text]{font-size: 11px !important;}
.composantsMetalliques-table input[type=text]:disabled{font-size: 11px !important; background-color: #eeeeee;}

.composantsElectroniques-table {width:auto; border:none; }
.composantsElectroniques-table input[type=text]{font-size: 11px !important;}
.composantsElectroniques-table input[type=text]:disabled{font-size: 11px !important; background-color: #eeeeee;}

.fixations-table {width:auto; border:none; }

.li{ color: #000; list-style: square; padding-left: 0px; margin-left: 20px; line-height: 14px; }

/*bgcolor="#fde9d9" */

.pcbs h3 { border-bottom: 1px dotted #ccc; margin-bottom: 0px; text-align: center; }
.pcbs .item { float: left; margin: 0 0 20px 20px; background: #fff; border: 1px solid #eee; padding: 10px; display: none; }
.pcbs .item input, .pcbs .item select { width: 150px; }
.pcbs .item label { color: #666; padding-top: 10px;}

.pcbs .visibleItem { float: left; margin: 0 0 20px 20px; background: #fff; border: 1px solid #eee; padding: 10px; }
.pcbs .visibleItem input, .pcbs .item select { width: 150px; }
.pcbs .visibleItem label { color: #666; padding-top: 10px;}

.dialog-base h4 { float: left; width: 100px; font-size: 12px; font-weight: normal; }
.dialog-base select { width: 380px; }

.pop data-content { width: 400px; }  