/* bootstrap */
label, input, button, select, textarea { line-height: 21px; }
.well-white { background: #fff; }
.well-borderless { background: url(skin/gradient_product.png) repeat-x bottom left !important; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.tab-content { overflow: hidden; }
.nav-tabs { border-bottom: 1px solid #ccc; }

.controls ul li { color: #cc0000; }

.nav-tabs .active a { color: #CC0066; }

.carousel-control {
position: absolute;
top: 40%;
left: 350px;
width: 16px;
height: 16px;
margin-top: 220px;
font-size: 16px;
font-weight: normal;
line-height: 18px;
color: #cf0066;
text-align: center;
background: none;
border: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
opacity: 1;
}

.carousel-control.right { right: 350px;left: auto; }

.projects-table { width: auto; border: none; }
.tr-clone { display:none; }

.table tr td, .table tr th { padding: 10px; }
.table tr th { border-bottom: 1px solid #ccc; }

/* structure */
#wrapper { margin: 0 auto; width: 1008px; }

header { background: #E7E7E7;  }
header h1 a { text-indent: -5000px; background: url(skin/artogreen_logo.png) no-repeat left center; width: 400px; height: 100px; display: block;  float: left; margin-top: 8px; }
header span.baseline { display: block; font-size: 12px; color: #999; text-align: right; width: 368px; }
header .navigator { display: block; text-align: right; padding: 5px 25px 0 0; color: #000; font-size: 12px; float: right; }

nav { position: absolute; top: 0; font-family: 'PT Sans', sans-serif; margin-left: 560px; width: 448px; }
nav a { float: left; display: block; padding: 114px 0 24px 0; color: #fff; text-transform: uppercase; text-align: center; font-size: 14px; font-weight: bold; width: 102px; overflow: hidden; margin-left: 10px; }
nav a:hover { color: #ccc; }
nav a.home { background: url(skin/nav_home.png) no-repeat left top; }
nav a.product { background: url(skin/nav_product.png) no-repeat left top; }
nav a.service { background: url(skin/nav_ref.png) no-repeat left top; }
nav a.contact { background: url(skin/nav_contact.png) no-repeat left top; }

.top { padding-left: 20px; }
.top a { float: left; display: block; padding: 6px 10px 0 10px; color: #fff; text-align: center; font-size: 12px; font-weight: bold; }
.top a:hover { text-decoration: underline !important; }

.active-nav { position: absolute; top: 136px; margin-left: 560px; }
.active-nav a { float: left; display: block; width: 102px; overflow: hidden; margin-left: 10px; height: 18px; text-indent: -5000px; visibility: hidden; }
.active-nav a.home { background: url(skin/nav_home_on.png) no-repeat left top; }
.active-nav a.product { background: url(skin/nav_product_on.png) no-repeat left top; }
.active-nav a.service { background: url(skin/nav_ref_on.png) no-repeat left top; }
.active-nav a.contact { background: url(skin/nav_contact_on.png) no-repeat left top; }
.active-nav .visible { visibility: visible; }

header .line { clear: both; margin-top: 3px; }
header .line .top { background: url(skin/subnav_bg_top.png) no-repeat #999; height: 28px; }
header .line .bottom { background: url(skin/subnav_bg_bot.png) no-repeat #fff; height: 16px; width: 350px; font-size: 10px; color: #c5c5c5; padding-left: 30px; }

.subnav { background: #fff; display: none; }
.subnav .subproduct { padding: 20px 30px; text-align: center; }
.subnav .subservice { padding: 20px 30px; text-align: center; }
.subnav .subhome { padding: 20px 30px; text-align: center; }

.subnav .colL { width: 430px; border-right: 1px dotted #99cc00; padding-right: 50px; float: left;  }
.subnav .colL p { margin-bottom: 40px; }
.subnav .colR { width: 430px; float: right;  }

.subnav h2 { font-size: 18px; text-transform: none; text-align: left; margin-top: 20px; vertical-align: top; line-height: 20px; }
.subnav .subproduct i.icon-3x { color: #99cc00; }
.subnav .subservice i.icon-3x { color: #99cc00; }
.subnav .btn-info { background: #99cc00; }
.subnav p { font-size: 12px; margin: 0; }

.subnav h3 { font-size: 18px; text-transform: none; text-align: left; margin-top: 20px; color: #008ebf; }
.subnav h4 { font-size: 14px; text-transform: none; text-align: left; margin-bottom: 5px; padding-left: 20px; }

.main { clear: both; min-height: 400px; width: 1008px; padding: 10px 0; font-size: 12px; }
.main.white { background: #fff; padding: 40px 40px; width: 928px; }

aside { clear: both; width: 1000px; font-size: 12px; background: #ccc; }
aside a { display: block; float: left; margin: 0 10px; }
aside a:hover { color: #fff; }

aside .top p { font-size: 13px; }
aside .top p strong { font-size: 13px; color: #683B08; }

footer { clear: both; background: #ccc; padding: 6px 0; text-align: left; color: #e7e7e7; font-size: 11px; margin-bottom: 30px; text-align: center; }
footer a { color: #fff; }

div.expandable p { font-size: 11px; line-height: 12px; margin-bottom: 0; }

/* text */
h2 { font-family: 'PTSansBold'; text-transform: uppercase; margin: 10px 0; font-size: 16px; color: #99cc00; }
h3 { text-transform: uppercase; margin: 10px 0; font-size: 13px; color: #333; }
h4 { font-size: 14px; }
h5 { font-size: 12px; font-weight: normal; }
p { margin-bottom: 20px; }

h4 strong { font-size: 20px; }

ul.list { list-style: square; }
ul.list li { padding-left: 0px; margin-left: 25px; line-height: 14px; padding: 3px 0; }

.btn { font-family: 'PTSansBold'; font-size: 14px; }

/* alert */
.notice { background: #69bc4c; font-family: 'Arial Narrow'; color: #fff; font-size: 14px; padding: 5px 10px; margin: 10px 0; }

/* wysiwyg */
.wysiwyg h3 { text-transform: none; font-family: 'PTSansBold'; margin-top: 30px; font-size: 14px; }
.wysiwyg ul { list-style: square; }
.wysiwyg ul li { padding-left: 0px; margin-left: 25px; line-height: 14px; padding: 3px 0; }

/* home */
.home-box { margin-top: 20px; }
.boxes { margin: 20px 0 0 0; }
.boxes .well { background: #ddd; float: left; margin-left: 20px; width: 272px; padding-bottom: 5px; height: 370px; }
.boxes .first { margin-left: 0px; }
.boxes h2 { color: #333; font-size: 20px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #eee; }
.boxes .intro { font-family: 'PTSansBold'; text-align: center; line-height: 16px; font-size: 14px; margin-bottom: 5px }
.boxes .btn-danger { background: #cf0066; }
.boxes .cols { margin-left: -15px; width: 300px; }
.boxes .col { width: 145px; }
.boxes .col h4 { font-family: 'PTSansBold'; color: #fff; font-size: 16px; text-align: center; }
.boxes .col h5 { color: #fff; font-size: 10px; margin: 5px 0; text-align: center; }
.boxes .col a { display: block; margin: 10px 0; }
.boxes .service h4 { font-family: 'PTSansBold'; color: #fff; font-size: 16px; margin-top: 8px; line-height: 18px; }
.boxes .service h5 { font-size: 12px; margin: 0; padding-left: 20px; line-height: 14px; }
.boxes .service .nav { margin-bottom: 5px; }
.boxes .service .nav-tabs a { padding: 8px 8px 4px 8px; line-height: 12px; }

#carousel { width: 740px; height: 358px; float: left; }


.login { background: #ddd; float: right; width: 220px; height: 320px; margin-bottom: 0px; }
.login h3 { font-size: 22px; padding: 10px 0 0 64px }

.login .connect { background: url(skin/user_blue.png) no-repeat; }
.login .connect h3 { margin-bottom: 3px; }
.login .connect h4 { font-size: 11px; text-align: right; margin-bottom: 5px; padding-right: 5px; }
.login .connect .input-prepend { padding-left: 10px; }
.login .connect input { height: 20px; width: 170px; }

.login .register { background: url(skin/user_blue_add.png) no-repeat; }
.login .register h3 { margin-bottom: 3px; }
.login .register h4 { font-size: 11px; text-align: right; margin-bottom: 5px; padding-right: 5px; }
.login .register .btn-primary { background: #99cc00 }

.login h5 { font-family: 'PTSansBold'; color: #fff; font-size: 22px; margin-top: 20px; }

.login-price .well { text-align: center; height: 180px; }
.login-price .btn-large { margin-top: 30px; }

.partners h4 { font-family: 'PTSansBold'; background: #ddd !important; padding: 10px 10px 5px 10px; width: 182px; margin-left: 400px; margin-bottom: 0; text-align: center; }
.partners .well { background: #fff; text-align: center; }


/* product */
.product-logo { float: left; width: 300px; height: 170px; margin: 0 40px 40px 0; }
.product-logo .bg { position: absolute; margin: 10px 0 0 70px;}

.video { float: left; width: 850px; height: 400px; margin: 0 40px 40px 0; }
.video i { font-size: 20em; color: #fff; position: absolute; padding: 85px 320px; }
.video i:hover { color: #ccc; }
.video .bg { opacity: 0.3; position: absolute; margin: 60px 0 0 270px;}

.product-page .intro { font-family: 'PTSansBold'; font-size: 14px; margin-top: 20px; }
.product-page .intro .btn-info { float: right; padding: 10px 20px }
.product-page #similar { text-align: center; }
.product-page .price-content label { text-align: right; font-size: 14px; float: left; width: 400px; padding: 5px 10px; }
.product-page .price-content span { font-size: 18px; display: block; padding-top: 10px; }
.product-page .price-content select { width: 100px; float: left; }
.product-page .price-content .row { margin-bottom: 5px; clear: both; }
.product-page .price-content .price-image { float: left; width: 260px; }
.product-page .price-content .price-form { float: left; width: 660px; }
.product-page .price-content em { float: left; display: block; font-size: 12px; padding: 5px 10px; }
.product-page .price-content small { font-size: 11px; padding: 20px 0; display: block; }
.product-page .price-content .tarif label { font-size: 22px; }
.product-page .price-content .buy { margin: 15px 0; }
.product-page .price-content .buy button { margin-left: 420px; }
.product-page i.icon-plus { margin-left: 140px; font-size: 2em; color: #ccc; }
.price-info { margin-top: 40px; }
.price-info h4 { line-height: 20px; margin-bottom: 10px; }

.product-desc-page img { margin-right: 40px; }
.product-desc-page h2 { color: #008ebf; font-size: 28px; }
.product-desc-page h3 { color: #ff6c00; font-size: 20px; margin: 45px 0 20px 0; }
.product-desc-page ul li { margin-bottom: 10px; font-size: 16px; }
.product-desc-page ul li i { color: #99cc00; }
.product-desc-page p { font-size: 14px; line-height: 20px; }
.product-desc-page p strong { color: #99cc00;  }
.product-desc-page .well { padding-bottom: 5px; }
.product-desc-page .btn-info { float: right; padding: 15px 30px; background: #99cc00; text-transform: uppercase; }

/* contact */
.contact-page .contact-content { background: url(skin/contact_bg.png) no-repeat #fff !important; min-height: 700px; padding-top: 20px; }
.contact-page .contact-info { float: left; margin-top: 40px; margin-left: 150px; width: 235px; }
.contact-page .contact-form { float: left; margin-top: 40px; width: 400px; }
.contact-page .contact-form input, .contact-page .contact-form textarea, .contact-page .contact-form select { width: 260px; }
.contact-page .contact-form textarea { height: 140px; }

/* service */
.service-page h2 { font-size: 30px; }
.service-page .page-nav { float: right; }
.service-page .page-nav li { display: inline-block; padding: 5px; }

/* faq */
.faq-page h2 { font-size: 30px; }
.faq-page .faq { padding-top: 20px; }
.faq-page h3 { font-size: 20px; color: #008ebf; }
.faq-page li a { font-size: 16px; color: #ff6c00; }

.wysiwyg p { font-size: 14px; }

#account .row { margin-bottom: 10px; }
#account .span2 { text-align: right; font-size: 14px }
#account .span7 { font-weight: bold; font-size: 14px }

#license .use { position: absolute; margin-left: 700px; }

.basket .well {  }
.basket .well p { float: left; }
.basket .action { text-align: right; }
.basket .table tr td { font-size: 14px; }
.basket .table tfoot tr td { border-top: 1px solid #ccc; }

.invoice { font-size: 14px; line-height: 18px; }
.invoice .table tr th { background: #eee; }