/* structure */
#wrapper { margin: 0 auto; width: 100%; }

.fixed { position: fixed; width: 100%; z-index: 500; }

header { height: 56px; padding-top: 5px; background: #E7E7E7;  }
header h1 a { text-indent: -5000px; width: 410px; height: 50px; display: block; float: left; margin-left: 10px; }
header h1 { margin: 0 !important; font-size: 1px; line-height: 0; }
header span.baseline { display: block; font-size: 12px; color: #999; text-align: right; width: 368px; }
header .navigator { display: block; text-align: right; padding: 5px 25px 0 0; color: #000; font-size: 12px; float: right; }

nav { clear: both; font: 14px/16px 'PTSansNarrowRegular', Arial, sans-serif; background: #999; }
nav a { float: left; display: block; padding: 8px 10px 0 8px; color: #fff; text-transform: uppercase;  font-weight: normal; height: 20px; }
nav a:hover, nav a.active { background-color: #C06; color: #fff; text-decoration: none; }
nav a.home { background-color: #9C0;  }
nav a i { margin-top: -1px !important; }

.main { clear: both; min-height: 400px; padding: 10px; font-size: 12px; background: #f9f9f9; padding-top: 100px; }

aside { clear: both; width: 1000px; font-size: 12px; background: #ccc; }
aside a { display: block; margin: 0 10px; }
aside a:hover { color: #fff; }

aside .top p { font-size: 13px; }
aside .top p strong { font-size: 13px; color: #683B08; }

footer { clear: both; background: #ccc; padding: 6px 10px; text-align: left; color: #e7e7e7; font-size: 11px; margin-bottom: 30px; }
footer a { color: #e7e7e7; }

div.expandable p { font-size: 11px; line-height: 12px; margin-bottom: 0; }

/* text */
h1 { text-transform: uppercase; margin: 10px 0; font-size: 18px; color: black;}
h2 { text-transform: uppercase; margin: 10px 0; font-size: 16px; color: #99cc00; }
h3 { margin: 5px 0 10px 0; font-size: 14px; color: #333; font-family: 'PTSansBold', sans-serif; font-weight: normal }
h4 { font-size: 14px; line-height: 20px; font-family: 'PTSansBold', sans-serif; font-weight: normal }
h5 { font-size: 12px; font-weight: normal; }
p { margin-bottom: 20px; }

h4 strong { font-size: 20px; }

/* form */
form {  }
/*form div { padding: 5px 0; }*/
form fieldset { background: #f2efe9; border-top: 1px solid #dedad3; padding: 5px; }
form fieldset.odd { background: #e6e3dd; border-top: 1px solid #dbd7cf; padding: 5px; }
form input[type=text], form textarea, form select { border: 1px solid #ccc; font-size: 11px; padding: 3px 2px; background: #fff; font-family: 'PTSansRegular', sans-serif; margin: 0; }
form select { height: 25px;}
form input:focus { border: 1px solid #99cc00; outline: none; }
form textarea:focus { border: 1px solid #99cc00; outline: none; }
form label { }
form fieldset legend { font-size: 22px; font-weight: bold; color: #99cc00 }
form .actions { padding: 0; text-align: right; }
form ul li { color: #cc0000; font-size: 11px; }

.row { padding: 0 0 5px 0; clear: both; }
.row2 { padding: 0 0 5px 0; margin-bottom: 5px; clear: both; border-bottom: 1px dotted #ccc; }
label.lbl { font-size: 11px; float: left; margin-top: 8px; width: 180px; text-align: right; padding-right: 5px; }
label.lbl2 { font-size: 12px; float: left; font-weight: bold; margin-top: 0; width: 500px; }
label.lbl3 { font-size: 12px; float: left; font-weight: bold; margin-top: 0; width: 280px; }
label.nomProjet { font-size: 12px; font-weight: bold; margin-top: 0; width: 280px; }
.help { font-size: 11px; color: #666; clear: both; line-height: 14px; }

input.large { width: 500px; }
input.medium { width: 200px; }
input.small { width: 80px; }
select.medium { width: 100px; }

/* alert */
.notice { background: #69bc4c; font-family: 'Arial Narrow'; color: #fff; font-size: 14px; padding: 5px 10px; margin: 10px 0; }

table tr td { padding: 5px; }

.table { width: 100%; }
.table tr td, .table tr th { border-bottom: 1px dotted #ccc; padding: 5px; font-size: 12px; }
.table tr th { background: #fff; text-align: left; }

.table2 { width: auto; }
.table2 tr td, .table2 tr th { padding: 2px; font-size: 12px; border: 0; font-weight: normal; }
.table2 tr th { text-align: left; background: none; }

.action-input { padding: 0; }
.action-input textarea { width: 465px; height: 120px; font-size: 11px; }
.read-more a { color: #99cc00; }

.action { text-transform: uppercase; height: 20px; text-align: right; font-size: 10px; }
.action ul { float: right; }
.action ul li { float: left; margin-left: 8px; }
.action a {  background: url(/css/skin/actions.png) no-repeat; display: block; color: #acc42a; padding-right: 10px; }
.action .accept { background-position: right 3px; color: #acc42a; }
.action .modify { background-position: right -11px; color: #e2763b; }
.action .delete { background-position: right -26px; color: #bb141a; }
.delete i { color: #cc0000; }
.duplicate i { color: #9C0; }
.add .icon-plus-sign { color: #9C0; }

.ov { padding: 10px; clear: both; width: 750px; min-height: 12px; }
.ov:hover { background: #eee; }
.ov .action { float: left; position: absolute; display: none; margin-left: 680px; margin-top: -30px; }
.ov .action a { background-color: #eee; border: 5px solid #eee; }
.ov:hover .action { display: block; }
.ov textarea { height: 100px !important; width: 740px !important; }
.ov p { margin-bottom: 0; }
.ov button { margin-top: 5px; }

.radars { margin: 0 auto 20px auto; width: auto; }
.radar { float: left; margin: 0 20px; }
.radar h4 { text-align: center; margin-bottom: 10px; }
.qeb-container { float: left; margin: 0;  text-align: center; width: 90px;  margin-top: 100px; }
.qeb { font-size: 20px; width: 50px; border: 1px solid #ccc; background: #08c; color: #fff; margin-left: 20px; }
.qeb strong, .qeb span { display: block; padding: 10px 0;  }
.qeb span { background: #08c; }
.qeb .qeb-default { background: #ff9900; }
.qeb-container em { font-size: 14px; color: #333; line-height: 14px; display: block; margin-top: 10px; font-style: normal; margin-bottom: 10px; }
.qeb-container em small { font-size: 10px; }

.criterias { float: left; margin: 0;  text-align: left; width: auto;  margin-top: 100px; }

#project-name { display: none; }
#project-name label { font-size: 14px; padding-top: 5px; display: block; }
#project-name input[type=text] { font-size: 14px; }

#folder-name { display: none; }
#folder-name label { font-size: 14px; padding-top: 5px; display: block; }
#folder-name input[type=text] { font-size: 14px; }

#importExcel { display: none;}
#importExcel label { font-size: 14px; padding-top: 5px; display: block; }
#importExcel input[type=text] { font-size: 14px; }

.help-list { display: none; margin-bottom: 20px; }
.help-show { background: #018FBD; color: #fff; display: block; float: left; padding: 3px 10px; }
.help-show:hover { color: #fff; }
.help-footer { background: #018fbd; color: #fff; }

.project-home {}
.project-home h1 { font-size: 20px; }
.project-home h1 a { color: #333; }
.project-home h2 { font-size: 16px; color: #333; }
.project-home h3 { font-size: 16px; color: #333; margin: 5px 0; }
.project-home .project-main { width: 400px; height: 385px; background: #08c; float: left; margin: 20px; padding: 20px; }
.project-home .project-default { width: 400px; height: 385px; background: #ff9900; float: left; margin: 20px; padding: 20px; }

.color-1 { background: #D6EB99; color: #333; }
.color-2 { background: #FFEB99; color: #333; }
.color-3 { background: #F0B2D1; color: #333; }
.color-4 { background: #B3DDEB; color: #333; }

.category-color-1 { background: #D6EB99; padding-top: 10px !important; padding-left: 10px !important; }
.category-color-2 { background: #FFEB99; padding-top: 10px !important; padding-left: 10px !important; }
.category-color-3 { background: #F0B2D1; padding-top: 10px !important; padding-left: 10px !important; }
.category-color-4 { background: #B3DDEB; padding-top: 10px !important; padding-left: 10px !important; }
.category-color-5 { background: #FEEAD3; padding-top: 10px !important; padding-left: 10px !important; }

.title-color-1 { color: #99cc00; margin: 10px 0 0 0; }
.title-color-2 { color: #ffcc00; margin: 10px 0 0 0; }
.title-color-3 { color: #cc0066; margin: 10px 0 0 0; }
.title-color-4 { color: #018fbd; margin: 10px 0 0 0; }
.title-color-5 { color: #fa9724; margin: 10px 0 0 0; }

.title-projectnames { float: right;margin-top: 0px; text-transform: uppercase; font-size: 11px; }

.criterias { margin-top: 40px; }

.slider { width: 65px; padding: 5px 3px; color: #fff; font-weight: bold; cursor: pointer; text-align: center; }
.grey { background: #cccccc !important; }
.red { background: #cc0066 !important; }
.green { background: #9C0 !important; }
.blue { background: #018FBD !important; }

.dialog { display: none; }
.ui-dialog { font-size: 11px !important; }
.dialog textarea { width: 760px; height: 160px; color: #08C; }
.dialog textarea.default { color: #F90; }
.dialog h2 { font-size: 12px; color: #08C; margin-top: 5px; }
.dialog h2.default { font-size: 12px; color: #F90; margin-top: 10px; }

.project-title { background: #eee; padding: 0 10px; top: 88px; width: 100% !important; }
.project-title td { font-size: 9px; line-height: 10px; }
.project-title .project-main { color: #08c; }
.project-title .project-default { color: #ff9900; }

.odd { background: #eee; }

.products-table small { font-size: 10px; font-weight: normal }

.slider-prop { width: 65px; padding: 5px 3px; color: #fff; font-weight: bold; cursor: pointer; text-align: center; float: left; }
.slider-prop-default { margin-left: 10px; }

.summuary { margin: 0 auto; width: auto; padding-left: 20px; }
.summuary h4 { margin-top: 5px; font-size: 12px; text-align: center }
.summuary h5 { margin-bottom: 5px; font-size: 10px; text-align: center; font-weight: normal; line-height: 12px; }
.summuary .red { background: #cc0000 }
.summuary .green { background: #9C0 }
.summuary .item { color: #fff; font-weight: bold; cursor: pointer; text-align: center; margin: 0 3px; padding: 5px 0; }
.summuary table tr td { padding: 10px 0; margin: 0; }
.summuary .items { width: 100%; }
.summuary .items tr td {  }

.comment-icon { width: 40px; text-align: center; }

.tooltip ul li { list-style: square; color: #fff; margin-left: 20px; font-size:11px; line-height: 12px; margin-top: 5px; }

.projects td { font-size: 14px !important; line-height: 18px; }
.projects .indent { padding-left: 20px; }
.projects .bigIndent { padding-left: 40px; }

.suiviIcpe td { font-size: 14px !important; line-height: 18px; }
.suiviIcpe .indent { padding-left: 20px; }
.suiviIcpe .bigIndent { padding-left: 40px; }