header h1 a { background: url(skin/artoprod_logo.png) no-repeat; }

.users input[type=text] { width: 120px; }

.scenario-table { width: auto; border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */ }
.scenario-table .td-description { width : 80px;}
.scenario-table tr td { border: 1px solid black; }
.scenario-table .tr-clone { display: none; }

.evaluationICPE-table { width: 100%; border: none;}
.evaluationICPE-table tr td {height: 50%;}
.evaluationICPE-table .tr-clone { display: none; }

.activites-table { width: auto; border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */ }
.activites-table tr td { border: 1px solid black; }
.activites-table .tr-clone { display: none; }

.graphes-table { width: auto; border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */ }
.graphes-table .tr-clone { display: none; }

.blanc {color:white;}

.rank-acceptable, .rank-nonacceptable, .rank-clean { display: block; color: #fff; font-weight: bold; padding: 10px; }
.rank-nonacceptable { background: #CD0067; }
.rank-acceptable { background: #99CC00; }
.rank-clean { background: #D3FD56; }

.hidden { display: none; }

.title { font-size: 12px; font-weight: bold; margin-top: 0; width: 500px; }

ul.selectOpen li {
  display: block;
}
ul.selectReplacement li.selected {
  color: #fff;
  display: block;
}
ul.selectOpen li.selected {
  background: #9e0000;
  display: block;
}
ul.selectOpen li:hover,
ul.selectOpen li.selected:hover {
  background: #9e0000;
  color: #fff;
}

.hbig { font-size: 30px; }


.seuilAdmin.D { color: #f79646; }
.seuilAdmin.DC { color: #f79646; }
.seuilAdmin.E { color: #f79646; }
.seuilAdmin.A { color: #ff0000; }
.seuilAdmin.AS { color: #ff0000; }
.seuilAdmin.NonClasse { color: #008000; }

.seuilReel.D { color: #f79646; }
.seuilReel.DC { color: #f79646; }
.seuilReel.E { color: #f79646; }
.seuilReel.A { color: #ff0000; }
.seuilReel.AS { color: #ff0000; }
.seuilReel.NonClasse { color: #008000; }


