{% extends '::ping_base.html.twig' %}


{% block body %}

<script>
     /*
     fonction de jqury accordion et tabs
      */
                $(function() {
                var active = $( "#accordion" ).accordion( "option", "active" );
		$("#accordion").accordion({
			collapsible: true,
                        autoHeight: false,
                                            
                        
		});
                $("#accordion").width("70%");
                               });
                               	$(function() {
		// run the currently selected effect
		function runEffect1() {
			// get effect type from 
			var Effect = "fold";

			// most effect types need no options passed by default
			var options = {};
			
			// run the effect
			$( "#effect1" ).show( Effect, options, 500 );
		};
                function runEffect2() {
			// get effect type from 
			var Effect = "fold";

			// most effect types need no options passed by default
			var options = {};
			
			// run the effect
			$( "#effect2" ).show( Effect, options, 500 );
		};
                function runEffect3() {
			// get effect type from 
			var Effect = "fold";

			// most effect types need no options passed by default
			var options = {};
			
			// run the effect
			$( "#effect3" ).show( Effect, options, 500 );
		};
                function runEffect4() {
			// get effect type from 
			var Effect = "fold";

			// most effect types need no options passed by default
			var options = {};
			
			// run the effect
			$( "#effect4" ).show( Effect, options, 500 );
		};
                function runEffect5() {
			// get effect type from 
			var Effect = "fold";

			// most effect types need no options passed by default
			var options = {};
			
			// run the effect
			$( "#effect5" ).show( Effect, options, 500 );
		};
                function runEffect6() {
			// get effect type from 
			var Effect = "fold";

			// most effect types need no options passed by default
			var options = {};
			
			// run the effect
			$( "#effect6" ).show( Effect, options, 500 );
		};
                function runEffect7() {
			// get effect type from 
			var Effect = "fold";

			// most effect types need no options passed by default
			var options = {};
			
			// run the effect
			$( "#effect7" ).show( Effect, options, 500 );
		};
                

		//callback function to bring a hidden box back
		function callback1() {
			setTimeout(function() {
				$( "#effect1:visible" ).removeAttr( "style" ).fadeOut();
			}, 500 );
		};
                function callback2() {
			setTimeout(function() {
				$( "#effect2:visible" ).removeAttr( "style" ).fadeOut();
			}, 500 );
		};
                function callback3() {
			setTimeout(function() {
				$( "#effect3:visible" ).removeAttr( "style" ).fadeOut();
			}, 500 );
		};
                function callback4() {
			setTimeout(function() {
				$( "#effect4:visible" ).removeAttr( "style" ).fadeOut();
			}, 500 );
		};
                function callback5() {
			setTimeout(function() {
				$( "#effect5:visible" ).removeAttr( "style" ).fadeOut();
			}, 500 );
		};
                function callback6() {
			setTimeout(function() {
				$( "#effect6:visible" ).removeAttr( "style" ).fadeOut();
			}, 500 );
		};
                function callback7() {
			setTimeout(function() {
				$( "#effect7:visible" ).removeAttr( "style" ).fadeOut();
			}, 500 );
		};

		// set effect from select menu value
		
                $( "#button1" ).click(function() {
			runEffect1();
			return false;
		});
                $( "#button2" ).click(function() {
			runEffect2();
			return false;
		});
                $( "#button3" ).click(function() {
			runEffect3();
			return false;
		});
                $( "#button4" ).click(function() {
			runEffect4();
			return false;
		});
                $( "#button5" ).click(function() {
			runEffect5();
			return false;
		});
                $( "#button6" ).click(function() {
			runEffect6();
			return false;
		});
                $( "#button7" ).click(function() {
			runEffect7();
			return false;
		});
                 $( "#close1" ).click(function() {
			callback1();
			return false;
		});
                 $( "#close2" ).click(function() {
			callback2();
			return false;
		});
                 $( "#close3" ).click(function() {
			callback3();
			return false;
		});
                 $( "#close4" ).click(function() {
			callback4();
			return false;
		});
                 $( "#close5" ).click(function() {
			callback5();
			return false;
		});
                 $( "#close6" ).click(function() {
			callback6();
			return false;
		});
                 $( "#close7" ).click(function() {
			callback7();
			return false;
		});

		$( "#effect1" ).hide();
                $( "#effect2" ).hide();
                $( "#effect3" ).hide();
                $( "#effect4" ).hide();
                $( "#effect5" ).hide();
                $( "#effect6" ).hide();
                $( "#effect7" ).hide();
	});
                                               /*
             function de limitation d'entrer dans le champ
              */
                function  onlyNum()
                                {
                                    if(!((event.keyCode>=48&&event.keyCode<=57)||(event.keyCode>=96&&event.keyCode<=105)||(event.keyCode==9)||(event.keyCode==8)))
                                    event.returnValue=false;
                                }
         function submit()
         {
          document.getElementById("composition").submit()
            }
            
</script>
<section class="main">
    <form method="post" action="{{ path('ping_composition_create1') }}" id="composition">
    <table style="width:90%;" >
    <tr>
        <th rowspan="20" style="width:30%;">
        <div id="accordion">
            <h3><a href="#">FICHE PROJET</a></h3>
           <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-s"></span></td>
                                        <td  align="right"><a href="{{ path('ping_composition') }}"><h3>COMPOSITION</h3></a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_fiche_descriptive') }}">FICHE DESCRIPTIVE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                         <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_contexte') }}">CONTEXTE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">URBAINE</a></h3>
            <div>
                <ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_voierie') }}">Voierie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_luminaire') }}">Luminaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_reseau') }}">Réseau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_terrassement') }}">Terrassement</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_vegetation') }}">Végétation</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                       
       		</ul>
            </div>
            <h3><a href="#">LOGEMENT</a></h3>
            <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison') }}">MAISON</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_immeuble') }}">IMMEUBLE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">EQUIPEMENT</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_eaux') }}">Gestion des eaux</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_dechets') }}">Gestion des déchets</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>
            <h3><a href="#">BATIMENT COLLECTIF1</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gymnase') }}">Gymnase</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_creche') }}">Crèche</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_ecole_primaire') }}">École primaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_college') }}">Collège</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF2</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_lycee') }}">Lycée</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bureau') }}">Bureau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_commerces') }}">Commerces</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_centre_commerciales') }}">Centre commerciales</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
  <h3><a href="#">BATIMENT COLLECTIF3</a></h3>
            <div>
                <ul>
                       <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_cinema') }}">Cinéma</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bibliotheque') }}">Bibliothèque</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_hopital') }}">Hôpital</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_local_de_recyclage') }}">Local de recyclage</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF4</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_salle_polyvalente') }}">Salle polyvalente</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison_retraite') }}">Maison retraite</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_buanderie') }}">Buanderie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_parking') }}">Parking</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
        </div>
        </th>    
                <!--------------------------------------------------------------------------------------------
                Title:Composition de l’équipe projet
                Collectivité délégante
                Maitrise d’ouvrage urbaine
                Maitrise d’œuvre
                Bureau d’etudes voirie et reseaux
                Bureau d’etudes hydraulique
                OPC
                Assistant maitrise d’ouvrage energie/thermie
                ---------------------------------------------------------------------------------------------->
                            
                <tr>
                     <td><a href="#" id="button1" class="ui-state-default ui-corner-all">collectivité</a></td>
                     <td><a href="#" id="button2" class="ui-state-default ui-corner-all">MO1</a></td>
                     <td><a href="#" id="button3" class="ui-state-default ui-corner-all">Maitrised'œuvre</a></td>
                     <td><a href="#" id="button4" class="ui-state-default ui-corner-all">Bureaud'études1</a></td>
                     <td><a href="#" id="button5" class="ui-state-default ui-corner-all">Bureaud'études2</a></td>
                     <td><a href="#" id="button6" class="ui-state-default ui-corner-all">OPC</a></td>
                     <td><a href="#" id="button7" class="ui-state-default ui-corner-all">MO2</a></td>
                </tr>
                <tr>
                <div id="effect1" class="ui-widget-content ui-corner-all">
                 <h3 class="ui-widget-header ui-corner-all">collectivité</h3>
                 <ul><br>
                     
                     <li>&nbsp; &nbsp;&nbsp;&nbsp;Nom:<input type="text" style="width:15em; " name="col_nom"></li><br>
                     <li>Prenom:<input type="text" style="width:15em; " name="col_prenom"></li><br>
                     <li>Address:<input type="text" style="width:15em; " name="col_add"></li><br>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail:<input type="text" style="width:15em; " name="col_mail"></li><br>
                     <li><input type="button" value="submit" class="button" id="close1" onclick="submit()"></li>
                 
                 </ul>   
                </div>
               </tr>
               <tr>
                <div id="effect2" class="ui-widget-content ui-corner-all">
                 <h3 class="ui-widget-header ui-corner-all">urbaine</h3>
                 <ul><br>
                     
                     <li>&nbsp; &nbsp;&nbsp;&nbsp;Nom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Prenom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Address:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li><input type="button" value="submit"  class="button" id="close2"></li>
                 
                 </ul>   
                </div>
               </tr>
               <tr>
                <div id="effect3" class="ui-widget-content ui-corner-all">
                 <h3 class="ui-widget-header ui-corner-all">Maitrised'œuvre</h3>
                 <ul><br>
                     
                     <li>&nbsp; &nbsp;&nbsp;&nbsp;Nom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Prenom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Address:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li><input type="button" value="submit" class="button" id="close3"></li>
                 
                 </ul>   
                </div>
               </tr>
               <tr>
                <div id="effect4" class="ui-widget-content ui-corner-all">
                 <h3 class="ui-widget-header ui-corner-all">voirie et réseaux</h3>
                 <ul><br>
                     
                     <li>&nbsp; &nbsp;&nbsp;&nbsp;Nom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Prenom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Address:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li><input type="button" value="submit"  class="button" id="close4"></li>
                 
                 </ul>   
                </div>
               </tr>
               <tr>
                <div id="effect5" class="ui-widget-content ui-corner-all">
                 <h3 class="ui-widget-header ui-corner-all">hydraulique</h3>
                 <ul><br>
                     
                     <li>&nbsp; &nbsp;&nbsp;&nbsp;Nom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Prenom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Address:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li><input type="button" value="submit"  class="button" id="close5"></li>
                 
                 </ul>   
                </div>
               </tr>
                <tr>
                <div id="effect6" class="ui-widget-content ui-corner-all">
                 <h3 class="ui-widget-header ui-corner-all">OPC</h3>
                 <ul><br>
                     
                     <li>&nbsp; &nbsp;&nbsp;&nbsp;Nom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Prenom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Address:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li><input type="button" value="submit"  class="button" id="close6"></li>
                 
                 </ul>   
                </div>
               </tr>
               <tr>
                <div id="effect7" class="ui-widget-content ui-corner-all">
                 <h3 class="ui-widget-header ui-corner-all">énergie et thermie</h3>
                 <ul><br>
                     
                     <li>&nbsp; &nbsp;&nbsp;&nbsp;Nom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Prenom:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>Address:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mail:<input type="text" style="width:15em; " name="NBRE_OCCUP"></li><br>
                     <li><input type="button" value="submit" class="button" id="close7"></li>
                 
                 </ul>   
                </div>
               </tr>
               
         </table>
    </form>
</section>

{% endblock %}

