{% extends '::ping_base.html.twig' %}


{% block body %}

<script>
     /*
     fonction de jqury accordion et tabs
      */
                $(function() {
                var active = $( "#accordion" ).accordion( "option", "active" );
		$("#accordion").accordion({
			collapsible: true,
                        active: 0,
                        autoHeight: false,
		});
                $("#accordion").width("18em");
                
		$( "#tabs" ).tabs();
                $("#tabs").width("80em");
                               });
                                                                      /*
             function de limitation d'entrer dans le champ
              */
                function  onlyNum()
                                {
                                    if(!((event.keyCode>=48&&event.keyCode<=57)||(event.keyCode>=96&&event.keyCode<=105)||(event.keyCode==9)||(event.keyCode==8)||(event.keyCode==190)))
                                    event.returnValue=false;
                                }
                                
                function addId()
                                {
                                    
                                }
</script>
<section class="main">
    <form method="post" action="{{ path('ping_contexte') }}">
    <table  >
    <tr>
        <th rowspan="20" >
        <div id="accordion">
            <h3><a href="#">FICHE PROJET</a></h3>
           <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_composition') }}">COMPOSITION</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_fiche_descriptive') }}">FICHE DESCRIPTIVE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-s"></span></td>
                                        <td  align="right"><a href="{{ path('ping_contexte') }}"><h3>CONTEXTE</h3></a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">URBAINE</a></h3>
            <div>
                <ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_voierie') }}">Voierie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_luminaire') }}">Luminaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_reseau') }}">Réseau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_terrassement') }}">Terrassement</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_vegetation') }}">Végétation</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
       		</ul>
            </div>
            <h3><a href="#">LOGEMENT</a></h3>
            <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison') }}">MAISON</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_immeuble') }}">IMMEUBLE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
       <h3><a href="#">EQUIPEMENT</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_eaux') }}">Gestion des eaux</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_dechets') }}">Gestion des déchets</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>
       <h3><a href="#">BATIMENT COLLECTIF1</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gymnase') }}">Gymnase</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_creche') }}">Crèche</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_ecole_primaire') }}">École primaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_college') }}">Collège</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF2</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_lycee') }}">Lycée</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bureau') }}">Bureau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_commerces') }}">Commerces</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_centre_commerciales') }}">Centre commerciales</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
  <h3><a href="#">BATIMENT COLLECTIF3</a></h3>
            <div>
                <ul>
                       <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_cinema') }}">Cinéma</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bibliotheque') }}">Bibliothèque</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_hopital') }}">Hôpital</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_local_de_recyclage') }}">Local de recyclage</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF4</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_salle_polyvalente') }}">Salle polyvalente</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison_retraite') }}">Maison retraite</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_buanderie') }}">Buanderie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_parking') }}">Parking</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
        </div>
        </th>     
                <!--------------------------------------------------------------------------------------------
              
                ---------------------------------------------------------------------------------------------->
                                        <tr>
                                               <td align="center" >
                                                 <div id="tabs" >
                                                 <ul>
                                                         <li><a href="#tabs-1">Contexte à -500 m</a></li>
                                                         <li><a href="#tabs-2">Contexte de 500 m à 1km </a></li>
                                                 </ul>
                                                 <div id="tabs-1">
                                                         <fieldset style="width:78em; ">
                                                             <div align="left">
                                                             <table name="">
                                                                   <tr><td>
                                                                         Infrastructures de déplacement
                                                                     </td>
                                                                     <td>
                                                                         <select class="" style="width:12em; height: 28px;" name="MAT" onchange="affId()">
                                                                         <option value="">- Choisir une infrastructure -</option>
                                                                         <option value="">autoroute</option>
                                                                         <option value="">departementale</option>
                                                                         <option value="">gare ferroviere</option>
                                                                         <option value="">gare routiere</option>
                                                                         <option value="">aeroport</option>
                                                                          </select>
                                                                     </td>
                                                                     <td>
                                                                     </td>
                                                                 </tr>
                                                                 <tr><td>
                                                                        Transports en commun
                                                                     </td>
                                                                     <td>
                                                                      <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un transport -</option>
                                                                         <option value="">bus</option>
                                                                         <option value="">metro</option>
                                                                         <option value="">tramway</option>
                                                                         
                                                                          </select>
                                                                     </td>
                                                                 </tr>
                                                                 <tr><td>
                                                                         Sécurité
                                                                     </td>
                                                                     <td>
                                                                          <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un type de Sécurité -</option>
                                                                         <option value="">police</option>
                                                                         <option value="">gendarmerie</option>
                                                                         <option value="">pompier SDIS</option>
                                                                          </select>
                                                                     </td>
                                                                 </tr>
                                                                 <tr><td>
                                                                        Education
                                                                     </td>
                                                                     <td>
                                                                      <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir une bâtiment educatif -</option>
                                                                         <option value="">creche</option>
                                                                         <option value="">ecole primaire</option>
                                                                         <option value="">college</option>
                                                                         <option value="">lycée</option>
                                                                         <option value="">université</option>
                                                                          </select>
                                                                     </td>
                                                                 </tr>
                                                                   <tr><td>
                                                                         Infrastructures
                                                                     </td>
                                                                     <td>
                                                                          <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir une infrastructure -</option>
                                                                         <option value="">hopitale</option>
                                                                         <option value="">commerce de proximité</option>
                                                                         <option value="">centre commercial</option>
                                                                         <option value="">bibliotheque</option>
                                                                         <option value="">cinéma</option>
                                                                         <option value="">chaufferie</option>
                                                                         <option value="">complexe sportif</option>
                                                                         <option value="">centre des loisirs</option>
                                                                         <option value="">decheterie</option>
                                                                         <option value="">banque</option>
                                                                        
                                                                          </select>
                                                                     </td>
                                                                 </tr>
                                                                 <tr><td>
                                                                        Patrimoine historique et touristique
                                                                     </td>
                                                                     <td>
                                                                      <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un type de patrimoire -</option>
                                                                         <option value="">camping</option>
                                                                         <option value="">musee</option>
                                                                          </select>
                                                                     </td>
                                                                 </tr>
                                                                   <tr><td>
                                                                         Biodiversité
                                                                     </td>
                                                                     <td>
                                                                        <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir une infrastructure -</option>
                                                                         <option value="">arbre centenaire</option>
                                                                         <option value="">lac</option>
                                                                         <option value="">parc naturel</option>
                                                                         <option value="">surface agricole</option>
                                                                         
                                                                          </select>  
                                                                     </td>
                                                                 </tr>
                                                                 <tr><td>
                                                                     Autre
                                                                     </td>
                                                                     <td><input type="text" style="width:12em; height: 28px;">
                                                                     </td>
                                                                 </tr>
                                                                 <tr>
                                                                     <td></td>
                                                                     <td><input type="button"  class="button" value="suivant" onclick=""/>
                                                                   </td>
                                                                     
                                                                 </tr>
                                                                     
                                                                 </table>
                                                             </div>
                                                         </fieldset>

                                                 </div>
                                                 <div id="tabs-2">
                                                      <fieldset style="width:78em; ">
                                                             <div align="left">
                                                             <table name="">
                                                                 <tr><td>Infrastructures de déplacement</td>
                                                                     <td>Transports en commun</td>
                                                                     <td>Sécurité</td>
                                                                     <td>Education</td>
                                                                     <td>Infrastructures</td>
                                                                 </tr>
                                                                 <tr>
                                                                     <td>
                                                                         <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un prenom -</option>
                                                                         {% for test in tests %}
                                                                         <option value="{{ test.id }}">{{ test.prenom }}</option>
                                                                         {% endfor %}
                                                                         </select>
                                                                     </td>
                                                                     <td>
                                                                         <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un prenom -</option>
                                                                         {% for test in tests %}
                                                                         <option value="{{ test.id }}">{{ test.prenom }}</option>
                                                                         {% endfor %}
                                                                         </select>
                                                                     </td>
                                                                     <td>
                                                                         <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un prenom -</option>
                                                                         {% for test in tests %}
                                                                         <option value="{{ test.id }}">{{ test.prenom }}</option>
                                                                         {% endfor %}
                                                                         </select>
                                                                     </td>
                                                                     <td>
                                                                         <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un prenom -</option>
                                                                         {% for test in tests %}
                                                                         <option value="{{ test.id }}">{{ test.prenom }}</option>
                                                                         {% endfor %}
                                                                         </select>
                                                                     </td>
                                                                     <td>
                                                                         <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un prenom -</option>
                                                                         {% for test in tests %}
                                                                         <option value="{{ test.id }}">{{ test.prenom }}</option>
                                                                         {% endfor %}
                                                                         </select>
                                                                     </td>
                                                                  </tr>
                                                                  <tr>
                                                                     <td>Patrimoine historique et touristique</td>
                                                                     <td>Biodiversité</td>
                                                                     <td>Autre</td>
                                                                 </tr>
                                                                 <tr>
                                                                     
                                                                     <td>
                                                                         <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un prenom -</option>
                                                                         {% for test in tests %}
                                                                         <option value="{{ test.id }}">{{ test.prenom }}</option>
                                                                         {% endfor %}
                                                                         </select>
                                                                     </td>
                                                                      <td>
                                                                         <select class="" style="width:12em; height: 28px;" name="MAT">
                                                                         <option value="">- Choisir un prenom -</option>
                                                                         {% for test in tests %}
                                                                         <option value="{{ test.id }}">{{ test.prenom }}</option>
                                                                         {% endfor %}
                                                                         </select>
                                                                     </td>
                                                                     <td>
                                                                         </td>
                                                                     <td></td>
                                                                  </tr>
                                                                 </table>
                                                             </div>
                                                         </fieldset>
                                                 </div>
                                                            </td>
                                 </tr>
                                
                            </table>
                        </div>
                        </div>

                    </td>
                    </tr>
                 
         </table>
    </form>
</section>

{% endblock %}

