{% extends '::ping_base.html.twig' %}


{% block body %}

<script>
     /*
     fonction de jqury accordion et tabs
      */
                $(function() {
                var active = $( "#accordion" ).accordion( "option", "active" );
		$("#accordion").accordion({
			collapsible: true,
                        autoHeight: false,
                                            
                        
		});
                $("#accordion").width("70%");
                               });
                                                                      /*
             function de limitation d'entrer dans le champ
              */
                function  onlyNum()
                                {
                                    if(!((event.keyCode>=48&&event.keyCode<=57)||(event.keyCode>=96&&event.keyCode<=105)||(event.keyCode==9)||(event.keyCode==8)))
                                    event.returnValue=false;
                                }
</script>
<section class="main">
    <form method="post" action="{{ path('ping_subindex') }}">
    <table style="width:90%;" >
    <tr>
        <th rowspan="20" style="width:30%;">
        <div id="accordion">
            <h3><a href="#">FICHE PROJET</a></h3>
           <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_composition') }}">COMPOSITION</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-s"></span></td>
                                        <td  align="right"><a href="{{ path('ping_fiche_descriptive') }}"><h3>FICHE DESCRIPTIVE</h3></a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                         <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_contexte') }}">CONTEXTE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">URBAINE</a></h3>
            <div>
                <ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_voierie') }}">Voierie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_luminaire') }}">Luminaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_reseau') }}">Réseau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_terrassement') }}">Terrassement</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_vegetation') }}">Végétation</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                       
       		</ul>
            </div>
            <h3><a href="#">LOGEMENT</a></h3>
            <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison') }}">MAISON</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_immeuble') }}">IMMEUBLE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">EQUIPEMENT</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_eaux') }}">Gestion des eaux</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_dechets') }}">Gestion des déchets</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>
            <h3><a href="#">BATIMENT COLLECTIF1</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gymnase') }}">Gymnase</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_creche') }}">Crèche</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_ecole_primaire') }}">École primaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_college') }}">Collège</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF2</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_lycee') }}">Lycée</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bureau') }}">Bureau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_commerces') }}">Commerces</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_centre_commerciales') }}">Centre commerciales</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
  <h3><a href="#">BATIMENT COLLECTIF3</a></h3>
            <div>
                <ul>
                       <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_cinema') }}">Cinéma</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bibliotheque') }}">Bibliothèque</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_hopital') }}">Hôpital</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_local_de_recyclage') }}">Local de recyclage</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF4</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_salle_polyvalente') }}">Salle polyvalente</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison_retraite') }}">Maison retraite</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_buanderie') }}">Buanderie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_parking') }}">Parking</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
        </div>
        </th>    
             
             
        </tr>
                
                    <!-------------------------------------------------------------------------------------------                  
                    Title:fiche descriptive
                    Nom du projet
                    Localisation
                    Nombre d'habitants
                    Nombre de logements
                    Superficie opération
                    Contexte urbain
                    ---------------------------------------------------------------------------------------------->
                    <tr>
                      <td align="center" colspan="2">
                        <h2>FICHE DESCRIPTIVE</h2>
                    </td>
                    </tr>
                    <tr>
                      <td align="left">
                        <p>Nom du projet</p></td><td><input type=text  name="NDP" >
                      </td>
                    </tr>
                    <tr>
                      <td align="left">
                        <p>Localisation</p></td><td>
                          <select class="" style="width:18em; height: 28px;" name="LCT">
                            <option value="">- Choisir une location -</option>
                             {% for Location in Locations %}
                                <option value="{{ Location.getIdPingLocation() }}">{{ Location.getDepartement()}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    </tr>
                    <tr>
                      <td align="left">
                        <p>Nombre d'habitants</p></td><td><input type="text" onkeydown="onlyNum();" name="NDH">
                    </td>
                    </tr>
                    <tr>
                      <td align="left">
                        <p>Nombre de logements</p></td><td><input type="text" onkeydown="onlyNum();" name="NDL">
                    </td>
                    </tr>
                    <tr>
                      <td align="left">
                        <p>Superficie operation</p></td><td><input type="text" name="SO">
                    </td>
                    </tr>
                    
                     
                    <tr >
                        <td></td>
                 
                        <td align="center" colspan="2"><input type="button" value="submit" class="button" onclick=""></td>
                    </tr>
         </table>
    </form>
</section>

{% endblock %}

