{% extends '::ping_base.html.twig' %}


{% block body %}

<script>
     /*
     fonction de jqury accordion et tabs
      */
                var mur_couche=1;
                var sol_couche=1;
                var platfonds_couche=1;
                var toit_couche=1;
                var fenetre_couche=1;
                $(function() {
               
                var active = $( "#accordion" ).accordion( "option", "active" );
		$("#accordion").accordion({
			collapsible: true,
                        active: 4,
                        autoHeight: false,
		});
                $("#accordion").width("18em");
                
		$( "#tabs" ).tabs();
                $("#tabs").width("80em");
                $(".addmg").live('click', function(event){
                event.preventDefault();
                var newline = $('.general').find('.tr-clone-g').clone(true);
                newline.removeClass('tr-clone-g');
                $('.general').append(newline);
                return false;
                }); 
                 $(".addmm").live('click', function(event){
                event.preventDefault();
                var newline = $('.mur').find('.tr-clone-m').clone(true);
                newline.find('.td-clone').val()+1;
                newline.removeClass('tr-clone-m');
                $('.mur').append(newline);
                return false;
                });    
                                                       /*
             function de limitation d'entrer dans le champ
              */       
                   
               });
                function  onlyNum()
                                {
                                    if(!((event.keyCode>=48&&event.keyCode<=57)||(event.keyCode>=96&&event.keyCode<=105)||(event.keyCode==9)||(event.keyCode==8)||(event.keyCode==190)))
                                    event.returnValue=false;
                                }
</script>
<section class="main">
    <form method="post" action="{{ path('ping_gymnase') }}">
    <table  >
    <tr>
        <th rowspan="20" >
        <div id="accordion">
            <h3><a href="#">FICHE PROJET</a></h3>
           <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_composition') }}">COMPOSITION</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_fiche_descriptive') }}">FICHE DESCRIPTIVE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                         <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_contexte') }}">CONTEXTE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">URBAINE</a></h3>
            <div>
                <ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_voierie') }}">Voierie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_luminaire') }}">Luminaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_reseau') }}">Réseau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_terrassement') }}">Terrassement</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_vegetation') }}">Végétation</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                       
       		</ul>
            </div>
            <h3><a href="#">LOGEMENT</a></h3>
            <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison') }}">MAISON</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_immeuble') }}">IMMEUBLE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">EQUIPEMENT</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_eaux') }}">Gestion des eaux</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_dechets') }}">Gestion des déchets</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>
            <h3><a href="#">BATIMENT COLLECTIF1</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-s"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gymnase') }}"><h3>Gymnase</h3></a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_creche') }}">Crèche</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_ecole_primaire') }}">École primaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_college') }}">Collège</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF2</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_lycee') }}">Lycée</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bureau') }}">Bureau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_commerces') }}">Commerces</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_centre_commerciales') }}">Centre commerciales</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
  <h3><a href="#">BATIMENT COLLECTIF3</a></h3>
            <div>
                <ul>
                       <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_cinema') }}">Cinéma</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bibliotheque') }}">Bibliothèque</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_hopital') }}">Hôpital</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_local_de_recyclage') }}">Local de recyclage</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF4</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_salle_polyvalente') }}">Salle polyvalente</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison_retraite') }}">Maison retraite</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_buanderie') }}">Buanderie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_parking') }}">Parking</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
        </div>
        </th>     
                <!--------------------------------------------------------------------------------------------
              
                ---------------------------------------------------------------------------------------------->
               <tr>
                      <td align="center" >
                        <div id="tabs" >
			<ul>
				<li><a href="#tabs-1">Générale</a></li>
				<li><a href="#tabs-2">Murs</a></li>
				<li><a href="#tabs-3">Sol</a></li>
                                <li><a href="#tabs-4">Plafonds</a></li>
				<li><a href="#tabs-5">Toits</a></li>
				<li><a href="#tabs-6">Fenêtre</a></li>
                                <li><a href="#tabs-7">Chauffage</a></li>
				<li><a href="#tabs-8">Eau sanitaires</a></li>
                                <li><a href="#tabs-9">Appareils ménagers</a></li>
                                
			</ul>
			<div id="tabs-1" align="left">
                      <!-------------------------------------------
                      logement
                          immeuble
                            general
                      --------------------------------------------->  
                      <table name="general"  class="general">
                        <tr>
                                    <td>Operation</td>
                                    <td>Nom</td>
                                    <td>Surface</td>
                                    <td>Nombre d'etage</td>
                                    <td>Surface exterieure</td>
                                    <td>Nombre d'heures d'utilisation</td>
                                    <td>Quantite de personne</td>
                                    <td>Ascenseur</td>
                                    </tr>
                                 <tr>
                                      <td>
                                        <a href="#" class="addmg"><img src="/css/skin/famfamfam/add.png"/></a>
                                    </td>
                                    <td>
                                        <input type="text"  style="width:5em;" name="QAT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">m2
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">m2
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">h
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                 </tr>
                                 <tr class="tr-clone-g">
                                      <td>
                                        <a href="#" class="addmg"><img src="/css/skin/famfamfam/add.png"/></a>
                                    </td>
                                    <td>
                                        <input type="text"  style="width:5em;" name="QAT">
                                    </td>
                                   <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">m2
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">m2
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">h
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                 </tr>
                        </table>
                        </div>
			<div id="tabs-2">
                            <!--------------------------------------
                             logement
                                 immeuble
                                     mur
                             -------------------------------------->
                          
                             <table name="mur"  class="mur">
                                <tr>
                                    <td>Operation</td>
                                    <td>Couche</td>
                                    <td>Surface</td>
                                    <td>Matériaux</td>
                                    <td>Type</td>
                                    <td>Lambda (w/m.k)</td>
                                    <td>Epaisseur (cm)</td>
                                    <td>Résistance de conduction (k/w)</td>
                                    <td>Résistance de convection (k/w)</td>
                                    <td>Résistance totale (k/w)</td>
                                    <td>Déperditions Murs (w)</td>
                                    
                                 </tr>
                                 <tr>
                                      <td>
                                        <a href="#" class="addmm"><img src="/css/skin/famfamfam/add.png"/></a>
                                    </td>
                                    <td >1</td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                   
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un materiel -</option>
                                            {% for Materiaux in Materiauxs %}
                                            <option value="{{ Materiaux.getIdPing_mater() }}">{{ Materiaux.getType() }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="LAM">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="EPA">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="COND">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="CONV">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="TOT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="DMUR">
                                    </td>
                                    
                                 </tr>
                                 <tr class="tr-clone-m">
                                      <td>
                                        <a href="#" class="addmm"><img src="/css/skin/famfamfam/add.png"/></a>
                                    </td>
                                    <td class="td-couche">
                                      2                                   
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                   
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un materiel -</option>
                                             {% for Materiaux in Materiauxs %}
                                            <option value="{{ Materiaux.getIdPing_mater() }}">{{ Materiaux.getType() }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="LAM">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="EPA">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="COND">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="CONV">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="TOT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="DMUR">
                                    </td>
                                    
                                 </tr>
                                 <input type="button" name="submit" value="submit" class="button" />
                                 
                            </table>
                        </div>
			<div id="tabs-3">
                        <!--------------------------------------
                             logement
                                 immeuble
                                     sol
                             -------------------------------------->
                          
                            <table name="">
                                <tr>
                                    <td>Operation</td>
                                    <td>Couche</td>
                                    <td>Surface</td>
                                    <td>Matériaux</td>
                                    <td>Type</td>
                                    <td>Lambda (w/m.k)</td>
                                    <td>Epaisseur (cm)</td>
                                    <td>Résistance de conduction (k/w)</td>
                                    <td>Résistance de convection (k/w)</td>
                                    <td>Résistance totale (k/w)</td>
                                    <td>Déperditions Murs (w)</td>
                                    
                                    
                                 </tr>
                                 <tr>
                                      <td>
                                        <a href=""><img src="/css/skin/famfamfam/add.png"/></a>
                                    </td>
                                    <td>1</td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                   
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="LAM">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="EPA">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="COND">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="CONV">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="TOT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="DMUR">
                                    </td>
                                    
                                 </tr>
                                  <input type="button" name="submit" value="submit" class="button" />
                            </table>
                        </div>
                        <div id="tabs-4">
                        <!--------------------------------------
                             logement
                                 immeuble
                                     Plafonds
                             -------------------------------------->
                         
                            <table name="" >
                                <tr>
                                    <td>Operation</td>
                                    <td>Couche</td>
                                    <td>Surface</td>
                                    <td>Matériaux</td>
                                    <td>Type</td>
                                    <td>Lambda (w/m.k)</td>
                                    <td>Epaisseur (cm)</td>
                                    <td>Résistance de conduction (k/w)</td>
                                    <td>Résistance de convection (k/w)</td>
                                    <td>Résistance totale (k/w)</td>
                                    <td>Déperditions Murs (w)</td>
                                  
                                 </tr>
                                <tr>
                                      <td>
                                        <a href=""><img src="/css/skin/famfamfam/add.png"/></a>
                                    </td>
                                    <td>1</td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                   
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="LAM">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="EPA">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="COND">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="CONV">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="TOT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="DMUR">
                                    </td>
                                    
                                 </tr>
                                  <input type="button" name="submit" value="submit" class="button" />
                            </table>
                        </div>
			<div id="tabs-5">
                        <!--------------------------------------
                             logement
                                 immeuble
                                     Toits
                             -------------------------------------->
                          
                            <table name="" >
                                <tr>
                                     
                                    <td>Operation</td>
                                    <td>Couche</td>
                                    <td>Surface</td>
                                    <td>Matériaux</td>
                                    <td>Type</td>
                                    <td>Lambda (w/m.k)</td>
                                    <td>Epaisseur (cm)</td>
                                    <td>Résistance de conduction (k/w)</td>
                                    <td>Résistance de convection (k/w)</td>
                                    <td>Résistance totale (k/w)</td>
                                    <td>Déperditions Murs (w)</td>
                                   
                                 </tr>
                                 <tr>
                                      <td>
                                        <a href=""><img src="/css/skin/famfamfam/add.png"/></a>
                                    </td>
                                    <td>1</td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="QAT">
                                    </td>
                                   
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="LAM">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="EPA">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="COND">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="CONV">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em; " name="TOT">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();" style="width:5em;" name="DMUR">
                                    </td>
                                    
                                 </tr>
                                <input type="button" name="submit" value="submit" class="button" />
                            </table>
                        </div>
			<div id="tabs-6">
                        <!--------------------------------------
                             logement
                                 immeuble
                                     Fenetres
                             -------------------------------------->
                       
                            <table name="" >
                                <tr>
                                    <td>Operation</td>
                                    <td>Fenetre</td>
                                    <td>Orientation</td>
                                    <td>Quantite</td>
                                    
                                    <td>Type de fenêtres</td>
                                    <td>Uw (W/m².K)</td>
                                    <td>Surface de vitrage</td>
                                    <td>Qté de fénétres</td>
                                    <td>Déperditions par les fenêtres</td>
                                    <td>Déperditions globales fenêtres</td>
                                    <td>Type de masque</td>
                                    
                                 </tr>
                                 <tr>
                                      <td>
                                        <a href=""><img src="/css/skin/famfamfam/add.png"/></a>
                                    </td>
                                     <td>1</td>
                                      <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    
                                    <td><input type="text"  style="width:5em;" onkeydown="onlyNum();" name="FENETRE"></td>
                                   
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="UW">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="SDV">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="QTE_F">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="DEPER_F">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="DEPER_GF">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="DMASQ">
                                    </td>
                                   
                                 </tr>
                                  <input type="button" name="submit" value="submit" class="button" />
                                 
                            </table>
                        </div>
                        <div id="tabs-7">
                        <!--------------------------------------
                             logement
                                 immeuble
                                     Chauffage
                             -------------------------------------->
                        
                            <table name="" >
                                <tr>
                                    <td>Quantite</td>
                                    <td>Type chauffage</td>
                                    <td>Terminaux de chauffage</td>
                                    <td>Conso chauffage (kWh/m²/an)</td>
                                    <td>Besoins en chauffage (kWh/m²/an)</td>
                                    <td>Rendements</td>
                                    <td>Déperdition (W)</td>
                                    <td>Puissance de chaudière nécessaire (kW)</td>
                                    <td>DJU (°C.jour)</td>
                                                                     
                                 </tr>
                                 <tr>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="UW">
                                    </td>
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="COS_CHAUF">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="BESION_CHAUF">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="RENDEM">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="DEPER">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="PIUS_CHAUD">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="DJU">
                                    </td>
                                      <input type="button" name="submit" value="submit" class="button" />
                                  </tr>
                              
                                 
                            </table>
                        </div>
			<div id="tabs-8">
                        <!--------------------------------------
                             logement
                                 immeuble
                                     Eau sanitaires
                             -------------------------------------->
                            <table name="">
                                <tr>
                                    <td><h2>Quantite</h2></td>
                                    <td><input type="text" onkeydown="onlyNum();" name="QUANTITE"></td>
                                    
                                </tr>
                            </table>
                            <table name="">
                                <tr>
                                    <td>PRODUCTION D'EAU CHAUDE SANITAIRE</td>
                                    <td>Type</td>
                                    <td>NOMBRE D'OCCUPANTS</td>
                                    <td>NOMBRE DE LITRES PAR JOUR PAR OCCUPANT (L)</td>
                                                               
                                 </tr>
                                 <tr>
                                    
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select class="" style="width:5em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un prenom -</option>
                                            {% for test in tests %}
                                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="NBRE_OCCUP">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:5em; " name="NBRE_OCCUPPJ">
                                    </td>
                                      <input type="button" name="submit" value="submit" class="button" />
                                  </tr>
                             
                                 
                            </table>
                        </div>
			<div id="tabs-9">Ns poue.</div>
                        
                        </div>

                    </td>
                    </tr>
                   
         </table>
    </form>
</section>

{% endblock %}

