{% extends '::ping_base.html.twig' %}


{% block body %}


<section class="main">
    <form method="post" action="{{ path('ping_subindex') }}">
    <table align="center"style="width:85%;" >
        <tr align="center"><td><h1>ACCUEIL</h1></td></tr>
        <tr align="center"><td><p>bla bla introduction</p></td></tr>
        <tr align="center"><td><a href="{{ path('ping') }}"><img class="" src="/images/default.png" /></a></td></tr>
        <tr><td align="right"><input type="submit" class="button" name="submit" value="frapper_moi!!"></td></tr>
              
    </table>
    </form>
</section>

{% endblock %}

