{% extends '::ping_base.html.twig' %}


{% block body %}

<script>
    /*
     fonction de jqury accordion et tabs
      */
                $(function() {
                var active = $( "#accordion" ).accordion( "option", "active" );
		$("#accordion").accordion({
			collapsible: true,
                        active: 1,
                        autoHeight: false,
		});
                $("#accordion").width("18em");
                
		$( "#tabs" ).tabs();
                $("#tabs").width("80em");
                 $(".addl").live('click', function(event){
                event.preventDefault();
                var newline = $('.luminaire').find('.tr-clone-l').clone(true);
                newline.removeClass('tr-clone-l');
                $('.luminaire').append(newline);
                return false;
                }); 
                               });
                                /*
             function de limitation d'entrer dans le champ
              */  
                function  onlyNum()
                                {
                                    if(!((event.keyCode>=48&&event.keyCode<=57)||(event.keyCode>=96&&event.keyCode<=105)||(event.keyCode==9)||(event.keyCode==8)||(event.keyCode==190)))
                                    event.returnValue=false;
                                }
</script>
<section class="main">
    <form method="post" action="{{ path('ping_luminaire') }}">
    <table  >
    <tr>
        <th rowspan="20" >
        <div id="accordion">
            <h3><a href="#">FICHE PROJET</a></h3>
           <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_composition') }}">COMPOSITION</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_fiche_descriptive') }}">FICHE DESCRIPTIVE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                         <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_contexte') }}">CONTEXTE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">URBAINE</a></h3>
            <div>
                <ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_voierie') }}">Voierie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-s"></span></td>
                                        <td  align="right"><a href="{{ path('ping_luminaire') }}"><h3>Luminaire</h3></a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_reseau') }}">Réseau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_terrassement') }}">Terrassement</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_vegetation') }}">Végétation</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
       		</ul>
            </div>
            <h3><a href="#">LOGEMENT</a></h3>
            <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison') }}">MAISON</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_immeuble') }}">IMMEUBLE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">EQUIPEMENT</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_eaux') }}">Gestion des eaux</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_dechets') }}">Gestion des déchets</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>
            <h3><a href="#">BATIMENT COLLECTIF1</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gymnase') }}">Gymnase</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_creche') }}">Crèche</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_ecole_primaire') }}">École primaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_college') }}">Collège</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF2</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_lycee') }}">Lycée</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bureau') }}">Bureau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_commerces') }}">Commerces</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_centre_commerciales') }}">Centre commerciales</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
  <h3><a href="#">BATIMENT COLLECTIF3</a></h3>
            <div>
                <ul>
                       <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_cinema') }}">Cinéma</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bibliotheque') }}">Bibliothèque</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_hopital') }}">Hôpital</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_local_de_recyclage') }}">Local de recyclage</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF4</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_salle_polyvalente') }}">Salle polyvalente</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison_retraite') }}">Maison retraite</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_buanderie') }}">Buanderie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_parking') }}">Parking</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
        </div>
        </th>     
                <!--------------------------------------------------------------------------------------------
              
                ---------------------------------------------------------------------------------------------->
               <tr>
                       <td align="center" >
                            
                            <table name="luminaire" class="luminaire">
                                <tr>
                                    <td>Opération</td>
                                    <td>Type de luminaire :</td>
                                    <td>Lamps :</td>
                                    <td>Duree du usage par jour</td>
                                    <td>Puissance</td>
                                                               
                                 </tr>
                                 <tr>
                                       
                                    <td><a href="#" class="addl"><img src="/css/skin/famfamfam/add.png"/></a> </td>
                                    
                                    <td>
                                        <select class="" style="width:15em; height: 28px;" name="MAT">
                                             <option value="">- Choisir un type -</option>
                                             <option value="">les balises ou bornes</option>
                                              <option value="">spot (encastrés au sol, au mur ou orientables)</option>
                                               <option value="">projecteurs</option>
                                                 <option value="">applique murales</option>
                                                 <option value="">guirlandes</option>
                                        </select>
                                    </td>
                                    <td>
                                         <select class="" style="width:15em; height: 28px;" name="MAT">
                                              <option value="">- Choisir un lamp -</option>
                                             <option value="">les diodes électroluminescentes (LEDs)</option>
                                              <option value="">lampes fluocompactes</option>
                                               <option value="">ampoule incandescente</option>
                                                 <option value="">ampoules halogènes</option>
                                                 <option value="">ampoules classiques</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUPPJ">m2
                                    </td>
                                    
                                  </tr>
                                     <tr class="tr-clone-l">
                                       
                                    <td><a href="#" class="addl"><img src="/css/skin/famfamfam/add.png"/></a> </td>
                                    
                                    <td>
                                        <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">- Choisir un type -</option>
                                             <option value="">les balises ou bornes</option>
                                              <option value="">spot (encastrés au sol, au mur ou orientables)</option>
                                               <option value="">projecteurs</option>
                                                 <option value="">applique murales</option>
                                                 <option value="">guirlandes</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="" style="width:15em; height: 28px;" name="MAT">
                                              <option value="">- Choisir un lamp -</option>
                                             <option value="">les diodes électroluminescentes (LEDs)</option>
                                              <option value="">lampes fluocompactes</option>
                                               <option value="">ampoule incandescente</option>
                                                 <option value="">ampoules halogènes</option>
                                                 <option value="">ampoules classiques</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUPPJ">m2
                                    </td>
                                    
                                  </tr>
                            </table>
                            <input type="button" name="submit" value="submit" class="button" />   
                    </td>
                   
                    </tr>
         </table>
    </form>
</section>

{% endblock %}

