{% extends '::ping_base.html.twig' %}


{% block body %}

<script>
    /*
     fonction de jqury accordion et tabs
      */
                $(function() {
                var active = $( "#accordion" ).accordion( "option", "active" );
		$("#accordion").accordion({
			collapsible: true,
                        active: 1,
                        autoHeight: false,
		});
                $("#accordion").width("18em");
                
		$( "#tabs" ).tabs();
                $("#tabs").width("80em");
                $(".addre").live('click', function(event){
                event.preventDefault();
                var newline = $('.electricite').find('.tr-clone-re').clone(true);
                newline.removeClass('tr-clone-re');
                $('.electricite').append(newline);
                return false;
                }); 
                $(".addrc").live('click', function(event){
                event.preventDefault();
                var newline = $('.chauffage').find('.tr-clone-rc').clone(true);
                newline.removeClass('tr-clone-rc');
                $('.chauffage').append(newline);
                return false;
                }); 
                               });
                                                   /*
             function de limitation d'entrer dans le champ
              */
                function  onlyNum()
                                {
                                    if(!((event.keyCode>=48&&event.keyCode<=57)||(event.keyCode>=96&&event.keyCode<=105)||(event.keyCode==9)||(event.keyCode==8)||(event.keyCode==190)))
                                    event.returnValue=false;
                                }
</script>
<section class="main">
    <form method="post" action="{{ path('ping_reseau') }}">
    <table  >
    <tr>
        <th rowspan="20" >
        <div id="accordion">
            <h3><a href="#">FICHE PROJET</a></h3>
           <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_composition') }}">COMPOSITION</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_fiche_descriptive') }}">FICHE DESCRIPTIVE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                         <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_contexte') }}">CONTEXTE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">URBAINE</a></h3>
            <div>
                <ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_voierie') }}">Voierie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_luminaire') }}">Luminaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-s"></span></td>
                                        <td  align="right"><a href="{{ path('ping_reseau') }}"><h3>Réseau</h3></a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_terrassement') }}">Terrassement</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_vegetation') }}">Végétation</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
       		</ul>
            </div>
            <h3><a href="#">LOGEMENT</a></h3>
            <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison') }}">MAISON</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_immeuble') }}">IMMEUBLE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">EQUIPEMENT</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_eaux') }}">Gestion des eaux</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_dechets') }}">Gestion des déchets</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>
            <h3><a href="#">BATIMENT COLLECTIF1</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gymnase') }}">Gymnase</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_creche') }}">Crèche</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_ecole_primaire') }}">École primaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_college') }}">Collège</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF2</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_lycee') }}">Lycée</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bureau') }}">Bureau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_commerces') }}">Commerces</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_centre_commerciales') }}">Centre commerciales</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
  <h3><a href="#">BATIMENT COLLECTIF3</a></h3>
            <div>
                <ul>
                       <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_cinema') }}">Cinéma</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bibliotheque') }}">Bibliothèque</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_hopital') }}">Hôpital</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_local_de_recyclage') }}">Local de recyclage</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF4</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_salle_polyvalente') }}">Salle polyvalente</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison_retraite') }}">Maison retraite</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_buanderie') }}">Buanderie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_parking') }}">Parking</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
        </div>
        </th>     
                <!--------------------------------------------------------------------------------------------
              
                ---------------------------------------------------------------------------------------------->
               <tr>
                      <td align="center" >
                        <div id="tabs" >
			<ul>
				<li><a href="#tabs-1">Eau</a></li>
				<li><a href="#tabs-2">Electricité</a></li>
				<li><a href="#tabs-3">Téléphonie</a></li>
                                <li><a href="#tabs-4">Chauffage</a></li>
				
			</ul>
			<div id="tabs-1">
                                <fieldset style="width:75em; ">
                                    <div align="center">
                                    <table name="">
                                        <tr>
                                            <td>Longueur totale de conduits hydrauliques</td>
                                             <td>
                                                <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                            </td>
                                         </tr>
                                        <tr>
                                            <td>Quantité d’eau utilisée par jour (en tonnes)</td>
                                             <td>
                                                <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                            </td>
                                         </tr>
                                         <tr>
                                            <td>Quantité d’eau sale évacuée par jour</td>
                                             <td>
                                                <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                            </td>
                                         </tr>
                                         <tr>
                                            <td>Longueur totale de conduits de sortie d’eau sale</td>
                                             <td>
                                                <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                            </td>
                                         </tr>

                                    </table>
                                    </div>
                                </fieldset>

                             <input type="button"  class="button" value="suivant" onclick=""/>
                        
                        </div>
			<div id="tabs-2">
                            <table name="" class="electricite">
                                <tr>
                                    <td>Operation</td>
                                    <td>Electricité du réseau</td>
                                    <td>Electricité produite</td>
                                    <td>Energie dépensée (kwh)</td>
                                    <td>Energie produite (kwh)</td>
                                 </tr>
                                 <tr>
                                     <td>
                                      <a href="#" class="addre"><img src="/css/skin/famfamfam/add.png"/></a>
                                     </td>
                                    <td>
                                        <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">Electricité du réseau</option>
                                            
                                        </select>
                                    </td>
                                    
                                    <td>
                                     <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">Electricité produite</option>
                                           
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                  </tr>
                                   <tr class="tr-clone-re">
                                     <td>
                                      <a href="#" class="addre"><img src="/css/skin/famfamfam/add.png"/></a>
                                     </td>
                                    <td>
                                        <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">Electricité du réseau</option>
                                            
                                        </select>
                                    </td>
                                    
                                    <td>
                                     <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">Electricité produite</option>
                                           
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                  </tr>
                            </table>
                           <input type="button" name="submit" value="submit" class="button" />  
                        </div>
			<div id="tabs-3">
                        <fieldset style="width:75em; ">
                                    <div align="center">
                                    <table name="">
                                        <tr>
                                            <td>Nombre de cabines téléphoniques</td>
                                             <td>
                                                <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                            </td>
                                         </tr>
                                        <tr>
                                            <td>Nombre d’antennes téléphoniques</td>
                                             <td>
                                                <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                            </td>
                                         </tr>
                                         <tr ><td>
                                         <input type="button"  class="button" value="suivant" onclick=""/>
                                             </td></tr>
                                        
                                    </table>
                                    </div>
                                </fieldset>

                           <a href=""><img src=""/></a>
                        </div>
                        <div id="tabs-4">
                        <!--------------------------------------
                             logement
                                 immeuble
                                     Plafonds
                             -------------------------------------->
                          <table name="chauffage" class="chauffage">
                                <tr>
                                    <td>Operation</td>
                                    <td>Chauffage urbain</td>
                                    <td>Chaleur utile produite</td>
                                    <td>Energie dépensée (kwh)</td>
                                    <td>Energie produite (kwh)</td>
                                 </tr>
                                 <tr>
                                     <td>
                                      <a href="#" class="addrc"><img src="/css/skin/famfamfam/add.png"/></a>
                                     </td>
                                    <td>
                                        <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">Chauffage urbain</option>
                                            
                                        </select>
                                    </td>
                                    
                                    <td>
                                     <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">Chaleur utile produite</option>
                                           
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                  </tr>
                                  <tr class="tr-clone-rc">
                                     <td>
                                      <a href="#" class="addrc"><img src="/css/skin/famfamfam/add.png"/></a>
                                     </td>
                                    <td>
                                        <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">--Chauffage urbain--</option>
                                            {% for SourceEnergie in SourceEnergies %}
                                            <option value="{{ SourceEnergie.getIdPingSourceenerg() }}">{{ SourceEnergie.getSourceEnergie() }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    
                                    <td>
                                     <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">Chaleur utile produite</option>
                                           
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                    <td>
                                        <input type="text" onkeydown="onlyNum();"style="width:15em; " name="NBRE_OCCUP">
                                    </td>
                                  </tr>
                            </table>
                           <input type="button" name="submit" value="submit" class="button" /> 
                        </div>
                        </div>

                    </td>
                    </tr>
                  <a href=""><img src=""/></a> 
         </table>
    </form>
</section>

{% endblock %}

