{% extends '::ping_base.html.twig' %}


{% block body %}

<script>
   /*
     fonction de jqury accordion et tabs
      */
                $(function() {
                var active = $( "#accordion" ).accordion( "option", "active" );
		$("#accordion").accordion({
			collapsible: true,
                        active: 1,
                        autoHeight: false,
		});
                $("#accordion").width("18em");
                
		$( "#tabs" ).tabs();
                $("#tabs").width("80em");
                 $(".addt").live('click', function(event){
                event.preventDefault();
                var newline = $('.terrassement').find('.tr-clone-t').clone(true);
                newline.removeClass('tr-clone-t');
                $('.terrassement').append(newline);
                return false;
                }); 
                               });
                                                                      /*
             function de limitation d'entrer dans le champ
              */
                function  onlyNum()
                                {
                                    if(!((event.keyCode>=48&&event.keyCode<=57)||(event.keyCode>=96&&event.keyCode<=105)||(event.keyCode==9)||(event.keyCode==8)||(event.keyCode==190)))
                                    event.returnValue=false;
                                }
</script>
<section class="main">
    <form method="post" action="{{ path('ping_terrassement') }}">
    <table  >
    <tr>
        <th rowspan="20" >
        <div id="accordion">
            <h3><a href="#">FICHE PROJET</a></h3>
           <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_composition') }}">COMPOSITION</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_fiche_descriptive') }}">FICHE DESCRIPTIVE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                         <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_contexte') }}">CONTEXTE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
            <h3><a href="#">URBAINE</a></h3>
            <div>
                <ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_voierie') }}">Voierie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="centre"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_luminaire') }}">Luminaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table >
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_reseau') }}">Réseau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-s"></span></td>
                                        <td  align="right"><a href="{{ path('ping_terrassement') }}"><h3>Terrassement</h3></a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_vegetation') }}">Végétation</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                       
       		</ul>
            </div>
            <h3><a href="#">LOGEMENT</a></h3>
            <div>
		<ul>                   
			<li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison') }}">MAISON</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_immeuble') }}">IMMEUBLE</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
		</ul>
            </div>
           <h3><a href="#">EQUIPEMENT</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_eaux') }}">Gestion des eaux</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br/>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gestion_dechets') }}">Gestion des déchets</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>
           <h3><a href="#">BATIMENT COLLECTIF1</a></h3>
            <div>
                <ul>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_gymnase') }}">Gymnase</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_creche') }}">Crèche</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_ecole_primaire') }}">École primaire</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_college') }}">Collège</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF2</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_lycee') }}">Lycée</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bureau') }}">Bureau</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_commerces') }}">Commerces</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_centre_commerciales') }}">Centre commerciales</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
  <h3><a href="#">BATIMENT COLLECTIF3</a></h3>
            <div>
                <ul>
                       <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_cinema') }}">Cinéma</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_bibliotheque') }}">Bibliothèque</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_hopital') }}">Hôpital</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_local_de_recyclage') }}">Local de recyclage</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        
                </ul>
            </div>
 <h3><a href="#">BATIMENT COLLECTIF4</a></h3>
            <div>
                <ul>  
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_salle_polyvalente') }}">Salle polyvalente</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_maison_retraite') }}">Maison retraite</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_buanderie') }}">Buanderie</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div>
                                <table>
                                    <tr>
                                        <td  align="center"><span class="ui-icon ui-icon-carat-1-e"></span></td>
                                        <td  align="right"><a href="{{ path('ping_parking') }}">Parking</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>  
        </div>
        </th>     
                <!--------------------------------------------------------------------------------------------
              
                ---------------------------------------------------------------------------------------------->
               <tr>
                       <td align="center" >
                            
                            <table name="terrassement" class="terrassement">
                                <tr>
                                    <td>Operation</td>
                                    <td>Type de fondation</td>
                                    <td>Cette terre est-elle </td>
                                 
                                 </tr>
                                 <tr>
                                     <td>
                                      <a href="#" class="addt"><img src="/css/skin/famfamfam/add.png"/></a>
                                     </td>
                                    <td>
                                        <select class="" style="width:15em; height: 28px;" name="MAT" >
                                            <option value="">Fondation</option>
                                             <option value="">Noue</option>
                                              <option value="">Bassin</option>
                                               <option value="">Piscine</option>
                                        </select>
                                    </td>
                                    
                                    <td>
                                     <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">réutilisée</option>
                                             <option value="">déplacée</option>
                                              <option value="">jetée</option>
                                        </select>
                                    </td>
                                  </tr>
                                  <tr class="tr-clone-t">
                                     <td >
                                      <a href="#" class="addt"><img src="/css/skin/famfamfam/add.png"/></a>
                                     </td>
                                    <td>
                                        <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">Fondation</option>
                                             <option value="">Noue</option>
                                              <option value="">Bassin</option>
                                               <option value="">Piscine</option>
                                        </select>
                                    </td>
                                    
                                    <td>
                                     <select class="" style="width:15em; height: 28px;" name="MAT">
                                            <option value="">réutilisée</option>
                                             <option value="">déplacée</option>
                                              <option value="">jetée</option>
                                        </select>
                                    </td>
                                    <td>
                                        
                                     </td>
                                  </tr>
                            </table>
                           <input type="button" name="submit" value="submit" class="button" /> 
                                       <script >

                                        var dataset = {
                                          apples: [53245, 28479, 19697, 24037, 40245],
                                          oranges: [200, 200, 200, 200, 200]
                                        };

                                        var width = 350,
                                            height = 120,
                                            radius = Math.min(width, height) / 2;

                                        var color = d3.scale.category20();

                                        var pie = d3.layout.pie()
                                            .sort(null);

                                        var arc = d3.svg.arc()
                                            .innerRadius(radius - 40)
                                            .outerRadius(radius - 15);

                                        var svg = d3.select("body").append("svg")
                                            .attr("width", width)
                                            .attr("height", height)
                                            .attr("style","position: absolute; left: 55em; top: 8em")
                                          .append("g")
                                            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

                                        var path = svg.selectAll("path")
                                            .data(pie(dataset.apples))
                                          .enter().append("path")
                                            .attr("fill", function(d, i) { return color(i); })
                                            .attr("d", arc);

                                        d3.selectAll("input").on("change", change);

                                        var timeout = setTimeout(function() {
                                          d3.select("input[value=\"oranges\"]").property("checked", true).each(change);
                                        }, 2000);

                                        function change() {
                                          clearTimeout(timeout);
                                          path = path.data(pie(dataset[this.value])); // update the data
                                          path.attr("d", arc); // redraw the arcs
                                        }

                                        </script>
                                  
                    </td>
                    
                    </tr>
         </table>
    </form>
</section>

{% endblock %}

