{% extends '::ping_base.html.twig' %}


{% block body %}

<script>

</script>
<section class="main">
    <form method="post" action="{{ path('ping_test') }}">
                 <!-- ce tr est caché en css et sera copier sur chaque click sur .add pour construire une nouvelle ligne -->
            <tr class="">
                              <td>
                    <select class="" style="width:50em; height: 28px;">
                        <option value="">- Choisir un nom-</option>
                        {% for test in tests %}
                            <option value="{{ test.id }}">{{ test.nom }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                      <select class="" style="width:50em; height: 28px;">
                        <option value="">- Choisir un prenom -</option>
                        {% for test in tests %}//?
                            <option value="{{ test.id }}">{{ test.prenom }}</option>
                        {% endfor %}
                    </select>
                </td>
        
            </tr>
        </table>
    </form>
</section>

{% endblock %}