<h1 align="center"><u>CONDITIONS D’UTILISATION DU SITE ARTOGREEN</u></h1>
    <h2><u>CONDITIONS D’UTILISATION</u></h2>
    <p style="font-size: 105%; line-height: 18px;">
        En utilisant le site <b>ARTOGREEN</b>, vous acceptez les conditions d’utilisation ci-dessous et vous vous engagez à vous y conformer.
    </p>

    <h2>I- <u>COPYRIGHT</u></h2>
    <p style="font-size: 105%; line-height: 18px;">
        Tout le contenu du site internet <b>ARTOGREEN</b> est la propriété de <b>ARTOGREEN</b>, sauf mention contraire.
        <br/><br/>
        Aucune partie de ce site ne peut être reproduite, communiquée ou copiée sur un formulaire ou autre sans autorisation écrite d’<b>ARTOGREEN</b>.
    </p>

    <h2>II- <u>SECURITE</u></h2>
    <p style="font-size: 105%; line-height: 18px;">
        Lorsque vous choisissez de nous fournir un certain nombre de données, notamment lorsque vous ouvrez un compte utilisateur, celles-ci peuvent servir à l’éventuelle mise ne place de relation contractuelle entre vous-même et <b>ARTOGREEN</b>.
        <br/><br/>
        En nous fournissant ces données, vous consentez à ce que nous les utilisions dans le cadre contractuel éventuellement mis en place entre vous et <b>ARTOGREEN</b>.
        <br/><br/>
        <b>ARTOGREEN</b> s’engage à ne les transmettre à aucune tierce partie, excepté pour exécuter vos commandes ou adresser une demande.
        <br/><br/>
        Le cas échéant, et pour assurer la sécurité de son site, <b>ARTOGREEN</b> contrôle le trafic du réseau pour identifier les tentatives non-autorisées de télécharger ou de changer les données ou tout autre dommage causé au site.
        <br/><br/>
        En utilisant le site <b>ARTOGREEN</b>, vous consentez expressément à ce contrôle.
        <br/><br/>
        Toute tentative non-autorisée de modifier une information stockée sur le site pour détériorer ou contourner les éléments de sécurité ou pour utiliser le site dans un autre but que celui auquel il est destiné, sont interdites et peuvent faire l’objet de poursuites judiciaires.
    </p>

    <h2>III- <u>RESPONSABILITE D’ARTOGREEN</u></h2>
    <p style="font-size: 105%; line-height: 18px;">
        La simple visite du site <b>ARTOGREEN</b> n’engage ni le client, ni <b>ARTOGREEN</b>.
        <br/><br/>
        La mise en place d’une relation contractuelle suppose nécessairement au préalable l’ouverture d’un compte utilisateur.
        <br/><br/>
        En outre, l’ouverture du compte utilisateur seul ne matérialise pas la relation contractuelle entre <b>ARTOGREEN</b> et l’utilisateur.
        <br/><br/>
        La mise en place d’une relation contractuelle suppose pour l’utilisateur d’avoir réalisé les démarches telles que prévues aux conditions générales de ventes.
        <br/><br/>
        De la même manière, le site peut contenir des liens hypertextes vers des informations créées et maintenues par d’autres organisations publiques ou privées.
        <br/><br/>
        Certains de ces liens et flèches sont fournis par <b>ARTOGREEN</b> dans l’intérêt du visiteur et d’autres par l’hébergeur du site.
        <br/><br/>
        <b>ARTOGREEN</b> ne garantit pas la précision, la pertinence ou l’utilité et l’effectivité de ces liens hypertextes.
        <br/><br/>
        Ils ne sont donnés qu’à titre purement informatifs, sans aucun engagement de la part d’<b>ARTOGREEN</b>.
        <br/><br/>
        De la même manière, la référence sur le site <b>ARTOGREEN</b> de tous produits commerciaux, sites internet de personnes publiques ou privées, commerçantes ou non, ne constitue en aucun cas ni une garantie de la part d’<b>ARTOGREEN</b>, ni une recommandation, ni même un lien de partenariat ou publicitaire avec <b>ARTOGREEN</b>.
        <br/><br/>
        Plus généralement, <b>ARTOGREEN</b> ne garantit la validité des informations qu’elle fournit que dans le cadre d’une relation contractuelle dans les conditions prévues à ces conditions générales de ventes.
    </p>

    <h2>IV- <u>NAVIGUER SUR LE SITE</u></h2>
    <p style="font-size: 105%; line-height: 18px;">
        En consultant le site <b>ARTOGREEN</b>, vous le faites anonymement, à moins que vous ne choisissiez d’ouvrir un compte utilisateur.
        <br/><br/>
        Hormis dans ce cas, en lisant les pages du site <b>ARTOGREEN</b>, en visionnant des images ou en téléchargeant des informations sans transmettre aucune information personnelle, <b>ARTOGREEN</b> ne recueillera et stockera automatiquement que des informations anonymes sur votre visite.
        <br/><br/>
        La collecte de ces informations visiteurs sert uniquement à établir des statistiques générales.
        <br/><br/>
        Elles ne sont utilisées que dans le but de la gestion du site et l’éventuelle vérification d’une activité non-autorisée suspecte.
        <br/><br/>
        Le type d’informations pouvant être automatiquement collectées lors de votre visite et stockées sont les suivantes :
        <br/>
        &nbsp; - Le domaine internet et l’adresse internet protocole (IP    ) à partir de laquelle vous accédez au site <b>ARTOGREEN</b>,
        <br/>
        &nbsp; - Le type de navigateur internet et le système d’exploitation de votre ordinateur utilisé pour accéder à ce site,
        <br/>
        &nbsp; - La date de votre visite sur le site,
        <br/>
        &nbsp; - Les pages visitées,
        <br/>
        &nbsp; - Si vous vous êtes connecté sur le site <b>ARTOGREEN</b> à partir d’un autre site, l’adresse de ce site,
        <br/>
        &nbsp; - Si vous vous êtes connecté à notre site à partir d’un moteur de recherche, le nom de celui-ci et le terme utilisé.
    </p>

    <h2>V- <u>ENVOI D’E-MAILS A ARTOGREEN</u></h2>
    <p style="font-size: 105%; line-height: 18px;">
        Si vous décidez de nous soumettre une question ou un commentaire par e-mail, et nous indiquer votre nom et adresse postale ou e-mail, ces informations ne seront utilisées que pour répondre à vos questions ou commentaires et éventuellement vous contacter à propos des services et conseils sollicités dans le cadre d’une relation contractuelle dûment établie conformément aux conditions générales de ventes.
        <br/><br/>
        Les données recueillies le sont exclusivement dans le but de vous répondre et de vous contacter pour le suivi des services souscrits.
        <br/><br/>
        Vos noms, adresse e-mail ou postale ne sont communiqués à aucun tiers, sauf pour exécuter vos commandes.
        <br/><br/>
        Si vous complétez un formulaire ou téléchargez des informations sur le site <b>ARTOGREEN</b>, les informations collectées ne seront là encore utilisées que pour exécuter la demande spécifiée sur le formulaire ou exécuter le service sollicité.
        <br/><br/>
        Si <b>ARTOGREEN</b> s’efforce d’assurer la sécurité des données que vous lui transmettez, l’utilisateur est averti qu’aucune transmission sur internet ne peut être garantie sûre à 100%.
        <br/><br/>
        <b>ARTOGREEN</b> ne peut donc assurer ou garantir la sécurité de toute donnée que vous lui transmettez à partir de ses produits ou services en ligne.
        <br/><br/>
        Toutes les informations transmises le sont à vos propres risques.
    </p>

    <h2>VI- <u>VI-  CONTACT</u></h2>
    <p style="font-size: 105%; line-height: 18px;">
        SAS ARTOGREEN
        <br/>
        Société par actions simplifiée au capital de 10.000 euros
        <br/>
        RCS ROUEN B 753 341 809
        <br/>
        Siège social : 19, Rue du Manège 76130 MONT-SAINT-AIGNAN
        <br/>
        <a href="http://www.artogreen.com" target="_blank" style="color:blue;">www.artogreen.com</a>
    </p>
