{% set section = "user" %}

{% extends '::base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href= "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready( function() {
                var popo = $(".dialog-checkAccessKey").dialog({ 
                    autoOpen: false,
                    height: 130,
                    width: 330
                });
        });
            
        $(function(){
            $(".myCodeFolders").click(function(event) {
                console.log("myCodeFolders click");
                event.preventDefault();
                console.log("STOP !");
                
                $( "#dialog-checkAccessKey" ).dialog('open');   
             });
             
            $(".submitPassword").click(function(event) {
                console.log("Submit password click !");
                event.preventDefault();
                var password = $(this).parent().find(".password").val();
                
                console.log("Password : " + password + "");
                if(password == 'artogreen'){
                    $( "#dialog-checkAccessKey" ).dialog('close');
                    window.location.replace("http://www.artogreen.com/myCodesFolders");
                }else{
                    $( "#dialog-checkAccessKey" ).dialog('close'); 
                } 
            });
        });
    </script>
    
    <section class="main white">
        <h2>Mon compte</h2>
        <h3>Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}</h3>
        <p>
            Nombre de poste connecté : {{ licensesInuse|length }}</br>
        </p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#license" data-toggle="tab">Votre offre</a></li>
            <!--li><a href="#order" data-toggle="tab">Mes factures</a></li>
            <li><a href="#account" data-toggle="tab">Mes coordonnées</a></li> !-->
            <li><a href="{{ path('green_contact') }}">Obtenir de l'aide</a></li>
            <li><a href="{{ path('green_my_code_folders') }}" class="myCodeFolders">Codes dossiers</a></li>
            {% if app.user.id == 14 %}
                <li><a href="{{ path('green_copy_project') }}">Copier des projets ArtoGreen</a></li>
                <li><a href="{{ path('green_gestion_licences') }}">Gestion des licences ArtoGreen</a></li>
                <li><a href="{{ path('green_code_folders') }}">Codes des dossiers ArtoGreen</a></li>
                <li><a href="{{ path('green_gestion_base_artoAcv') }}">Gestion base ArtoAcv</a></li>
                <li><a href="{{ path('green_raz_user') }}">RAZ logiciel</a></li>
                <li><a href="{{ path('green_check_log_artogreen') }}">Logs ArtoGreen</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="license">
                {% for license in licenses %}
                    <div class="well">
                        <a href="{{ path(license.product.path) }}" class="btn btn-info btn-large use"><i class="icon-play-circle"></i> Utiliser le logiciel</a>
                        <div class="row-fluid">
                            <div class="span2">
                                <img src="/css/skin/{{ license.product.slug }}_icon.png" width="100" />
                            </div>
                            <div class="span10">
                                <h3>{{ license.product.name }}</h3>
                                <p>
                                    Il vous reste {{ license.daysLeft }} jours sur votre licence de {{ license.duration }} mois<br/>
                                    <div class="progress progress-striped" style="margin-top: 4px;">
                                        <div class="bar" style="width: {{ license.daysUsedPercent }}%"></div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>Vous n'avez aucune license pour le moment.</p>
                    <p><a href="{{ path('green_product_description') }}">Cliquez ici,</a> pour decouvrir notre suite de logiciels.</p>
                {% endfor %}
            </div>
            <div class="tab-pane" id="order">
                <table class="table table-striped">
                    <tr>
                        <th>Facture</th>
                        <th>Montant TTC</th>
                        <th>Date</th>
                        <th>Télécharger</th>
                    </tr>
                    {% for invoice in invoices %}
                        <tr>
                            <td>Facture N°{{ invoice.ref }}</td>
                            <td>{{ invoice.price * 1.196 }} &euro; TTC</td>
                            <td>{{ invoice.createdAt|date('d/m/Y') }}</td>
                            <td><a href="{{ path('green_invoice', { 'uniq': invoice.uniq }) }}" class="btn"><i class="icon-download"></i> Télécharger</th>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Vous n'avez aucune facture pour le moment.</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="tab-pane {% if edit is defined and edit %}active{% endif %}" id="account">
                <div class="row">
                    <div class="span2">Nom</div>
                    <div class="span7">{{ app.user.lastname }}</div>
                </div>
                <div class="row">
                    <div class="span2">Prénom</div>
                    <div class="span7">{{ app.user.firstname }}</div>
                </div>
                <div class="row">
                    <div class="span2">Adresse</div>
                    <div class="span7">{{ app.user.address }}<br/>{{ app.user.postcode }} {{ app.user.city }}</div>
                </div>
                <div class="row">
                    <div class="span2">Société</div>
                    <div class="span7">{{ app.user.firstname }}</div>
                </div>
                <div class="row">
                    <div class="span2">SIRET</div>
                    <div class="span7">{{ app.user.siret }}</div>
                </div>
                <div class="row">
                    <div class="span2">Email</div>
                    <div class="span7">{{ app.user.email }}</div>
                </div>
                <div class="row">
                    <div class="span2">Téléphone</div>
                    <div class="span7">{{ app.user.tel }}</div>
                </div>
                <div class="row">
                    <div class="span2">&nbsp;</span></div>
                    <div class="span7"><a href="{{ path('account_edit') }}" class="btn btn-success">Modifier mon compte</a></span></div>
                </div>
            </div>
        </div>
                
        <div id="dialog-checkAccessKey" class="dialog-checkAccessKey" style="overflow:hidden;" title="Clé d'accès">
            <form method="post" action="#">
                <div class="row">
                    <label>Veuillez saisir la clé d'accès </label>
                    <input type="password" name="password" class="password"/>
                    <button type="submit" style="margin-top: 5px" class="btn btn-success submitPassword">Valider</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}