{% set section = "product" %}

{% extends '::base.html.twig' %}

{% block body %}
    <section class="main white">
        <h2>Modification de mon compte</h2>
        <form method="post" action="{{ path('account_edit') }}" novalidate="novalidate" class="form-horizontal">
            {{ form_widget(form._token) }}
            {{ form_errors(form) }}
            <div class="control-group">
                <label class="control-label">Nom *</label>
                <div class="controls">
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Prénom *</label>
                <div class="controls">
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Adresse *</label>
                <div class="controls">
                    {{ form_errors(form.address) }}
                    {{ form_widget(form.address) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Ville *</label>
                <div class="controls">
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Code postal *</label>
                <div class="controls">
                    {{ form_errors(form.postcode) }}
                    {{ form_widget(form.postcode) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Société *</label>
                <div class="controls">
                    {{ form_errors(form.company) }}
                    {{ form_widget(form.company) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Activité *</label>
                <div class="controls">
                    {{ form_errors(form.activity) }}
                    {{ form_widget(form.activity) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">SIRET *</label>
                <div class="controls">
                    {{ form_errors(form.siret) }}
                    {{ form_widget(form.siret) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Téléphone *</label>
                <div class="controls">
                    {{ form_errors(form.tel) }}
                    {{ form_widget(form.tel) }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a href="{{ path('account') }}" class="btn">Annuler</a>
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}