{% set section = "home" %}

{% extends '::base.html.twig' %}

{% block body %}

<section class="main white error-page">
    <h2>Licences</h2>
    <h3>Désolé, toutes les licenses pour le logiciel sont utilisées</h3>
    <p>Merci de nous contacter pour commander d'autres licences</p>
    <p style="margin-top: 50px;">
        <a href="{{ path('account') }}" class="btn">Accéder à mon compte</a>
        <a href="{{ path('green') }}" class="btn">Retourner à l'accueil</a>
    </p>
</section>

{% endblock %}