{% set section = "user" %}

{% extends '::base.html.twig' %}

{% block body %}
    <section class="main white">
        <h2 style="text-align: center;">Authentification</h2>
        <div class="row-fluid">
            <div class="span6 well connect" style="text-align: center;">
                <h3>connexion</h3>
                <form action="{{ path('login_check') }}" method="post">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input name="_username" type="text" placeholder="Identifiant">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input name="_password" type="password" placeholder="Mot de passe">
                    </div>
                    <button type="submit" class="btn" style="margin-left: 156px;">Valider</button>
                </form>
            </div>
            <div class="span6 well register" style="text-align: center;">
                <h3>Pas encore de compte ?</h3>
                <h4 style="margin-bottom: 26px">Créez le gratuitement maintenant</h4>
                <a href="{{ path('register') }}" class="btn btn-large btn-primary" style="margin-bottom: 30px">Créer un compte</a>
            </div>
        </div>
    </section>
{% endblock %}