{% extends '::email_base.html.twig' %}

{% block body %}
Bonjour<br><br>

Voici vos informations pour vous connecter à votre compte utilisateur :<br>
- Identifiant : {{ user.username }}<br>
- Mot de passe : {{ user.password }}<br><br>

Vous pouvez accéder à toutes les informations concernant votre compte<br/>

Pour toute question supplémentaire, vous pouvez prendre contact avec votre assistance par mail à <a href="mailto:contact@artogreen.com">contact@artogreen.com</a>.<br/>
Vous remerciant de votre confiance, et restant à votre écoute.<br/><br/>
Le service Client ArtoGreen

{% endblock %}
