{% extends '::email_base.html.twig' %}

{% block body %}
Bonjour<br><br>

Voici vos codes d'accès :<br>
- Identifiant : {{ user.username }}<br>
- Mot de passe : {{ user.password }}<br><br>

Pour un test gratuit des outils webs Artogreen, veuillez écrire un mail de demande à <a href="mailto:artogreensoft@gmail.com">artogreensoft@gmail.com</a> <br/>
Pour un renouvellement de compte ou une création de compte, contacter l'équipe Artogreen pour émission d'un devis à <a href="mailto:artogreensoft@gmail.com">artogreensoft@gmail.com</a> <br/>
Toute autre action restera sans suite.<br/><br/>

Vous remerciant de votre confiance, et restant à votre écoute.<br/><br/>
Le service Client ArtoGreen

{% endblock %}
