<script>
$(function(){
    $('#tools').popover();
});
</script>
<div class="navigator">
    {% if app.user %}
        <a href="{{ path('account') }}" class="btn">
            <i class="icon-user"></i> {{ app.user.lastname }} | Mon compte
        </a>
        <a href="#" id="tools" class="btn"
            data-toggle="popover"
            data-placement="bottom"
            data-html="true"
            data-content='{% for license in licenses %}<a href="{{ path(license.product.path) }}"><img src="/css/skin/{{ license.product.slug }}_logo.png" width="200" /></a>{% endfor %}'
            title=""
            data-original-title="Mes outils">
            <i class="icon-wrench"></i> Mes outils
        </a>
        <a href="{{ path('user_clear') }}" class="btn">
            <i class="icon-off"></i> Se deconnecter
        </a>
    {% endif %}
</div>