{% set section = "product" %}

{% extends '::base.html.twig' %}

{% block body %}
    <script>
        $(function(){
            $( ".dialog" ).dialog({
                autoOpen: false,
                height: 400,
                width: 800
            });
        });
    </script>
    <section class="main white">
        <h2>Inscription</h2>
        <h3>Bienvenue,</h3>
        <p>
            Nous sommes tellement impatients de commencer notre partenariat avec vous! Pour nous assurer d'avoir les informations nécessaires et pour mieux vous servir,  prenez quelques instants pour remplir le formulaire ci-dessous. Si vous avez des questions,  n'hésitez pas à nous contacter à tout moment. Nous vous remercions!
        </p>
        <p>* Mentions obligatoires</p>
        <p><b>Pour les universités, veuillez nous contacter au 06.71.92.35.26 pour une demo ou une offre</b></p>
        <form method="post" action="{{ path('register') }}" novalidate="novalidate" class="form-horizontal">
            {{ form_widget(form._token) }}
            {{ form_errors(form) }}
            <div class="control-group">
                <label class="control-label">Nom *</label>
                <div class="controls">
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Prénom *</label>
                <div class="controls">
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Adresse *</label>
                <div class="controls">
                    {{ form_errors(form.address) }}
                    {{ form_widget(form.address) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Ville *</label>
                <div class="controls">
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Code postal *</label>
                <div class="controls">
                    {{ form_errors(form.postcode) }}
                    {{ form_widget(form.postcode) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Société *</label>
                <div class="controls">
                    {{ form_errors(form.company) }}
                    {{ form_widget(form.company) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Activité *</label>
                <div class="controls">
                    {{ form_errors(form.activity) }}
                    {{ form_widget(form.activity) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Capital/Nbre d'habitants *</label>
                <div class="controls">
                    {{ form_errors(form.capital) }}
                    {{ form_widget(form.capital) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">SIRET *</label>
                <div class="controls">
                    {{ form_errors(form.siret) }}
                    {{ form_widget(form.siret) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">E-mail *</label>
                <div class="controls">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Téléphone *</label>
                <div class="controls">
                    {{ form_errors(form.tel) }}
                    {{ form_widget(form.tel) }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        {{ form_errors(form.optin) }}
                        <input type="checkbox" name="usertype[optin]">Je souhaite être informé(e) des nouveautés d'ArtoGREEN.
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        {{ form_errors(form.majority) }}
                        {{ form_widget(form.majority) }}  
                        * Je certifie avoir plus de 18 ans.      
                    </label> 
                </div>    
            </div>      
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        {{ form_errors(form.accept1) }}
                        {{ form_widget(form.accept1) }}
                        * Ces offres ne sont pas accessibles aux organismes de formation et/ou conseil. Je certifie ne pas en être un.
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        {{ form_errors(form.accept2) }}
                        {{ form_widget(form.accept2) }}
                        * Je certifie que mes déclarations sont sincères et exactes
(toute fausse déclaration entraînant la nullité de l’adhésion et entrainera le remboursement et le blocage immédiat des offres ARTOGREEN)
                    </label>
                </div>
            </div>
                        
            <div class="g-recaptcha" data-sitekey="6Le_pv4UAAAAAHqGagn0s9X3WcSjLiVmtjFjHzF4"></div>
            
            <div class="control-group">
                <div class="controls">
                    <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">S'inscrire</a>
                </div>
            </div>           

            <!-- Modal -->
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Conditions générales</h3>
                </div>
                <div class="modal-body">
                    {% include 'ArtoGreenBundle:User:_cgv.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Refuser</button>
                    <button type="submit" class="btn btn-primary">Accepter</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}