{% set section = "product" %}

{% extends '::base.html.twig' %}

{% block body %}
    <section class="main white">
        <h2>Bienvenue {{ user.firstname }} {{ user.lastname }}</h2>
        <p>
            <strong>Votre compte a été créé avec succès !</strong><br/>
            Un email vous a été envoyé à "{{ user.email }}"" avec vos identifiants de connexion.
        </p>
        <p>
            <a href="{{ path('green') }}" class="btn btn-large btn-success" style="width: 300px">Cliquez ici pour vous authentifier</a>
        </p>
    </section>
{% endblock %}