<tr>
    <input type="hidden" class="part-id" name="part-id" value="{{ part.id }}"/>
    <td>
        <input type="text" class="name" name="name{{ part.id }}" style="width: 126px; display: none;" value="{{ part.name }}" />
        <label class="nameLoad" name="nameLoad{{ part.id }}" style="width: 126px;">{{ part.name }}</label>
    </td>
    <td>
        <input type="text" class="reference" name="reference{{ part.id }}" style="width: 114px; display: none;" value="{{ part.reference }}"/>
        <label class="referenceLoad" name="referenceLoad{{ part.id }}" style="width: 114px;">{{ part.reference }}</label>
    </td>
    <td>
        <select class="typeTransport" name="typeTransport{{part.id}}" style="width: 80px; display: none;">
            <option value="">-Choisir-</option>
            {% if part.typeTransport == "M" %}
                <option value="M" selected="selected">Mondial</option>
                <option value="N">National</option>
                <option value="L">Local</option>
            {% elseif part.typeTransport == "N" %}
                <option value="M">Mondial</option>
                <option value="N" selected="selected">National</option>
                <option value="L">Local</option>
            {% elseif part.typeTransport == "L" %}
                <option value="M">Mondial</option>
                <option value="N">National</option>
                <option value="L" selected="selected">Local</option>
            {% endif %}    
        </select>
        {% set typeTransportName = '' %}
        {% if part.typeTransport == "M" %}
            {% set typeTransportName = 'Mondial' %}
        {% elseif part.typeTransport == "N" %}
            {% set typeTransportName = 'National' %}
        {% elseif part.typeTransport == "L" %}
            {% set typeTransportName = 'Local' %}
        {% endif %}    
        <label class ="typeTransportLoad" name="typeTransportLoad{{ part.id }}" style="width: 80px;">{{ typeTransportName }}</label>
    </td>
    <td>
        <select class="depart" name="depart{{ part.id}}" style="width: 200px; display: none;"></select>
        <input type="text" class="departL" name="departL{{ part.id }}" style="width: 200px; display: none;" {% if part.distanceLocal != null %}value="{{ part.distanceLocal.departure}}"{% endif %}/>
        {% set departName = '' %}
        {% set departId = '' %}
        {% if part.typeTransport == 'M' %}
            {% if part.distanceInter == null %}
                {% if part.distanceInterSaisie != null %}
                    {% set departName = part.distanceInterSaisie.departure.label %}
                    {% set departId = part.distanceInterSaisie.departure.id %}
                {% endif %}    
            {% else %}
                {% set departName = part.distanceInter.departure.label %}
                {% set departId = part.distanceInter.departure.id %}
            {% endif %}
        {% elseif part.typeTransport == 'N' %}
            {% if part.distanceNational != null %}
                {% set departName = part.distanceNational.departure.code ~ ' - ' ~ part.distanceNational.departure.name %}
                {% set departId = part.distanceNational.departure.id %}
            {% endif %}
        {% elseif part.typeTransport == 'L' %}
            {% if part.distanceLocal != null %}
                {% set departName = part.distanceLocal.departure %}
                {% set departId = part.distanceLocal.id %}
            {% endif %}
        {% endif %}
        <label class="departLoad" id="{{ departId }}" name="departLoad{{ part.id }}" style="width: 200px;">{{ departName }}</label>
    </td>
    <td>
        <select class="arrivee" name="arrivee{{part.id}}" style="width: 200px; display: none;"></select>
        <input type="text" class="arriveeL" name="arriveeL{{ part.id }}" style="width: 200px; display:none;" {% if part.distanceLocal != null %}value="{{ part.distanceLocal.arrival}}"{% endif %}/>
        {% set arriveeName = '' %}
        {% set arriveeId = '' %}
        {% if part.typeTransport == 'M' %}
            {% if part.distanceInter == null %}
                {% if part.distanceInterSaisie != null %}
                    {% set arriveeName = part.distanceInterSaisie.arrival.label %}
                    {% set arriveeId = part.distanceInterSaisie.arrival.id %}
                {% endif %}    
            {% else %}
                {% set arriveeName = part.distanceInter.arrival.label %}
                {% set arriveeId = part.distanceInter.arrival.id %}
            {% endif %}
        {% elseif part.typeTransport == 'N' %}
            {% if part.distanceNational != null %}
                {% set arriveeName = part.distanceNational.arrival.code ~ ' - ' ~ part.distanceNational.arrival.name %}
                {% set arriveeId = part.distanceNational.arrival.id %}
            {% endif %}
        {% elseif part.typeTransport == 'L' %}
            {% if part.distanceLocal != null %}
                {% set arriveeName = part.distanceLocal.arrival %}
                {% set arriveeId = part.distanceLocal.id %}
            {% endif %}
        {% endif %}
        <label class="arriveeLoad" id="{{ arriveeId }}" name="arriveeLoad{{ part.id }}" style="width: 200px;">{{ arriveeName }}</label>
    </td>
    <td class="logoTransport" name="logoTransport{{ part.id }}">    
    </td>
    <td>
        <select name="modeTransport{{part.id}}" class="modes" style="width: 70px; display: none;">
        </select>
        {% set modeName = '' %}
        {% if part.modeTransport == 'road'%}
            {% set modeName = 'Route' %}
        {% elseif part.modeTransport == 'air' %}
            {% set modeName = 'Avion' %}
        {% elseif part.modeTransport == 'water' %}
            {% set modeName = 'Bateau' %}
        {% elseif part.modeTransport == 'rail' %}
            {% set modeName = 'Train' %}
        {% endif %}
        <label class="modesLoad" name="modeTransport{{ part.id }}" style="width: 70px;">{{ modeName }}</label>
    </td>
    <td align="center">
        {% if part.distance != 0 %}
            <label name="distanceKnown{{ part.id }}" style="width:50px;" class="distanceKnown">{{ part.distance }}</label>
            <input type="text" name="distanceUnknown{{ part.id }}" style="display:none; width:50px;" class="distanceUnknown" value="{{ part.distanceSaisie }}"/>
        {% else %}
            <label name="distanceKnown{{ part.id }}" style="display:none; width:50px;" class="distanceKnown">{{ part.distance }}</label>
            <input type="text" name="distanceUnknown{{ part.id }}" style="width:50px;" class="distanceUnknown" value="{{ part.distanceSaisie }}"/>
        {% endif %}    
    </td>
    <td align="center">
        <input type="text" name="quantityPerProduct{{ part.id }}" class="qtyPerproduct" style="width:50px;" value="{{ part.quantity }}"/>
    </td>
    <td align="center">
        <input type="text" name="unitMass{{ part.id }}" class="unitMass" style="width:50px;" value="{{ part.unitMass }}"/>
    </td>
    <td align="center">
        <label name="percentTotalMass{{ part.id }}" class="percentMass">{{ part.percentTotalMass }}</label>
    </td>
    <td align="center">
        <label name="tonnage{{ part.id }}" class="tonnage">{{ part.tonnage }}</label>
    </td>
    <td align="center">
        <label name="impact{{ part.id }}" class="impactCO2">{{ part.impactEvt }}</label>
    </td>
    <!-- actions -->
    <td>
        <a href="#" class="delete"><i class="icon-remove-sign part"></i>
    </td> 
</tr>