<a href="{{ path('distrib_project_description', { 'id': project.id }) }}" class="blue" {% if section is defined and section == 'description'%}class="active"{% endif %}>
    <i class="icon-user icon-white"></i> {{ project.name }}
</a>
<a href="{{ path('distrib_project_evaluation', { 'id': project.id }) }}" {% if section is defined and section == 'eval' %}class="active"{% endif %} class="evalCarbone">
    <i class="icon-user icon-white"></i> EVALUATION CARBONE DES SCENARIOS LOGISTIQUES
</a>
<a href="{{ path('distrib_project_bilan', { 'id': project.id }) }}" {% if section is defined and section == 'bilan'%}class="active"{% endif %} class="bilan">
    <i class="icon-user icon-white"></i> BILAN
</a>