<div class="scenario scenario-template">
    <table class="scenario-header">
        <tr>
            <td width="60"><span><i class="icon-reorder"></i> Scenario</span></td>
            <td>
                <input type="hidden" class="scenario-id"/>
                <input type="text" name="name" value="" />
            </td>
            <td align="right">
                <label style="font-size: 10pt; font-weight: bold;" name="scenarioTotalMass" class="scenarioTotalMass" style="font-weight: bold;">
                    Masse saisie : 0 t sur {{ (project.totalMass)|number_format(2,',',' ') }} t
                </label>
            </td>
            <td align="right" style="width: 1%;">
                <div class="progress progress-info progress-striped" name ="scenarioWeightStatusLeft" style="width: 200px;">
                    <div class="bar" name="scenarioWeightPercentageLeft" style="width: 0%">
                        <div clas="written" name="scenarioWeightPercentageLeftWritten" style="padding-top: 5px;">0%</div>
                    </div>
                </div>
            </td>
            <td style="width : 1%; padding-left: 0px;">
                <a href="#" class="scenario-delete"><i class="icon-remove-sign"></i></a>
            </td>
        </tr>
    </table>

    <div class="flux">
        <table class="flux-header">
            <tr>
                <td width="60"><span><i class="icon-exchange"></i> Flux</span></td>
                <td>
                    <input type="hidden" class="flux-id"/>
                    <input type="text" name="name" value="" />
                </td>
                <td align="right" width="220">
                    <span style="font-size: 10pt;"><b>Pourcentage Qté/an</b></span>
                    <input type="text" name="percentage" value="" class="flux-percentage" />
                    <a href="#" class="flux-delete"><i class="icon-remove-sign"></i></a>
                </td>
            </tr>
        </table>

        <table class="part-table">
            <thead>
                <tr>
                    <th>Désignation pièce<br/>ou produit</th>
                    <th>Référence<br/>(facultatif)</th>
                    <th style="font-weight: bold; color: #0099CC;">Type de transport</th>
                    <th>Départ</th>
                    <th>Arrivée</th>
                    <th colspan="2" style="font-weight: bold; color: #0099CC;">Mode transport</th>
                    <th>Distance<br/>(Km)</th>
                    <th>Quantité<br/>par produit</th>
                    <th>Masse unitaire<br/>(g)</th>
                    <th>% en masse</th>
                    <th>Tonnage annuel</th>
                    <th>Tonnage<br/>(T.éq.CO<sub>2</sub>)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr class="flux-footer">
                    <td>
                        <button type="button" class="btn add-part"><i class="icon-plus"></i> Ajouter une pièce</button>
                    </td>
                    <td style="background-color: #eee;">&nbsp;</td>
                    <td style="background-color: #eee;">&nbsp;</td>
                    <td style="background-color: #eee;">&nbsp;</td>
                    <td style="background-color: #eee;">&nbsp;</td>
                    <td style="background-color: #eee;">&nbsp;</td>
                    <td style="background-color: #eee;">&nbsp;</td>
                    <td style="background-color: #eee;">&nbsp;</td>
                    <td style="background-color: #eee;">&nbsp;</td>
                    <td style="background-color: #eee;">&nbsp;</td>
                    <td align="center" name="fluxTotalPercentMass" class="fluxTotalPercentMass" style="background-color: #eee; font-weight: bold;"><br/>0</td>
                    <td align="center" name="fluxTotalTonnage" class="fluxTotalTonnage" style="background-color: #eee; font-weight: bold;"><br/>0</td>
                    <td align="center" name="fluxTotalImpactCO2" class="fluxTotalImpactCO2" style="background-color: #eee; font-weight: bold;"><br/>0</td>
                    <td style="background-color: #eee;">&nbsp;</td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <button type="button" class="btn btn-success add-flux"><i class="icon-plus"></i> Ajouter un flux</button>
        </div>     
    </div>
</div>