<div class="flux flux-template">
    <table class="flux-header">
        <tr>
            <td width="60"><span><i class="icon-exchange"></i> Flux</span></td>
            <td>
                <input type="hidden" class="flux-id"/>
                <input type="text" class="flux-name" name="name" />
                <label>(point de départ-point d'arrivée)</label>
            </td>
            <td align="right" width="220">
                <a href="#" class="flux-delete"><i class="icon-remove-sign"></i></a>
                <span style="font-size: 10pt;"><b>Pourcentage Qté/an</b></span>
                <input type="text" name="percentage" value="" class="flux-percentage"/>
            </td>
        </tr>
    </table>

    <table class="part-table">
        <thead>
            <tr>
                <th>Désignation pièce<br/>ou produit</th>
                <th>Référence<br/>(facultatif)</th>
                <th style="font-weight: bold; color: #0099CC;">Type de transport</th>
                <th>Départ</th>
                <th>Arrivée</th>
                <th colspan="2" style="font-weight: bold; color: #0099CC;">Mode transport</th>
                <th>Distance<br/>(Km)</th>
                <th>Quantité<br/>par produit</th>
                <th>Masse unitaire<br/>(g)</th>
                <th>% en masse</th>
                <th>Tonnage annuel</th>
                <th>Tonnage<br/>(T.éq.CO<sub>2</sub>)</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr class="flux-footer">
                <td style="width: 125px;">
                    <button type="button" class="btn add-part"><i class="icon-plus"></i> Ajouter une pièce</button>
                </td>
                <td style="background-color: #eee;">&nbsp;</td>
                <td style="background-color: #eee;">&nbsp;</td>
                <td style="background-color: #eee;">&nbsp;</td>
                <td style="background-color: #eee;">&nbsp;</td>
                <td style="background-color: #eee;">&nbsp;</td>
                <td style="background-color: #eee;">&nbsp;</td>
                <td style="background-color: #eee;">&nbsp;</td>
                <td style="background-color: #eee;">&nbsp;</td>
                <td style="background-color: #eee;">&nbsp;</td>
                <td align="center" name="fluxTotalPercentMass" class="fluxTotalPercentMass" style="background-color: #eee; font-weight: bold;"><br/>0</td>
                <td align="center" name="fluxTotalTonnage" class="fluxTotalTonnage" style="background-color: #eee; font-weight: bold;"><br/>0</td>
                <td align="center" name="fluxTotalImpactCO2" class="fluxTotalImpactCO2" style="background-color: #eee; font-weight: bold;"><br/>0</td>
                <td style="background-color: #eee;">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    <div class="row">
        <button type="button" class="btn btn-success add-flux"><i class="icon-plus"></i> Ajouter un flux</button>
    </div>      
</div>