<tr class="part part-template">
    <input type="hidden" name="id" value="" class="part-id" />

    <td><input type="text" name="name" style="width:126px;"/></td>
    <td><input type="text" name="reference" style="width: 114px;"/></td>
    <td>
        <select class="typeTransport" name="typeTransport" style="width: 80px;">
            <option value="" selected="selected">-Choisir-</option>
            <option value="M">Mondial</option>
            <option value="N">National</option>
            <option value="L">Local</option>
        </select>
    </td>
    <td>
        <select class="depart" name="depart" style="width: 200px; display:none;"></select>
        <input type="text" class="departL" name="departL" style="width: 200px; display:none;"/>    
    </td>
    <td>
        <select class="arrivee" name="arrivee" style="width: 200px; display: none;"></select>
        <input type="text" class="arriveeL" name="arriveeL" style="width: 200px; display:none;"/>    
    </td>
    <td class="logoTransport" name="logoTransport" style="width: 50px;">
    </td>
    <td>
        <select name="modeTransport" class="modes" style="width:70px;"></select>
    </td>
    <td align="center">
        <label name="distanceKnown" style="display:none; width:50px;" class="distanceKnown"></label>
        <input type="text" name="distanceUnknown" style="display:none; width:50px;" class="distanceUnknown"/>
    </td>
    <td align="center">
        <input type="text" name="quantityPerProduct" class="qtyPerproduct" style="width:50px;"/>
    </td>
    <td align="center">
        <input type="text" name="unitMass" class="unitMass" style="width:50px;"/>
    </td>
    <td align="center">
        <label name="percentTotalMass" class="percentMass"></label>
    </td>
    <td align="center">
        <label name="tonnage" class="tonnage"></label>
    </td>
    <td align="center">
        <label name="impact" class="impactCO2"></label>
    </td>

    <!-- actions -->
    <td><a href="#" class="delete"><i class="icon-remove-sign"></i></td>
</tr>