{% extends '::distrib_base.html.twig' %}

{% block side %}
    {% set section = "bilan" %}
    {% include 'ArtoDistribBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
   
<section class="main">
    <input type="hidden" class="nbScenarios" value="{{ scenariosCount }}" />
    <table class="bilan">
        <tr>
            <td colspan="3" align="left" style="padding-top: 40px; font-weight:bold; font-size: 18px; color:black;">Empreinte carbone et coûts logistiques</td>
            <td style="width:100px;">&nbsp;</td>
            <td align="center" style="padding-top: 60px;"><img src="/images/distrib/car1.jpg"</td>
            <td align="center"><img src="/images/distrib/tree.jpg"></td>
            <td align="center"><img src="/images/distrib/montgolfiere.jpg"></td>
        </tr>
        <tr>
            <td align="center" style="font-weight:bold; font-size: 14px; color:#018FBD;">Scénario<br>&nbsp; &nbsp; logistique N &nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td align="center" style="font-weight:bold; font-size: 14px; color:#018FBD;">Tonnes eq. CO<sub>2</sub><sup>*</sup> &nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td align="center" style="font-weight:bold; font-size: 14px; color:#018FBD;">Coûts<sup>**</sup> logistiques<br>(en k€)</td>
            <td>&nbsp;</td>
            <td align="center" style="font-weight: bold; font-size: 10px;">Nb de voitures <br> parcourant 1000 kms</td>
            <td align="center" style="font-weight: bold; font-size: 10px;">Nb d'arbres pour absorber<br>l'eq. en CO<sub>2</sub>/an</td>
            <td align="center" style="font-weight: bold; font-size: 10px;">Nb de montgolfieres<br>à volume eq. de 1,5 t CO<sub>2</sub></td>
        </tr>
        
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {% set differentielImpact = 0 %}
        {% for key,scenario in scenarios %}
            <tr class="{% if loop.index is not divisibleby(2) %}odd{% endif %}">
                <td align="center" style="font-size: 14px;">{{ scenario.label }}</td>
                <td align="center" style="font-weight: bold; font-size: 14px;">{{ (scenario.impactCO2)|number_format(2, ',', '') }}</td>
                <td align="center" style="font-weight: bold; font-size: 14px;">{{ (scenario.cost / 1000)|number_format(2, ',', '') }}</td>
                <td>&nbsp;</td>
                <td align="center" style="font-size: 14px;">{{ (scenario.impactCO2 / 0.05)|abs|number_format(0, ',', '')}}</td> 
                <td align="center" style="font-size: 14px;">{{ (scenario.impactCO2 * 36.7)|abs|number_format(0, ',', '')}}</td>
                <td align="center" style="font-size: 14px;">{{ (scenario.impactCO2 / 1.5)|abs|number_format(0, ',', '') }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <br>
        <label>* : Facteurs d'émission CO<sub>2</sub> du bilan Carbone<sup>&REG;</sup> de l'ADEME</label>
        <label>** : Hypothèses coûts transports sur l'année 2018</label>
        <br>
    </div>    
    <div>
        <img src="/images/distrib/graphEmissionsCO2-{{project.id}}.png" style="width:600px; height:300px;"/>
        <img src="/images/distrib/graphCoutsTransport-{{project.id}}.png" style="width:600px; height:300px;"/>  
    </div>
    <form action="{{ path('distrib_project_bilan_save', { 'project' : project.id }) }}" method="post" enctype="multipart/form-data">
        <fieldset>
            <h3>Commentaires</h3>
            <div class="row">
                <textarea name="commentaires" class="large" style="width: 400px; height: 200px; float:left;">{{ project.commentaires|raw }}</textarea> 
            </div>
            <div class="row">
                <input class="btn submit" type="submit" value="Valider" />
            </div>
        </fieldset>        
    </form>        
</section>

{% endblock %}