{% extends '::distrib_base.html.twig' %}

{% block side %}
    {% set section = "description" %}
    {% include 'ArtoDistribBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        $(".submit").live('click', function(event) {
            //event.preventDefault();
            var submit = $(this);
            var weight = submit.parent().parent().find(".weight").val();
            var pva = submit.parent().parent().find(".pva").val();
            if(weight == 0){
                alert("Vous n'avez pas entré de masse !");
                event.preventDefault();
            }else if(pva == 0){
                alert("Vous n'avez pas entré de PVA !");
                event.preventDefault();
            }else{
                
            }
        });
        
        $(".evalCarbone").live('click',function(event){
            //event.preventDefault();
            var submit = $(this);
            var weight = submit.parent().parent().parent().find(".weight").val();
            var pva = submit.parent().parent().parent().find(".pva").val();
            if(weight == 0){
                alert("Vous n'avez pas entré de masse !");
                event.preventDefault();
            }else if(pva == 0){
                alert("Vous n'avez pas entré de PVA !");
                event.preventDefault();
            }
        });
        
        $(".weight").live('change',function(event){
            event.preventDefault();
            var weight = $(this).val();
            var project = $('.project').val();
            
            console.log('Project ID : '.project);
            
            $.post("{{ path('distrib_recalculate_weight_parts') }}", { weight : weight, project : project }, function(data){
                $('#totalMass').text(data.totalMass + ' tonnes');
                if(data.totalMass < 1){
                    alert("La masse totale transportée doit impérativement être > 1 tonne !!");
                }
            }, 'json');
        });
        
        $(".pva").live('change',function(event){
            event.preventDefault();
            var pva = $(this).val();
            var project = $('.project').val();
            
            console.log('Project ID : '.project);
            
            $.post("{{ path('distrib_recalculate_pva_parts') }}", { pva : pva, project : project }, function(data){
                $('#totalMass').text(data.totalMass + ' tonnes');
                if(data.totalMass < 1){
                    alert("La masse totale transportée doit impérativement être > 1 tonne !!");
                }
            }, 'json');
        });
        
        $(".bilan").live('click',function(event){
            //event.preventDefault();
            var submit = $(this);
            var nbScenarios = submit.parent().parent().parent().find(".nbScenarios").val();
            if(nbScenarios == 0){
                alert("Impossible d'accéder au bilan, vous n'avez renseigné aucun scénario");
                event.preventDefault();
            }
        });
    });
</script>
<section class="main">
    <input type="hidden" class="project" value="{{ project.id }}"/>
    <input type="hidden" class="nbScenarios" value="{{ nbScenarios }}"/>
    <div class="form">
        <form action="{{ path('distrib_project_description_save', { 'project' : project.id }) }}" method="post" enctype="multipart/form-data">
            <fieldset>
            <h3>Pilote de l'etude</h3>
                <div class="row">
                    <label class="lbl">Analyse créée par</label>
                    <input type="text" name="pilote" value="{{ project.pilote }}" />
                </div>
                <div class="row">
                    <label class="lbl">date</label>
                    <input type="text" name="pilote_date" value="{{ project.piloteDate|date('d/m/Y') }}" class="date-pick" />
                </div>
            </fieldset>
            <fieldset>
                <h3>Ce recueil de données est nécessaire à l'étude de :</h3>
                <div class="row">
                    <label class="lbl">Type flux logistiques</label>
                    <select class="typeFlux" name="typeFlux" style="width:355px;">
                        <option value="">- Choisir -</option>
                        <option value="pieces" {% if project.typeFlux == "pieces" %}selected{% endif %}>Approvisionnement des matières ou pièces depuis les fournisseurs</option>
                        <option value="produitFini" {% if project.typeFlux == "produitFini" %}selected{% endif %}>Distribution de produit fini vers les clients</option>
                    </select>
                    <img src="/images/acv/distribution.jpg" style="height:130px;"/>
                </div>
                <div class="row">
                    <label class="lbl">Désignation du produit</label>
                    <input type="text" name="productName" value="{{ project.productName }}" class="medium" />
                </div>
                {% if project.path is not empty %}
                    <div class="row">
                        <label class="lbl">Image</label>
                        <img src="{{ ('uploads/distrib/' ~ project.path) | imagine_filter('thumb') }}" />
                    </div>
                {% endif %}
                <div class="row">
                    <label class="lbl">Image</label>
                    <input type="file" name="file" />
                </div>
                <div class="row">
                    <label class="lbl">Objectifs</label>
                    <textarea name="objectifs" class="large" style="width: 400px; height: 100px; float:left;">{{ project.objectifs|raw }}</textarea>
                </div>
                <div class="row">
                    <label class="lbl">Données logistiques</label>
                    <textarea name="donnéesLogistiques" class="large" style="width: 400px; height: 200px; float:left;">{{ project.donnéesLogistiques|raw }}</textarea> 
                </div>
                <div class="row">
                    <label class="lbl">Masse unitaire du produit (en g)</label>
                    <input type="text" name="weight" value="{{ project.weight}}" class="medium weight" />
                </div>
                <div class="row">
                    <label class="lbl">Quantité annuelle transportée</label>
                    <input type="text" name="pva" value="{{ project.pva|number_format(0, '.', ' ') }}" class="medium pva" />
                </div>
                <div class="row">
                    <label class="lbl">Masse totale transportée</label>
                    <label class="lbl" style="text-align: left; font-weight: bold;" id="totalMass">{{ project.totalMass }} tonnes</label>
                </div>
                <div class="row">
                    <label class="lbl"></label>
                    <input class="btn submit" type="submit" value="Valider" />
                </div>
            </fieldset>
        </form>
        
        <form method="post" action="{{ path('distrib_project_operation_save', { 'id': project.id }) }}">
            <fieldset>
                <h3>Gestion de projet</h3>
                <table>
                    <tr>
                        <th>date</th>
                        <th>Nature de modifications apportées</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="operation_date" class="date-pick" value="{{ project.piloteDate|date('d/m/Y') }}" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" value="Création" /></td>
                    </tr>
                    {% for ope in operations %}
                        <tr>
                            <td><input type="text" name="operation_date_{{ ope.id }}" value="{{ ope.dateAction|date('d/m/Y') }}" class="date-pick" style="width: 80px;" /></td>
                            <td><input type="text" name="operation_description_{{ ope.id }}" value="{{ ope.description }}"  class="large" /></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" style="font-size: 11px;">Ajouter une modification</td>
                    </tr>
                    <tr style="border-top: 1px solid #ccc;">
                        <td><input type="text" name="operation_date" class="date-pick" style="width: 80px;" /></td>
                        <td><input type="text" name="operation_description" class="large" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="btn btn-success" type="submit" value="Ajouter / Valider" /></td>
                    </tr>
                </table>
            </fieldset>
        </form>    
    </div>
</section>

{% endblock %}