{% if part == null %}
    <option value="" selected="selected">- Choisir -</option>
    {% if destinationsM != null %}
        {% for destinationM in destinationsM %}
            <option value="{{ destinationM.id }}">{{ destinationM.label }}</option>
        {% endfor %}
    {% elseif destinationsN != null %}
        {% for destinationN in destinationsN %}
            <option value="{{ destinationN.id }}">{{ destinationN.code }} - {{ destinationN.name }}</option>
        {% endfor %}    
    {% endif %}
{% else %}
    {% if destinationsM != null %}
        {% if part.distanceInter == null %}
           {% if part.distanceInterSaisie == null %}
                <option value="" selected="selected">- Choisir -</option>
                {% for destinationM in destinationsM %}
                     <option value="{{ destinationM.id }}">{{ destinationM.label }}</option>
                {% endfor %}
           {% else %}
                <option value="">-Choisir-</option>
                {% for destinationM in destinationsM %}
                    {% if part.distanceInterSaisie.arrival.id == destinationM.id %}
                        <option value="{{ destinationM.id }}" selected="selected">{{ destinationM.label }}</option>
                    {% else %}
                        <option value="{{ destinationM.id }}">{{ destinationM.label }}</option>
                    {% endif %}
                {% endfor %}
           {% endif %}          
        {% else %}
           <option value="">-Choisir-</option>
           {% for destinationM in destinationsM %}
                {% if part.distanceInter.arrival.id == destinationM.id %}
                    <option value="{{ destinationM.id }}" selected="selected">{{ destinationM.label }}</option>
                {% else %}
                    <option value="{{ destinationM.id }}">{{ destinationM.label }}</option>   
                {% endif %} 
           {% endfor %}
        {% endif %}  
    {% elseif destinationsN != null %}
        {% if part.distanceNational == null %}
           <option value="" selected="selected">- Choisir -</option>
           {% for destinationN in destinationsN %}
                <option value="{{ destinationN.id }}">{{ destinationN.code }} - {{ destinationN.name }}</option>
           {% endfor %}
        {% else %}
           <option value="">-Choisir-</option>
           {% for destinationN in destinationsN %}
                {% if part.distanceNational.arrival.id == destinationN.id %}
                    <option value="{{ destinationN.id }}" selected="selected">{{ destinationN.code }} - {{ destinationN.name }}</option>
                {% else %}
                    <option value="{{ destinationN.id }}">{{ destinationN.code }} - {{ destinationN.name }}</option> 
                {% endif %}    
           {% endfor %}
        {% endif %}  
    {% endif %} 
{% endif %}
       