{% extends '::distrib_base.html.twig' %}

{% block side %}
    {% set section = "eval" %}
    {% include 'ArtoDistribBundle:Default:_side.html.twig' %}
{% endblock %}

{% block body %}
<script>
    $(function(){
        var firstLoad = 'NOK';
        
        $( document ).ready(function() {
            firstLoad = 'OK';
        });
         
        $(".typeTransport").live('change', function(event) {
            event.preventDefault();
            console.log("typeTransport change !");
            console.log("firstLoad : "+firstLoad);
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            
            var typeTransport = $('.typeTransport[name="typeTransport'+partId+'"]').val();
                   
            //Remove selected from '-Choisir-' and give it to selected option
            $('.typeTransport[name="typeTransport'+partId+'"] option[value=""]').attr('selected',false);
            var selectedOption = $('.typeTransport[name="typeTransport'+partId+'"] option[value="'+typeTransport+'"]').attr('selected',true);
            
            var depart = line.find('.depart[name="depart'+partId+'"]');
            var arrivee = line.find('.arrivee[name="arrivee'+partId+'"]');
            var departLoad = line.find('.departLoad[name="departLoad'+partId+'"]');
            var arriveeLoad = line.find('.arriveeLoad[name="arriveeLoad'+partId+'"]');
            var departL = line.find('.departL[name="departL'+partId+'"]');
            var arriveeL = line.find('.arriveeL[name="arriveeL'+partId+'"]');
            var logo = line.find('.logoTransport[name="logoTransport'+partId+'"]');
            var modesTransport = line.find('.modes[name="modeTransport'+partId+'"]');
                     
            var distanceKnown = line.find('.distanceKnown[name="distanceKnown'+partId+'"]');
            var distanceUnknown = line.find('.distanceUnknown[name="distanceUnknown'+partId+'"]');
            
            if(distanceKnown.text() == 0){
                distanceKnown.hide();
            }
            
            if(distanceUnknown.val() == 0){
                distanceUnknown.hide();
            }
                     
            if(depart.css('display') == 'block'){
               depart.hide();
            }
            
            if(arrivee.css('display') == 'block'){
                arrivee.hide();
            }
            
            if(departL.css('display') == 'block'){
                departL.hide();
            }
            
            if(arriveeL.css('display') == 'block'){
                arriveeL.hide();
            }     
               
            logo.html('');
            logo.show();
            
            if(firstLoad == 'OK'){
                if(typeTransport == "M" || typeTransport == "N"){
                    $.post("{{ path('distrib_find_destinations_depart') }}", { typeTransport : typeTransport, partId : partId }, function(data) {   
                        depart.css({display: "block"});
                        depart.html(data);
                        depart.show();
                        departLoad.hide();
                    });

                    $.post("{{ path('distrib_find_destinations_arrivee') }}", { typeTransport : typeTransport, partId : partId }, function(data) {
                        arrivee.css({display: "block"});
                        arrivee.html(data);
                        arrivee.show();
                        arriveeLoad.hide();
                    });
                }else{
                    depart.hide();
                    arrivee.hide();
                    departL.css({display: "block"});
                    arriveeL.css({display: "block"});
                    departL.show();
                    arriveeL.show(); 
                }
                
                $.post("{{ path('distrib_modes') }}", { typeTransport : typeTransport, partId : partId }, function(data){
                    modesTransport.html(data);
                    modesTransport.show();
                });
               
            }
            
            $.post("{{ path('distrib_modes') }}", { typeTransport : typeTransport, partId : partId }, function(data){
                modesTransport.html(data);
                //modesTransport.show();
            });
              
            $.post("{{ path('distrib_logos') }}", { typeTransport : typeTransport, partId : partId }, function(data){
                logo.html(data);
                logo.show();
            });
            
        }).change();
        
        $(".typeTransportLoad").live('click', function(event) {
            event.preventDefault();
            var typeTransportLoad = $(this).val();
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            var typeTransport = $('.typeTransport[name="typeTransport'+partId+'"]');
            
            $(this).hide();
            typeTransport.show();
        });
        
        $(".modesLoad").live('click', function(event) {
            event.preventDefault();
            var modesLoad = $(this).val();
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            var modes = $('.modes[name="modeTransport'+partId+'"]');
            
            $(this).hide();
            modes.show();
        });
        
        $(".departLoad").live('click', function(event) {
            event.preventDefault();
            var departLoad = $(this).val();
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            var typeTransport = $('.typeTransport[name="typeTransport'+partId+'"]').val();
            
            $(this).hide();
            
            if(typeTransport == 'M' || typeTransport == 'N'){
                var realDepart = line.find('.depart[name="depart'+partId+'"]');
                $.post("{{ path('distrib_find_destinations_depart') }}", { typeTransport : typeTransport, partId : partId }, function(data) {   
                            realDepart.css({display: "block"});
                            realDepart.html(data);
                            realDepart.show();
                });

                var realArrivee = line.find('.arrivee[name="arrivee'+partId+'"]');
                $.post("{{ path('distrib_find_destinations_arrivee') }}", { typeTransport : typeTransport, partId : partId }, function(data) {
                            realArrivee.html(data);                    
                });
            }else{
                var realDepart = line.find('.departL[name="departL'+partId+'"]');
                var realArrivee = line.find('.arriveeL[name="arriveeL'+partId+'"]');
                realDepart.show();
            }
            
        });
        
        $(".arriveeLoad").live('click', function(event) {
            event.preventDefault();
            var arriveeLoad = $(this).val();
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            var typeTransport = $('.typeTransport[name="typeTransport'+partId+'"]').val();
            
            $(this).hide();
            
            if(typeTransport == 'M' || typeTransport == 'N'){
                var realArrivee = line.find('.arrivee[name="arrivee'+partId+'"]');
                $.post("{{ path('distrib_find_destinations_arrivee') }}", { typeTransport : typeTransport, partId : partId }, function(data) {
                            realArrivee.css({display: "block"});
                            realArrivee.html(data);
                            realArrivee.show();          
                });

                var realDepart = line.find('.depart[name="depart'+partId+'"]');
                $.post("{{ path('distrib_find_destinations_depart') }}", { typeTransport : typeTransport, partId : partId }, function(data) {   
                            realDepart.html(data);
                });
            }else{
                var realDepart = line.find('.departL[name="departL'+partId+'"]');
                var realArrivee = line.find('.arriveeL[name="arriveeL'+partId+'"]');
                realArrivee.show(); 
            }
        });
        
        $(".depart").live('change', function(event) {
            console.log("Depart change !");
            event.preventDefault();
            var depart = $(this).val();
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            
            //Remove selected from '-Choisir-' and give it to selected option
            $('.depart[name="depart'+partId+'"] option[value=""]').attr('selected',false);
            var selectedOption = $('.depart[name="depart'+partId+'"] option[value="'+depart+'"]').attr('selected',true);
            
            var typeTransport = line.find('.typeTransport[name="typeTransport'+partId+'"]').val();
            
            if(typeTransport != 'L'){
                $('.departLoad[name="departLoad'+partId+'"]').text(selectedOption.text());
            }
            //var arrivee = line.find('.arrivee[name="arrivee'+partId+'"]').val();   
            
            var logo = line.find('.logoTransport[name="logoTransport'+partId+'"]');
            logo.html('');
            
            var modeTransport = line.find('.modes[name="modeTransport'+partId+'"]');
            modeTransport.attr('value',"");
            
            var distanceKnown = line.find('.distanceKnown[name="distanceKnown'+partId+'"]');
            var distanceUnknown = line.find('.distanceUnknown[name="distanceUnknown'+partId+'"]');
            
            if(distanceKnown.css('display') == 'block'){
               distanceKnown.hide();
            }
            
            if(distanceUnknown.css('display') == 'block'){
                distanceUnknown.hide();
            }
            
            modeTransport.show();
            logo.show();
            
        });

        $(".arrivee").live('change', function(event) {
            event.preventDefault();
            var arrivee = $(this).val();
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            
            //Remove selected from '-Choisir-' and give it to selected option
            $('.arrivee[name="arrivee'+partId+'"] option[value=""]').attr('selected',false);
            var selectedOption = $('.arrivee[name="arrivee'+partId+'"] option[value="'+arrivee+'"]').attr('selected',true)
             
            var typeTransport = line.find('.typeTransport[name="typeTransport'+partId+'"]').val();
            
            if(typeTransport != 'L'){
                $('.arriveeLoad[name="arriveeLoad'+partId+'"]').text(selectedOption.text());
            }
            //var depart = line.find('.depart[name="depart'+partId+'"]').val();
                             
            var logo = line.find('.logoTransport[name="logoTransport'+partId+'"]');
            logo.html('');
            
            var modeTransport = line.find('.modes[name="modeTransport'+partId+'"]');
            modeTransport.attr('value',"");
            
            var distanceKnown = line.find('.distanceKnown[name="distanceKnown'+partId+'"]');
            var distanceUnknown = line.find('.distanceUnknown[name="distanceUnknown'+partId+'"]');
            
            if(distanceKnown.css('display') == 'block'){
               distanceKnown.hide();
            }
            
            if(distanceUnknown.css('display') == 'block'){
                distanceUnknown.hide();
            }
                     
            modeTransport.show();
            logo.show();
        });
        
        $(".nameLoad").live('click', function(event){
            console.log("nameLoad change !");
            event.preventDefault();
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            
            var name = $('.name[name="name'+partId+'"]'); 
            
            $(this).hide();
            name.show();
        });
        
        $(".referenceLoad").live('click', function(event){
            console.log("referenceLoad change !");
            event.preventDefault();
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            
            var reference = $('.reference[name="reference'+partId+'"]'); 
            
            $(this).hide();
            reference.show();
        });

        $(".modes").live('change', function(event) {
            console.log("Modes change !");
            event.preventDefault();
            
            var mode =  $(this);
            var modeValue = $(this).val();
            
            var line = $(this).closest("tr");
            var partId = line.find('.part-id').val();
            
            $('.modes[name="modeTransport'+partId+'"] option').attr('selected',false);
            
            //$('.modes[name="modeTransport'+partId+'"] option[value=""]').attr('selected',false);
            var selectedOption = $('.modes[name="modeTransport'+partId+'"] option[value="'+modeValue+'"]').attr('selected',true);
                     
            var logo = line.find('.logoTransport[name="logoTransport'+partId+'"]');
           
            if(modeValue == "air"){   
                 logo.html('<img src="/images/distrib/avion1.jpg" style="height:24px; width:46px;"/>');
            } else if(modeValue=="road"){
                 logo.html('<img src="/images/distrib/camion1.jpg" style="height:24px; width:46px;"/>');
            } else if(modeValue=="rail"){
                 logo.html('<img src="/images/distrib/train1.jpg" style="height:24px; width:46px;"/>');
            } else if(modeValue=="water"){
                 logo.html('<img src="/images/distrib/bateau1.jpg" style="height:24px; width:46px;"/>');
            } else if(modeValue=="car"){
                 logo.html('<img src="/images/distrib/car1.jpg" style="height:24px; width:46px;"/>');
            } else{
                 logo.html('');
            }
            
            logo.show();
            
            var distanceKnown = line.find('.distanceKnown[name="distanceKnown'+partId+'"]');
            var distanceUnknown = line.find('.distanceUnknown[name="distanceUnknown'+partId+'"]');
            var distanceKnownDisplay = distanceKnown.css('display');
            var distanceUnknownDisplay = distanceUnknown.css('display');
            
            var typeTransport = line.find('.typeTransport[name="typeTransport'+partId+'"]').val();
            var depart = line.find('.depart[name="depart'+partId+'"]').val();
            var arrivee = line.find('.arrivee[name="arrivee'+partId+'"]').val();
            var departLoad = line.find('.departLoad[name="departLoad'+partId+'"]').attr('id');
            var arriveeLoad = line.find('.arriveeLoad[name="arriveeLoad'+partId+'"]').attr('id');
            console.log("Modes live change : Depart : "+depart+" Arrivée : "+arrivee);
            console.log("Mode change BEFORE distanceUnknown 1");
                if(typeTransport != "L"){
                    $.post("{{ path('distrib_distance_known') }}", { depart: depart, arrivee : arrivee, typeTransport : typeTransport, modeTransport : modeValue}, function(data) {
                        if(data.connue == "no"){
                            distanceUnknown.css({display: "block"});
                            distanceKnown.css({display : "none"});
                            distanceUnknown.show();
                        }else{
                            distanceKnown.css({display: "block"});
                            distanceUnknown.css({display : "none"});
                            distanceKnown.html(data.distance);
                            distanceKnown.show();
                        }
                    }, 'json');
                }else{     
                    distanceUnknown.css({display: "block"});
                }
                
                console.log("Mode change AFTER distanceUnknown");
                
                var project = $(this).closest('.main').find('.project-id').val();
                var flux = $(this).closest('.flux').find('.flux-id').val();
                var scenario = $(this).closest('.flux').find('.scenario-id').val();
                
                var url = "{{path('distrib_part_save') }}?part="+partId+"&flux="+flux+"&project="+project+"&departLoad="+departLoad+"&arriveeLoad="+arriveeLoad;
                
                $.ajaxSetup({async: false});
                                
                $.post(url, function(data) {
                   if(data != null){
                        console.log("Modes change - Fonction save qui BUG !");
                        console.log("Depart : "+depart+" Arrivée : "+arrivee);
                        line.find('.part-id').val(data.id);

                        var percentMass = line.find('.percentMass[name="percentTotalMass'+partId+'"]');
                        percentMass.html(data.percentMass);

                        var tonnage = line.find('.tonnage[name="tonnage'+partId+'"]');
                        tonnage.html(data.tonnage);

                        var distanceSaisie = line.find('.distanceUnknown[name="distanceUnknown'+partId+'"]');
                        var distance = line.find('.distanceKnown[name="distanceKnown'+partId+'"]');

                        if(data.distanceSaisie != 0){
                            distanceSaisie.html(data.distanceSaisie);
                            distanceSaisie.show();
                        }else if(data.distance != 0){
                            distance.html(data.distance);
                            distance.show();
                        }

                        var impactCO2 = line.find('.impactCO2[name="impact'+partId+'"]');
                        impactCO2.html(data.impactCO2);

                        percentMass.show();
                        tonnage.show();
                        impactCO2.show();
                        
                            if(typeTransport == 'M' || typeTransport == 'N'){
                                var depart = $('.depart[name="depart'+partId+'"]');
                                var arrivee = $('.arrivee[name="arrivee'+partId+'"]');
                                var departDisplay = depart.css('display');
                                var arriveeDisplay = arrivee.css('display');

                                $('.depart[name="depart'+partId+'"] option[value=""]').attr('selected',false);
                                var selectedOption = $('.depart[name="depart'+partId+'"] option[value="'+data.depart+'"]').attr('selected',true);
                                
                                if(departDisplay == 'none'){
                                    depart.show();
                                    departLoad.hide();
                                }else{
                                    depart.hide();
                                    departLoad.show();
                                }

                                $('.arrivee[name="arrivee'+partId+'"] option[value=""]').attr('selected',false);
                                var selectedOption = $('.arrivee[name="arrivee'+partId+'"] option[value="'+data.arrivee+'"]').attr('selected',true);
                                
                                if(arriveeDisplay == 'none'){
                                    arrivee.show();
                                    arriveeLoad.hide();
                                }else{
                                    arrivee.hide();
                                    arriveeLoad.show();
                                } 
                            }else{
                                var departL = $('.departL[name="departL'+partId+'"]');
                                var arriveeL = $('.arriveeL[name="arriveeL'+partId+'"]');

                                departL.show();
                                arriveeL.show();
                            }

                        //Rename names
                        line.find('input[name="name"]').attr('name','name'+data.id);
                        line.find('input[name="reference"]').attr('name','reference'+data.id);
                        line.find('select[name="typeTransport"]').attr('name','typeTransport'+data.id);
                        line.find('select[name="depart"]').attr('name','depart'+data.id);
                        line.find('input[name="departL"]').attr('name','departL'+data.id);
                        line.find('select[name="arrivee"]').attr('name','arrivee'+data.id);
                        line.find('input[name="arriveeL"]').attr('name','arriveeL'+data.id);
                        line.find('td[name="logoTransport"]').attr('name','logoTransport'+data.id);
                        line.find('select[name="modeTransport"]').attr('name','modeTransport'+data.id);
                        line.find('label[name="distanceKnown"]').attr('name','distanceKnown'+data.id);
                        line.find('input[name="distanceUnknown"]').attr('name','distanceUnknown'+data.id);
                        line.find('input[name="quantityPerProduct"]').attr('name','quantityPerProduct'+data.id);
                        line.find('input[name="unitMass"]').attr('name','unitMass'+data.id);
                        line.find('label[name="percentTotalMass"]').attr('name','percentTotalMass'+data.id);
                        line.find('label[name="tonnage"]').attr('name','tonnage'+data.id);
                        line.find('label[name="impact"]').attr('name','impact'+data.id);
                    } 
                }, 'json');
                
                $.ajaxSetup({async: true});
                
                var urlRecalculateFlux = "{{path('distrib_flux_calculate_totals') }}?flux="+flux+"&project="+project;
                
                $.ajaxSetup({async: false});

                $.post(urlRecalculateFlux, $(":input").serializeArray(), function(data) {
                    var fluxTotalPercentMass = $('.fluxTotalPercentMass[name="fluxTotalPercentMass'+data.id+'"]');
                    var fluxTotalTonnage = $('.fluxTotalTonnage[name="fluxTotalTonnage'+data.id+'"]');
                    var fluxTotalImpactCO2 = $('.fluxTotalImpactCO2[name="fluxTotalImpactCO2'+data.id+'"]');

                    /*fluxTotalPercentMass.html('<br/>'+data.percentMass);
                    fluxTotalTonnage.html('<br/>'+data.tonnage);*/
                    fluxTotalImpactCO2.html('<br/>Total tonnage<br/>'+data.impactCO2);

                    /*fluxTotalPercentMass.show();
                    fluxTotalTonnage.show();*/
                    fluxTotalImpactCO2.show();
                }, 'json');
                
                $.ajaxSetup({async: true});
                        
                var urlRecalculateScenario = "{{path('distrib_scenario_calculate_totals') }}?project="+project;
                
                $.ajaxSetup({async: false});
                        
                $.post(urlRecalculateScenario, function(data){
                });
                
                $.ajaxSetup({async: true});
                
                var urlScenarioCalculateTotalMass = "{{path('distrib_scenario_calculateTotalMass') }}?id="+scenario;
                
                $.ajaxSetup({async: false});

                $.post(urlScenarioCalculateTotalMass, function(data) {
                    var scenarioTotalMass = $('.scenarioTotalMass[name="scenarioTotalMass' + data.id + '"]');
                    var scenarioWeightStatusLeft = $('.progress[name="scenarioWeightStatusLeft' + data.id + '"]');
                    var scenarioWeightPercentageLeft = $('.bar[name="scenarioWeightPercentageLeft'+ data.id + '"]');
                    var scenarioWeightPercentageLeftWritten = $('.written[name="scenarioWeightPercentageLeftWritten' + data.id + '"]');

                    scenarioTotalMass.html("Masse saisie : " + data.totalMass + " t sur {{ project.totalMass|number_format(2,',',' ') }} t");
                    scenarioWeightStatusLeft.removeClass("progress-"+ data.oldWeightStatusLeft);
                    scenarioWeightStatusLeft.addClass("progress-"+ data.newWeightStatusLeft);
                    scenarioWeightPercentageLeft.css({
                        width : data.newWeightPercentageLeft+"%"
                    });
                    scenarioWeightPercentageLeftWritten.html(data.newWeightPercentageLeft.toFixed(0)+"%");

                    scenarioTotalMass.show();
                    scenarioWeightStatusLeft.show();
                    scenarioWeightPercentageLeft.show();
                    scenarioWeightPercentageLeftWritten.show();
                }, 'json');
                
                $.ajaxSetup({async: true});
                
                return false;
        });
        
        $(".distanceUnknown").live('change',function(event) {
            event.preventDefault();
            var distanceUnknown = $(this);
            var distanceUnknownValue = $(this).val();
            distanceUnknown.attr('value',distanceUnknownValue);
        });

        $(".add-part").live('click', function(event) {
            event.preventDefault();
            
            var fluxId = $(this).closest('.flux').find('.flux-id').val();
            var fluxName = $(this).closest('.flux').find('.flux-name').val();
            var fluxPercentage = $(this).closest('.flux').find('.flux-percentage').val();
            
            if(fluxId == '' && fluxPercentage == '' ){
                alert("Vous n'avez pas entré de pourcentage pour le flux !");    
            }
            else if(fluxId == '' && fluxName == ''){
                alert("Vous n'avez pas entré de nom pour le flux !");
            }
            else{
                 //var parent = $(this).closest('.flux').find('.part-table');
                var parent = $(this).closest('.flux').find('.part-table > tbody:last');

                var part = $('.templates .part-template').clone(true);

                var depart = part.find('.depart');
                var arrivee = part.find('.arrivee');
                var departL = part.find('.departL');
                var arriveeL = part.find('.arriveeL');
                var typeTransportOptionDefault = part.find('.typeTransport option[value=""]');
                var typeTransportOptionMondial = part.find('.typeTransport option[value="M"]');
                var typeTransportOptionNational = part.find('.typeTransport option[value="N"]');
                var typeTransportOptionLocal = part.find('.typeTransport option[value="L"]');

                typeTransportOptionDefault.attr('selected','selected');
                typeTransportOptionMondial.removeAttr('selected');
                typeTransportOptionNational.removeAttr('selected');
                typeTransportOptionLocal.removeAttr('selected');

                depart.hide();
                arrivee.hide();
                departL.hide();
                arriveeL.hide();

                part.removeClass('part-template');
                part.appendTo(parent);
            }     
        });

         $(".add-flux").live('click', function(event) {
            event.preventDefault();

            var parent = $(this).closest('.scenario');

            var flux = $('.templates .flux-template').clone(true);
            
            flux.removeClass('flux-template');
            flux.appendTo(parent);
            $(this).remove();
        });

        $(".add-scenario").live('click', function(event) {
            event.preventDefault();

            var scenario = $('.templates .scenario-template').clone(true);
            scenario.removeClass('scenario-template');
            scenario.appendTo('.parts-container');
        });


        // Saving post methods

        var scenario_inputs = $('.scenario-header').find(':input');
        scenario_inputs.live('change', function(event) {
            var line = $(this).closest("tr");
            var inputs = line.find(':input');
            var id = line.find('.scenario-id').val();

            var url = "{{ path('distrib_scenario_save') }}?project={{ project.id }}&scenario="+id;

            $.post(url, inputs.serializeArray() , function(data) {
                line.find('.scenario-id').val(data);
                line.find('.scenarioTotalMass').attr('name','scenarioTotalMass'+data);
                line.find('div[name="scenarioWeightStatusLeft"').attr('name','scenarioWeightStatusLeft'+data);
                line.find('div[name="scenarioWeightPercentageLeft"').attr('name','scenarioWeightPercentageLeft'+data);
                line.find('div[name="scenarioWeightPercentageLeftWritten"').attr('name','scenarioWeightPercentageLeftWritten'+data);
            });
        });

        var flux_inputs = $('.flux-header').find(':input');
        flux_inputs.live('change', function(event) {
            var scenario = $(this).closest('.scenario').find('.scenario-id').val();
            var line = $(this).closest("tr");
            var inputs = line.find(':input');
            var id = line.find('.flux-id').val();
            
            var line2 = $(this).closest("div");
            var fluxFooter = line2.find(".flux-footer");

            var url = "{{ path('distrib_flux_save') }}?flux="+id+"&scenario="+scenario;

            $.post(url, inputs.serializeArray() , function(data) {
                if(data != null){
                    
                    line.find('.flux-id').val(data.id);
                    fluxFooter.find('td[name="fluxTotalPercentMass"]').attr('name','fluxTotalPercentMass'+data.id);
                    fluxFooter.find('td[name="fluxTotalTonnage"]').attr('name','fluxTotalTonnage'+data.id);
                    fluxFooter.find('td[name="fluxTotalImpactCO2"]').attr('name','fluxTotalImpactCO2'+data.id);
                }           
            }, 'json');
        });

        var part_inputs = $('.part-table').find(':input');
        part_inputs.live('change', function(event) {
            //En appuyant sur Entrée !
            //if(event.keyCode == 13){
                var inputClass = $(this).attr('class');
                var inputVal = $(this).val();
                console.log("Element input class : "+inputClass);
                console.log("Element input val : "+inputVal);
                var project = $(this).closest('.main').find('.project-id').val();
                var scenario = $(this).closest('.scenario').find('.scenario-id').val();
                var flux = $(this).closest('.flux').find('.flux-id').val();
                var line = $(this).closest("tr");
                var inputs = line.find(':input');
                var id = line.find('.part-id').val();
                var depart = line.find('.depart[name="depart'+id+'"]').val();
                var arrivee = line.find('.arrivee[name="arrivee'+id+'"]').val();
                var departLoad = line.find('.departLoad[name="departLoad'+id+'"]');
                var arriveeLoad = line.find('.arriveeLoad[name="arriveeLoad'+id+'"]');
                var departLoadId = departLoad.attr('id');
                var arriveeLoadId = arriveeLoad.attr('id');
                var name = line.find('.name[name="name'+id+'"]');
                var reference = line.find('.reference[name="reference'+id+'"]');
                var nameDisplay = name.css('display');
                var referenceDisplay = reference.css('display');
                var nameLoad = line.find('.nameLoad[name="nameLoad'+id+'"]');
                var referenceLoad = line.find('.referenceLoad[name="referenceLoad'+id+'"]');
                
                var typeTransport = $('.typeTransport[name="typeTransport'+id+'"]').val();

                var url = "{{path('distrib_part_save') }}?part="+id+"&flux="+flux+"&project="+project+"&departLoad="+departLoadId+"&arriveeLoad="+arriveeLoadId;
                
                $.ajaxSetup({async: false});
                
                console.log("Part inputs live change : Depart : "+depart+" Arrivée : "+arrivee);
                    $.post(url, inputs.serializeArray(), function(data) {
                        console.log("Part inputs live change : In the POST !");
                        if(data != null){
                            line.find('.part-id').val(data.id);

                            var percentMass = line.find('.percentMass[name="percentTotalMass'+id+'"]');
                            percentMass.html(data.percentMass);

                            var tonnage = line.find('.tonnage[name="tonnage'+id+'"]');
                            tonnage.html(data.tonnage);

                            var distanceSaisie = line.find('.distanceUnknown[name="distanceUnknown'+id+'"]');
                            var distance = line.find('.distanceKnown[name="distanceKnown'+id+'"]');

                            if(data.distanceSaisie != 0){
                                distanceSaisie.html(data.distanceSaisie);
                                distanceSaisie.show();
                                distance.hide();
                            }else if(data.distance != 0){
                                distance.html(data.distance);
                                distance.show();
                                distanceSaisie.hide();
                            }

                            var impactCO2 = line.find('.impactCO2[name="impact'+id+'"]');
                            impactCO2.html(data.impactCO2);

                            percentMass.show();
                            tonnage.show();
                            impactCO2.show();
                            
                            if(inputClass == 'name'){
                                if(nameDisplay == 'none'){
                                    name.show();
                                    nameLoad.hide();
                                }else{
                                    name.hide();
                                    nameLoad.text(inputVal);
                                    nameLoad.show();
                                }
                            }
                            
                            if(inputClass == 'reference'){
                                if(referenceDisplay == 'none'){
                                    reference.show();
                                    referenceLoad.hide();
                                }else{
                                    reference.hide();
                                    referenceLoad.text(inputVal);
                                    referenceLoad.show();
                                }
                            }
                            
                            
                            if(inputClass != 'modes'){
                                console.log("Class != modes");
                                if(inputClass != 'qtyPerproduct' && inputClass != 'unitMass'){
                                    console.log("Class != qtyPerproduct && class!= unitMass");
                                    if(typeTransport == 'M' || typeTransport == 'N'){
                                        var depart = $('.depart[name="depart'+id+'"]');
                                        var arrivee = $('.arrivee[name="arrivee'+id+'"]');
                                        var departLoad = $('.departLoad[name="departLoad'+id+'"]');
                                        var arriveeLoad = $('.arriveeLoad[name="arriveeLoad'+id+'"]');
                                        var departDisplay = depart.css('display');
                                        var arriveeDisplay = arrivee.css('display');

                                        $('.depart[name="depart'+id+'"] option[value=""]').attr('selected',false);
                                        var selectedOption = $('.depart[name="depart'+id+'"] option[value="'+data.depart+'"]').attr('selected',true);

                                        if(departDisplay == 'none'){
                                            depart.show();
                                            departLoad.hide();
                                        }else{
                                            depart.hide();
                                            departLoad.show();
                                        }

                                        $('.arrivee[name="arrivee'+id+'"] option[value=""]').attr('selected',false);
                                        var selectedOption = $('.arrivee[name="arrivee'+id+'"] option[value="'+data.arrivee+'"]').attr('selected',true);

                                        if(arriveeDisplay == 'none'){
                                            arrivee.show();
                                            arriveeLoad.hide();
                                        }else{
                                            arrivee.hide();
                                            arriveeLoad.show();
                                        } 
                                    }else{
                                        var departL = $('.departL[name="departL'+id+'"]');
                                        var arriveeL = $('.arriveeL[name="arriveeL'+id+'"]');
                                        var departLoad = $('.departLoad[name="departLoad'+id+'"]');
                                        var arriveeLoad = $('.arriveeLoad[name="arriveeLoad'+id+'"]');
                                        var departLDisplay = departL.css('display');
                                        var arriveeLDisplay = arriveeL.css('display')

                                        if(inputClass == 'departL'){
                                            if(departLDisplay == 'none'){
                                                departL.show();
                                                departLoad.hide();
                                            }else{
                                                departL.hide();
                                                departLoad.text(inputVal);
                                                departLoad.show();
                                            }
                                        }

                                        if(inputClass == 'arriveeL'){
                                            if(arriveeLDisplay == 'none'){
                                                arriveeL.show();
                                                arriveeLoad.hide();
                                            }else{
                                                arriveeL.hide();
                                                arriveeLoad.text(inputVal);
                                                arriveeLoad.show();
                                            }
                                        } 
                                    }
                                }
                            }
                            
                            console.log("Fin IF line 702");
                            
                            //Rename names
                            line.find('input[name="name"]').attr('name','name'+data.id);
                            line.find('input[name="reference"]').attr('name','reference'+data.id);
                            line.find('select[name="typeTransport"]').attr('name','typeTransport'+data.id);
                            line.find('select[name="depart"]').attr('name','depart'+data.id);
                            line.find('input[name="departL"]').attr('name','departL'+data.id);
                            line.find('select[name="arrivee"]').attr('name','arrivee'+data.id);
                            line.find('input[name="arriveeL"]').attr('name','arriveeL'+data.id);
                            line.find('td[name="logoTransport"]').attr('name','logoTransport'+data.id);
                            line.find('select[name="modeTransport"]').attr('name','modeTransport'+data.id);
                            line.find('label[name="distanceKnown"]').attr('name','distanceKnown'+data.id);
                            line.find('input[name="distanceUnknown"]').attr('name','distanceUnknown'+data.id);
                            line.find('input[name="quantityPerProduct"]').attr('name','quantityPerProduct'+data.id);
                            line.find('input[name="unitMass"]').attr('name','unitMass'+data.id);
                            line.find('label[name="percentTotalMass"]').attr('name','percentTotalMass'+data.id);
                            line.find('label[name="tonnage"]').attr('name','tonnage'+data.id);
                            line.find('label[name="impact"]').attr('name','impact'+data.id);
                        }
                    }, 'json');
                    
                $.ajaxSetup({async: true});    
                
                var urlRecalculateFlux = "{{path('distrib_flux_calculate_totals') }}?flux="+flux+"&project="+project;
                
                $.ajaxSetup({async: false});
                console.log("UrlRecalculateFlux : "+urlRecalculateFlux);
                $.post(urlRecalculateFlux, inputs.serializeArray(), function(data) {
                    console.log("Data - Tonnage : "+data.tonnage);
                    var fluxTotalImpactCO2 = $('.fluxTotalImpactCO2[name="fluxTotalImpactCO2' + data.id + '"]');
                    fluxTotalImpactCO2.html('<br/>Total tonnage<br/>' + data.impactCO2);

                    fluxTotalImpactCO2.show();
                }, 'json');
                
                $.ajaxSetup({async: true});

                var urlRecalculateScenario = "{{path('distrib_scenario_calculate_totals') }}?project=" + project;
                
                $.ajaxSetup({async: false});

                $.post(urlRecalculateScenario, function(data) {
                });
                
                $.ajaxSetup({async: true});

                var urlScenarioCalculateTotalMass = "{{path('distrib_scenario_calculateTotalMass') }}?id=" + scenario;
                
                $.ajaxSetup({async: false});

                $.post(urlScenarioCalculateTotalMass, function(data) {
                    var scenarioTotalMass = $('.scenarioTotalMass[name="scenarioTotalMass' + data.id + '"]');
                    var scenarioWeightStatusLeft = $('.progress[name="scenarioWeightStatusLeft' + data.id + '"]');
                    var scenarioWeightPercentageLeft = $('.bar[name="scenarioWeightPercentageLeft'+ data.id + '"]');
                    var scenarioWeightPercentageLeftWritten = $('.written[name="scenarioWeightPercentageLeftWritten' + data.id + '"]');

                    scenarioTotalMass.html("Masse saisie : " + data.totalMass + " t sur {{ project.totalMass|number_format(2,',',' ') }} t");
                    scenarioWeightStatusLeft.removeClass("progress-"+ data.oldWeightStatusLeft);
                    scenarioWeightStatusLeft.addClass("progress-"+ data.newWeightStatusLeft);
                    scenarioWeightPercentageLeft.css({
                        width : data.newWeightPercentageLeft+"%"
                    });
                    scenarioWeightPercentageLeftWritten.html(data.newWeightPercentageLeft.toFixed(0)+"%");

                    scenarioTotalMass.show();
                    scenarioWeightStatusLeft.show();
                    scenarioWeightPercentageLeft.show();
                    scenarioWeightPercentageLeftWritten.show();
                }, 'json');
                
                $.ajaxSetup({async: true});
        });
          
        $(".icon-remove-sign.part").live('click', function(event) {
            //event.preventDefault();
            var project = $('.project-id').val();
            var line = $(this).closest("tr");
            var id =  line.find('.part-id').val();
            var fluxId = $(this).closest('div').find('.flux-id').val();
            var urlDeletePart = "{{path('distrib_part_delete') }}?project="+project+"&id="+id+"#"+fluxId;
            $.post(urlDeletePart, function(data){
                $('.part-id[value="'+data.partId+'"]').parent().remove();
                var scenarioTotalMass = $('.scenarioTotalMass[name="scenarioTotalMass'+data.scenarioId+'"]');
                var fluxTotalMass = $('.fluxTotalMass[name="fluxTotalMass'+data.fluxId+'"]');
                var fluxTotalPercentMass = $('.fluxTotalPercentMass[name="fluxTotalPercentMass'+data.fluxId+'"]');
                var fluxTotalTonnage = $('.fluxTotalTonnage[name="fluxTotalTonnage'+data.fluxId+'"]');
                var fluxTotalImpactCO2 = $('.fluxTotalImpactCO2[name="fluxTotalImpactCO2'+data.fluxId+'"]');
                
                scenarioTotalMass.html(data.scenarioTotalMass);
                fluxTotalMass.html('<br/>'+data.fluxTotalMass);
                /*fluxTotalPercentMass.html('<br/>'+data.fluxPercentMass);
                fluxTotalTonnage.html('<br/>'+data.fluxTonnage);*/
                fluxTotalImpactCO2.html('<br/>Total tonnage<br/>'+data.fluxImpactCO2);
            }, 'json');          
        });
        
        $(".icon-remove-sign.flux").live('click', function(event) {
            //event.preventDefault();
            var project = $('.project-id').val();
            var line = $(this).closest("tr");
            var id =  line.find('.flux-id').val();
            var scenarioId = $(this).closest('div').parent().find('.scenario-id').val();
            var urlDeleteFlux = "{{path('distrib_flux_delete') }}?project="+project+"&id="+id+"#"+scenarioId;
            $.post(urlDeleteFlux, function(data){
                var scenarioTotalMass = $('.scenarioTotalMass[name="scenarioTotalMass'+data.scenarioId+'"]');
                scenarioTotalMass.html(data.scenarioTotalMass);
                $('.flux-id[value="'+data.fluxId+'"]').parent().parent().parent().parent().parent().remove();
            }, 'json');   
        });
        
        $(".icon-remove-sign.scenario").live('click', function(event) {
            var project = $('.project-id').val();
            var line = $(this).closest("tr");
            var id = line.find('.scenario-id').val();
            var urlDeleteScenario = "{{path('distrib_scenario_delete') }}?project="+project+"&id="+id;
            $.post(urlDeleteScenario, function(data){
                $('.scenario-id[value="'+data.scenarioId+'"]').parent().parent().parent().parent().parent().remove();
            }, 'json');  
        });
        
        $(".bilan").live('click',function(event){
            //event.preventDefault();
            var submit = $(this);
            var nbScenarios = submit.parent().parent().parent().find(".nbScenarios").val();
            if(nbScenarios == 0){
                alert("Impossible d'accéder au bilan, vous n'avez renseigné aucun scénario");
                event.preventDefault();
            }
        });
        
        $(".flux-percentage").on($.browser.msie ? 'propertychange cut paste dragend': 'input',function(event){
            event.preventDefault();
            
            var line = $(this).closest("tr");
            
            var line2 = $(this).closest("div");
            var fluxFooter = line2.find(".flux-footer");
            
            var scenario = $(this).closest('.scenario').find('.scenario-id').val();
            var fluxId = $(this).closest('.flux').find('.flux-id').val();
            
            var name = $(this).closest('.flux').find('.flux-name').val();
            
            var url = "{{ path('distrib_flux_save') }}?flux="+fluxId+"&scenario="+scenario+"&name="+name+"&percentage="+$(this).val();
            
             $.post(url, function(data) {
                if(data != null){
                    line.find('.flux-id').val(data.id);
                    fluxFooter.find('td[name="fluxTotalPercentMass"]').attr('name','fluxTotalPercentMass'+data.id);
                    fluxFooter.find('td[name="fluxTotalTonnage"]').attr('name','fluxTotalTonnage'+data.id);
                    fluxFooter.find('td[name="fluxTotalImpactCO2"]').attr('name','fluxTotalImpactCO2'+data.id);
                }           
            }, 'json');
            
        });
     });
</script>
<section class="main">
    <input type="hidden" class="project-id" value="{{ project.id }}"/>
    <input type="hidden" class="nbScenarios" value="{{ nbScenarios }}"/>
    <div class="parts-container">
        {% for scenario in scenarios %}
            <div class="scenario">
                <table class="scenario-header">
                    <tr>
                        <td width="60"><span><i class="icon-reorder"></i> Scenario</span></td>
                        <td>
                            <input type="hidden" class="scenario-id" value="{{ scenario.id }}"/>
                            <input type="text" name="name" value="{{ scenario.label }}" />
                        </td>
                        <td align="right">
                            <label style="font-size: 10pt; font-weight: bold;" name="scenarioTotalMass{{ scenario.id }}" class="scenarioTotalMass">
                                Masse saisie : {{ scenario.totalMass }} t sur {{ project.totalMass|number_format(2,',',' ')}} t
                            </label>
                        </td>
                        <td align="right" style="width: 1%;">
                            <div class="progress progress-{{ scenario.weightStatusLeft }} progress-striped"  name ="scenarioWeightStatusLeft{{ scenario.id }}" style="width: 200px;">
                                <div class="bar" style="width: {{ scenario.weightPercentageLeft }}%" name="scenarioWeightPercentageLeft{{ scenario.id}}">
                                    <div class="written" name="scenarioWeightPercentageLeftWritten{{scenario.id}}" style="padding-top: 5px;">{{ scenario.weightPercentageLeft|number_format }}%</div>
                                </div>
                            </div>
                        </td>
                        <td style="width : 1%; padding-left: 0px;">
                            <a href="#" class="scenario-delete"><i class="icon-remove-sign scenario"></i></a>
                        </td>
                    </tr>
                </table>

                {% for flux in scenario.fluxes %}
                    <div class="flux">
                        <table class="flux-header">
                            <tr>
                                <td width="60"><span><i class="icon-exchange"></i> Flux</span></td>
                                <td>
                                    <input type="hidden" class="flux-id" id="{{ flux.id }}" value="{{ flux.id }}"/>
                                    <input type="text" class="flux-name" name="name" value="{{ flux.label }}" />
                                    <label>(point de départ-point d'arrivée)</label>
                                </td>
                                <td align="right" width="220">
                                    <a href="#" class="flux-delete"><i class="icon-remove-sign flux"></i></a>
                                    <span style="font-size: 10pt;"><b>Pourcentage Qté/an</b></span>
                                    <input type="text" name="percentage" value="{{ flux.percentage }}%" class="flux-percentage" />
                                </td>
                            </tr>
                        </table>

                        <table class="part-table">
                            <thead>
                                <tr>
                                    <th>Désignation pièce<br/>ou produit</th>
                                    <th>Référence<br/>(facultatif)</th>
                                    <th style="font-weight: bold; color: #0099CC;">Type de transport</th>
                                    <th>Départ</th>
                                    <th>Arrivée</th>
                                    <th colspan="2" style="font-weight: bold; color: #0099CC;">Mode transport</th>
                                    <th>Distance<br/>(Km)</th>
                                    <th>Quantité<br/>par produit</th>
                                    <th>Masse unitaire<br/>(g)</th>
                                    <th>% en masse</th>
                                    <th>Tonnage annuel</th>
                                    <th>Tonnage<br/>(T.éq.CO<sub>2</sub>)</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for part in flux.parts %}
                                    {% include "ArtoDistribBundle:Default:_part.html.twig" %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="flux-footer">
                                    <td style="width: 125px;">
                                        <button type="button" class="btn add-part"><i class="icon-plus"></i> Ajouter une pièce</button>       
                                    </td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                    <td align="center" name="fluxTotalPercentMass{{ flux.id }}" class="fluxTotalPercentMass" style="background-color: #eee; font-weight: bold;"><br/>&nbsp;</td>
                                    <td align="center" name="fluxTotalTonnage{{ flux.id }}" class="fluxTotalTonnage" style="background-color: #eee; font-weight: bold;"><br/>&nbsp;</td>
                                    <td align="center" name="fluxTotalImpactCO2{{ flux.id }}" class="fluxTotalImpactCO2" style="background-color: #eee; font-weight: bold;"><br/>Total tonnage<br/>{{ flux.totalImpact }}</td>
                                    <td style="background-color: #eee;">&nbsp;</td>
                                </tr>
                           </tfoot>      
                        </table>
                    </div>
                {% endfor %}
            <div class="row">
                <button type="button" class="btn btn-success add-flux"><i class="icon-plus"></i> Ajouter un flux</button>
            </div>        
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <button type="button" class="btn btn-info add-scenario"><i class="icon-plus"></i> Ajouter un scenario</button>
    </div>

    <div class="templates">
        <table>
            {% include "ArtoDistribBundle:Default:_template_part.html.twig" %}
        </table>
        {% include "ArtoDistribBundle:Default:_template_flux.html.twig" %}
        {% include "ArtoDistribBundle:Default:_template_scenario.html.twig" %}
    </div>
    <br>
    <label style="color: red;"><b>A chaque fois que vous modifiez une valeur dans les champs Quantité par produit ou Masse unitaire ou si vous changez de page, pensez à appuyer sur Entrée afin que les calculs se remettent à jour !</b></label>
    <label><b>{% if project.typeFlux == "pieces"%}
                Dans le cas de transport d'approvisionnement de pièces, la quantité par produit de l'emballage (caisse, bôite, étiquette ...) est ramenée à 1 produit
              {% elseif project.typeFlux =="produitFini" %}
                Dans le cas de distribution de produit fini, la quantité par produit est toujours égale à 1
              {% endif %}</b></label>
    <label>Si vous recherchez une distance (entre 2 ports maritimes, 2 villes,...), vous pouvez utiliser ces liens :
        <br/> - <a href="http://www.sea-distances.com/" target="_blank">http://www.sea-distances.com/</a>
        <br/> - <a href="http://www.searates.com/reference/portdistance/" target="_blank">http://www.searates.com/reference/portdistance/</a>
        <br/> - <a href="http://bruno.herbet.chez-alice.fr/distance.html" target="_blank">http://bruno.herbet.chez-alice.fr/distance.html</a>
        <br/> - <a href="http://www.mappy.fr" target="_blank">http://www.mappy.fr</a>
    </label>
    <br/>
    <label><u>Note :</u> Les transports en Avion sur une distance de moins de 1000 kms et les transports en Train sur une distance de plus de 1000 kms ne sont pas pris en compte dans le calcul du coût du scénario</label>
</section>

{% endblock %}