{% extends '::distrib_base.html.twig' %}

{% set section = "generalites" %}
{% block body %}

<section class="main transverse">
    <div class="justifiedDiv">
        <h1>Evaluation du coût carbone des scénarios logistiques</h1>     
        
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; La solution web ArtoDistrib permet de calculer le coût carbone dû aux émissions CO<sub>2</sub> liées aux flux physiques de composants générés sur le territoire national, continental ou intercontinental. 
            
            <img src="/images/distrib/flux.jpg"/><br/>
            
            ArtoDistrib a pour objet de permettre aux entreprises et aux organismes de :
            <ul>
                <li>- faire l’inventaire des émissions et suivre l’évolution de cet inventaire</li>
                <li>- mesurer l’impact en termes de coûts des transports et d’émissions CO<sub>2</sub> d’un projet de changement de l’organisation d’une partie de leur demande ou de leur offre de transport</li>
                <li>- aider à minimiser l’impact écologique engendré par les activités de transport et entamer une transition durable vers une mobilité éco-responsable</li>
                <li>- simplifier les flux afin de diminuer les distances parcourues par les produits et composants de la chaîne des fournisseurs</li>
                <li>- regrouper les étapes de fabrication en un même lieu permettant de limiter les transports</li>
                <li>- diminuer le recours au fret aérien</li>
                <li>- hiérarchiser le poids des différents postes d'émissions CO<sub>2</sub> en fonction des activités et des lieux géographiques de commercialisation des produits (achats matières, consommation d'énergie des sites, flux logistiques,…)</li>
                <li>- ...</li>    
            </ul>
        </p>
        
        <h2>Qualités de l'application</h2>
        <p style="font-size: 105%; line-height: 18px;">
            <ul>
                <li>- simple d’utilisation, efficace et pédagogique</li>
                <li>- compare différents scénarios logistiques</li>
                <li>- aide à la décision et à la définition de la meilleure option de transport</li>
                <li>- teste l’influence du choix d’un scénario logistique ou d’un report modal en faveur d’offres peu polluantes</li>
                <li>- couvre les modes de transport : route, chemin de fer, aérien et maritime.</li>
            </ul>
        </p>
        
        <h2>Instructions d'utilisation</h2>
        <p style="font-size: 105%; line-height: 18px;">
            <ul>
                <li>1. Vous procurer la nomenclature du produit à fabriquer ou la liste des composants de la chaîne des fournisseurs</li>
                <li>2. Renseignez le nom du produit ou de la gamme pour lequel vous souhaitez faire le calcul du coût carbone</li>
                <li>3. Renseignez la nomenclature du produit ou la liste des composants pour une gamme</li>
                <li>4. Distinguez les modes de transport pour chaque composant</li>
                <li>5. Indiquez le pays (scénario logistique intercontinental) ou la ville de départ (scénario logistique national) et le pays ou la ville destinataire pour chaque composant. Dans le cas où le flux est divisé en tronçons avec différents types de transport (ex: bateau puis camion), remplir une ligne de flux pour l'acheminement du produit fini jusqu'à sa destination finale (ex: Paris pour Europe)</li>
                <li>6. Indiquez la quantité de composant par produit, et la masse unitaire du composant</li>
                <li>7. Le nombre annuel de pièces expédiées correspond à la PVA annuelle (Prévision de Vente Annuelle). Le tonnage annuel ainsi que la distance parcourue se calculent automatiquement à partir des données rentrées précédemment</li>
                <li>8. Au final, les tonnes CO<sub>2</sub> émises et les coûts générés par tous les trajets se calculent automatiquement.</li>
            </ul>
        </p>
        
        <h2>Participation à l’effet de serre</h2>
        <p style="font-size: 105%; line-height: 18px;">
            &nbsp; Il s'agit d'un effet naturel de la basse atmosphère qui contribue à retenir une partie de la chaleur solaire reçue sous forme de rayonnement à la surface de la Terre et à maintenir l'équilibre thermique de la planète. Sans ce phénomène naturel, la température de notre planète serait de moins de 18°C, soit 33°C de moins qu'aujourd'hui. Le problème vient du fait que ce mécanisme peut se dérégler sous l'effet de changements de concentrations de certains gaz dans l'atmosphère. Des études ont montré que la teneur en gaz à effet de serre a fortement augmenté depuis 1850 et serait principalement d'origine humaine. Parmi les gaz à effet de serre nous pouvons noter l'eau, le CO<sub>2</sub>, les CFC, l'ozone ou encore le CH<sub>4</sub> qui ont chacun un pouvoir de réchauffement bien distinct.
        </p>
        
        <h2>2 exemples d’application</h2>
        <p style="font-size: 105%; line-height: 18px;">
            <ul>
                <li><span style="color: blue; font-weight: bold;">Scénario 1</span> : des produits fabriqués près de Paris</li>
                <li><span style="color: orange; font-weight: bold;">Scénario 2</span> : des produits fabriqués près d'Ankara en Turquie</li>
            </ul>
        
            <img src="/images/distrib/exempleFlux2.jpg"/>
            <ul>
                <li><span>Le résultat démontre que pour obtenir une empreinte carbone et un coût logistique le plus faible, il vaut mieux que le lieu de production soit située à proximité des zones de commercialisation</span></li>
            </ul>
            
        </p>
        <br/>
        <p style="font-size: 105%; line-height: 18px;">
            <ul>
                <li><span style="color: blue; font-weight: bold;">Scénario 1</span> consiste à fabriquer 260 tonnes de pièces pour l’automobile depuis Taipeï en Taïwan conditionnées près de Paris pour la commercialisation au Mexique : <em>camion/porte-container/camion/camion/porte-container/camion</em></li>
                <li><span style="color: orange; font-weight: bold;">Scénario 2</span> consiste à fabriquer, conditionner et livrer directement le Mexique depuis Taipei en Taïwan : <em>train/porte-container /camion</em></li>
            </ul>
            
            <img src="/images/distrib/exempleFlux.jpg"/>
        </p>
   </div>       
</section>

{% endblock %}