{% if modeTransport == null %}
{% elseif modeTransport == "air" %}
    <img src="/images/distrib/avion1.jpg" style="height:24px; width:46px;"/>
{% elseif modeTransport == "road" %}
    <img src="/images/distrib/camion1.jpg" style="height:24px; width:46px;"/>
{% elseif modeTransport == "water" %}
    <img src="/images/distrib/bateau1.jpg" style="height:24px; width:46px;"/>   
{% elseif modeTransport == "rail" %}
    <img src="/images/distrib/train1.jpg" style="height:24px; width:46px;"/>
{% elseif modeTransport == "car" %}
    <img src="/images/distrib/car1.jpg" style="height:24px; width:46px;"/>
{% endif %}  
