<option value="" {% if modeTransport == null %}selected="selected"{% endif %}>-Choisir-</option>
{% if typeTransport == "M" %}
    <option value="air" {% if modeTransport == 'air' %}selected="selected"{% endif %}>Avion</option>
    <option value="water" {% if modeTransport == 'water' %}selected="selected"{% endif %}>Bateau</option>
    <option value="road" {% if modeTransport == 'road' %}selected="selected"{% endif %}>Route</option>
    <option value="rail" {% if modeTransport == 'rail' %}selected="selected"{% endif %}>Train</option>
{% elseif typeTransport == "N" %}
    <option value="road" {% if modeTransport == 'road' %}selected="selected"{% endif %}>Route</option>
    <option value="rail" {% if modeTransport == 'rail' %}selected="selected"{% endif %}>Train</option>
{% elseif typeTransport == "L" %}
    <option value="air" {% if modeTransport == 'air' %}selected="selected"{% endif %}>Avion</option>
    <option value="water" {% if modeTransport == 'water' %}selected="selected"{% endif %}>Bateau</option>
    <option value="road" {% if modeTransport == 'road' %}selected="selected"{% endif %}>Route</option>
    <option value="rail" {% if modeTransport == 'rail' %}selected="selected"{% endif %}>Train</option>
{% endif %}        
