Nouvelle demande de contact<br/><br/>

<strong>Sujet : </strong> {{ contact.subject }}<br/>
<strong>Prénom : </strong> {{ contact.firstname }}<br/>
<strong>Nom : </strong> {{ contact.lastname }}<br/>
<strong>Email : </strong> {{ contact.email }}<br/>
<strong>Télephone : </strong> {{ contact.tel }}<br/>
<strong>Société : </strong> {{ contact.company }}<br/>
<strong>Site web : </strong> {{ contact.website }}<br/>
<strong>Message : </strong> {{ contact.message }}<br/><br/>

<a href="http://www.artogreen.com/admin/arto/green/contact/{{ contact.id }}/edit">Voir le message en admin</a>