Bonjour {{ user.firstname }} {{ user.lastname }}<br/><br/>

Votre facture N°{{ order.ref }} a été validée, vous pouvez la télécharger grace au lien ci-dessous ou la retrouver dans votre compte client.<br/>
<a href="http://www.artogreen.com/invoice/{{ order.uniq }}">http://www.artogreen.com/invoice/{{ order.uniq }}</a><br/><br/>

Vous pouvez, dès à présent, utiliser vos logiciels en ligne en vous connectant à l'aide de votre compte utilisateur.<br/><br/>

<a href="http://www.artogreen.com/">Utiliser mes logiciels ArtoGREEN maintenant</a><br/><br/>
http://www.artogreen.com<br/>
Le service Client ArtoGREEN